#{extends 'layout_trader/layout.html' /}
#{set title:'查看商品' /}
#{include '/share/nav.html' /}
<div class="body">
    <form class="form-horizontal" name="frm" id="frm" method="post">
        <legend>${title}</legend>
        <div class="control-group">
            <label class="control-label">商品类型</label>

            <div class="controls">${goods?.categories?.name}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;牌</label>

            <div class="controls">${goods?.brand?.name}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">商品编号</label>

            <div class="controls">${goods?.no}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">商品名称</label>

            <div class="controls">${goods?.name}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">券有效期</label>

            <div class="controls">${goods?.effectiveAt?.format('yyyy-MM-dd HH:mm:ss')}
                至 ${goods?.expireAt?.format('yyyy-MM-dd HH:mm:ss')}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">原&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价</label>

            <div class="controls">${goods?.faceValue?.formatCurrency('CNY')}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">采&nbsp;&nbsp;&nbsp;购&nbsp;&nbsp;&nbsp;&nbsp;价</label>

            <div class="controls">${goods?.originalPrice?.formatCurrency('CNY')}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">库&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;存</label>

            <div class="controls">${goods?.getRealStocks()}件
            </div>
        </div>
      #{if goods?.useBeginTime != "" && goods?.useBeginTime != null}
       <div class="control-group">
            <label class="control-label">使用时间</label>

            <div class="controls">${goods?.useBeginTime}
                至 ${goods?.useEndTime}
            </div>
        </div>
      #{/if}   
       
        <div class="control-group">
            <label class="control-label">商品图片</label>

            <div class="controls">
                <img src="${goods?.imageLargePath}"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">温馨提示</label>

            <div class="controls">${goods?.prompt?.raw()}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">商品详情</label>

            <div class="controls">${goods?.details?.raw()}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">使用门店</label>

            <div class="controls">
                <table class="table table-striped table-bordered table-condensed">
                ${goods?.isAllShop.yesno("全部门店","")}
                #{list items:goods?.shops, as:'shop' }
                    <tr>
                        <td>${shop?.name}</td>
                        <td>${shop?.address}</td>
                        <td>${shop?.phone}</td>
                    </tr>
                #{/list}
                </table>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">商品状态</label>

            <div class="controls">&{'goods.'+goods.status}
            </div>
        </div>
        <div class="form-actions">
        #{if models.sales.GoodsStatus.OFFSALE.equals(goods.status)}<br/>
            #{vx.operateButton text:"申请上架",form:'frm', url:"/goods/"+goods.id+"/apply", method:"PUT",
            class:"btn btn-primary" /}#{/if}
        #{if models.sales.GoodsStatus.ONSALE.equals(goods.status)}<br/>
            #{vx.operateButton text:"下架",form:'frm', url:"/goods/"+goods.id+"/offSale", method:"PUT",
            class:"btn btn-primary" /}#{/if}
        #{if models.sales.GoodsStatus.APPLY.equals(goods.status)}<br/>
            #{vx.operateButton text:"撤销申请",form:'frm', url:"/goods/"+goods.id+"/cancelApply", method:"PUT",
            class:"btn btn-primary" /}#{/if}
        #{vx.cancelButton url:'/goods', class:'btn btn-primary'/}
        </div>
    </form>
</div>
