#{extends 'layout_operate/layout.html' /}
#{set title:'百度上传商品:'+ goods.shortName /}
#{include '/share/nav.html' /}
#{set 'moreStyles'}
    #{asset.css src:['/ztree/zTreeStyle.css'] /}
    <style type="text/css">
        ul.ztree{
            margin-top: 1px;
            border: 1px solid #ccc;
            background: #f5f5f5;
            overflow-y: scroll;
            overflow-x: auto;
        }
    </style>
#{/set}
<div class="body">
    <legend>百度上传商品：<a href="/goods/${goods.id}" target="_blank">
        ${goods.shortName}</a>
    </legend>

    <form class="form-horizontal" method="POST" action="/resaler-products/bd/upload">
        <div class="control-group">
            <label class="control-label">商品分类 *</label>
            <div class="controls">
                <input class="input" readonly id="prodType-show" value="请选择">
                <div id="prodType-treeFrame" class="menuContent" style="display:none; position: absolute;">
                    <ul id="prodType-tree" class="ztree" style="width:210px"></ul>
                </div>
                <input name="first_catalog" id="prodType-value" type="hidden">
                <input name="second_catalog" id="prodType-nodeChain" type="hidden">
                *{<input name="third_catalog" id="prodType-nodeChain" type="hidden">}*
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="grouponName">团购长标题名称 *</label>
            <div class="controls">
                <input type="text" id="grouponName" class="input-block-level" name="groupon_name" value="${goods.name}" data-max-length="512">
                <span class="help-block">不超过512个字符<span id="inputTeamTitle-monitor"></span></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="shortTitle">团购短名称 *</label>
            <div class="controls">
                <input type="text" id="shortTitle" name="short_title" class="input-xxlarge" value="${goods.shortName}" data-max-length="20">
                <span class="help-inline">不超过20个字符<span id="inputTitle-monitor"></span></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputProdImg">团购主图 *</label>
            <div class="controls">
                <input type="text" id="inputProdImg" name="groupon_main_image" class="input-xxlarge" value="${goods.getImageLargePath()}">
                <span class="btn" id="buttonProdImg" >选择图片</span>
                <span class="help-block">http开头，图片尺寸为680*425</span>
                <img src="${goods.imageOriginalPath}" alt="" id="imgProdImg">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="smsTitlee">短信标题 *</label>
            <div class="controls">
                <input type="text" id="smsTitle" name="SMS_title" class="input-xxlarge" value="${goods.title}" data-max-length="30">
                <span class="help-inline">不超过30个字符<span id="inputListShortTitle-monitor"></span></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">是否支持退款 *</label>
            <div class="controls">
                <input type="radio" name="refund_strategy" value="1" checked> 支持
                <input type="radio" name="refund_strategy" value="0"> 不支持
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="originalPrice">市场价 *</label>
            <div class="controls">
                <input type="text" id="originalPrice" name="origin_price" value="${new java.math.BigDecimal(100).multiply(goods.faceValue).format("#")}">
                <span class="help-inline">最多两位小数</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="grouponPrice">销售价 *</label>
            <div class="controls">
                <input type="text" id="grouponPrice" name="groupon_price" value="${new java.math.BigDecimal(100).multiply(goods.salePrice).format("#")}">
                <span class="help-inline">不能大于市场价,以分为单位</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">团购开始时间 *</label>
            <div class="controls">
                <input type="text" name="begin_time" onfocus="WdatePicker({readOnly:true, dateFmt:'yyyy-MM-dd HH:mm:ss'})"
                       class="Wdate" value="${goods.beginOnSaleAt?.format('yyyy-MM-dd HH:mm:ss')}">
                团购结束时间 *
                <input type="text" name="end_time" onfocus="WdatePicker({readOnly:true, dateFmt:'yyyy-MM-dd HH:mm:ss'})"
                       class="Wdate" value="${goods.endOnSaleAt?.format('yyyy-MM-dd HH:mm:ss')}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">券截止日期 *</label>
            <div class="controls">
                <input type="text" name="valid_time" onfocus="WdatePicker({readOnly:true, dateFmt:'yyyy-MM-dd HH:mm:ss'})"
                       class="Wdate" value="${goods.expireAt?.format('yyyy-MM-dd HH:mm:ss')}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="maxSale">商品总库存 *</label>
            <div class="controls">
                <input type="text" id="maxSale" name="max_sale" value="0">
                <span class="help-inline">必须大于等于0</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="userLimit">用户购买上限 *</label>
            <div class="controls">
                <input type="text" id="userLimit" name="user_limit" value="9999">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">团购详情</label>
            <div class="controls">
                <textarea rows="8" cols="100"  name="spinfo" id="spinfo" style="width:850px;height:550px;display:hidden;">
                    ${goods.exhibition.raw()}
                    <p style="BACKGROUND-COLOR: rgb(204,0,0); FONT-WEIGHT: bold">
                        <span style="font-family:SimSun;font-size:small;color:#ffffff;">温馨提示</span>
                    </p>
                    ${goods.prompt.raw()}
                    <p style="BACKGROUND-COLOR: rgb(204,0,0); FONT-WEIGHT: bold">
                        <span style="font-family:SimSun;font-size:small;color:#ffffff;">商品介绍</span>
                    </p>
                    ${goods.details.raw()}
                    <p style="BACKGROUND-COLOR: rgb(204,0,0); FONT-WEIGHT: bold">
                        <span style="font-family:SimSun;font-size:small;color:#ffffff;">商户介绍</span>
                    </p>
                    ${goods.supplierDes.raw()}
                </textarea>
            </div>
        </div>

        %{shopIds=[]}%
        #{list items:shopList, as:'shop'}
        #{if shop.deleted != com.uhuila.common.constants.DeletedStatus.DELETED}
            %{shopIds.add(shop.id)}%
        *{<input type="hidden" name="partnerId_${shop.id}" value="${shop?.id}">}*
        <div class="control-group">
            <label class="control-label">门店${shop_index}</label>
            <div class="controls">
                <table>
                    <tr>
                        <td>省份 *</td>
                        <td><input type="text" name="province_name_${shop.id}" value="上海" class="input-xlarge"></td>
                        <td>城市 *</td>
                        <td><input type="text" name="city_name_${shop.id}" value="上海" class="input-xlarge"></td>
                    </tr>
                    <tr>
                        <td>行政区 *</td>
                        <td><input type="text" name="area_name_${shop.id}" value="上海 徐汇区" class="input-xlarge"></td>
                        <td>营业时间 *</td>
                        <td><input type="text" name="open_time_${shop.id}" value="${supplier?.shopEndHour} " class="input-xlarge"></td>
                    </tr>
                    <tr>
                        <td>商家名称 *</td>
                        <td><input type="text" name="name_${shop.id}" value="${supplier.otherName} ${shop.name}" class="input-xlarge"></td>
                        <td>电话 *</td>
                        <td><input type="text" name="telephone_${shop.id}" value="${shop.phone}" class="input-xlarge"></td>
                    </tr>
                    <tr>
                        <td>交通信息 *</td>
                        <td><input type="text" name="traffic_info_${shop.id}" class="input-xlarge"></td>
                    </tr>
                    <tr>
                        <td>地图经度</td>
                        <td><input type="text" name="lng_${shop.id}" value="${shop.longitude}" class="input-xlarge"></td>
                        <td>地图纬度</td>
                        <td><input type="text" name="lat_${shop.id}" value="${shop.latitude}" class="input-xlarge"></td>
                    </tr>
                    <tr>
                        <td>地图服务商</td>
                        <td>
                            Baidu <input type="radio" name="map_type_${shop.id}" value="0"checked>
                            Google <input type="radio" name="map_type_${shop.id}" value="1"  >
                            soso<input type="radio" name="map_type_${shop.id}" value="2">
                            mapabc<input type="radio" name="map_type_${shop.id}" value="3">
                            高德<input type="radio" name="map_type_${shop.id}" value="4">
                            51地图<input type="radio" name="map_type_${shop.id}" value="5">
                            Mapbar<input type="radio" name="map_type_${shop.id}" value="6">
                            必应<input type="radio" name="map_type_${shop.id}" value="7">
                        </td>
                    </tr>
                    <tr>
                        <td>商家地址</td>
                        <td colspan="3"><input type="text" name="address_${shop.id}" value="${shop.address}" class="input-xxlarge"></td>
                    </tr>
                    <tr>
                        <td>商圈 *</td>
                        <td colspan="3">
                            <input class="input" readonly id="circleId_${shop.id}-show" value="${shop.areaName}">
                            <span>（一百券商圈：${shop.getAreaName()}。如果是红色，表明未自动匹配成功，请手动选择）</span>
                            <div id="circleId_${shop.id}-treeFrame" style="display:none; position: absolute;">
                                <ul id="circleId_${shop.id}-tree" class="ztree" style="width:210px"></ul>
                            </div>
                            <input name="shop_range_${shop.id}" id="circleId_${shop.id}-value" type="hidden">
                            *{<input name="circleIdChain_${shop.id}" id="circleId_${shop.id}-nodeChain" type="hidden">}*
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        #{/if}
        #{/list}
        <input type="hidden" value="${shopIds.join(',')}" name="shopIds">


        <div class="form-actions">
            <input type="hidden" name="goodsId" value="${goods.id}" >
            <button type="submit" id="submit" class="btn btn-primary">发布</button>
        </div>
    </form>
</div>

#{set 'moreScripts'}
<script src="@{'/public/javascripts2/kindeditor-min.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/lang/zh_CN.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/jquery.migrate.js'}" type="text/javascript"
        charset="UTF-8"></script>
#{asset.js src:['/ztree/jquery.ztree.all-3.5.min.js'] /}
<script src="@{'/public/javascripts/ztree-helper.js'}" type="text/javascript" charset="UTF-8"></script>
<script>
    var subCategoryData = ${allCategoriesJson.raw()};
    var subCityData = ${allCityJson.raw()};
</script>
<script src="@@{'/public/javascripts/baidu-products.js'}"></script>
#{/set}
