#{extends 'layout_operate/layout.html' /}
#{include 'share/nav.html' /}
#{set title:'电子消费券' /}

<script type="text/javascript" xmlns="http://www.w3.org/1999/html" src="/public/javascripts/view-couponsn.js"></script>
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>


<script type="text/javascript">


    $(function () {
        $("#isLottery").click(function () {
            if (this.checked) {
                this.value = true;
            } else {
                this.value = false;
            }
            $("#frmlist").submit();
        });
        $("#search").click(function () {
            formSubmit();
        });

    });

    function couponExcel() {
        $("#frmlist").attr("action", "@{OperateCoupons.couponExcelOut()}");
        $("#frmlist").attr("method", "get");
        $("#frmlist").submit();
        return false;
    }
    function changeList(status) {
        $("#condition_status").val(status);
        formSubmit();
    }

    function formSubmit() {
        $("#frmlist").attr("method", "get");
        $("#frmlist").attr("action", "@{OperateCoupons.index()}");
        $("#frmlist").submit();
    }


</script>

<form class="well form-inline" name="frmlist" id="frmlist" method="GET">
    <legend>${title}</legend>
#{set action:"index"/}
    <input type="hidden" name="condition.userName" value="${condition?.userName}">

    <div class="control-group">

        关键字：
    #{select 'condition.searchKey', class:'input-medium', value:condition?.searchKey}
        #{option ""}不限#{/option}
        #{option "GOODS_NAME"}&{'queryType.GOODS_NAME'}#{/option}
        #{option "ORDER_NUMBER"}&{'queryType.ORDER_NUMBER'}#{/option}
        #{option "CLERK_JOB_NUMBER"}&{'queryType.CLERK_JOB_NUMBER'}#{/option}
        #{option "SHOP_NAME"}&{'queryType.SHOP_NAME'}#{/option}
        #{option "MOBILE"}&{'queryType.MOBILE'}#{/option}
        #{option "COUPON"}&{'queryType.COUPON'}#{/option}
        #{option "UID"}&{'queryType.UID'}#{/option}
    #{/select}
        <input type="text" name="condition.searchItems" value="${condition?.searchItems}"
               class="input-medium"/>

        &nbsp;&nbsp;品牌：
    #{layout_operate.selectInputField name:"brandName", id:"condition.brandId", class:"input-medium",
    list:brandList/}

        &nbsp;&nbsp;验证方式：
    #{select 'condition.verifyType', id:'condition_verifyType', class:'input-medium', value:condition?.verifyType}
        #{option ""}不限#{/option}
        #{option "CLERK_MESSAGE"}&{'coupon.CLERK_MESSAGE'}#{/option}
        #{option "CONSUMER_MESSAGE"}&{'coupon.CONSUMER_MESSAGE'}#{/option}
        #{option "SHOP"}&{'coupon.SHOP'}#{/option}
        #{option "TELEPHONE"}&{'coupon.TELEPHONE'}#{/option}
        #{option "OP_VERIFY"}&{'coupon.OP_VERIFY'}#{/option}
    #{/select}

    </div>

    <div class="control-group">
        付款时间：
        <div class="input-append date bs-datepicker" data-date-format="yyyy-mm-dd">
            <input class="input-small" id="condition_paid_begin" name="condition.paidAtBegin" size="16" type="text"
                   value="${condition.paidAtBegin?.format()}">
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
        至
        <div class="input-append date bs-datepicker" data-date-format="yyyy-mm-dd">
            <input class="input-small" id="condition_paid_end" name="condition.paidAtEnd" size="16" type="text"
                   value="${condition.paidAtEnd?.format()}">
            <span class="add-on"><i class="icon-th"></i></span>
        </div>

        &nbsp;&nbsp;状态：
    #{select 'condition.status', id:'condition_status', class:'input-small', value:condition?.status}
        #{option ""}不限#{/option}
        #{option "UNCONSUMED"}&{'coupon.UNCONSUMED'}#{/option}
        #{option "CONSUMED"}&{'coupon.CONSUMED'}#{/option}
        #{option "REFUND"}&{'coupon.REFUND'}#{/option}
    #{/select}

        订单来源：
    #{select 'condition.accountType', class:'input-small', value:condition.accountType}
        #{option ""}不限#{/option}
        #{option "CONSUMER"}&{'order.CONSUMER'}#{/option}
        #{option "RESALER"}&{'order.RESALER'}#{/option}
    #{/select}

        &nbsp;&nbsp;
        <input type="checkbox" name="condition.isLottery" id="isLottery"
               class="input-medium"
               value="true" ${condition?.isLottery ?'checked':''}/>
        <label for="isLottery">抽奖商品</label>
        &nbsp;&nbsp;
        <input type="checkbox" name="condition.isOrder" id="isOrder"
               value="true" ${condition?.isOrder ?'checked':''}/>
        <label for="isOrder">需预约商品</label>
    </div>


    <div class="control-group">
        消费时间：
        <div class="input-append date bs-datepicker" data-date-format="yyyy-mm-dd">
            <input class="input-small" id="condition_consumed_begin" name="condition.consumedAtBegin" size="16"
                   type="text"
                   value="${condition.consumedAtBegin?.format()}">
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
        至
        <div class="input-append date bs-datepicker" data-date-format="yyyy-mm-dd">
            <input class="input-small" id="condition_consumed_end" name="condition.consumedAtEnd" size="16" type="text"
                   value="${condition.consumedAtEnd?.format()}">
            <span class="add-on"><i class="icon-th"></i></span>
        </div>

        &nbsp;&nbsp;退款时间：
        <div class="input-append date bs-datepicker" data-date-format="yyyy-mm-dd">
            <input class="input-small" id="condition_refund_begin" name="condition.refundAtBegin" size="16" type="text"
                   value="${condition.refundAtBegin?.format()}">
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
        至
        <div class="input-append date bs-datepicker" data-date-format="yyyy-mm-dd">
            <input class="input-small" id="condition_refund_end" name="condition.refundAtEnd" size="16" type="text"
                   value="${condition.refundAtEnd?.format()}">
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
        &nbsp;&nbsp;

        <button class="btn btn-large btn-primary" id="search" type="submit">搜索</button>
        <div class="pull-right">
            <button class="btn btn-info" id="searchbtn" onclick="couponExcel()">导出报表</button>
        </div>
    </div>

</form>
<div style="color:#0082CA;padding-bottom: 15px"> 总计：${couponPage.size()}
    条记录&nbsp;&nbsp;&nbsp;总金额：${amountSummary?.formatCurrency('CNY')}</div>
#{vx.other_tab name:'coupon',enumItems: models.order.ECouponStatus.values(),select:'condition_status',value:condition?.status/}

<table class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>

        <th width="10px">订单号</th>
        <th width="8px">手机</th>
        <th width="8px">券号</th>
        <th width="90px">商品名称</th>
        <th width="30px">单价</th>
        <th width="50px">消费门店</th>
        <th width="30px">有效期</th>
        <th width="50px">付款时间</th>
        <th width="50px">消费时间</th>
        <th width="30px">店员</th>
        <th width="60px">代理验证员</th>
        <th width="40px">验证方式</th>
        <th width="50px">退款时间</th>
        <th width="50px">退款金额</th>
        <th width="20px">状态</th>
        <th width="50px">操作</th>
    </tr>
    </thead>

    <tbody>
    #{paginate.list items:couponPage, as:'coupon' }
    <tr>
    %{ outerOrder = models.order.OuterOrder.getOuterOrder(coupon.order) }%

        <td>
            <a href="@{OperateOrders.details(coupon?.order?.id)}">${coupon?.order?.orderNumber}</a>#{if outerOrder != null}
            <br>外:${outerOrder.orderId}
        #{/if}</td>
        <td#{if coupon?.smsSentCount == 0} class="error"#{/if}>
            #{if hasViewEcouponSnPermission}
            ${coupon?.orderItems?.phone}
            #{/if}
            #{else}
            ${coupon?.orderItems?.getMaskedPhone()}
            #{/else}
            <i class="icon-envelope"></i>${coupon?.smsSentCount}
        </td>
        <td>
            #{if hasViewEcouponSnPermission}
                <a id="view_ecoupon" href="#" role="button" class="btn" data-toggle="modal"
                   onClick="viewECoupon(${coupon.id})" title="查看完整券号">
                ${coupon?.getMaskedEcouponSn()}
                    *{${coupon?.eCouponSn}}*
                </a>
            #{/if}
            #{else}
            ${n}${coupon?.getMaskedEcouponSn()}
            #{/else}

        </td>

    *{<td>${coupon?.eCouponSn}</td>}*
        <td>
            <a href="http://${play.Play.configuration.getProperty("www.url")}/p/${coupon?.goods?.id}?preview=true"
               target="_blank">
            ${coupon?.goods?.shortName}
            </a>
        </td>
        <td>${coupon?.salePrice?.formatCurrency('CNY')}</td>
        <td>${coupon?.getConsumedShop()}</td>
        <td>${coupon?.effectiveAt ?.format()} /
        ${coupon?.expireAt?.format()}</td>
        <td>${coupon?.order?.paidAt?.format("yyyy-MM-dd HH:mm:ss")}</td>
        <td>${coupon?.consumedAt?.format("yyyy-MM-dd HH:mm:ss")}</td>
        <td>#{if coupon?.supplierUser?.userName!=null}${coupon?.supplierUser?.userName}#{/if}
            #{if coupon?.supplierUser?.jobNumber!=null}(工号: ${coupon?.supplierUser?.jobNumber})#{/if}</td>
        <td>${coupon?.operateUserName}</td>
        <td>&{'coupon.'+coupon?.verifyType}</td>
        <td>${coupon?.refundAt?.format("yyyy-MM-dd HH:mm:ss")}</td>
        <td>${coupon?.refundPrice}</td>
        <td>&{'coupon.'+coupon?.status}</td>
        <td>
            #{include '/OperateCoupons/operateLink.html'/}
        </td>
    </tr>

    #{/paginate.list}
    </tbody>
</table>
#{if couponPage.pageCount > 1}
<div class="pagination" align="center">
    <ul>
        #{paginate.controls items:couponPage /}
    </ul>
</div>
#{/if}




