#{extends 'layout_operate/layout.html' /}
#{include 'share/nav.html' /}
#{set title:'券预约' /}
#{set 'moreScripts'}
    <script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}


<div class="body">
    #{if success}
        <legend>预约成功：${coupon.goods.shortName}</legend>
        <p>
            <span style="font-weight:bold">时间：</span>
            ${coupon.appointmentDate.format()}
        </p>
        <p>
            <span style="font-weight:bold">备注：</span>
            ${coupon.appointmentRemark}
        </p>
        <p>
            <a href="/coupons?condition.status=UNCONSUMED&condition.isOrder=true" class="btn btn-large btn-primary">继续预约</a>
        </p>
    #{/if}
    #{else}
        #{if err}
            <legend>${err}</legend>
        #{/if}
        #{else}
            <legend>券预约：${coupon.goods.shortName}</legend>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th width="10px">订单号</th>
                    <th width="10px">券号</th>
                    <th width="8px">手机</th>
                    <th width="90px">商品名称</th>
                    <th width="30px">单价</th>
                    <th width="30px">有效期</th>
                    <th width="50px">付款时间</th>
                    <th width="30px">状态</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="@{OperateOrders.details(coupon?.order?.id)}">${coupon?.order?.orderNumber}</a></abbr></td>
                    <td>  ${n}${coupon?.getMaskedEcouponSn()}</td>
                    <td>${coupon?.orderItems?.phone}</td>
                    <td>
                        <a href="http://${play.Play.configuration.getProperty("www.url")}/p/${coupon?.goods?.id}?preview=true"
                           target="_blank">
                        ${coupon?.goods?.shortName}
                        </a>
                    </td>
                    <td>${coupon?.salePrice?.formatCurrency('CNY')}</td>
                    <td>${coupon?.effectiveAt ?.format()} /
                    ${coupon?.expireAt?.format()}</td>
                    <td>${coupon?.order?.paidAt?.format("yyyy-MM-dd HH:mm:ss")}</td>
                    <td>&{'coupon.'+coupon?.status}</td>
                </tr>
                </tbody>
            </table>

            <form class="form-horizontal" method="post" action="/coupon-appointment">
                <div class="control-group">
                    <label class="control-label" for="inputDate" >日期</label>
                    <div class="controls">
                        <input type="text" id="inputDate" name="date" class="input-medium Wdate" onfocus="WdatePicker({readOnly:true})" value="${coupon.appointmentDate?.format()}">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputRemark">备注</label>
                    <div class="controls">
                        <input type="text" id="inputRemark" name="remark" value="${coupon.appointmentRemark}">
                        <p class="help-block">备注信息将发送此客户手机上</p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="hidden" name="couponId" value="${coupon.id}">
                        <button type="submit" class="btn btn-primary">预约</button>
                    </div>
                </div>
            </form>
        #{/else}
    #{/else}
</div>