#{extends 'main2.html' /}
#{set title:'一百券 - 支付结果' /}
#{set 'moreStyles'}
    #{asset.css src:['/cart/121221/flowstep.css', '/cart/121109/payok.css', '/cart/121109/viewcart.css'] /}
#{/set}


<div id="content">
    <ul class="flowstep step4">
        <li class="done"><a href="/carts">1. 查看购物车</a></li>
        <li class="done"><a href="">2. 确认订单信息</a></li>
        <li class="done">3. 确认付款</li>
        <li class="done">4. 成功提交订单</li>
    </ul>

    %{baseDomain = play.Play.configuration.getProperty("application.baseDomain")}%
    #{if !errorMessage}
    <div class="payok">
        <div class="pay-ok">恭喜您付款成功！</div>
        <div class="pay-btn">
            <a class="vieworder" href="http://home.${baseDomain}/orders/${orderNumber}">查看订单详情<b></b></a>
            <a class="goshop" href="http://www.${baseDomain}">继续购物<b></b></a>
        </div>
        <div class="note"><i>注</i>：您还可以在 “ <a href="http://home.${baseDomain}" target="_blank">我的一百券</a> >
            <a href="http://home.${baseDomain}" target="_blank">我购买的商品</a> >
            <a href="http://home.${baseDomain}/orders/${orderNumber}" target="_blank">订单详情</a>”查看商品券号或配送详情，凭短信的券号到取货门店直接取货。电子券商品，只要您末进行消费，且保持一百券订单有效，我们将提供随时退款的服务。我们的客服电话：400-686-5151  我们的客服邮件是：uhuila@seewi.com.cn
        </div>
    </div>
    #{/if}
    #{else}
    <div class="payok">
        <div class="note" style="padding:70px 20px;font-size:22px;text-align:center">暂时未能读取您的支付信息，请进入 <a style="font-size:22px;" href="http://home.${baseDomain}" target="_blank">我的一百券</a> >
            <a style="font-size:22px;" href="http://home.${baseDomain}" target="_blank">我购买的商品</a> 重新付款！
        </div>
    </div>
    #{/else}

    #{if recentGoodsList?.size()>0}
    <div class="recent">
        <div class="hd">最近浏览商品</div>
        <ul class="bd clearfix">
        #{list recentGoodsList, as:'goods'}
            #{set i:1/}
            #{if i++==5}
            <li class="last">
            #{/if}
            #{else}
            <li>
            #{/else}
                <div class="image"><a href="/g/${goods.id}" target="_blank"><img src="${goods.imageSmallPath}" alt="${goods.name}"/></a></div>
                <div class="title"><a href="/g/${goods.id}" target="_blank"></a>${goods.name}</div>
                <div class="attri">
                    <del>原价：${goods.faceValue}</del>
                    <span #{if goods.materialType ==models.sales.MaterialType.ELECTRONIC}class="coupon" #{/if}#{else}class="coupon entity"#{/else}>电子券</span></div>
                <div class="price">现价：<b>&yen;${goods.salePrice}</b></div>
            </li>
        #{/list}
        </ul>
    </div><!-- .recent -->
    #{/if}
</div>
