#{extends 'main.html' /}
#{set title:'一百券 - 返利排名' /}
#{set 'moreStyles'}
    #{asset.css src:['/y/user/userBase.css', '/y/user/userRebate.css'] /}
#{/set}
#{set 'moreScripts'}
    #{asset.js src:['/js/u/jquery-1.7.2.min.js', 'js/zClip/jquery.zclip.min.js'] /}
#{/set}
<div id="content" class="clearfix">
#{include "share/left.html"/}
     <div class="section">
            <div class="crumbs">您的位置：<a href="/">首页</a> > <a href="">我的订单</a> </div>
            <div class="rebate-help">
                <h3>什么是推荐返利？</h3>
                <p>　　用户通过一百券返利链接去分享一百券，帮助一百券做推广，同时一百券将给用户返还一定比率的现金返回。 例如：您通过其他通道成功推荐朋友进入一百券购买并且成功消费后，那么该次购买的消费金额的8%作为对您推荐返现奖励，当您的帐户累积超过10元即可兑现。</p>
              <h3>返利金额从哪里来的？</h3>
                <p>　　返利来自于一百券网的推广费用，所有参加一百券推广计划的会员都会按照成交订单支付给推广者一定比例的佣金。我们将其中的大部分以返现的形式返还给会员，为买家节省了费用，让您的购物更加省钱！</p>
              <h3>推荐返利如何操作？</h3>
                <p>　　第一步：注册会员之后登录一百券，可以看到该页面右侧的提示链接,点击链接即可直接进入您的返利页面，或者点击“会员中心”，在“推荐返利”分类的之分类“分享返利”查看相应操作；</p>
                <p>　　第二步：您可以通过3种方式传播您特有的链接进行推荐；不限时间</p>
                <p>　　第三步：当有人成功通过您的链接进入一百券购买并且消费成功之后，我们会在3个工作日内进行审核，审核完毕后，发放相应比例的返利佣金；</p>
                    <p>　　第四步：返利累计达到10元后，可以选择“兑换奖品”或者“返利兑现”，兑换奖品：一百券会在一定时间公布一些奖品，需要的可以联系我们进行兑换；返利兑现：按要求仔细填写申请帐户信息并申请支付，我们会尽快把您的返利佣金打到您的银行卡或者支付宝里。</p>
            </div>
        </div>
    </div>
</div>