#{extends 'main.html' /}
#{set title:'一百券 - 分享返利' /}
#{set 'moreStyles'}
    #{asset.css src:['/y/user/userBase.css', '/y/user/userRebate.css'] /}

#{/set}
#{set 'moreScripts'}
    #{asset.js src:['/js/u/jquery-1.7.2.min.js', 'js/zClip/jquery.zclip.min.js'] /}
#{/set}
<div id="content" class="clearfix">
#{include "share/left.html"/}
    <div class="section">
        <div class="crumbs">您的位置：<a href="/">首页</a> > <a href="">我的订单</a></div>
        <div class="rebate-share">
            <div class="user-account">账户：<strong>${user?.loginName}</strong></div>
            <div class="rebate-info">推荐购物：<span>${boughtAmount?.formatCurrency("CNY")}</span>元
                　　待返利：<span>${promoteRebate?.willGetAmount?.formatCurrency("CNY")}</span>元
                　　推荐消费：<span>${consumedAmount?.formatCurrency("CNY")}</span>元
                　　已得返利：<span>${promoteRebate?.haveGotAmount?.formatCurrency("CNY")}</span>元
            </div>
            <div class="recommend-share">推荐分享</div>
            <div class="recommend-linkbox">
                推广期间内，通过您的专属链接推荐好友注册购买，您和您的好友都能收到我们的奖励，月度推荐达人还能获得额外丰厚大奖！<br>
                <div class="captive-link">
                您的专属推荐链接：<input id="J_linkHref" class="link-href" type="text" value="http://www.${play.Play.configuration.getProperty("application.baseDomain")}?tj=${user?.promoterCode}" /><a class="copy" id="copy" href="javascript:void(0);">复制链接</a> <a class="weibo" target="_blank" href="http://service.weibo.com/share/share.php?url=http%3A%2F%2Flocalhost%3A9002%2Frebate-share&appkey=&title=物价飞涨，工资跑不过CPI？口袋里的钞票能买的东西越来越少？赶紧学学我的省钱绝招吧，吃喝玩乐、家居旅游，一百券一站搞定，省钱又省力！戳这里注册 http://www.${play.Play.configuration.getProperty("application.baseDomain")}?tj=${user?.promoterCode} 还能折上再减1%，跟我一起来拯救钱包吧！&pic=&ralateUid=&language="><i></i>分享到新浪微博</a> </div>
                当您的好友通过您的推荐链接注册为一百券的新用户：<br>
                 (1) 24小时内购买的订单全部立减1%，同时订单金额的2%返利到您的账户;<br>
                 (2) 24小时内未购买，则之后购买的首笔订单订单立减1%，同时订单金额的2%返利到您的账户;<br>
                您的好友已经是一百券的老用户了？不要紧，好友下单时填写您的专属优惠码hdd8s3，双方同样享受返利奖励哦！<br>
                每个月通过推荐好友获得返利金额最多的前三名用户还将获得一百券的额外奖励，相应排名可点击“我的一百券-返利排名”查看。<br>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('a#copy').zclip({
            path:'http://img.uhcdn.com/images/y/user/ZeroClipboard.swf',
            copy:$('#J_linkHref').val(),
            afterCopy:function () {
                if ($('#copy-tips').length == 0) {
                    $('body').append('<div id="copy-tips">复制到剪切板了，粘贴给您的朋友吧</div>')
                    $('#copy-tips').css({
                        'position':'absolute',
                        'top':$(window).height() / 2 + $(document).scrollTop() + 'px',
                        'left':$(window).width() / 2 - 100 + 'px',
                        'padding':'20px 30px',
                        'width':'200px',
                        'border':'1px solid #ace500',
                        'background-color':'#f2f9dd',
                        'z-index':'9999'
                    });
                    var timer = setTimeout(function () {
                        $('#copy-tips').hide();
                    }, 3000);
                } else {
                    $('#copy-tips').show();
                    clearInterval(timer);
                    var timer = setTimeout(function () {
                        $('#copy-tips').hide();
                    }, 3000);
                }
            }
        });

        $('#J_linkHref').mouseover(function(){
            $(this).select();
        });
    });
</script>


