<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我购买的商品</title>
<link href="@{'/public/stylesheets/default.css'}" rel="stylesheet" type="text/css" />
<link href="@{'/public/stylesheets/my_good.css'}" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrap_main">
    <div id="wrap_top">
<!--    最顶部导航-->
        <div id="wrap_top_top"><div class="top_margin_left" ><div class="wellcome">您好，欢迎您来到一百券！<a class="zi_gray" href="#">请登录</a></div>
        <div class="top_ul_box">
        <div class="user_reg_div_top">
            <ul class="re_top_top_ul">
            <li class="re_top_top_li"><a class="zi_gray"  href="#">新用户注册</a></li>
            <li class="re_top_top_li">|</li>
            <li class="re_top_top_li"><div class="top_car_icon"></div><a class="zi_gray"  href="#">购物车</a></li>
            <li class="re_top_top_li">|</li>
            <li class="re_top_top_li"><a class="zi_gray"  href="#" >收藏夹</a></li>
            <li class="re_top_top_li">|</li>
            <li class="re_top_top_li"><a class="zi_gray"  href="#">网站导航</a></li>
         </ul>
        </div>
         <div class="font_16_red">400-686-5151</div>
         </div>
         </div>
        </div>
        </div>
        <div id="wrap_top_header">
            <div id="wrap_top_header_left"><img src="@{'/public/images/logo.jpg'}" /></div>
            <div id="wrap_top_middle">券生活-惠生活</div>

      </div>
        <div style="clear:both"></div>
        <div class="nav_hengfu">
            <ul class="nav_bg_ul">
                <li class="nav_bg_li"><a class="current_nav_bg_a" href="#">我的一百券</a></li>
                <li class="nav_bg_li nodisplay"><a class="nav_bg_a"  href="#">我的一百券</a></li>
                <li class="nav_bg_li nodisplay"><a class="nav_bg_a"  href="#">我的一百券</a></li>
            </ul>
        </div>
        </div>
    <!--主体内容部分-->
         #{doLayout /}



    <!--底部注脚部分-->
    <div style="clear:both"></div>
    <div id="footer_nav"><span  class="strong_firend">友情链接：</span><a href="#" class="fenge_footer">关于我们</a>|<a href="#" class="fenge_footer">团购</a>|<a href="#" class="fenge_footer">电子优惠劵</a>|<a href="#" class="fenge_footer">优惠劵</a>|<a href="#" class="fenge_footer">活动交友网</a>|<a href="#" class="fenge_footer">天津优惠劵</a>|<a href="#" class="fenge_footer">591结婚网</a>|<a href="#" class="fenge_footer">上海旅游</a>|<a href="#" class="fenge_footer">KFC优惠劵</a>|<a href="#" class="fenge_footer">团购大全</a></div>
</div>
<div id="footer">
    <div><a href="#" class="fenge_footer">关于我们</a>|<a href="#" class="fenge_footer">诚聘英才</a>|<a href="#" class="fenge_footer">联系我们</a>|<a href="#" class="fenge_footer">免责声明</a>|<a href="#" class="fenge_footer">服务条款</a>|<a href="#" class="fenge_footer">帮助中心</a></div>
    <div>Copyright@2005-2009 iModia Network CO.,LTD. ALL Rights Reserved</div>
    <div><span><a href="#">一百券</a></span><span class="fenge_footer">|</span><span><a href="#">优惠打折网</a></span><span class="fenge_footer">|</span><span>联系我们：uhuila@seewi.com.cn</span></div>
    <div>泸ICP备08114451号</div>
</div>
    <div id="bottom_footer"><img src="@{'/public/images/footer/footer_two.jpg'}" /><img src="@{'/public/images/footer/footer_one.jpg'}" /></div>

</body>
</html>
