#{extends 'main.html' /}
<script type="text/javascript">
 $(document).ready(
			function() {
				$('a[name=captchaLink]').click(
						function() {
							$(this).prev().attr(
									'src',
									'@{Register.captcha(randomID)}&t='	+ Math.random());
						});
			})
</script>
	<style type="text/css">
#header {
	height: 123px;
}

.headmain {
	border-bottom: #b73a24 2px solid;
	height: 98px;
	padding-bottom: 10px;
}

.error {
	padding-left: 10px;
	color: red;
}
</style>
	%{ randomID = controllers.Register.genRandomId(); }%
#{form @Register.update(id)}
<input type="hidden" name="id" value="${id}" />
<div id="mem_addpwd_center">
	<div id="h_right">
		<div class="t">
			<div class="list">
				登 录 密 码
			</div>
		</div>
		<div></div>
		<div class="main">
			<div class="changepwd">
				<ul>
					<li class="cpwd">
						<div class="input">
							<label>原密码：</label> <input type="password" id="oldloginpass" name="oldloginpass" value="${params.oldloginpass}"
								tabindex="1" class="input196 inputbg" />
							<div id="showoldloginpass"><span	class="error">#{error 'oldloginpass' /}</span></div>
						</div>

					</li>
					<li class="cpwd">
						<div class="input">
							<label>新密码：</label> <input type="password" id="newloginpass" name="newloginpass"value="${params.newloginpass}"
								tabindex="2" class="input140 inputbg" />
							<div id="shownewloginpass"><span class="error">#{error 'newloginpass' /}</span></div>
						</div>

					</li>
					<li class="cpwd"><label>确认新密码：</label> 
					  <input type="password"	id="againloginpass" name="againloginpass"value="${params.againloginpass}" tabindex="2" class="input140 inputbg" />
						 <div id="showagainloginpass">
						    <span	class="error">#{error 'againloginpass' /}</span>
						</div>
       <li>
					<li class="cpwd">
						<div>
							<label>验证码：</label> <input type="text" id="captcha" name="captcha"
								tabindex="3" class="input92 inputbg" /> 	
							</div>
								<div><span	class="error">#{error 'captcha' /}</span></div>
					</li>
						<li class="cpwd">
							<div>
								<img
									id="captchaImg" style="width: 100px; height: 30px;"
									src="/captcha?randomID=${randomID}"> 
									<a id="captchaLink"	name="captchaLink" href="javascript:void(0);">换一个</a> <input
									type="hidden" name="randomID" value="${randomID}" />
						</div>
						</li>
					<li class="cpwd">
						<div class="buttonfield">
							<button id="uppassbuttons" type="submit" class="bt1">确 认</button>
						</div>
						<div class="clear"></div>
					</li>

				</ul>
			</div>
			<div style="height: 30px;"></div>
		</div>

		<div class="b"></div>
	</div>
	<script type="text/javascript">
	</script>
	#{/form}