#{extends 'layout_trader/layout2.html' /}
#{include 'Share/nav.html' /}
#{set title:'券验证' /}
#{set menu:"verify" /}
#{set 'moreStyles'}
    #{asset.css src:['/m/verify.css'] /}
#{/set}
<style>
    a.btn {
        width: 88px;
    }

    #enter-coupon {
        width: 180px;

    }

    .field-group {
        padding: 5px 10px;

    }

    p {
        font-size: 15px;
    }
</style>
#{set 'moreScripts'}
<script src="@{'/public/javascripts/meituan-verify.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
<div class="bd batch-verify">
%{ isMt= "1".equals(currentUser?.supplier?.getProperty(models.supplier.Supplier.MEI_TUAN))
    maxlen = isMt==true?14:12;
    }%
    <h2>券验证</h2>

    <div style="width:766px;margin:0 auto;float: left">

        <div style="width:374px;height:100%;border:1px solid black;float:left;">
            <form id="coupon-form" action="@{SupplierVerifyECoupons.verify()}" method="post">

                <div class="field-sect">
                    <h2>#{if isMt}【一百券，美团】券验证#{/if}#{else}【一百券】券验证 #{/else}</h2>

                    <p>一百券分店:
                    #{if shop == null}
                        <select name="shopId" id="shopId" style="width: 230px">
                            #{list items:shopList, as:'shop'}
                                <option value="${shop?.id}">${shop?.name}</option>
                            #{/list}
                        </select>
                    #{/if}
                    #{else}
                    ${shop?.name}
                        <input type="hidden" name="shopId" id="shopId" value="${shop?.id}"/>
                    #{/else}
                    </p>
                    <!--野生动物园 -->
                #{set couponItemCount :4/}
                #{if isMt}
                    #{if currentUser.supplier.id ==664}
                        <p>美 团 项 目 :
                        ${resalerProductList?.get(0)?.partnerGoodsName}
                            <input type="hidden" name="partnerGoodsId" id="partnerGoodsId"
                                   value="${resalerProductList?.get(0)?.partnerGoodsId}"/>
                            <input type="hidden" name="partnerShopId" id="partnerShopId"
                                   value="${resalerShopList?.get(0)?.resalerPartnerShopId}"/>
                        </p>
                    #{/if}
                    #{else}
                        #{set couponItemCount :0/}
                        <p>美 团 项 目:
                            <select name="partnerGoodsId" id="partnerGoodsId" style="width: 230px">
                                #{list items:resalerProductList, as:'resalerGoods'}
                                    <option value="${resalerGoods?.partnerGoodsId}">${resalerGoods?.partnerGoodsName}</option>
                                #{/list}
                            </select>
                        </p>
                        <!--南京汤山百倍圣泉 ,东方明珠-->
                        #{if currentUser.supplier.id==422 || currentUser.supplier.id==704}
                            #{set couponItemCount :4/}
                        #{/if}
                        <!--pony蛋糕的商户 -->
                        #{if currentUser.supplier.id==657}
                            #{set couponItemCount :4/}
                            <p>美 团 分 店:
                                <select name="partnerShopId" id="partnerShopId" style="width: 230px">
                                    <option value=''>全部门店</option>
                                    #{list items:resalerShopList, as:'partnerShop'}
                                        <option value="${partnerShop?.resalerPartnerShopId}">${partnerShop?.resalerPartnerShopName}</option>
                                    #{/list}
                                </select>
                            </p>
                        #{/if}
                    #{/else}
                #{/if}
                    <div style="padding-top: 10px;font-size: 20px;">
                        输入券号<span style="display: inline;color: grey">(请输入10位#{if isMt}或12位#{/if}券号)</span>
                    </div>

                    <div class="field-group" style="text-align: left">
                    *{<label class="coupon-label" for="enter-coupon">输入券号</label>}*
                    #{list items:0..couponItemCount, as:'index'}
                        <input type="text" size="22" maxlength="${maxlen}" name="coupon" id="enter-coupon"
                               coupon-index="${index}"
                               class="enter-coupon" type="text" placeholder="请输入序列号" style="margin-bottom: 5px"/>
                        <span id="verify-info-${index}" style="color: red;display: block"></span>
                    #{/list}
                        <a id="verify-btn" class="btn batch-verify" href="javascript:void(0);"
                           hidefocus="true">验证消费</a>
                        <span id="verify-msg" style="color: red;display: block"></span>
                    </div>
                </div>
            </form>
        </div>
    #{if ("1".equals(currentUser?.supplier?.getProperty(models.supplier.Supplier.DIAN_PING))) }
        <div style="width:374px;height:100%;border:1px solid black;float:left;margin-left:10px;">
            <div class="field-sect">
                <h2>【点评】券验证</h2>

                <div style="padding-top: 10px;font-size: 20px;">输入券号<span style="display: inline;color: grey">(请输入12位点评的券)</span>
                </div>

                <div class="field-group">
                *{<label class="coupon-label" for="enter-coupon">输入券号</label>}*
                    #{list items:0..couponItemCount, as:'index'}
                        <input type="text" size="22" maxlength="14" name="coupon" id="enter-coupon"
                               dp-coupon-index="${index}"
                               class="dp-enter-coupon" type="text" placeholder="请输入序列号" style="margin-bottom: 5px"/>
                        <span id="dp-verify-info-${index}" style="color: red;display: block"></span>
                    #{/list}
                    <a id="dp-verify-btn" class="btn batch-verify" href="javascript:void(0);"
                       hidefocus="true">验证消费</a>
                    <span id="dp-verify-msg" style="color: red;display: block"></span>
                </div>
            </div>
        </div>
    #{/if}
    </div>
#{if ("1".equals(currentUser?.supplier?.getProperty(models.supplier.Supplier.NUOMI))) }
    <div style="width:374px;height:100%;border:1px solid black;float:left;margin-top: 20px">
        <div class="field-sect">
            <h2>【糯米】券验证</h2>

            <div style="padding-top: 10px;font-size: 20px;">输入券号<span
                    style="display: inline;color: grey">(请输入12位糯米的券)</span>
            </div>

            <div class="field-group">
            *{<label class="coupon-label" for="enter-coupon">输入券号</label>}*
                <input type="text" size="22" maxlength="14" name="couponId" id="enter-coupon"
                       class="nm-enter-coupon" type="text" placeholder="请输入序列号" style="margin-bottom: 5px"/>
                <span id="nm-verify-info" style="color: red;display: block"></span>
                <a id="nm-verify-btn" class="btn batch-verify" href="javascript:void(0);"
                   hidefocus="true">验证消费</a>
                <span id="nm-verify-msg" style="color: red;display: block"></span>
            </div>
        </div>
    </div>
#{/if}
</div>

