#{extends 'main.html' /}

#{set title:'批量生成券号' /}

#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript" charset="utf-8">
</script>
#{/set}
#{set 'moreScripts'}
    #{asset.js src:['/u/bignumber.js'] /}
#{/set}
<script type="text/javascript">
    function consumedAmount() {
        var consumedAmount = (new BigNumber($('#goodsId option:selected').attr("price")))
                .multiply($("#inputCount").attr("value"));
        $("#consumed").val(consumedAmount);
        $("#consumed_amount").html('总金额:&nbsp;&nbsp;￥' + consumedAmount);
    }
</script>


#{set 'moreStyles'}
    #{asset.css src:['/r/base.css', '/r/orders.css', '/r/play-pagination.css'] /}
#{/set}

#{set 'navMenu'}
<li><a href="/">首　页</a></li>
<li><a href="/goods">商品库</a></li>
<li><a class="current" href="/library">我的分销库</a></li>
<li><a href="/charge">账户充值</a></li>
<li><a href="/withdraw">账户提现</a></li>
#{/set}


<div id="content">
#{breadcrumbs/breadcrumb breadcrumbs/}
    <div class="main clearfix">
    #{include "share/left.html"/}
        <div id="inside" class="section">
        #{if noPermissionError == null}
            #{form @BatchExportCoupons.generate(), method:'POST', class:'form-horizontal' }
                <h1>批量生成券号</h1>

                <div class="control-group">
                    <label class="control-label" for="inputName">备注:</label>
                    &nbsp; &nbsp; &nbsp;
                    <input type="text" id="inputName" name="name" value="${name}">
                    &nbsp;
                    <span class="help-inline">必填,如 美团2012-04-16</span>

                </div>
                <br>

                <div class="control-group">
                    <label class="control-label">商品名称:</label>
                    &nbsp; &nbsp; &nbsp;
                    #{select 'goodsId', onChange:'consumedAmount()',id:'goodsId', class:'dingdan_stauts_bg', value:goods?.id}
                        #{list items:goodsList, as:'goods1' }
                            <option value="${goods1.id}" price="${goods1?.salePrice}" #{if goods?.id == goods1?.id}
                                    selected="selected"   #{/if}>
                            ${goods1?.shortName}&nbsp;&nbsp;---
                                &nbsp;&nbsp;${goods1?.salePrice?.formatCurrency('CNY')}
                            </option>
                        #{/list}
                    #{/select}

                </div>
                <br>


                <div class="balance">账户余额： &nbsp; &nbsp; &nbsp;<span
                        class="">${account?.amount?.formatCurrency('CNY')}</span></div>

                <br>

                <div class="control-group">
                    <label class="control-label" for="inputCount">数量:</label>

                    &nbsp; &nbsp; &nbsp;
                    <input type="text" id="inputCount" name="count" value="${count}"
                           onchange="consumedAmount();">
                    &nbsp; &nbsp;
                    <span class="help-inline">正整数(1-9999)</span>

                    <div>

                        <br>
                        <span id="consumed_amount" style="color: blue;">总金额:&nbsp;&nbsp;￥ ${consumed}</span>
                    </div>
                    <input type="hidden" id="consumed" name="consumed" value="${consumed}">

                </div>
                <br>

            *{<div class="control-group">}*
            *{<label class="control-label" for="inputPrefix">2位数字前缀:</label>}*
            *{&nbsp; &nbsp; &nbsp;}*

            *{<input type="text" id="inputPrefix" name="prefix" value="${prefix}">}*
            *{&nbsp; &nbsp;}*
            *{<span class="help-inline">纯数字,如 21</span>}*

            *{</div>}*
                <br>

                <div class="control-group">
                    <div class="controls">
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <button type="submit" class="btn btn-primary">生成</button>
                    </div>
                </div>
            #{/form}
            #{if err}
                <div style="color:red;"> ${err} </div>
            #{/if}
            <input type="hidden" id="err" name="err" value="${err}">

        #{/if}
        #{else}
            <center><span style="font-size:110% ">${noPermissionError}</span></center>
        #{/else}
        </div>
    </div>
</div>