#{if ecoupon == null}
    <font color=red>对不起，没有该券的信息!</font>
#{/if}
#{else}
    #{if ecouponStatusDescription != null }
	    <font color=red>${ecouponStatusDescription}</font>
	    <script type="text/javascript">
	        $("#sure").attr("disabled", true);
            $("#verify_amount_group").hide();
	    </script>
	    券编号: ${ecoupon.eCouponSn}<br/>
	    商品名称: ${ecoupon.goods.title}<br/>
	    #{if ecoupon.consumedAt != null}
	    消费日期：${ecoupon.consumedAt?.format('yyyy-MM-dd HH:mm:ss')}<br/>
	    验证门店：${ecoupon.shop?.name}<br/>
	    验证方式：&{'coupon.'+ecoupon.verifyType}<br/>
	    验证人：${ecoupon.supplierUser?.userName}
	    #{/if}
	    #{if ecoupon.refundAt != null}
	    退款日期：${ecoupon.refundAt?.format('yyyy-MM-dd HH:mm:ss')}
	    #{/if}
	    #{if ecoupon.expireAt != null}
	    截止日期：${ecoupon.expireAt?.format('yyyy-MM-dd HH:mm:ss')}
	    #{/if}   
    #{/if}
    #{elseif ecoupons.size() > 1 }
        <script type="text/javascript">
            $("#sure").attr("disabled", false);
            $("#verify_amount_group").show();
        </script>
        <font color="red" size="16">请输入实际的金额，请勿多输以免引起客户投诉。</font><br/>
        <br/>
        券状态:未消费<br/>
        券编号: ${ecoupon.eCouponSn}<br/>
        商品名称: ${ecoupon.goods.title}<br/>
        可用券张数：${ecoupons.size()}  可用金额：${amount}<br/>
    #{/elseif}
    #{else}
	    <script type="text/javascript">
	        $("#sure").attr("disabled", false);
            $("#verify_amount_group").hide();
	    </script>
	    券状态:未消费<br/>
	    券编号: ${ecoupon.eCouponSn}<br/>
	    原价:${ecoupon.goods.faceValue}元<br/>
	    商品名称: ${ecoupon.goods.title} <br/>
	    截止日期:${ecoupon.expireAt?.format('yyyy-MM-dd HH:mm:ss')}
	#{/else}
#{/else}
