#{extends 'layout_trader/layout.html' /}
#{include 'Share/nav.html' /}
#{set title:'商户验证消费券' /}
#{set 'moreScripts'}
 <script src="@{'/public/javascripts/coupons.js'}" type="text/javascript" charset="UTF-8"></script>

#{/set}
 <legend>商户验证消费券</legend>
<div class="control-group">
  <div class="controls">门店:
  #{if supplierUser?.shop?.id == null}
	   #{select 'shopId', id:'shopId', class:'span2', value:supplierUser?.shop?.id}
	        #{list items:shopList, as:'shop'}
	            #{option shop?.id}${shop?.name}#{/option}
	        #{/list}
	    #{/select}
  #{/if}
  #{else}

  <input type="text" name="shopName" id="shopName" disabled="true" value="${shop?.name}"
         class="input-large"
          />
  <input type="hidden" name="shopId" id="shopId" value="${shop?.id}" class="input-large" />
  #{/else}
  
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="error">#{error 'supplierUser.shop' /}</span>
   </div>
 </div>
  <div class="control-group">
	  <div class="controls">券号:
	  <input type="text" name="eCouponSn" id="eCouponSn" class="input-large" />
	     <span class="control-group" id="checksn"></span>
	   </div>
   </div>
  <div class="control-group" id="verify_amount_group" style="display:none">
      <div class="controls">验证金额:
          <input type="text" name="verifyAmount" id="verifyAmount" class="input-large" />
       </div>
   </div>
     <div class="control-group" style="display: none">#{include 'SupplierCoupons/consume.html' /}</div>
     <div class="control-group" id="showinfo"></div>
     <div class="control-group" id="statusw" ></div>

   <div class="form-actions">
   <button class="btn btn-primary" id="query" >查询</button>
   <button class="btn btn-primary" id="sure" disabled>验证</button>
 </div>
 