#{extends 'layout_trader/layout.html' /}
#{include '/share/nav.html' /}
#{set title:'编辑门店' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/shops-edit.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
<div class="body">
    <form class="form-horizontal" action="@{Shops.update(shop.id)}" method="post">
        <legend>编辑门店</legend>
        <div class="control-group">
            <label for="city" class="control-label">城&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;市</label>

            <div class="controls">
                <select id="city" name="city" class="input-large">
                #{list items:cities, as:'city' }
                    <option value="${city.id}">${city.name}</option>
                #{/list}
                </select>
            </div>
        </div>
        <div class="control-group">
            <label for="district" class="control-label">区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;域</label>

            <div class="controls">
                <select id="district" name="district" class="input-large">
                #{list districts, as:'district' }
                    <option value="${district.id}">${district.name}</option>
                #{/list}
                </select>
            </div>
        </div>
        <div class="control-group">
            <label for="area" class="control-label">商&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;圈</label>

            <div class="controls">
                <select id="area" name="shop.areaId" class="input-large">
                #{list areas, as:'area' }
                    <option value="${area.id}">${area.name}</option>
                #{/list}
                </select>
            </div>
        </div>
        <div class="control-group">
            <label for="shop_name" class="control-label">分店名称</label>

            <div class="controls">
                <input type="text" id="shop_name" name="shop.name" class="input-xlarge" value="${shop.name}"/>
            </div>
        </div>
        <div class="control-group">
            <label for="shop_address" class="control-label">分店地址</label>

            <div class="controls">
                <input type="text" id="shop_address" name="shop.address" class="input-xlarge" value="${shop.address}"/>
            </div>
        </div>

        <div class="control-group">
            <label for="shop_phone" class="control-label">分店电话</label>

            <div class="controls">
                <input type="text" id="shop_phone" name="shop.phone" class="input-xlarge" value="${shop.phone}"/>
            </div>
        </div>


        <div class="form-actions">
            <button class="btn btn-primary" type="submit">保 存</button>
            <button class="btn" type="button" name="cancel" id="cancel">取 消</button>
        </div>
    </form>
</div>