body {
    background: none repeat scroll 0 0 transparent;
}
a:hover {
    color: #404040;
    text-decoration: none;
}
.link {
    color: #336699;
    cursor: pointer;
}
.link:hover {
    color: #FF6600;
    text-decoration: none;
}
.col-sub .link:hover {
    color: #0071BC;
    text-decoration: none;
}
p {
    line-height: 22px;
}
.list-last {
    border-bottom: 1px solid #CEDEEF;
}
.title {
    font-family: 微软雅黑;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    width: 100%;
}
.title span {
    color: #808080;
    font-size: 14px;
    margin-left: 10px;
}
.contentlist-one .title {
    margin-bottom: 0;
}

.sub-title {
    font-family: 微软雅黑;
    font-size: 14px;
    font-weight: bold;
}
.title-intro {
    margin-bottom: 35px;
    margin-top: 20px;
    text-indent: 2em;
}
.list-link {
    float: left;
    height: 30px;
    margin-right: 50px;
    padding-bottom: 15px;
    width: 145px;
    word-wrap: break-word;
}
.list-link span {
    color: #6A9CC3;
    display: inline-block;
    float: left;
    line-height: 22px;
    width: 25px;
}
.article-title {
    float: left;
    line-height: 22px;
    margin-left: 3px;
    width: 130px;
}
.article-title:hover {
    color: #FF6600;
}

.crumbs a {
    color: #336797;
    display: inline-block;
    float: left;
    margin-right: 10px;
    padding: 0 20px 0 0;
}
.crumbs .last {
    background: none repeat scroll 0 0 transparent;
}
.container {
    font-family: tahoma,宋体;
    margin: 0 auto;
    min-height: 558px;
    text-align: left;
    width: 990px;
}
.grid-s165m0 .col-main {
    float: right;
    margin-right: 0;
    width: 795px;
}
.grid-s165m0 .center {
    margin-left: auto;
    margin-right: auto;
    width: 795px;
}
.grid-s165m0 .col-sub {
    width: 165px;
}
.box-container {
    margin-top: 0;
    overflow: hidden;
}
.box-container .last {
    margin-right: 0;
}
.box-wrap {
    display: inline-block;
    float: left;
    margin-right: 42px;
    width: 375px;
}
.contentlist-front {
    margin-top: 20px;
}
.contentlist-front .title {
    margin-bottom: 0;
}
.contentlist-front .contentlist-item {
    float: left;
    width: 380px;
}
.contentlist-front .odd {
    margin-right: 35px;
}
.contentlist-front h2 {
    float: left;
}
.contentlist-front .info-more {
    float: right;
    font-size: 12px;
    margin-right: 10px;
}
.introduction {
    line-height: 22px;
    margin-bottom: 12px;
    margin-top: 10px;
    text-indent: 2em;
    width: 795px;
}
.api-detail-bd {
    margin-top: -15px;
}
.api-detail-bd .title-intro {
    margin-bottom: 35px;
    margin-top: 30px;
    min-height: 240px;
    text-indent: 2em;
    width: 355px;
}
.adjudge-list {
    display: inline-block;
    float: left;
    margin-right: 50px;
    position: relative;
    width: 140px;
}
.adjudge-star {
    float: left;
    position: relative;
}
.adjudge-star .score {
    background: none repeat scroll 0 0 #000000;
    display: block;
    height: 20px;
    width: 2px;
}
.adjudge-star .img {
    left: 0;
    position: absolute;
    top: 0;
}
.data-format {
    font-weight: bold;
}

.faq-wrap {
    border: 1px solid #D4E2F1;
    margin-top: -13px;
    width: 793px;
}
.faq-wrap p {
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
}
.faq-wrap .question {
    background-color: #DEE8F1;
}
.incre-bg {
    background-position: 0 -20px;
}
.private-bg {
    background-position: 0 -44px;
}
.api-sub-title .sub-title {
    display: inline-block;
    float: left;
    height: 37px;
}
.api-sub-title .sub-title:hover {
    background-color: #D6E3F1;
    display: inline-block;
    float: left;
    height: 37px;
}
.api-sub-title .sub-title:hover a {
    color: #336797;
}
.api-sub-title .last a {
    background: none repeat scroll 0 0 transparent;
}
.tool-img-wrap img {
    margin-right: 30px;
}
.contentlist-api .api-list-item span a {
    padding-left: 11px;
}
.contentlist-api .api-list-item p {
    line-height: 22px;
    margin-top: 12px;
    width: 780px;
}
.contentlist-api .last {
    background: none repeat scroll 0 0 transparent;
}
.listgory {
    color: #000000;
    width: 165px;
}
.listgory-title a {
    color: #336797;
    display: block;
    font-size: 14px;
    height: 25px;
    overflow: hidden;
}
.listgory-sub-title {
    font-weight: bold;
    overflow: hidden;
    width: 100px;
}
.listgory-item {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CEDEEF #CEDEEF -moz-use-text-color -moz-use-text-color;
    border-style: solid solid none none;
    border-width: 1px 1px medium medium;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-top: 5px;
    position: relative;
    text-align: right;
}
.listgory-item:hover {
    background-color: #D8E5F4;
    text-decoration: none;
}
.listgory-item a {
    line-height: 20px;
}
.listgory li {
    position: relative;
    width: 100%;
}
.listgory .info-overflow {
    display: block;
    height: 20px;
    overflow: hidden;
    width: 135px;
    word-wrap: break-word;
}
.listgory .list-last {
    border-bottom: 1px solid #CEDEEF;
}
.img-wrap {
    margin-bottom: 12px;
    margin-top: 10px;
    max-width: 795px;
    overflow: hidden;
    text-align: center;
}
.img-last {
    margin-bottom: 0;
}
.category {
    color: #000000;
    width: 160px;
}
.category a {
    color: #336699;
    display: inline-block;
    padding-left: 10px;
    text-decoration: none;
    width: 133px;
}
.category li.selected {
    position: relative;
    width: 100%;
}
.category li.selected ul {
    background: none repeat scroll 0 0 #E1F1FA;
}
.category li.selected .level-three {
    background: none repeat scroll 0 0 #C3D9E6;
}
.category li.selected .level-three .category-item {
    border-top: medium none;
}
.category .last .category-item {
    border-bottom: 0 none;
}
.category .category-item {
    border-right: 1px solid #E0EAF5;
    border-top: 1px solid #E0EAF5;
    display: block;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    white-space: nowrap;
}
.level-one {
    background: none repeat scroll 0 0 #F2F7FC;
    font-size: 14px;
}
.level-two {
    font-size: 12px;
}
.level-three {
    font-size: 12px;
}
.level-one .category-item {
    padding-left: 17px;
}
.level-two .category-item {
    padding-left: 30px;
    width: 130px;
}
.level-three .category-item {
    padding-left: 45px;
    width: 115px;
}
.level-three .category-item a {
    overflow: hidden;
    width: 95px;
    word-wrap: break-word;
}
.level-one .category-item a:hover {
    background-color: #DEE7F1;
}
.level-two .category-item a:hover {
    background-color: #DEE7F1;
}
.level-three .category-item a:hover {
    background-color: #C3D9E6;
    font-weight: bold;
}
.hasSub span {
    background: url("../img/T1QyelXkpDXXXXXXXX-5-5.png") no-repeat scroll 5px 10px transparent;
    margin-left: -17px;
    padding-bottom: 5px;
    padding-left: 17px;
    padding-top: 5px;
}
.showSub span {
    background: url("../img/T1LCCeXcJBXXXXXXXX-5-1.png") no-repeat scroll 5px 12px transparent;
    margin-left: -17px;
    padding-bottom: 5px;
    padding-left: 17px;
    padding-top: 5px;
}
.hasSub span:hover {
    background: url("../img//T1nlmeXcxFXXXXXXXX-6-6.png") no-repeat scroll 5px 10px #DEE7F1;
    cursor: pointer;
}
.showSub span:hover {
    background: url("../img//T1emCeXgVCXXXXXXXX-6-2.png") no-repeat scroll 5px 12px #DEE7F1;
    cursor: pointer;
}
.level-two .hasSub span, .level-two .showSub span {
    background-position: 19px 50%;
    margin-left: -30px;
    padding-left: 30px;
}
.level-two .hasSub span:hover, .level-two .showSub span:hover {
    background-position: 19px 50%;
    margin-left: -30px;
    padding-left: 30px;
}
.category-show {
    display: block;
}
.category-hide {
    display: none;
}
.level-one .last {
    border-bottom: 1px solid #E0EAF5;
}
.overflow-wrap {
    height: 1.3em;
    overflow: hidden;
    width: 24em;
}
.overflow-text {
    float: left;
    height: 150px;
    margin-right: 3em;
    overflow: hidden;
}
.overflow-dotted {
    float: right;
    height: 1.31em;
    margin-top: -1.3em;
    width: 3em;
}
.contentlist-one .intro {
    font-family: 微软雅黑;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}
.contentlist-one .level-three-list {
    margin-left: 15px;
    margin-top: 10px;
}
.list-item-container {
    overflow: hidden;
    width: 796px;
}
.list-item .level-two-content {
    margin-left: 100px;
}
.contentlist-one .level-three-list .list-link {
    margin-right: 30px;
    width: 160px;
}
.contentlist-one .level-three-wrap .level-three-list .last {
    margin-right: 0;
}
.level-three-item .level-three-wrap {
    width: 700px;
}
.level-three-item .level-three-title a {
    color: #000000;
    font-family: "宋体";
    font-size: 12px;
    font-weight: bold;
}
.level-three-item .level-three-title a:hover {
    color: #FF6600;
}
.level-three-item .level-three-title {
    float: left;
    height: 21px;
    line-height: 21px;
    overflow: hidden;
    width: 11em;
}
.level-three-item .level-three-list {
    display: inline;
    float: left;
    margin-top: 0;
    right: 0;
    width: 545px;
}
.list-item .link {
    color: #000000;
    font-family: 微软雅黑;
    font-size: 14px;
    font-weight: bold;
}
.list-item .link:hover {
    color: #FF6600;
    text-decoration: none;
}
.contentlist-two .level-three-intro {
    padding-bottom: 12px;
    width: 640px;
}
.contentlist-two .level-three-item .level-three-list .last {
    margin-right: 0;
}
.contentlist-three .level-three-intro {
    padding-bottom: 12px;
    text-indent: 2em;
}
.contentlist-three-ul {
    padding-left: 70px;
}
.contentlist-three-ul .list-link {
    margin-right: 70px;
    width: 160px;
}
.contentlist-two-ul .list-link {
    margin-right: 30px;
    width: 160px;
}
.article-point {
    margin-left: 25px;
}
.point-num {
    color: #F15A24;
    font-family: 微软雅黑;
    font-size: 24px;
}
.point-txt {
    color: #F15A24;
    font-family: 微软雅黑;
    font-size: 16px;
}
.API-point {
    margin-left: 25px;
    margin-top: 10px;
}
.article-point .text, .API-point .text {
    color: #808080;
}
.API-point .point-num {
    font-size: 20px;
}
.content-bd {
    overflow: hidden;
    width: 800px;
    word-wrap: break-word;
}
.sub-title-wrap .sub-title {
    display: inline-block;
    float: left;
    margin-right: 25px;
}
.sub-title-wrap a {
    color: white;
}
.short-share {
    display: inline-block;
    float: right;
}
.short-share img {
    margin-bottom: -3px;
}
.share-title {
    font-family: 微软雅黑;
    font-size: 12px;
    font-weight: normal;
}
.share {
    margin-bottom: 20px;
    margin-top: 20px;
}
.share-list {
    margin-left: 20px;
    margin-top: 15px;
}
.share-list li {
    display: inline-block;
    float: left;
    margin-right: 5px;
}
.share-list span {
    display: block;
    font-family: 微软雅黑;
    font-size: 14px;
    margin-top: 5px;
}
.content-ft {
    margin-top: 35px;
}
.relative-article-wrap {
    border-bottom: 1px dashed #CCCCCC;
}
.relative-article {
    margin-bottom: 20px;
    margin-left: 2em;
    margin-top: 10px;
}



.User-adjudge-wrap {
    padding-top: 10px;
}
.User-adjudge-wrap .sub-title {
    margin-top: 10px;
}
.wrap-border {
    border-bottom: 1px dashed #CCCCCC;
    padding-bottom: 20px;
}
#submit-img {
    cursor: pointer;
    display: inline-block;
    float: right;
    margin-right: 150px;
    margin-top: 10px;
}
.API-title-intro {
    margin-top: 20px;
    text-indent: 2em;
    width: 356px;
}
.detail-list {
    margin-right: 30px;
    margin-top: 15px;
}
.detail-box {
    margin: 0;
}
.api-wrap {
    padding-left: 25px;
}
.API-detal-point {
    margin-left: 15px;
}
.User-detail-wrap {
    border: 1px solid #000000;
    display: inline-block;
    float: right;
    height: 190px;
    margin-left: 20px;
    margin-right: 55px;
    width: 356px;
}
.api-table {
    border: 1px solid #D4E2F1;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
    margin-top: -13px;
    width: 795px;
}
.api-table th {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #D4E2F1;
    color: #000000;
    font-weight: bold;
    height: 30px;
    min-width: 6em;
    padding: 3px 10px;
}
.api-table td {
    line-height: 25px;
    padding: 3px 10px;
    vertical-align: text-top;
}
.api-table .odd {
    background: none repeat scroll 0 0 #F1F7FB;
}
.middle {
    text-align: center;
}
.left {
    text-align: left;
}

.doc-detail-bd p {
    text-indent: 2em;
}
.doc-detail-bd strong {
    font-weight: bold;
}
.doc-detail-bd em {
    font-style: italic;
}
.doc-detail-bd u {
    text-decoration: underline;
}
.doc-detail-bd del {
    text-decoration: line-through;
}
.doc-detail-bd ol li {
    list-style: decimal outside none;
    text-indent: 0;
}
.doc-detail-bd img {
    margin: 10px auto 12px;
    max-width: 770px;
    overflow: hidden;
}
.doc-detail-bd table {
    border: 1px solid #D4E2F1;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
    margin-bottom: 35px;
    width: 795px;
}
.doc-detail-bd table tr {
    border: 1px solid #D4E2F1;
}
.doc-detail-bd table th {
    background: none repeat scroll 0 0 #D6E3F1;
    border-bottom: 1px solid #D4E2F1;
    color: #000000;
    height: 30px;
    min-width: 8em;
    padding: 3px 10px;
}
.doc-detail-bd table td {
    border: medium none;
    line-height: 25px;
    padding: 3px 10px;
    vertical-align: text-top;
}
.doc-detail-bd table .even {
    background: none repeat scroll 0 0 #F1F7FB;
}

.judeApi .showGrade {
    float: right;
    font-size: 12px;
    font-weight: normal;
}

.judeApi p.apiTitle {
    margin: 10px 20px;
    word-wrap: break-word;
}
.judeApi p.api-grade-title {
    float: left;
    width: 70%;
}
.judeApi p.api-grade-title .total {
    margin-left: 10px;
}
.judeApi .scorePart {
    float: left;
    margin-bottom: 20px;
    width: 175px;
}
.judeApi .respondTitle {
    clear: both;
    margin: 10px auto 5px;
}
.judeApi textarea {
    height: 70px;
    margin-bottom: 10px;
    width: 300px;
}
.judeApi textarea.higher {
    border: 1px solid red;
}

.judeApi .subRespond {
    margin-top: 10px;
    text-align: center;
}

.judeApi .btnActive {
    background-position: 0 -294px;
}
.judeApi .grade .total {
    float: left;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 3px;
    width: 1.5em;
}

.judeApi .grade .clickStar, .judeApi .grade .hoverStar {
    background-position: 0 -2px;
}
.judeApi .grade .blackStar {
    background-position: 0 -182px;
}
.judeApi .grade .clearStar {
    background-position: 0 -31px;
    margin-left: 5px;
    margin-top: 3px;
}
.judeApi .grade .clearStar:hover {
    background-position: 0 -53px;
}
.judeApi .grade .starList {
    float: left;
    height: 22px;
    position: relative;
    width: 119px;
}

.judeApi .grade .blue {
    background: none repeat scroll 0 0 #3666B7;
    height: 100%;
    margin-top: -22px;
    width: 2px;
}
.judeApi .grade .starBg {
    background: none repeat scroll 0 0 #D1D1D1;
    height: 100%;
    width: 100%;
}
.hidden {
    display: none;
}
.judeApi p .title {
    font-size: 14px;
    font-weight: bold;
}
.judeApi p .strong {
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

.judeApi a {
    cursor: pointer;
}
.pop {
    color: #999999;
    height: 44px;
    line-height: 22px;
    overflow: hidden;
    padding: 8px;
    position: absolute;
    width: 142px;
}
#loginDiv {
    display: none;
}
.loginFm {
    border: 1px solid #999999;
    height: 300px;
    margin-top: 100px;
    width: 345px;
}
.tb-attention .ks-ext-close, .tb-attention .ks-ext-close:hover {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
}
.ks-ext-close {
    border: 1px solid transparent;
    cursor: pointer;
    height: 18px;
    outline: medium none;
    overflow: hidden;
    position: absolute;
    right: 6px;
    text-decoration: none;
    top: 100px;
    vertical-align: middle;
    width: 18px;
}
.backTop {
    background: url("../img/back_top.png") no-repeat scroll 0 0 transparent;
    bottom: 100px;
    cursor: pointer;
    font-weight: bold;
    height: 25px;
    line-height: 20px;
    padding: 5px;
    position: fixed;
    right: 0;
    width: 5em;
    z-index: 99999;
}
.pop-tip {
    background: -moz-linear-gradient(center bottom , #EFF6FB 5%, #F6FAFD 53%, #FFFFFF 77%) repeat scroll 0 0 transparent;
    border: 1px solid #83A6CD;
    border-radius: 3px 3px 3px 3px;
    color: #000000;
    padding: 8px;
    position: absolute;
    z-index: 11111;
}
.num {
    font-family: Corbel;
}
.videoList .videoItem {
    display: inline-block;
    height: 200px;
    margin-bottom: 20px;
    margin-right: 25px;
    width: 130px;
}
.textIndent {
    margin: 20px 0;
    text-indent: 2em;
    width: 500px;
    word-wrap: break-word;
}
.pagination {
    margin: 20px 0;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: right;
}
.pagination-wrapper a {
    color: #0066CC;
    cursor: pointer;
    padding: 3px;
    text-decoration: none;
}
.pagination-wrapper a:hover, .pagination-wrapper a.selected {
    background-color: #336699;
    color: white;
    text-decoration: none;
}
.pagination-wrapper .page {
    font-family: Corbel,Arial,Verdana,sans-serif;
    font-size: 14px;
}
.pagination-wrapper span.prev, .pagination-wrapper span.next {
    color: #8E8E8E;
    font-family: Corbel,Arial,Verdana,sans-serif;
    padding: 3px;
    text-decoration: none;
}
