#{extends 'layout_operate/layout.html' /}
#{set title:'修改秒杀明细活动' /}
#{get 'moreScripts'}
<script src="@{'/public/javascripts/kindeditor-min.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/lang/zh_CN.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
#{/get}
#{include '/share/nav.html' /}
<div class="body">
#{form @SecKillGoodsItems.update(secKillGoodsItem?.id,seckillId), id:'form',enctype:'multipart/form-data',
class:"form-horizontal", method:'PUT' }
     <input type="hidden" name="id" value="${id}">
    <legend>${title}</legend>
    #{set action:"edit"/}
    #{include '/SecKillGoodsItems/goodsForm.html'/}
#{/form}
</div>


