#{extends 'wap.html' /}
#{set title:'一百券 - 确认退款' /}
<div id="wrap">
    <div id="main-header">
        <h1>确认退款</h1>
    </div>
    <div id="main-back-button">
        <div class="left-triangle"></div>
        <div class="button nav-button left"><a href="javascript:history.go(-1);">返回</a></div>
    </div>
    <div class="message message-success pre-help">
        <p>${coupon.goods.shortName}</p>
    </div>
    <div class="content-title">
        <div class="legend">
            <fleft>退款金额：</fleft>
            <fright>￥${coupon.goods.getResalePrice()}</fright>
            <div class="clear"></div>
        </div>
        <div class="legend">
            <fleft>退款方式</fleft>
            <fright>
                <span class="tip">(3个工作日内) </span>
                原路返回
            </fright>
            <div class="clear"></div>
        </div>
    </div>

#{form @WebUserSinaVouchers.refund(coupon.id),method:'POST'}
    <div class="main-content">
        <button class="button main-button" type="submit">确认退款</button>
    </div>
#{/form}
</div>