#{extends 'main.html' /}
#{set title:'一百券 - 修改资料' /}
#{set 'moreStyles'}
    #{asset.css src:['/u/popup.css', '/y/user/userBase.css', '/y/user/userInfo.css'] /}
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/user.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/common.jq.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
    function oldMobileBlur() {
        $("#showoldtelcheck").html("");
        $("#shownewtelcheck").html("");
    }

    function newMobileBlur() {
        $("#showoldtelcheck").html("");
        $("#shownewtelcheck").html("");
    }
    function bindMobileBlur() {
        $("#err_bind_mobile").html("");
    }
</script>
#{/set}
<div id="content" class="clearfix">
    #{include "share/left.html"/}
    <div class="section">
        #{breadcrumbs/breadcrumb breadcrumbs/}
        <div class="edit-tips">为了最大限度保障您的账户安全，请如实填写以下信息请完善以下资料，这将有助于我们更好的为您服务。</div>
        <form class="userinfo" id="userForm" action="@{UserInfos.update()}" method="POST">
            <ul>
                <li class="clearfix">
                    <label><span class="required">*</span>用户名：</label>
                    <div class="right">${user?.loginName}</div>
                </li>
                <li class="clearfix">
                    <label><span class="required">*</span>真实姓名：</label>
                    <div class="right">
                        <input type="text" tabindex="1" id="realname" name="userInfo.fullName" maxlength="10" class="long-input" value="${userInfo?.fullName}">
                        <span class="error" id="realnamecheck"></span>
                    </div>
                </li>
                <li class="clearfix">
                    <label><span class="required">*</span>性别：</label>
                    <div class="right">
                        <input type="radio" name="userInfo.userSex" class="usersex"
                               value="1" ${(userInfo?.userSex==1 || userInfo?.userSex==0) ?'checked':''} />男
                        <input type="radio" name="userInfo.userSex" class="usersex"
                               value="2" ${userInfo?.userSex==2 ?'checked':''} />女
                        <span class="error" id="showsexcheck"></span>
                    </div>
                </li>
                <li class="clearfix">
                    <label>出生日期：</label>
                    <div class="right">
                        <input class="short-input Wdate" type="text" name="userInfo.birthday" id="birthday" value="${userInfo?.birthday}" onfocus="WdatePicker({readOnly:true})"/>
                        <span class="error" id="showbdaycheck"></span>
                    </div>
                </li>
                <li class="clearfix">
                    <label>手机号码：</label>
                    <div class="right">
                        <input type="text" id="usertel" name="userInfo.mobile" value="${userInfo?.mobile}" class="long-input" readonly="true">
                        #{if userInfo?.mobile ==null || userInfo?.mobile =='' }
                            <button type="button" onclick="$.common.dialog({'id':'bindusertel','title':'绑定手机'});" class="bind-mobile">绑定手机</button>
                        #{/if}
                        #{else}
                            <input type="button" onclick="$.common.dialog({'id':'changeusertel', 'title':'更换手机'});" class="bind-mobile" value="更换号码" />
                        #{/else}
                        <div class="error" id="showphonecheck"></div>
                    </div>
                </li>
                <li class="clearfix">
                    <label>固定电话：</label>
                    <div class="right">
                        <input type="text" id="userphone" class="long-input" name="userInfo.phone" value="${userInfo?.phone}"/>（例：021-12345678）
                        <div class="error" id="showtelcheck"></div>
                    </div>
                </li>
                <li class="clearfix">
                    <label>QQ：</label>
                    <div class="right">
                        <input type="text" id="userqq" name="userInfo.userqq" class="long-input" value="${userInfo?.userqq}"/>
                        <div class="error" id="showqqcheck"></div>
                    </div>
                </li>
                <li class="clearfix">
                    <label>婚姻状况：</label>
                    <div class="right">
                        <input type="radio" name="userInfo.marryState" class="check"
                               value="1" ${userInfo?.marryState==1 ?'checked':''} /> 未婚
                        <input type="radio" name="userInfo.marryState" class="check"
                               value="2" ${userInfo?.marryState==2 ?'checked':''} /> 已婚
                    </div>
                </li>
                <li class="clearfix">
                    <label>行业：</label>
                    <div class="right">
                         #{select 'userInfo.industry', id:'industry', class:'select1', value:userInfo?.industry}
                            #{option "0"}不限#{/option}
                            #{option "1"}&{'userInfo.industry1'}#{/option}
                            #{option "2"}&{'userInfo.industry2'}#{/option}
                            #{option "3"}&{'userInfo.industry3'}#{/option}
                            #{option "4"}&{'userInfo.industry4'}#{/option}
                            #{option "5"}&{'userInfo.industry5'}#{/option}
                            #{option "6"}&{'userInfo.industry6'}#{/option}
                            #{option "7"}&{'userInfo.industry7'}#{/option}
                            #{option "8"}&{'userInfo.industry8'}#{/option}
                            #{option "9"}&{'userInfo.industry9'}#{/option}
                            #{option "10"}&{'userInfo.industry10'}#{/option}
                            #{option "11"}&{'userInfo.industry11'}#{/option}
                            #{option "12"}&{'userInfo.industry12'}#{/option}
                            #{option "13"}&{'userInfo.industry13'}#{/option}
                            #{option "14"}&{'userInfo.industry14'}#{/option}
                            #{option "15"}&{'userInfo.industry15'}#{/option}
                            #{option "16"}&{'userInfo.industry16'}#{/option}
                            #{option "17"}&{'userInfo.industry17'}#{/option}
                            #{option "18"}&{'userInfo.industry18'}#{/option}
                            #{option "19"}&{'userInfo.industry19'}#{/option}
                        #{/select}
                    </div>
                </li>
                <li class="clearfix">
                    <label>职位${userInfo?.position}：</label>
                    <div class="right">
                    #{select 'userInfo.position', id:'position', class:'select1', value:userInfo?.position}
                        #{option "0"}不限#{/option}
                        #{option "1"}&{'userInfo.position1'}#{/option}
                        #{option "2"}&{'userInfo.position2'}#{/option}
                        #{option "3"}&{'userInfo.position3'}#{/option}
                        #{option "4"}&{'userInfo.position4'}#{/option}
                        #{option "5"}&{'userInfo.position5'}#{/option}
                        #{option "6"}&{'userInfo.position6'}#{/option}
                    #{/select}
                    </div>
                </li>
                <li class="clearfix">
                    <label>月薪：</label>
                    <div class="right">
                    #{select 'userInfo.salary', id:'salary', class:'select1',value:userInfo?.salary}
                        #{option "0"}不限#{/option}
                        #{option "1"}&{'userInfo.salary1'}#{/option}
                        #{option "2"}&{'userInfo.salary2'}#{/option}
                        #{option "3"}&{'userInfo.salary3'}#{/option}
                        #{option "4"}&{'userInfo.salary4'}#{/option}
                        #{option "5"}&{'userInfo.salary5'}#{/option}
                        #{option "6"}&{'userInfo.salary6'}#{/option}
                    #{/select}
                    </div>
                </li>
                <li class="clearfix">
                    <label>兴趣爱好：</label>
                    <div class="right">
                        <div class="hobbies clearfix">
                            <input type="hidden" name="interest" id="interest" value="${userInfo?.interest}"/>
                    <span><input name="likeName[]" type="checkbox" value="1" class="check"
                                 #{if userInfo?.interest?.contains(String.valueOf(1))}checked#{/if}/><b>美食</b></span>
                    <span><input name="likeName[]" type="checkbox" value="2" class="check"
                                 #{if userInfo?.interest?.contains(String.valueOf(2))}checked#{/if}/><b>购物</b></span>
                    <span><input name="likeName[]" type="checkbox" value="3" class="check"
                                 #{if userInfo?.interest?.contains(String.valueOf(3))}checked#{/if}/><b>电影</b></span>
                    <span><input name="likeName[]" type="checkbox" value="4" class="check"
                                 #{if userInfo?.interest?.contains(String.valueOf(4))}checked#{/if}/><b>游戏</b></span>
                    <span><input name="likeName[]" type="checkbox" value="6" class="check"
                                 #{if userInfo?.interest?.contains(String.valueOf(6))}checked#{/if}/><b>学习</b></span>
                    <span><input name="likeName[]" type="checkbox" value="7" class="check"
                                 #{if userInfo?.interest?.contains(String.valueOf(7))}checked#{/if}/><b>舞蹈</b></span>
                    <span><input name="likeName[]" type="checkbox" value="8" class="check"
                                 #{if userInfo?.interest?.contains(String.valueOf(8))}checked#{/if}/><b>音乐</b></span>
                    <span><input name="likeName[]" type="checkbox" value="9" class="check"
                                 #{if userInfo?.interest?.contains(String.valueOf(9))}checked#{/if}/><b>网络</b></span>
                    <span><input name="likeName[]" type="checkbox" value="10" class="check"
                                 #{if userInfo?.interest?.contains(String.valueOf(10))}checked#{/if}/><b>园艺</b></span>
                    <span><input name="likeName[]" type="checkbox" value="12" class="check"
                                 #{if userInfo?.interest?.contains(String.valueOf(12))}checked#{/if}/><b>小说</b></span>
                    <span><input name="likeName[]" type="checkbox" value="13" class="check"
                                 #{if userInfo?.interest?.contains(String.valueOf(13))}checked#{/if}/><b>汽车</b></span>
                    <span><input name="likeName[]" type="checkbox" value="14" class="check"
                                 #{if userInfo?.interest?.contains(String.valueOf(14))}checked#{/if}/><b>生活</b></span>
                    <span><input name="likeName[]" type="checkbox" value="15" class="check"
                                 #{if userInfo?.interest?.contains(String.valueOf(15))}checked#{/if}/><b>体育</b></span>
                    <span><input name="likeName[]" type="checkbox" value="11" class="check"
                                 #{if userInfo?.interest?.contains(String.valueOf(11))}checked#{/if}/><b>计算机</b></span>
                    <span><input name="likeName[]" type="checkbox" value="5" class="check"
                                 #{if userInfo?.interest?.contains(String.valueOf(5))}checked#{/if}/><b>美容美发</b></span>
                        </div>
                        <div class="otherlike">其他 <input type="text" id="elselike" name="userInfo.otherInfo" value="${userInfo?.otherInfo}" /></div>
                    </div>
                </li>
                <li class="clearfix btn">
                     <button id="upuserinfobutton" type="button" onClick="setUserInfo()" class="submit-btn">提交</button>
                    <span id="info"> </span>
                </li>
            </ul>


            <div id="changeusertel">
                <div id="layout" class="popup-content" style="width:450px;height:200px;z-index:10000">
                    <ul>
                        <li class="item">
                            <label>旧手机号码：</label>
                            <input id="old_mobile" maxlength="11" type="text" class="input140 inputbg" onblur="oldMobileBlur()"/>
                            <div id="showoldtelcheck"></div>
                        </li>
                        <li class="item">
                            <label>新手机号码：</label>
                            <input type="text" tabindex="2" id="new_mobile" maxlength="11" onblur="newMobileBlur()" class="input140 inputbg"/>
                            <button id="getchangeCode" onClick="getBindCode(2)" type="submit" class="search-btn">获取验证码</button>
                            <div id="shownewtelcheck"></div>
                        </li>
                        <li class="item">
                            <label>输入验证码：</label>
                            <input type="text" id="telcheckcode" tabindex="3"/>
                            <div id="showchangecode"></div>
                        </li>
                        <li class="item btn-box">
                            <button type="submit" onClick="changeTel(1)" class="search-btn">确 认</button>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="bindusertel">
                <div id="layoutbind" class="popup-content" style="width:450px;height:230px">
                    <ul>
                        <li class="item">
                            <label>手机号码：</label>
                            <input type="text" id="bind_mobile" class="input140 inputbg" maxlength="11" onblur="bindMobileBlur()" />
                            <button id="getBindCode" type="submit" class="search-btn" onclick="getBindCode(1)">获取验证码</button>
                            <div id="err_bind_mobile"></div>
                        </li>
                        <li class="item">
                            <label>输入验证码：</label>
                            <input type="text" id="bindcheckcode"/>
                            <button type="submit" onClick="changeTel(2)" class="search-btn">确认</button>
                            <div id="showbindtelcheck" style="float: left;"></div>
                        </li>
                    </ul>
                    <dl class="faq-tips">
                        <dt>使用遇到问题？ 手机收不到校验码，怎么办？</dt>
                        <dd>答：有时经过网关时有可能网络通讯异常造成短信丢失， 如果<br/>出现丢失几条或者延时收到短信，这种情况是属于
                        正常的。<br/>需要您耐心等待一下，或者过会儿再重新试一下。<br/>
                        </dd>
                    </dl>
                </div>
            </div>
        </form>

    </div>
</div>
