#{extends 'main2.html' /}
#{set title:'一百券 - 基本资料' /}
#{set 'moreStyles'}
    #{asset.css src:['/user/130107/user.css', '/user/130107/popup.css'] /}
#{/set}
<div id="content" class="clearfix">
    #{include "share/left.html"/}
    <div class="section">
        #{breadcrumbs/breadcrumb breadcrumbs/}
        <div class="normal-tips">为了最大限度保障您的账户安全，请如实填写以下信息请完善以下资料，这将有助于我们更好的为您服务。</div>
        <form class="form-horizontal" id="userForm" action="@{UserInfos.edit()}" method="get">
            <div class="field">
                <span>用户名：</span>${user?.loginName}
            </div>
            <div class="field">
                <span>真实姓名：</span>${userInfo?.fullName}
            </div>
            <div class="field">
                <span>性别：</span>${(userInfo?.userSex==1 || userInfo?.userSex==0) ?'男':'女'}
            </div>
            <div class="field">
                <span>出生日期：</span>${userInfo?.birthday}
            </div>
            <div class="field">
                <span>手机号码：</span>
                #{if user?.mobile== ""} <button type="submit" class="btn">绑定手机</button>#{/if}
                #{else}${user?.mobile}#{/else}
            </div>
            <div class="field">
                <span>固定电话：</span>${userInfo?.phone}
            </div>
            <div class="field">
                <span>QQ：</span>${userInfo?.userqq}
            </div>
            <div class="field">
                <span>婚姻状况：</span>${userInfo?.marryState==1 ?'未婚':'已婚'}
            </div>
            <div class="field">
                <span>行业：</span>&{'userInfo.industry'+userInfo?.industry}
            </div>
            <div class="field">
                <span>职位：</span>&{'userInfo.position'+userInfo?.position}
            </div>
            <div class="field">
                <span>月薪：</span>&{'userInfo.salary'+userInfo?.salary}
            </div>
            <div class="field">
                <span>兴趣爱好：</span>
                    #{if userInfo?.interest?.contains(String.valueOf(1))}美食#{/if} 
                    #{if userInfo?.interest?.contains(String.valueOf(2))}购物#{/if} 
                    #{if userInfo?.interest?.contains(String.valueOf(3))}电影#{/if} 
                    #{if userInfo?.interest?.contains(String.valueOf(4))}游戏#{/if} 
                    #{if userInfo?.interest?.contains(String.valueOf(6))}学习#{/if} 
                    #{if userInfo?.interest?.contains(String.valueOf(7))}舞蹈#{/if} 
                    #{if userInfo?.interest?.contains(String.valueOf(8))}音乐#{/if} 
                    #{if userInfo?.interest?.contains(String.valueOf(9))}网络#{/if} 
                    #{if userInfo?.interest?.contains(String.valueOf(10))}园艺#{/if} 
                    #{if userInfo?.interest?.contains(String.valueOf(12))}小说#{/if} 
                    #{if userInfo?.interest?.contains(String.valueOf(13))}汽车#{/if} 
                    #{if userInfo?.interest?.contains(String.valueOf(14))}生活#{/if} 
                    #{if userInfo?.interest?.contains(String.valueOf(15))}体育#{/if} 
                    #{if userInfo?.interest?.contains(String.valueOf(11))}计算机#{/if} 
                    #{if userInfo?.interest?.contains(String.valueOf(5))}美容美发#{/if} 
                    ${userInfo?.otherInfo}
            </div>
            <div class="group">
                <button type="submit" class="btn" id="update_Info"> 修 改 </button>
            </div>
        </form>
    </div>
</div>
