#{extends 'main.html' /}
#{set title:'一百券 - 基本资料' /}
#{set 'moreStyles'}
    #{asset.css src:['/u/popup.css', '/y/user/userBase.css', '/y/user/userInfo.css'] /}
#{/set}
<div id="content" class="clearfix">
    #{include "share/left.html"/}
    <div class="section">
        #{breadcrumbs/breadcrumb breadcrumbs/}
        <div class="edit-tips">为了最大限度保障您的账户安全，请如实填写以下信息请完善以下资料，这将有助于我们更好的为您服务。</div>
        <div class="userinfo">
            <ul>
                <form class="userinfo" id="userForm" action="@{UserInfos.edit()}" method="get">
                <li class="clearfix">
                    <label><span class="required">*</span>用户名：</label>
                    <div class="right">${user?.loginName}</div>
                </li>
                <li class="clearfix">
                    <label><span class="required">*</span>真实姓名：</label>
                    <div class="right">${userInfo?.fullName}</div>
                </li>
                <li class="clearfix">
                    <label><span class="required">*</span>性别：</label>
                    <div class="right">${(userInfo?.userSex==1 || userInfo?.userSex==0) ?'男':'女'}</div>
                </li>
                <li class="clearfix">
                    <label>出生日期：</label>
                    <div class="right">${userInfo?.birthday}</div>
                </li>
                <li class="clearfix">
                    <label>手机号码：</label>
                    <div class="right">#{if userInfo?.mobile== ""}<button type="submit" class="submit-btn">绑定手机</button>#{/if}#{else}${userInfo?.mobile}#{/else}</div>
                </li>
                <li class="clearfix">
                    <label>固定电话：</label>
                    <div class="right">${userInfo?.phone}</div>
                </li>
                <li class="clearfix">
                    <label>QQ：</label>
                    <div class="right">${userInfo?.userqq}</div>
                </li>
                <li class="clearfix">
                    <label>婚姻状况：</label>
                    <div class="right">${userInfo?.marryState==1 ?'未婚':'已婚'}</div>
                </li>
                <li class="clearfix">
                    <label>行业：</label>
                    <div class="right">&{'userInfo.industry'+userInfo?.industry}</div>
                </li>
                <li class="clearfix">
                    <label>职位：</label>
                    <div class="right">&{'userInfo.position'+userInfo?.position}</div>
                </li>
                <li class="clearfix">
                    <label>月薪：</label>
                    <div class="right">&{'userInfo.salary'+userInfo?.salary}</div>
                </li>
                <li class="clearfix">
                    <label class="h70">感兴趣喜好：</label>
                    <div class="right">
                    <span>#{if userInfo?.interest?.contains(String.valueOf(1))}美食#{/if}</span>
                        <span>#{if userInfo?.interest?.contains(String.valueOf(2))}购物#{/if}</span>
                        <span>#{if userInfo?.interest?.contains(String.valueOf(3))}电影#{/if}</span>
                        <span>#{if userInfo?.interest?.contains(String.valueOf(4))}游戏#{/if}</span>
                        <span>#{if userInfo?.interest?.contains(String.valueOf(6))}学习#{/if}</span>
                        <span>#{if userInfo?.interest?.contains(String.valueOf(7))}舞蹈#{/if}</span>
                        <span>#{if userInfo?.interest?.contains(String.valueOf(8))}音乐#{/if}</span>
                        <span>#{if userInfo?.interest?.contains(String.valueOf(9))}网络#{/if}</span>
                        <span>#{if userInfo?.interest?.contains(String.valueOf(10))}园艺#{/if}</span>
                        <span>#{if userInfo?.interest?.contains(String.valueOf(12))}小说#{/if}</span>
                        <span>#{if userInfo?.interest?.contains(String.valueOf(13))}汽车#{/if}</span>
                        <span>#{if userInfo?.interest?.contains(String.valueOf(14))}生活#{/if}</span>
                        <span>#{if userInfo?.interest?.contains(String.valueOf(15))}体育#{/if}</span>
                        <span>#{if userInfo?.interest?.contains(String.valueOf(11))}计算机#{/if}</span>
                        <span>#{if userInfo?.interest?.contains(String.valueOf(5))}美容美发#{/if}</span>
                    </div>
                </li>

                <li class="clearfix btn">
                    <button type="submit" class="submit-btn" id="update_Info"> 修 改 </button>
                </li>
                </form>
            </ul>
        </div>
</div>
</div>
