#{extends 'main.html' /}
#{set title:'一百券 - 我的积分' /}
#{set 'moreStyles'}
    #{asset.css src:['/y/user/userBase.css', '/y/user/userPoints.css'] /}
#{/set}

#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
<script>
    $(function () {
        $("#pointNumber").click(function () {
            $('#couponsFrm').submit();
        });
   });
</script>
#{/set}
<div id="content" class="clearfix">
    #{include "share/left.html"/}
    <div class="section">
        #{breadcrumbs/breadcrumb breadcrumbs/}
        <div class="user-account">
            账户：<strong>${user?.loginName}</strong> 积分：<span>${user?.userInfo?.totalPoints}</span>
        </div>

        <form class="form-horizontal" id="couponsFrm" action="@{UserPoints.index()}" method="GET">
        <div class="search-box">
            <label>操作类型：</label>
            #{select 'condition.pointNumber', id:'pointNumber',
                class:'sequence-flag', value:pointNumber}
                #{option ''}不限#{/option}
                #{list items:configList, as:'config'}
                    #{option config?.pointNumber}${config?.pointTitle}#{/option}
                #{/list}
            #{/select}
            <label>操作时间：</label>
            <input class="Wdate" type="text" name="condition.createdAtBegin" id="createdAtBegin" value="" onfocus="WdatePicker({readOnly:true})" />
            -
            <input class="Wdate" type="text" id="createdAtEnd" name="condition.createdAtEnd" value="" onfocus="WdatePicker({readOnly:true})" />
            <button class="search-btn" id="search"> 搜　索 </button>
        </div>
        </form>
        <table class="order-tab">
            <thead>
                <tr class="col-name">
                    <th width="160">操作时间</th>
                    <th width="160">获得积分</th>
                    <th width="160">使用积分</th>
                    <th width="160">当前积分</th>
                    <th width="154">操作类型</th>
                </tr>
            </thead>
            #{paginate.list items:pointList, as:'point'}
            <tbody>
                <tr class="sep-row"><td colspan="5"></td></tr>
                <tr class="order-bd">
                    <td>${point?.createdAt?.format()}</td>
                    <td class="get-integral">${point?.dealType=='1' ? point?.dealPoints:''}</td>
                    <td class="use-integral">${point?.dealType=='0'? point?.dealPoints:''}</td>
                    <td class="current-integral">${point?.currentPoints}</td>
                    <td> ${point?.getPointTitle()}</td> 
                </tr>
            </tbody>
            #{/paginate.list}
        </table>
        <div class="pagination">
            <ul>#{paginate.controls items:pointList /}</ul>
        </div>
    </div><!-- .section -->
</div>

*{
<div class="wrap clearfix">
    #{include "share/left.html"/}
    <div class="section">
        #{breadcrumbs/breadcrumb breadcrumbs/}
        <div class="tab_top2">账号：${user?.loginName} &nbsp;&nbsp;&nbsp;&nbsp;  积分：${user?.userInfo?.totalPoints}</div>
        <div class="tab_top2">
            <form class="form-horizontal" id="couponsFrm" action="@{UserPoints.index()}" method="GET">
                 <table width="774" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="65" align="right">操作时间：</td>
                        <td width="240" height="35"><input class="short_input Wdate" type="text"
                            name="condition.createdAtBegin" id="createdAtBegin" value="${createdAtBegin?.format()}"
                            onfocus="WdatePicker({readOnly:true})" /> - <input class="short_input Wdate" type="text"
                            id="createdAtEnd" name="condition.createdAtEnd" value="${createdAtEnd?.format()}"
                            onfocus="WdatePicker({readOnly:true})" /></td>
                        <td width="65">操作类型：</td>
                        <td width="160">
                            <div class="pos_abs">#{select 'condition.pointNumber', id:'pointNumber',
                                class:'dingdan_stauts_bg', value:pointNumber} 
                                #{option ''}不限#{/option}
                                #{list items:configList, as:'config'}
                                    #{option config?.pointNumber}${config?.pointTitle}#{/option}
                                #{/list}
                                #{/select}</div>
                        </td>
                        <td width="230"><button class="search-btn" id="search"> 搜　索 </button></td>
                    </tr>
                </table>
            </form>
            <table class="order-tab" cellpadding="0" cellspacing="0">
                <thead>
                    <tr class="col-name">              
                        <th width="200">操作时间</th>
                        <th width="150">获得积分 </th>
                        <th width="150">使用积分</th>
                        <th width="150">当前积分</th>
                        <th width="120">操作类型</th>
                    </tr>
                </thead>
                #{paginate.list items:pointList, as:'point'}
                <tr class="order-bd">
                    <td>${point?.createdAt?.format()}</td>
                    <td>${point?.dealType=='1' ? point?.dealPoints:''}</td>
                    <td>${point?.dealType=='0'? point?.dealPoints:''}</td>
                    <td>${point?.currentPoints}</td>
                    <td> ${point?.getPointTitle()}</td> 
                </tr>
                #{/paginate.list}
            </table>
            <div class="pagination">
                <ul>#{paginate.controls items:pointList /}
                </ul>
            </div>
        </div>
    </div>
</div>
}*
