#{extends 'main.html' /}
#{set title:'优惠啦 - 确认付款' /}
#{set 'moreStyles'}
<link href="@@{'/public/stylesheets/payment_info.css'}" rel="stylesheet" type="text/css"/>
#{/set}
#{set 'moreScripts'}
<script src="@@{'/public/javascripts/payment_info.js'}"></script>
#{/set}

<div id="full_bg"></div>
<div id="payment_result">
    <div style="text-align:center;">
        <a href="#" onclick="close_result_dialog();">关闭</a><br/><br/>
        #{if order}
            <a href="/payment_info/${order.id}">遇到问题，重新选择付款信息</a>&nbsp;&nbsp;&nbsp;&nbsp;
        #{/if}
        <a href="#">完成付款，查看结果</a>
    </div>
</div>
<div id="wrap_main">
    <div id="wrap_top">
    #{include "share/topNavigator.html"/}
    </div>

    <div id="wrap_top_header">
        <div id="wrap_top_header_left"><img src="@{'/public/images/logo.jpg'}"/></div>
        <div id="wrap_top_middle">券生活-惠生活</div>
    </div>
    <div style="clear:both"></div>
    <div class="fen_g"></div>
</div>
<!--主体内容部分-->
<div id="wrap_content">
    <div class="div_step_title">
        <div class="div_step_text_4">1</div>
        <div class="div_step_text_1">查看购物车 <span>>></span></div>

        <div class="div_step_3">2</div>
        <div class="div_step_text_1">确认订单信息<span>>></span></div>

        <div class="div_step_2">3</div>
        <div class="div_step_text_2">确认付款信息<span class="no_xiuzhen">>></span></div>
        <div class="div_step_3">4</div>
        <div class="div_step_text_1">成功</div>
    </div>
#{if order}
    #{if order.status == models.order.OrderStatus.PAID}
    <div>恭喜您付款成功</div>
    #{/if}
#{else }
    <div>已选择 ${paymentSource.name} 支付 ${order.discountPay} 元</div>

    #{form @payIt(), target:"_blank", id: "pay_it_form"}
    <input name="paymentCode" value="${paymentSource.code}" type="hidden"/>
        <input name="orderId" value="${order.id}" type="hidden"/>
        <input type="submit" value="确认支付" id="confirm_pay_it"/>
    #{/form}

    <script type="text/javascript">
        $(window).load(
                function(){
                    $(window).scroll(function(){reset_result_dialog()});
                    $(window).resize(function(){reset_result_dialog()});

                    $("#confirm_pay_it").click(function(){
                        $("#full_bg").css({display:"block"});
                        reset_result_dialog();
                        $(this).attr("disabled","disabled");
                        $("#pay_it_form").submit();
                    });

                });
    </script>


#{/else}


#{/if}

#{if !order}
<div style="padding:20px auto">
    对不起，找不到您所需要的订单:(
</div>
#{/if}

</div>
