#{extends 'main.html' /}
#{set title:'优惠啦 - 确认付款' /}
#{set 'moreStyles'}
    #{asset.css src:['/r/base.css', '/r/carts.css'] /}
#{/set}
#{set 'moreScripts'}
<script src="@@{'/public/javascripts/payment_info.js'}"></script>
#{/set}

<div id="full_bg"></div>
<div id="payment_result">
    <a class="close" href="#" onclick="close_result_dialog();">关闭</a><br/><br/>
    <div class="pay-tips">付款完成前请不要关闭此窗口。完成付款后请根据你的情况点击下面的按钮：</div>
    #{if order}
        <a class="repay" href="/payment_info/${order.id}">遇到问题？</a>
    #{/if}
        <a class="payed" href="#">已完成付款</a>
</div>
<!--主体内容部分-->
<div id="content">
#{if order}
    #{if order.status == models.order.OrderStatus.PAID}
    <div class="pay-success">恭喜您付款成功</div>
    #{/if}
#{else }
    <div>已选择 ${paymentSource.name} 支付 ${order.discountPay} 元</div>

    #{form @payIt(), target:play.Play.runingInTestMode() ? "_self" : "_blank", id: "pay_it_form"}
    <input name="paymentCode" value="${paymentSource.code}" type="hidden"/>
        <input name="orderId" value="${order.id}" type="hidden"/>
        <input type="submit" value="确认支付" id="confirm_pay_it"/>
    #{/form}

<script type="text/javascript">
$(window).load(function(){
    $(window).scroll(function(){reset_result_dialog()});
    $(window).resize(function(){reset_result_dialog()});

    $("#confirm_pay_it").click(function(){
        $("#full_bg").css({display:"block"});
        reset_result_dialog();
        $(this).attr("disabled","disabled");
        $("#pay_it_form").submit();
        return false;

    });
});
</script>
#{/else}


#{/if}

#{if !order}
<div style="padding:20px auto">
    对不起，找不到您所需要的订单 :(
</div>
#{/if}

</div>
