#{extends 'main.html' /}
#{set title:'优惠啦 - 确认付款' /}
#{set 'moreStyles'}
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">
    #{asset.css src:['/r/base.css', '/r/carts.css'] /}
#{/set}
#{set 'moreScripts'}
<script src="@@{'/public/javascripts/payment_info.js'}"></script>
<script type="text/javascript">
    $(window).load(function(){
        $("#confirm").click(function(){$("#confirm_form").submit()});
        $("#use_balance").click(function(){
            if($(this).attr("checked") == "checked"){
                $("#confirm-pay").attr("disabled",false);
            }else{
                $("#confirm-pay").attr("disabled",true);
            }
        });
    });
</script>

#{/set}

<div id="full_bg"></div>
<div id="payment_result">
    <div style="text-align:center;">
        <a href="#" onclick="close_result_dialog();">关闭</a><br/><br/>
        <a href="#">遇到问题，重新选择付款信息</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">完成付款，查看结果</a>
    </div>
</div>
<div id="content">
#{if order}
    #{form @confirm() , id:"confirm_form"}
    <input type="hidden" value="${order.orderNumber}" name="orderNumber"/>
    <ol class="buy-step step3 clearfix">
        <li><span>1</span>查看订单信息 <em>>></em></li>
        <li><span>2</span>确认付款 <em>>></em></li>
        <li class="buy-step-curr"><span>3</span>成功提交订单 <em>>></em></li>
    </ol>
    <div id="balance-pay" class="clearfix">
        <div id="order-box" class="clearfix">
            <div class="order-num">共有 ${goodsNumber} 件商品</div>
            <div class="pay-num">定金金额 <strong>${order.amount.formatCurrency('CNY')}</strong> 元</div>
        </div>
        <div id="account-box">
            <div class="account">您的账号：<strong>${user.loginName}</strong></div>
            <div class="balance">可用余额：<span class="">${account.amount.formatCurrency('CNY')}</span>元</div>
        </div>
        *{只有一种情况不显示用余额付款的选项:订单金额大于0,并且账户余额是0}*
        #{if !(order.needPay.compareTo(BigDecimal.ZERO) > 0 && account.amount.compareTo(BigDecimal.ZERO) == 0)}
        <div id="payment">
            <input type="checkbox" name="useBalance" id="use_balance"
                #{if order.needPay.compareTo(BigDecimal.ZERO) == 0} checked disabled #{/if}
                    /> 用余额付款
            <span>${account.amount.min(order.needPay)}</span>元。
            #{if account.amount.compareTo(order.needPay) < 0}
            剩余 <strong>${order.needPay.subtract(account.amount)}</strong> 元可选择其他付款方式付款。
            #{/if}
        </div>

        <button id="confirm-pay" type="submit" #{if order.needPay.compareTo(BigDecimal.ZERO) > 0} disabled #{/if} >确认付款</button>
        #{/if}
    </div><!-- #balance-pay END-->
    #{if order.needPay.compareTo(BigDecimal.ZERO) > 0 }
    <div id="other-pay">
        <h3>您可以使用其他方式付款</h3>
        <ul class="zhifu clearfix">
            <li>
                <input name="paymentSourceCode" type="radio" checked="checked" id="alipay" value="alipay"/>
                <label for="alipay"><img src="@{'/public/images/pay_icon/zhifubao_pay.jpg'}"/></label>
            </li>
            <li>
                <input name="paymentSourceCode" type="radio" id="tenpay" value="tenpay"/>
                <label for="tenpay"><img src="@{'/public/images/tenpay/tenpay.png'}"/></label>
            </li>
        </ul>
        <h4>快钱：</h4>
        <ul class="kuaiqian clearfix">
          #{list items:paymentSources, as:'payment'}
          #{if payment.paymentCode =='99bill'}
              <li>
                  <input type="radio" name="paymentSourceCode" id="${payment.code}" value="${payment.code}"/>
                  <label for="${payment.code}"><img src="/public/${payment.logo}"/></label>
              </li>
         #{/if}
          #{/list}
        </ul>
        <div class="buttom_queren"><a class="suc_ok_bg" href="#" id="confirm" >下一步</a></div>
    </div><!-- #other-pay END-->
    #{/if}
    #{/form}
#{/if}
#{if !order}
    <div style="padding:20px auto">对不起，找不到您所需要的订单 :( </div>
#{/if}
</div>
