#{if ecoupon == null}
<font color=red>对不起，没有该券的信息!</font>
#{/if}
#{else}
    #{if ecouponStatusDescription != null }
    <font color=red>${ecouponStatusDescription}<br></font>
    <script type="text/javascript">
        $("#sure").attr("disabled", true);
    </script>
    券编号: ${ecoupon.eCouponSn}<br/>
    商品名称: ${ecoupon.goods.title}<br/>
        #{if ecoupon.consumedAt != null}
        消费日期：${ecoupon.consumedAt?.format('yyyy-MM-dd HH:mm:ss')}<br/>
        验证门店：${ecoupon.shop?.name}<br/>
        验证方式：&{'coupon.'+ecoupon.verifyType}<br/>
        验证人：${ecoupon.supplierUser?.userName}<br/>
        #{/if}
        #{if ecoupon.refundAt != null}
        退款日期：${ecoupon.refundAt?.format('yyyy-MM-dd HH:mm:ss')}
        #{/if}
        #{if ecoupon.expireAt != null}
        截止日期：${ecoupon.expireAt?.format('yyyy-MM-dd HH:mm:ss')}
        #{/if}
    #{/if}
    #{elseif !isSingle && ecoupons?.size() >= 1 }
    <script type="text/javascript">
        $("#sure").attr("disabled", true);
    </script>
    <p>券状态:未消费<br/>
        券编号: ${ecoupon.eCouponSn}<br/>
        商品名称: ${ecoupon.goods.title}<br/>
        原价:<h3 style="display: inline;">${ecoupon.goods.faceValue}</h3>元<br/>
    可用券张数：<h3 style="display: inline;">${ecoupons.size()}</h3><br/>
    可用金额：<h3 style="display: inline;">${amount}</h3><br/>
    <font color="red">请输入需要验证的金额，请勿多输以免引起客户投诉。</font><br/></p>
    #{/elseif}
    #{else}
    <script type="text/javascript">
        $("#sure").attr("disabled", false);
    </script>
    <p>券状态:未消费<br/>
        券编号: ${ecoupon.eCouponSn}<br/>
        原价:${ecoupon.goods.faceValue}元<br/>
        商品名称: ${ecoupon.goods.title} <br/>
        截止日期:${ecoupon.expireAt?.format('yyyy-MM-dd HH:mm:ss')}  </p>
    #{/else}
#{/else}
