#{layout_operate.selectField name:'block.type', value:block?.type, error:'block.type',
class:'span2'}
    #{option models.cms.BlockType.WEBSITE_SLIDE}&{'block.WEBSITE_SLIDE'}#{/option}
    #{option models.cms.BlockType.DAILY_SPECIAL}&{'block.DAILY_SPECIAL'}#{/option}
#{/layout_operate.selectField}
#{layout_operate.textField name:'block.title', value:block?.title, required:true/}
#{layout_operate.textField name:'block.link', value:block?.link, required:true/}
#{if "add".equals(action)}
    #{layout_operate.fileField name:'image', required:true/}
#{/if}
#{else}
    #{layout_operate.fileField name:'image'/}
<div class="control-group">
    <label for='levelPrices_${level}' class="control-label"> </label>

    <div class="controls">(修改前)<br/><img src="${block.getShowImageUrlMiddle()}"/></div>
</div>
#{/else}
#{layout_operate.textField name:'block.displayOrder', value:block?.displayOrder, required:true/}
#{layout_operate.dateScopeField name:'block.effective', begin:'block.effectiveAt',end:'block.expireAt',
beginValue:block?.effectiveAt?.format(), endValue:block?.expireAt?.format(), required:true/}
#{layout_operate.htmlField name:'block.content', value:block?.content, required:true/}
<div class="form-actions">
    <input class="btn btn-primary" id="save" type="submit" value="保存"/>
#{if "edit".equals(action)}
    #{vx.cancelButton url:'/blocks', class:'btn btn-primary'/}
#{/if}
</div>
