#{extends 'layout_operate/layout.html' /}
#{set title:'内容块一览' /}
#{include '/share/nav.html' /}

<div class="body">
    <legend>${title}</legend>
    <form class="form-horizontal" name="frmlist" id="frmlist" action="@{CmsBlocks.index()}" method="GET">
        <table width="100%">
            <tr>
                <td width="30%">&{'block.type'}：
                #{select 'type', id:'type', class:'input-middle', value:type}
                    #{option "null"}不限#{/option}
                    #{option models.cms.BlockType.WEBSITE_SLIDE}&{'block.WEBSITE_SLIDE'}#{/option}
                    #{option models.cms.BlockType.DAILY_SPECIAL}&{'block.DAILY_SPECIAL'}#{/option}
                    #{option models.cms.BlockType.WEBSITE_RIGHT_SLIDE}&{'block.WEBSITE_RIGHT_SLIDE'}#{/option}
                    #{option models.cms.BlockType.WEBSITE_SUPPLIER}&{'block.WEBSITE_SUPPLIER'}#{/option}
                    #{option models.cms.BlockType.WEBSITE_1F}&{'block.WEBSITE_1F'}#{/option}
                    #{option models.cms.BlockType.WEBSITE_2F}&{'block.WEBSITE_2F'}#{/option}
                    #{option models.cms.BlockType.JUMP_TO_OUTER}&{'block.JUMP_TO_OUTER'}#{/option}
                #{/select}</td>
                <td>
                    <button class="btn btn-primary" id="searchbtn" type="submit">搜索</button>
                </td>
            </tr>
        </table>
    </form>
    <form class="form-horizontal" name="deletefrm" id="deletefrm">
    #{vx.tab name:'block',enumItems: models.cms.BlockType,
    select:'type',value:type/}
        <table class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th>&{'block.displayOrder'}</th>
                <th>&{'block.title'}</th>
                <th>&{'block.link'}</th>
                <th>&{'block.type'}</th>
                <th>&{'block.effectiveAt'}</th>
                <th>&{'block.expireAt'}</th>
                <th>当天/总计链接点击数</th>
                <th>操 作</th>
            </tr>
            </thead>

            <tbody>
            #{paginate.list items:blockPage, as:'block'}
            <tr>
                <td>${block?.displayOrder}</td>
                <td><img src="${block?.showImageUrlTiny}"/> ${block?.title}</td>
                <td><a href="${block?.link}" target="_blank">${block?.link}</a></td>
                <td>&{'block.'+block?.type}</td>
                <td>${block?.effectiveAt?.format('yyyy-MM-dd')}</td>
                <td>${block?.expireAt?.format('yyyy-MM-dd')}</td>
                <td>${block?.todayClickedCount()}/${block?.totalClickedCount()}</td>
                <td><a href="@{CmsBlocks.edit(block.id)}">修改</a>
                    / #{vx.deleteLink action:"blocks", id:block.id, name:block.title/}
            </tr>
            #{/paginate.list}
            </tbody>
        </table>
    </form>
    <div class="pagination" align="center">
        <ul>
        #{paginate.controls items:blockPage /}
        </ul>
    </div>
</div>
