#{extends 'main.html' /}
#{set title:'提现申请' /}
#{set 'moreStyles'}
<link href="@{'/public/stylesheets/my_good.css'}" rel="stylesheet" type="text/css"/>
<link href="@{'/public/stylesheets/user-center.css'}" rel="stylesheet" type="text/css"/>
#{/set}

<!--主体内容部分-->
<div class="wrap clearfix">
    #{include "share/left.html"/}
    <div class="section">
        #{breadcrumbs/breadcrumb breadcrumbs/}
        <div class="tab_top"><span id="addressTitle">申请提现</span></div>

        <div class="tab_top2" style="border:1px solid lightGrey;padding-bottom:10px;">
            #{form @create()}
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="right" width="100px">开户名</td>
                    <td align="left" style="padding-left:20px;">
                        <input type="text" class="long_input" name="withdraw.userName" value="${withdraw?.userName}">
                        <span class="font_red">*</span>
                        <span class="error">#{error 'withdraw.userName'/}</span>
                    </td>
                </tr>
                <tr>
                    <td align="right" width="100px">选择银行</td>
                    <td align="left" style="padding-left:20px">
                        <select name="withdraw.bankName" class="dingdan_stauts_bg">
                            <option value="招商银行">招商银行</option>
                            <option value="中国工商银行">中国工商银行</option>
                            <option value="中国建设银行">中国建设银行</option>
                        </select>
                        <span class="error">#{error 'withdraw.bankName'/}</span>
                    </td>
                </tr>
                <tr>
                    <td align="right" width="100px">银行所在城市</td>
                    <td align="left" style="padding-left:20px">
                        上海
                        <input type="hidden" name="withdraw.bankCity" class="long_input" value="上海">
                        <span class="error">#{error 'withdraw.bankCity'/}</span>
                    </td>
                </tr>
                <tr>
                    <td align="right" width="100px">支行</td>
                    <td align="left" style="padding-left:20px">
                        <input type="text" name="withdraw.subBankName" class="long_input" value="${withdraw?.subBankName}">
                        <span class="font_red">*</span>
                        <span class="error">#{error 'withdraw.subBankName'/}</span>
                    </td>
                </tr>
                <tr>
                    <td align="right" width="100px">银行卡号</td>
                    <td align="left" style="padding-left:20px">
                        <input type="text" name="withdraw.cardNumber" class="long_input" value="${withdraw?.cardNumber}">
                        <span class="font_red">*</span>
                        <span class="error">#{error 'withdraw.cardNumber'/}</span>
                    </td>
                </tr>
                <tr>
                    <td align="right" width="100px">提现金额</td>
                    <td align="left" style="padding-left:20px">
                        <input type="text" name="withdraw.amount" class="long_input" value="${withdraw?.amount}">
                        <span class="font_red">*</span>
                        余额:${account?.amount}元,最少提现10元!
                        <span class="error">#{error 'withdraw.amount'/}</span>
                    </td>
                </tr>
                <tr>
                    <td align="right" width="100px"></td>
                    <td align="left" style="padding-left:20px">
                        <input type="submit" value="申请" class="search-btn">
                    </td>
                </tr>
            </table>
            #{/form}
        </div>
        <div class="apply-tips">
            <h4>取款费率说明：</h4>
            <ol>
                <li>1、向上海地区个人账号转账：一个工作日内到账，不收手续费</li>
                <li>2、向其他地区个人账号转账：（非上海地区为异地）</li>
            </ol>
            <table cellpadding="0" cellspacing="0" border="1">
                <thead>
                <tr>
                    <th width="80">银行名称</th>
                    <th width="180">到账时间</th>
                    <th width="320">提款手续费（此手续费实为银行收取）</th>
                </tr>
                </thead>
                <tbody>
                <!-- <tr> -->
                    <!-- <td>招商银行</td> -->
                    <!-- <td>24小时到账（银行系统正常） </td> -->
                    <!-- <td>异地按照0.25%收取，最低5元，最高25元</td> -->
                <!-- </tr> -->
                <tr>
                    <td>建设银行</td>
                    <td>24小时到账（银行系统正常） </td>
                    <td>异地按照1%收取，最低10元，最高50元</td>
                </tr>
                <tr>
                    <td>工商银行</td>
                    <td>24小时到账（银行系统正常） </td>
                    <td>异地按照1%收取，最低10元，最高50元</td>
                </tr>
                </tbody>
            </table>
            <h4>温馨提示：</h4>
            <ol>
                <li>1、为了保障您的资金安全，您的提款申请需要我们的财务人员核对，核对无误后通过人工办理汇款。</li>
                <li>2、因为需要手工处理您的提款要求，10元以下的提款我们暂不接受。</li>
                <li>3、若五个工作日内款还没划到您的账户上，请及时与本站工作人员联系。400-6262-166。</li>
                <li>4、提款周一至周五每日处理，法定节假日除外。工作日17点前申请提款，当日处理；17点后申请的提款，次日处理。</li>
            </ol>
        </div><!-- .apply-tips END -->
    </div>
</div>
