#{extends 'main.html' /}
#{set title:'提现申请' /}
#{set 'moreStyles'}
<link href="@{'/public/stylesheets/my_good.css'}" rel="stylesheet" type="text/css"/>
<link href="@{'/public/stylesheets/user-center.css'}" rel="stylesheet" type="text/css"/>
<style type="text/css">
.nav {
    margin-left: 0;
    margin-bottom: 18px;
    list-style: none;
}
.nav li a {
    display: block;
}
.nav li a:hover {
    text-decoration: none;
    background-color: #eeeeee;
}
.nav .nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}
.nav li + .nav-header {
    margin-top: 9px;
}
.nav-list {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
}
.nav-list li  a,
.nav-list .nav-header {
    margin-left: -15px;
    margin-right: -15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav-list li a {
    padding: 3px 15px;
}
.nav-list .active a,
.nav-list .active a:hover {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #0088cc;
}
.nav-list [class^="icon-"] {
    margin-right: 2px;
}
.nav-list .divider {
    height: 1px;
    margin: 8px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
    *width: 100%;
    *margin: -5px 0 5px;
}
.nav-tabs,
.nav-pills {
    *zoom: 1;
}
.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
    display: table;
    content: "";
}
.nav-tabs:after,
.nav-pills:after {
    clear: both;
}
.nav-tabs li,
.nav-pills li {
    float: left;
}
.nav-tabs li  a,
.nav-pills li  a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.nav-tabs li {
    margin-bottom: -1px;
}
.nav-tabs li a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 18px;
    border: 1px solid transparent;
    _border: 1px solid #fff;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.nav-tabs li a:hover {
    border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs .active a,
.nav-tabs .active a:hover {
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
.nav-pills li a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.nav-pills .active a,
.nav-pills .active a:hover {
    color: #ffffff;
    background-color: #0088CC;
}
.nav-stacked li {
    float: none;
}
.nav-stacked li a {
    margin-right: 0;
}
.nav-tabs.nav-stacked {
    border-bottom: 0;
}
.nav-tabs.nav-stacked li a {
    border: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.nav-tabs.nav-stacked li:first-child a {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.nav-tabs.nav-stacked li:last-child a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.nav-tabs.nav-stacked li a:hover {
    border-color: #ddd;
    z-index: 2;
}
.nav-pills.nav-stacked li a {
    margin-bottom: 3px;
}
.nav-pills.nav-stacked li:last-child a {
    margin-bottom: 1px;
}
.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu {
    margin-top: 1px;
    border-width: 1px;
}
.nav-pills .dropdown-menu {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.nav-tabs .dropdown-toggle .caret,
.nav-pills .dropdown-toggle .caret {
    border-top-color: #0088cc;
    border-bottom-color: #0088cc;
    margin-top: 6px;
}
.nav-tabs .dropdown-toggle:hover .caret,
.nav-pills .dropdown-toggle:hover .caret {
    border-top-color: #005580;
    border-bottom-color: #005580;
}
.nav-tabs .active .dropdown-toggle .caret,
.nav-pills .active .dropdown-toggle .caret {
    border-top-color: #333333;
    border-bottom-color: #333333;
}
.nav .dropdown.active a:hover {
    color: #000000;
    cursor: pointer;
}
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav  .open.active  a:hover {
    color: #ffffff;
    background-color: #999999;
    border-color: #999999;
}
.nav .open .caret,
.nav .open.active .caret,
.nav .open a:hover .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
    opacity: 1;
    filter: alpha(opacity=100);
}
.order-tab td {
    padding: 5px 0;
}
</style>
#{/set}

<div class="wrap clearfix">
    #{include "share/left.html"/}
    <div class="section">
        #{breadcrumbs/breadcrumb breadcrumbs/}
        <form action="@{Withdraw.index()}" method="GET" id="form" style="display:none">
            #{select 'condition.status',id:'condition_status',value:condition?.status}
            #{option ""}全部#{/option}
            #{option "APPLIED"}&{'withdraw.APPLIED'}#{/option}
            #{option "SUCCESS"}&{'withdraw.SUCCESS'}#{/option}
            #{option "REJECTED"}&{'withdraw.REJECTED'}#{/option}
            #{/select}
        </form>
        #{vx.tab
        name:'withdraw',
        enumItems: models.accounts.WithdrawBillStatus,
        select:'condition_status',
        value:condition.status,
        form:'form'/}
        <div style="float:right;margin-top:-28px;background-color: #25b4ab; padding:4px;">
            <a  href="/withdraw/apply" style="color: white">申请提现</a>
        </div>
        <div style="clear: both"></div>
        <div class="tab_top2">
            #{if billPage.size() == 0}
            暂无提现申请记录
            #{/if}
            #{else}
            <table class="order-tab" cellpadding="0" cellspacing="0" style="width:100%">
                <tr class="col-name">
                    <th>申请时间</th>
                    <th>收款人</th>
                    <th>银行</th>
                    <th>银行卡号</th>
                    <th>申请金额</th>
                    <th>申请状态</th>
                    <th>操作</th>
                </tr>
                #{paginate.list items:billPage, as:'withdrawBill'}
                <tr align="center">
                    <td>${withdrawBill.appliedAt.format('yyyy-MM-dd HH:mm:ss')}</td>
                    <td>${withdrawBill.userName}</td>
                    <td>${withdrawBill.bankName}</td>
                    <td>${withdrawBill.cardNumber}</td>
                    <td>${withdrawBill.amount.formatCurrency('CNY')}</td>
                    <td>&{'withdraw.' + withdrawBill.status}</td>
                    <td><a href="/withdraw/detail/${withdrawBill.id}">查看详情</a></td>
                </tr>
                #{/paginate.list}
            </table>
            #{/else}
        </div>
    </div>
</div>
