#{extends 'main2.html' /}
#{set title:'我的抵用券' /}
#{set 'moreStyles'}
    #{asset.css src:['/y/user/userBase.css','/y/user/userVoucher.css'] /}
#{/set}

<div id="content" class="clearfix">
#{include "share/left.html"/}
    <div class="section">
    #{breadcrumbs/breadcrumb breadcrumbs/}
        <div class="user-account">
        #{include "share/userAccount.html"/}
        </div>
        <div class="voucher">

        <h3>我的抵用券</h3>
        <div class="tips">抵用券只可用于消费，不能用于充值和提现。<a class="how-to-use" href="${helper.Domain.getWWWHost(request)}/help" target="_blank">抵用券怎么用？</a></div>
        <table class="table">
            <thead>
            <tr class="col-name">
                <th width="190">抵用券编号</th>
                <th>抵用券名称</th>
                <th width="50">面值</th>
                <th width="120">过期时间</th>
                <th width="120">激活时间</th>
                <th width="50">状态</th>
            </tr>
            </thead>
            <tbody>
            #{paginate.list items:voucherList, as:'voucher'}
                <tr>
                    <td>${voucher.serialNo}</td>
                    <td>${voucher.name}</td>
                    <td style="text-align: right">${voucher.value.formatCurrency('CNY')}</td>
                    <td>${voucher.expiredAt.format('yyyy-MM-dd HH:mm:ss')}</td>
                    <td>${voucher.assignedAt.format('yyyy-MM-dd HH:mm:ss')}</td>
                    #{if voucher.order}
                        <td>已使用</td>
                    #{/if}
                    #{else}
                        <td>未使用</td>
                    #{/else}
                </tr>
                #{/paginate.list}
                </tbody>
            </table>
            <div class="pagination">
                <ul>
                #{paginate.controls items:voucherList /}
                </ul>
            </div>
        </div>
    </div>
</div>



