#{extends 'main2.html' /}
#{set title:'我的抵用券' /}
#{set 'moreStyles'}
    #{asset.css src:['/user/130107/user.css'] /}
#{/set}

<div id="content" class="clearfix">
#{include "share/left.html"/}
    <div class="section">
    #{breadcrumbs/breadcrumb breadcrumbs/}
        <div class="user-account">
            <span>账户：${user?.showName}</span>
            <span>可用抵用券：<em>${validVouchers.size()}</em>张</span>
            <span>价值：<em>${validValue}</em>元</span>
        </div>
        <div class="voucher">

        <h3>我的抵用券</h3>
        <div class="normal-tips">抵用券只可用于消费，不能用于充值和提现。<a href="${helper.Domain.getWWWHost(request)}/help" target="_blank">抵用券怎么用？</a></div>
        <table class="table">
            <thead>
            <tr>
                <th width="100">抵用券编号</th>
                <th class="text">抵用券名称</th>
                <th width="80">面值</th>
                <th width="120">过期时间</th>
                <th width="120">激活时间</th>
                <th width="50">状态</th>
            </tr>
            </thead>
            <tbody>
            #{paginate.list items:voucherList, as:'voucher'}
                <tr>
                    <td>${voucher.serialNo}</td>
                    <td>${voucher.name}</td>
                    <td class="digit">${voucher.value.formatCurrency('CNY')}</td>
                    <td>${voucher.expiredAt.format('yyyy-MM-dd HH:mm:ss')}</td>
                    <td>${voucher.assignedAt.format('yyyy-MM-dd HH:mm:ss')}</td>
                    #{if voucher.order}
                        <td>已使用</td>
                    #{/if}
                    #{else}
                        #{if voucher.expiredAt.before(new java.util.Date())}
                            <td>已过期</td>
                        #{/if}
                        #{else}
                            <td>未使用</td>
                        #{/else}
                    #{/else}
                </tr>
                #{/paginate.list}
                </tbody>
            </table>
            <div class="pagination">
                #{paginate.controls items:voucherList /}
            </div>
        </div>
    </div>
</div>



