#{extends 'main2.html' /}
#{set title:'抵用券领取' /}
#{set 'moreStyles'}
    #{asset.css src:['/user/130107/user.css'] /}
#{/set}

<div id="content" class="clearfix">
#{include "share/left.html"/}
    <div class="section">
    #{breadcrumbs/breadcrumb breadcrumbs/}
        <div class="user-account">
            <span>账户：${user?.showName}</span>
            <span>可用抵用券：<em>${validVouchers.size()}</em>张</span>
            <span>价值：<em>${validValue}</em>元</span>
        </div>
    #{if action=="verify"}
        #{form @UserVouchers.verify(), method:'POST', class:'form-horizontal'}
                <div class="group">
                #{if suc}
                    <div class="success-tips"> ${suc} </div>
                #{/if}
                #{if errMsg}
                    <div class="failed-tips"> ${errMsg} </div>
                #{/if}
                </div>

                <div class="group">
                    <label for="recharge-passsword">抵用券密码</label>
                    <div class="control">
                        <input type="text" id="recharge-passsword" name="voucherCode" value="${voucherCode}">
                        <span class="red" id="passsword-error"></span>
                    </div>
                </div>
                <div class="group">
                    <label for="verification-code">验 证 码：</label>
                    <div class="control control-captcha">
                        <input type="text" id="verification-code" name="code">
                        <img id="captchaImg" style="width:82px;height:24px" src="@{CaptchaProvider.captcha(randomID)}">
                        <a id="diff-code" href="">看不清，换一张</a>
                        <span class="red" id="verification-error"></span>
                    </div>
                </div>
                <div class="group">
                    <input type="hidden" name="randomID" value="${randomID}" id="randomID">
                    <button class="btn" id="recharge-btn" type="submit"> 下一步 </button>
                </div>
            #{/form}
        #{/if}
        #{elseif action=="assign"}
            #{form @UserVouchers.assign(), method:'POST', class:'form-horizontal'}
                <div class="field">
                    <span>名 称：</span>${voucher.name}
                </div>
                <div class="field">
                    <span>金 额：</span><em class="red">${voucher.value}</em>元
                </div>
                <div class="group">
                    <input type="hidden" name="ridA" value="${ridA}">
                    <input type="hidden" name="ridB" value="${ridB}">
                    <button class="btn" id="confirm-btn" type="submit"> 激 活 </button>
                </div>
            #{/form}
        #{/elseif}

        <div class="help">
            <strong>抵用券只可用于消费，不能提现。</strong><br>
            <span>激活步骤：</span>请输入您收到的抵用券密码，点击下一步并激活后，即可在订单付款时使用该抵用券，可在<a href="/voucher">"我的抵用券"</a>中查看明细。
        </div>

    </div>
</div>


<script>
    $(document).ready(function () {
        $('#diff-code').click(function (ev) {
            ev.preventDefault();
            var img = $('#captchaImg');
            var t = +new Date;
            img.attr('src', '/captcha?id=' + t);
            $("#randomID").val(t);
        });

        $('#recharge-btn').click(function () {
            var pw = $('#recharge-passsword'),
                    vc = $('#verification-code');

        if (pw.val() == '') {
            $('#passsword-error').html('请输入抵用券密码');
            pw.focus().keydown(function(){
                $('#passsword-error').html('');
            });
            return false;
        }
        if (vc.val() == '') {
            $('#verification-error').html('请输入验证码');
            vc.focus().keydown(function(){
                $('#verification-error').html('');
            });
            return false;
        }
        });
    });
</script>
