<div class="field-group">
    <label>城市</label>
#{layout_trader.selectList name:'shop.cityId', value:shop?.cityId?:'000', list:cities/}
    <span class="error">#{error 'shop.cityId'/}</span>
</div>
<div class="field-group">
    <label>区域</label>
#{layout_trader.selectList name:'shop.districtId', value:shop?.districtId, list:districts/}
    <span class="error">#{error 'shop.districtId'/}</span>
</div>
<div class="field-group">
    <label>商圈</label>
#{layout_trader.selectList name:'shop.areaId', value:shop?.areaId, list:areas/}
    <span class="error">#{error 'shop.areaId'/}</span>
</div>
<div class="field-group">
    <label>门店名称</label>
    <input class="text" name="shop.name" type="text" value="${shop?.name}"/>
    <span class="error">#{error 'shop.name'/}</span>
</div>
<div class="field-group">
    <label>门店地址</label>
    <input class="text" name="shop.address" type="text" value="${shop?.address}"/>
    <span class="error">#{error 'shop.address'/}</span>
</div>
<div class="field-group">
    <label>门店电话</label>
    <input class="text" name="shop.phone" type="text" value="${shop?.phone}"/>
    <span class="error">#{error 'shop.phone'/}</span>
</div>
<div class="field-group">
    <input type="submit" class="btn" value="确定"/> <a href="/shops">取消</a>
</div>