#{extends 'layout_operate/layout.html' /}

<link rel="stylesheet" href="/public/javascripts2/themes/default/default.css">

*{#{set 'moreStyles'}}*
*{#{asset.css src:['/public/javascripts2/themes/default/default.css'] /}}*
*{<script src="@{'/public/javascripts2/themes/default/default.css'}" ></script>}*
*{#{/set}}*

#{set title:'修改合同的电子版本' /}
#{get 'moreScripts'}
<script src="@{'/public/javascripts2/kindeditor-min.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/lang/zh_CN.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
#{/get}
#{include '/share/nav.html' /}
<div class="body">
#{form @SuppliersUploadContracts.update(id), id:'form',enctype:'multipart/form-data',
class:"form-horizontal", method:'PUT' }
    <legend>${title}</legend>
    #{set action:"edit"/}
    #{include '/SuppliersUploadContracts/supplierUploadContractForm.html'/}
#{/form}
</div>


