<html>
<body>
以下券号即将在3天后到期：<br>
#{list items:message.getParam("couponList"),as :'couponMap'}
商品名称：<a href="http://www/yibaiquan.com/p/${couponMap.get("goodsId")}">${couponMap.get("goodsName")}</a><br>
售出渠道：${couponMap.get("partner")}<br>
券号：${couponMap.get("p_couponSn")}<br>
<a href="http://business.qgongchang.com/coupons?condition.searchKey=UID&condition.searchItems=${couponMap.get("userId")}
&condition.status=UNCONSUMED&condition.accountType=RESALER">点击查看</a>（链接到此商品在各渠道售出未消费的券列表）<br>
#{/list}
</body>
</html>
