<html>
<body><head>[一百券] 找回密码</head><body>
<p>
我们收到了重设与此电子邮件地址关联的密码的请求。 如果是您提交的请求，请遵照下面的指示操作。<br/>
请点击以下链接重置您的密码！若无法点击，请将链接复制到浏览器打开。
</p>
<p>
<a href="${message.getParam("mail_url")}" target="_blank">点击重设密码</a><br/>或直接访问： ${message.getParam("mail_url")}
</p>
<p>
此链接将在24小时后失效。
</p>
<p>
如果您没有请求重设密码，则完全可以忽略此邮件。请放心，您的客户帐户是安全的。<br/>
一百券在任何时候都不会给您发送电子邮件并要求您披露或核实您的一百券密码、信用卡，或银行帐号。如果您收到可疑的电子邮件并且其中包含更新帐户信息的链接，请不要点击该链接，相反，请将该电子邮件报告给一百券以便进行调查。 感谢您访问一百券！<br/>
为确保我们的信息不被当做垃圾邮件处理，请把一百券uhuila@seewi.com添加为您的联系人！</br>
<br/>
此为系统邮件，请勿直接回复。如需帮助，客户服务专线：400-686-5151，或登陆<a href="http://www.yibaiquan.com" target="_blank">yibaiquan.com</a>
</p>
</body>
</html>
