#{extends 'main.html' /}
#{set title:'100券 - 京东上传' /}
#{set 'moreStyles'}
    #{asset.css src:['/r/base.css', '/r/goods.css', '/r/play-pagination.css'] /}
<style type="text/css">
    b{ color:red }
</style>
#{/set}
#{set 'moreScripts'}
<script src="@@{'/public/javascripts/goods-index.js'}"></script>
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}

#{set 'navMenu'}
<li><a href="/">首　页</a></li>
<li><a class="current" href="/goods">商品库</a></li>
<li><a href="/library">我的分销库</a></li>
<li><a href="/charge">账户充值</a></li>
<li><a href="/withdraw">账户提现</a></li>
#{/set}


<div id="content">
    <form action="/jd-update/title" method="POST">
        <input type="hidden" name="id" value="${fav.id}">
        <h3>团购标题修改</h3>
        <p>团购简介 富文本数据<b>[必填]</b>  </p>
        <textarea rows="5" cols="200" name="title">${goods.title}</textarea>

        <input type="submit" value="修改标题">
    </form>
<br/>

    <form action="/jd-update/detail" method="POST">
        <input type="hidden" name="id" value="${fav.id}">
        <h3>团购详情修改</h3>
        <p>团购详情 如果没有数据，请从京东网页上复制HTML再进行修改<b>[必填]</b> </p>
        <textarea rows="5" cols="200" name="detail">
        </textarea>

        <input type="submit" value="修改详情">
    </form>

    <form action="/jd-update/expire" method="POST">
        <input type="hidden" name="id" value="${fav.id}">
        <h3>延长券有效期</h3>
        <p>日期往后选</p>
        <p><input type="text" name="expireTime" onfocus="WdatePicker({readOnly:true, dateFmt:'yyyy-MM-dd HH:mm:ss'})"
                  class="Wdate" value="${fav.goods.expireAt?.format('yyyy-MM-dd HH:mm:ss')}" size="30"></p>

        <input type="submit" value="延长券有效期">
    </form>

    <form action="/jd-update/end-date" method="POST">
        <input type="hidden" name="id" value="${fav.id}">
        <h3>延长团购有效期</h3>
        <p>日期往后选</p>
        <p><input type="text" name="saleEndDate" onfocus="WdatePicker({readOnly:true, dateFmt:'yyyy-MM-dd HH:mm:ss'})"
                  class="Wdate" value="${fav.goods.endOnSaleAt?.format('yyyy-MM-dd HH:mm:ss')}" size="30"></p>

        <input type="submit" value="延长团购有效期">
    </form>
    <form action="/jd-update/restart" method="POST">
        <input type="hidden" name="id" value="${fav.id}">
        <h3>下架的团购重新上架</h3>
        <p>
            团购开始时间
            <input type="text" name="beginTime" onfocus="WdatePicker({readOnly:true, dateFmt:'yyyy-MM-dd HH:mm:ss'})"
                  class="Wdate" value="${fav.goods.beginOnSaleAt?.format('yyyy-MM-dd HH:mm:ss')}" size="30"></p>
        <p>
            团购结束时间
            <input type="text" name="endTime" onfocus="WdatePicker({readOnly:true, dateFmt:'yyyy-MM-dd HH:mm:ss'})"
                   class="Wdate" value="${fav.goods.endOnSaleAt?.format('yyyy-MM-dd HH:mm:ss')}" size="30"></p>

        <input type="submit" value="重新上架">
    </form>

    <form action="/jd-update/big-img" method="POST">
        <input type="hidden" name="id" value="${fav.id}">
        <h3>团购主图 </h3>
        <p>此为图片链接地址http开头，图片尺寸为440*280，图片大小在100kb以内</p>
        <p><input type="text" name="bigImg" size="100"></p>

        <input type="submit" value="修改主图">
    </form>

    <form action="/jd-update/partners" method="POST">
        <input type="hidden" name="id" value="${fav.id}">
        <h3>商家信息 </h3>
        <p>自动上传我们所有的商家信息</p>

        <input type="submit" value="更新商家信息">
    </form>

<br/>

</div>


