#{extends 'main.html' /}
#{set title:'100券 - 京东上传' /}
#{set 'moreStyles'}
    #{asset.css src:['/r/base.css', '/r/goods.css', '/r/play-pagination.css'] /}
        <style type="text/css">
            b{ color:red }
        </style>
#{/set}
#{set 'moreScripts'}
<script src="@@{'/public/javascripts/goods-index.js'}"></script>
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}

#{set 'navMenu'}
    <li><a href="/">首　页</a></li>
    <li><a class="current" href="/goods">商品库</a></li>
    <li><a href="/library">我的分销库</a></li>
    <li><a href="/charge">账户充值</a></li>
    <li><a href="/withdraw">账户提现</a></li>
#{/set}

#{if city && categories?.size() > 0}

<form action="/jd-add" method="POST">
<div id="content">
    <p>选择城市<b>[必填]</b></p>
    <div>
        <input type="radio" value="${city.id}" name="cityId" checked>${city.name}
    </div>
    <p>选择一级分类<b>[必填]</b></p>
    <div>
        #{list items:categories, as:'category'}
        <input type="radio" value="${category.id}" name="groupId" #{if category_index == 1}checked#{/if}>${category.name}
        #{/list}
    </div>
    <p>选择商圈</p>
    <div>
        #{list items:districts, as:'district'}
        <input type="radio" value="${district.id}" name="districtId" #{if district_index == 1}checked#{/if}>${district.name}
        #{/list}
    </div>

    <p>团购标题名称  最长200个字符<b>[必填]</b></p>
    <p><input type="text" size="200" name="teamTitle" value="${goods.name}"/></p>

    <p>团购主图http开头，图片尺寸为440*280，图片大小在100kb以内 <b>[必填]</b></p>
    <p><input type="text" name="grouponBImg" size="200" value="${goods.imageOriginalPath}"></p>

    <p>团购产品标题，最长<b>[12]</b>个字符<b>[必填]</b></p>
    <p><input type="text" name="title" value="${goods.title}" size="30"></p>

    <p>团购原价<b>[必填]</b></p>
    <p><input type="text" name="marketPrice" value="${goods.faceValue}"></p>

    <p>团购现价<b>[必填]</b></p>
    <p><input type="text" name="teamPrice" value="${goods.salePrice}"></p>

    <p>团购开始时间<b>[必填]</b></p>
    <p><input type="text" name="beginTime" onfocus="WdatePicker({readOnly:true})" class="Wdate" ></p>

    <p>团购结束时间<b>[必填]</b></p>
    <p><input type="text" name="endTime" onfocus="WdatePicker({readOnly:true})"  class="Wdate"></p>

    <p>券截止效期<b>[必填]</b></p>
    <p><input type="text" name="couponExpireTime" onfocus="WdatePicker({readOnly:true})"  class="Wdate" value="${goods.expireAt?.format()}"></p>

    <p>最低成团人数 仅数字，必须大于等于1 <b>[必填]</b> </p>
    <p><input type="text" name="minNumber" value="1"></p>
    <p>商品总量上限 仅数字，必须大于等于0，0表示无上限 <b>[必填]</b> </p>
    <p><input type="text" name="maxNumber" value="0"></p>
    <p>单人购买上限 仅数字，0表示无上限，最大支持9999 <b>[必填]</b> </p>
    <p><input type="text" name="perNumber" value="99"></p>
    <p>特别提示 富文本数据<b>[必填]</b>  </p>
    <textarea rows="5" cols="200" name="notice"></textarea>
    <p>团购简介 富文本数据<b>[必填]</b>  </p>
    <textarea rows="5" cols="200" name="summary">${goods.title.raw()}</textarea>
    <p>团购详情 富文本数据<b>[必填]</b> </p>
    <textarea rows="5" cols="200" name="teamDetail">${goods.details.raw()} ${goods.prompt.raw()} </textarea>

    <b>
    #{list items:shops, as:'shop'}
        #{if shop.phone == null || shop.phone.equalsTrim("")}
        ${shop.name} 门店缺少电话信息,要先去运营后台补充一下
        #{/if}
    #{/list}
    </b>

    <input type="hidden" name="venderTeamId" value="${goods.id}">
    <input type="submit" value="提交">
</div>
</form>

#{/if}
#{else}
        京东服务暂时不可用,稍后再试
#{/else}
