#{extends 'main.html' /}
#{set title:'100券 - 京东上传' /}
#{set 'moreStyles'}
    #{asset.css src:['/r/base.css', '/r/goods.css', '/r/play-pagination.css'] /}
        <style type="text/css">
            b{ color:red }
        </style>
#{/set}
#{set 'moreScripts'}
<script src="@@{'/public/javascripts/goods-index.js'}"></script>
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}

#{set 'navMenu'}
    <li><a href="/">首　页</a></li>
    <li><a class="current" href="/goods">商品库</a></li>
    <li><a href="/library">我的分销库</a></li>
    <li><a href="/charge">账户充值</a></li>
    <li><a href="/withdraw">账户提现</a></li>
#{/set}

#{if city && categories?.size() > 0}

<form action="/jd-add" method="POST">
<div id="content">
    <p>选择城市<b>[必填]</b></p>
    <div>
        <input type="radio" value="${city.id}" name="cityId" checked>${city.name}
    </div>
    <p>选择分类<b>[必填]不能跨主分类,最多同时选三个</b></p>
    <div>
        <table border="0">
        #{list items:categories, as:'category'}
        <tr><td> <span style="color:blue">${category.name} </span></td>
            <td>
        #{if !subCategories.get(category.id)}
            <input type="checkbox" value="${category.id}" name="subGroupIds" #{if subGroupIds==category.id} checked #{/if}> ${category.name}
        #{/if}
        #{list items:subCategories.get(category.id), as:'subCategory'}
            <input type="checkbox" value="${category.id}-${subCategory.id}" name="subGroupIds" #{if subGroupIds?.contains(category.id+'-'+subCategory.id)} checked #{/if} >
        ${subCategory.name}
        #{/list}</td> </tr>
        #{/list}
        </table>
    </div>
    <p>选择商圈</p>
    #{if unknownAreas?.size() > 0}
    <div >
        <span style="color:red">该商品所属的以下商圈尚未自动匹配成功，请手动选取</span>
        #{list items:unknownAreas, as:'area'}
        ${area},
        #{/list}
    </div>
    #{/if}
    <div>
        <table border="0">
        #{list items:districts, as:'district'}
        <tr>
            <td> <span style="color:blue">${district.name}</span></td>
            <td>
        #{list items:ares.get(district.id), as:'area'}
            <input type="checkbox" value="${district.id}-${area.id}" name="areas" #{if areaNames.contains(area.name)|| areas?.contains(district.id+'-'+area.id)} checked #{/if} >${area.name}
        #{/list}
            </td>
        </tr>
        #{/list}
        </table>
    </div>

    <p>团购标题名称  最长200个字符<b>[必填]</b></p>
    <p><input type="text" size="200" name="teamTitle" value="${name}"/></p>

    <p>团购主图http开头，图片尺寸为440*280，图片大小在100kb以内 <b>[必填]</b></p>
    <p><input type="text" name="grouponBImg" size="200" value="${imageOriginalPath}"></p>

    <p>团购产品标题，最长<b>[12]</b>个字符<b>[必填]</b></p>
    <p><input type="text" name="title" value="${shortName}" size="30"></p>

    <p>团购原价<b>[必填]</b></p>
    <p><input type="text" name="marketPrice" value="${faceValue}"></p>

    <p>团购现价<b>[必填]</b></p>
    <p><input type="text" name="teamPrice" value="${salePrice}"></p>

    <p>团购开始时间<b>[必填]</b></p>
    <p><input type="text" name="beginTime" onfocus="WdatePicker({readOnly:true})" class="Wdate" value="${effectiveAt?.format()}"></p>

    <p>团购结束时间<b>[必填]</b></p>
    <p><input type="text" name="endTime" onfocus="WdatePicker({readOnly:true})"  class="Wdate" value="${expireAt?.format()}"></p>

    <p>券截止效期<b>[必填]</b></p>
    <p><input type="text" name="couponExpireTime"  onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"  class="Wdate" value="${couponExpireTime?.format('yyyy-MM-dd HH:mm:ss')}"></p>

    <p>最低成团人数 仅数字，必须大于等于1 <b>[必填]</b> </p>
    <p><input type="text" name="minNumber" value="1"></p>
    <p>商品总量上限 仅数字，必须大于等于0，0表示无上限 <b>[必填]</b> </p>
    <p><input type="text" name="maxNumber" value="0"></p>
    <p>单人购买上限 仅数字，0表示无上限，最大支持9999 <b>[必填]</b> </p>
    <p><input type="text" name="perNumber" value="99"></p>
    <p>特别提示 富文本数据<b>[必填]</b>  </p>
    <textarea rows="5" cols="200" name="notice">${notice}</textarea>
    <p>团购简介 富文本数据<b>[必填]</b>  </p>
    <textarea rows="5" cols="200" name="summary">${title}</textarea>
    <p>团购详情 富文本数据<b>[必填]</b> </p>
    <textarea rows="5" cols="200" name="teamDetail">
     #{if exhibition}
        ${exhibition.raw()}
        <p style="BACKGROUND-COLOR: rgb(204,0,0); FONT-WEIGHT: bold">
            <span style="font-family:SimSun;font-size:small;color:#ffffff;">温馨提示</span>
        </p>
        ${prompt.raw()}
        <p style="BACKGROUND-COLOR: rgb(204,0,0); FONT-WEIGHT: bold">
            <span style="font-family:SimSun;font-size:small;color:#ffffff;">商品介绍</span>
        </p>
        ${details.raw()}
        <p style="BACKGROUND-COLOR: rgb(204,0,0); FONT-WEIGHT: bold">
            <span style="font-family:SimSun;font-size:small;color:#ffffff;">商户介绍</span>
        </p>
        ${supplierDes.raw()}
      #{/if}
    #{else}
    ${teamDetail?.raw()}
    #{/else}
    </textarea>
    <b>
    #{list items:shops, as:'shop'}
        #{if !shop.phone}
        ${shop.name} 门店缺少电话信息,要先去运营后台补充一下<br/>
        #{/if}
    #{/list}
    </b>

    <input type="hidden" name="venderTeamId" value="${goodsId}">
    <input type="submit" value="提交">
</div>
</form>

#{/if}
#{else}
        京东服务暂时不可用,稍后再试
#{/else}
