#{extends 'layout_operate/layout.html' /}
#{set title:'修改快递公司' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/express-form.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
#{include '/share/nav.html' /}
<div class="body">
#{form @real.ExpressCompanies.update(express?.id) , id:'express_company_form',enctype:'multipart/form-data',class:"form-horizontal" , method:'POST'}
    <legend>${title}</legend>
    #{set action:"edit"/}
    #{include 'real/ExpressCompanies/expressForm.html'/}
#{/form}
</div>
