#{extends 'layout_operate/layout.html' /}
#{set title:'添加入库记录' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/stock-add.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
#{include '/share/nav.html' /}
<style type="text/css">
    .controls {
        padding-top: 5px;
    }
</style>
<div class="body">
#{form @InventoryStocks.createStockIn() , id:'stock_form',class:"form-horizontal" ,onsubmit:'return disableButton()'}
    <legend>${title}</legend>
    #{set action:"stockIn"/}
    #{include '/InventoryStocks/stockForm.html'/}
#{/form}
</div>
