*{#{layout_operate.selectField name:'stock.sku.id', value:stock?.sku?.id, error:'stock.sku', required:true}}*
*{#{list items:skuList, as:'sku'}}*
*{#{option sku?.id}${sku?.name}#{/option}}*
*{#{/list}}*
*{#{/layout_operate.selectField}}*

#{layout_operate.selectField name:'stock.sku.id', value:stock?.sku?.id, error:'stock.sku.id', required:true}
    #{list items:skuList, as:'sku'}
        #{option sku?.id}${sku?.name}#{/option}
    #{/list}
#{/layout_operate.selectField}
<SCRIPT type=text/javascript>
    #{if skuList== null || skuList.size()==0}
    $("#err-stock_sku_id").html("该品牌没有对应的货品，请添加货品！");
    $("#save").attr('disabled', true);
    #{/if}
    #{else}
    $("#err-stock_sku_id").html("");
    $("#save").attr('disabled', false);
    #{/else}
</SCRIPT>