#{form @WebSinaVoucherOrders.index(productId),id:'order_form'}
<div class="wrapper" xmlns="http://www.w3.org/1999/html">
    <div class="coupon_main clear_wrap">
        <div class="coupon_left">
            <div class="cou_bg det_mes">
                <h1>${goods.shortName}</h1>

                <p class="det_tit">${goods.title}</p>

                <div class="cMesage clear_wrap">
                    <div class="mes_left">
                        <ul>
                            <li>
                                <p class="j"><span class="font_12">原价：<b class="font_14">¥</b><em
                                        class="font_14">${goods.faceValue}元</em></span><span>1.0折</span></p>
                            </li>
                            <li>
                                <p class="j"><span class="font_12">现价：<b class="font_14">¥</b><em
                                        class="font_14">${goods.getResalePrice()}元</em></span></p>
                            </li>
                        </ul>
                    </div>
                    <a href="#" id="link_buy_now" class="nowBuy">立即购买<b></b></a></br></br>

                    <div class="mes_right"><img src="${goods.getImageLargePath()}" width="470" height="235"
                                                id="picFace"/></div>
                </div>
            </div>

        </div>
    </div>
</div>
#{/form}
#{asset.js src:['/u/jquery-1.7.2.min.js','/base/121031/base.js'] /}
<script>
    $(function () {
        $("#link_buy_now").click(function () {
            $("#order_form").submit();
        })
    })
</script>
