<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>#{get 'title' /}</title>
    <link rel="shortcut icon" href="#{asset.url href:'/images/u/favicon.ico'/}" type="image/x-icon" />
    #{asset.css src:['/u/base.css'] /}
    #{get 'moreStyles' /}
    #{asset.js src:['/u/jquery-1.7.2.min.js'] /}
</head>
<body>
<div id="header" class="clearfix">
    <div id="logo">
        <a href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}">
            <img src="#{asset.url href:'/images/u/logo.png'/}" width="180" height="88" alt="一百券"/>
        </a>
        <span class="uhuila">◁ 原优惠啦</span>
    </div>
    <div id="menu">
        <div class="welcom">
        #{if cas?.isLogin}
            欢迎您, <a class="zi_gray" href="http://home.${play.Play.configuration.getProperty("application.baseDomain")}"
                    id="login_name">${cas.loginName}</a> <a class="zi_gray" href="/logout">退出</a>
        #{/if}
        #{else}
            您好，欢迎您来到一百券！ [<a class="zi_gray" id="login_name" href="/login">登录</a>] [<a href="/register">免费注册</a>]
        #{/else}
        </div>
        <div class="myUhuila">
            <div class="myUhuila-hd"><a href="http://home.${play.Play.configuration.getProperty("application.baseDomain")}/">我的一百券</a></div>
            <div class="myUhuila-bd">
                <a href="http://home.${play.Play.configuration.getProperty("application.baseDomain")}/orders">我的订单</a>
            </div>
        </div>
        <div class="carts">
            <div class="carts-hd"><a href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}/carts">购物车<span class="carts-size" id="carts_size">${count}</span>件</a></div>
            <input type="hidden" id="reload" value="true"/>
            <div class="carts-bd" id="cart-list"></div>

        </div>
        <div class="help"><a href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}/help">帮助中心</a></div>
    </div>
</div>
<div id="nav">
    <ul class="clearfix">
        <li #{if categoryId == 0}class="current"#{/if}><a href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}">首页</a></li>
        <li><a href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}/goods/list/1" #{if
        categoryId == 1}class="current"#{/if}>美食券</a></li>
        <li><a href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}/goods/list/2" #{if
        categoryId == 2}class="current"#{/if}>食品券</a></li>
        *{
        #{list categories, as: 'category'}
        <li class="hot_shangpin_li"><a #{if categoryId == category.id}class="tab_selected"#{/if}
                                                   #{else}class="tab_unselected"#{/else}
                                                   href="/${category.id}">${category.name}</a></li>
        #{/list} 
        }*
    </ul>
</div>
<div id="content">
  #{doLayout /}
</div>
<div id="footer">
    <div class="ft-nav">
        <a href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}/about" target="_blank">关于我们</a> |
        <a href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}/contact" target="_blank">联系我们</a> |
        <a href="http://quanmx.com/" target="_blank">商户入驻</a> |
        <a href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}/help" target="_blank">帮助中心</a>
    </div>
    <div class="copyright">
        Copyright © 2012 一百券YiBaiQuan.COM 版权所有 <span> 沪ICP备08114451号</span>
    </div>
</div>
    #{asset.js src:['/u/slides.min.js', '/u/base.js'] /}
    #{get 'moreScripts' /}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32003041-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
