<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>#{get 'title' /}</title>
    #{asset.css src:['/u/base.css'] /}
    #{get 'moreStyles' /}
    #{asset.js src:['/u/jquery-1.7.2.min.js'] /}
</head>
<body>
<div id="header" class="clearfix">
    <div id="logo">
        <a href="http://www.uhuila.com/"><img src="#{asset.url href:'/images/u/logo.png'/}" width="248" height="88" alt="优惠啦"/></a>
    </div>
    <div id="menu">
        <div class="welcom">
        #{if cas?.isLogin}
            欢迎您, <a class="zi_gray" href="http://home.uhuila.cn/orders" id="login_name">${cas.loginName}</a>  <a class="zi_gray"
                                                                                           href="/logout">退出</a>
        #{/if}
        #{else}
            您好，欢迎您来到优惠啦！<a class="zi_gray" id="login_name" href="/login">请登录</a>
        #{/else}
        </div>
        <div class="myUhuila">
            <div class="myUhuila-hd"><a href="http://home.uhuila.cn/">我的优惠啦</a></div>
            <div class="myUhuila-bd">
                <a href="http://home.uhuila.cn/orders">我的订单</a>
            </div>
        </div>
        <div class="carts">
            <div class="carts-hd"><a href="http://www.uhuila.cn/carts">购物车<span id="carts_size">${carts?.size()}</span>件</a></div>
            <div class="carts-bd">
                <b class="upRightLine"></b>
                #{if carts?.size() > 0 }
                    #{list items:carts, as:'cartItem'}
                      <p><a href="http://www.uhuila.cn/goods/${cartItem.goods.id}"><img src="${cartItem.goods.imageTinyPath}"/>${cartItem
                      .goods.name}</a> &yen;${cartItem.goods.salePrice} x${cartItem.number}</p>
                    #{/list}
                    <a class="view-carts" href="http://www.uhuila.cn/carts">查看购物车</a>
                    <a class="view-carts" href="http://www.uhuila.cn/orders?items=#{list items:carts,
                    as:'cartItem'}${cartItem.goods.id}-${cartItem.number},#{/list}">去结算</a>
                #{/if}
                #{else}
                    您的购物车中没有任何商品。<br/>
                    <a class="view-carts" href="/carts">查看购物车</a>
                #{/else}
            </div>

        </div>
        <div class="help"><a href="/help">帮助中心</a></div>
    #{if !cas?.isLogin}
        <div class="login"><a href="/login">登录</a></div>
        <div class="regist"><a href="/register">免费注册</a></div>
    #{/if}
    </div>
</div>
<div id="nav">
    <ul class="clearfix">
        <li #{if categoryId == 0}class="current"#{/if}><a href="http://www.uhuila.cn">首页</a></li>
        <li><a href="http://www.uhuila.cn/goods/list/1" #{if categoryId == 1}class="current"#{/if}>饮食</a></li>
        <li><a href="http://www.uhuila.cn/goods/list/2" #{if categoryId == 2}class="current"#{/if}>礼品</a></li>
        *{
        #{list categories, as: 'category'}
        <li class="hot_shangpin_li"><a #{if categoryId == category.id}class="tab_selected"#{/if}
                                                   #{else}class="tab_unselected"#{/else}
                                                   href="/${category.id}">${category.name}</a></li>
        #{/list} 
        }*
    </ul>
</div>
<div id="content">
  #{doLayout /}
</div>
<div id="footer">
    <div class="ft-nav">
        <a href="">关于我们</a> |
        <a href="">联系我们</a> |
        <a href="">人才招聘</a> |
        <a href="">商户入驻</a> |
        <a href="">友情链接</a> |
        <a href="">手机优惠啦</a> |
        <a href="">分销网</a> |
        <a href="">帮助中心</a>
    </div>
    <div class="copyright">
        优惠啦Copyright © 2011-2012 UHUILA.COM 版权所有 <span> 沪ICP备08114451号</span>
    </div>
</div>
    #{asset.js src:['/u/slides.min.js', '/u/base.js'] /}
    #{get 'moreScripts' /}
</body>
</html>
