<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>#{get 'title' /}</title>
    <link rel="shortcut icon" href="#{asset.url href:'/images/u/favicon.ico'/}" type="image/x-icon" />
    #{asset.css src:['/u/base.css'] /}
    #{get 'moreStyles' /}
    #{asset.js src:['/u/jquery-1.7.2.min.js'] /}
</head>
<body>
<div id="header" class="clearfix">
    <div id="logo">
          <a href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}"><img src="#{asset.url href:'/images/u/logo.png'/}" width="180" height="88"
                                            alt="一百券"/></a>
    </div>
</div>
<div id="content">
    #{doLayout /}
</div>
<div id="footer">
    <div class="copyright">
        © 2012 一百券 yibaiquan.com 版权所有 <span> 沪ICP备08114451号</span>
    </div>
</div>
    #{asset.js src:['/u/slides.min.js', '/u/base.js'] /}
    #{get 'moreScripts' /}
</body>
</html>
