<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>#{get 'title' /}</title>
    <link rel="shortcut icon" href="#{asset.url href:'/images/y/favicon.ico'/}" type="image/x-icon" />
    #{asset.css src:['/u/base.css'] /}
    #{get 'moreStyles' /}
    #{asset.js src:['/u/jquery-1.7.2.min.js'] /}
</head>
<body>
<div id="header" class="clearfix">
    <div id="logo">
          <a href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}"><img src="#{asset.url href:'/images/y/logo.png'/}" width="180" height="88"
                                            alt="一百券"/></a>
    </div>
</div>
<div id="content">
    #{doLayout /}
</div>
<div id="footer">
    <div class="copyright">
        © 2012 一百券 yibaiquan.com 版权所有 <span> 沪ICP备08114451号</span>
    </div>
</div>
    #{asset.js src:['/u/slides.min.js', '/u/base.js'] /}
    #{get 'moreScripts' /}
<div style="display:none">
<script src="http://s84.cnzz.com/stat.php?id=4205049&web_id=4205049" language="JavaScript"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '${play.Play.configuration.getProperty("google.analytics.account")}']);
  _gaq.push(['_setDomainName', '${play.Play.configuration.getProperty("application.baseDomain")}']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</div>
</body>
</html>
