#{extends 'main2.html' /}
#{set title:'提现申请' /}
#{set 'moreStyles'}
    #{asset.css src:['/user/130107/user.css'] /}
#{/set}

<div id="content" class="clearfix">
#{include "share/left.html"/}
    <div class="section">
        #{breadcrumbs/breadcrumb breadcrumbs/}
        #{form @UserWithdraw.create(), class:'form-horizontal'}
            <div class="group">
                <label><span class="required">*</span>开户名：</label>
                <div class="control">
                    <input type="text" class="medium-input" name="withdraw.userName" value="${withdraw?.userName}">
                    <span class="error">#{error 'withdraw.userName'/}</span>
                </div>
            </div>
            <div class="group">
                <label><span class="required">*</span>选择银行：</label>
                <div class="control">
                    <select name="withdraw.bankName" class="medium-input">
                        <option value="招商银行">招商银行</option>
                        <option value="中国工商银行">中国工商银行</option>
                        <option value="中国建设银行">中国建设银行</option>
                        <option value="中国农业银行">中国农业银行</option>
                        <option value="交通银行">交通银行</option>
                        <option value="中国银行">中国银行</option>
                    </select>
                    <span class="error">#{error 'withdraw.bankName'/}</span>
                </div>
            </div>
            <div class="group">
                <label><span class="required">*</span>银行所在城市：</label>
                <div class="control">
                    <input type="text" name="withdraw.bankCity" class="medium-input" readonly="true" value="上海">
                    <span class="error">#{error 'withdraw.bankCity'/}</span>
                </div>
            </div>
            <div class="group">
                <label><span class="required">*</span>支行：</label>
                <div class="control">
                    <input type="text" name="withdraw.subBankName" class="medium-input" value="${withdraw?.subBankName}">
                    <span class="error">#{error 'withdraw.subBankName'/}</span>
                </div>
            </div>
            <div class="group">
                <label><span class="required">*</span>银行卡号：</label>
                <div class="control">
                    <input type="text" name="withdraw.cardNumber" class="medium-input" value="${withdraw?.cardNumber}">
                    <span class="error">#{error 'withdraw.cardNumber'/}</span>
                </div>
            </div>
            <div class="group">
                <label><span class="required">*</span>提现金额：</label>
                <div class="control">
                    <input type="text" name="withdraw.amount" class="medium-input" value="${withdraw?.amount}">
                    <span>余额:<em class="red">${account?.amount}</em>元，最少提现10元!</span>
                    <span class="error">#{error 'withdraw.amount'/}</span>
                </div>
            </div>
            <div class="group">
                <button type="submit" id="withdraw-apply" class="btn"> 申 请 </button>
            </div>
       #{/form}

        <div class="help">
            <h4>取款费率说明：</h4>
            <ol>
                <li>1、向上海地区个人账号转账：一个工作日内到账，不收手续费</li>
                <li>2、向其他地区个人账号转账：（非上海地区为异地）</li>
            </ol>
            <table class="table">
                <thead>
                <tr>
                    <th width="80">银行名称</th>
                    <th width="180">到账时间</th>
                    <th width="260">提款手续费（此手续费实为银行收取）</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>建设银行</td>
                    <td>24小时到账（银行系统正常） </td>
                    <td>异地按照1%收取，最高50元</td>
                </tr>
                <tr>
                    <td>工商银行</td>
                    <td>24小时到账（银行系统正常） </td>
                    <td>异地按照1%收取，最高50元</td>
                </tr>
                </tbody>
            </table>
            <h4>温馨提示：</h4>
            <ol>
                <li>1、为了保障您的资金安全，您的提款申请需要我们的财务人员核对，核对无误后通过人工办理汇款。</li>
                <li>2、因为需要手工处理您的提款要求，10元以下的提款我们暂不接受。</li>
                <li>3、若五个工作日内款还没划到您的账户上，请及时与本站工作人员联系。400-686-5151。</li>
                <li>4、提款周一至周五每日处理，法定节假日除外。工作日17点前申请提款，当日处理；17点后申请的提款，次日处理。</li>
            </ol>
        </div>

    </div>
</div>
