#{extends 'main.html' /}
#{set title:'提现申请' /}
#{set 'moreStyles'}
    #{asset.css src:['/y/user/userBase.css', '/y/user/userWithdraw.css'] /}
#{/set}

<div id="content" class="clearfix">
    #{include "share/left.html"/}
    <div class="section">
        #{breadcrumbs/breadcrumb breadcrumbs/}
        <div class="user-account">
            账户：<strong>mxwoio@yibaiquan.com</strong> 账户余额：<span>289290.00</span>元
            <a class="withdraw-btn" href=""> 提 现 </a>
        </div>
        <table class="order-tab">
            <thead>
                <tr class="col-name">
                    <th width="160">申请时间</th>
                    <th width="100">收款人</th>
                    <th width="120">银行</th>
                    <th>银行卡号</th>
                    <th width="100">申请金额</th>
                    <th width="80">申请状态</th>
                    <th width="80">操作</th>
                </tr>
            </thead>
            <tbody>
            #{if billPage.size() == 0}
                <tr class="order-bd"><td colspan="7">暂无提现申请记录</td></tr>
            #{/if}
            #{else}
                #{paginate.list items:billPage, as:'withdrawBill'}
                <tr class="order-bd">
                    <td>${withdrawBill.appliedAt.format('yyyy-MM-dd HH:mm:ss')}</td>
                    <td>${withdrawBill.userName}</td>
                    <td>${withdrawBill.bankName}</td>
                    <td>${withdrawBill.cardNumber}</td>
                    <td><span class="apply-money">${withdrawBill.amount.formatCurrency('CNY')}</span></td>
                    <td>
                        <!-- <span class="approval-success">审批成功</span> -->
                        <!-- <span class="rejected">被拒绝</span> -->
                        <span class="pending-approval">&{'withdraw.' + withdrawBill.status}</span>
                    </td>
                    <td><a class="view-detail" href="/withdraw/detail/${withdrawBill.id}">查看详情</a></td>
                </tr>
                #{/paginate.list}
            #{/else}
            </tbody>
        </table>

        <table class="withdraw-tab">
            <tr>
                <td class="right"><span class="required">*</span>开户名：</td>
                <td align="left">
                    <input type="text" class="long-input" name="withdraw.userName" value="">
                    <span class="error"></span>
                </td>
            </tr>
            <tr>
                <td class="right"><span class="required">*</span>选择银行：</td>
                <td align="left">
                    <select name="withdraw.bankName" class="long-input">
                        <option value="中国工商银行">中国工商银行</option>
                        <option value="中国建设银行">中国建设银行</option>
                    </select>
                    <span class="error"></span>
                </td>
            </tr>
            <tr>
                <td class="right"><span class="required">*</span>银行所在城市：</td>
                <td align="left">
                    <input type="text" name="withdraw.bankCity" class="long-input" disabled value="上海">
                    <span class="error"></span>
                </td>
            </tr>
            <tr>
                <td class="right"><span class="required">*</span>支行：</td>
                <td align="left">
                    <input type="text" name="withdraw.subBankName" class="long-input" value="">
                    <span class="error"></span>
                </td>
            </tr>
            <tr>
                <td class="right"><span class="required">*</span>银行卡号：</td>
                <td align="left">
                    <input type="text" name="withdraw.cardNumber" class="long-input" value="">
                    <span class="error"></span>
                </td>
            </tr>
            <tr>
                <td class="right"><span class="required">*</span>提现金额：</td>
                <td align="left">
                    <input type="text" name="withdraw.amount" class="long-input" value="">
                    <span class="balance-tips">余额:<em>1985.90</em>元，最少提现10元!</span>
                    <span class="error"></span>
                </td>
            </tr>
            <tr>
                <td align="right" width="100px"></td>
                <td align="left">
                    <input type="submit" value=" 申 请 " class="search-btn">
                </td>
            </tr>
        </table>

        <div class="apply-tips">
            <h4>取款费率说明：</h4>
            <ol>
                <li>1、向上海地区个人账号转账：一个工作日内到账，不收手续费</li>
                <li>2、向其他地区个人账号转账：（非上海地区为异地）</li>
            </ol>
            <table>
                <thead>
                    <tr>
                        <th width="80">银行名称</th>
                        <th width="180">到账时间</th>
                        <th width="260">提款手续费（此手续费实为银行收取）</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>建设银行</td>
                        <td>24小时到账（银行系统正常） </td>
                        <td>异地按照1%收取，最高50元</td>
                    </tr>
                    <tr>
                        <td>工商银行</td>
                        <td>24小时到账（银行系统正常） </td>
                        <td>异地按照1%收取，最高50元</td>
                    </tr>
                </tbody>
            </table>
            <h4>温馨提示：</h4>
            <ol>
                <li>1、为了保障您的资金安全，您的提款申请需要我们的财务人员核对，核对无误后通过人工办理汇款。</li>
                <li>2、因为需要手工处理您的提款要求，10元以下的提款我们暂不接受。</li>
                <li>3、若五个工作日内款还没划到您的账户上，请及时与本站工作人员联系。400-6262-166。</li>
                <li>4、提款周一至周五每日处理，法定节假日除外。工作日17点前申请提款，当日处理；17点后申请的提款，次日处理。</li>
            </ol>
        </div><!-- .apply-tips END -->
        
    </div>
</div>

*{
<div class="wrap clearfix">
    #{include "share/left.html"/}
    <div class="section">
        #{breadcrumbs/breadcrumb breadcrumbs/}
        <form action="@{UserWithdraw.index()}" method="GET" id="form">
            #{select 'condition.status',id:'condition_status',value:condition?.status}
            #{option ""}全部#{/option}
            #{option "APPLIED"}&{'withdraw.APPLIED'}#{/option}
            #{option "SUCCESS"}&{'withdraw.SUCCESS'}#{/option}
            #{option "REJECTED"}&{'withdraw.REJECTED'}#{/option}
            #{/select}
        </form>
        #{vx.tab
        name:'withdraw',
        enumItems: models.accounts.WithdrawBillStatus,
        select:'condition_status',
        value:condition.status,
        form:'form'/}
        <div style="float:right;margin-top:-28px;background-color: #25b4ab; padding:4px;">
            <a  href="/withdraw/apply" style="color: white">申请提现</a>
        </div>
        <div style="clear: both"></div>
        <div class="tab_top2">
            #{if billPage.size() == 0}
            暂无提现申请记录
            #{/if}
            #{else}
            <table class="order-tab" cellpadding="0" cellspacing="0" style="width:100%">
                <tr class="col-name">
                    <th>申请时间</th>
                    <th>收款人</th>
                    <th>银行</th>
                    <th>银行卡号</th>
                    <th>申请金额</th>
                    <th>申请状态</th>
                    <th>操作</th>
                </tr>
                #{paginate.list items:billPage, as:'withdrawBill'}
                <tr align="center">
                    <td>${withdrawBill.appliedAt.format('yyyy-MM-dd HH:mm:ss')}</td>
                    <td>${withdrawBill.userName}</td>
                    <td>${withdrawBill.bankName}</td>
                    <td>${withdrawBill.cardNumber}</td>
                    <td>${withdrawBill.amount.formatCurrency('CNY')}</td>
                    <td>&{'withdraw.' + withdrawBill.status}</td>
                    <td><a href="/withdraw/detail/${withdrawBill.id}">查看详情</a></td>
                </tr>
                #{/paginate.list}
            </table>
            #{/else}
        </div>
    </div>
</div>
}*
