#{extends 'main.html' /}
#{set 'moreStyles'}
<link href="@@{'/public/stylesheets/index.css'}" rel="stylesheet" type="text/css"/>
#{/set}
<div id="banner">
    <div class="inner">
        <img src="@{'/public/images/front/banner.png'}" />
    </div>
</div>
<div id="content" class="clearfix">
    <div class="section">
        <div class="whyjoin">
            <h3><img src="@{'/public/images/front/why.png'}" /></h3>
            <ol>
                <li class="reason1">每年仅算节日券销售就达数百亿，市场规模大。</li>
                <li class="reason2">一线品牌商户入驻，产品服务质量有保障。</li>
                <li class="reason3">生活消费券涉及餐饮、娱乐、教育等，品种多且利润高。</li>
                <li class="reason4">您只管销售，我们负责发货和售后，您省时省力。</li>
            </ol>
        </div>
        <div class="partner">
            <h3><img src="@{'/public/images/front/partner.png'}" /></h3>
            <ul class="clearfix">
                <li><img src="@{'/public/images/front/exp.png'}" /></li>
                <li><img src="@{'/public/images/front/exp2.png'}" /></li>
                <li><img src="@{'/public/images/front/exp3.png'}" /></li>
                <li><img src="@{'/public/images/front/exp4.png'}" /></li>
                <li><img src="@{'/public/images/front/exp2.png'}" /></li>
            </ul>
        </div>
    </div>
    <div class="aside">
        <div class="guide">
            <a class="joinus" href=""><img src="@{'/public/images/front/joinus.png'}" /></a>
            <a class="login" href=""><img src="@{'/public/images/front/login.png'}" /></a>
        </div>
        <div class="salemode">
            <h3><img src="@{'/public/images/front/salemode.png'}" /></h3>
            <ul>
                <li>› <a href="">淘宝商及其他C2C商户代销方案</a></li>
                <li>› <a href="">大型B2C网站代销方案</a></li>
                <li>› <a href="">团购网站代销方案</a></li>
                <li>› <a href="">其他网站及企业个人代销方案</a></li>
            </ul>
        </div>
    </div>
</div>
