<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>券市场 - 生活消费券分销平台</title>
    <link rel="shortcut icon" href="#{asset.url href:'/images/r/favicon.ico'/}" type="image/x-icon" />
    #{asset.css src:['/r/base.css'] /}
<style>
#header .inner,
#content {
    width: 960px;
}
.solution {
    margin: 20px 0;
    line-height: 20px;
}
.solution h2 {
    font-size: 20px;
}
.solution h3 {
    padding-top: 20px;
    font-size: 14px;
    line-height: 32px;
}
.solution h4 {
    font-size: 12px;
    line-height: 30px;
}
</style>
</head>
<div id="header" class="clearfix">
    <div class="inner">
        <h1 id="logo"><img src="http://img.uhcdn.com/images/r/small-logo.png" alt="100券" /></h1>
        <div id="user">
        #{if cas?.isLogin}
            欢迎您，<a href="/orders">${cas.username}</a> | <a href="/logout">退出</a>
        #{/if}
        #{else}
            您好，欢迎您来到券市场！<a href="/login">请登录</a>
        #{/else}
        </div>
        <ul id="menu">
            <li><a class="current" href="/">首　页</a></li>
            <li><a href="/goods">商品库</a></li>
            <li><a href="/library">我的分销库</a></li>
        </ul>
    </div>
</div>
<div id="content" class="clearfix">
    <div class="solution">
        <h2>行业解决方案</h2>
        <h3 id="taobao">1. 淘宝商</h3>
        <p>自2012年淘宝发力开始做本地生活平台，进行大量的招本地生活淘宝代理商，可见本地生
        活消费是淘宝未来业务的重要增长点。在淘宝开放平台上，作为已经成熟的淘宝商如何代
        理到优质且低价的品牌商户生活消费券产品，加入到淘宝平台本地生活中去，将决定是否
        能搭乘到淘宝本地生活的“黄金列车”。</p>

        <h4>客户需求：</h4>
        <ol>
            <li>需要大量的价格有优势的品牌商户生活消费券产品</li>
            <li>需要产品资料齐全，说明清楚的产品介绍并能快速准确的发布到淘宝店中</li>
            <li>需要管理和选择代理的产品，随时调整</li>
            <li>只负责前台销售、发货与售后由”券市场”负责</li>
        </ol>

        <h4>解决方案：</h4>
        <p>“券市场”针对淘宝商的业务需求，
        提供知名品牌商户消费券产品，通过行业分类、地区分类、商圈分类查找并选择需要代销
        的产品。
        通过与淘宝API系统对接，让我们的产品可以一键发布到淘宝，方便省时。
        通过强大的后台管理系统，提供更便捷的产品信息图片管理、价格管理、资金管理等。
        提供对账单下载及结算报表支持。支持T+1结算及提现，有效提升资金利用率。
        提供快速准确的代销发货系统，完善的售后团队。让淘宝商安心做销售。
        </p>

        <h3 id="bigb2c">2. 大型B2C网站</h3>
        <p>垂直B2C电商市场已经非常成熟，各大B2C网站都进入多元化、多类别产品销售期。本地
        生活服务也是各大B2C网站未来业务增长非常重要的一块分类业务。但本地生活服务电子
        化系统化进程还属于初级阶段，每家B2C网站不太可能成立庞大的招商队伍进行实体店产
        品引进。如何解决品牌商户产品的引进成为各大B2C网站急需解决的问题。</p>

        <h4>客户需求：</h4>
        <ol>
            <li>需要大量的价格有优势的品牌商户生活消费券产品</li>
            <li>需要标准API技术对接，产品信息、价格能时时更新</li>
            <li>需要管理和选择代理的产品，随时调整</li>
            <li>系统化的财务对账与T+1结算</li>
            <li>只负责前台销售并提成、发货与售后”券市场”负责</li>
        <ol>

        <h4>解决方案：</h4>
        <p>“券市场”针对大型B2C网站的业务需求，
        提供知名品牌商户消费券产品，通过行业分类、地区分类、商圈分类查找并选择需要代销
        的产品。
        通过与B2C网站API系统对接，生活服务产品时时更新，方便省时。
        通过强大的后台管理系统，提供更便捷的产品信息图片管理、价格管理、资金管理等。
        提供对账单下载及结算报表支持。支持T+1结算及提现，有效提升资金利用率。
        提供快速准确的代销发货系统，完善的售后团队。让B2C网站可以安心做营销。
        </p>

        <h3 id="other">3. 小企业与个体户</h3>
        <p>中国礼品市场一直非常活跃，很多中小企业与个人都有非常丰富的客户资源，过年过节需
        要大量的礼品产品。如粽子券、月饼券、商场超市礼品卡等。如何采购到品类繁多满足客
        户需求的产品，是这些礼品企业和个人急需解决的问题。
        </p>

        <h4>客户需求：</h4>
        <ol>
            <li>需要大量、品类齐全、价格有优势的礼品券产品</li>
            <li>需要漂亮的宣传页与宣传资料</li>
            <li>投入小，低风险，利润高</li>
            <li>只负责销售与结帐、发货与售后由供应商负责</li>
        </ol>

        <h4>解决方案：</h4>
        <p>
        “券市场”针对小企业与个人的业务需求，
        提供大量、品类齐全的知名品牌礼品券产品。
        制作精美的宣传手册及相关宣传资料。
        销售不掉可全额立即退款，0风险。
        提供快速准确的代销发货系统，完善的售后团队。让小企业与个人安心做客户。
        </p>
    </div>
</div>
<div id="footer">
    <div class="copyright">版权所有：上海视惠信息科技有限公司 ©2012 quanFX.COM  沪ICP备08114451号-4</div>
</div>
</body>
</html>

