*.log
*.log.*
*.class
*.jar
*.pyc
eclipse
.settings
.project
.classpath
*.ipr
*.imr
*.iml
logs
test-result
version.conf

# selenium
[0-9a-f]*-[0-9a-f]*-[0-9a-f]*-[0-9a-f]*-[0-9a-f]*

.DS_Store
*/*/target
*/*/lib
*/*/modules
*/*/tmp
*/tmp
*/modules
*/lib
.idea
