*.log
*.class
*.jar
eclipse
.settings
.project
.classpath
*.ipr
*.imr
*.iml

cdn/assets/modules/
cdn/image-server/modules/
cdn/image-server/tmp/
module/base_rbac/commands.pyc
module/oauth/commands.pyc
mq_consumer/modules/
mq_consumer/tmp/
operate/admin/modules/
operate/business/modules/
operate/business/tmp/
operate/cms/modules/
operate/cms/tmp/
operate/report/modules/
operate/report/tmp/
resale/home/modules/
resale/home/tmp/
supplier/admin/modules/
supplier/admin/tmp/
supplier/home/modules/
supplier/home/tmp/
supplier/order/modules/
supplier/order/tmp/
supplier/report/modules/
supplier/report/tmp/
supplier/sales/modules/
supplier/sales/tmp/
supplier/sms/modules/
supplier/sms/tmp/
website/home/modules/
website/home/tmp/
website/www/modules/
website/www/tmp/

[0-9a-f]*-[0-9a-f]*-[0-9a-f]*-[0-9a-f]*-[0-9a-f]*