*.log
*.log.*
*.class
*.tmp
*.jar
out
*.pyc
eclipse
nbproject
.settings
.project
.classpath
*.ipr
*.imr
*.iws
*.iml
logs
test-result
version.conf

# selenium
[0-9a-f]*-[0-9a-f]*-[0-9a-f]*-[0-9a-f]*-[0-9a-f]*

.idea/
module/dangdang/documentation/
module/sales/conf/test/solr/goods/collection1/data/
.DS_Store
*/*/core
*/*/target
*/*/lib
*/*/modules
*/*/tmp
*/tmp
*/modules
*/lib
.idea
precompiled
