#{extends 'layout_operate/layout.html' /}

#{set 'topbar-nav'}
#{include 'share/topbar-nav.html'/}
#{/set}
#{set 'sidebar-nav'}
#{include 'share/sidebar-nav.html'/}
#{/set}

#{set title:'操作员添加' /}
#{set 'moreScripts'}
  <script src="@{'/public/javascripts/supplierUsers.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
#{form @OperateUsers.create() , id:'operForm',class:"form-horizontal" }
 <legend>操作员添加</legend>
  <div class="control-group">
  <label for="input01" class="control-label">角色</label>
  <div class="controls">
  #{list items:rolesList, as:'role'}
   <label class="checkbox inline">
       <input type="checkbox" value="${role.id}" name="supplierUser.roles.id" #{if roleIds?.contains(String.valueOf(role?.id))}checked#{/if}/> ${role.text}
     </label>
  #{/list}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="error">#{error 'supplierUser.roles' /}</span>
   </div>
 </div>
 <div class="control-group">
  <label for="input01" class="control-label"><span style="color: red; ">*</span>用户名</label>
  <div class="controls">
   <input type="text" name="supplierUser.loginName" class="input-large" id="loginName" value="${supplierUser?.loginName}"/>
    <span class="error" id="checkName">#{error 'supplierUser.loginName' /}</span>
  </div>
 </div>
 <div class="control-group">
  <label for="input01" class="control-label"><span style="color: red; ">*</span>手机</label>
  <div class="controls">
   <input type="text" name="supplierUser.mobile" class="input-large" id="mobile" maxlength="11" value="${supplierUser?.mobile}"/>
   <span class="error" id="checkMobile">#{error 'supplierUser.mobile' /}</span>
  </div>
 </div>
 <div class="control-group">
  <label for="input01" class="control-label"><span style="color: red; ">*</span>密码</label>
  <div class="controls">
   <input type="password" name="supplierUser.encryptedPassword" class="input-large" value="${supplierUser?.encryptedPassword}" />
    <span class="error">#{error 'supplierUser.encryptedPassword' /}</span>
  </div>
 </div>
  <div class="control-group">
  <label for="input01" class="control-label">姓名</label>
  <div class="controls">
   <input type="text" name="supplierUser.userName" class="input-large" id="userName" value="${supplierUser?.userName}"/>
  </div>
 </div>
 <div class="form-actions">
  <button class="btn btn-primary" id="save" type="button">保 存</button>
 </div>
#{/form}
