#{extends 'main2.html' /}
#{set title:'一百券 - 确认付款' /}
#{set 'moreStyles'}
    #{asset.css src:['/cart/121221/flowstep.css', '/cart/121109/payok.css'] /}
#{/set}
#{set 'moreScripts'}
    #{asset.js src:['/y/confirm.js'] /}
#{/set}

%{baseDomain = play.Play.configuration.getProperty("application.baseDomain")}%
<div id="content" class="clearfix">
    <ul class="flowstep step4">
        <li class="done">1. 查看购物车</li>
        <li class="done">2. 确认订单信息</li>
        <li class="done">3. 确认付款</li>
        <li class="done">4. 成功提交订单</li>
    </ul>

    #{if order}
        #{if order.status == models.order.OrderStatus.PAID}
            <div class="payok yuepay">
                <h3>一百券收银台</h3>
                <div class="pay-ok">恭喜您付款成功！</div>
                <div class="pay-btn">
                    <a class="vieworder" href="http://home.${baseDomain}/orders/${order.orderNumber}">查看订单详情<b></b></a>
                    <a class="goshop" href="http://www.${baseDomain}">继续购物<b></b></a>
                </div>
                <div class="note"><i>注</i>：您还可以在 “ <a href="http://home.${baseDomain}" target="_blank">我的一百券</a> >
                    <a href="http://home.${baseDomain}" target="_blank">我购买的商品</a> >
                    <a href="http://home.${baseDomain}/orders/${order.orderNumber}" target="_blank">订单详情</a>”查看商品券号或配送详情，凭短信的券号到取货门店直接取货。电子券商品，只要您未进行消费，且保持一百券订单有效，我们将提供随时退款的服务。我们的客服电话：400-686-5151  我们的客服邮件是：uhuila@seewi.com.cn
                </div>
            </div>
        #{/if}
        #{else }
            <div class="payok alipay">
                <h3>一百券收银台</h3>
                <div class="pay-money">你已选择 ${paymentSource.name} 支付 <span>${order.discountPay}</span>元</div>
            #{form @payIt(), target:play.Play.runingInTestMode() ? "_self" : "_blank", id: "pay_it_form"}
                <input name="paymentCode" value="${paymentSource.code}" type="hidden"/>
                <input name="orderNumber" value="${order.orderNumber}" type="hidden"/>
                <a class="confirm-pay" id="confirm_pay" style="cursor:pointer">确认支付<b></b></a>
            #{/form}
                <a href="/payment_info/${order.orderNumber}" class="reselect">重新选择支付方式</a>
            </div>
        #{/else}
    #{/if}

    #{if !order}
    <div> 对不起，找不到您所需要的订单 :(</div>
    #{/if}
</div>

<div id="full_bg"></div>
<div id="payment_result">
        <a class="close" href="#" onclick="close_result_dialog();">关闭</a><br/><br/>
        <div class="pay-tips">付款完成前请不要关闭此窗口。完成付款后请根据您的情况点击下面的按钮：</div>
    #{if order}
        <a class="repay" href="/payment_info/${order.orderNumber}">遇到问题？</a>
    #{/if}
        <a class="payed" href="http://home.${baseDomain}/orders">已完成付款</a>
</div>
