#{extends 'mock.html' /}
#{set title:'API模拟测试 - 京东订单生成测试' /}

#{form @mock.JingDongGroupByRequest.doSendOrder(), method:'POST', id:'orderForm', class:'form-horizontal'}
    <fieldset>
        <div id="legend" class="">
            <legend class="">京东订单生成测试</legend>
        </div>
        <div class="control-group">
            <label class="control-label" for="jd-url">测试目标地址</label>
            <div class="controls">
                <input type="text" id="jd-url" name="url" class="input-xxlarge" value="${url}">
                <p class="help-block">可修改为使用其它地址</p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">已发布到京东商品</label>
            <div class="controls">
                #{select 'productId', id:'select1'}
                    #{list items: products, as:'product'}
                    #{option product.id}${product.goods.shortName}#{/option}
                #{/list}
                #{/select}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="jd-mobile">手机</label>
            <div class="controls">
                <input type="text" id="jd-mobile" name="mobile" class="input-xlarge" value="15026682165">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="jd-buy-number">购买数量</label>
            <div class="controls">
                <input type="text" id="jd-buy-number" name="buyNumber" class="input-xlarge" value="1">
            </div>
        </div>

        <div class="control-group">
            <!-- Form Actions -->
            <div class="form-actions">
                <button type="submit" class="btn btn-large btn-primary">提交</button>
            </div>
        </div>

    </fieldset>
#{/form}