<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- Apple devices fullscreen -->
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <title>#{get 'title' /}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://a.uhcdn.com/css/flat/bootstrap.min.css?139571883110">
    <!-- Bootstrap responsive -->
    <link rel="stylesheet" href="http://a.uhcdn.com/css/flat/bootstrap-responsive.min.css?139571883110">
    <!-- jQuery UI -->
    <link rel="stylesheet" href="http://a.uhcdn.com/css/flat/plugins/jquery-ui/smoothness/jquery-ui.css?139571883110">
    <link rel="stylesheet" href="http://a.uhcdn.com/css/flat/plugins/jquery-ui/smoothness/jquery.ui.theme.css?139571883110">
    <!-- PageGuide -->
    <link rel="stylesheet" href="http://a.uhcdn.com/css/flat/plugins/pageguide/pageguide.css?139571883110">
    <!-- Fullcalendar -->
    <link rel="stylesheet" href="http://a.uhcdn.com/css/flat/plugins/fullcalendar/fullcalendar.css?139571883110">
    <link rel="stylesheet" href="http://a.uhcdn.com/css/flat/plugins/fullcalendar/fullcalendar.print.css?139571883110" media="print">
    <!-- chosen -->
    <link rel="stylesheet" href="http://a.uhcdn.com/css/flat/plugins/chosen/chosen.css?139571883110">
    <!-- select2 -->
    <link rel="stylesheet" href="http://a.uhcdn.com/css/flat/plugins/select2/select2.css?139571883110">
    <!-- icheck -->
    <link rel="stylesheet" href="http://a.uhcdn.com/css/flat/plugins/icheck/all.css?139571883110">
    <link rel="stylesheet" href="http://a.uhcdn.com/css/flat/plugins/datepicker/datepicker.css?139571883110">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="http://a.uhcdn.com/css/flat/style.css?139571883110">
    <!-- Color CSS -->
    <link rel="stylesheet" href="http://a.uhcdn.com/css/flat/themes.css?139571883110">

    <!-- Flat Fix CSS -->
    #{asset.css src:['/flat-fix.css', '/o/main.css'] /}

    <!-- jQuery -->
    <script src="http://a.uhcdn.com/js/flat/jquery.min.js"></script>

    <!-- Nice Scroll -->
    <script src="http://a.uhcdn.com/js/flat/plugins/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- jQuery UI -->
    <script src="http://a.uhcdn.com/js/flat/plugins/jquery-ui/jquery.ui.core.min.js"></script>
    <script src="http://a.uhcdn.com/js/flat/plugins/jquery-ui/jquery.ui.widget.min.js"></script>
    <script src="http://a.uhcdn.com/js/flat/plugins/jquery-ui/jquery.ui.mouse.min.js"></script>
    <script src="http://a.uhcdn.com/js/flat/plugins/jquery-ui/jquery.ui.draggable.min.js"></script>
    <script src="http://a.uhcdn.com/js/flat/plugins/jquery-ui/jquery.ui.resizable.min.js"></script>
    <script src="http://a.uhcdn.com/js/flat/plugins/jquery-ui/jquery.ui.sortable.min.js"></script>
    <!-- Touch enable for jquery UI -->
    <script src="http://a.uhcdn.com/js/flat/plugins/touch-punch/jquery.touch-punch.min.js"></script>
    <!-- slimScroll -->
    <script src="http://a.uhcdn.com/js/flat/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Bootstrap -->
    <script src="http://a.uhcdn.com/js/flat/bootstrap.min.js"></script>
    <!-- vmap -->
    <script src="http://a.uhcdn.com/js/flat/plugins/vmap/jquery.vmap.min.js"></script>
    <script src="http://a.uhcdn.com/js/flat/plugins/vmap/jquery.vmap.world.js"></script>
    <script src="http://a.uhcdn.com/js/flat/plugins/vmap/jquery.vmap.sampledata.js"></script>
    <!-- Bootbox -->
    <script src="http://a.uhcdn.com/js/flat/plugins/bootbox/jquery.bootbox.js"></script>
    <!-- Flot -->
    <script src="http://a.uhcdn.com/js/flat/plugins/flot/jquery.flot.min.js"></script>
    <script src="http://a.uhcdn.com/js/flat/plugins/flot/jquery.flot.bar.order.min.js"></script>
    <script src="http://a.uhcdn.com/js/flat/plugins/flot/jquery.flot.pie.min.js"></script>
    <script src="http://a.uhcdn.com/js/flat/plugins/flot/jquery.flot.resize.min.js"></script>
    <!-- imagesLoaded -->
    <script src="http://a.uhcdn.com/js/flat/plugins/imagesLoaded/jquery.imagesloaded.min.js"></script>
    <!-- PageGuide -->
    <script src="http://a.uhcdn.com/js/flat/plugins/pageguide/jquery.pageguide.js"></script>
    <!-- FullCalendar -->
    <script src="http://a.uhcdn.com/js/flat/plugins/fullcalendar/fullcalendar.min.js"></script>
    <!-- Chosen -->
    <script src="http://a.uhcdn.com/js/flat/plugins/chosen/chosen.jquery.min.js"></script>
    <!-- select2 -->
    <script src="http://a.uhcdn.com/js/flat/plugins/select2/select2.min.js"></script>
    <!-- datepicker -->
    <script src="http://a.uhcdn.com/js/flat/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="http://a.uhcdn.com/js/flat/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>
    <!-- icheck -->
    <script src="http://a.uhcdn.com/js/flat/plugins/icheck/jquery.icheck.min.js"></script>

    <!-- Theme framework -->
    <script src="http://a.uhcdn.com/js/flat/eakroko.min.js"></script>
    <!-- Theme scripts -->
    <script src="http://a.uhcdn.com/js/flat/application.min.js"></script>

    <!--[if lte IE 9]>
    <script src="http://a.uhcdn.com/js/flat/plugins/placeholder/jquery.placeholder.min.js"></script>
    <script>
        $(document).ready(function () {
            $('input, textarea').placeholder();
        });
    </script>
    <![endif]-->

#{get 'moreStyles' /}
    <!-- Favicon -->
    <link rel="shortcut icon" href="http://a.uhcdn.com/images/flat/favicon.ico"/>
    <!-- Apple devices Homescreen icon -->
    <link rel="apple-touch-icon-precomposed" href="http://a.uhcdn.com/images/flat/apple-touch-icon-precomposed.png"/>

</head>

<body>
<div id="navigation">
    <div class="container-fluid">
        <a href="#" id="brand">运营后台</a>
        <a href="#" class="toggle-nav" rel="tooltip" data-placement="bottom" title="切换左侧菜单"><i class="icon-reorder"></i></a>
    #{navigation.topMenus2 topMenus /}
        <div class="user">
            <ul class="icon-nav">
                <li class="dropdown sett">
                    <a href="#" class='dropdown-toggle' data-toggle="dropdown"><i class="icon-cog"></i></a>
                    <ul class="dropdown-menu pull-right theme-settings">
                        <li>
                            <span>Layout-width</span>

                            <div class="version-toggle">
                                <a href="#" class='set-fixed'>Fixed</a>
                                <a href="#" class="active set-fluid">Fluid</a>
                            </div>
                        </li>
                        <li>
                            <span>Topbar</span>

                            <div class="topbar-toggle">
                                <a href="#" class='set-topbar-fixed'>Fixed</a>
                                <a href="#" class="active set-topbar-default">Default</a>
                            </div>
                        </li>
                        <li>
                            <span>Sidebar</span>

                            <div class="sidebar-toggle">
                                <a href="#" class='set-sidebar-fixed'>Fixed</a>
                                <a href="#" class="active set-sidebar-default">Default</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class='dropdown colo'>
                    <a href="#" class='dropdown-toggle' data-toggle="dropdown"><i class="icon-tint"></i></a>
                    <ul class="dropdown-menu pull-right theme-colors">
                        <li class="subtitle">
                            Predefined colors
                        </li>
                        <li>
                            <span class='red'></span>
                            <span class='orange'></span>
                            <span class='green'></span>
                            <span class="brown"></span>
                            <span class="blue"></span>
                            <span class='lime'></span>
                            <span class="teal"></span>
                            <span class="purple"></span>
                            <span class="pink"></span>
                            <span class="magenta"></span>
                            <span class="grey"></span>
                            <span class="darkblue"></span>
                            <span class="lightred"></span>
                            <span class="lightgrey"></span>
                            <span class="satblue"></span>
                            <span class="satgreen"></span>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="dropdown">
                <a href="#" class='dropdown-toggle' data-toggle="dropdown">${currentUser?.userName}
                    <img src="http://a.uhcdn.com/images/flat/demo/user-avatar.jpg" alt=""></a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="http://admin.${play.Play.configuration.getProperty("application.baseDomain")}/profile">个人设置</a>
                    </li>
                    <li>
                        <a href="/logout">退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="content">
    <div id="left">
        <form action="http://business.${play.Play.configuration.getProperty("application.baseDomain")}/quick-search"
              method="GET" target="_blank" class='search-form'>
            <div class="search-pane">
                <input rel="tooltip"
                       data-placement="bottom"
                       data-original-title='券号/手机/订单号/外部订单号(数字之前加上WD)/外部券号(数字之前加上WQ)'
                       type="text" name="q" placeholder="快速搜索...">
                <button type="submit"><i class="icon-search"></i></button>
            </div>
        </form>
        #{get 'sidebar-nav'/}
    </div>
    <div id="main">
        <div class="container-fluid">
            <div class="row-fluid">
            #{doLayout /}
            </div>
        </div>
    </div>
</div>
<footer>
%{
    models.cms.Topic devOncall = models.cms.Topic.getDevOnCall();
    }%
    <div class="text-success" style="padding-left: 20px">技术值班人：<a href="http://cms.${play.Play.configuration.getProperty("application.baseDomain")}/topics/161" target="_blank">${devOncall?.title}</a></div>
    <p class="pull-right" style="padding-right: 20px">&copy; 上海视惠信息科技有限公司 2012-2013</p>
</footer>
<script>
    $(function () {
        $('.bs-datepicker').datepicker();
    });

    $(function () {
        $("[rel='tooltip']").tooltip(
                {html:true
                })

    });

</script>

#{get 'moreScripts' /}
</body>

</html>

