
<!DOCTYPE html>

<html>
  <head>
    <title>券市场 - 重设密码</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
     <script src="http://a.uhcdn.com/js/u/jquery-1.7.2.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" media="screen" href="/public/stylesheets/main.css">
        <link href="/public/assets/css/bootstrap.css" rel="stylesheet">
        
        <style type="text/css">
        body {
        	padding-top: 60px;
        	padding-bottom: 40px;
        }
        
        .form-horizontal .controls {
        	margin-left: 460px;
        	*display: inline-block;
        	*margin-left: 0;
        	*padding-left: 20px;
        	vertical-align: center
        }
        
        .form-horizontal .control-label {
        	width: 420px;
        	padding-top: 5px;
        	text-align: right;
        }
        
        .form-horizontal .form-actions {
        	padding-left: 460px;
        }
</style>
</head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span10">
          <script type="text/javascript">
    //忘记登录密码 修改密码
    function updatePass() {
        var password = $("#password").val();
        var confirmPassword = $("#confirmPassword").val();
        var mobile = $("#mobile").val();
        if (password == "") {
            $("#checkupuserpass1").html("<font color=red>请输入密码！</font>");
            return false;
        }
        if (password != ''&& password.length < 6) {
            $("#checkupuserpass1").html("<font color=red>密码至少6位！</font>");
            return false;
        } else {
            $("#checkupuserpass1").html("");
        }
        
        if (password != confirmPassword) {
            $("#checkupuserpass2").html("<font color=red>两次密码不一致</font>");
            return false;
        }
        
        $.post("/reset-password", {
            supplierUserId : $("#supplierUserId").val(),
            password : password,
            confirmPassword : confirmPassword,
            mobile : mobile
        }, function(data) {
            if (data == 1) {
                alert('修改成功');
                window.location.href = "/login";
            } else if (data == -1) {
                alert('对不起，可能时间过长，请重新设置！') ;
            } else {
                alert('修改失败');
            }
        }, "text");
    }
</script>
<!--主体内容部分-->
<legend style="padding-left:300px">券市场 - 重设密码</legend>
<form class="form-horizontal" action="" method="POST">

     <div class="control-group">
      <label for="input01" class="control-label"><span style="color: red;">*</span>所属商户:</label>
        <div class="controls">
            ${supplierUser?.supplier?.fullName}
        </div>
    </div>
     <div class="control-group">
      <label for="input01" class="control-label"><span style="color: red;">*</span>用户名:</label>
        <div class="controls">
              ${supplierUser?.loginName}
        </div>
    </div>
    <div class="control-group">
        <label for="input01" class="control-label"><span style="color: red;">*</span>请输入新的密码:</label>
        <div class="controls">
            <input type="password" id="password" size="26" maxlength="20" class="inputBox" />
            <span class="error" id="checkupuserpass1"></span>
        </div>

    </div>
    <div class="control-group">
        <label for="input01" class="control-label"><span style="color: red;">*</span>再次输入新密码:</label>
        <div class="controls">
            <input type="password" id="confirmPassword" size="26" maxlength="20" class="inputBox" />
            <span class="error" id="checkupuserpass2"></span>
        </div>

    </div>
    <div class="form-actions" style="background-color:#fff;border-top:0">
        <input onclick="updatePass()" class="btn btn-primary" id="sure" type="button" value="确 定" />
    </div>
    <input id="mobile" name="mobile" type="hidden" value="${mobile}">
     <input id="supplierUserId" name="supplierUserId" type="hidden" value="${supplierUser?.id}">
</form>        </div>
      </div>
    </div>
  </body>
</html>