#{extends 'layout_operate/layout.html' /}
#{set title:'快递运费管理' /}
#{include '/share/nav.html' /}
<div class="body">
    <legend>${title}</legend>
    <a href="/freights/new" class="btn btn-primary  " id="add_search">添加</a>
    <br><br>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
            <th width="298px">商户名称</th>
            <th width="200px">快递公司名称</th>
            <th width="100px">城市</th>
            <th width="100px">运费</th>
            <th width="150px">操 作</th>
        </tr>
        </thead>

        <tbody>

        #{paginate.list items:freightList, as:'freight'}
        <tr>
            <td>${freight?.supplier?.fullName}</td>
            <td>${freight?.express?.name}
            <td>
        ${freight?.province}
            </td>
            <td>
            ${freight?.price?.formatCurrency('CNY')}
            </td>
            <td>
                <a href="/freights/${freight?.id}/edit?page=${page?:1}">修改</a>
                / #{vx.deleteLink id:freight?.id, name:'此运费价格', action:"/freights"/}
            </td>
        </tr>
        #{/paginate.list}
        </tbody>
    </table>
    <div class="pagination" align="center">
        <ul>
        #{paginate.controls items:freightList/}
        </ul>
    </div>
</div>
