#{extends 'layout_trader/layout.html' /}
#{include 'Share/nav.html' /}
#{set title:'订单详细信息' /}
#{set 'moreScripts'}
  <script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}

<div class="body">
 <legend>订单详细</legend>
  <table width="80%">
   <tr><td>订单号：${orders.orderNumber}</td>
   <td>订单时间：${orders.createdAt == null ?'':orders.createdAt.format("yyyy-MM-dd HH:mm:ss")}</td>
   <td>支付时间：${orders.paidAt == null ?'':orders.paidAt.format("yyyy-MM-dd HH:mm:ss")}</td>
   </tr>
   </table>

 <legend>商品信息</legend>
  <table class="table">
   <thead>
    <tr>
     <th>商品编号</th>
     <th>商品名称</th>
     <th>单价</th>
     <th>数量</th>
     <th>有效期</th>
     <th>需要支付金额</th>
     <th>获得积分</th>
    </tr>
   </thead>
   <tbody>
    #{list items:orderItems, as:'row' }
    <tr>
     <td>${row.goods.no}</td>
     <td>${row.goodsName}</td>
     <td>${row.salePrice}</td>
     <td>${row.buyNumber}</td>
     <td>${row.goods.effectiveAt == null ?'':row.goods.effectiveAt.format("yyyy-MM-dd")}  /
         ${row.goods.expireAt == null ?'':row.goods.expireAt.format("yyyy-MM-dd")}
     </td>
     <td>${orders.needPay}</td>
     <td>0</td>
    </tr>
    #{/list}
   </tbody>
   <tr><td colspan="6">商品金额： ${orders.amount} &nbsp;元 &nbsp;+运费：0 &nbsp;-折扣：0 &nbsp;元= &nbsp;总金额： ${orders.amount} 元</td></tr>
   </table>
    <table class="table">
   <tr><td>支付方式： ${orders.payMethod=='1'?'支付宝':'网银'}</td></tr>
   <tr><td>订单状态： ${orders.status=='1'?'处理中':'处理成功'}</td></tr>
   <tr><td>物流方式： ${orders.deliveryType=='2'?'有物流':'无物流'}</td></tr>
  </table>

   <table class="table">
   <tr><td>收货信息</td></tr>
   #{if (orders.orderItems.goods.materialType.toString().equals("[REAL]"))}
   <tr><td>收货人姓名： ${orders.receiverName}</td></tr>
   <tr><td>收货地址： ${orders.receiverAddress}</td></tr>
   #{/if}
   <tr><td>联系方式： ${orders.receiverMobile}</td></tr>
  </table>
   <table class="table">
   <tr><td>订购者信息</td></tr>
   <tr><td>订购者帐号： ${orders.payMethod}</td></tr>
   <tr><td>订购者手机： ${orders.buyerMobile}/ ${orders.buyerPhone}</td></tr>
   <tr><td>备注： ${orders.remark}</td></tr>
  </table>
#{if orders.refundAt != null }
   <table class="table">
   <tr><td>退款信息</td></tr>
   <tr><td>申请退款时间：${orders.refundAt == null ?'':orders.refundAt.format("yyyy-MM-dd HH:mm:ss")}</td></tr>
   <tr><td>退款时间： ${orders.refundAt == null ?'':orders.refundAt.format("yyyy-MM-dd HH:mm:ss")}</td></tr>
   <tr><td>退款金额：</td></tr>
  </table>
#{/if}
</div>
