#{extends 'layout_operate/layout.html' /}
#{set title:'上传商品' /}
#{include '/share/nav.html' /}
#{set 'moreScripts'}
    <script src="@{'/public/javascripts/kindeditor-min.js'}" type="text/javascript" charset="UTF-8"></script>
    <script src="@{'/public/javascripts/lang/zh_CN.js'}" type="text/javascript" charset="UTF-8"></script>
    <script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
    #{asset.js src:['/ztree/jquery.ztree.all-3.5.min.js'] /}
    <script src="@{'/public/javascripts/ztree-helper.js'}" type="text/javascript" charset="UTF-8"></script>
    <script type="text/javascript">

        var categoryTreeCallbacks = {}
        $.extend(categoryTreeCallbacks,getSinglePathCallbacks("categoryTree"),getAutoExpandCallbacks("categoryTree"))
        var categoryTreeSettings = {
            async: {
                enable: true,
                url:"/yhd-ztree/category",
                autoParam:["id"]
            },
            check:{
                enable:true,
                chkStyle:"radio",
                radioType:"all"
            },
            data: {
                simpleDate:{
                    enable: true
                }
            },
            view: {
                showIcon: false,
                showLine: false,
                dblClickExpand: false
            },
            callback: categoryTreeCallbacks
        };

        var merchantCategoryTreeCallbacks = {}
        $.extend(merchantCategoryTreeCallbacks,getSinglePathCallbacks("merchantCategoryTree"),getAutoExpandCallbacks("merchantCategoryTree"))
        var merchantCategoryTreeSettings = {
            async: {
                enable: true,
                url:"/yhd-ztree/merchant-category",
                autoParam:["id"]
            },
            check:{
                enable:true,
            },
            data: {
                simpleDate:{
                    enable: true
                }
            },
            view: {
                showIcon: false,
                showLine: false,
                dblClickExpand: false
            },
            callback: merchantCategoryTreeCallbacks
        };

        $(function(){
            $.fn.zTree.init($("#categoryTree"), categoryTreeSettings);
            $.fn.zTree.init($("#merchantCategoryTree"), merchantCategoryTreeSettings);

            KindEditor.create('textarea[name="productDescription"]',
                {
                    filterMode:false,
                    allowFileManager:false
            });
            $("#submit").click(function(){
                var checkedCategory = $.fn.zTree.getZTreeObj("categoryTree").getCheckedNodes(true);
                var categoryChain = buildTreeChain(checkedCategory);

                var checkedMerchantCategory = $.fn.zTree.getZTreeObj("merchantCategoryTree").getCheckedNodes(true);
                var checkedMerchantCategoryStr = buildCheckedStr(checkedMerchantCategory, ",")
                var merchantCategoryChain = buildTreeChain(checkedMerchantCategory);

                $("#inputCategory").val(checkedCategory[0].id);
                $("#inputMerchantCategory").val(checkedMerchantCategoryStr);
                $("#categoryIdChains").val(categoryChain.join(","));
                $("#merchantCategoryIdChains").val(merchantCategoryChain.join(","));
                return true;
            });
        });
    </script>
#{/set}
#{set 'moreStyles'}
    #{asset.css src:['/ztree/zTreeStyle.css'] /}
#{/set}
<div class="body">
    <legend>一号店上传商品：<a href="/goods/${goods.id}" target="_blank">
        ${goods.shortName}</a>
    </legend>
    <form class="form-horizontal" method="POST" action="/resale-partner-products/yhd/upload" enctype="multipart/form-data">
        <div class="control-group">
            <label class="control-label">是否电子凭证 *</label>
            <div class="controls">
                <input type="radio" name="electronicCerticate" value="是" checked>是
                <input type="radio" name="electronicCerticate" value="否">否
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputWeight">毛重 *</label>
            <div class="controls">
                <input type="text" id="inputWeight" name="weight" value="0">
                <span class="help-inline">单位KG，最多两位小数</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">产品类别 *</label>
            <div class="controls">
                <ul id="categoryTree" class="ztree"></ul>
                <input name="categoryId" id="inputCategory" type="hidden">
                <input name="categoryIdChains" id="categoryIdChains" type="hidden">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">商家产品类别 *</label>
            <div class="controls">
                <ul id="merchantCategoryTree" class="ztree"></ul>
                <input name="merchantCategoryId" id="inputMerchantCategory" type="hidden">
                <input name="merchantCategoryIdChains" id="merchantCategoryIdChains" type="hidden">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputProductCname">产品名称 *</label>
            <div class="controls">
                <input type="text" id="inputProductCname" class="input-block-level" name="productCname" value="${goods.name}">
                <span class="help-block">不超过100个字符</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputProductSubTitle">产品名称副标题&nbsp;&nbsp;</label>
            <div class="controls">
                <input type="text" id="inputProductSubTitle" name="productSubTitle" class="input-block-level">
                <span class="help-block">不超过100个字符</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputProductNamePrefix">产品名称前缀&nbsp;&nbsp;</label>
            <div class="controls">
                <input type="text" id="inputProductNamePrefix" name="productNamePrefix">
                <span class="help-inline">不超过10个字符</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">商家品牌 *</label>
            <div class="controls">
                #{list items:brands, as:'brand'}
                    <label class="radio">
                        <input type="radio" name="brandId" value="${brand.id}"> ${brand.name}
                    </label>
                #{/list}
            </div>
        </div>
        %{
            maxFaceValue = goods.getResalePrice().multiply(new BigDecimal("1.5"))
                    .setScale(0, java.math.RoundingMode.DOWN)
                    .subtract(java.math.BigDecimal.ONE);
            if(goods.faceValue.compareTo(maxFaceValue) > 0) {
                goods.faceValue = maxFaceValue;
            }
        }%
        <div class="control-group">
            <label class="control-label" for="inputProductMarketPrice">市场价 *</label>
            <div class="controls">
                <input type="text" id="inputProductMarketPrice" name="productMarketPrice" value="${goods.faceValue}">
                <span class="help-inline">最多两位小数,不能超过销售价的1.5倍</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputProductSalePrice">销售价 *</label>
            <div class="controls">
                <input type="text" id="inputProductSalePrice" name="productSalePrice" value="${goods.salePrice}">
                <span class="help-inline">不能大于市场价，最多两位小数</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputVirtualStockNum">库存 *</label>
            <div class="controls">
                <input type="text" id="inputVirtualStockNum" name="virtualStockNum" value="${goods.cumulativeStocks}">
                <span class="help-inline">大于或等于0</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">是否可销售</label>
            <div class="controls">
                <input type="radio" name="canSale" value="1" checked> 是
                <input type="radio" name="canSale" value="0"> 否
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">主图</label>
            <div class="controls">
                <input type="file" name="imgFile" > 最好是600x600的图片
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">产品描述</label>
            <div class="controls">
                <textarea rows="8" cols="100"  name="productDescription" id="productDescription" style="width:850px;height:550px;display:hidden;">
                    <p> <span style="font-size:14px;"><img class="blogimg" src="http://d12.yihaodianimg.com/t20/2012/0918/482/491/a8cd44b5220bbbefc77fecedee40a191.jpg"></span></p>
                    <table border="1" cellpadding="0">
                        #{list items:goods.shopList, as:'shop'}
                            <tr>
                                <td>${shop.name}</td>
                                <td>地址：${shop.address}<br/>电话${shop.phone}</td>
                                <td>交通：</td>
                            </tr>
                        #{/list}
                    </table>

                    ${goods.exhibition.raw()}

                    <p> <span style="font-size:14px;"><img class="blogimg" src="http://d11.yihaodianimg.com/t20/2012/0918/316/493/089b3c37367a0f5fc77fecedee40a191.jpg"></span></p>
                    ${goods.prompt.raw()}

                    #{if goods.materialType == models.sales.MaterialType.ELECTRONIC}
                    <p> <img class="blogimg" src="http://d11.yihaodianimg.com/t20/2012/0918/149/494/4a78c67f6862e133c77fecedee40a191.jpg"><br/>
                        <img class="blogimg" src="http://d12.yihaodianimg.com/t20/2012/0918/165/494/ab7237f2bc21e5a7c77fecedee40a191.jpg"><br>
                    </p>
                    #{/if}
                    <p>
                        <img class="blogimg" src="http://d13.yihaodianimg.com/t20/2012/0919/53/22/acc198b608020f48c77fecedee40a191.jpg">
                    </p>

                    ${goods.details.raw()}

                    <p> <span style="font-size:14px;"><img class="blogimg" src="http://d11.yihaodianimg.com/t20/2012/0918/261/494/41c50245eeda685bc77fecedee40a191.jpg"></span></p>

                    ${goods.supplierDes.raw()}
                </textarea>
            </div>
        </div>
        <div class="form-actions">
            <input type="hidden"name="productType" value="0" >
            <input type="hidden" name="outerId" value="${goods.id}" >
            <button type="submit" id="submit" class="btn btn-primary">发布</button>
        </div>
    </form>
</div>
