#{extends 'layout_operate/export_material_layout.html' /}
#{set title:'商品一览' /}
#{include '/share/nav.html' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/goods.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
#{set 'moreStyles'}
<style type="text/css">

    .body {
        margin: 0px 200px 0px 200px;
        width: 580px;
    }

    .margin-bottom {
        margin-bottom: 20px;
    }

    .heading1 {
        margin-left: 20px;
        margin-top: 100px
    }

    .heading2 {
        margin: 100px 0px 100px 70px;
    }

    .text {
        margin-left: 150px;
        padding-botton: 50px;
    }

    .text-level1 {
        margin-left: 30px;

    }

    .text-level2 {
        margin-left: 50px
    }

    .highlight-underline {
        text-decoration: underline;
        text-decoration-color: red;
        color: red;
    }

    .highlight {
        color: red;
    }


</style>
#{/set}

<div class="body">
    <center>
        <h2>视惠电子券业务受理流程指导</h2>
    </center>
    <b class="heading1">1． 消费认证步骤</b>
    <br>
    <b class="heading2">1) 电话验证：</b>
    拨打400-6262-166 听到语音提示后按“9”号键电子券验证，
    <span class="text">输入电子券编号即可，按“#”结束（按*重新输入）    </span>
    <br>
    <b class="text">确认电话是否可以验证：</b>
    商户可自行拨打400-6262-166
    <br>
    <span class="text">按9号键，随意输入号码，如提示券号不存在说明该号码已    </span>
    <br>
    <span class="text">绑定，如提示：“商户不存在”则该号码未绑定，可及时联系   </span>
    <br>
    <span class="text">客服进行绑定。</span>
    <br> <br>

    <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
            <th width="300px">已绑定电话</th>
            <th width="300px">门店</th>

        </tr>
        </thead>

        <tbody>
        #{list items:supplierUsersPage, as:'supplierUser'}
        <tr>
            <td>${supplierUser?.loginName}</td>
            <td>${supplierUser?.shop?.name}</td>
        </tr>
        #{/list}
        </tbody>
    </table>
    <br><br><br>
    <b class="heading2">2) 电脑验证： </b>
    登陆域名地址：${supplierDomainName}.quanmx.com
    <br><br>
    <span class="text">

    管理员帐号：
    #{list items:supplierUsers, as:'row1'}

        #{if row1.shop==null}
        ${row1?.loginName}
            &nbsp;

        #{/if}

    #{/list}
        </span>
    <br><br>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
            <th width="300px">分店帐号</th>
            <th width="300px">门店</th>

        </tr>
        </thead>

        <tbody>
        #{list items:supplierUsers, as:'row2'}
        <tr>
            #{if row2.shop!=null}
                <td>${row2?.loginName}</td>
                <td>${row2?.shop?.name}</td>
            #{/if}
        </tr>
        #{/list}
        </tbody>
    </table>
    <br> <br>
    <span class="text">  统一密码：</span>
    <span class="highlight-underline"><b>123456</b></span>
    <br> <br>
    &nbsp;&nbsp;&nbsp;
    <span class="heading2 highlight"> <b>简单操作：</b>  点击券管理→点击验证券→选择门店→输入10位数券号</span>
    <br>
    <b class="heading1"> 2． 短信通知内容（短信模板） </b>
    <br>
    <span class="text-level1"> 购买成功短信：（格式：商品名称 + 券号 + 有效期截至日期）</span>
    <br>
    <span class="text-level2">【一百券】 *******100元现金券**店通用！凭本券可到*****当做100元现</span>
    <br>
    <span class="text-level2"> 金使用！（商品名称）券号：325*****52  有效期：20**-**-**   如有疑问 </span>
    <br>
    <span class="text-level2">请致电：400-6262-166 </span>
    <br>
    <b class="heading1">3． 纸质“一百券”卡片使用</b>
    <br>
    <span class="text-level1">为方便商户能够收集券号并做好对账，我司制作了“一百券”小卡片做记录，主要是用</span>
    <br>
    <span class="text-level1" style="padding-left:-20px;">来记录客户的券编号。 </span>


</div>


