#{extends 'layout_operate/layout.html' /}
#{set title:'商户一览' /}
#{include '/share/nav.html' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/suppliers.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}

<div class="body">
    <legend>商户一览</legend>
#{form @Suppliers.index() , id:'operForm',class:"form-horizontal" }
    <table width="100%">
        <tr>
            <td width="15%">商户 #{layout_operate.selectInputField name:"supplierName", id:"supplierId", list:suppliers/}
            </td>

            <td width="15%">编码 <input type="text" name="code" id="code" value="${code}" class="input-medium"/></td>
            <td width="15%">域名 <input type="text" name="domainName" id="domainName" value="${domainName}"
                                      class="input-medium"/></td>

            <td width="15%">关键词
                <input rel="tooltip"
                       data-placement="top"
                       data-original-title='输入门店名称、地址、电话、销售员姓名、品牌进行搜索'
                       type="text" class="input-larger" placeholder="输入门店名称、地址、电话、销售员姓名、品牌进行搜索" name="keyword"
                       id="keyword" value="${keyword}">

            <td width="55%">
                <button class="btn btn-primary" id="search" type="submit">搜索</button>
            </td>
        </tr>
    </table>
#{/form}
    <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
            <th width="318px">公司名称</th>
            <th width="150px">短名称</th>
            <th width="200px">域名</th>
            <th width="50px">状态</th>
            <th width="50px">编码</th>
            <th width="60px">商品数</th>
            <th width="120px">可查看销售量</th>
            <th width="120px">门店数量</th>
            <th width="120px">品牌数量</th>
            <th width="200px">销售专员</th>
            <th width="100px">创建时间</th>
            <th width="100px">修改时间</th>
        *{<th width="250px">备注</th>}*
            <th width="180px">操 作</th>
        </tr>
        </thead>

        <tbody>

        #{paginate.list items:suppliers, as:'supplier'}
        <tr>
            <td>${supplier?.fullName}</td>
            <td>${supplier?.otherName}</td>
            <td><a href="http://${supplier?.supplierHost}">${supplier?.supplierHost}</a></td>
            <td>&{'supplier.'+supplier.status}</td>
            <td>${supplier?.code}</td>
            <td>
                <a href="/?condition.supplierId=${supplier?.id}">${supplier?.getGoods().size()}个</a>
                #{if supplier?.domainName == "dadong"}
                    <br/>#{a @supplier.DadongProducts.sync()}导入#{/a}
                #{/if}
            </td>
            <td>&{'supplier.showSellingState.'+supplier.showSellingState}</td>
            <td>
                <a target="_blank"
                   href="shops?shopCondition.supplierId=${supplier.id}">${supplier?.getShops().size()}</a>
            </td>
            <td>
                <a target="_blank"
                   href="/brands?supplierId=${supplier.id}">${supplier?.getBrands().size()}</a>
            </td>
            <td>
            %{ operatorUser=null;
                if(supplier.salesId!=null){
                operatorUser=models.operator.OperateUser.findById(supplier?.salesId); }
                }%
                #{if operatorUser?.userName !=null && operatorUser?.userName!=''}
                ${operatorUser?.userName}
                #{/if}
                #{else}
                ${operatorUser?.loginName}
                #{/else}
            </td>
            <td>${supplier?.createdAt?.format()}</td>
            <td>${supplier?.updatedAt?.format()}</td>
        *{<td>${supplier?.remark}</td>}*
            <td><a href="/suppliers/${supplier.id}/edit?page=${page?:1}">修改</a>
                / #{vx.deleteLink id:supplier?.id, name:supplier?.fullName, action:"/suppliers"/}
                #{if models.supplier.SupplierStatus.NORMAL.equals(supplier.status)}
                    / #{vx.operateLink text:"冻结", url:"/suppliers/"+supplier.id+"/freeze?page="+(page?:1), method:"PUT"/}#{/if}
                #{if models.supplier.SupplierStatus.FREEZE.equals(supplier.status)}
                    / #{vx.operateLink text:"解冻", url:"/suppliers/"+supplier.id+"/unfreeze?page="+(page?:1), method:"PUT"/}#{/if}
                / <a href="javascript:openW('@{Suppliers.exportMaterial(supplier.id,supplier.domainName)}')"
                     onClick="return confirmExportMaterial();">导出培训教材</a>

            </td>
        </tr>
        #{/paginate.list}
        </tbody>
    </table>
    <div class="pagination" align="center">
        <ul>
        #{paginate.controls items:suppliers /}
        </ul>
    </div>
</div>

<script language="JavaScript" type="text/JavaScript">
    function confirmExportMaterial() {
        if (confirm("确定要导出培训教材吗?"))
            return true;
        else
            return false;
    }

    function openW(v) {
        window.open(v, '', 'width=2000,height=2000,left=200,top=200,status=no,scrollbars=no,menubar=no,toolbar=no,resizable=1,location=no');
    }

</script>
