#{extends 'layout_operate/layout.html' /}
#{set title:'设置商户提现金额' /}
#{include '/share/nav.html' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/suppliers.js'}" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
    $(function () {
        $("#confirm").click(function () {
            var result = true;
            var reason = $("#supplier_reason").val();
            var amount = parseFloat($("#supplier_withdrawAmount").val());
            var supplierWithdrawAmount = parseFloat($("#supplier_withdraw_amount").val());
            if (amount == "") {
                $("#amount_error").html("请输入商户可提现余额");
                result = false;
            }
            if (supplierWithdrawAmount < amount) {
                $("#amount_error").html("商户可提现余额不能大于可提现余额");
                result = false;
            }
            else {
                $("#amount_error").html("");
            }
            if (reason == "") {
                $("#reason_error").html("请输入备注");
                result = false;
            }
            else {
                $("#reason_error").html("");
            }
            if (result) {
                $("#confirm").hide();
                $("#processing").text("正在处理");
                $("#setWithdrawAmountForm").submit();
            }
        });
    });
</script>
#{/set}

<div class="body">
    <legend>设置商户提现金额</legend>
#{form @Suppliers.confirmSetWithdrawAmount(), class:'form-horizontal', id:'setWithdrawAmountForm'}
    <div class="control-group">
        <label class="control-label"> 商户名</label>

        <div class="controls">
            <span>${supplier?.fullName}</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">商户简称</label>

        <div class="controls">
            <span>${supplier?.otherName}</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"> 账户余额</label>

        <div class="controls">
            <span>${supplierAmount?.formatCurrency('CNY')}</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"> 可提现金额</label>

        <div class="controls">
            <span>${supplierWithdrawAmount?.formatCurrency('CNY')}</span>
            <span style="color: indianred">(预留金额：${reserveAmountToBigDecimal?.formatCurrency('CNY')})</span>
        </div>

    </div>

    <input type="hidden" id="supplier_withdraw_amount" name="supplierWithdrawAmount" value="${supplierWithdrawAmount}">
    <input type="hidden" id="supplier_id" name="supplier.id" value="${supplier?.id}">

    <div class="control-group">
        <label class="control-label"><span style="color: red;">*</span>商户可提现金额</label>

        <div class="controls">
            <input type="text" class="input-xlarge" name="supplier.withdrawAmount" id="supplier_withdrawAmount"
                   value="${supplier?.withdrawAmount}" onkeyup="if(isNaN(value))execCommand('undo')"
                   onafterpaste="if(isNaN(value))execCommand('undo')">
            <span id="amount_error"></span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"><span style="color: red;">*</span>备注</label>

        <div class="controls">
            <textarea rows="3" class="input-xlarge" name="supplier.reason" id="supplier_reason"
                    >${supplier?.reason}</textarea>
            <span id="reason_error"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"></label>
        <a class="btn btn-primary" id="confirm">确定 </a><span id="processing"></span>
        <a href="/suppliers" class="btn btn-primary">返回</a>
    </div>
#{/form}
</div>
