<input type="hidden" name="adminId" value="${admin?.id}">
#{layout_operate.textField name:'supplier.fullName', value:supplier?.fullName, required:true/}
#{layout_operate.textField name:'supplier.otherName', value:supplier?.otherName, required:true/}
#{layout_operate.textField name:'supplier.domainName', value:supplier?.domainName,
note:'.' + baseDomain + ' (只能是字母、数字、下划线，且长度限定在3-20位内)',required:true/}
*{#{layout_operate.fileField name:'image'/}}*
#{if "add".equals(action) || ("edit".equals(action) && hasSupplierCodeEditPermission==true)}

    #{layout_operate.selectField name:'supplier.supplierCategory.id', class:'span2', value:supplier?.supplierCategory?.id,
    error:'supplier.supplierCategory', required:true}
        #{list items:supplierCategoryList, as:'supplierCategory' }
            #{option supplierCategory?.id}
            ${supplierCategory?.name}
            #{/option}
        #{/list}
    #{/layout_operate.selectField}
*{<input type="hidden" id="supplier_supplierCategory_id" name="supplier.category.id"}*
*{value="${supplier?.supplierCategory?.id}">}*
#{/if}
#{if "edit".equals(action) && hasSupplierCodeEditPermission == true}
    #{include '/Suppliers/updateCode.html'/}
#{/if}

#{layout_operate.textField name:'supplier.weiboId', value:supplier?.weiboId, note:'不是微博帐号，是微博帐号的ID'/}

#{layout_operate.textField name:'supplier.userName', value:supplier?.userName/}
#{layout_operate.textField name:'supplier.position', value:supplier?.position/}
#{layout_operate.textField name:'supplier.email', value:supplier?.email/}
*{#{layout_operate.textField name:'supplier.salesEmail', value:supplier?.salesEmail/}}*
#{layout_operate.textField name:'supplier.mobile', value:supplier?.mobile,note:'(负责人手机和电话至少填写一项)'/}
#{layout_operate.textField name:'supplier.phone', value:supplier?.phone/}


#{layout_operate.textField name:'supplier.accountLeaderMobile', value:supplier?.accountLeaderMobile/}

#{layout_operate.selectField name:'supplier.salesId', class:'span2', value:supplier?.salesId,
error:'supplier.operator'}
    #{list items:operateUserList, as:'operator' }
        #{option operator?.id}
            #{if operator?.userName!=null}
            ${operator?.userName}
            #{/if}
            #{else}
            ${operator?.loginName}
            #{/else}
        #{/option}
    #{/list}
#{/layout_operate.selectField}

#{if !"edit".equals(action)}
    #{layout_operate.textField name:'admin.loginName', value:admin?.loginName, required:true/}
    #{layout_operate.textField name:'admin.mobile', value:admin?.mobile, required:true/}
    #{layout_operate.textField name:'admin.jobNumber', value:admin?.jobNumber, required:true/}
#{/if}
<div class="control-group">
    <label class="control-label"></span>&{'supplier.shopHour'}</label>

    <div class="controls">
        <input type="text" class="input-medium Wdate" id="supplier_shopHour" name="supplier.shopEndHour"
               value="${supplier?.shopEndHour}"
               onfocus="WdatePicker({dateFmt:'HH:mm',minDate:'00:00',maxDate:'23:59'})"/>
    </div>
</div>
#{if supplier?.sellECoupon == null || supplier?.sellECoupon == true}
    #{layout_operate.radio2Field name:'supplier.sellECoupon', value:supplier?.sellECoupon?:true, value1:true, value2:false/}
#{/if}
#{else}
    #{layout_operate.radio2Field name:'supplier.sellECoupon', value:supplier?.sellECoupon, value1:true, value2:false/}
#{/else}
#{layout_operate.radio2Field name:'supplier.canSaleReal', value:supplier?.canSaleReal?:false, value1:true, value2:false/}
#{layout_operate.radio2Field name:'supplier.showSellingState', value:supplier?.showSellingState?:false, value1:true, value2:false/}
*{#{layout_operate.timeScope2Field name:'supplier.shopHour', begin:'supplier.shopBeginHour',end:'supplier.shopEndHour',}*
*{beginValue:supplier?.shopBeginHour, endValue:supplier?.shopEndHour/}}*
*{#{if "edit".equals(action)}#{layout_operate.passwordField name:'admin.encryptedPassword', value:""/}#{/if}
#{else}#{layout_operate.passwordField name:'admin.encryptedPassword', value:"",required:true/}#{/else}}*
*{#{layout_operate.passwordField name:'admin.encryptedPassword1', value="", required:true/}}*
#{layout_operate.textareaField name:'supplier.remark', value:supplier?.remark/}
<div class="form-actions">
    <button class="btn btn-primary" id="save" type="submit">保存</button>
#{if "edit".equals(action)}
    #{vx.cancelButton url:'/suppliers', class:'btn btn-primary'/}
#{/if}
    <input type="hidden" name="id" id="id" value="${id}"/>

</div>

