#{extends 'layout_trader/layout.html' /} #{include 'sales/Goods/nav.html' /}
#{get 'moreScripts'}
<script type="text/javascript">
	$(function() {
		$("#selectall").click(function() {
			if (this.checked) {
				$("[name='checkoption[]']").attr("checked", 'true');//全选
			} else {
				$("[name='checkoption[]']").removeAttr("checked");//取消
			}
		});

		var checkedcnt = 0;
		$("#deletebtn").click(function() {
			$("input[name='checkoption[]']").each(function() {
				if (this.checked) {
					checkedcnt++;
				}
			});
			if (checkedcnt == 0) {
				alert("请至少选择一条数据！");
			} else {
				if(confirm("确定删除吗？")) {
				   $("#deletefrm").attr("method", "delete");
         $("#deletefrm").attr("action", "@{Goods.delete()}");
         $("#deletefrm").submit();
				}
			}
		});

		$("#onsales").click(function() {
			$("input[name='checkoption[]']").each(function() {
				if (this.checked) {
					checkedcnt++;
				}
			});
			if (checkedcnt == 0) {
				alert("请至少选择一条数据！");
			} else {
				$("#deletefrm").attr("method", "POST");
				$("#status").val("ONSALE");
				$("#deletefrm").action = "@{Goods.updateStatus()}";
				$("#deletefrm").submit();
			}
		});

		$("#offsalse").click(function() {
			$("input[name='checkoption[]']").each(function() {
				if (this.checked) {
					checkedcnt++;
				}
			});
			if (checkedcnt == 0) {
				alert("请至少选择一条数据！");
			} else {
				$("#status").val("OFFSALE");
				$("#deletefrm").attr("method", "POST");
				$("#deletefrm").action = "@{Goods.updateStatus()}";
				$("#deletefrm").submit();
			}
		});
		
	});
</script>
#{/get}

<div class="body">
 <legend>电子消费券一览</legend>
 <form class="form-horizontal" name="frmlist" action="@{Goods.index()}" method="GET">
  <table width="100%">
   <tr>
    <td width="30%">商品名称：<input type="text" id="no" name="goods.name" class="input-medium" /></td>
    <td width="30%">商品编号：<input type="text" id="no" name="goods.no" class="input-medium" /></td>
    <td width="30%">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态： <select id="ca" name="goods.status" class="input-small">
      <option value="">请选择</option>
      <option value="ONSALE">已上架</option>
      <option value="OFFSALE">已下架</option>
    </select></td>
   </tr>
   <tr>
    <td>现&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价：<input type="text" id="no" name="goods.salePriceBegin"
     class="input-medium" />至 <input type="text" id="no" name="goods.salePriceEnd" class="input-medium" /></td>
    <td>销&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量：<input type="text" id="no" name="goods.saleCountBegin"
     class="input-medium" />至 <input type="text" id="no" name="goods.saleCountEnd" class="input-medium" /></td>
    <td><button class="btn btn-primary" id="searchbtn" type="submit">搜索</button></td>
   </tr>
  </table>
 </form>
 <form class="form-horizontal" name="deletefrm" id="deletefrm" action="@{Goods.updateStatus()}" method="post">
  <input type="hidden" id="status" name="status" value="0" />
  <div style="margin-bottom: 12px">
   <button class="btn btn-primary" id="onsales" type="button">上架</button>
   <button class="btn btn-primary" id="offsalse" type="button">下架</button>
   <button class="btn btn-primary" id="deletebtn" type="button">删除</button>
   <!-- <button class="btn btn-primary" type="button">导出报表</button> -->
  </div>


  <table class="table table-striped table-bordered table-condensed">
   <thead>
    <tr>
     <th><input type="checkbox" id="selectall" name="selectall">全选</th>
     <th>商品编号</th>
     <th>商品名称</th>
     <th>物流方式</th>
     <th>现价</th>
     <th>库存</th>
     <th>销量</th>
     <th>状态</th>
     <th>创建时间</th>
     <th>操 作</th>
    </tr>
   </thead>

   <tbody>

    #{list items:list, as:'row' }
    <tr>
     <td><input type="checkbox" id="checkoption" value="${row.id}" name="checkoption[]" /></td>
     <td>${row.no}</td>
     <td>${row.name}</td>
     <td>${row.name}</td>
     <td>${row.salePrice}</td>
     <td>${row.baseSale}</td>
     <td>${row.saleCount}</td>
     <td>&{'goods.'+row.status}</td>
     <td>${row.createdAt}</td>
     <td><a href="@{Goods.edit(row.id)}">修改</a>/<a href="@{Goods.detail(row.id)}">查看</a></td>
    </tr>
    #{/list}
   </tbody>
  </table>
 </form>
 <div class="pagination" align="center">
  <ul>
    #{list items:pager.startNum..pager.endNum, as:'i'}
      #{if pager.currPage == i}
        <li class="active"><a>${i}</a></li>
      #{/if}  
      #{else}
        <li><a href="@{Goods.index()}?page=${i}">${i}</a></li>
      #{/else}
    #{/list}

    <li><a>共${pager.totalpage}页/ 共${pager.totalCount}条记录</a> </li>
  </ul>
  
  </div>
