#{extends 'layout_trader/layout2.html' /}
#{set title:'KTV产品绑定' /}
#{set menu:"ktv_product_bind" /}
#{set 'moreStyles'}
<style type="text/css">
    .btn {
        padding-top: 0;
        padding-bottom: 0;
    }

    .confirm_bind_wrapper {
        z-index: 99;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .confirm_bind_box {
        width: 550px;
        height: 200px;
        background-color: white;
        position: relative;
        left: 50%;
        top: 50%;
        margin-left: -250px;
        margin-top: -100px;
        border: 5px solid #ddd;
        padding: 5px 10px;
    }

    .bind_info {
        margin-top: 5px;;
        text-align: center;
        color: #c67605;
    }

    .bind_error {
        margin-top: 10px;;
        text-align: center;
        color: red;
    }
</style>
#{/set}

<div class="body">
#{form @KtvProductTaobaoBind.index() , id:'creationForm',class:"form-horizontal" }
    <div class="bd">
        <h2>${title}</h2>

        <table cellspacing="0" cellpadding="0" border="0" class="standard-table">
            <thead>
            <tr>
                <th style="width: 150px">门店</th>
                <th style="width: 200px;">产品名称</th>
                <th>操 作</th>
            </tr>
            </thead>
            <tbody>
                #{list items:shops, as:'shop' }
                    #{list items:products, as:'product' }
                    %{ktvProduct=models.ktv.KtvProductGoods.findGoods(shop,product) ;
                    if (ktvProduct !=null){
                    resalerProduct=models.sales.ResalerProduct.getResalerProduct(ktvProduct.goods,product.supplier.defaultResalerId,models.order.OuterOrderPartner.TB);
                    }

                    }%
                    <tr>
                        <td>${shop.name}</td>

                        <td>${product.name}</td>
                        <td id="id_${shop.id}_${product.id}" data-shop-id="${shop.id}" data-product-id="${product.id}">
                            #{if ktvProduct !=null && (resalerProduct !=null )}
                                <a href="${resalerProduct.url}">${shop.name}${product.name}</a>
                            #{/if}
                            #{else}
                                <a href="#" data-shop-id="${shop.id}" data-product-id="${product.id}">绑定</a>

                                <div class="bind_input" style="display: none" data-shop-id="${shop.id}"
                                     data-product-id="${product.id}" data-shop-name="${shop.name}"
                                     data-product-name="${product.name}">
                                    <input type="text" size="40">

                                    <div class="btn bind_input_button">绑定</div>
                                    <a href="#" class="bind_input_cancel">取消</a>
                                </div>
                            #{/else}
                        </td>
                    </tr>
                    #{/list}
                #{/list}
            </tbody>
        </table>
    </div>
    <div class="confirm_bind_wrapper" style="display: none">
        <div class="confirm_bind_box">
            <div class="bind_info" style="display: none"></div>
            <table style="width:100%; margin-top: 30px;">
                <tr>
                    <td style="width: 50%">
                        门店：<span id="shopName"></span><br/>
                        产品：<span id="productName"></span>
                    </td>
                    <td>
                        淘宝商品标题：<br/>
                        <strong id="taobaoTitle"></strong>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center; padding-top: 20px">
                        <div class="btn" id="bind_box_confirm_button">确定绑定</div>
                        <a href="#" id="bind_box_cancel">取消</a>
                        <input type="hidden" id="taobaoProductId">
                        <input type="hidden" id="bind_shop_id">
                        <input type="hidden" id="bind_product_id">
                        <input type="hidden" id="bind_url">

                        <div class="bind_error" style="display: none">绑定失败：原因</div>
                    </td>
                </tr>
            </table>

        </div>
    </div>
#{/form}
</div>
#{set 'moreScripts'}
<script type="text/javascript">
    $(function () {
        $("a[data-product-id]").click(function () {
            var ele = $(this);
            var shopId = ele.attr("data-shop-id");
            var productId = ele.attr("data-product-id");
            $(".bind_input[data-shop-id='" + shopId + "'][data-product-id='" + productId + "']").show();
            ele.hide();
            return false;
        });
        $("a.bind_input_cancel").click(function () {
            var ele = $(this).parent();
            var shopId = ele.attr("data-shop-id");
            var productId = ele.attr("data-product-id");
            $("a[data-shop-id='" + shopId + "'][data-product-id='" + productId + "']").show();
            ele.hide();
            return false;
        });
        $("#bind_box_cancel").click(function () {
            $(".confirm_bind_wrapper").hide();
            var shopId = $("#bind_shop_id").val();
            var productId = $("#bind_product_id").val();
            $("a[data-shop-id='" + shopId + "'][data-product-id='" + productId + "']").hide();
            return false;
        });
        //点击td中的绑定。后台去请求该URL所对应的淘宝商品信息，然后由前台弹出浮层显示出来，并请用户确认绑定
        $(".bind_input_button").click(function () {
            var p = $(this).parent();
            var shopName = p.attr("data-shop-name");
            var productName = p.attr("data-product-name");
            $("#bind_shop_id").val(p.attr("data-shop-id"));
            $("#bind_product_id").val(p.attr("data-product-id"));
            $("#bind_url").val($(this).prev().val());
            $("#shopName").text(shopName);
            $("#productName").text(productName);
            $("#taobaoTitle").text("");
            $.ajax({
                url: "/ktv/product-query-taobao",
                type: "post",
                data: {"url": $(this).prev().val()},
                success: function (data) {
                    if (!data.error) {
                        var taobaoTitle = data.info;
                        $("#taobaoTitle").text(taobaoTitle);
                        $("#taobaoProductId").val(data.taobaoProductId);
                        if (taobaoTitle.indexOf(shopName) == -1 || taobaoTitle.indexOf(productName) == -1) {
                            $(".bind_info").show().text("请确认所选择产品信息是否要和淘宝产品绑定！").attr("color", "red");
                        }
                    } else {
                        $(".bind_error").show().text("绑定失败：" + data.error);
                    }
                },
                error: function (data) {
                    $(".bind_error").show().text("服务器请求失败");
                }
            });

            $(".bind_error").hide();
            $("#bind_box_confirm_button").text("确认绑定");
            $(".confirm_bind_wrapper").show();
        });

        //确认绑定，并防止重复提交。绑定成功后更新相应td中的信息
        $("#bind_box_confirm_button").click(function () {
            var ele = $(this);
            if (ele.text() != "确认绑定") {
                return;
            }
            ele.text("正在绑定……");
            var shopId = $("#bind_shop_id").val();
            var productId = $("#bind_product_id").val();
            var taobaoProductId = $("#taobaoProductId").val();
            var taobaoUrl = $("#bind_url").val();
            $.ajax({
                        url: "/ktv/product-bind",
                        type: "post",
                        data: {"shop.id": shopId, "product.id": productId, "taobaoProductId": taobaoProductId},
                        success: function (data) {
                            if (!data.error) {
                                $(".confirm_bind_wrapper").hide();
                                $("#id_" + shopId + "_" + productId).html("<a href='" + taobaoUrl + "' target='_blank'>" + data.info + "</a>");
                                $(".bind_input[data-shop-id='" + shopId + "'][data-product-id='" + productId + "']").hide();
                                $("a[data-shop-id='" + shopId + "'][data-product-id='" + productId + "']").hide();
                                ele.hide();

                            } else {
                                $(".bind_error").show().text("绑定失败：" + data.error);
                            }
                        },
                        error: function (data) {
                            $(".bind_error").show().text("绑定失败：服务器请求失败");
                        }
                    }
            );
        });

    })
    ;
</script>

#{/set}