#{extends 'layout_trader/layout.html' /}
#{include 'Share/nav.html' /}
#{set title:'订单详请' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}

<div class="body">
    <legend>${title}</legend>
    <ul class="nav">
        <li class="active"><a href="#"> 基本信息</a></li>
        <table class="table table-bordered">
            <tr>
                <td>订 单 号：${orders.orderNumber}</td>
                <td>订单时间：${orders.createdAt == null ?'':orders.createdAt.format("yyyy-MM-dd HH:mm:ss")}</td>
                <td>支付时间：${orders.paidAt == null ?'':orders.paidAt.format("yyyy-MM-dd HH:mm:ss")}</td>
            </tr>
            <tr>
                <td>支付方式： &{'order.payMethod.'+orders.payMethod}</td>
                <td>订单状态： &{'order.'+orders.status}</td>
                <td>物流方式： &{'order.'+orders.deliveryType}</td>
            </tr>
        </table>
    </ul>
    <ul class="nav">
        <li class="active"><a href="#"> 商品信息</a></li>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>商品编号</th>
                <th>商品名称</th>
                <th>类型</th>
                <th>单价</th>
                <th>数量</th>
                <th>有效期</th>
                <th>需要支付金额</th>
                <th>订单状态</th>
            </tr>
            </thead>
            <tbody>
            #{list items:orderItems, as:'orderItem' }
            <tr>
                <td>${orderItem.goods.no}</td>
                <td>${orderItem?.goods?.shortName}</td>
                <td>&{'goods.'+orderItem.goods.materialType}</td>
                <td>${orderItem.salePrice?.formatCurrency('CNY')}</td>
                <td>${orderItem.buyNumber}</td>
                <td>${orderItem.goods.effectiveAt?.format("yyyy-MM-dd")}
                    - ${orderItem.goods.expireAt?.format("yyyy-MM-dd")}
                </td>
                <td>${orderItem.amount?.formatCurrency('CNY')}</td>
                <td>&{'order.'+orders.status}</td>
            </tr>
            #{/list}
            </tbody>
            <tr>
                <td colspan="8">商品金额： #{if orders.containsRealGoods()&& orders.freight.compareTo(BigDecimal.ZERO)>0}
                ${orders.amount.remainder(models.order.Order.FREIGHT)}#{/if}#{else}${orders.amount}#{/else}&nbsp;元
                    &nbsp;+ 运费：
                #{if orders.containsRealGoods()&& orders.freight.compareTo(BigDecimal.ZERO)>0}${models.order.Order.FREIGHT}#{/if}#{else}0#{/else} 元 = &nbsp;总金额：
                ${orders.amount} 元
                </td>
            </tr>
        </table>
    </ul>
#{if orders.containsRealGoods()}
    <ul class="nav">
        <li class="active"><a href="#"> 收货信息</a></li>
        <table class="table table-bordered table-striped">
            <tr>
                <td>收货人姓名： ${orders.receiverName}</td>
            </tr>
            <tr>
                <td>收货地址： ${orders.receiverAddress}</td>
            </tr>

            <tr>
                <td>收货手机： ${orders.receiverMobile}</td>
            </tr>
        </table>
    </ul>
#{/if}
    <ul class="nav">
        <li class="active"><a href="#"> 订购者信息</a></li>
        <table class="table table-bordered table-striped">
            <tr>
                <td>订购者帐号： ${orders.user?.loginName}</td>
            </tr>
            <tr>
                <td>订购者手机： ${orders.buyerMobile}#{if orders.buyerPhone != null}/ ${orders.buyerPhone}#{/if}</td>
            </tr>
            <tr>
                <td>备注： ${orders.remark}</td>
            </tr>
        </table>
    </ul>
#{if orders.refundAt != null }
    <ul class="nav">
        <li class="active"><a href="#"> 退款信息</a></li>
        <table class="table">
            <tr>
                <td>退款信息</td>
            </tr>
            <tr>
                <td>申请退款时间：${orders.refundAt?.format("yyyy-MM-dd HH:mm:ss")}</td>
            </tr>
            <tr>
                <td>退款时间： ${orders.refundAt?.format("yyyy-MM-dd HH:mm:ss")}</td>
            </tr>
            <tr>
                <td>退款金额：</td>
            </tr>
        </table>
    </ul>
#{/if}
</div>
