#{extends 'main2.html' /}
#{set title: helper.Title.getHomeTitle() /}
#{set 'metaContent'}
<meta name="Description" content="一百券-致力于本地生活消费的互联网电子商务网站，将线下本地生活服务与线上互联网结合在一起，让互联网成为线下本地生活服务交易的前台">
<meta name="Keywords" content="优惠券网,代金券，优惠券">
#{/set}
#{set 'moreStyles'}
    #{asset.css src:['/home/121213/home.css'] /}
#{/set}
#{set 'moreScripts'}
    #{asset.js src:['/u/slides.min.js','/home/121112/home.js'] /}
#{/set}

<div class="wrapper">
<div id="content">
<div id="main" class="clearfix">
    <div id="slides">
        <div class="slides_container">
        #{list slides, as:'slide'}
            <a href="${slide.link}" target="_blank" title="${slide.title}"><img src="${slide.getShowImageUrl()}"
                                                                                alt="${slide.title}"
                                                                                width="540" height="265"/></a>
        #{/list}
        </div>
    </div>
    <div class="side">
    #{if cas?.isLogin}
        <!-- 已登录 -->
        <div class="status signed" style="display:block">
            <div class="inner">
                <a href="${helper.Domain.getHomeHost(request)}/coupons?condition.status=UNCONSUMED"
                   class="left">待消费(<em>${unconsumedCount}</em>)</a>
                <a href="${helper.Domain.getHomeHost(request)}/coupons" class="right">
                    已节省<em>&yen;${savedMoney?.format('#.#')}</em></a>
                <a href="${helper.Domain.getHomeHost(request)}/orders?condition.status=UNPAID"
                   class="left">待付款(<em>${unpaidCount}</em>)</a>
                <a href="${helper.Domain.getHomeHost(request)}/orders" class="right"> 查看更多</a>
            </div>
        </div>

    #{/if}
    #{else}
        <!-- 未登录 -->
        <div class="status" style="display:block">
            <a href="${helper.Domain.getWWWHost(request)}/login" class="login">登录</a>
            <a href="${helper.Domain.getWWWHost(request)}/register" class="register">注册</a>
        </div>
    #{/else}

        *{<div class="checkin">}*
            *{<a class="link"#{if scheduleList.size()>0} href="/p/${scheduleList.get(0).goods.id}" #{/if}}*
               *{#{else}href=""#{/else}target="_blank">领金币　兑现金</a>}*
            *{<a class="help" href="http://www.yibaiquan.com/topic/117" target="_blank"></a>}*
        *{</div>}*

        <div class="promise"><a href="/service" target="_blank"><img src="http://img.uhcdn.com/home/prom.png"
                                                                     alt=""/></a></div>
        <div class="notice">
            <h3>公告 <a href="/topics" target="_blank">更多>></a></h3>
            <ul>
            #{list topics, as:'topic'}
                <li
                    #{if topic_index == 1}class="first"#{/if}><i class="dot">•</i><a href="/topic/${topic.id}"
                                                                                     target="_blank">${topic.title}</a>
                </li>
            #{/list}
            </ul>
        </div>
    </div>

    <div class="promo">
    #{set i:0/}
    #{list rightSlides, as:'rightSlides'}
        <a #{if i == 0}class="first"#{/if} href="@{JumpPages.doJump(rightSlides?.id)}" target="_blank"><img
                src="${rightSlides.getShowImageUrl()}"
                alt="${rightSlides?.title}" width="243" height="130"/></a>
        #{set i:i+1/}
    #{/list}
    </div>
</div>

<div id="tabbar">
    <ul class="tab-hd clearfix">
        <li class="first"><a class="active" href="">最新上架</a></li>
        <li><a href="">推荐商品</a></li>
        <li><a href="">热卖商品</a></li>
        <li class="last"><a href="">猜你喜欢</a></li>
    </ul>
    <div class="tab-bd clearfix">
        <ul class="goods">
        #{list newGoodsList, as:'aGoods'}
            <li
                #{if aGoods_index==1}class="first"#{/if}>

                <div class="image">
                    <a href="${aGoods.wwwUrl}" target="_blank"><img
                            src="${aGoods.imageSmall2Path}"
                            width="199"
                            height="152"/></a>
                    #{if aGoods.areaNames?.size()>0}<a class="region" href="${aGoods?.wwwUrl}"
                                                       target="_blank"><span>商圈：</span>${aGoods.areaNames}
                    </a>
                    #{/if}
                </div>

                <div class="title"><a href="${aGoods.wwwUrl}" target="_blank">${aGoods.name}</a></div>
                <div class="price">
                    <div class="left">&yen;${aGoods.salePrice}</div>
                    <div class="right">
                        <del>原价：${aGoods.faceValue}</del>
                        <div>已售出<em>${aGoods.virtualSaleCount}</em>件</div>
                    </div>
                </div>
            </li>
        #{/list}
        </ul>
        <ul class="goods" style="display:none">
        #{list goodsList, as:'aGoods'}
            <li
                #{if aGoods_index==1}class="first"#{/if}>

                <div class="image">
                    <a href="${aGoods.wwwUrl}" target="_blank"><img
                            src="${aGoods.imageSmall2Path}"
                            width="199"
                            height="152"/></a>
                    #{if aGoods.areaNames?.size()>0}<a class="region" href="${aGoods?.wwwUrl}"
                                                       target="_blank"><span>商圈：</span>${aGoods.areaNames}
                    </a>
                    #{/if}
                </div>

                <div class="title"><a href="${aGoods.wwwUrl}" target="_blank">${aGoods.name}</a></div>
                <div class="price">
                    <div class="left">&yen;${aGoods.salePrice}</div>
                    <div class="right">
                        <del>原价：${aGoods.faceValue}</del>
                        <div>已售出<em>${aGoods?.virtualSaleCount}</em>件</div>
                    </div>
                </div>
            </li>
        #{/list}
        </ul>
        <ul class="goods" style="display:none">
        #{list hotSaleGoodsList, as:'aGoods'}
            <li
                #{if aGoods_index==1}class="first"#{/if}>

                <div class="image">
                    <a href="${aGoods.wwwUrl}" target="_blank"><img
                            src="${aGoods.imageSmall2Path}"
                            width="199"
                            height="152"/></a>
                    #{if aGoods.areaNames?.size()>0}<a class="region" href="${aGoods?.wwwUrl}"
                                                       target="_blank"><span>商圈：</span>${aGoods.areaNames}
                    </a>
                    #{/if}
                </div>

                <div class="title"><a href="${aGoods.wwwUrl}" target="_blank">${aGoods.name}</a></div>
                <div class="price">
                    <div class="left">&yen;${aGoods.salePrice}</div>
                    <div class="right">
                        <del>原价：${aGoods.faceValue}</del>
                        <div>已售出<em>${aGoods?.virtualSaleCount}</em>件</div>
                    </div>
                </div>
            </li>
        #{/list}
        </ul>
        <ul class="goods" style="display:none">
        #{list recommendGoodsList, as:'aGoods'}
            <li
                #{if aGoods_index==1}class="first"#{/if}>

                <div class="image">
                    <a href="${aGoods.wwwUrl}" target="_blank"><img
                            src="${aGoods.imageSmallPath}"
                            width="199"
                            height="152"/></a>
                    #{if aGoods.areaNames?.size()>0}<a class="region" href="${aGoods?.wwwUrl}"
                                                       target="_blank"><span>商圈：</span>${aGoods.areaNames}
                    </a>
                    #{/if}
                </div>

                <div class="title"><a href="${aGoods.wwwUrl}" target="_blank">${aGoods.name}</a></div>
                <div class="price">
                    <div class="left">&yen;${aGoods.salePrice}</div>
                    <div class="right">
                        <del>原价：${aGoods.faceValue}</del>
                        <div>已售出<em>${aGoods?.virtualSaleCount}</em>件</div>
                    </div>
                </div>
            </li>
        #{/list}
        </ul>

    </div>
</div>
#{set showTwoLine:true/}
#{list floorCategories,as:'category'}
    #{if category_index> 2}
        #{set showTwoLine:false/}
    #{/if}
<div class="floor">
    <div class="hd"><h2><b class="f${category_index}"></b>${category.name}</h2></div>
    <div class="ft">
        #{list category.getShowKeywordsList(10),as:'keywords'}
            <a href="${new models.sales.GoodsWebsiteCondition().buildUrl('categoryId', category.id).buildUrl('keywords', keywords).getUrl()}">${keywords}</a>
        #{/list}
        <a href="/q/${category.id}">更多&gt;&gt;</a>
    </div>
    <div class="bd clearfix">

        <div class="side">
            #{if showTwoLine}#{set brandCount:8/}#{/if}#{else}#{set brandCount:4/}#{/else}
            <dl class="accordion">
                #{list category.getTopBrands(brandCount),as:'brand'}
                    <dt class="n${brand_index}"
                        #{if brand_index>1}style="display:block"#{/if}#{else}style="display:none"#{/else}>${brand.name}</dt>
                    <dd
                        #{if brand_index>1}style="display:none"#{/if}>
                        <i class="n${brand_index}"></i>
                        <a href="${new models.sales.GoodsWebsiteCondition().buildUrl('brandId',brand.id).getUrl()}"
                           target="_blank"><img
                                src="${brand?.siteDisplayMiddleImage?:brand.showLogo}" width="200"
                                height="125"></a>

                        <p><b>${brand.name}</b> ${brand.description}</p>
                    </dd>
                #{/list}
            </dl>
            #{if showTwoLine}
            #{if category_index==1}<a class="advert" href="${webOneFloor?.link}" target="_blank"><img
                        src="${webOneFloor?.showImageUrl}" width="200" /></a>#{/if}
                #{if category_index==2}<a class="advert" href="${webTwoFloor?.link}" target="_blank"><img
                        src="${webTwoFloor?.showImageUrl}" width="200" /></a>#{/if}
            #{/if}
        </div>

        #{if showTwoLine}#{set goodsCount:6/}#{/if}#{else}#{set goodsCount:3/}#{/else}
    <ul class="goods first">
        #{list category.getTopGoods(goodsCount),as:'aGoods'}
            <li>

                <div class="image">
                    <a href="${aGoods.wwwUrl}" target="_blank"><img
                            src="${aGoods.imageSmall2Path}"
                            width="199"
                            height="152"/></a>
                    #{if aGoods.areaNames?.size()>0}<a class="region" href="${aGoods?.wwwUrl}"
                                                       target="_blank"><span>商圈：</span>${aGoods.areaNames}
                    </a>
                    #{/if}
                </div>

                <div class="title"><a href="${aGoods.wwwUrl}" target="_blank">${aGoods.name}</a></div>
                <div class="price">
                    <div class="left">&yen;${aGoods.salePrice}</div>
                    <div class="right">
                        <del>原价：${aGoods.faceValue}</del>
                        <div>已售出<em>${aGoods.virtualSaleCount}</em>件</div>
                    </div>
                </div>
            </li>
            #{if aGoods_index==3}
            </ul>
            <ul class="goods">
            #{/if}
        #{/list}
    </ul>
    </div>
</div>
#{/list}
</div>
</div>

<div class="links-outer">
    <div class="links-inner">
        <div class="links">
            <h4>友情链接：</h4>
            <ul id="j_links">
            <li>
            #{list friendsLinks, as:'friendsLink'}
                <a href="${friendsLink?.link}" target="_blank">${friendsLink?.linkName}</a>
                #{if friendsLink_index%10==0 && !friendsLink_isLast}
                </li>
                <li>
                #{/if}
            #{/list}
            </li>
            </ul>
            <div class="more"><a href="/link" target="_blank">更多>></a></div>
        </div>
    </div>
</div>

