@charset "utf-8";
/* CSS Document */

/*************  index.html   **********/
/*公共输入框样式*/
.fs14 {
	font-size:14px;
}
.fs16 {
	font-size:16px;
}
.input140 {
	border:1px solid #A7A6AA;
	font-size:12px;
	height:18px;
	margin:0 8px 0 4px;
	padding:2px;
	width:140px;
	float:left;
	vertical-align:middle;
}
.input196 {
	border:1px solid #A7A6AA;
	font-size:12px;
	height:18px;
	margin:0 8px 0 4px;
	padding:2px;
	width:196px;
	float:left;
	vertical-align:middle;
}
.input138 {
	border:1px solid #A7A6AA;
	font-size:12px;
	height:18px;
	margin:0 2px 0 4px;
	padding:2px;
	width:138px;
	float:left;
	vertical-align:middle;
}
.input110 {
	border:1px solid #A7A6AA;
	font-size:12px;
	height:18px;
	margin:0 2px 0 4px;
	padding:2px;
	width:110px;
	float:left;
	vertical-align:middle;
}
.input92 {
	border:1px solid #A7A6AA;
	font-size:12px;
	height:18px;
	margin:0 8px 0 4px;
	padding:2px;
	width:92px;
	float:left;
	vertical-align:middle;
}
.input68 {
	border:1px solid #A7A6AA;
	font-size:12px;
	height:18px;
	margin:0 2px 0 4px;
	padding:2px;
	width:68px;
	float:left;
	vertical-align:middle;
}
.input58 {
	border:1px solid #A7A6AA;
	font-size:12px;
	height:18px;
	margin:0 2px 0 4px;
	padding:2px;
	width:58px;
	float:left;
	vertical-align:middle;
}
.infodetail li .input52 {
	border:1px solid #A7A6AA;
	font-size:12px;
	height:18px;
	margin:0 2px 0 4px;
	padding:2px;
	width:52px;
	float:left;
	vertical-align:middle;
}
.input30 {
	border:1px solid #A7A6AA;
	font-size:12px;
	height:18px;
	margin:0 4px 0 4px;
	padding:2px;
	width:30px;
	float:left;
	vertical-align:middle;
}

.mem_del_bt{ width:84px; float:left;}
/*会员中心登录样式*/	
.shlogin .btg170 a, .shlogin .btg170 a:visited {
	text-decoration:none;
	color: #333;
}
.shlogin .btg170 a:hover {
	text-decoration:none;
	color:#000;
}
.shlogin {
	position:absolute;
	right:0px;
	bottom:2px;
}
#login_maincontainer {
	padding:48px 0px 82px 15px;
	border:1px solid #fff;
}
.loginbg {
	width:318px;
	float:left;
	margin-right:100px;
}
.login {
	border:1px #e08a78 solid;
	background-color:#fdf8f7;
	padding-top:14px;
	padding-bottom:12px;
	overflow:hidden;
}
.loginUl {
	width:310px;
	float:left;
	overflow:hidden;
}
.login .bt {
	vertical-align:middle;
	background:url(../images/uhl/bt.gif) 0 0 no-repeat;
	height:24px;
	width:78px;
	line-height:24px;
	font-size:12px;
	text-align:center;
	border:0;
}
.login li {
	width:270px;
	overflow:hidden;
	float:left;
	height:32px;
	padding:3px 0px 3px 25px;
}
.login li.field .input {
	float:left;
	width:280px;
	padding-top:4px;
}
.login li.field label {
	display:block;
	font-size:12px;
	height:24px;
	line-height:24px;
	text-align:right;
	width:50px;
	float:left;
}
.login li.field input {
	border:1px solid #A7A6AA;
	font-size:12px;
	height:18px;
	margin:0 14px 0 4px;
	padding:2px;
	width:196px;
	float:left;
	vertical-align:middle;
}
.login li.field .label1 {
	display:block;
	font-size:12px;
	height:28px;
	line-height:28px;
	text-align:right;
	width:50px;
	float:left;
}
.login li.field .input .input1 {
	border:1px solid #A7A6AA;
	font-size:12px;
	height:22px;
	margin:0 8px 0 4px;
	padding:2px;
	width:90px;
	float:left;
	vertical-align:middle;
}
.login li.field input {
	background:url(../images/uhl/input.gif) no-repeat scroll 0 0 white;
}
.login li.submit-field .input {
	margin-left:52px;
	clear:both;
}
.login .submit-field .input a, .login .submit-field .input a:visited {
	text-decoration: underline;
	color: #3366cc
}
.shlogin .btg170 a:hover {
	text-decoration: underline;
	color: #d84700
}
.fieldnot a, .fieldnot a:visited {
	text-decoration: underline;
	color: #d84700
}
.fieldnot a:hover {
	text-decoration: underline;
	color: #d84700
}
.login .fieldnot {
	text-align:center;
	height:30px;
}
.login .yzm {
	width:90px;
	line-height:24px;
}
.showcode_1 img {
	width:50px;
	height:23px;
	border:1px #e4e4e4 solid;
}
.showcode_1 {
	width:168px;
	line-height:24px;
}
.showcode_1 b {
	float:left;
	margin-right:3px;
	font-weight:normal;
}
.loginfj {
	margin-left:22px;
	margin-top:16px;
	line-height:25px;
}
.loginfj a, .loginfj a:visited {
	text-decoration:underline;
	color:#3366cc;
}
.loginfj a:hover {
	text-decoration:underline;
	color:#3366cc;
}
.mem_login_info {
	padding:0;
	float:left;
	margin-top:8px;
}
.mem_login_info h3 {
	color:#7b2829;
	font-size:14px;
	margin:0px 5px 8px;
	font-weight:bold;
}
.mem_login_info .loginTip {
	background:none repeat scroll 0 0 #FFF8EE;
	padding:10px;

}
.mem_login_info .loginTip li {
	width:360px;
	height:auto;
	margin-left: 5px;
}
.mem_login_info .loginTip li.sec {
	margin-top:8px;
	font-size:12px;
}
.Color7, a.Color7, a.Color7:hover {
	color:#999999;
}
/*会员中心登录样式结束*/	

/*会员中心注册样式*/
#reg_maincontainer {
	margin-left:68px;
	overflow:hidden;
	zoom:1;
}
.reg_flow-steps {
	width:588px;
	margin:20px 0 20px 0;
	overflow:hidden;
	zoom:1;
	background:url(../images/uhl/flow_steps_bg1.png) no-repeat scroll 100% 0 #E4E4E4;

}

.reg_flow-steps li {
	color:#FFF;
	float:left;
	font-size:12px;
	font-weight:bold;
	height:23px;
	line-height:23px;
	overflow:hidden;
	padding:0 15px 0 0;
	text-align:center;
}
.reg_flow-steps li span, .reg_flow-steps li strong {
	display:block;
}

.reg_flow-steps li.current {
	color:#FFFFFF;
}
.reg_flow-steps li.last {
	color:#333333;
}
.reg_flow-steps .num3 li {
	width:276px;
	height:23px;
}

.reg {
	overflow:hidden;
	zoom:1;
	margin-bottom: 15px;
}
.reg-form {
	width:570px;
	margin-right:30px;
	float:left;
	display:inline
}
.reg-form li {
	margin-bottom:3px;
}
.reg-form li.field {
	border:1px solid white;
	height:40px;
	padding:8px 8px 4px 0px;
	float:left;
}
.reg-form li.hover {
	background-color:#fdf8f7;
	border:1px solid #e08a78;
	float:left;
}
.reg-form li.field .input {
	float:left;
	width:280px;
	padding-top:4px;
}
.reg-form li.field label {
	display:block;
	font-size:12px;
	height:24px;
	line-height:24px;
	text-align:right;
	width:60px;
	float:left;
}
.reg-form li.field input {
	border:1px solid #A7A6AA;
	font-size:13px;
	height:18px;
	margin:0 14px 0 4px;
	padding:2px;
	width:196px;
	float:left;
	vertical-align:middle;
}
.reg-form li.field input {
	background:url(../images/uhl/input.gif) no-repeat scroll 0 0 white;
}
li.field input.showcode_2 {
	width:40px;
	margin-right:2px;
}
.reg-form li.field .msg {
	display:none;
	float:left;
	width:280px;
}
.reg-form li.hover .msg, .reg-form li.field .show-error, .reg-form li.field .show-ok, .reg-form li.field .show-tips {
	display:block;
}
.reg-form li.field .msg p {
	display:none;
}
.reg-form li.field .show-attention .attention {
	display:block;
}
.msg .error, .msg .stop, .msg .alert, .msg .attention, .msg .tips, .msg .ok, .msg .notice, .msg .question, .msg .help, .msg .small-help {
	color:#404040;
	line-height:18px;
}
.msg .attention {
	background-color:#E5F5FF;
	background-position:0px 8px;
	border-color:#40B3FF;
	margin-top:-3px;
	position:relative;
}
.msg .error, .msg .stop, .msg .alert, .msg .attention, .msg .tips, .msg .ok, .msg .notice, .msg .question, .msg .help, .msg .small-help {
	background:url(../images/uhl/usericon.gif) no-repeat scroll 3px 3px transparent;
	border:1px solid #cccccc;
	color:#404040;
	float:left;
	line-height:18px;
	padding:1px 18px 1px 23px;
}
.reg-form li.submit-field .input {
	margin:8px 0px 0px 72px;
	clear:both;
}
.reg-form li.submit-field button {
	background:url(../images/uhl/bt.gif) no-repeat scroll 0 -32px transparent;
	border:0 none;
	color:#fff;
	cursor:pointer;
	font-size:12px;
	font-weight:700;
	height:24px;
	line-height:24px;
	margin-right:13px;
	width:206px;
}
.reg-form li.notreg-field .input {
	margin-left:90px;
	margin-top:10px;
}
.reg-form li.notreg-field .input a {
	text-decoration:none;
}
.reg-form li.notreg-field .input a:hover {
	text-decoration:underline;
	color:#3366cc;
}
.regasider {
	float:right;
	margin-top:15px;
}
.reg_phonebd {
	width:593px;
	height:66px;
	background:url(../images/uhl/userbg.gif) 0 0 no-repeat;
	margin-top:26px;
}
.reg_phonebd .ptext {
	padding:20px 35px;
	color:#333333;
	line-height: 24px;
	letter-spacing:0.6px;
}
.reg_phonebd .ptext .fcred {
	color:#b8432f
}
.reg_phonebd .ptext .clickbt {
	display:block;
	background:url(../images/uhl/bt.gif) no-repeat scroll 0 0 transparent;
	border:0 none;
	color:#fff;
	cursor:pointer;
	font-size:12px;
	font-weight:700;
	height:24px;
	line-height:24px;
	width:77px;
}
.regasider .info {
	padding:0;
}
.regasider .info h3 {
	color:#7b2829;
	font-size:14px;
	margin:14px 5px;
	font-weight:bold;
}
.loginTip {
	background:none repeat scroll 0 0 #FFF8EE;
	padding:10px 0 10px 2px;

}
.loginTip li {
	height:35px;
	overflow:hidden;
	line-height:20px;
	width:295px;
	margin-left: 5px;
}
.loginTip li.sec {
	margin-top:15px;
}
.Color7, a.Color7, a.Color7:hover {
	color:#999999;
}
.agreements {
	margin:0 auto;
}
.agreements li .acontent {
	background-color:white;
	border:1px solid #a8acad;
	color:#666666;
	height:206px;
	overflow:auto;
	padding:14px 18px;
	margin-bottom:60px;
	line-height:32px;
}
/*注册样式结束*/


/*注册成功样式*/
.flow-steps {
	margin:20px auto;
	padding:0;
	text-align:center;
	overflow:hidden;
	zoom:1;
	background:url(../images/uhl/flowstep1.gif) no-repeat;

}
.flow-steps2 {
	margin:40px auto 8px;
	padding:0;
	text-align:center;
	overflow:hidden;
	zoom:1;
	background:url(../images/uhl/flowstep2.gif) no-repeat;
}
.flow-steps2 li {
	color:#FFF;
	float:left;
	font-size:12px;
	font-weight:bold;
	height:23px;
	line-height:23px;
	overflow:hidden;
	padding:0 15px 0 0;
	text-align:center;
}
.flow-steps2 li span, .flow-steps2 li strong {
	display:block;
}
.flow-steps2 li.current {
	color:#000;
}
.flow-steps2 li.last {
	color:#fff;
}
.flow-steps2 .num3 li {
	width:301px;
	height:23px;
}
.regok {
	width:544px;
	height:240px;
	border:1px #e08a78 solid;
	background-color:#fdf8f7;
	margin:0 auto;
	text-align:center
}
.regok .cr {
	height:37px;
	margin:13px;
}
.regok .btextbg {
	margin:0 auto;
	text-align:center;
	overflow:hidden;
	width:380px;
	height:62px;
}
.regok .btext {
	border:#e4e4e4 1px solid;
	color:#333333;
	line-height:14px;
	padding:9px 9px;
	text-align:left;
	letter-spacing:0.04em
}
.regok .uname {
	height:30px;
	margin-top:10px;
}
.regok .bclick {
	height:25px;
	margin-bottom:10px;
}
.regok .bclick a, .regok .bclick a:visited {
	color:#fff;
}
.regok .bclick a:hover {
	text-decoration:none;
}
.bcbt {
	background:url(../images/uhl/bt.gif) 0 -64px no-repeat;
	height:26px;
	width:100px;
	line-height:25px;
	margin:0 auto
}
.regok .bctext {
	height:22px;
}
.bctext a, .bctext a:visited {
	color:#b8432f;
}
/*注册成功样式结束*/

/*登录验证框样式*/
.hyk01 {
	width:628px;
	height:224px;
	margin:50px auto;
	background-color:#fdf8f7;
	border:1px #e08a78 solid;
}
.hyk01 .ptext {
	line-height:40px;
	font-size:14px;
	margin-top:40px;
	margin-left:82px;
}
.hyk01 .ptext a, .ptext a:visited {
	color:#3366cc;
	text-decoration:underline
}
.hyk01 .ptext a:hover {
	color:#3366cc;
	text-decoration:underline
}
.hyk01 .field label {
	display:block;
	font-size:12px;
	height:24px;
	line-height:24px;
	text-align:right;
	width:160px;
	float:left;
	padding-left:50px;
}
.hyk01 .field .input {
	float:left;
	width:600px;
	height:36px;
}
.hyk01 .field .qrbt {
	float:left;
}
.hyk01 .phonebd {
	width:309px;
	height:164px;
	margin:26px auto;
	position:relative
}
.hyk01 .phonebdt {
	background: url(../images/uhl/kbg.gif) 0 0 no-repeat;
	width:309px;
	height:34px;
}
.hyk01 .phonebdm {
	background: url(../images/uhl/kbg.gif) 0 -35px repeat-y;
	width:309px;
	height:113px;
}
.hyk01 .phonebdm p {
	padding:20px 40px;
	font-size:14px;
}
.hyk01 .backimg {
	margin:0 auto;
	padding:0;
	text-align:center
}
.hyk01 .phonebdb {
	background: url(../images/uhl/kbg.gif) 0 -142px no-repeat;
	width:309px;
	height:13px;
}
.hyk01 .hyk03text {
	padding-top:33px;
}
.hyk01 .hyk03text li {
	line-height:46px;
	text-align:center
}
/*登录验证框样式结束*/


/*找回密码样式结束*/

#fpwd_maincontainer {
	width:1000px;
	margin:0 auto;
	text-align:center;
	overflow:hidden;
	zoom:1;
}
.flow-steps {
	margin:40px auto 8px;
	padding:0;
	text-align:center;
	overflow:hidden;
	zoom:1;
}
.flow-steps li {
	color:#FFF;
	float:left;
	font-size:12px;
	font-weight:bold;
	height:23px;
	line-height:23px;
	overflow:hidden;
	padding:0 15px 0 0;
	text-align:center;
}
.flow-steps li span, .flow-steps li strong {
	display:block;
}
.flow-steps li.last {
	color:#333333;
}
.flow-steps .num3 li {
	width:301px;
	height:23px;
}
.flow-steps2 {
	margin:40px auto 8px;
	padding:0;
	text-align:center;
	overflow:hidden;
	zoom:1;
	background:url(../images/uhl/flowstep2.gif) no-repeat;
}
.flow-steps2 li {
	color:#FFF;
	float:left;
	font-size:12px;
	font-weight:bold;
	height:23px;
	line-height:23px;
	overflow:hidden;
	padding:0 15px 0 0;
	text-align:center;
}
.flow-steps2 li span, .flow-steps2 li strong {
	display:block;
}
.flow-steps2 li.current {
	color:#000;
}
.flow-steps2 li.last {
	color:#fff;
}
.flow-steps2 .num3 li {
	width:301px;
	height:23px;
}
/* CSS Document step 样式*/
.step {
	width:630px;
	height:222px;
	background-color:#fdf8f7;
	border:1px #e08a78 solid;
}
.allstep {
	width:632px;
	margin:36px auto;
}
.allstep ul li {
	line-height:40px;
	height:40px;
}
.allstep .input {
	height:24px;
	line-height:24px;
	width:550px;
}
.allstep .input label {
	display:block;
	float:left;
	text-align:right;
	width:100px;
}
.fmeans {
	width:470px;
	height:217px;
	background:url(../images/uhl/slinebg.gif) no-repeat center;
	text-align:center;
	margin:0 auto;
}
.fmeans .fm {
	width:430px;
	height:160px;
	margin:0 auto;
	text-align:center;
}
.fmeans .fm .fmli {
	padding-top:48px;
}
.fm .fmul {
	float:left;
	overflow:hidden
}
.fmli li {
	height:42px;
	margin-bottom:10px;
	font-size:14px;
}
.field {
	height:18px;
	line-height:18px;
	text-align:left;
}
.findbt {
	background:url(../images/uhl/bt.gif) 0 -98px no-repeat;
	border:0;
	height:24px;
	width:101px;
	line-height:24px;
	text-align:center;
	font-size:12px;
	color:#fff;
	font-weight:bold
}
.ftext {
	height:18px;
	padding-top:20px;
}
.findbt140 {
	background:url(../images/uhl/bt.gif) 0 -138px no-repeat;
	border:0;
	height:25px;
	width:150px;
	line-height:25px;
	text-align:center;
	font-size:12px;
	color:#fff;
	font-weight:bold
}
.ftext {
	height:18px;
}
.w300 {
	width:300px;
}
.emailstep {
	padding-top:60px;
	padding-left:80px;
}
.phonesteps {
	padding-top:50px;
	padding-left:80px;
	text-align:center
}
.input .inputemail {
	padding-left:104px;
	text-align:left;
}
.input .nextstepbt {
	padding-left:160px;
	text-align:left;
	margin-top:20px;
}
.label130 {
	width:130px;
	float:left;
}
.fsqs {
	margin-top:36px;
}
.fsqs span a, .fsqs span a:visited {
	color:#0066ff;
	text-decoration:underline;
}
.input196 {
	border:1px solid #A7A6AA;
	font-size:12px;
	height:18px;
	margin:0 2px 0 4px;
	padding:2px;
	width:196px;
	float:left;
	vertical-align:middle;
}
.inputbg {
	background:url(../images/uhl/input.gif) no-repeat scroll 0 0 white;
}
/*修改手机密码找回*/
.redInfo b, .yellowInfo b, .allstep_yzm, .allstep_count {
	background:url(../images/uhl/fpwd.png) no-repeat;
}
.redInfo, .yellowInfo {
	border:1px solid #e08a78;
	background:#fdf8f7;
}
.redInfo b, .yellowInfo b {
	display:block;
	float:left;
	width:12px;
	height:18px;
	margin:0px 6px 0px 0px;
	background-position:-20px 0px;
}
.yellowInfo b {
	background-position:0px 0px;
}
.allstep_c {
	padding:15px 0px 20px 0px;
}
li.allstemp_c_1, li.allstemp_c_2 {
	text-align:left;
	padding-left:130px;
}
li.allstemp_c_3 {
	padding-left:207px;
}
span.allstep_info {
	float:left;
	display:inline;
}
.allstep_c input {
	float:none;
}
.allstep_c em {
	font-style:normal;
	float:left;
}
.allstep_c span {
	display:block;
	width:185px;
	height:18px;
	line-height:18px;
	padding:6px;
}
.allstep_tip {
	color:#b73a24;
}
.allstemp_c_1 label, .allstemp_c_1 input {
	float:left;
}
.allstemp_c_1 input {
	margin-top:5px;
}
.allstep_yzm {
	border:0px;
	width:88px;
	height:25px;
	margin:0px 0px 0px 5px;
	background-position:0px -85px;
}
.allstep_count {
	border:0px;
	width:48px;
	height:25px;
	margin:0px 0px 0px 5px;
	color:#c1bfbf;
	font-weight:bold;
	font-size:16px;
	background-position:-45px 0px;
}
.allstep_next {
	width:100px;
	height:24px;
	border:0px;
	color:#fff;
	font-weight:bold;
	background:url(../images/uhl/bg_nav.gif) no-repeat -320px -30px;
}
/*密码找回样式结束*/


/*登录跳转开始*/
.hyk01 {
	width:628px;
	height:224px;
	margin:50px auto;
	background-color:#fdf8f7;
	border:1px #e08a78 solid;
}
.hyk01text .ptext {
	line-height:40px;
	font-size:14px;
	margin-top:40px;
	margin-left:82px;
}
.hyk01text .ptext a, .ptext a:visited {
	color:#3366cc;
	text-decoration:underline
}
.hyk01text .ptext a:hover {
	color:#3366cc;
	text-decoration:underline
}
.hyk01 .field label {
	display:block;
	font-size:12px;
	height:24px;
	line-height:24px;
	text-align:right;
	width:160px;
	float:left;
	padding-left:50px;
}
.hyk01 .field .input {
	float:left;
	width:600px;
	height:36px;
}
.hyk01 .field .qrbt {
	float:left;
}
.hyk01 .phonebd {
	width:309px;
	height:164px;
	margin:26px auto;
	position:relative
}
.phonebdt {
	background: url(../images/uhl/kbg.gif) 0 0 no-repeat;
	width:309px;
	height:34px;
}
.phonebdm {
	background: url(../images/uhl/kbg.gif) 0 -35px repeat-y;
	width:309px;
	height:113px;
}
.phonebdm p {
	padding:20px 40px;
	font-size:14px;
}
.backimg {
	margin:0 auto;
	padding:0;
	text-align:center
}
.phonebdb {
	background: url(../images/uhl/kbg.gif) 0 -142px no-repeat;
	width:309px;
	height:13px;
}
.hyk03text {
	padding-top:33px;
}
.hyk03text li {
	line-height:46px;
	text-align:center
}
/*登录跳转结束*/


/*会员中心左边菜单*/

/*updateuserinfo.html要页面样式*/

#mem_updateui_right {
	width:999px;
	border-left:1px solid #ededed;
	border-right:1px solid #ededed;
	border-bottom:1px solid #ededed;
	padding-top:12px;
	padding-bottom:12px;
	overflow:hidden;
	zoom:1;
}
#mem_updateui_center {
	padding-left:100px;
	overflow:hidden;
	zoom:1;
}
.userupdate_main {
	width:794px;
	height:auto;
	overflow:hidden;
	padding:8px;
	background:#fff url(../images/uhl/xbg.gif) repeat-y -168px 0px;
}
.usernav {
	width:1000px;
	height:28px;
	background:url(../images/uhl/usernavbg.gif) repeat-x #b73a24;
}
.usernav .current a, .usernav .current:link, .usernav .current:visited {
	color:#fff;
	font-weight:bold
}
.usernav li {
	width:100px;
	height:28px;
	float:left;
	display:inline;
	line-height:28px;
	color:#333;
	text-align:center
}
.userinfo {
	width:1000px;
	overflow:hidden;
	zoom:1;
	margin-top:10px;
}
.userleft {
	margin-right:3px;
	margin-top:4px;
	float:left;
}
.userbg {
	margin-left:3px;
	background:url(../images/uhl/userbg.gif) 0px -68px no-repeat;
	width:174px;
	height:160px;
}
.userbg ul {
	padding-top:48px;
}
.userbg ul li {
	line-height:14px;
	height:14px;
	text-align:center;
	font-size:14px;
}
.userright {
	width:820px;
	float:left;
	background:url(../images/uhl/detailbg.gif) no-repeat;
	height:626px;
}
.tdetail {
	width:74px;
	display:block;
	float:left;
	letter-spacing:0.2em;
}
.tps {
	display:block;
	float:left
}
.detail {
	margin-left:20px;
	margin-top:10px;
}
.detail .title {
	height:14px;
}
.bt {
	background:url(../images/uhl/bt.gif) 0 -98px no-repeat;
	border:0;
	height:24px;
	width:101px;
	line-height:24px;
	text-align:center;
	font-size:12px;
	color:#fff;
	font-weight:bold
}
.bt1 {
	background:url(../images/uhl/bt.gif) 0 0 no-repeat;
	border:0;
	height:24px;
	width:78px;
	line-height:24px;
	text-align:center;
	font-size:12px;
	color:#fff;
	font-weight:bold
}
.bdph {
	float: left;
	margin-left:6px;
}
.usernav li a:link, .usernav li a:visited {
	color:#333333;
	font-weight: normal;
}
.usernav li a:hover, .usernav li a.current {
	display:block;
	text-decoration:none;
	color:#ffffff;
	font-weight:bold;
	background:url(../images/uhl/unavbg.gif) no-repeat 0px 0px #b73a24;
}
.infodetail {
	margin-top:17px;
	height:auto;
}
.infodetail li {
	line-height:auto;
}
.hobby {
}
.infodetail .hobbies {
	float:left;
	width:350px;
}
.infodetail .hobbies span {
	width:auto;
	display:block;
	float:left;
	white-space:nowrap;
	margin-right:8px;
}
.hobbies input, .hobbies b {
	float:left;
}
.hobbies b {
	font-weight:normal;
}
.infodetail li .input {
	width:550px;
	height:36px;
}
.infodetail .label184 {
	float:left;
	width:210px;
	display:block;
	height:24px;
}
.infodetail .mem_infod_username {
	width:150px;
	float:left;
	height:24px;
}
.infodetail .jh {
	float:left;
}
.infodetail li span {
	display:block;
	height:24px;
	line-height:24px;
	text-align:right;
	width:20px;
	float:left;
}
.infodetail li label {
	display:block;
	font-size:12px;
	height:24px;
	line-height:24px;
	text-align:right;
	width:72px;
	float:left;
}
.infodetail li .label1 {
	display:block;
	font-size:12px;
	height:24px;
	line-height:24px;
	text-align:right;
	width:14px;
	float:left;
}
.h70 {
	height:70px;
}
.select1 {
	width:114px;
	height:20px;
}
.infodetail .buttonfield {
	margin-left:96px;
	overflow:hidden;
	height:38px;
	margin-top:50px!important;
	margin-top:10px;
}
/* CSS Document updateinfo.html页面样式结束*/

/* CSS Document updatepwd.html页面样式*/

.pwdnav {
	width:800px;
	height:40px;
	padding-top:4px;
	padding-left:10px;
}
.usercenter {
	width:820px;
	margin-left:90px;
	background:url(../images/uhl/detailbg.gif) no-repeat;
	height:626px;
}
.userrightupdate {
	width:820px;
	float:left;
	background:url(../images/uhl/detailglbgupdate.gif) no-repeat;
	height:373px;
}
.changepwd {
	width:600px;
	margin-left:30px;
	margin-top:30px;
}
.changepwd .cpwd .input {
	height:40px;
	line-height:40px;
}
.changepwd .cpwd .msg {
	float:left;
	width:162px;
	height:34px;
	border:1px #e08a78 solid;
	line-height:34px;
}
.changepwd .cpwd .attention {
	padding-left:10px;
	_padding-top:10px;
}
.changepwd .cpwd .buttonfield {
	margin-left:86px;
}
.changepwd .cpwd {
	height:42px;
}
.cpwd1 {
	height:24px;
}
.cpwd1 #update1 {
	display:block
}
.cpwd1 #update2 {
	display:none
}
.cpwd1 ul li {
	float:left;
	display:inline;
}
.changepwd li label {
	display:block;
	font-size:12px;
	height:24px;
	line-height:24px;
	text-align:right;
	width:80px;
	float:left;
}
.cpwd .input {
	float:left;
	width:600px;
	height:36px;
}
.cpwd .yzmtext {
	width:50px;
	height:20px;
	border:1px #e4e4e4 solid;
	margin-right:8px;
	float:left;
}
.loginpwd_msg {
	border:1px solid #E08A78;
	float:left;
	height:34px;
	line-height:34px;
	width:162px;
}
.loginpwd_msg .attention {
	padding-left:10px;
}
.chphone_msg {
	border:1px solid #E08A78;
	float:left;
	height:34px;
	line-height:34px;
	width:185px;
}
.chphone_msg .attention {
	padding-left:10px;
}
/***************** 底部 ****************/

/* CSS Document ukgl.html页面样式*/
#mem_ukgl_main {
	width:1000px;
	margin:0 auto
}
#mem_ukgl_right {
	width:999px;
	border-left:1px solid #ededed;
	border-right:1px solid #ededed;
	border-bottom:1px solid #ededed;
	padding-top:12px;
	padding-bottom:12px;
	overflow:hidden;
	zoom:1;
}
.jhykt {
	height:25px;
	margin-bottom:10px;
}
.jhform {
	margin-top:15px;
	margin-left:40px;
	width:623px;
}
.jhform .jhforml {
	float:left;
	width:366px;
}
.jhzh li {
	height:32px;
}
.input250 {
	border:1px solid #A7A6AA;
	font-size:12px;
	height:18px;
	margin:0 8px 0 4px;
	padding:2px;
	width:248px;
    float:left;
    vertical-align:middle;
}
.jhzh li .input {
	width:366px;
	line-height:24px;
	height:24px;
}
.jhzh li label {
	display:block;
	float:left;
	width:60px;
}
.jhform .jhformr {
	float:left;
	width:238px;
	height:158px;
	border:1px #dddddd solid;
}
.jhform .ptjhm {
	width:230px;
	height:150px;
	margin:0 auto;
	line-height:150px;
	vertical-align:middle;
	text-align:center;
	margin-top:4px;
}
.space {
	width:790px;
	height:110px;
	background-color:#ccc;
	margin-top:30px;
}
.ukstyle {
	width:796px;
	height:354px;
	color:#ccc;
	padding-top:20px;
	background:url(../images/uhl/ukstylebg.gif) top center no-repeat;
}
.ukstylec {
	position: relative;
	width:350px;
	height:168px;
	float:left;
	display:inline;
	z-index:1;
}
.ukstylec .ukimg {
	position: absolute;
	left: 0px;
	top: 0px;
	width:120px;
	height:120px;
	padding:2px;
	border:1px solid #dbdbdb;
	float:left;
	margin-left:40px;
	text-align:center;
}
.ukstylec .ukimg img {
	width:120px;
	height:120px;
}
.ukstylec .ukstyledetail {
	margin-left:175px;
	height:168px;
	font-size:12px;
	color:#000;
}
.ukstyledetail .ukstyledetailc {
	margin-top:12px;
}
.ukstyledetail .ukstyledetailc li {
	height:20px;
	color:#363636
}
.ukstyledetail .ukstyledetailc li a, .ukstyledetail .ukstyledetailc li a:visited {
	color:#3366cc;
	text-decoration:underline;
	margin-left:18px;
}
.ukstyledetail .ukstyledetailc li span {
	margin-left:2px;
	float:left;
	vertical-align:middle;
	line-height:24px;
}
.ukstyledetail .ukstyledetailc .h28 {
	height:32px;
	margin-top:2px;
}
.ukstyledetail .ukstyledetailc .buttonfield {
	margin-left:14px;
}
/***************** 底部 ****************/




/* CSS Document ukgldel.html页面样式*/
.ukgldel {
	padding-top:20px;
	padding-left:22px;
}
.ukgltext li {
	height:28px;
	margin-bottom:4px;
}
.ukgltext div span {
	line-height:24px;
	display:none;
	cursor:pointer;
}
.ukgltext li div {
	height:28px;
}
.ukgltext li div a {
	background:url(../images/uhl/bt.gif) 0 -205px no-repeat;
	border:0;
	height:24px;
	width:70px;
	line-height:24px;
	text-align:center;
	font-size:12px;
	display:block;
	float:left;
	margin-left:4px;
	margin-right:8px;
}
.ukgltext li div a:hover {
	text-decoration:none;
	background:url(../images/uhl/bt.gif) 0px -239px;
}
.ukgltext div.card_default a, .ukgltext div.card_default a:hover {
	color:#fff;
	background:url(../images/uhl/bt.gif) 0 0 no-repeat;
	width:78px;
	font-weight:bold;
	margin-right:5px;
	margin-left:0px;
}
.ukgltext div.card_default span {
	color:#ff6600;
	display:block;
}
.ukgltext li label {
	display:block;
	float:left;
	width:180px;
	line-height:26px;
}
.ukgltext .qtps {
	margin-top:20px;
}
.sm {
	width:662px;
	padding-bottom:10px;
	border:1px #e08a78 solid
}
.smdetail {
	padding-left:28px;
	padding-top:10px;
	line-height:26px;
}
/* CSS Document safe1.html  safe2.html页面样式*/

.detail-info {
	padding:0 20px;
}
.detail-info, .detail-info dd, .safe-info .item, .security-box, .security-ft, .security-box .field {
	overflow:hidden;
}
.info-title {
	font-weight:700;
	line-height:30px;
	margin-top:-1px;
	padding:12px 0 0 20px;
}
.detail-info dd {
	padding:10px 20px 20px;
}
.detail-info, .detail-info dd, .safe-info .item, .security-box, .security-ft, .security-box .field {
	overflow:hidden;
}
.account-info {
	line-height:22px;
	padding-left:16px;
}
.account-info li {
	clear:both;
}
.account-info .tt, .account-info .default, .account-info .modify {
	float:left;
}
.account-info .tt {
	width:76px;
}
.account-info .default {
	width:175px;
}
.account-info .default {
	width:132px;
}
.account-info .tt, .account-info .default, .account-info .modify {
	float:left;
}
.grid-msg {
	color:#666666;
	font-family:tahoma, arial, 宋体;
	font-size:12px;
}
.account-info .modify {
	text-align:justify;
}
.account-info .modify {
	padding-right:20px;
	text-align:right;
	width:70px;
}
.account-info .tt, .account-info .default, .account-info .modify {
	float:left;
	height:30px;
}
.safe-info {
	margin-top:-1px;
	overflow:hidden;
}
.safe-info .item {
	border-top:1px dashed #E1E1E1;
	clear:both;
	padding:30px 0 12px 0px;
}
.detail-info, .detail-info dd, .safe-info .item {
	overflow:hidden;
}
.item {
	text-align:center;
	height:70px;
}
.safe-info .state {
	width:104px;
}
.safe-info div {
	float:left;
	line-height:22px;
}
.phone-tips .close, .safe-info .state .over, .account-info .bind, .phone-tips .close, .phone-tips .arror, .sub-phone .pinch, .sub-phone .collapse {
	background: url(../images/uhl/safebt2.gif) no-repeat scroll 0 0 transparent;
}
.safe-info .state span {
	display:block;
	height:20px;
}
.safe-info .state .over {
	background-position:40px -58px;
	text-indent:-23556px;
}
.safe-info .state .alert {
	background:url(../images/uhl/msg_bg.gif);
	background-position:40px -197px;
	padding-top:20px;
}
.safe-info .title, .safe-info .supply {
	text-align:left;
}
.safe-info .title {
	width:110px;
}
.safe-info div {
	float:left;
	line-height:22px;
}
.safe-info .title, .safe-info .supply {
	text-align:left;
}
.safe-info .supply {
	color:#666666;
	width:400px;
}
.safe-info div {
	float:left;
	line-height:22px;
}
.safe-info .operate {
	color:#3465cc;
	width:80px;
}
.safe-info .operate a, .safe-info .operate a:visited {
	text-decoration:underline;
	color:#3465cc;
}
.safe-info .operate a:hover {
	text-decoration:underline
}
.safe-info div {
	float:left;
	line-height:22px;
}
/*添加交易密码*/
.addpwdtext {
	margin:0 auto;
	padding-top:16px;
	text-align: center;
	font-size:14px;
	line-height:32px;
}
#mem_addpwd_right {
	width:999px;
	border-left:1px solid #ededed;
	border-right:1px solid #ededed;
	border-bottom:1px solid #ededed;
	padding-top:12px;
	padding-bottom:12px;
	overflow:hidden;
	zoom:1;
}
#mem_addpwd_center {
	padding-left:100px;
}
/*/添加交易密码结束*
/*弹出框 宽390*/
#mem_pwd_email_tc {
	width:600px;
	padding-left:300px;
	padding-top:20px;
}
.tc370 {
	display:block;
	float:left;
	width:370px;
}
.tc370 li.t {
	background:url("../images/uhl/bg_nav.gif") no-repeat scroll -171px -70px transparent;
	float:left;
	height:29px;
	line-height:29px;
	width:370px;
}
.tc370 li.main {
	border-left:1px solid #D5D5D5;
	border-right:1px solid #D5D5D5;
	float:left;
	overflow:hidden;
	width:368px;
}
.tc370 li.b {
	background:url("../images/uhl/bg_nav.gif") no-repeat scroll -2px -250px transparent;
	float:left;
	font-size:1px;
	height:6px;
	line-height:6px;
	width:370px;
}
.tc370_main {
	width:350;
	padding:10px 10px 20px 0px;
}
.tc370_main .input {
	height:40px;
	width:360px;
	line-height:40px;
	vertical-align: middle
}
.tc370_main .input label {
	display:block;
	float:left;
	font-size:12px;
	height:24px;
	line-height:24px;
	text-align:right;
	width:70px;
}
.tc370_main .tc370_msg {
	float:left;
	width:125px;
	height:23px;
	border:1px #e08a78 solid;
	line-height:23px;
	padding-top:6px;
}
.tc370_main .tc370_attention {
	padding-left:4px;
}
.tc370_main .tc370_bt {
	padding-left:80px;
}
.tc370_main .tc370_bt .tc370_btc {
	float:left;
	width:100px;
}
/*弹出框 宽390 结束*/



/*弹出框公用样式*/
.mem_chphone label {
	display:block;
	float:left;
	font-size:12px;
	height:24px;
	line-height:24px;
	text-align:right;
	width:80px;
}
.mem_chphone .input {
	height:34px;
	line-height:40px;
}
.mem_chphone .msg {
	float:left;
	width:162px;
	height:34px;
	border:1px #e08a78 solid;
	line-height:34px;
}
.mem_chphone .attention {
	padding-left:6px;
	_padding-top:10px;
}
.mem_chphone .buttonfield {
	margin-left:84px;
}
.mem_chphone .sjyzm {
	padding-left:84px;
}
.mem_chphone .inputsj {
	height:34px;
	line-height:34px;
}
.mem_update_hqbt {
	background:url("../images/uhl/bt.gif") no-repeat scroll -101px -62px transparent;
	border:0 none;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	height:25px;
	line-height:25px;
	text-align:center;
	width:116px;
}
.mem_ykgl_e_input .input {
	line-height:40px;
	height:40px;
}
.mem_ykgl_e_input label {
	display:block;
	font-size:12px;
	height:24px;
	line-height:24px;
	text-align:right;
	width:88px;
	float:left;
}
.mem_bd_phone {
	line-height:32px;
	height:32px;
}
.mem_bd_phone .input {
	width:370px;
	height:24px;
}
.mem_bd_phone .label88 {
	display:block;
	font-size:12px;
	height:24px;
	line-height:24px;
	text-align:right;
	width:88px;
	float:left;
}
.mem_bd_phone .qrjh {
	padding-left:90px;
}
.mem_bd_question {
	line-height:28px;
	margin-left:15px;
	width:320px;
}
/*弹出框公用样式结束*/

/***************message.html*****************/
#mem_mess_right {
	float:left;
}
#h_right {
	margin-left:8px;
	display:inline;
}
#h_right .mainmessage {
	width:800px;
	height:auto;
	overflow:hidden;
	padding-left:1px;
	padding-right:6px;
	background:#fff url(../images/uhl/xbg.gif) repeat-y -168px 0px;
}
.message {
	height:16px;
	padding:12px 0px 12px 10px;
	position:relative;
}
.message li {
	float:left;
	width:118px;
	display: inline;
}
.message li span {
	padding:0px 10px;
}
.message .messagesort {
	float:right;
}
.messagelist {
	width:800px;
	color:#666;
	margin-bottom:12px;
	border-bottom:1px dotted #cbc2c0;
}
.messagelist .messagec h3 {
	height:25px;
}
.messagelist .messagetitle {
	height:28px;
	background-color:#fbe8e4;
	border-bottom:1px dotted #cbc2c0;
	line-height:29px;
	width:800px;
}
.messagelist .messagetitle_tx a {
	color:#ab3420;
	padding-right:50px;
	padding-left:10px;
	font-weight:bold;
}
.messagelist .messagetitle_tx a:hover {
	text-decoration:underline;
	color:#ab3420;
}
.messagelist .messagetitle span {
	padding-top:8px;
	display:block
}
.messagetitle_tx {
	float:left;
	font-size:14px;
}
.messagetitle_pl {
	width:83px;
	display:inline;
	font-size:12px;
	color:#ff6600;
	height:18px;
	position:relative;
}
.messagetitle_pl b {
	width:14px;
	height:21px;
	position:absolute;
	background:url(../images/uhl/icon_s.gif) -1px -30px;
	left: -18px;
	top: 0px;
}
.messagelist .messagec {
	padding-top:6px;
	padding-left:10px;
}
.messagec1 .messagec1list {
	padding-left:8px;
	height:36px;
}
.messagec1 .messagec1list li {
	float:left;
	display:inline;
	padding-right:20px;
}
.messagec2 {
}
.messagec2 .messagetext {
	padding-bottom:22px;
}
.messagetext p {
	width:748px;
	overflow:hidden;
}
.messagec2 .messagetextc a, .messagec2 .messagetextc a:visited {
	color:#666;
}
.messagec2 .messagetextc li {
	height:20px;
}
.messageact {
	width:270ppx;
}
.messageact li {
	float:left;
	display:inline;
	text-align:center;
	height:26px;
}
.messageact .time {
	width:106px;
	text-align:left;
	float:left;
}
.messageact li a {
	padding:0 10px;
}
.messageact li a, .messageact li a:visited {
	color:#b23621;
}
.messagepage {
	margin:12px 0px 10px 104px;
}
/*message.html样式结束*/

/*collect_sp.html start*/
.mem_coll_right {
	float:left;
	overflow:hidden;
}
#collect_sp_c {
	width:820px;
	float:left;
	overflow:hidden;
	zoom:1;
	_margin-left:-8px;
	overflow:hidden;
}
#collect_center {
	float:left;
	width:582px;
	height:auto;
	margin-left:8px;
	margin-right:6px;
}
#collect_center .t {
	width:582px;
	height:36px;
	line-height:30px;
	overflow:hidden;
	position:relative;
	z-index:2;
	background:url(../images/uhl/bg_nav_h.gif) no-repeat 0px -161px;
}
#collect_center .t .list {
	height:26px;
	white-space:nowrap;
	margin-top:7px;
	margin-left:2px;
}
#collect_center .t .list li {
	float:left;
}
#collect_center .t .list li span {
	width:20px;
	display:block;
	text-align:center
}
#collect_center .list a {
	float:left;
	display:block;
	width:90px;
	height:30px;
	margin-top:3px;
	line-height:26px;
	text-align:center;
}
#collect_center .list a:hover, #collect_center .list a.current {
	color:#c43f27;
	text-decoration:none;
	background:url(../images/uhl/bg_nav_h.gif) no-repeat -500px -30px;
}
#collect_center .collectmain {
	width:582px;
	height:auto;
	overflow:hidden;
	margin-top:-4px;
	position:relative;
	z-index:1;
	background:#fff url(../images/uhl/collectk.gif) repeat-y;
}
#collect_center .b {
	width:100%;
	height:12px;
	overflow:hidden;
	margin:0px;
	font-size:1px;
	background:url(../images/uhl/bg_nav_h.gif) no-repeat -175px -96px;
}
.collectmain .fd {
	width:556px;
	height:88px;
	margin:12px;
auto;
	border:#fbe8e4 solid 1px;
	background-color:#fef9f8;
}
.collectmain .fd span a, .collectmain .fd span a:visited {
	color:#ae3520;
}
.mem_coll {
	background-color:#fef9f8;
	width:780px;
	height:86px;
	border:1px solid #fbe8e4;
	margin-bottom:10px;
}
.mem_coll .mem_coll_c {
	padding-left:14px;
	padding-top:10px;
}
.mem_coll_listl {
	float:left;
	line-height:24px;
	width:606px;
}
.mem_coll_listl li span {
	color:#666;
}
.mem_coll_listl li a, .mem_coll_listl li a:visited {
	color:#ae3520
}
.mem_coll_listr {
	float:left;
	line-height:28px;
}
.mem_coll_sp_sc {
	padding-left:12px;
}
.mem_sc_fd_bts {
	background:url(../images/uhl/bt.gif) -161px -209px no-repeat;
	border:0;
	height:25px;
	width:70px;
	line-height:25px;
	padding-left:28px;
	font-size:12px;
	color:#333;
}
.mem_sc_sp_bts a, .mem_sc_sp_bts1 a {
	padding-left:28px;
}
.mem_sc_sp_bts {
	float:left;
	background:url(../images/uhl/bt.gif) -212px -268px no-repeat;
	border:0;
	height:25px;
	width:70px;
	line-height:25px;
	font-size:12px;
	color:#333;
	padding-right:10px;
}
.mem_sc_sp_bts1 {
	float:left;
	background:url(../images/uhl/bt.gif) -161px -209px no-repeat;
	border:0;
	height:25px;
	width:70px;
	line-height:25px;
	font-size:12px;
	color:#333;
}
.collectmain .fd .spc {
	padding-top:10px;
	padding-left:18px;
	color:#666;
}
.collectmain .fd .fdc {
	padding-top:10px;
	padding-left:18px;
	color:#666;
}
.collectmain .fd .yhqc {
	padding-top:10px;
	padding-left:6px;
	color:#666;
}
.collectmain .fd li {
	height:24px;
}
.collectmain .fd .fdl li {
	float:left;
	padding-right:14px;
	height:20px;
	line-height:20px;
}
.collectmain .fd .fdl .fdlsc {
	width:60px;
}
.collectnum {
	width:200px;
}
.collectnum_fd {
	width:274px;
}
.collectnum_yhq {
	width:265px;
}
.collectright {
	width:216px;
	float:left;
	margin-top:4px;
}
.mem_coll_page {
	padding-left:160px;
	margin-top:10px;
}
.collectright .collectad1 {
	margin-bottom:10px;
}
.collectright .collectad2 {
	margin-bottom:10px;
}
.collectright .uhlzdj {
	width:216px;
}
.uhlzdjc li {
	height:160px;
}
.collectright .uhlzdj li {
	float:left;
	display:inline;
}
.uhlzdjlist {
	width:102px;
	height:106px;
	border:1px solid #dddddd;
	margin:0px 2px;
}
.uhlzdjlist img {
	padding:3px;
}
.uhlzdjtext {
	margin:2px 2px;
}
.mem_sc_fd_yp {
	padding-left:16px;
}
.mem_sc_fd_btp {
	background:url(../images/uhl/bt.gif) -270px -209px no-repeat;
	border:0;
	height:25px;
	width:70px;
	line-height:25px;
	padding-left:28px;
	font-size:12px;
	color:#333;
}
/*collect.html样式结束*/

/*会员中心-图片页面样式*/
#mem_imggl_page {
	height:46px;
	padding-top:20px;
	padding-left:140px;
}
#mem_img_center {
	width:810px;
	float:left;

}
#collect_img_center {
	float:left;
	width:810px;
	height:auto;
}
#collect_img_center .prebt {
	background:url(../images/uhl/bt.gif) -218px -32px no-repeat;
	border:0;
	height:24px;
	width:78px;
	line-height:24px;
	padding-left:28px;
	font-size:12px;
	color:#333;
}
#collect_img_center .nextbt {
	background:url(../images/uhl/bt.gif) -218px -61px no-repeat;
	border:0;
	height:24px;
	width:78px;
	line-height:24px;
	padding-left:18px;
	font-size:12px;
	color:#333;
}
#collect_img_center .imgpage {
	height:46px;
	padding-top:20px;
	padding-left:290px;
}
#collect_img_center .imgpage li {
	float:left;
	display:inline;
}
#collect_img_center .imgpage li span {
	width:70px;
	text-align:center;
	padding-right:18px;
}
#collect_img_center .imgbig {
	width:740px;
	height:520px;
	overflow:hidden;
	padding:5px;
	border:1px #dddddd solid;
	margin:0 auto;
	zoom:1
}
#collect_img_center .imgtext {
	padding-left:280px;
	overflow:hidden;
	zoom:1
}
#collect_img_center .imgtext a, #collect_img_center .imgtext a:visited {
	color:#ae3520;
}
#collect_img_center .imgtext li {
	float:left;
	display:inline-block;
	padding-right:23px;
	padding-top:18px;
	overflow:hidden;
}
/*会员中心-图片页面样式结束*/

/*图片管理-显示页面样式*/
.img_main {
	width:1000px;
	margin:0 auto;
	padding:0;
}
#mem_imggl_r {
	width:810px;
	float:left;
}
.imgc {
	margin-left:13px;
	width:780px;
	margin-top:6px;
	overflow:hidden;
}
.imgc .imglist {
	float:left;
	margin-right:14px;
	margin-bottom:18px;
}
.imgc .imglist li {
	height:248px;
	width:244px;
}
.imglist .uhlimggl {
	width:240px;
	height:170px;
	padding:1px;
	border:1px solid #ccc;
}
.imglist .uhlimggltitle a {
	display:block;
	margin-top:8px;
	font-weight:bold;
	height:20px;
}
.imglist .uhlimggltext {
	height:20px;
}
.uhlimggltext a, .uhlimggltext a:visited {
	color:#b23621;
}
/*图片管理-显示页面样式结束*/

/*收藏页面样式*/
.mem_coll {
}
/*收藏页面样式 结束*/

/*弹出框*/
#layout {
	position:relative;
}
#layout #left {
	width:9px;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
#layout #right {
	width:28px;
	height:100%;
	position:absolute;
	top:0;
	right:0;
}
#layout #center {
	height:100%;
	margin-left:9px;
	margin-right:28px;
}
#layout #left #lt {
	width:9px;
	height:35px;
	background-image:url(../images/uhl/g_01.jpg);
}
#layout #left #lc {
	width:9px;
	height:100%;
	background-image:url(../images/uhl/left.jpg);
	bakcground-repeat:repeat-y;
}
#layout #left #lb {
	width:9px;
	height:8px;
	background-image:url(../images/uhl/g_07.jpg);
	background-repeat:no-repeat;
}
#layout #right #rt {
	width:28px;
	height:35px;
	background-image:url(../images/uhl/g_03.jpg);
}
#layout #right #rc {
	width:28px;
	height:100%;
	background-image:url(../images/uhl/right.jpg);
	bakcground-repeat:repeat-y;
}
#layout #right #rb {
	width:28px;
	height:8px;
	background-image:url(../images/uhl/g_09.jpg);
	background-repeat:no-repeat;
}
#layout #center #ct {
	width:100%;
	height:35px;
	background-image:url(../images/uhl/g_02.jpg);
	background-position:right top;
	background-repeat: repeat-x;
}
#layout #center #cc {
	width:100%;
	height:100%;
}
#layout #center #cb {
	width:100%;
	height:8px;
	background-image:url(../images/uhl/g_08.jpg);
	background-repeat:repeat-x;
}
/**/
/*弹出层商户回信*/
.mem_sh_feed {
	position:relative;
	width:630px;
	margin-left:16px;
	margin-bottom:10px;
	display:none
}
.mem_sh_feed .mem_sh_feed_se {
	background:url(../images/uhl/icon_s.gif) 0 -579px;
	width:20px;
	height:7px;
	position:relative;
	left:34px;
	top:2px;
	_top:9px;
}
.mem_sh_feed_c {
	border:2px solid #efc4bb;
	background-color:#fdf8f7;
	padding:10px;
}
.mem_sh_feed_c h3 {
	position:relative
}
.mem_sh_feed_c h3 span {
	position:absolute;
	right:0px;
	_right:12px;
}
.mem_sh_feed_c p {
	text-indent:24px;
	line-height:18px;
	color:#666;
	margin-top:10px;
}
/*弹出层商户回信结束*/

/*弹出评论时间*/
.sh_mess_main_l_c .messagesort {
	height:22px;
	margin-top:8px;
	float:right;
	margin-right:15px;
	_margin-right:8px;
}
.messagesort a.messagesort_ti_t {
	text-decoration:none;
}
.messagesort_ti {
	width:70px;
	border:1px solid #b84531;
	padding:0px 6px 4px 6px;
	position:absolute;
	background-color:#fff;
	z-index:100;
}
.messagesort_ti li {
	line-height:24px;
}
.messagesort_ti_t {
	cursor:pointer;
}
.messagesort_ti_t b {
	display:inline-block;
	background: url(../images/uhl/list.gif) no-repeat 3px -4px !important;
	background: url(../images/uhl/list.gif) no-repeat 3px 3px;
	width:12px;
	height:5px;
}
.messagesort_ti li a:link, .messagesort_ti li a:visited {
	color:#666;
}
.messagesort_ti li a:hover {
	color:#000;
	text-decoration:none
}
.messagesort_ti_0 a {
	color:#000;
}
.messagesort_ti_0 b {
	display: inline-block;
	margin-left:8px;
	background: url(../images/uhl/list.gif) no-repeat -2px -14px;
	width:13px;
	height:17px;
}
/*弹出评论时间结束*/
/*gyp 2011-2-12添加*/
.mem_sc_fd_yp {
	padding-left:16px;
}
.mem_sc_fd_btp {
	background:url(../images/uhl/bt.gif) -270px -209px no-repeat;
	border:0;
	height:25px;
	width:70px;
	line-height:25px;
	padding-left:28px;
	font-size:12px;
	color:#333;
}
/*gyp 2011-2-14添加*/
.mem_u_name_input {
	color:#999;
}
.order_2_3 li {
	float:left;
	display:inline;
	width:735px;
	margin-left:15px;
	height:20px;
	line-height:20px;
	padding:5px 0px;
	border-bottom:1px dashed #dbdbdb;
}
.order_2_3 input, .order_2_3 b {
	float:left;
}
.order_2_3 input {
	margin-right:4px;
}
.order_2_3 a {
	float:right;
}
.order_2_3 a:hover {
	color:#ff9900;
	text-decoration:none;
}
.order_2_3 a.default {
	display:none;
}
/*时间插件*/
.Wdate2 {
	border:#bababa 1px solid;
	height:20px;
	background:#fff url(../images/uhl/datePicker.gif) no-repeat right;
}
.Wdate {
	border:#bababa 1px solid;
	height:20px;
	width:95px;
	background:#fff url(../images/uhl/datePicker.gif) no-repeat right;
}
/*收藏优惠券添加评论弹出框
* szw 2011-2-16
*/
.shlist_5 {
	width:755px;
	height:450px;
	overflow:hidden;
}
.shlist_5 .table_tl, .shlist_5 .table_bl {
	width:745px;
}
.shlist_16 {
	width:705px;
	height:auto;
	padding:5px 0px 0px 20px;
}
.shlist_16 li {
	float:left;
	width:705px;
	height:auto;
	padding:3px 0px;
}
.shlist_16 li em, .shlist_16 li b, .shlist_16 li span, .shlist_16_0 input, shlist_16_0 font {
	float:left;
}
.shlist_16 h1 {
	display:inline;
	font-size:12px;
	padding:0px 5px;
}
.shlist_16 li em {
	font-style:normal;
}
.shlist_16 li strong {
	color:#ff0000;
	font-weight:normal;
}
li.shlist_16_0 {
	line-height:20px;
}
.shlist_16_0 font {
	color:#ae3a26;
}
.shlist_16 li label {
	margin-right:25px;
}
.shlist_16_1 {
	line-height:24px;
}
.shlist_16_1 span {
	margin-right:35px;
}
.shlist_16_2 {
	width:692px;
	height:200px;
	padding:3px;
	border:1px solid #a8acad;
}
.shlist_16_3 {
	margin:0px 15px 0px 10px;
}
.shlist_16_4 {
	height:16px;
	padding:0px 1px;
	float:left;
	border:1px solid #dbdbdb;
}
.shlist_16_5 {
	width:215px;
	border:1px solid #a8acad;
	margin:0px 10px 0px 3px;
	background-position:-582px -72px;
}
.shlist_16_6 {
	color:#fff;
	width:64px;
	height:24px;
	border:0px;
	margin-right:10px;
	cursor:pointer;
	background-position:-126px -30px;
}
li.shlist_16_7, li.shlist_16_8 {
	padding:8px 0px;
}
.shlist_16_7 a {
	color:#3366cc;
	margin-right:25px;
}
.shlist_16_8 a {
	color:#ff6600;
	margin:0px 7px;
}
