#{extends 'main.html' /}
#{set title:'分销商 - 我的资料' /}
#{set 'moreStyles'}
    #{asset.css src:['/r/base.css', '/r/orders.css', '/r/users.css'] /}
#{/set}
#{set 'moreScripts'}
<script>
init('${flag}'');
function init(val){
	if (flag == '1') {
		alert("修改成功！");
	}
}
</script>
#{/set}

#{set 'navMenu'}
    <li><a href="/">首　页</a></li>
    <li><a class="current" href="/goods">商品库</a></li>
    <li><a href="/library">我的分销库</a></li>
    <li><a href="/charge">账户充值</a></li>
    <li><a href="/withdraw">账户提现</a></li>
#{/set}

<div id="content">
    #{breadcrumbs/breadcrumb breadcrumbs/}
    <div class="main clearfix">
        #{include "share/left.html"/}
        <div class="section">
            <h3>我的资料</h3>
            <form class="form-horizontal user-form" id="editForm" action="@{ResalerInfos.update(resaler?.id)}" method="POST">
                <div class="item clearfix">
                    <span class="label">帐号等级：</span>
                    &{'resaler.'+resaler?.level}
                </div>
                <div class="item clearfix">
                    <span class="label">用户名：</span>
                    ${resaler?.loginName}
                    <input type="hidden" name="resaler.password" value="******"/>
                    <input type="hidden" name="resaler.confirmPassword" value="******"/>
                    <input type="hidden" name="resaler.loginName" value="${resaler?.loginName}"/>
                </div>
                <div class="item clearfix">
                    <span class="label"><i>*</i>联系人姓名：</span>
                    <input type="text" name="resaler.userName" id="userName" value="${resaler?.userName}" />
                    <span class="error">#{error 'resaler.userName' /}</span>
                </div>
                <div class="item clearfix">
                    <span class="label"><i>*</i>手机：</span>
                    <input type="text" name="resaler.mobile" id="mobile" maxlength="11" value="${resaler?.mobile}" />
                    <span class="error" id="checkMobile">#{error 'resaler.mobile' /}</span>
                </div>
                <div class="item clearfix">
                    <span class="label"><i>*</i>电子邮箱：</span>
                    <input type="text" name="resaler.email" id="email" value="${resaler?.email}" />
                    <span class="error">#{error 'resaler.email' /}</span>
                </div>
                <div class="item clearfix">
                    <span class="label">身份证号：</span>
                    ${resaler?.identityNo} 
                    <input type="hidden" name="resaler.identityNo" value="${resaler?.identityNo}"/>
                </div>
                <div class="item clearfix">
                    <span class="label"><i>*</i>联系电话：</span>
                    <input type="text" name="resaler.phone" id="phone" value="${resaler?.phone}" />
                    <span class="error">#{error 'resaler.phone' /}</span>
                </div>
                <div class="item clearfix">
                    <span class="label"><i>*</i>联系地址：</span>
                    <input type="text" name="resaler.address" id="address" value="${resaler?.address}" />
                    <span class="error">#{error 'resaler.address' /}</span>
                </div>
                <div class="item clearfix">
                    <span class="label">邮编：</span>
                    <input type="text" name="resaler.postCode" id="postCode" maxlength=6 value="${resaler?.postCode}" />
                    <span class="error">#{error 'resaler.postCode' /}</span>
                </div>
                <div class="btn-box">
                    <button class="submit-btn" type="submit" id="submit">确 认</button>
                </div>
            </form>
        </div>
    </div>
</div>

*{
<div id="wrap_content">
 #{include "share/left.html"/}
        <div id="right_content_box">
                <div class="tab_top">用户注册</div>
                <div class="tab_top2">
                        <form class="form-horizontal" id="editForm" action="@{ResalerInfos.update(resaler?.id)}" method="POST">
                                <table width="774" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                                <td width="12">&nbsp;</td>
                                                <td>帐号等级：</td>
                                                <td width="259" height="35">&{'resaler.'+resaler?.level}</td>
                                        </tr>
                                        <tr>
                                                <td width="12">&nbsp;</td>
                                                <td>用&nbsp;&nbsp;户&nbsp;&nbsp;名：</td>
                                                <td width="259" height="35">${resaler?.loginName}
                                                  <input type="hidden" name="resaler.password" value="******"/>
                                                  <input type="hidden" name="resaler.confirmPassword" value="******"/>
                                                  <input type="hidden" name="resaler.loginName" value="${resaler?.loginName}"/>
                                                 </td>
                                               
                                        </tr>
                                         <tr>
                                                <td width="12">&nbsp;</td>
                                                <td><font color="red">*</font>联系人姓名：</td>
                                                <td width="259" height="35"><input type="text" name="resaler.userName" id="userName" value="${resaler?.userName}" />
                                                        <span class="error">#{error 'resaler.userName' /}</span></td>
                                        </tr>
                                        <tr>
                                                <td width="12">&nbsp;</td>
                                                <td><font color="red">*</font>手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：</td>
                                                <td width="259" height="35"><input type="text" name="resaler.mobile" id="mobile" maxlength="11"
                                                        value="${resaler?.mobile}" /> <span class="error" id="checkMobile">#{error 'resaler.mobile' /}</span></td>
                                        </tr>
                                        <tr>
                                                <td width="12">&nbsp;</td>
                                                <td><font color="red">*</font>电子邮箱：</td>
                                                <td width="259" height="35"><input type="text" name="resaler.email" id="email" value="${resaler?.email}" />
                                                        <span class="error">#{error 'resaler.email' /}</span></td>
                                        </tr>
                                      
                                        <tr>
                                                <td width="12">&nbsp;</td>
                                                <td>身份证号：</td>
                                                <td width="259" height="35">${resaler?.identityNo}
                                                 <input type="hidden" name="resaler.identityNo" value="${resaler?.identityNo}"/>
                                                 </td>
                                        </tr>
                                        <tr>
                                                <td width="12">&nbsp;</td>
                                                <td><font color="red">*</font>联系电话：</td>
                                                <td width="259" height="35"><input type="text" name="resaler.phone" id="phone" value="${resaler?.phone}" />
                                                        <span class="error">#{error 'resaler.phone' /}</span></td>
                                        </tr>
                                        <tr>
                                                <td width="12">&nbsp;</td>
                                                <td><font color="red">*</font>联系地址：</td>
                                                <td width="259" height="35"><input type="text" name="resaler.address" id="address" value="${resaler?.address}" />
                                                        <span class="error">#{error 'resaler.address' /}</span></td>
                                        </tr>
                                        <tr>
                                                <td width="12">&nbsp;</td>
                                                <td>邮编：</td>
                                                <td width="259" height="35"><input type="text" name="resaler.postCode" id="postCode" maxlength=6 value="${resaler?.postCode}" />
                                                        <span class="error">#{error 'resaler.postCode' /}</span></td>
                                        </tr>
                                        <tr>
                                                <td width="12">&nbsp;</td>
                                                <td width="12">&nbsp;</td>
                                                <td align="center" height="35">
                                                 <button class="seach_bg" type="submit" id="submit">确认</button></td>
                                        </tr>
                                </table>
                        </form>
                </div>
        </div>
</div>
</div>
}*
