#{extends 'main.html' /}
#{set title:'一百券-' + condsTitle + ',网上消费券首选门户,消费券,代金券,优惠券,美食券,电子券,提货券' /}
#{set 'metaContent'}
<meta name="Description" content="一百券-${condsTitle},消费券,代金券,优惠券,美食券,电子券,提货券">
<meta name="Keywords" content="上海优惠券,一百券,${condsTitle},消费券,代金券,优惠券,美食券,电子券,优惠上海,提货券">
#{/set}

#{set 'moreStyles'}
    #{asset.css src:['/u/list.css'] /}
#{/set}
#{set 'moreScripts'}
<script src="@@{'/public/javascripts/goods-index.js'}"></script>
#{/set}

<div class="wrap clearfix">
    <div id="aside">
        <div class="popular">
            <div class="popular-hd">受欢迎的产品</div>
            <ul class="popular-bd">
            #{list recommendGoodsList, as:'recommendGoods'}
                <li>
                    <a href="/g/${recommendGoods.id}" target="_blank"><img src="${recommendGoods.imageMiddlePath}"
                                                                               width="170"
                                                                               height="130"
                                                                               alt="${recommendGoods.name}" width="170"
                                                                               height="130"/></a>

                    <p><a href="/g/${recommendGoods.id}" target="_blank">${recommendGoods.name}</a></p>
                    <span>原价:<del>${recommendGoods.faceValue}</del> | ${recommendGoods.discountExpress}</span>
                    <span>现价:<strong>&yen;${recommendGoods.salePrice}</strong></span>
                </li>
            #{/list}
            </ul>
        </div>
    </div>
    <div id="section">
        <div class="tabbar clearfix">
            <a #{if materialType == null}class="current"#{/if} href="/s/0">全部</a>
            <a href="/s/${categoryId}-${searchAreaId}-${brandId}-${priceFrom}-${priceTo}-${orderBy}-${orderByType}-1"
               #{if models.sales.MaterialType.ELECTRONIC.equals(materialType)}class="current"#{/if}>电子券</a>
            <a href="/s/${categoryId}-${searchAreaId}-${brandId}-${priceFrom}-${priceTo}-${orderBy}-${orderByType}-0"
               #{if models.sales.MaterialType.REAL.equals(materialType)}class="current"#{/if}>实体券</a>
        </div>
        <div class="filter">
            <dl class="clearfix">
                <dt>区域:</dt>
                <dd>
                #{if "0".equals(districtId)}<span class="selected_box">全部</span>
                #{/if}
                #{else}<a id="district"
                          href="/s/${categoryId}-021-${brandId}-${priceFrom}-${priceTo}-${orderBy}-$
                          {orderByType}"
                          class="font_blue">全部</a>
                #{/else}
                #{list districts, as:'district'}
                    #{if district != null}
                        #{if district.id.equals(districtId)}
                            <span id="district" class="selected_box">${district.name}</span>
                        #{/if}
                        #{else}<a
                                href="/s/${categoryId}-${district.id}-0-${priceFrom}-${priceTo}-${orderBy}-${orderByType}"
                                class="font_blue">${district.name}</a>
                        #{/else}
                    #{/if}
                #{/list}
                </dd>
            </dl>
            <dl class="clearfix">
                <dt>商圈:</dt>
                <dd>
                #{if "0".equals(areaId)}<span class="selected_box">全部</span>
                #{/if}
                #{else}<a
                        href="/s/${categoryId}-0-${brandId}-${priceFrom}-${priceTo}-${orderBy}-${orderByType}"
                        class="font_blue">全部</a>
                #{/else}
                #{list areas, as:'area'}
                    #{if area != null}
                        #{if areaId.equals(area.id)}
                            <span id="area" class="selected_box">${area.name}</span>
                        #{/if}
                        #{else}<a
                                href="/s/${categoryId}-${area.id}-${brandId}-${priceFrom}-${priceTo}-${orderBy}-${orderByType}"
                                class="font_blue">${area.name}</a>
                        #{/else}
                    #{/if}
                #{/list}
                </dd>
            </dl>
            <dl class="clearfix">
                <dt>品牌:</dt>
                <dd>
                #{if brandId == 0}<span class="selected_box">全部</span>
                #{/if}
                #{else}<a
                        href="/s/${categoryId}-${searchAreaId}-0-${priceFrom}-${priceTo}-${orderBy}-$
                        {orderByType}"
                        class="font_blue">全部</a>
                #{/else}
                #{list brands, as:'brand'}
                    #{if brandId == brand.id}
                        <span id="area" class="selected_box">${brand.name}</span>
                    #{/if}
                    #{else}<a
                            href="/s/${categoryId}-${searchAreaId}-${brand.id}-${priceFrom}-${priceTo}-${orderBy}-${orderByType}"
                            class="font_blue">${brand.name}</a>
                    #{/else}
                #{/list}
                </dd>
            </dl>
        </div>
        <div class="rankbar">
            排序：

            <a #{if orderBy == 0}class="selected"#{/if}
               href="/s/${categoryId}-${searchAreaId}-${brandId}-${priceFrom}-${priceTo}-0"
               value="${orderBy}">最佳匹配</a>
            <a #{if orderBy == 4}class="selected"#{/if}
               href="/s/${categoryId}-${searchAreaId}-${brandId}-${priceFrom}-${priceTo}-4-${orderByType==0?1:0}">#{if orderBy==4 && orderByType == 1}最新#{/if}#{else}最早#{/else}发布</a>

            <a #{if orderBy == 1}class="selected"#{/if}
               href="/s/${categoryId}-${searchAreaId}-${brandId}-${priceFrom}-${priceTo}-1-${orderByType==0?1:0}">销量#{if orderBy==1 && orderByType == 1}最多#{/if}#{else}最少#{/else}</a>

            <a #{if orderBy == 2}class="selected"#{/if}
               href="/s/${categoryId}-${searchAreaId}-${brandId}-${priceFrom}-${priceTo}-2-${orderByType==0?1:0}">价格#{if orderBy==2 && orderByType == 1}最高#{/if}#{else}最低#{/else}</a>

            <a #{if orderBy == 3}class="selected"#{/if}
               href="/s/${categoryId}-${searchAreaId}-${brandId}-${priceFrom}-${priceTo}-3-${orderByType==0?1:0}">折扣#{if orderBy==3 && orderByType == 1}最大#{/if}#{else}最小#{/else}</a>
        </div>
        <div class="list-content clearfix">
            <ul class="clearfix">
            #{paginate.list items:goodsPage, as:'aGoods'}
                <li>
                    <a href="/g/${aGoods.id}" target="_blank"><img src="${aGoods.imageMiddlePath}" width="170"
                                                                       height="130" alt=""/></a>

                    <p><a href="/g/${aGoods.id}" target="_blank">${aGoods.name}</a></p>
                    <span>原价:<del>${aGoods.faceValue}</del> | ${aGoods.discountExpress}</span>
                    <span>现价:<strong>&yen;${aGoods.salePrice}</strong></span>
                </li>
            #{/paginate.list}
            </ul>
        </div>
        <!--
    <div class="pagination-box">
        <div class="pagination clear-fix">
            <a class="page-prev" href="">上一页</a>
            <a class="page-curr" href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">4</a>
            <a href="">5</a>
            <a href="">6</a>
            <span class="ellipsis">...</span>
            <a class="page-next" href="">下一页</a>
            <form class="page-form">
                <span>共37页</span>
                <span>到第<input type="text" class="page-num" name="page-num" value="2" />页</span>
                <button>确定</button>
            <form>
        </div>
    </div>
        -->
    #{paginate.controls items:goodsPage /}
    </div>
</div>
