#{extends 'main.html' /}
#{set title:'优惠啦 - 商品列表' /}
#{set 'moreStyles'}
<link href="@@{'/public/stylesheets/goods-index.css'}" rel="stylesheet"
      type="text/css"/>
<link rel="stylesheet" type="text/css" media="screen"
      href="@{'/public/stylesheets/play-pagination.css'}">
#{/set}
#{set 'moreScripts'}
<script src="@@{'/public/javascripts/goods-index.js'}"></script>
#{/set}

<div id="wrap_main">
<div id="wrap_top">
#{include "share/topNavigator.html"/}
#{include "share/topTabs.html"/}

    <div id="sereach_wrap">
        <!--购物车结算-->
        <div class="seach_right">
            <span class="seach_right_sp"><img class="gouwu_icon"
                                              src="@@{'/public/images/gouwu_icon.jpg'}"/></span>
            <span class="gouwu_font">购物车：<span
                    class="font_red">12件</span></span>
            <span class="gouwu_jiesuan"><a href="#"
                                           class="font_white">去结算</a></span>
        </div>
        <!--下拉购物车-->
        <div class="abs_gouwu_car">
            <!--over auto-->
            <div class="over_auto">
                <div class="car_box">
                    <div class="car_one"><img
                            src="@@{'/public/images/chanpin/car_cp1.jpg'}"
                            width="60" height="41"/></div>
                    <div class="car_one_right">
                        <div class="float_title">马可波罗 一千零一夜花茶20g</div>
                        <div class="font_red">Y:12.9<span
                                class="font_gray">x1</span></div>
                        <div class="font_gray delete_font"><a href="#">删除</a>
                        </div>
                    </div>
                </div>
                <div class="car_box">
                    <div class="car_one"><img
                            src="@@{'/public/images/chanpin/car_cp1.jpg'}"/>
                    </div>
                    <div class="car_one_right">
                        <div class="float_title">佳宝 无花果35G</div>
                        <div class="font_red">Y:3元<span
                                class="font_gray">x3</span></div>
                        <div class="font_gray delete_font"><a href="#">删除</a>
                        </div>
                    </div>
                </div>
                <div class="car_box">
                    <div class="car_one"><img
                            src="@@{'/public/images/chanpin/car_cp1.jpg'}"/>
                    </div>
                    <div class="car_one_right">
                        <div class="float_title">佳宝 无花果35G</div>
                        <div class="font_red">Y:3元<span
                                class="font_gray">x3</span></div>
                        <div class="font_gray delete_font"><a href="#">删除</a>
                        </div>
                    </div>
                </div>
                <div class="car_box">
                    <div class="car_one"><img
                            src="@@{'/public/images/chanpin/car_cp1.jpg'}"/>
                    </div>
                    <div class="car_one_right">
                        <div class="float_title">超值试用装 修护眼膜贴2对+便携装小</div>
                        <div class="font_red">Y:0.01<span
                                class="font_gray">x1</span></div>
                        <div class="font_gray delete_font"><a href="#">删除</a>
                        </div>
                    </div>
                </div>
                <div class="car_box">
                    <div class="car_one"><img
                            src="@@{'/public/images/chanpin/car_cp1.jpg'}"/>
                    </div>
                    <div class="car_one_right">
                        <div class="float_title">和田 一品玉枣（四星）500克/袋</div>
                        <div class="font_red">Y:35<span
                                class="font_gray">x1</span></div>
                        <div class="font_gray delete_font"><a href="#">删除</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gouwu_car_haha">共<span class="font_red">6</span>件商品
            </div>
            <div class="gouwu_car_haha">金额总计（预估）：<span
                    class="font_red">59.61元</span></div>
            <div class="gouwu_car_haha bottom_car"><a class="go_car_bg"
                                                      href="#">去购物车结算</a></div>
        </div>
    </div>
</div>

<!--主体内容部分-->
<div id="wrap_content">
<div style="clear:both"></div>
<div id="main_content">
#{breadcrumbs/breadcrumb breadcrumbs/}
<!--左侧导航部分-->
<div id="left_nav">
    <div class="left_top_one">
        <dl class="left_one_dl">
            <dt>
            <div class="title_nav font_block">承诺/保障</div>
            <div></div>
            </dt>
            <dd><img src="@@{'/public/images/adv/xiaofei.jpg'}"
                     border="0"
                     usemap="#Map"/>
                <map name="Map" id="Map">
                    <area shape="rect" coords="9,8,202,64" href="#"/>
                    <area shape="rect" coords="10,72,204,124" href="#"/>
                    <area shape="rect" coords="11,130,206,183"
                          href="#"/>
                </map>
            </dd>
        </dl>
    </div>
    <div class="left_top_two">
        <dl class="left_one_dl">
            <dt class="xiuzheng_dt">
            <div class="title_nav font_block">热门商品排行</div>
            <div></div>
            </dt>
            <dd class="shop_dd">
                <div class="img_cp"><a href="#"><img
                        src="@@{'/public/images/chanpin/host_shangpin.jpg'}"/></a>
                </div>
                <div class="right_hot_cp">
                    <div class="strong_gray2">来伊来伊价来价</div>
                    <div class="pri_jiage">现价：14.8</div>
                    <div class="text_decorat">原价：Y:20.00</div>
                </div>
            </dd>

            <dd class="shop_dd">
                <div class="img_cp"><a href="#"><img
                        src="@@{'/public/images/chanpin/host_shangpin.jpg'}"/></a>
                </div>
                <div class="right_hot_cp">
                    <div class="strong_gray2">来伊来伊价来价</div>
                    <div class="pri_jiage">现价：14.8</div>
                    <div class="text_decorat">原价：Y:20.00</div>
                </div>
            </dd>

            <dd class="shop_dd">
                <div class="img_cp"><a href="#"><img
                        src="@@{'/public/images/chanpin/host_shangpin.jpg'}"/></a>
                </div>
                <div class="right_hot_cp">
                    <div class="strong_gray2">来伊来伊价来价</div>
                    <div class="pri_jiage">现价：14.8</div>
                    <div class="text_decorat">原价：Y:20.00</div>
                </div>
            </dd>

            <dd class="shop_dd">
                <div class="img_cp"><a href="#"><img
                        src="@@{'/public/images/chanpin/host_shangpin.jpg'}"/></a>
                </div>
                <div class="right_hot_cp">
                    <div class="strong_gray2">来伊来伊价来价</div>
                    <div class="pri_jiage">现价：14.8</div>
                    <div class="text_decorat">原价：Y:20.00</div>
                </div>
            </dd>

            <dd class="shop_dd">
                <div class="img_cp"><a href="#"><img
                        src="@@{'/public/images/chanpin/host_shangpin.jpg'}"/></a>
                </div>
                <div class="right_hot_cp">
                    <div class="strong_gray2">来伊来伊价来价</div>
                    <div class="pri_jiage">现价：14.8</div>
                    <div class="text_decorat">原价：Y:20.00</div>
                </div>
            </dd>

            <dd class="shop_dd">
                <div class="img_cp"><a href="#"><img
                        src="@@{'/public/images/chanpin/host_shangpin.jpg'}"/></a>
                </div>
                <div class="right_hot_cp">
                    <div class="strong_gray2">来伊来伊价来价</div>
                    <div class="pri_jiage">现价：14.8</div>
                    <div class="text_decorat">原价：Y:20.00</div>
                </div>
            </dd>


        </dl>
    </div>
</div>
<!--右侧主体内容部分-->
<div id="right_content">
<div class="right_content_one">
    <div class="query_items"><span
            class="query_item_title">分　　类：</span>
    #{if categoryId == 0}<span class="selected_box">全部</span>
    #{/if}
    #{else}<a
            href="/goods/list/0-${cityId}-${districtId}-${areaId}-${brandId}-${priceFrom}-${priceTo}-${orderBy}-${orderByType}"
            class="font_blue">全部</a>
    #{/else}
    #{list categories, as:'category'}
        #{if categoryId == category.id}
            <span class="selected_box">${category.name}</span>
        #{/if}
        #{else}<a
                href="/goods/list/${category.id}-${cityId}-${districtId}-${areaId}-${brandId}-${priceFrom}-${priceTo}-${orderBy}-${orderByType}"
                class="font_blue">${category.name}</a>
        #{/else}
    #{/list}
    </div>
    <div class="query_items"><span
            class="query_item_title">搜索地区：</span>
    #{if "0".equals(districtId)}<span class="selected_box">全部</span>
    #{/if}
    #{else}<a id="district"
              href="/goods/list/${categoryId}-${cityId}-0-${areaId}-${brandId}-${priceFrom}-${priceTo}-${orderBy}-${orderByType}"
              class="font_blue">全部</a>
    #{/else}
    #{list districts, as:'district'}
        #{if district != null}
            #{if district.id.equals(districtId)}
                <span id="district" class="selected_box">${district.name}</span>
            #{/if}
            #{else}<a
                    href="/goods/list/${categoryId}-${cityId}-${district.id}-${areaId}-${brandId}-${priceFrom}-${priceTo}-${orderBy}-${orderByType}"
                    class="font_blue">${district.name}</a>
            #{/else}
        #{/if}
    #{/list}
    </div>
    <div class="query_items"><span
            class="query_item_title">推荐商圈：</span>
    #{if "0".equals(areaId)}<span class="selected_box">全部</span>
    #{/if}
    #{else}<a
            href="/goods/list/${categoryId}-${cityId}-${districtId}-0-${brandId}-${priceFrom}-${priceTo}-${orderBy}-${orderByType}"
            class="font_blue">全部</a>
    #{/else}
    #{list areas, as:'area'}
        #{if area != null}
            #{if areaId.equals(area.id)}
                <span id="area" class="selected_box">${area.name}</span>
            #{/if}
            #{else}<a
                    href="/goods/list/${categoryId}-${cityId}-${districtId}-${area.id}-${brandId}-${priceFrom}-${priceTo}-${orderBy}-${orderByType}"
                    class="font_blue">${area.name}</a>
            #{/else}
        #{/if}
    #{/list}
    </div>
    <div class="query_items xiuzheng"><span
            class="query_item_title">推荐品牌：</span>
    #{if brandId == 0}<span class="selected_box">全部</span>
    #{/if}
    #{else}<a
            href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-0-${priceFrom}-${priceTo}-${orderBy}-${orderByType}"
            class="font_blue">全部</a>
    #{/else}
    #{list brands, as:'brand'}
        #{if brandId == brand.id}
            <span id="area" class="selected_box">${brand.name}</span>
        #{/if}
        #{else}<a
                href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brand.id}-${priceFrom}-${priceTo}-${orderBy}-${orderByType}"
                class="font_blue">${brand.name}</a>
        #{/else}
    #{/list}
    </div>
</div>
<div class="right_content_two">
    <div>价格：</div>
#{if priceFrom == 0 && priceTo == 0}
    <div class="selected_box">全部
    </div>#{/if}
#{else}<a class="query_price"
          href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-0-0-${orderBy}-${orderByType}">全部</a>#{/else}
#{if priceFrom == 0 && priceTo == 30}
    <div class="selected_box">0-30元
    </div>#{/if}
#{else}<a class="query_price"
          href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-0-30-${orderBy}-${orderByType}">0-30元</a>#{/else}
#{if priceFrom == 30 && priceTo == 60}
    <div class="selected_box">30-60元
    </div>#{/if}
#{else}<a class="query_price"
          href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-30-60-${orderBy}-${orderByType}">30-60元</a>#{/else}
#{if priceFrom == 60 && priceTo == 90}
    <div class="selected_box">60-90元
    </div>#{/if}
#{else}<a class="query_price"
          href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-60-90-${orderBy}-${orderByType}">60-90元</a>#{/else}
#{if priceFrom == 90 && priceTo == 120}
    <div class="selected_box">90-120元
    </div>#{/if}
#{else}<a class="query_price"
          href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-90-120-${orderBy}-${orderByType}">90-120元</a>#{/else}
#{if priceFrom == 120 && priceTo == 160}
    <div class="selected_box">120-160元
    </div>#{/if}
#{else}<a class="query_price"
          href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-120-160-${orderBy}-${orderByType}">120-160元</a>#{/else}
#{if priceFrom == 160 && priceTo == 0}
    <div class="selected_box">160元以上
    </div>#{/if}
#{else}<a class="query_price"
          href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-160-0-${orderBy}-${orderByType}">160元以上</a>#{/else}

    <div class="range_input"><input class="price_input" id="input_price_from"
                                    type="text"
                                    value="#{if priceFrom != 0}${priceFrom}#{/if}"/>至<input
            class="price_input" id="input_price_to" type="text"
            value="#{if priceTo != 0}${priceTo}#{/if}"/></div>
    <div><a id="link_price_confirm" class="sort_box unselected_border"
            href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-0-0-${orderBy}-${orderByType}">确定</a>
    </div>
</div>
<div class="right_content_three">
    <div class="r_c_three_title">排序：</div>
#{if orderBy == 0}
    <span class="sort_box selected_border" value="${orderBy}">默认</span>
#{/if}
#{else}
    <a class="sort_box unselected_border"
       href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-${priceFrom}-${priceTo}-0-1"
       value="${orderBy}">默认</a>
#{/else}
#{if orderBy == 1}
    <a
        #{if orderByType == 1}class="sort_box selected_border box_sort_desc"#{/if}
        #{else}class="sort_box selected_border box_sort_asc"#{/else}
        href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-${priceFrom}-${priceTo}-1">销量</a>
#{/if}
#{else}
    <a class="sort_box unselected_border box_sort_desc"
       href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-${priceFrom}-${priceTo}-1">销量</a>
#{/else}
#{if orderBy == 2}
    <a
        #{if orderByType == 1}class="sort_box selected_border box_sort_desc"#{/if}
        #{else}class="sort_box selected_border box_sort_asc"#{/else}
        href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-${priceFrom}-${priceTo}-2">价格</a>
#{/if}
#{else}
    <a class="sort_box unselected_border box_sort_desc"
       href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-${priceFrom}-${priceTo}-2">价格</a>
#{/else}
#{if orderBy == 3}
    <a
        #{if orderByType == 1}class="sort_box selected_border box_sort_desc"#{/if}
        #{else}class="sort_box selected_border box_sort_asc"#{/else}
        href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-${priceFrom}-${priceTo}-3">折扣</a>
#{/if}
#{else}
    <a class="sort_box unselected_border box_sort_desc"
       href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-${priceFrom}-${priceTo}-3">折扣</a>
#{/else}
#{if orderBy == 4}
    <a
        #{if orderByType == 1}class="sort_box selected_border box_sort_desc"#{/if}
        #{else}class="sort_box selected_border box_sort_asc"#{/else}
        href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-${priceFrom}-${priceTo}-4">最新</a>
#{/if}
#{else}
    <a class="sort_box unselected_border box_sort_desc"
       href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-${priceFrom}-${priceTo}-4">最新</a>
#{/else}
</div>
<div class="right_content_four">
    <ul class="shop_more_box">
    #{set i:-1/}
    #{paginate.list items:goodsPage, as:'aGoods'}
        #{if (++i%4) == 0 }
        <div class="shangpin_more">
        #{/if}
        <li #{if (i%4 == 3)}class="no_margin_right"#{/if}>
            #{form @Orders.buy() , id:'buy_now_form_'+aGoods.id}
                <input type="hidden" id="goodsId" name="goodsId" value="${aGoods.id}">
                <input type="hidden" id="number" name="number" value="1">

                <div><a href="/goods/${aGoods.id}"><img
                        src="${aGoods.imageMiddlePath}"/></a></div>
                <div class="margin_text"><span
                        class="strong_gray font_14px">${aGoods.name}</span>
                </div>
                <div class="margin_text"><span
                        class="pri_jiage font_14px">Y:${aGoods.salePrice}</span>
                </div>
                <div class="text_decorat margin_text">
                    市场价格：Y:${aGoods.originalPrice}</div>
                <div class="margin_text margin_bottom"><a
                        class="buy_now" name="link_buy_now" id="link_buy_now_${aGoods.id}"
                        href="#" onclick="javascript:buyNow(${aGoods.id})">立即购买</a></div>
            #{/form}
        </li>
        #{if (i%4 == 3)}
        </div>
        #{/if}
    #{/paginate.list}
    </ul>
    <ul class="shop_more_box">
    #{paginate.controls items:goodsPage /}
    </ul>
*{<div class="more_buttom_more"><a class=" more_buttom_mid"}*
*{href="#"><img}*
*{src="@@{'/public/images/more_buttom.jpg'}"/></a></div>}*
</div>
</div>

<div style="clear:both"></div>
</div>
</div>
</div>
