#{extends 'main.html' /}
#{set title:'优惠啦 - 商品列表' /}

#{set 'moreStyles'}
  #{asset.css src:['/u/list.css'] /}
#{/set}
#{set 'moreScripts'}
<script src="@@{'/public/javascripts/goods-index.js'}"></script>
#{/set}

<div class="wrap clearfix">
    <div id="aside">
        <!--div class="filter">
            <div class="market">
                <div class="market-hd"><b></b>商圈</div>
                <ul class="market-bd">
                #{list areas, as:'area'}
                    #{if area != null}
                        #{if areaId.equals(area.id)}
                    <li><span class="branch"></span>${area.name}(xx)</li>
                        #{/if}
                        #{else}
                    <li><span class="branch"></span><a
                                href="/goods/list/${categoryId}-${cityId}-${districtId}-${area.id}-${brandId}-${priceFrom}-${priceTo}-${orderBy}-${orderByType}"
                                class="font_blue">${area.name}(xx)</a></li>
                        #{/else}
                    #{/if}
                #{/list}
                </ul>
            </div>
            <div class="area">
                <div class="area-hd"><b></b>区域</div>
                <ul class="area-bd">
                #{list districts, as:'district'}
                    #{if district != null}
                        #{if district.id.equals(districtId)}
                  <li><span class="branch"></span>${district.name}<span class="amount">(xxx)</li>
                        #{/if}
                        #{else}
                  <li><span class="branch"></span><a
                                href="/goods/list/${categoryId}-${cityId}-${district.id}-${areaId}-${brandId}-${priceFrom}-${priceTo}-${orderBy}-${orderByType}"
                                class="font_blue">${district.name}<span class="amount">(xxx)</span></a></li>
                        #{/else}
                    #{/if}
                #{/list}
                </ul>
            </div>
        </div-->
        <div class="popular">
            <div class="popular-hd">受欢迎的产品</div>
            <ul class="popular-bd">
                <li><a href="" target="_blank"><img src="http://img0.uhcdn.com/p/0/0/36/2012042310454449890_middle.jpg" width="170" height="130" alt="" /></a></li>
                <li><a href="" target="_blank"><img src="http://img0.uhcdn.com/p/0/0/23/2012041304465579616_middle.jpg" width="170" height="130" alt="" /></a></li>
                <li><a href="" target="_blank"><img src="http://img0.uhcdn.com/p/0/0/4/2012041004034748195_middle.jpg" width="170" height="130" alt="" /></a></li>
                <li><a href="" target="_blank"><img src="http://img0.uhcdn.com/p/0/0/23/2012041304465579616_middle.jpg" width="170" height="130" alt="" /></a></li>
            </ul>
        </div>
    </div>
    <div id="section">
        <div class="tabbar clearfix">
            <a class="current" href="">全部</a>
            <a href="">电子券</a>
            <a href="">实体券</a>
        </div>
        <div class="filter">
            <dl class="clearfix">
                <dt>区域:</dt>
                <dd>
                    <a href="">杨浦区</a>
                    <a href="">虹口区</a>
                    <a href="">闸北区</a>
                    <a href="">普陀区</a>
                    <a href="">黄浦区</a>
                    <a href="">静安区</a>
                    <a href="">长宁区</a>
                    <a href="">卢湾区</a>
                    <a href="">徐汇区</a>
                    <a href="">闵行区</a>
                    <a href="">浦东新区</a>
                </dd>
            </dl>
            <dl class="clearfix">
                <dt>商圈:</dt>
                <dd>
                    <a href="">中山公园</a>
                    <a href="">北外滩</a>
                    <a href="">人民广场</a>
                    <a href="">城隍庙</a>
                    <a href="">新炒夜城</a>
                    <a href="">虹桥</a>
                    <a href="">五角场</a>
                    <a href="">曹家渡</a>
                    <a href="">淮海中路</a>
                    <a href="">陆家嘴</a>
                    <a href="">四川北路</a>
                </dd>
            </dl>
            <dl class="clearfix">
                <dt>品牌:</dt>
                <dd>
                    <a href="">麦当劳</a>
                    <a href="">肯德基</a>
                    <a href="">真功夫</a>
                    <a href="">来一份</a>
                    <a href="">可佳基</a>
                    <a href="">麦肯姆</a>
                </dd>
            </dl>
        </div>
        <div class="rankbar">
            排序：
            <a href="">最佳匹配</a>
            <a class="selected" href="">最新发布</a>
            <a href="">销量最多</a>
            <a href="">价格最低</a>
        </div>
        <div class="list-content clearfix">
            <ul class="clearfix">
            #{paginate.list items:goodsPage, as:'aGoods'}
                <li>
                    <a href="/goods/${aGoods.id}" target="_blank"><img src="${aGoods.imageMiddlePath}" width="170" height="130" alt="" /></a>
                    <p><a href="">${aGoods.name}</a></p>
                    <span>原价:<del>${aGoods.faceValue}</del> | 8.5折</span>
                    <span>现价:<strong>&yen;${aGoods.salePrice}</strong></span>
                </li>
            #{/paginate.list}
            </ul>
        </div>
            <!--
        <div class="pagination-box">
            <div class="pagination clear-fix">
                <a class="page-prev" href="">上一页</a>
                <a class="page-curr" href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">5</a>
                <a href="">6</a>
                <span class="ellipsis">...</span>
                <a class="page-next" href="">下一页</a>
                <form class="page-form">
                    <span>共37页</span>
                    <span>到第<input type="text" class="page-num" name="page-num" value="2" />页</span>
                    <button>确定</button>
                <form>
            </div>
        </div>
            -->
        #{paginate.controls items:goodsPage /}
    </div>
</div>


<!-- 
<div id="right_content">
<div class="right_content_one">
    <div class="query_items"><span
            class="query_item_title">分　　类：</span>
    #{if categoryId == 0}<span class="selected_box">全部</span>
    #{/if}
    #{else}<a
            href="/goods/list/0-${cityId}-${districtId}-${areaId}-${brandId}-${priceFrom}-${priceTo}-${orderBy}-${orderByType}"
            class="font_blue">全部</a>
    #{/else}
    #{list categories, as:'category'}
        #{if categoryId == category.id}
            <span class="selected_box">${category.name}</span>
        #{/if}
        #{else}<a
                href="/goods/list/${category.id}-${cityId}-${districtId}-${areaId}-${brandId}-${priceFrom}-${priceTo}-${orderBy}-${orderByType}"
                class="font_blue">${category.name}</a>
        #{/else}
    #{/list}
    </div>
    <div class="query_items"><span
            class="query_item_title">搜索地区：</span>
    #{if "0".equals(districtId)}<span class="selected_box">全部</span>
    #{/if}
    #{else}<a id="district"
              href="/goods/list/${categoryId}-${cityId}-0-${areaId}-${brandId}-${priceFrom}-${priceTo}-${orderBy}-${orderByType}"
              class="font_blue">全部</a>
    #{/else}
    #{list districts, as:'district'}
        #{if district != null}
            #{if district.id.equals(districtId)}
                <span id="district" class="selected_box">${district.name}</span>
            #{/if}
            #{else}<a
                    href="/goods/list/${categoryId}-${cityId}-${district.id}-${areaId}-${brandId}-${priceFrom}-${priceTo}-${orderBy}-${orderByType}"
                    class="font_blue">${district.name}</a>
            #{/else}
        #{/if}
    #{/list}
    </div>
    <div class="query_items"><span
            class="query_item_title">推荐商圈：</span>
    #{if "0".equals(areaId)}<span class="selected_box">全部</span>
    #{/if}
    #{else}<a
            href="/goods/list/${categoryId}-${cityId}-${districtId}-0-${brandId}-${priceFrom}-${priceTo}-${orderBy}-${orderByType}"
            class="font_blue">全部</a>
    #{/else}
    #{list areas, as:'area'}
        #{if area != null}
            #{if areaId.equals(area.id)}
                <span id="area" class="selected_box">${area.name}</span>
            #{/if}
            #{else}<a
                    href="/goods/list/${categoryId}-${cityId}-${districtId}-${area.id}-${brandId}-${priceFrom}-${priceTo}-${orderBy}-${orderByType}"
                    class="font_blue">${area.name}</a>
            #{/else}
        #{/if}
    #{/list}
    </div>
    <div class="query_items xiuzheng"><span
            class="query_item_title">推荐品牌：</span>
    #{if brandId == 0}<span class="selected_box">全部</span>
    #{/if}
    #{else}<a
            href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-0-${priceFrom}-${priceTo}-${orderBy}-${orderByType}"
            class="font_blue">全部</a>
    #{/else}
    #{list brands, as:'brand'}
        #{if brandId == brand.id}
            <span id="area" class="selected_box">${brand.name}</span>
        #{/if}
        #{else}<a
                href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brand.id}-${priceFrom}-${priceTo}-${orderBy}-${orderByType}"
                class="font_blue">${brand.name}</a>
        #{/else}
    #{/list}
    </div>
</div>
<div class="right_content_two">
    <div>价格：</div>
#{if priceFrom == 0 && priceTo == 0}
    <div class="selected_box">全部
    </div>#{/if}
#{else}<a class="query_price"
          href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-0-0-${orderBy}-${orderByType}">全部</a>#{/else}
#{if priceFrom == 0 && priceTo == 30}
    <div class="selected_box">0-30元
    </div>#{/if}
#{else}<a class="query_price"
          href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-0-30-${orderBy}-${orderByType}">0-30元</a>#{/else}
#{if priceFrom == 30 && priceTo == 60}
    <div class="selected_box">30-60元
    </div>#{/if}
#{else}<a class="query_price"
          href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-30-60-${orderBy}-${orderByType}">30-60元</a>#{/else}
#{if priceFrom == 60 && priceTo == 90}
    <div class="selected_box">60-90元
    </div>#{/if}
#{else}<a class="query_price"
          href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-60-90-${orderBy}-${orderByType}">60-90元</a>#{/else}
#{if priceFrom == 90 && priceTo == 120}
    <div class="selected_box">90-120元
    </div>#{/if}
#{else}<a class="query_price"
          href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-90-120-${orderBy}-${orderByType}">90-120元</a>#{/else}
#{if priceFrom == 120 && priceTo == 160}
    <div class="selected_box">120-160元
    </div>#{/if}
#{else}<a class="query_price"
          href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-120-160-${orderBy}-${orderByType}">120-160元</a>#{/else}
#{if priceFrom == 160 && priceTo == 0}
    <div class="selected_box">160元以上
    </div>#{/if}
#{else}<a class="query_price"
          href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-160-0-${orderBy}-${orderByType}">160元以上</a>#{/else}

    <div class="range_input"><input class="price_input" id="input_price_from"
                                    type="text"
                                    value="#{if priceFrom != 0}${priceFrom}#{/if}"/>至<input
            class="price_input" id="input_price_to" type="text"
            value="#{if priceTo != 0}${priceTo}#{/if}"/></div>
    <div><a id="link_price_confirm" class="sort_box unselected_border"
            href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-0-0-${orderBy}-${orderByType}">确定</a>
    </div>
</div>
<div class="right_content_three">
    <div class="r_c_three_title">排序：</div>
#{if orderBy == 0}
    <span class="sort_box selected_border" value="${orderBy}">默认</span>
#{/if}
#{else}
    <a class="sort_box unselected_border"
       href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-${priceFrom}-${priceTo}-0-1"
       value="${orderBy}">默认</a>
#{/else}
#{if orderBy == 1}
    <a
        #{if orderByType == 1}class="sort_box selected_border box_sort_desc"#{/if}
        #{else}class="sort_box selected_border box_sort_asc"#{/else}
        href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-${priceFrom}-${priceTo}-1">销量</a>
#{/if}
#{else}
    <a class="sort_box unselected_border box_sort_desc"
       href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-${priceFrom}-${priceTo}-1">销量</a>
#{/else}
#{if orderBy == 2}
    <a
        #{if orderByType == 1}class="sort_box selected_border box_sort_desc"#{/if}
        #{else}class="sort_box selected_border box_sort_asc"#{/else}
        href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-${priceFrom}-${priceTo}-2">价格</a>
#{/if}
#{else}
    <a class="sort_box unselected_border box_sort_desc"
       href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-${priceFrom}-${priceTo}-2">价格</a>
#{/else}
#{if orderBy == 3}
    <a
        #{if orderByType == 1}class="sort_box selected_border box_sort_desc"#{/if}
        #{else}class="sort_box selected_border box_sort_asc"#{/else}
        href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-${priceFrom}-${priceTo}-3">折扣</a>
#{/if}
#{else}
    <a class="sort_box unselected_border box_sort_desc"
       href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-${priceFrom}-${priceTo}-3">折扣</a>
#{/else}
#{if orderBy == 4}
    <a
        #{if orderByType == 1}class="sort_box selected_border box_sort_desc"#{/if}
        #{else}class="sort_box selected_border box_sort_asc"#{/else}
        href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-${priceFrom}-${priceTo}-4">最新</a>
#{/if}
#{else}
    <a class="sort_box unselected_border box_sort_desc"
       href="/goods/list/${categoryId}-${cityId}-${districtId}-${areaId}-${brandId}-${priceFrom}-${priceTo}-4">最新</a>
#{/else}
</div>
<div class="right_content_four">
    <ul class="shop_more_box">
    #{set i:-1/}
    #{paginate.list items:goodsPage, as:'aGoods'}
        #{if (++i%4) == 0 }
        <div class="shangpin_more">
        #{/if}
        <li #{if (i%4 == 3)}class="no_margin_right"#{/if}>

                <div><a href="/goods/${aGoods.id}" target="_blank"><img
                        src="${aGoods.imageMiddlePath}"/></a></div>
                <div class="margin_text"><span
                        class="strong_gray font_14px">${aGoods.name}</span>
                </div>
                <div class="margin_text"><span
                        class="pri_jiage font_14px">${aGoods.salePrice?.formatCurrency('CNY')}</span>
                </div>
                <div class="text_decorat margin_text">
                    市场价格：${aGoods.faceValue?.formatCurrency('CNY')}</div>
                <div class="margin_text margin_bottom"><a
                        class="buy_now" name="link_buy_now" id="link_buy_now_${aGoods.id}"
                        href="/orders?items=${aGoods.id}-1">立即购买</a></div>
        </li>
        #{if (i%4 == 3)}
        </div>
        #{/if}
    #{/paginate.list}
    </ul>
    <ul class="shop_more_box">
    #{paginate.controls items:goodsPage /}
    </ul>
*{<div class="more_buttom_more"><a class=" more_buttom_mid"}*
*{href="#"><img}*
*{src="@@{'/public/images/more_buttom.jpg'}"/></a></div>}*
</div>
</div>

<div style="clear:both"></div>
</div>
</div>
</div>
-->
