#{extends 'main.html' /}
#{set title:'优惠啦 - 商品详情' /}
#{set 'moreStyles'}
<link href="@@{'/public/stylesheets/goods-show.css'}" rel="stylesheet"
      type="text/css"/>
#{/set}
#{set 'moreScripts'}
<script src="@@{'/public/javascripts/goods-show.js'}"></script>
#{/set}

<div id="wrap_main">
    <div id="wrap_top">
    #{include "share/topNavigator.html"/}
    </div>
    <div id="wrap_top_header">
        <div id="wrap_top_header_left"><img
                src="@@{'/public/images/logo.jpg'}"/></div>
        <div id="wrap_top_middle">卷生活-惠生活</div>
    </div>
    <div style="clear:both"></div>
    <div class="fen_g"></div>
</div>
<!--主体内容部分-->
<div id="wrap_content">
    <div style="clear:both"></div>
    <div id="main_content">
    #{breadcrumbs/breadcrumb breadcrumbs/}
        <!--左侧导航部分-->
        <div id="left_nav">
            <div class="left_top_one">
                <dl class="left_one_dl">
                    <dt>
                    <div class="title_nav font_block">承诺/保障</div>
                    <div></div>
                    </dt>
                    <dd><img src="@@{'/public/images/adv/xiaofei.jpg'}"
                             border="0" usemap="#Map'}"/>
                        <map name="Map" id="Map">
                            <area shape="rect" coords="9,8,202,64" href="#'}"/>
                            <area shape="rect" coords="10,72,204,124"
                                  href="#'}"/>
                            <area shape="rect" coords="11,130,206,183"
                                  href="#'}"/>
                        </map>
                    </dd>
                </dl>
            </div>
            <div class="left_top_two">
                <dl class="left_one_dl">
                    <dt>
                    <div class="title_nav font_block">搜过该产品的用户还看过</div>
                    <div></div>
                    </dt>
                    <dd class="shop_dd">
                        <div class="img_cp"><a href="#"><img
                                src="@@{'/public/images/chanpin/1.jpg'}"/></a>
                        </div>
                        <div>
                            <a href="#"><span class="strong_gray">来伊价</span>
                                <span class="pri_jiage">14.8</span></a>
                        </div>
                        <div class="text_decorat">市场价格：Y:20.00</div>
                    </dd>
                    <dd class="shop_dd">
                        <div class="img_cp"><a href="#"><img
                                src="@@{'/public/images/chanpin/1.jpg'}"/></a>
                        </div>
                        <div>
                            <a href="#"><span class="strong_gray">来伊价</span>
                                <span class="pri_jiage">14.8</span></a>
                        </div>
                        <div class="text_decorat">市场价格：Y:20.00</div>
                    </dd>

                    <dd class="shop_dd">
                        <div class="img_cp"><a href="#"><img
                                src="@@{'/public/images/chanpin/1.jpg'}"/></a>
                        </div>
                        <div>
                            <a href="#"><span class="strong_gray">来伊价</span>
                                <span class="pri_jiage">14.8</span></a>
                        </div>
                        <div class="text_decorat">市场价格：Y:20.00</div>
                    </dd>
                    <dd class="shop_dd">
                        <div class="img_cp"><a href="#"><img
                                src="@@{'/public/images/chanpin/1.jpg'}"/></a>
                        </div>
                        <div>
                            <a href="#"><span class="strong_gray">来伊价</span>
                                <span class="pri_jiage">14.8</span></a>
                        </div>
                        <div class="text_decorat">市场价格：Y:20.00</div>
                    </dd>

                </dl>
            </div>
        </div>
        <!--右侧主体内容部分-->
        <div id="right_content">
        #{form @Orders.buy() , id:'buy_now_form'}
            <div class="right_content_show">
                <div><h1 class="show_h1 font_block">${goods.name}</h1></div>
                <input type="hidden" id="goodsId" name="goodsId"
                       value="${goods.id}">

                <div class="shangpin_box">
                    <div class="left_shangpin"><img
                            src="${goods.imageLargePath}" width="280"
                            height="168"/></div>
                    <div class="right_shangpin">
                        <div class="right_shangpin_one">
                            原价：${goods.originalPrice}元
                        </div>
                        <div class="right_shangpin_two">
                            折扣：${goods.discountExpress.yesno(goods.discountExpress+'折','无优惠')}</div>
                        <div class="right_shangpin_three">现价：<span
                                class="font_red font_size18">${goods.salePrice}</span>元
                        </div>
                        <div class="right_shangpin_two">有效期：<span
                                class="right_shangpin_two">${goods.effectiveAt} 至 ${goods.expireAt}</span>
                        </div>
                        <div class="right_shangpin_two">库存：<span
                                class="right_shangpin_two">${goods.baseSale}</span>&nbsp;件
                        </div>
                        <div class="right_shangpin_four">购买数量:&nbsp;<input
                                class="num_input_bg" id="number"
                                name="number" type="text"
                                value="1"/>&nbsp;件 <span
                                class="error">#{error 'number' /}</span>
                        </div>
                        <div class="right_shangpin_five"><a class="ligm_bg"
                                                            href="#"
                                                            id="link_buy_now">立即购买</a>
                            <a class="wai_juli" id="link_add_cart"
                               href="#">加入购物车</a><a
                                    href="#" class="shoucang_font">收藏</a></div>
                        <div></div>
                    </div>
                </div>
                <div style="clear:both"></div>
                <div id="add_cart_result" class="buttom_dibu"
                     style="display: none;">已成功添加到购物车！
                    <a id="link_buy_more" href="#"><span
                            class="zi_gray">继续购物</span></a>
                    <a href="/carts"><span class="zi_gray">查看购物车</span></a>
                </div>
            </div>
        #{/form}
            <div class="right_content_two">
                <dl class="right_one_dl">
                    <dt>
                    <div class="title_nav">温馨提示</div>
                    <div></div>
                    </dt>
                    <dd>
                        <ul class="tishi_ul">
                            <li class="tishi_li" id="prompt">${goods.prompt.raw()}</li>
                        </ul>
                    </dd>
                </dl>
            </div>
            <div class="right_content_two">
                <dl class="right_one_dl">
                    <dt>
                    <div class="title_nav">商品详情</div>
                    <div></div>
                    </dt>
                    <dd>
                        <ul class="tishi_ul">
                            <li class="tishi_li" id="details">${goods.details.raw()}</li>
                        </ul>
                    </dd>
                </dl>
            </div>
            <div class="right_content_four">
                <dl class="right_one_dl">
                    <dt>
                    <div class="title_nav">使用门店</div>
                    <div></div>
                    </dt>
                    <dd class="table_dd">
                        <table width="700" border="0" cellpadding="0"
                               cellspacing="0">
                        #{if goods.shops.size() >0}
                            #{list goods.shops, as:'shop'}
                                <tr>
                                    <td width="120" height="30"
                                        class="table_td">${shop.name}</td>
                                    <td class="table_td">${shop.address}</td>
                                    <td class="table_td">${shop.phone}</td>
                                </tr>
                            #{/list}
                        #{/if}
                        </table>
                    </dd>
                </dl>

            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>
<script type="text/javascript">
    $("#prompt").html($("#prompt").text()).text();
    $("#details").html($("#details").text()).text();
</script>
