#{extends 'main.html' /}
#{set title: '【' + (goods.brand == null ? '一百券' : goods.brand?.name) + '】' + goods.name
      + '-一百券-网上消费券首选门户' + (goods.keywords == null ? '' : ("【" + goods.keywords + "】") ) /}
#{set 'metaContent'}
<meta name="Description" content="一百券-${goods.brand?.name} ${goods.name},消费券,代金券,优惠券,美食券,电子券,提货券">
<meta name="Keywords" content="上海优惠券,一百券,${goods.brand?.name},${goods.name},${goods.keywords},消费券,代金券,优惠券,美食券,电子券,优惠上海,提货券">
#{/set}
#{set 'moreStyles'}
    #{asset.css src:['/u/detail.css']/}
#{/set}
#{set 'moreScripts'}
<script>
    $(function () {
        /**
         *点击加入购物车按钮
         */
        $("#link_add_cart").click(function () {

            $.post(
                    "/carts",
                    {'goodsId':$("#goodsId").val(), 'increment':$("#number").val()},
                    function (data) {
                        $('#add_cart_result').show();
                        $('#add_cart_result').show();
                        //5秒后自动消失
                        setTimeout("$('#add_cart_result').css('display','none')", 5000);
                        //显示最新的购物车信息
                        $("#result-count").text(data.count);
                        $("#result-amount").text(data.amount);

                        //修改顶部购物车商品数量
                        $("#cart-count").html(data.count);
                        $("#reload").val("true");
                        $("#order_confirm").hide();
                    }
            );
        });

        $("#link_buy_more").click(function () {
            $('#add_cart_result').hide();
        });

        $("#link_buy_now").click(function () {
            var limitNumber ='${goods.limitNumber}';
            var number = Number($("#number").val());
            if (limitNumber !='' && number >limitNumber) {
               $(".error").html("<strong>只能购买"+limitNumber+"个<strong>").css('color','#F55');
                return false;
            }

            var t = $(this);
            t.attr("href", t.attr("href") + '-' + $("#number").val());
            return true;
        });

        $("#J_closeTips").click(function (ev) {
            ev.preventDefault();
            $('#add_cart_result').hide();
        });


        // 详情页tab
        $('#J_tabbar li').click(function () {
            var that = $(this),
            attr = that.attr('name');

            $('#J_tabbar li').removeClass('current');
            that.addClass('current');

            if (attr == 'product-info') {
                $('#J_tabtxt .txt-item').show();
                $('#J_tabtxt .txt-item-hd').show();
            } else {
                $('#J_tabtxt .txt-item').hide();
                $('#J_tabtxt .' + attr + ' .txt-item-hd').hide();
                $('#J_tabtxt .' + attr).show();
            }
        });

        //直接在文本框里输入购买数量
        $("#number").blur(function () {
            try {
                var number = Number($(this).val())
                var stock = Number($("#stock").val())
                if (number <= 0) {
                    $(this).val(1);
                }
                if (number > 999) {
                    $(this).val(999);
                }
                ;
                if (number > stock) {
                    $(this).val(stock)
                    $("#stock_hit").css("display", "inline")
                }
                ;
            } catch (e) {
                $(this).val(1);
            }
        });
    });
</script>
#{/set}

<div class="wrap clearfix">
    <h3 class="title">${goods.name}</h3>
    <div class="section">
        <div class="photo">
            <img src="${goods.imageLargePath}" width="340" height="260"/>
        </div>
        <input type="hidden" id="goodsId" name="goodsId" value="${goods.id}">
        <ul class="property">
        #{if params['isSupplier']== null || !params['isSupplier']}
            <li class="price">现　　价:<span>${goods.salePrice?.formatCurrency('CNY')}</span></li>
        #{/if}
        #{if models.sales.GoodsStatus.ONSALE.equals(goods.status)}
            <li class="cost">原　　价:
                <del>${goods.faceValue?.formatCurrency('CNY')}</del>
            </li>
            #{if params['isSupplier']== null || !params['isSupplier']}
                <li class="discount">折　　扣:<span>${goods.discountExpress}</span></li>
            #{/if}
        #{/if}
            <li class="type">商品类型:<span>&{'goods.'+goods.materialType}</span></li>
            <li class="shipmod">配送方式:<span>#{if models.sales.MaterialType.ELECTRONIC.equals(goods.materialType)}
                手机短信#{/if}#{else}快递#{/else}</span></li>
            <li class="deadline">券有效期:<span>${goods.effectiveAt?.format()} 至 ${goods.expireAt?.format()}</span></li>
            <li class="amount">购买数量:
                <span><input class="num_input_bg" id="number" name="number" type="text" value="1"/> 件</span>
                <span id="stock_hit" style="display:none;color:#f50">库存${goods.baseSale}件</span>
                #{if goods.limitNumber >0}
                <span id="limitNumber" style="color:#f50">限购${goods.limitNumber}件</span>
                #{/if}
                <span class="error">#{error 'number' /}</span>
                <input type="hidden" id="stock" value="${goods.baseSale}">
            </li>
        #{if goods.onSale()}
            <li class="action clearfix">
                #{if !bought}<a class="buy" href="/orders?items=${goods.getId()}" id="link_buy_now">立即购买</a>
                <a class="add" id="link_add_cart" href="#">加入购物车#{/if}</a>
                #{else}<strong style="color: red">您已经购买过此商品！</strong>#{/else}

                <div id="add_cart_result" class="add-tips" style="display: none;">
                    <h4>已成功添加到购物车！</h4>

                    <p>购物车共有<em id="result-count"></em>件，总计<strong id="result-amount"></strong>元。</p>
                    <a class="see-carts" href="/carts">查看购物车</a>
                    <a class="close-tips" id="J_closeTips" href="#">关闭</a>
                </div>
            </li>
        #{/if}
        #{elseif params['isSupplier']== null || !params['isSupplier']}
            <li class="buttom_dibu"><span class="zi_gray">已下架</span></li>
        #{/elseif}
        </ul>
        <div class="online">
            <span>在线客服:</span>
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2281971081&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2281971081:42" alt="点这里咨询客服" title="点这里咨询客服"></a>
            <a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=%E5%88%B8%E7%94%9F%E6%B4%BB8&siteid=cntaobao&status=1&charset=utf-8"><img border="0" height="22" src="http://amos.alicdn.com/online.aw?v=2&uid=%E5%88%B8%E7%94%9F%E6%B4%BB8&site=cntaobao&s=1&charset=utf-8" alt="点这里咨询客服" /></a>
        </div>
    </div><!-- .section -->
    <div class="aside">
        <div class="service">
            <div class="service-hd">承诺</div>
            <ul class="service-bd">
                <li class="item-1"><a href="/service" target="_blank"><span>未消费无条件退款</span></a></li>
                <li class="item-2"><a href="/service" target="_blank"><span>过期未消费，一键立即退款</span></a></li>
                <li class="item-3"><a href="/service" target="_blank"><span>消费不满意，24小时及时处理</span></a></li>
            </ul>
        </div>
        <div class="brand">
            <h4 class="brand-name">
                品牌名称: <a href="/s/0-0-0-0-${goods.brand?.id}"><span>${goods.brand?.name}</span></a>
            </h4>
            <p class="brand-logo">
                <a href="/s/0-0-0-0-${goods.brand?.id}">
                    <img src="${goods.brand?.showLogo}" width="210" alt="${goods.brand?.name}"/>
                </a>
            </p>
            <div class="brand-text">${goods.brand?.introduce?.raw()}</div>
        </div>
    </div>
</div>

#{if goods.prompt != null}
<div class="wrap warm-tips">
    <h4>温馨提示</h4>
    <div class="warm-content">
    ${goods?.prompt?.raw()}
    </div>
</div>
#{/if}

<div class="wrap clearfix">
    <ul id="J_tabbar" class="tabbar clearfix">
        <li name="product-info" class="current">商品信息</li>
    #{if models.sales.MaterialType.REAL!=goods.materialType}
        <li name="applicable-store">适用门店</li>
    #{/if}
    </ul>
    <div id="J_tabtxt" class="tabtxt">
        <div class="product-info txt-item txt-item-bd clearfix">
        ${goods?.details?.raw()}
        </div>

    #{if models.sales.MaterialType.REAL!=goods.materialType}
        <div class="applicable-store txt-item clearfix">
            <h4 class="txt-item-hd">适用门店</h4>
            <table class="txt-item-bd" width="700" border="0" cellpadding="0"
                   cellspacing="0">
            #{if goods?.getShopList()?.size() >0}
                #{list goods?.getShopList(), as:'shop'}
                    <tr>
                        <td width="120" height="30"
                            class="table_td">${shop.name}</td>
                        <td class="table_td">${shop.address}</td>
                        <td class="table_td">${shop.phone}</td>
                    </tr>
                #{/list}
            #{/if}
            </table>
        </div>
    #{/if}

    </div>
</div>
