#{extends 'layout_operate/layout.html' /}
#{set title:'分销商品管理' /}
#{include '/share/nav.html' /}
#{set 'moreStyles'}
#{/set}
<div class="body">
<legend>分销商品管理 </legend>
<form class="form-inline" name="frmlist" id="frmlist" action="@{ResalerProducts.index()}" method="GET">
    商户：#{vx.selectInputField name:"supplierName", id:"condition.supplierId", list:supplierList,
    value:condition?.supplierId, array:"supplierArray",importJs:true/}
    商品名称：<input type="text" name="condition.shortName" class="input-medium" value="${condition?.shortName}"/>
    商品编码：<input type="text" name="condition.code" class="input-medium" value="${condition?.code}"/>
    <button class="btn btn-primary" id="searchbtn" type="submit"> 搜索 </button>

    <button class="btn" data-html="true" data-toggle="popover" data-placement="bottom" type="button"
       data-content="<form action='@{ResalerProducts.add}' method='post'> <fieldset>
               <select name='product.partner'>
                 #{list items:models.order.OuterOrderPartner.values(), as:'partner'}
                 <option value = '${partner}'> ${partner.partnerName()}</option>
                 #{/list}
               </select>
               <input type='text' placeholder='一百券商品ID' name='product.goods.id'>
               <input type='text' placeholder='第三方产品ID' name='product.partnerProductId'>
               <input type='text' placeholder='第三方产品URL' name='product.url'>
               <button type='submit' class='btn'>添加</button> </fieldset> </form>"
            >手动添加</button>
</form>



<table class="table table-bordered ">
<thead>
<tr>
    <th>商品编码</th>
    <th>名称</th>
    <th style="text-align:right">一百券价</th>
    <th>58</th>
    <th>淘宝</th>
    <th>京东</th>
    <th>当当</th>
    <th>一号店</th>
</tr>
</thead>

<tbody>

#{paginate.list items:goodsPage, as:'goods'}
<tr>
    <td>${goods.code}</td>
    <td><a href="/goods/${goods.id}" target="_blank">${goods.shortName}</a> </td>
    <td style="text-align:right">${goods.salePrice.formatCurrency("CNY")}</td>
    %{
        partners = ['WB','TB','JD','DD','YHD']
    }%
    #{list items:partners, as:'partner'}
        %{
            pd = partnerProducts.get(goods.id+ partner);
            partner = partner.toLowerCase();
        }%
        <td>
            <div class="btn-group">
            #{if !pd}
            <a href="/resaler-products/${partner}/upload/${goods.id}" class="btn btn-mini" rel="tooltip" title="上传"><i class="icon-share-alt"></i></a>
            #{/if}
            #{if pd?.size() == 1}
                <a href="/resaler-products/${partner}/upload/${goods.id}" class="btn btn-mini" rel="tooltip" title="再次上传"><i class="icon-share-alt"></i></a>
                #{if partner == 'jd' || partner == 'wb'}
                    <a href="/resaler-products/${partner}/edit/${pd.get(0).id}" class="btn btn-mini" rel="tooltip" title="编辑"><i class="icon-pencil"></i></a>
                #{/if}
                <a href="/resaler-products/products/${partner}/${goods.id}" class="btn btn-mini" rel="tooltip" title="详情"><i class="icon-th-list"></i></a>
            #{/if}
            #{if pd?.size() > 1}
                <a href="/resaler-products/${partner}/upload/${goods.id}" class="btn btn-mini" rel="tooltip" title="再次上传"><i class="icon-share-alt"></i></a>
                <a href="/resaler-products/products/${partner}/${goods.id}" class="btn btn-mini" rel="tooltip" title="历史详情"><i class="icon-th-list"></i></a>
            #{/if}
            </div>
        </td>
    #{/list}
</tr>
#{/paginate.list}
</tbody>
</table>
<div class="pagination" align="center">
    <ul>
    #{paginate.controls items:goodsPage /}
    </ul>
</div>
</div>

#{set 'moreScripts'}
<script>
    $("a[rel='tooltip']").tooltip({container:'body'});
    $("button[data-toggle='popover']").popover({container:'body'});
</script>
#{/set}
