#{extends 'layout_operate/layout.html' /}
#{include 'share/nav.html' /}
#{set title:'订单详请' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
    function prepareSend(id) {
        $("#sendForm").attr("action", "/orders/" + id + "/send?x-http-method-override=PUT");
        $('#sendModal').modal('show');
    }
    function updateExpress(id, expressCompanyId, expressNumber) {
        console.log("inii")
        $("#update_express_form").attr("action", "/orders/" + id + "/express?x-http-method-override=PUT");
        $('#editExpressModal').modal('show');
        $("#shippingInfo_expressCompany_id").val(expressCompanyId);
        $("#shippingInfo_expressNumber").val(expressNumber);
    }

    function prepareReturn(id, goodsName, count, salePrice, refundFlag) {
        $("#entry_orderItems_id").val(id);
        $("#goodsName").html(goodsName);
        $("#maxReturnedCount").val(count);
        $("#entry_returnedCount").val(count);
        $("#refundPrice").text(salePrice * count + "元");
        $("#refundAmount").val(salePrice);
        $("#note_entry_returnedCount").removeClass("error");
        $("#note_entry_returnedCount").html("");
        $("#note_entry_reason").removeClass("error");
        $("#note_entry_reason").html("");
        $('#returnGoodsModal').modal('show');
        if (refundFlag == '1') {
            $("#refundFlag").show();
        }
    }

    function sendOrderItemMessage(id) {
        $.ajax({
            url: "/order-items-message/" + id + "/send",
            type: 'GET',
            error: function () {
                alert('发送失败!');
            },
            success: function (data) {
                if (data == '0') {
                    alert("发送成功！");
                } else {
                    alert("发送失败!");
                }
            }
        });
    }

    $(function () {
        var handleReturnEntry = function () {
            var params = {"entry.orderItems.id": $("#entry_orderItems_id").val(), "entry.returnedCount": $("#entry_returnedCount").val(),
                "entry.reason": $("#entry_reason").val()};
            if ($("#refundType_1").attr("checked")) {
                params = {"entry.orderItems.id": $("#entry_orderItems_id").val(), "entry.returnedCount": 0,
                    "entry.partialRefundPrice": $("#entry_partialRefundPrice").val(), "entry.reason": $("#entry_reason").val()};
            }
            $.post("/real/return", params,
                    function (data) {
                        if (!isNaN(data)) {
                            window.location = "/orders/" + data;
                        } else {
                            $("#error").html(data);
                            $("#div_alert").show();
                            $('#returnGoodsModal').modal('hide');
                        }
                    }, "json");
        };
        #{if !play.Play.runingInTestMode()}
            $("#send").click(function () {
                var result = true;
                if ($("#order_deliveryNo").val().trim() == "") {
                    $("#note_order_deliveryNo").addClass("error");
                    $("#note_order_deliveryNo").html("请输入单号!");
                    $("#order_deliveryNo").focus();
                    result = false;
                }
                else {
                    $("#note_order_deliveryCompany").removeClass("error");
                    $("#note_order_deliveryCompany").html("");
                }
                if ($("#order_deliveryCompany").val().trim() == "") {
                    $("#note_order_deliveryCompany").addClass("error");
                    $("#note_order_deliveryCompany").html("请输入公司!");
                    $("#order_deliveryCompany").val("");
                    $("#order_deliveryCompany").focus();
                    result = false;
                } else {
                    $("#note_order_deliveryCompany").removeClass("error");
                    $("#note_order_deliveryCompany").html("");
                }
                if (result) {
                    $("#sendForm").submit();
                }
            });

            var returnCountEle = $("#entry_returnedCount");
            var refundAmountEle = $("#refundAmount");
            returnCountEle.keyup(function () {
                var refundAmountValue = refundAmountEle.val();
                var count = returnCountEle.val().trim();
                if (count == '' || count <= 0) {
                    count = 1;
                    returnCountEle.val("1");
                }
                $("#refundPrice").text(count * refundAmountValue);
            });

            $("#refundType_0").click(function () {
                var maxReturnedCount = $("#maxReturnedCount").val();
                $("#refundByPartial").hide();
                $("#refundByNumber").show();
                $(this).attr("checked", true);
                $("#refundType_1").attr("checked", false);
                $("#entry_reason").val("");
                $("#entry_partialRefundPrice").val("");
                $("#entry_returnedCount").val(maxReturnedCount);
                $("#refundPrice").text(maxReturnedCount * refundAmountEle.val());
            })
            $("#refundType_1").click(function () {
                var maxReturnedCount = $("#maxReturnedCount").val();
                $("#maxRefundPrice").text(maxReturnedCount * refundAmountEle.val());
                $("#refundByPartial").show();
                $("#refundByNumber").hide();
                $(this).attr("checked", true);
                $("#refundType_0").attr("checked", false);
                $("#entry_reason").val("");
                $("#entry_returnedCount").val(1);

                $("#refundPrice").text(refundAmountEle.val());
            })


            $("#return").click(function () {
                var result = true;
                var returnedCount = $("#entry_returnedCount").val().trim();

                if (returnedCount == "") {
                    $("#note_entry_returnedCount").html("请输入退货数量!").addClass("error");
                    $("#entry_returnedCount").focus();
                    result = false;
                }
                else {
                    $("#note_entry_returnedCount").html("");
                }
                var maxReturnedCount = $("#maxReturnedCount").val();
                if (Number(returnedCount) > Number(maxReturnedCount) || returnedCount < 1) {
                    $("#note_entry_returnedCount").html("退货数量必须在1到" + maxReturnedCount + "之间!").addClass("error");
                    $("#entry_returnedCount").focus();
                    result = false;
                }
                else {
                    $("#note_entry_returnedCount").html("");
                }
                if ($("#refundType_1").attr("checked")) {
                    if ($("#entry_partialRefundPrice").val() == '') {
                        $("#entry_partialRefundPrice_err").html("请输入部分退货金额!").addClass("error");
                        result = false;
                    }
                    var returnedMaxAmount = maxReturnedCount * $("#refundAmount").val();
                    if ($("#entry_partialRefundPrice").val() > returnedMaxAmount) {
                        $("#entry_partialRefundPrice_err").html("输入的部分退货金额不能超过" + returnedMaxAmount + "元！").addClass("error");
                        result = false;
                    }
                }
                if ($("#entry_reason").val().trim() == "") {
                    $("#note_entry_reason").html("请输入退货原因!").addClass("error");
                    $("#note_entry_reason").focus();
                    result = false;
                } else {
                    $("#note_entry_reason").html("");
                }
                if (result) {
                    handleReturnEntry();
                }
            });
        #{/if}
        #{else}
            $("#send").click(function () {
                $("#sendForm").submit();
            });
            $("#return").click(function () {
                handleReturnEntry();
//                $("#returnForm").submit();
            });
        #{/else}
    });

    $("#sure").click(function () {
        console.log("sure")
        $("#update_express_form").submit();
    });

</script>
#{/set}
#{set 'moreStyles'}
<style type="text/css">
    .form-horizontal .control-group {
        width: 400px;
    }
</style>
#{/set}
<div class="body">

<legend>${title}</legend>
*{错误显示层}*
<div class="alert" id="div_alert" style="display: none">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>操作失败!</strong> 退货操作失败！原因:<span id=error></span>
</div>
<ul class="nav">
    <li class="active"><a href="#"> 基本信息</a></li>
    <table class="table table-bordered">
        <tr>
            <td>订 单 号：<a
                    href="/coupons?condition.searchKey=ORDER_NUMBER&condition.searchItems=${orders.orderNumber}">${orders.orderNumber}</a>
            </td>
            <td>成交时间：${orders.createdAt == null ?'':orders.createdAt.format("yyyy-MM-dd HH:mm:ss")}</td>
            <td>付款时间：${orders?.paidAt == null ?'':orders?.paidAt?.format("yyyy-MM-dd HH:mm:ss")}</td>
        </tr>
        <tr>
            <td>支付方式： &{'order.payMethod.'+orders.payMethod}</td>
            <td>订单状态： &{'order.'+orders.status}</td>
            <td>物流方式： &{'order.'+orders.deliveryType}</td>
        </tr>
        <tr>
            <td>付款账号详情：
            #{if orders.isWebsiteOrder()}
                <a href="http://cms.${play.Play.configuration.getProperty("application.baseDomain")}/consumers/${orders.userId}"
                   target="_blank">&{'account.type.'+orders.getBuyerAccount().accountType}:${loginName}</a>
            #{/if}
            #{if !orders.isWebsiteOrder()}
                <a href="/resalers/${orders.userId}/view?flag=1" target="_blank">&{'account.type.'+
                    orders.getBuyerAccount().accountType}:${loginName}</a>
            #{/if}
            </td>
            <td>
            #{if orders.electronicGoods?.size() > 0}
                查看
                <a href="/coupons?condition.searchKey=ORDER_NUMBER&condition.searchItems=${orders.orderNumber}">电子券清单</a>
            #{/if}
            </td>
        %{ outerOrder = models.order.OuterOrder.getOuterOrder(orders) }%
            <td>
            #{if outerOrder != null}
                外部订单号：${outerOrder.orderId}
            #{/if}</td>

        </tr>
    </table>
</ul>
<ul class="nav">
    <li class="active"><a href="#"> 商品信息</a></li>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>商品编码</th>
            <th>商品名称</th>
            <th>类型</th>
            <th>单价</th>
            <th>数量</th>
            <th>手机</th>
            <th>有效期</th>
            <th>折扣券</th>
            <th>需要支付金额</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        #{list items:orderItems, as:'orderItem' }
        <tr>
            <td>${orderItem?.goods?.code}</td>
            <td>
                <a href="http://www.yibaiquan.com/p/${orderItem.goods.id}">${orderItem.goods.shortName}</a>
                &nbsp;<i class="icon-user"></i>${orderItem?.goods?.getSupplierSalesUserName()}
            </td>
            <td>&{'goods.'+orderItem.goods.materialType}</td>
            <td>${orderItem.salePrice?.formatCurrency('CNY')}</td>
            <td>
            ${orderItem.buyNumber}<br/>
                #{if orderItem?.unusedECouponNumber > 0}
                    <a href="javascript:sendOrderItemMessage(${orderItem?.id});">
                        重发未使用券(${orderItem?.unusedECouponNumber}张)短信</a>
                #{/if}
            </td>
            <td>
                #{if hasViewEcouponSnPermission}
                ${orderItem?.phone}
                #{/if}
                    #{else}
            ${orderItem?.getMaskedPhone()}
            #{/else}
            </td>
            <td>${orderItem.goods.effectiveAt?.format("yyyy-MM-dd")}
                - ${orderItem.goods.expireAt?.format("yyyy-MM-dd")}
            </td>
            <td style="color:red">
                #{if orderItem.rebateValue != null && orderItem.rebateValue?.compareTo(java.math.BigDecimal.ZERO) > 0}
                    &nbsp;${orderItem.rebateValue?.formatCurrency('CNY')}
                #{/if}
            </td>
            <td>${orderItem.amount?.formatCurrency('CNY')}</td>
        %{returnEntry = orderItem.getReturnEntry()}%
            <td>&{'order.'+orderItem.status} #{if orderItem.returnStatus!=null}<a id="returnEntry_${orderItem.id}"
                                                                                  href="#"
                                                                                  rel="popover"
                                                                                  data-html="true"
                                                                                  data-content="退货数量: ${returnEntry?.returnedCount}件<br/>
                                                 退货原因: ${returnEntry?.reason}<br/>
                                                 制&nbsp;&nbsp;单&nbsp;&nbsp;人: ${returnEntry?.createdBy}<br/>
                                                 创建时间: ${returnEntry?.createdAt?.format("yyyy-MM-dd HH:mm:ss")}<br/>
                                                 #{if returnEntry?.status==models.order.RealGoodsReturnStatus.RETURNED}
                                                 收&nbsp;&nbsp;货&nbsp;&nbsp;人: ${returnEntry?.returnedBy}<br/>
                                                 #{/if}"
                                                                                  data-placement="bottom"
                                                                                  data-original-title="退货单"
                                                                                  data-trigger="hover"
                                                                                  onmouseover="$('#returnEntry_${orderItem.id}').popover('show');"><br>
                (${returnEntry.returnedCount} 件 &{'entry.'+ orderItem.returnStatus}
                #{if returnEntry?.returnedAt}退货时间：${returnEntry?.returnedAt?.format('yyyy-MM-dd HH:mm:ss')}#{/if}
                )</a>#{/if}</td>
            <td>#{if orderItem.goods.materialType == models.sales.MaterialType.REAL && returnEntry == null}
                #{if orderItem.status == models.order.OrderStatus.PAID ||
                (orderItem.status == models.order.OrderStatus.PREPARED &&
                orderItem.shippingInfo !=null && org.apache.commons.lang.StringUtils.isBlank(orderItem.shippingInfo.expressNumber))}
                    <a
                            href="javascript:void(0);"
                            onclick="prepareReturn('${orderItem.id}','${orderItem.goodsName}', '${orderItem.buyNumber}','${orderItem.salePrice}','0')">退款</a>#{/if}
                #{else}
                    <a
                            href="javascript:void(0);"
                            onclick="prepareReturn('${orderItem.id}','${orderItem.goodsName}', '${orderItem.buyNumber}','${orderItem.salePrice}','1')">申请退货</a>
                #{/else}
            #{/if}</td>
        </tr>
        #{/list}
        </tbody>
        <tr>
            <td colspan="11">商品金额： #{if orders.containsRealGoods()&& orders.freight.compareTo(BigDecimal.ZERO)>0}
            ${orders.amount.subtract(models.order.Order.FREIGHT)}#{/if}#{else}${orders.amount}#{/else}&nbsp;元
                &nbsp;+ 运费：
            #{if orders.containsRealGoods() && orders.freight.compareTo(BigDecimal.ZERO)>0}${models.order.Order.FREIGHT}#{/if}#{else}
                0#{/else} 元
                = &nbsp;总金额：
            ${orders.amount} 元 (可提现余额支付:${orders.accountPay}元,
                不可提现余额支付:${orders.promotionBalancePay?:java.math.BigDecimal.ZERO}元,
                网银支付:${orders.discountPay}元,
            #{if orders.rebateValue != null && orders.rebateValue.compareTo(BigDecimal.ZERO) > 0}
                &nbsp;<span style="color:red">折扣：${orders.rebateValue}元</span>
            #{/if})
            </td>
        </tr>
    </table>
</ul>
#{if orders.containsRealGoods()}
<ul class="nav">
    <li class="active">
        <span><a href="#"> 收货信息</a>
            #{if orderItems?.get(0)?.shippingInfo}
                <button id="linkUpdateExpress_${orderItems?.get(0)?.shippingInfo?.id}" class="btn btn-info"
                        onclick="updateExpress('${orderItems?.get(0)?.shippingInfo?.id}','${shippingInfo?.expressCompany?.id}','${shippingInfo?.expressNumber}')
                                ">修改收货信息
                </button>
            #{/if}
            </span>
    </li>
%{ outerOrder = models.order.OuterOrder.getOuterOrder(orders) }%
    <table class="table table-bordered table-striped">

        <tr>
            <td>收货人：
                #{if outerOrder!=null}
                ${orderItems?.get(0)?.shippingInfo?.receiver}
                #{/if}
                #{else }
                ${orders.receiverName}
                #{/else}
            </td>
        </tr>
        <tr>
            <td>
                地址：
                #{if outerOrder!=null}
                ${orderItems?.get(0)?.shippingInfo?.address}
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    邮编: ${orderItems?.get(0)?.shippingInfo?.zipCode}
                #{/if}
                #{else }
                ${orders?.receiverAddress} &nbsp; &nbsp; &nbsp; &nbsp;邮编:${orders?.postcode}
                #{/else}
            </td>
        </tr>
        <tr>
            <td>
                手机：
                #{if outerOrder!=null}
                ${orderItems?.get(0)?.shippingInfo?.phone}
                #{/if}
                #{else }
                ${orders?.receiverMobile}
                #{/else}  |
                电话：
                #{if outerOrder!=null}
                ${orderItems?.get(0)?.shippingInfo?.tel}
                #{/if}
                #{else }
                ${orders?.receiverPhone}
                #{/else}
            </td>
        </tr>
        <tr>
            <td>
                物流公司：
                #{if outerOrder!=null}
                ${orderItems?.get(0)?.shippingInfo?.expressCompany?.name}
                #{/if}
                #{else }
                ${orders?.deliveryCompany}
                #{/else} |
                物流单号：
                #{if outerOrder!=null}
                ${orderItems?.get(0)?.shippingInfo?.expressNumber}
                #{/if}
                #{else }
                ${orders?.deliveryNo}
                #{/else}
            </td>
        </tr>
        <tr>
            <td>
                订单留言：
                #{if outerOrder!=null}
                ${orderItems?.get(0)?.shippingInfo?.remarks}
                #{/if}
                #{else }
                ${orders?.remark}
                #{/else}
            </td>
        </tr>
        <tr>
            <td>
                备注： ${orders?.serviceRemarks}<br>
                操作人： ${orders?.servicePerson}<br>
            </td>
        </tr>
    </table>
    #{if outerOrder!=null}
        发货时间：${orderItems?.get(0)?.sendAt?.format('yyyy-MM-dd HH:mm:ss')}
        <br> <br>
    #{/if}
    #{else}
    </ul>
        #{if models.order.OrderStatus.PAID.equals(orders.realGoodsStatus)}
        <a class="btn btn-primary" onclick="prepareSend(${orders.id})">发货</a><br/><br/>
        #{/if}
    #{/else}
#{/if}

<ul class="nav">
    <li class="active"><a href="#"> 订购人信息</a></li>
    <table class="table table-bordered table-striped">
        <tr>
            <td>帐号：
            #{if orders?.consumerId}
            ${orders?.user?.loginName?:orders?.user?.openIdExpress}
            #{/if}
            #{else}
            ${orders?.resaler?.loginName}
            #{/else}
            </td>
        </tr>
        <tr>
            <td>手机： ${orders?.buyerMobile}</td>
        </tr>
        <tr>
            <td>电话： ${orders?.buyerPhone}</td>
        </tr>
        <tr>
            <td>订单留言： ${orders?.remark}</td>
        </tr>
    </table>
</ul>
<div class="modal" id="sendModal" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>

        <h3>发货信息</h3>
    </div>

    <div class="modal-body">
    #{form @OperateOrders.index(), id:"sendForm", name:"sendForm", enctype:'multipart/form-data',
        class:"form-horizontal",method:"PUT"}
        #{layout_operate.textField name:'order.deliveryCompany', value:order?.deliveryCompany, required:true,
    err:"deliveryCompany"/}
        #{layout_operate.textField name:'order.deliveryNo', value:order?.deliveryNo, required:true/}
        #{/form}
    </div>
    <div class="modal-footer">
        <a href="#" id="send" class="btn btn-primary">发货</a>
        <a href="#" class="btn" data-dismiss="modal">取消</a>
    </div>
</div>

*{退货信息填写弹出层}*
<div class="modal" id="returnGoodsModal" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>

        <h3>退货信息</h3>
    </div>
    <div class="modal-body">
    #{form @OperateOrders.index(), id:"returnForm", name:"returnForm", enctype:'multipart/form-data',
    class:"form-horizontal",method:"PUT"}

        <input type="hidden" name="entry.orderItems.id" id="entry_orderItems_id"/>
        <input type="hidden" name="maxReturnedCount" id="maxReturnedCount"/>
        <input type="hidden" name="refundAmount" id="refundAmount"/>

        <div class="control-group" id="refundFlag" style="display: none">
            <label class="control-label">退款方式</label>

            <div class="controls">
                <input type="radio" id="refundType_0" name="refundType" value="0" checked>按数量退款
                <input type="radio" id="refundType_1" name="refundType" value="1">部分退款
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">商品</label>

            <div class="controls"><span id="goodsName" style="line-height: 30px;"></span></div>
        </div>

        <div id="refundByNumber" style="display: block">
            #{layout_operate.textField name:'entry.returnedCount', required:true, err:"returnedCount"/}
            <div class="control-group">
                <label class="control-label">退货金额</label>

                <div class="controls" id="refundPrice"></div>
            </div>
        </div>

        <div id="refundByPartial" style="display: none">
            <div class="control-group">
                <label class="control-label"><span style="color: red">*</span>部分退货金额</label>

                <div class="controls"><input type="text" name="entry.partialRefundPrice" id="entry_partialRefundPrice"/>
                    <span style="color: grey">(最大可退款金额为：<b id="maxRefundPrice"></b>元)</span>
                    <span id="entry_partialRefundPrice_err" style="display: block"></span>
                </div>
            </div>
        </div>
        #{layout_operate.textField name:'entry.reason', value:entry?.reason, required:true, err:"reason"/}
    #{/form}
    </div>
    <div class="modal-footer">
        <a href="#" id="return" class="btn btn-primary">退货</a>
        <a href="#" class="btn" data-dismiss="modal">取消</a>
    </div>

</div>

<div class="modal" id="editExpressModal" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>

        <h3>修改发货信息</h3>
    </div>
    <div class="modal-body">
    #{form @OperateOrders.index(), id:"update_express_form", name:"update_express_form",class:"form-horizontal",method:"PUT"}
          #{layout_operate.selectField name:'shippingInfo.expressCompany.id', value:goods?.brand?.id, error:'shippingInfo.expressCompany', required:false}
        #{list items:expressList, as:'express'}
            #{option express?.id}${express?.name}#{/option}
        #{/list}
    #{/layout_operate.selectField}
    #{layout_operate.textField name:'shippingInfo.expressNumber', value:'',required:false /}
    #{layout_operate.textField name:'shippingInfo.address', value:'',required:false /}
    #{layout_operate.textField name:'shippingInfo.phone', value:'',required:false /}
    #{layout_operate.textField name:'serviceRemarks', value:'',required:false /}
    #{/form}
    </div>
    <div class="modal-footer">
        <a href="#" id="sure" class="btn btn-primary">确定</a>
        <a href="#" class="btn" data-dismiss="modal">取消</a>
    </div>
</div>
</div>





