#{extends 'layout_operate/layout.html' /}
#{include 'share/nav.html' /}
#{set title:'商品订单' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
    function prepareSend(id) {
        $("#sendForm").attr("action", "/orders/" + id + "/send?x-http-method-override=PUT");
        $('#sendModal').modal('show');
    }

    $(function () {
        #{if !play.Play.runingInTestMode()}
            $("#send").click(function () {
                var result = true;
                if ($("#order_deliveryNo").val().trim() == "") {
//                $("#note_order_deliveryNo").addClass("error");
                    $("#note_order_deliveryNo").html("请输入单号!");
                    $("#order_deliveryNo").focus();
                    result = false;
                }
                else {
//                $("#note_order_deliveryCompany").removeClass("error");
                    $("#note_order_deliveryCompany").html("");
                }
                if ($("#order_deliveryCompany").val().trim() == "") {
//                $("#note_order_deliveryCompany").addClass("error");
                    $("#note_order_deliveryCompany").html("请输入公司!");
                    $("#order_deliveryCompany").val("");
                    $("#order_deliveryCompany").focus();
                    result = false;
                } else {
                    $("#note_order_deliveryCompany").removeClass("error");
                    $("#note_order_deliveryCompany").html("");
                }
                if (result) {
                    $("#sendForm").submit();
                }
            });
        #{/if}
        #{else}
            $("#send").click(function () {
                $("#sendForm").submit();
            });
        #{/else}

        $("#isLottery").click(function () {
            if (this.checked) {
                this.value = true;
            } else {
                this.value = false;
            }
            $("#frmlist").submit();
        });
        $("#search").click(function () {
            formSubmit();
        });
//        $("#brandId").click(function(){
//                formSubmit();
//        })

        $('.fn-rank').click(function (ev) {
            ev.preventDefault();
            var rankStr = $(this).attr('data-rank');
            $('#J_rank').val(rankStr);
            $('#frmlist').submit();
        });
    });

    function orderExcel() {
        $("#frmlist").attr("action", "@{OperateOrders.orderExcelOut()}");
        $("#frmlist").attr("method", "get");
        $("#frmlist").submit();
    }

    function changeList(status) {
        $("#condition_status").val(status);
        formSubmit();
    }

    function formSubmit() {
        $("#frmlist").attr("method", "get");
        $("#frmlist").attr("action", "@{OperateOrders.index()}");
        $("#frmlist").submit();
    }
</script>
#{/set}
#{set 'moreStyles'}
<style type="text/css">
    .table td {
        vertical-align: middle;
    }

    .rank {
        background-image: url(http://img.uhcdn.com/images/r/rank.png);
        background-position: right 6px;
        background-repeat: no-repeat;
    }

    .rank-asc {
        background-position: right -15px;
    }

    .rank-desc {
        background-position: right -36px;
    }
</style>
#{/set}
<div class="body">
<legend>商品订单</legend>
<form class="form-horizontal" name="frmlist" id="frmlist" method="GET">
    <table width="80%">
        <tr>
            <td>成交时间：<input type="text" id="createdAtBegin" name="condition.createdAtBegin"
                            value="${condition.createdAtBegin?.format()}" onfocus="WdatePicker({readOnly:true})"
                            class="input-medium Wdate"/>至 <input type="text" id="createdAtEnd"
                                                                 name="condition.createdAtEnd"
                                                                 value="${condition.createdAtEnd?.format()}"
                                                                 onfocus="WdatePicker({readOnly:true})"
                                                                 class="input-medium Wdate"/></td>
            <td>付款时间：<input type="text" id="paidAtBegin" name="condition.paidAtBegin"
                            value="${condition.paidAtBegin?.format()}" onfocus="WdatePicker({readOnly:true})"
                            class="input-medium Wdate"/>至 <input type="text" id="paidAtEnd"
                                                                 name="condition.paidAtEnd"
                                                                 value="${condition.paidAtEnd?.format()}"
                                                                 onfocus="WdatePicker({readOnly:true})"
                                                                 class="input-medium Wdate"/></td>
            <td>品&nbsp;&nbsp;&nbsp;牌：
            #{layout_operate.selectInputField name:"brandName", id:"condition.brandId", list:brandList/}</td>
        </tr>
        <tr>
            <td>退款时间：<input type="text" name="condition.refundAtBegin" value="${condition.refundAtBegin?.format()}"
                            onfocus="WdatePicker({readOnly:true})"
                            class="input-medium Wdate"/>至 <input type="text" name="condition.refundAtEnd"
                                                                 value="${condition.refundAtEnd?.format()}"
                                                                 onfocus="WdatePicker({readOnly:true})"
                                                                 class="input-medium Wdate"/></td>
            <td>支付方式：#{select 'condition.payMethod', class:'input-medium', value:condition.payMethod}
                #{option ""}不限#{/option}
                #{option "alipay"}支付宝#{/option}
                #{option "tenpay"}财付通#{/option}
                #{option "99bill"}快钱#{/option}
                #{option "balance"}余额#{/option}
            #{/select}
                &nbsp;&nbsp;&nbsp;订单来源：#{select 'condition.userType', class:'input-small', value:condition.userType}
                #{option ""}不限#{/option}
                #{option "CONSUMER"}&{'order.CONSUMER'}#{/option}
                #{option "RESALER"}&{'order.RESALER'}#{/option}
            #{/select}
            </td>
            <td>外部订单号：<input type="text" name="condition.outerOrderId" value="${condition.outerOrderId}"
                             class="input-large"/>
            </td>
        </tr>
        <tr>
            <td>关&nbsp;键&nbsp;字：
            #{select 'condition.searchKey', class:'input-small', value:condition.searchKey}
                #{option ""}不限#{/option}
                #{option "GOODS_NAME"}&{'queryType.GOODS_NAME'}#{/option}
                #{option "ORDER_NUMBER"}&{'queryType.ORDER_NUMBER'}#{/option}
                #{option "LOGIN_NAME"}&{'queryType.LOGIN_NAME'}#{/option}
                #{option "MOBILE"}&{'queryType.MOBILE'}#{/option}
            #{/select}

                <input type="text" name="condition.searchItems" value="${condition.searchItems}"
                       class="input-large"/></td>
            <td colspan="2">订单状态：
            #{select 'condition.status', id:'condition_status', class:'input-medium', value:condition.status}
                #{option ""}不限#{/option}
                #{option "UNPAID"}&{'order.UNPAID'}#{/option}
                #{option "PAID"}&{'order.PAID'}#{/option}
                #{option "CANCELED"}&{'order.CANCELED'}#{/option}
                #{option "SENT"}&{'order.SENT'}#{/option}
            #{/select}
                &nbsp;&nbsp;&nbsp;物流方式：
            #{select 'condition.deliveryType', class:'input-small', value:condition.deliveryType}
                #{option ""}不限#{/option}
                #{option models.order.DeliveryType.SMS}无物流#{/option}
                #{option models.order.DeliveryType.LOGISTICS}有物流#{/option}
            #{/select}

                &nbsp;&nbsp;&nbsp;抽奖商品：<input type="checkbox" name="condition.isLottery" id="isLottery"
                                              class="input-medium"
                                              value="${condition?.isLottery}" ${condition?.isLottery ?'checked':''}/>
            </td>
        <tr align="right">
            <td colspan="3">
                <button class="btn btn-primary" id="search" type="submit">搜索</button>
                <button class="btn btn-primary" id="searchbtn" onclick="orderExcel()">导出报表</button>
            </td>
        </tr>
        <input type="hidden" id="J_rank" name="desc"/>
        </tr>
    </table>
</form>
<div style="color:#0082CA;padding-bottom: 15px"> 总计：${orderList.size()}
    条记录&nbsp;&nbsp;&nbsp;总金额：${amountSummary?.formatCurrency('CNY')}</div>
#{vx.other_tab name:'order',enumItems: models.order.OrderStatus.values(),
select:'condition_status',value:condition?.status/}

<table class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th width="10">订单号</th>
        <th width="10">外部订单号</th>
        <th width="50">商品名称</th>

    #{if desc.equals("1000000") }
        <th width="40px" class="rank rank-asc"><a class="fn-rank" data-rank="2000000">订单状态</a></th>#{/if}
    #{elseif desc.equals("2000000")}
        <th width="40px" class="rank rank-desc"><a class="fn-rank" data-rank="1000000">订单状态</a></th>#{/elseif}
    #{else}
        <th width="40px" class="rank"><a class="fn-rank" data-rank="2000000">订单状态</a></th>#{/else}

    #{if desc.equals("0100000") }
        <th width="25px" class="rank rank-asc"><a class="fn-rank" data-rank="0200000">帐号</a></th>#{/if}
    #{elseif desc.equals("0200000")}
        <th width="25px" class="rank rank-desc"><a class="fn-rank" data-rank="0100000">帐号</a></th>#{/elseif}
    #{else}
        <th width="25px" class="rank"><a class="fn-rank" data-rank="0200000">帐号</a></th>#{/else}

    #{if desc.equals("0010000") }
        <th width="25px" class="rank rank-asc"><a class="fn-rank" data-rank="0020000">来源</a></th>#{/if}
    #{elseif desc.equals("0020000")}
        <th width="25px" class="rank rank-desc"><a class="fn-rank" data-rank="0010000">来源</a></th>#{/elseif}
    #{else}
        <th width="25px" class="rank"><a class="fn-rank" data-rank="0020000">来源</a></th>#{/else}

    #{if desc.equals("0001000") }
        <th width="30px" class="rank rank-asc"><a class="fn-rank" data-rank="0002000">总金额</a></th>#{/if}
    #{elseif desc.equals("0002000")}
        <th width="30px" class="rank rank-desc"><a class="fn-rank" data-rank="0001000">总金额</a></th>#{/elseif}
    #{else}
        <th width="30px" class="rank"><a class="fn-rank" data-rank="0002000">总金额</a></th>#{/else}

    #{if desc.equals("0000100") }
        <th width="50px" class="rank rank-asc"><a class="fn-rank" data-rank="0000200">下单时间</a></th>#{/if}
    #{elseif desc.equals("0000200")}
        <th width="50px" class="rank rank-desc"><a class="fn-rank" data-rank="0000100">下单时间</a></th>#{/elseif}
    #{else}
        <th width="50px" class="rank"><a class="fn-rank" data-rank="0000200">下单时间</a></th>#{/else}

    #{if desc.equals("0000010") }
        <th width="50px" class="rank rank-asc"><a class="fn-rank" data-rank="0000020">付款时间</a></th>#{/if}
    #{elseif desc.equals("0000020")}
        <th width="50px" class="rank rank-desc"><a class="fn-rank" data-rank="0000010">付款时间</a></th>#{/elseif}
    #{else}
        <th width="50px" class="rank"><a class="fn-rank" data-rank="0000020">付款时间</a></th>#{/else}

    #{if desc.equals("0000001") }
        <th width="50px" class="rank rank-asc"><a class="fn-rank" data-rank="0000002">退款时间</a></th>#{/if}
    #{elseif desc.equals("0000002")}
        <th width="50px" class="rank rank-desc"><a class="fn-rank" data-rank="0000001">退款时间</a></th>#{/elseif}
    #{else}
        <th width="50px" class="rank"><a class="fn-rank" data-rank="0000002">退款时间</a></th>#{/else}

        <th width="20">操 作</th>
    </tr>
    </thead>

    <tbody>
    #{paginate.list items:orderList, as:'order'}
    <tr>
        <td rowspan="${order?.orderItems?.size()}">${order.orderNumber}</td>
        <td rowspan="${order?.orderItems?.size()}">${models.order.OuterOrder.getOuterOrder(order)?.orderId}</td>
    *{有实物券时}*
        #{if order.realGoods?.size()>0}
            <td>
                #{if models.sales.MaterialType.ELECTRONIC.equals(order.realGoods?.get(0)?.materialType)}
                    <img src="${order.realGoods?.get(0)?.imageTinyPath}"><img
                        src="@@{'/public/images/electronic-goods.png'}"><a
                        href="http://www.yibaiquan.com/g/${order.realGoods?.get(0)?.id}"
                        target="_blank">${order.realGoods?.get(0)?.shortName}</a>
                #{/if}
                #{else}
                    <img src="${order.realGoods?.get(0)?.imageTinyPath}"><img src="@@{'/public/images/real-goods.png'}"><a
                        href="http://www.yibaiquan.com/g/${order.realGoods?.get(0)?.id}"
                        target="_blank">${order.realGoods?.get(0)?.shortName}</a>
                #{/else}
            </td>
            <td rowspan="${order.realGoods?.size()}">
                #{if order.deliveryNo!=null}
                    <a id="sendInfo_${order.id}"

                       href="#" class="label label-info"
                       rel="popover"
                       data-content="运单号: ${order.deliveryNo}"
                       data-original-title="物流公司: ${order.deliveryCompany}"
                       onmouseover="$('#sendInfo_${order.id}').popover();">
                    &{'order.'+ order.realGoodsStatus}</a>
                #{/if}
                #{else}&{'order.'+order.realGoodsStatus}#{/else}
                #{if models.order.OrderStatus.PAID.equals(order.realGoodsStatus)}
                    <br/><a href="#" id="linkSend_${order.id}" onclick="prepareSend(${order.id})">发货</a>
                #{/if}
            </td>
        #{/if}

        #{else}
        *{有电子券时}*
            #{if order.electronicGoods?.size()>0}
                <td><img src="${order.electronicGoods.get(0).imageTinyPath}"><img
                        src="@@{'/public/images/electronic-goods.png'}"><a
                        href="http://www.yibaiquan.com/g/${order.electronicGoods.get(0).id}"
                        target="_blank">${order.electronicGoods.get(0).shortName}&nbsp;</a>
                </td>
                <td rowspan="${order.electronicGoods.size()}">&{'order.'+order.electronicGoodsStatus}</td>
            #{/if}
            #{else}
                <td>&nbsp;</td>
                <td rowspan="${order.electronicGoods.size()}">&{'order.'+order.electronicGoodsStatus}</td>
            #{/else}
        #{/else}

        #{if order.userType ==models.accounts.AccountType.RESALER}
            <td rowspan="${order?.orderItems?.size()}">${order?.resaler?.loginName}</td>
        #{/if}
        #{if order.userType ==models.accounts.AccountType.CONSUMER}
            <td rowspan="${order?.orderItems?.size()}">${order?.user?.loginName?:order?.user?.openIdExpress}</td>
        #{/if}
        <td rowspan="${order?.orderItems?.size()}">&{'order.'+order.userType}</td>
        <td rowspan="${order?.orderItems?.size()}">${order.amount?.formatCurrency('CNY')}</td>
        <td rowspan="${order?.orderItems?.size()}">${order.createdAt?.format("yyyy-MM-dd HH:mm:ss")}</td>
        <td rowspan="${order?.orderItems?.size()}">${order.paidAt?.format("yyyy-MM-dd HH:mm:ss")}</td>
        <td rowspan="${order?.orderItems?.size()}">${order.refundAt?.format("yyyy-MM-dd HH:mm:ss")}</td>
        <td rowspan="${order?.orderItems?.size()}"><a href="@{OperateOrders.details(order.id)}">查看</a></td>
    </tr>
        #{set i:0/}
        #{set showRealStatus:true/}
        #{if order.realGoods?.size()>0}
            #{list items:order.realGoods, as:'aRealGoods'}
                #{if i>0}
                <tr test="i=${i}">
                    <td><img src="${aRealGoods?.imageTinyPath}"><img src="@@{'/public/images/real-goods.png'}"><a
                            href="http://www.yibaiquan.com/g/${aRealGoods?.id}"
                            target="_blank">${aRealGoods?.shortName}</a></td>
                </tr>
                #{/if}
                #{set i:i+1/}
            #{/list}
        #{/if}

        #{set j:0/}
        #{set showElectronicStatus:true/}
        #{list items:order.electronicGoods, as:'aElectronicGoods'}
            #{if (order.realGoods?.size()==0 && j>0) ||(order.realGoods?.size()>0) }
            <tr>
                <td><img src="${aElectronicGoods.imageTinyPath}"><img src="@@{'/public/images/electronic-goods.png'}"><a
                        href="http://www.yibaiquan.com/g/${aElectronicGoods?.id}"
                        target="_blank">${aElectronicGoods?.shortName}</a></td>
                #{if showElectronicStatus && order.realGoods?.size()>0}
                    <td rowspan="${order.electronicGoods.size()}">&{'order.'+order.electronicGoodsStatus}</td>
                    #{set showElectronicStatus:false/}
                #{/if}
            </tr>
            #{/if}
            #{set j:j+1/}
        #{/list}

    #{/paginate.list}
    </tbody>
</table>
<div class="pagination" align="center">
    <ul>
    #{paginate.controls items:orderList /}
    </ul>
</div>

</div>


<div class="modal" id="sendModal" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>

        <h3>发货信息</h3>
    </div>
    <div class="modal-body">
    #{form @OperateOrders.index(), id:"sendForm", name:"sendForm", enctype:'multipart/form-data',
    class:"form-horizontal",method:"PUT"}
#{layout_operate.textField name:'order.deliveryCompany', value:order?.deliveryCompany, required:true,
    err:"deliveryCompany"/}
#{layout_operate.textField name:'order.deliveryNo', value:order?.deliveryNo, required:true/}
    #{/form}
    </div>
    <div class="modal-footer">
        <a href="#" id="send" class="btn btn-primary">发货</a>
        <a href="#" class="btn" data-dismiss="modal">取消</a>
    </div>
</div>

