#{extends 'main2.html' /}
#{set title:'一百券 - 联系我们' /}
#{set 'moreStyles'}
#{asset.css src:['/help/121112/help.css'] /}
#{/set}
<div class="wrapper">
    <div id="content" class="clearfix">
        #{include '/WEBApplication/sidebar.html'/}

        <div id="section">
            <h3>联系我们</h3>

            <div class="bd">
                上海视惠信息科技有限公司<br>
                客服热线： 400-686-5151（周一至周日 9：00—21:00）<br>
                总　　机： 021-54276001<br>
                传　　真： 021-54276010<br>
                地　　址： 上海市徐汇区宛平南路75号建科大厦17层<br>
                邮　　编： 200233<br>
                E-mail ： support@yibaiquan.com<br>
                联系站长：QQ 116780922<br>
            </div>
        </div>
    </div>
</div>
