#{extends 'main2.html' /}
#{set title:'一百券 - 返利帮助' /}
#{set 'moreStyles'}
#{asset.css src:['/help/121112/help.css'] /}
#{/set}
<div class="wrapper">
    <div id="content" class="clearfix">
        #{include '/WEBApplication/sidebar.html'/}

        <div id="section">
            <div class="rebate-help">
                <h3>返利帮助</h3>

                <div class="bd">
                    <b>什么是推荐返利？</b><br>
                    您可以通过分享您的推荐链接，向您的好友推荐一百券，帮助一百券进行推广，我们将给您一定比例的现金返利。
                    例如：您成功推荐好友进入一百券购买商品后，该笔订单金额的2%将作对您推荐的奖励，在好友成功消费后返现到您的账户，累积超过10元即可兑现。每个月通过推荐好友获得返利金额最多的前三名用户还将获得一百券的额外奖励，相应排名可点击
                    “<a style="color:#F97311" href="http://home.uhuila.cn/rebate-rank">我的一百券-返利排名</a>”查看。<br><br>

                    <b>返利金额从哪里来的？</b><br>
                    返利来自于一百券网的推广费用。对于所有参加一百券推广计划的会员， 我们都会按照成交订单金额支付给推广者2%的佣金， 同时给被推广者1%的购物折扣， 为买家节省费用，让您的购物更加省钱！<br><br>

                    <b>推荐返利如何操作？</b><br>
                    第一步：注册并登录一百券后，您可以在“<a style="color:#F97311" href="http://home.uhuila.cn/rebate">我的一百券-分享返利</a>”中查看您的专属推荐链接，通过微博分享推荐、复制发送推荐链接、复制发送专属优惠码这3种方式邀请好友；<br>
                    第二步：好友通过您的推荐链接或优惠码在一百券购买商品并消费后，我们将于3个工作日内进行审核，审核通过即发放相应比例的返利奖励，您可以在“<a style="color:#F97311"
                                                                                           href="http://home.uhuila.cn/rebate-account">我的一百券-返利明细</a>”中查看详细信息；<br>
                    第三步：返利可直接用于购买一百券的商品，也可以在累计达到10元后申请提现， 我们会尽快将您的返利奖励发放到您的银行卡或支付宝账户。
                </div>
            </div>
        </div>
    </div>
</div>
