#{extends 'main2.html' /}
#{set title:'一百券 - 服务承诺' /}
#{set 'moreStyles'}
#{asset.css src:['/help/121112/help.css'] /}
<style type="text/css">
    table {
        border-collapse: collapse;
        border-spacing: 0;
        border-left: 1px solid #888;
        border-top: 1px solid #888;
        background: #efefef;
    }

    th, td {
        border-right: 1px solid #888;
        border-bottom: 1px solid #888;
        padding: 5px 15px;
    }

    th {
        font-weight: bold;
        background: #ccc;
    }

</style>
#{/set}
<div class="wrapper">
    <div id="content" class="clearfix">
    #{include '/WEBApplication/sidebar.html'/}
        <div id="section">
            <h3 class="hd">服务承诺</h3>

            <div class="bd">
                <b>一、品质保证</b>
                <br/>
                我们始终致力为一百券会员提供高品质、可信赖的产品，全心全意为您服务，无论何种问题24小时帮您处理<br/>
                流程说明：<br/>
                　　商家因任何原因无法兑现服务承诺——致电一百券网站客服400-686-5151——客服人员24小时内帮您解决<br/><br/>

                <b>二、未消费一键退款</b><br/>
                我们承诺只要未消费无任何理由即全额退款（不适用退款服务的情况除外）<br/>
                流程说明：<br/>
                　　电子券购买成功且未消费——我的一百券/未消费电子券——点击“申请退款”——退款成功/为您退到账户可提现余额<br/> <br/>
                <b>三、过期未消费随时退款</b><br/>
                无论由于何种原因未使用的券，随时退款即时到帐。（不适用退款服务的情况除外）<br/>
                流程说明：<br/>
                　　电子券过期且未消费——我的一百券/已过期电子券——点击“申请退款”——退款成功/为您退到账户可提现余额<br/>
                <br/>
                <b>不适用退款服务的情况：</b><br/>
                　　1.已消费的电子券<br/>
                　　2.实物类产品（需物流运送的产品）<br/>
                　　3.商品详情页面中明确标注“不可退款”或“不可退货”的产品或服务<br/> <br/>
                <b>退款相关说明：</b><br/>
                　　1.退款将扣除一定比例的手续费<br/>
                　　2.为了感谢和回馈新老客户，过期包退暂免手续费<br/>
                　　3.使用抵用券的订单发生退款时，优先退款至账户可提现余额，但仅退回您实际支付的现金部分，抵用券支付部分不予退回<br/>
                &nbsp; &nbsp; &nbsp; 例：某用户购买了3张单价为25元的团购券，使用了30元抵用券，实际支付现金45元。<br/>
                &nbsp; &nbsp; &nbsp; 该订单发生退款时，用户可退总金额 = 订单总额(75) - 抵用券金额(30) = 45元<br/>
                &nbsp; &nbsp; &nbsp; 当用户退第一张电子券25元时，获得退款金额为25元；<br/>
                &nbsp; &nbsp; &nbsp; 当用户退第二张电子券25元时，获得退款金额为45-25（已退金额）=20元；<br/>
                &nbsp; &nbsp; &nbsp; 当用户退第三张电子券25元时，获得退款金额为45-25-20=0元。 <br/>
                &nbsp; &nbsp; &nbsp; 详细表格如下：<br/>
                <br/>
                <table>
                    <thead>
                    <th></th>
                    <th>可退金额（元）</th>
                    <th>商品单价（元）</th>
                    <th>实退金额（元）</th>
                    <th>剩余可退金额（元）</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>退第一张券</td>
                        <td>45</td>
                        <td>25</td>
                        <td>25</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>退第二张券</td>
                        <td>20</td>
                        <td>25</td>
                        <td>20</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>退第三张券</td>
                        <td>0</td>
                        <td>25</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                &nbsp; &nbsp; &nbsp; 4.最终解释权归一百券网站所有
            </div>
        </div>
    </div>
</div>

