<div id="sidebar">
    <ul>
        <li><a href="/about" #{if '/about'.equals(request.path)}class="curr"#{/if}>关于我们</a></li>
        <li><a href="/contact" #{if '/contact'.equals(request.path)}class="curr"#{/if}>联系我们</a></li>
        <li><a href="/service" #{if '/service'.equals(request.path)}class="curr"#{/if}>服务承诺</a></li>
        <li><a href="/rule" #{if '/rule'.equals(request.path)}class="curr"#{/if}>服务条款</a></li>
*{        <li><a href="/rebate_help" #{if '/rebate_help'.equals(request.path)}class="curr"#{/if}>返利帮助</a></li> }*
        <li><a href="/help" #{if '/help'.equals(request.path)}class="curr"#{/if}>常见问题</a></li>
        <li><a href="/link" #{if '/link'.equals(request.path)}class="curr"#{/if}>友情链接</a></li>
    </ul>
</div>
