#{extends 'layout_trader/layout.html' /}
#{set title:'资金明细' /}
#{include 'Share/nav.html' /}
<!--主体内容部分-->
#{set 'moreScripts' }
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
<div class="body">
    <legend>资金明细</legend>
    <table class="table">
        <tr>
            <td width="20%">余额：${account?.amount}元</td>
        </tr>
    </table>
    <form class="well form-search" name="form" action="@{AccountSequences.index()}" method="GET">
        <table>
            <tr>
                <td width="50%"><label>创建时间:</label><input class="input-medium Wdate"
                                                           type="text" id="createdAtBegin"
                                                           name="condition.createdAtBegin"
                                                           onfocus="WdatePicker({readOnly:true})"
                                                           value="${condition.createdAtBegin?.format('yyyy-MM-dd')}"/> 至
                    <input class="input-medium Wdate" type="text" id="createdAtEnd" name="condition.createdAtEnd"
                           onfocus="WdatePicker({readOnly:true})"
                           value="${condition.createdAtEnd?.format('yyyy-MM-dd')}"/>
                </td>
                <td width="25%"><label>资金流向:</label><input type="radio" name="condition.sequenceFlag" value=""
                                                           #{if condition.sequenceFlag == null}checked#{/if}>不限</radio>
                    <input type="radio" name="condition.sequenceFlag" value="VOSTRO"
                           #{if models.accounts.AccountSequenceFlag.VOSTRO.equals(condition.sequenceFlag)}checked#{/if}/>收入
                    <input type="radio" name="condition.sequenceFlag" value="NOSTRO"
                           #{if models.accounts.AccountSequenceFlag.NOSTRO.equals(condition.sequenceFlag)}checked#{/if}/>支出
                </td>
                <td width="20%"><label class="control-label">交易类型:</label>
                #{select 'condition.tradeType', value:condition.tradeType, id:'select1', class:"input-small"}
                    #{option ""}不限#{/option}
                    #{option "WITHDRAW"}&{'trade_type.WITHDRAW'}#{/option}
                    #{option "PURCHASE_COSTING"}&{'trade_type.PURCHASE_COSTING'}#{/option}
                #{/select}
                </td>
                <td width="5%">
                    <button class="btn btn-primary" id="search" type="submit">搜索</button>
                </td>
            </tr>
        </table>
    </form>
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <td width="10%">流水号</td>
            <td width="10%">订单号</td>
            <td width="30%">备注</td>
            <td width="10%">创建时间</td>
            <td width="5%">交易类型</td>
            <td width="10%">收入(元)</td>
            <td width="10%">支出(元)</td>
            <td width="10%">账户余额(元)</td>
            <td width="5%">结算状态</td>
        </tr>
    #{paginate.list items:accountSequences, as:'accountSequence'}
        <tr>
            <td>${accountSequence?.serialNumber}</td>
            <td>${accountSequence?.orderId}</td>
            <td>${accountSequence?.remark}</td>
            <td>${accountSequence?.createdAt.format('yyyy-MM-dd HH:mm:ss')}</td>
            <td>&{'trade_type.'+accountSequence?.tradeType}</td>
            <td>#{if accountSequence?.sequenceFlag == models.accounts.AccountSequenceFlag.VOSTRO}
                    ${accountSequence?.changeAmount?.formatCurrency('CNY')}
                #{/if}</td>
            <td>#{if accountSequence?.sequenceFlag == models.accounts.AccountSequenceFlag.NOSTRO}
                ${accountSequence?.changeAmount?.formatCurrency('CNY')}
            #{/if}</td>
            <td>${accountSequence?.balance}</td>
            <td>&{'accountSequence.'+accountSequence?.settlementStatus?:'CLEARED'}</td>
        </tr>
    #{/paginate.list}

    </table>
    <div>#{paginate.controls items:accountSequences /}</div>
</div>








