#{extends 'layout_operate/layout.html' /}
#{set title:'发送优惠券' /}
#{include '/share/nav.html' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
#{set 'moreStyles'}
<style type="text/css">
</style>
#{/set}

<div class="body">
    <legend>${title}</legend>
    <form class="form-horizontal" name="frmlist" id="frmlist" action="@{SendSMS.index()}" method="GET">
        <table width="100%">
            <tr>
                <td width="30%">
                    任务名称：<input type="text" name="condition.taskNo" class="input-medium"
                                value="${condition?.taskNo}"/></td>
                </td>
                <td>
                    <button class="btn btn-primary" id="searchbtn" type="submit">查询</button>
                </td>
                <td>
                    <a href="/send_sms/new" class="btn btn-primary" id="searchbtn2" type="submit"
                            >新建发送</a>
                </td>
            </tr>
        </table>
    </form>
    <form class="form-horizontal" id="stateForm" method="POST">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th>任务名称</th>
                <th>计划发送时间</th>
                <th>已完成</th>
                <th>未完成</th>
                <th>总任务数</th>
                <th>创建时间</th>
            </tr>
            </thead>

            <tbody>

            #{paginate.list items:smsTaskList, as:'smsTask'}
            <tr>

                <td><a href="@{SendSMS.details(smsTask.taskNo)}">${smsTask.taskNo}</a></td>
                <td>${smsTask.scheduledTime}</td>
                <td>${smsTask.finished}</td>
                <td>${smsTask.unfinished}</td>
                <td>${smsTask.total}</td>
                <td>${smsTask?.createdAt?.format("yyyy-MM-dd HH:mm:ss")}</td>

            </tr>
            #{/paginate.list}
            </tbody>
        </table>
    </form>
    <div class="pagination" align="center">
        <ul>#{paginate.controls items:smsTaskList /}
        </ul>
    </div>
</div>

<script type="text/javascript">

    $(function () {

        $("#searchbtn2").click(function () {

                    var url = "/send_sms/" + checkedGoods.join(",") + "/onSale?x-http-method-override=PUT";
                    $("#deletefrm").attr("method", "POST");
                    $("#deletefrm").attr("action", url);
                    $("#deletefrm").submit();
                }
        );

    });

    function prepareSend() {
        $("#searchbtn2").attr("action", "/send_sms/add");

    }

</script>

