#{extends 'layout_operate/layout.html' /}
#{set title:'发送前确认' /}
#{include '/share/nav.html' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
#{set 'moreStyles'}
<style type="text/css">
</style>
#{/set}

<div class="body">
    <legend>${title}</legend>


    <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
            <th>任务号</th>
            <th>手机</th>
            <th>券号</th>
            <th>短信内容</th>
            <th>发送时间</th>
        </tr>
        </thead>

        <tbody>

        #{list items:smsList, as:'sms'}
        <tr>


            <td>${sms.taskNo}</td>
            <td>${sms.mobile}</td>
            <td>${sms.eCouponSn}</td>
            <td>${sms.text}</td>

            <td>${sms?.sendAt?.format("yyyy-MM-dd HH:mm:ss")}</td>

        </tr>
        #{/list}
        </tbody>
    </table>

    <form action="@{SendSMS.sucSend()}" class="form-horizontal" id="stateForm">

        <input type="hidden" id="taskTempNo" name="taskTempNo" value="${taskTempNo}"/>

        <div>
            <button class="btn btn-primary" id="searchbtn" type="submit">立即发送短信</button>
        </div>

    </form>


</div>

<script type="text/javascript">

    $(function () {

        $("#searchbtn2").click(function () {

                    var url = "/send_sms/" + checkedGoods.join(",") + "/onSale?x-http-method-override=PUT";
                    $("#deletefrm").attr("method", "POST");
                    $("#deletefrm").attr("action", url);
                    $("#deletefrm").submit();
                }
        );

    });

    function prepareSend() {
        $("#searchbtn2").attr("action", "/send_sms/add");

    }

</script>

