#{extends 'layout_operate/layout.html' /}
#{set title:'58修改商品:'+ product.goods.shortName /}
#{include '/share/nav.html' /}
#{set 'moreStyles'}
#{asset.css src:['/ztree/zTreeStyle.css'] /}
#{/set}
<div class="body">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#edit-groupbuy" data-toggle="tab">修改团购信息</a></li>
            <li><a href="#edit-partners" data-toggle="tab">修改商户信息</a></li>
            <li><a href="#edit-deadline" data-toggle="tab">延长券有效期</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="edit-groupbuy">
                <form class="form-horizontal" method="POST" action="/resale-partner-products/wb/edit">

                    <div class="control-group">
                        <label class="control-label">商品分类</label>
                        <div class="controls">
                            <ul id="prodTypeTree" class="ztree"></ul>
                            <input name="prodTypeId" id="inputProdType" type="hidden">
                            <input name="prodTypeIdChain" id="inputProdTypeChain" type="hidden">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputTeamTitle">团购标题名称 *</label>
                        <div class="controls">
                            <input type="text" id="inputTeamTitle" class="input-block-level" name="prodName" value="${goods.name}">
                            <span class="help-block">不超过200个字符</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputTitle">团购短名称 *</label>
                        <div class="controls">
                            <input type="text" id="inputTitle" name="prodShortName" class="input-xxlarge" value="${goods.shortName}">
                            <span class="help-inline">不超过20个字符</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputListShortTitle">列表页短标题 *</label>
                        <div class="controls">
                            <input type="text" id="inputListShortTitle" name="listShortTitle" class="input-xxlarge" value="${goods.shortName}">
                            <span class="help-inline">不超过20个字符</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">产品范畴 *</label>
                        <div class="controls">
                            <input type="radio" name="prodCategory" value="0" checked> 消费类
                            <input type="radio" name="prodCategory" value="1"> 快递类
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">是否需要配送 *</label>
                        <div class="controls">
                            <input type="radio" name="isSend" value="0" checked> 不配送
                            <input type="radio" name="isSend" value="1"> 配送
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">产品范畴 *</label>
                        <div class="controls">
                            <input type="radio" name="prodModelType" value="1" checked>单型号
                            <input type="radio" name="prodModelType" value="2"> 多型号
                            <input type="radio" name="prodModelType" value="3"> 多重型号
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">是否支持退款 *</label>
                        <div class="controls">
                            <input type="radio" name="isRefund" value="1" checked> 支持
                            <input type="radio" name="isRefund" value="0"> 不支持
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputMarketPrice">市场价 *</label>
                        <div class="controls">
                            <input type="text" id="inputMarketPrice" name="prodPrice" value="${goods.faceValue}">
                            <span class="help-inline">最多两位小数</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputSalePrice">销售价 *</label>
                        <div class="controls">
                            <input type="text" id="inputSalePrice" name="groupPrice" value="${goods.salePrice}">
                            <span class="help-inline">不能大于市场价，最多两位小数</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">团购开始时间 *</label>
                        <div class="controls">
                            <input type="text" name="startTime" onfocus="WdatePicker({readOnly:true, dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="Wdate" value="${goods.effectiveAt?.format('yyyy-MM-dd HH:mm:ss')}">
                            团购结束时间 *
                            <input type="text" name="endTime" onfocus="WdatePicker({readOnly:true, dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="Wdate" value="${goods.expireAt?.format('yyyy-MM-dd HH:mm:ss')}">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputMinNumber">最低成团人数 *</label>
                        <div class="controls">
                            <input type="text" id="inputMinNumber" name="successNum" value="1">
                            <span class="help-inline">必须大于等于1</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputMaxNumber">商品总库存 *</label>
                        <div class="controls">
                            <input type="text" id="inputMaxNumber" name="saleMaxNum" value="0">
                            <span class="help-inline">必须大于等于0，0表示无上限</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPerMaxNumber">单笔最高购买数量 *</label>
                        <div class="controls">
                            <input type="text" id="inputPerMaxNumber" name="buyerMaxNum" value="0">
                            <span class="help-inline">仅数字，0表示无限制</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPerMinNumber">单笔最低购买数量 *</label>
                        <div class="controls">
                            <input type="text" id="inputPerMinNumber" name="buyerMinNum" value="1">
                            <span class="help-inline">大于等于1</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputMobileImg">团购主图 *</label>
                        <div class="controls">
                            <input type="text" id="inputMobileImg" name="mobileImg" class="input-block-level">
                            <span class="help-block">http开头，尺寸 622*194,图片大小 30k 以内</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputProdImg">团购主图 *</label>
                        <div class="controls">
                            <input type="text" id="inputProdImg" name="prodImg" class="input-block-level" value="${goods.imageOriginalPath}">
                            <span class="help-block">http开头，图片尺寸为420*680，图片大小在300kb以内</span>
                            <img src="${goods.imageOriginalPath}" alt="" id="imgProdImg">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">团购详情</label>
                        <div class="controls">
                            <textarea rows="8" cols="100"  name="prodDescription" id="prodDescription" style="width:850px;height:550px;display:hidden;">
                                #{if goods.exhibition}
                                ${goods.exhibition.raw()}
                                <p style="BACKGROUND-COLOR: rgb(204,0,0); FONT-WEIGHT: bold">
                                    <span style="font-family:SimSun;font-size:small;color:#ffffff;">温馨提示</span>
                                </p>
                                ${goods.prompt.raw()}
                                <p style="BACKGROUND-COLOR: rgb(204,0,0); FONT-WEIGHT: bold">
                                    <span style="font-family:SimSun;font-size:small;color:#ffffff;">商品介绍</span>
                                </p>
                                ${goods.details.raw()}
                                <p style="BACKGROUND-COLOR: rgb(204,0,0); FONT-WEIGHT: bold">
                                    <span style="font-family:SimSun;font-size:small;color:#ffffff;">商户介绍</span>
                                </p>
                                ${goods.supplierDes.raw()}
                                #{/if}
                                #{else}
                                ${goods.teamDetail?.raw()}
                                #{/else}
                            </textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">手机端特别提示</label>
                        <div class="controls">
                            <textarea rows="8" cols="100"  name="mobileDescription" id="mobileDescription" style="width:850px;height:550px;display:hidden;">
                                ${goods.exhibition?.raw()}
                                <p style="BACKGROUND-COLOR: rgb(204,0,0); FONT-WEIGHT: bold">
                                    <span style="font-family:SimSun;font-size:small;color:#ffffff;">温馨提示</span>
                                </p>
                                ${goods.prompt?.raw()}
                                <p style="BACKGROUND-COLOR: rgb(204,0,0); FONT-WEIGHT: bold">
                                    <span style="font-family:SimSun;font-size:small;color:#ffffff;">商品介绍</span>
                                </p>
                                ${goods.details?.raw()}
                                <p style="BACKGROUND-COLOR: rgb(204,0,0); FONT-WEIGHT: bold">
                                    <span style="font-family:SimSun;font-size:small;color:#ffffff;">商户介绍</span>
                                </p>
                                ${goods.supplierDes?.raw()}
                            </textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">特别提示 *</label>
                        <div class="controls">
                            <textarea rows="8" cols="100"  name="specialmessage" id="specialmessage" style="width:850px;height:150px;display:hidden;">
                            </textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">发布城市 *</label>
                        <div class="controls">
                            <input type="checkbox" city="北京" value="2">北京
                            <input type="checkbox" city="上海" value="4" checked>上海
                            <input type="checkbox" city="天津" value="5">天津
                            <input type="checkbox" city="哈尔滨" value="10">哈尔滨
                            <input type="checkbox" city="苏州" value="21">苏州
                            <input type="checkbox" city="南京" value="29">南京
                            <input type="checkbox" city="杭州" value="35">杭州
                            <input type="checkbox" city="成都" value="36">成都
                            <input type="checkbox" city="宁波" value="205">宁波
                            <input type="checkbox" city="无锡" value="361">无锡
                            <input type="hidden" name="cityIds" id="cityIds">
                        </div>
                    </div>
                    <div class="form-actions">
                        <input type="hidden" name="groupbuyId" value="${goods.id}" >
                        <button type="submit" id="groupinfo-submit" class="btn btn-primary">发布</button>
                    </div>
                </form>


            </div>



            <div class="tab-pane" id="edit-partners">
                <form class="form-horizontal" method="POST" action="/resale-partner-products/wb/edit">
                    #{list items:shopList, as:'shop'}
                    <input type="hidden" name="partnerId_${shop_index}" value="${shop?.id}">
                    <div class="control-group">
                        <label class="control-label">门店${shop_index}</label>
                        <div class="controls">
                            <table>
                                <tr>
                                    <td>商家名称 *</td>
                                    <td><input type="text" name="title_${shop_index}" value="${supplier.otherName} ${shop.name}" class="input-xlarge"></td>
                                    <td>商家缩写 *</td>
                                    <td><input type="text" name="shortTitle_${shop_index}" value="${supplier.otherName} ${shop.name}" class="input-xlarge"></td>
                                </tr>
                                <tr>
                                    <td>电话 *</td>
                                    <td><input type="text" name="telephone_${shop_index}" value="${shop.phone}" class="input-xlarge"></td>
                                    <td>网址</td>
                                    <td><input type="text" name="webUrl_${shop_index}" value="${webUrl}" class="input-xlarge"></td>
                                </tr>
                                <tr>
                                    <td>交通信息 *</td>
                                    <td><input type="text" name="busline_${shop_index}" value="${busline?:' '}" class="input-xlarge"></td>
                                    <td>地图图片</td>
                                    <td><input type="text" name="mapImg_${shop_index}" value="${mapImg}" class="input-xlarge"></td>
                                </tr>
                                <tr>
                                    <td>地图服务商</td>
                                    <td>
                                        Google <input type="radio" name="mapServiceId_${shop_index}" value="0" checked >
                                        Baidu <input type="radio" name="mapServiceId_${shop_index}" value="1">
                                        Mapbar <input type="radio" name="mapServiceId_${shop_index}" value="2">
                                    </td>
                                    <td>地图链接</td>
                                    <td><input type="text" name="mapUrl_${shop_index}"value="${mapUrl}" class="input-xlarge"></td>
                                </tr>
                                <tr>
                                    <td>地图经度</td>
                                    <td><input type="text" name="latitude_${shop_index}" value="${shop.latitude}" class="input-xlarge"></td>
                                    <td>地图纬度</td>
                                    <td><input type="text" name="longitude_${shop_index}" value="${shop.longitude}" class="input-xlarge"></td>
                                </tr>
                                <tr>
                                    <td>商家地址</td>
                                    <td colspan="3"><input type="text" name="address_${shop_index}" value="${shop.address}" class="input-xxlarge"></td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:top">商圈 *</td>
                                    <td colspan="3">
                                        <label>提示：<span id="hint-circleIdTree_${shop_index}">${shop.areaName}</span></label>
                                        <ul id="circleIdTree_${shop_index}" class="ztree" style="max-height:300px; overflow-y:scroll"></ul>
                                        <input type="hidden" name="circleId_${shop_index}" id="input-circleIdTree_${shop_index}">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    #{/list}

                    <div class="form-actions">
                        <input type="hidden" name="groupbuyId" value="${goods.id}" >
                        <button type="submit" id="partners-submit" class="btn btn-primary">发布</button>
                    </div>
                </form>

                <div class="tab-pane" id="edit-deadline">
                    <form class="form-horizontal" method="POST" action="/resale-partner-products/wb/edit">
                        <div class="control-group">
                            <div class="controls">
                                <input type="text" name="deadline" onfocus="WdatePicker({readOnly:true, dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="Wdate" value="${goods.expireAt?.format('yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="hidden" name="groupbuyId" value="${goods.id}" >
                            <button type="submit" id="deadline-submit" class="btn btn-primary">发布</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
