#{extends 'main.html' /}
#{set title:'券市场 - 购物车' /}
#{set 'moreStyles'}
    #{asset.css src:['/r/base.css', '/r/carts.css'] /}
#{/set}
#{set 'moreScripts'}
<script src="@@{'/public/javascripts/bignumber.js'}"></script>
<script src="@@{'/public/javascripts/carts.js'}"></script>
#{/set}

#{set 'navMenu'}
<li><a href="/">首　页</a></li>
<li><a class="current" href="/goods">商品库</a></li>
<li><a href="/library">我的分销库</a></li>
<li><a href="/charge">账户充值</a></li>
<li><a href="/withdraw">账户提现</a></li>
#{/set}

<div id="content">
    <ol class="buy-step step1 clearfix">
        <li class="buy-step-curr"><span>1</span>查看订单信息 <em>>></em></li>
        <li><span>2</span>确认付款 <em>>></em></li>
        <li><span>3</span>成功提交订单 <em>>></em></li>
    </ol>
    <form method="POST" action="/carts/form-add">
        <div class="select clearfix">
            <div class="salehub">
                <h3>从我的分销库选择商品：</h3>
                <ul>
                #{list items:favs, as:'favItem'}
                    %{
                        radioStatus="";
                        info="";
                        if (favItem.goods.baseSale <= 0){ info += "<em>已无库存</em>"; radioStatus = "disabled"}
                        if (!favItem.goods.onSale()){info += "<em>已下架</em>"; radioStatus = "disabled"}
                    }%
                    <li>
                        <input type="radio" name="goodsId" value="${favItem.goods.id}"
                               id="goods_${favItem.goods.id}" ${radioStatus.raw()} />
                        <label for="goods_${favItem.goods.id}">${favItem.goods.name}</label>
                        <span>${favItem.goods.getResalePrice(resaler.level)}</span>元
                    ${info.raw()}
                    </li>
                #{/list}

                </ul>
            </div>
            <div class="phones">
                <h3>添加接收券号的手机：</h3>
                <textarea name="phones" cols="20" rows="12"></textarea>
                <span>
                    同一个商品，不同的收货人。<br/><br/>
                    例：13472228877<br/>
                    　　13477778888<br/>
                </span>
            </div>
        </div>
        <div class="saletip clearfix">
            <span class="saletip-left">#{error 'goodsId'/}</span>
            <span class="saletip-right">#{error 'phones'/}</span>
        </div>
        <div class="submit-btn">
            <button type="submit" id="submit"> 添 加</button>
        </div>
    </form>

    <div class="selected">
        <h3>已选择商品</h3>
        <table border="1" cellpadding="0" cellspacing="0" bordercolor="#EEEEEE">
            <thead>
            <tr bgcolor="F6F6F6">
                <th width="300"><span class="th_shop_text">商品</span></th>
                <th width="140">接收手机号</th>
                <th width="120">类型</th>
                <th width="110" height="30" bgcolor="F6F6F6">单价（元）</th>
                <th width="110">数量</th>
                <th width="120">小计</th>
                <th width="80">操作</th>
            </tr>
            </thead>
            <tbody>
            #{list items:carts, as:'goodsGroup'}
            %{index = 0}%
                #{list items:goodsGroup, as:'cartItem'}
                <tr id="row_${cartItem.goods.id}">
                    #{if ++index==1}
                        <td rowspan="${goodsGroup.size()}">${cartItem.goods.name}&nbsp;&nbsp; | &nbsp;&nbsp;
                            <a href="#" id="batch_del_${cartItem.goods.id}">删除</a>
                        </td>
                    #{/if}

                    <td><span id="phone_${cartItem.goods.id}">${cartItem.phone}</span></td>
                    <td>${cartItem.goods.materialType == models.sales.MaterialType.ELECTRONIC ? '电子券' : '实物'}</td>
                    <td class="price"
                        id="price_${cartItem.goods.id}-${cartItem.phone}">${cartItem.goods.getResalePrice(resaler.level)}</td>
                    <td>
                        <a href="#" class="reduce_box" iden="${cartItem.goods.id}" phone="${cartItem.phone}">
                            <img src="@{'/public/images/sub_anniu.jpg'}" id="inc_sub_${cartItem.goods.id}-${cartItem.phone}"/>
                        </a>
                        <input class="num-input" type="text" value="${cartItem.number}" id="num_${cartItem.goods.id}-${cartItem.phone}"/>
                        <input type="hidden" value="${cartItem.number}" id="last_num_${cartItem.goods.id}-${cartItem.phone}"/>
                        <input type="hidden" value="${cartItem.goods.baseSale}" id="stock_${cartItem.goods.id}-${cartItem.phone}">
                        <a class="add_box" href="#" iden="${cartItem.goods.id}" phone="${cartItem.phone}">
                            <img src="@{'/public/images/add_anniu.jpg'}" id="inc_add_${cartItem.goods.id}-${cartItem.phone}"/>
                        </a>
                    </td>
                    <td class="amount">
                        <span id="subtotal_${cartItem.goods.id}-${cartItem.phone}">${cartItem.goods.getResalePrice(resaler.level).multiply(cartItem.number)}</span>
                    </td>
                    <td>
                        <form method="POST" action="/carts/form-delete">
                            <input name="goodsId" type="hidden" value="${cartItem.goods.id}"/>
                            <input name="phone" type="hidden" value="${cartItem.phone}"/>
                            <input type="SUBMIT" value=" 删 除 " id="del_${cartItem.goods.id}-${cartItem.phone}"/>
                        </form>
                    </td>
                </tr>
                #{/list}
            #{/list}

            #{if carts.size() == 0}
            <tr>
                <td colspan="7" style="text-align:center;padding:10px 0">您还没有添加商品哦，再逛逛吧:)</td>
            </tr>
            #{/if}
            </tbody>
        </table>
    </div>

    <div class="total-box">
        商品共<span class="total-num" id="total_num">0</span>件，总合计（不含运费）：<span class="carts-amount"
                                                                            id="carts_amount"></span>元
        <a class="confirm-pay" href="/carts/show"> 下一步 </a>
    </div>
</div>
