#{extends 'main.html' /}
#{set title:'优惠啦 - 我购买的商品' /}
#{set 'moreStyles'}
<link href="@{'/public/stylesheets/default.css'}" rel="stylesheet" type="text/css" />
<link href="@{'/public/stylesheets/my_good.css'}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" media="screen"
      href="@{'/public/stylesheets/play-pagination.css'}">
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}

#{set 'moreScripts'}
<script>
$(window).load(function () {
 $("#search").click(function () {
     $('#orderForm').submit();
 });
});
</script>
#{/set}
 <div id="wrap_main">
  <!--    最顶部导航-->
  <div id="wrap_top">#{include "share/topNavigator.html"/}</div>
  <div id="wrap_top_header">
   <div id="wrap_top_header_left">
    <img src="@{'/public/images/logo.jpg'}" />
   </div>
   <div id="wrap_top_middle">卷生活-惠生活</div>
   <div style="clear: both"></div>
     <div class="nav_hengfu">
         <ul class="nav_bg_ul">
             <li class="nav_bg_li"><a class="current_nav_bg_a" href="#">我的优惠啦</a></li>
             <li class="nav_bg_li"><a class="nav_bg_a nodisplay"  href="#">我的优惠啦</a></li>
             <li class="nav_bg_li"><a class="nav_bg_a nodisplay"  href="#">我的优惠啦</a></li>
         </ul>
     </div>
 </div>
 </div>
 <!--主体内容部分-->
 <div id="wrap_content">
  #{breadcrumbs/breadcrumb breadcrumbs/}
  #{include "share/left.html"/}
  <div id="right_content_box">
   <div class="tab_top">我的商品订单</div>
   <div class="tab_top2">
   <form class="form-horizontal" id="orderForm" action="@{ResalerOrders.index()}" method="GET">
    <table width="774" border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td width="12">&nbsp;</td>
      <td width="61" align="right">下单时间：</td>
      <td width="259" height="35">
        <input class="short_input Wdate" type="text" name="condition.createdAtBegin" value="${createdAtBegin}" onfocus="WdatePicker({readOnly:true})" /> -
        <input class="short_input Wdate" type="text" name="condition.createdAtEnd" value="${createdAtEnd}" onfocus="WdatePicker({readOnly:true})" />
     </td>
      <td width="77">订单状态：</td>
      <td width="353">
       <div class="pos_abs">
        <select class="dingdan_stauts_bg" name="condition.status">
        <option value=""></option>
        <option value="UNPAID" ${status.toString()=='UNPAID'?'selected':''}>未支付</option>
        <option value="PAID" ${status.toString()=='PAID'?'selected':''}>已支付</option>
        <option value="CANCELED" ${status.toString()=='CANCELED'?'selected':''}>取消订单</option>
        <option value="SENT" ${status.toString()=='SENT'?'selected':''}>已发货</option>
        <option value="RETURNED" ${status.toString()=='RETURNED'?'selected':''}>退款</option>
        <option value="RECEIPT" ${status.toString()=='RECEIPT'?'selected':''}>确认收货</option>
        </select>
       </div>
      </td>
     </tr>
     <tr>
      <td>&nbsp;</td>
      <td align="right">商品名称：</td>
      <td height="35"><label> <input class="long_input" type="text" name="condition.goodsName" value="${goodsName}"/>
      </label></td>
      <td colspan="2" align="left" valign="middle"><a class="seach_bg" href="#" id="search">搜素</a></td>
     </tr>
    </table>
    </form>
    <div class="tab_top">统计金额</div>
     <div class="caozuo_std">本月订单共100笔共100元（交易成功${}笔，进行中10笔）</div>
     <div class="caozuo_std">上月订单共100笔共100元（交易成功100笔，进行中10笔）</div>
    <table width="798" border="0" cellpadding="0" cellspacing="0" bgcolor="#F6F6F6">
     <tr>
      <td width="340" align="center"><span class="font_strong">商品名称</span></td>
      <td width="100" align="center"><span class="font_strong">收货手机</span></td>
      <td width="80" align="center"><span class="font_strong">分销价（元）</span></td>
      <td width="78" align="center"><span class="font_strong">数量</span></td>
      <td width="88" height="30" align="center"><span class="font_strong">实付款（元）</span></td>
      <td width="85" align="center" bgcolor="#F6F6F6"><span class="font_strong">订单状态</span></td>
      <td width="80" align="center"><span class="font_strong">操作</span></td>
     </tr>
    </table>
   #{paginate.list items:orderList, as:'row'}
    <div class="tab_top_info">
     <span class="tab_one">订单号：${row.orderNumber}</span><span class="tab_two">成交时间：${row.createdAt?.format("yyyy-MM-dd HH:mm:ss")}</span>
    </div>
    <table width="798" border="1" cellpadding="0" cellspacing="0" bordercolor="#EEEEEE" frame="hsides">
     #{set m=0/}
    #{list row.orderItems, as:'rowItem'}
     <tr>
      <td width="340" height="80" align="left">
       <div class="left_shangpin">
        <img src="${rowItem.goods.imageTinyPath}"/>
       </div>
       <div class="right_shangpin">
        ${rowItem.goods.name}
       </div>
      </td>
      <td width="100" align="center">${rowItem.buyNumber}</td>
      <td width="80" align="center">${rowItem.resalerPrice}</td>
      <td width="78" align="center" >${rowItem.buyNumber}</td>
        #{if (++m == 1) }
      <td width="88"align="center" rowspan="${row.orderItems.size()}">${row.amount}</td>
      <td width="85" align="center" rowspan="${row.orderItems.size()}">
        &{'order.'+row.status}
      </td>
      <td width="80" align="center" rowspan="${row.orderItems.size()}">
       #{if (row.status == models.order.OrderStatus.UNPAID)}
       <div class="caozuo_std">
        <a class="font_red_one" href="@{ResalerOrders.pay(row.id)}">付款</a>
       </div>
       #{/if}
     *{ #{if (row.status == models.order.OrderStatus.PAID 
      || row.status == models.order.OrderStatus.RECEIPT) && rowItem.goods.materialType.toString().equals('REAL')}
     <div class="caozuo_std">
        <a class="font_red_one" href="/orders/refund/${row.id}"  id="apply_${row.id}">申请退款</a>
       </div>
      #{/if}
      }*
      
       <div class="caozuo_std">
        <a class="font_blue" href="@{ResalerOrders.show(row.id)}">查看详情</a>
       </div>
       <div class="caozuo_std">
        <a href="#">取消</a>
       </div>
      </td>
       #{/if}
     </tr>
      #{/list}
    </table>
  #{/paginate.list}
   <div class="pagination">
     <ul>
    #{paginate.controls items:orderList /}
    </ul>
  </div>

 </div>
 </div>
 </div>
