#{extends 'main.html' /}
#{set title:'商品详情' /}
#{set 'moreStyles'}
    #{asset.css src:['/r/base.css', '/r/orders.css'] /}
#{/set}
<div id="content">
        <div class="tab_top">
            <span>商品详情</span>
        </div>
        <div class="tab_top_box">
            <div class="tab_top_info">
                <span class="tab_one">订单号：${order.orderNumber}</span>
                <span class="tab_two">成交时间：${order.createdAt?.format("yyyy-MM-dd HH:mm:ss")}</span>
                <span>商品总价：${order.amount?.formatCurrency('CNY').raw()}(含运费)</span>
                <span>订单状态：&{'order.'+order.status}</span>
                <span>付款时间：${order.paidAt?.format("yyyy-MM-dd HH:mm:ss")}</span>
            </div>
            <form action="/orders/batch-refund" method="post">
                <table border="1" cellpadding="0" cellspacing="0" bordercolor="#EEEEEE">
                    <thead>
                        <tr>
                            <th width="70"><input type="checkbox" name="select_all_checkbox" />全选</th>
                            <th width="300"><span class="th_shop_text">商品</span></th>
                            <th width="69"><span class="th_shop_text">收货手机</span></th>
                            <th width="69">分销价（元）</th>
                            <th width="81">原价（元）</th>
                            <th width="163">券号</th>
                            <th width="93">券状态</th>
                        </tr>
                    </thead>
                    <tbody>
                    #{list items:eCoupons, as:'coupon' }
                    <tr>
                        <td>
                            #{if coupon.status == models.order.ECouponStatus.UNCONSUMED || coupon.status == models.order.ECouponStatus.EXPIRED}
                            <input type="checkbox" id="check_coupon_${coupon.id}" value="${coupon.id}" name="couponIds"/>
                            #{/if}
                        </td>
                        <td align="center" valign="middle">
                            <div class="col_one_text">${coupon.goods.name}</div>
                        </td>
                        <td width="69" align="center" valign="middle">${coupon.orderItems.phone}</td>
                        <td width="69" align="center" valign="middle">
                            ${coupon.orderItems.resalerPrice?.formatCurrency('CNY').raw()}
                        </td>
                        <td width="81" align="center" valign="middle">
                            ${coupon.orderItems.originalPrice?.formatCurrency('CNY').raw()}
                        </td>
                        <td align="center" valign="middle">
                            <div class="caozuo_std">${coupon?.getMaskedEcouponSn()}</div>
                        </td>
                        <td align="center" valign="middle">&{'coupon.'+coupon.status}</td>
                    </tr>
                    #{/list}
                    </tbody>
                </table>
                <input class="th_one_input" type="checkbox" name="select_all_checkbox" />全选
                <input type="submit" value="申请退款">
                <input type="hidden" value="${order.orderNumber}" name="orderNumber">
            </form>
        </div>
        <div class="buttom_tab_info2">
            商品金额：<span class="font_cheng">${order.amount}元</span>
        </div>
</div>

<script>
var set_all_select_all_checkbox =function(checked){
    $("input[name=select_all_checkbox]").each(function(){
        this.checked = checked
    });
};
var set_all_goods_checkbox = function(checked){
    $("input[id^=check_coupon_]").each(function(){
        this.checked = checked
    });
};
var all_checked= function(){
    var all_check = true;
    $("input[id^=check_coupon_]").each(function(){
        if(this.checked){
            return true;
        }else{
            all_check = false;
            return false;
        }
    });

    return all_check;
};
$(window).load(
    function(){
    //点击全选
    $("input[name=select_all_checkbox]").each(function(){
        $(this).click(
            function(){
                if(this.checked){
                    set_all_select_all_checkbox(true);
                    set_all_goods_checkbox(true);
                }else{
                    set_all_select_all_checkbox(false);
                    set_all_goods_checkbox(false);
                }
                refreshAmount();
            }
            )});
    //点击单个复选框
    $("input[id^=check_coupon_]").each(function(){
        $(this).click( function(){
            if(all_checked()){
                set_all_select_all_checkbox(true);
            }else{
                set_all_select_all_checkbox(false);
            }
            refreshAmount();
        })
    });
});
</script>
