#{extends 'layout_operate/layout.html' /}
#{set title:'一号店上传商品:' + goods.shortName /}
#{include '/share/nav.html' /}
#{set 'moreStyles'}
    #{asset.css src:['/ztree/zTreeStyle.css'] /}
    <style type="text/css">
        ul.ztree{
        margin-top: 1px;
        border: 1px solid #ccc;
        background: #f5f5f5;
        overflow-y: scroll;
        overflow-x: auto;
        }
    </style>
#{/set}
<div class="body">
    <legend>一号店上传商品：<a href="/goods/${goods.id}" target="_blank">
        ${goods.shortName}</a>
    </legend>
    <form class="form-horizontal" method="POST" action="/resaler-products/yhd/upload" enctype="multipart/form-data">
        <div class="control-group">
            <label class="control-label">是否电子凭证 *</label>
            <div class="controls">
                <input type="radio" name="electronicCerticate" value="是" #{if goods.materialType == models.sales.MaterialType.ELECTRONIC} checked #{/if}>是
                <input type="radio" name="electronicCerticate" value="否" #{if goods.materialType == models.sales.MaterialType.REAL} checked #{/if}>否
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputWeight">毛重 *</label>
            <div class="controls">
                <input type="text" id="inputWeight" name="weight" value="0">
                <span class="help-inline">单位KG，最多两位小数</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">产品类别 *</label>
            <div class="controls">
                <input class="input" readonly id="category-show" value="请选择">
                <div id="category-treeFrame" class="menuContent" style="display:none; position: absolute;">
                    <ul id="category-tree" class="ztree" style="width:210px"></ul>
                </div>
                <input name="categoryId" id="category-value" type="hidden">
                <input name="categoryIdChains" id="category-nodeChain" type="hidden">

            </div>
        </div>
        <div class="control-group">
            <label class="control-label">商家产品类别 *</label>
            <div class="controls">
                <ul id="merchantCategory-tree" class="ztree"></ul>
                <input name="merchantCategoryId" id="merchantCategory-value" type="hidden">
                <input name="merchantCategoryIdChains" id="merchantCategory-nodeChain" type="hidden">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputProductCname">产品名称 *</label>
            <div class="controls">
                <input type="text" id="inputProductCname" class="input-block-level" name="productCname" value="${goods.name}" data-max-length="100">
                <span class="help-block">不超过100个字符<span id="inputProductCname-monitor"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputProductSubTitle">产品名称副标题&nbsp;&nbsp;</label>
            <div class="controls">
                <input type="text" id="inputProductSubTitle" name="productSubTitle" class="input-block-level" data-max-length="100">
                <span class="help-block">不超过100个字符<span id="inputProductSubTitle-monitor"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputProductNamePrefix">产品名称前缀&nbsp;&nbsp;</label>
            <div class="controls">
                <input type="text" id="inputProductNamePrefix" name="productNamePrefix" data-max-length="10">
                <span class="help-inline">不超过10个字符<span id="inputProductNamePrefix-monitor"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">商家品牌 *</label>
            <div class="controls">
                #{list items:brands, as:'brand'}
                    <label class="radio">
                        <input type="radio" name="brandId" value="${play.libs.XPath.selectText('//brandId', brand)}">
                        ${play.libs.XPath.selectText('brandName', brand)}
                    </label>
                #{/list}
            </div>
        </div>
        %{
            maxFaceValue = goods.getResalePrice().multiply(new BigDecimal("1.5"))
                    .setScale(0, java.math.RoundingMode.DOWN)
                    .subtract(java.math.BigDecimal.ONE);
            if(goods.faceValue.compareTo(maxFaceValue) > 0) {
                goods.faceValue = maxFaceValue;
            }
        }%
        <div class="control-group">
            <label class="control-label" for="inputProductMarketPrice">市场价 *</label>
            <div class="controls">
                <input type="text" id="inputProductMarketPrice" name="productMarketPrice" value="${goods.faceValue}">
                <span class="help-inline">最多两位小数,不能超过销售价的1.5倍</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputProductSalePrice">销售价 *</label>
            <div class="controls">
                <input type="text" id="inputProductSalePrice" name="productSalePrice" value="${goods.salePrice}">
                <span class="help-inline">不能大于市场价，最多两位小数</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputVirtualStockNum">库存 *</label>
            <div class="controls">
                <input type="text" id="inputVirtualStockNum" name="virtualStockNum" value="${goods.cumulativeStocks}">
                <span class="help-inline">大于或等于0</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">是否可销售</label>
            <div class="controls">
                <input type="radio" name="canSale" value="1" checked> 是
                <input type="radio" name="canSale" value="0"> 否
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">主图</label>
            <div class="controls">
                <input type="file" name="imgFile" > 最好是600x600的图片
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">产品描述</label>
            <div class="controls">
                <textarea rows="8" cols="100"  name="productDescription" id="productDescription" style="width:850px;height:550px;display:hidden;">
                    <p> <span style="font-size:14px;"><img class="blogimg" src="http://d12.yihaodianimg.com/t20/2012/0918/482/491/a8cd44b5220bbbefc77fecedee40a191.jpg"></span></p>
                    <table border="1" cellpadding="0" width="680px">
                        #{list items:goods.shopList, as:'shop'}
                            <tr>
                                <td>${shop.name}</td>
                                <td>地址：${shop.address}<br/>电话${shop.phone}</td>
                                <td>交通：${shop.transport}</td>
                            </tr>
                        #{/list}
                    </table>

                    ${goods.exhibition?.raw()}

                    <p> <span style="font-size:14px;"><img class="blogimg" src="http://d11.yihaodianimg.com/t20/2012/0918/316/493/089b3c37367a0f5fc77fecedee40a191.jpg"></span></p>
                    ${goods.prompt?.raw()}

                    #{if goods.materialType == models.sales.MaterialType.ELECTRONIC}
                    <p> <img class="blogimg" src="http://d11.yihaodianimg.com/t20/2012/0918/149/494/4a78c67f6862e133c77fecedee40a191.jpg"><br/>
                        <img class="blogimg" src="http://d12.yihaodianimg.com/t20/2012/0918/165/494/ab7237f2bc21e5a7c77fecedee40a191.jpg"><br>
                    </p>
                    #{/if}
                    <p>
                        <img class="blogimg" src="http://d13.yihaodianimg.com/t20/2012/0919/53/22/acc198b608020f48c77fecedee40a191.jpg">
                    </p>

                    ${goods.details?.raw()}

                    <p> <span style="font-size:14px;"><img class="blogimg" src="http://d11.yihaodianimg.com/t20/2012/0918/261/494/41c50245eeda685bc77fecedee40a191.jpg"></span></p>

                    ${goods.supplierDes?.raw()}
                </textarea>
            </div>
        </div>
        <div class="form-actions">
            <input type="hidden"name="productType" value="0" >
            <input type="hidden" name="outerId" value="${goods.id}" >
            <input type="hidden" name="prodAttributeItemInfoList" value="12394:56041">
            <button type="submit" id="submit" class="btn btn-primary">发布</button>
        </div>
    </form>
</div>

#{set 'moreScripts'}
<script src="@{'/public/javascripts2/kindeditor-min.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/lang/zh_CN.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/jquery.migrate.js'}" type="text/javascript"
        charset="UTF-8"></script>
#{asset.js src:['/ztree/jquery.ztree.all-3.5.min.js'] /}
<script src="@{'/public/javascripts/ztree-helper.js'}" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">

    var categoryTreeCallbacks = {}
    $.extend(categoryTreeCallbacks,getSinglePathCallbacks("category-tree"),getOnclickCallback("category"))
    var categoryTreeSettings = {
        async: {
            enable: true,
            url:"/yhd-ztree/category",
            autoParam:["id"]
        },
        check:{
            enable:true,
            chkStyle:"radio",
            radioType:"all"
        },
        data: {
            simpleDate:{
                enable: true
            }
        },
        view: {
            showIcon: false,
            showLine: false,
            dblClickExpand: false
        },
        callback: categoryTreeCallbacks
    };

    var merchantCategoryTreeCallbacks = {}
    $.extend(merchantCategoryTreeCallbacks,getSinglePathCallbacks("merchantCategory-tree"),getOnclickCallback("merchantCategory"))
    var merchantCategoryTreeSettings = {
        async: {
            enable: true,
            url:"/yhd-ztree/merchant-category",
            autoParam:["id"]
        },
        check:{
            enable:true,
        },
        data: {
            simpleDate:{
                enable: true
            }
        },
        view: {
            showIcon: false,
            showLine: false,
            dblClickExpand: false
        },
        callback: merchantCategoryTreeCallbacks
    };

    $(function(){
        $.fn.zTree.init($("#category-tree"), categoryTreeSettings);
        $("#category-show").click(showTreeFunc('category'));
        $.fn.zTree.init($("#merchantCategory-tree"), merchantCategoryTreeSettings);

        KindEditor.create('textarea[name="productDescription"]',
        {
            uploadJson:'/goods/images',
            filterMode:false,
            allowFileManager:false
        });

        $("#inputProductCname, #inputProductSubTitle, #inputProductNamePrefix").each(function(){
            var ele = $(this);
            var maxLength = parseInt(ele.attr('data-max-length'));
            var monitor = $('#' + ele.attr('id') + '-monitor');
            ele.keyup(function (){
                var length =  ele.val().length;
                monitor.text('(' + length + '/' + maxLength + ')');
                monitor.css('color', length > maxLength ? 'red' : 'green');
            });
            ele.keyup();
        });
    });
</script>
#{/set}
