*{文件上传框}*
*{name:      文本框的名称}*
*{_required: 文字标签前面是否要加必填项标志（选填，默认不标识必填项）}*
#{field _name}
<div class="control-group">
    #{layout_operate.labelText name:_name, required:_required/}

    <div class="controls">
        <input type="button" id="J_selectImage" value="选择文件"/>
        <span style="color: red" id="note_${_id?:field.id}">${_note}</span>
    </div>
    <div class="controls">
        <ul class="image-view" id="J_imageView">
            #{list _value,as:'image'}
                <li id="li_${image?.id}">
                    <div class="action">
                        <a class="close btn" imageId="${image.id}" imageName="${image.shownName}" href="#">X</a>
                    </div>
                *{<span>${image?.id}</span>}*

                    <a class="fancybox" rel="group"
                       href="${image?.imageLargePath}">
                        <img src="${image?.imageSmallPath}"/>
                    </a>

                    <div style="tweext-align: center; color: grey; font-size: 30%;">${image.shownName}</div>

                <span id="description_info_${image?.id}" style="position: relative; top: 0; left: 0;">
                ${image.description}
                    <input id="description_${image?.id}"
                           style="display:none;border:0;background:transparent; height:15px; width: 150px;
                             position: absolute;top: 0;left: 0;"
                           type="text"
                           name="contract.description"
                           value="${image.description}">
                </span>

                    <i id="edit_${image?.id}"
                       style="visibility:visible;"
                       class="icon-pencil" rel="tooltip"
                       data-placement="right"
                       data-original-title="点击编辑合同说明" onClick="editContractDescription(${image?.id})"></i>

                    <i id="confirm_${image?.id}" style="visibility:hidden; padding-top:-20px;
                    margin-left:-14px; "
                       class="icon-ok"
                       onClick="confrimContractDescription('${image?.id}')"></i>
                </li>
            #{/list}
        </ul>
    </div>
    #{ifError field.name}
        <div class="controls"><span class="error">${field.error.raw()}</span></div>
    #{/ifError}
</div>
<script type="text/javascript">

    $(function () {
        $("[rel='tooltip']").tooltip();
    });

    function editContractDescription(id) {
        $("#edit_" + id).hide();
        $("#description_" + id).show()
        $("#description_info_" + id).hide();
    }

    function confrimContractDescription(id) {
        if ($("#description_" + id).val() != "") {
            $.ajax({
                url:"/supplier_contract/" + id + "?description=" + $("#description_" + id).val(),
                type:'GET',
                error:function () {
                    alert('操作失败,请联系管理员');
                },
                success:function (data) {
                    $("#description_" + id).prop("readonly", true);
                    $("#description_" + id).css({border:"0"});
                    $("#description_" + id).css({background:"transparent"});


                    $("#confirm_" + id).css({visibility:"hidden"});
                    $("#description_" + id).css({visibility:"visible"});
                    $("#description_" + id).html($("#description_" + id).val());
                    $("#edit_" + id).css({visibility:"visible"});
                }
            });
        }
        else {
            $("#description_" + id).css({visibility:"hidden"});
            $("#show_description_" + id).css({visibility:"visible"});
            $("#confirm_" + id).css({visibility:"hidden"});
            $("#edit_" + id).css({visibility:"visible"});

            $("#description_" + id).html("");
        }
    }

    $(function () {
        KindEditor.ready(function (K) {
            var editor = K.editor({
                allowFileManager:true,
                uploadJson:'${_uploadImgUrl}'
            });
            K('#J_selectImage').click(function () {
                editor.loadPlugin('multiimage', function () {
                    editor.plugin.multiImageDialog({
                        clickFn:function (urlList) {
                            var div = K('#J_imageView');
//                            div.html('');
                            K.each(urlList, function (i, data) {
                                window.location.reload();
                            *{div.append('<li><div class="action"><a class="set-main btn" goodsId="${_goodsId}" imageId="${data?.imageId}" href="">设为首页展示</a><a class="close btn" href="#">X</a></div><img src="' + data.url + '"></li>');}*
                            });
                            editor.hideDialog();
                        }
                    });
                });
            });
        });
    });

</script>
#{/field}
<style>
    .image-view li {
        list-style: none;
        float: left;
        /*width: 234px;*/
        margin-right: 3px;
        boder: 1px solid #ccc;
    }

    .image-view .action {
        padding: 5px 0;
    }

    .image-view .set-main {
        float: left;
    }

    .image-view .close {
        float: right;
    }
</style>
*{<input type="file" id="imagePath" name="imagePath" class="input-file">}*
*{<span style="color: red" id="note_imagePath">图片尺寸：(340*260像素)</span>}*