*{文件上传框}*
*{name:      文本框的名称}*
*{_required: 文字标签前面是否要加必填项标志（选填，默认不标识必填项）}*
#{field _name}
<div class="control-group">
    #{layout_operate.labelText name:_name, required:_required/}

    <div class="controls">
        <input type="button" id="J_selectImage" value="选择文件"/>
        <span style="color: red" id="note_${_id?:field.id}">${_note}</span>
    </div>
    <div class="controls">
        <ul class="image-view" id="J_imageView">
            #{list _value,as:'image'}
                <li id="li_${image?.id}">
                    <div class="action">
                        <a class="close btn" imageId="${image.id}" imageName="${image.shownName}" href="#">X</a>
                    </div>
                    <a class="fancybox" rel="group"
                       href="${image?.imageLargePath}">
                        <img src="${image?.imageSmallPath}"/>
                    </a>

                    <div style="text-align: center; color: grey; font-size: 30%;">${image.shownName}</div>
                    <div style="width: 170px; word-break:break-all;-webkit-user-select: none;  ">
                        <span style="position: relative; top: 0; left: 0;">
                            <span id="des_info_${image?.id}">
                                ${image.description}
                            </span>
                            <input id="edit_description_${image?.id}"
                                   style="display:none;height:8px; width: 140px;
                                         position: absolute;top: 0;left: 0; -webkit-user-select: auto; "
                                   type="text"
                                   value="${image.description}" maxlength="25"/>
                        </span>
                        <i style="visibility:visible; float: right;"
                           class="icon-pencil" rel="tooltip"
                           data-placement="right" did="${image.id}"
                           data-original-title="点击编辑合同说明"></i>
                    </div>
                </li>
            #{/list}
        </ul>
    </div>
    #{ifError field.name}
        <div class="controls"><span class="error">${field.error.raw()}</span></div>
    #{/ifError}
</div>
<script type="text/javascript">

    $(function () {
        $("[rel='tooltip']").tooltip();
    });

    $("i[did]").click(function () {
        var ele = $(this);
        var id = ele.attr('did');
        if (ele.attr('class') == 'icon-pencil') {
            ele.attr('data-original-title', '');
            ele.attr('class', 'icon-ok');
            $("#edit_description_" + id).show();
        } else {
            $.ajax({
                url:"/supplier_contract/" + id + "?description=" + $("#edit_description_" + id).val(),
                type:'GET',
                error:function () {
                    alert('操作失败,请联系管理员');
                },
                success:function (data) {
                    ele.attr('data-original-title', '点击编辑合同说明');
                    ele.attr('class', 'icon-pencil');
                    $("#edit_description_" + id).hide();
                    $("#des_info_" + id).text($("#edit_description_" + id).val());
                }
            });

        }
    });


    $(function () {
        KindEditor.ready(function (K) {
            var editor = K.editor({
                allowFileManager:true,
                uploadJson:'${_uploadImgUrl}'
            });
            K('#J_selectImage').click(function () {
                editor.loadPlugin('multiimage', function () {
                    editor.plugin.multiImageDialog({
                        clickFn:function (urlList) {
                            var div = K('#J_imageView');
//                            div.html('');
                            K.each(urlList, function (i, data) {
                                window.location.reload();
                            *{div.append('<li><div class="action"><a class="set-main btn" goodsId="${_goodsId}" imageId="${data?.imageId}" href="">设为首页展示</a><a class="close btn" href="#">X</a></div><img src="' + data.url + '"></li>');}*
                            });
                            editor.hideDialog();
                        }
                    });
                });
            });
        });
    });

</script>
#{/field}
<style>
    .image-view li {
        list-style: none;
        float: left;
        /*width: 234px;*/
        margin-right: 3px;
        boder: 1px solid #ccc;
    }

    .image-view .action {
        padding: 5px 0;
    }

    .image-view .set-main {
        float: left;
    }

    .image-view .close {
        float: right;
    }
</style>
*{<input type="file" id="imagePath" name="imagePath" class="input-file">}*
*{<span style="color: red" id="note_imagePath">图片尺寸：(340*260像素)</span>}*