*{名称的文本框标签}*
*{label:     文本框的标签（选填）}*
*{name:      文本框的名称}*
*{value:     文本框中的值}*
*{note:      文本框后的说明文字（选填）}*
*{length:    文本框中的值的最大长度，（选填，默认80)}*
*{required:  文字标签前面是否要加必填项标志（选填，默认不标识必填项）}*
<div class="control-group">
#{layout_operate.labelText name:_label?:_name, required:_required/}

    <div class="controls">
    #{field _name}
        <input type="text" id="${_id?:field.id}" name="${field.name}"  style=" width: 530px;"
               value="${params[field.name]?.escape()?.raw() ?: field.error?.message == 'validation.required' ?
               "":_value?.escape()?.raw()}" maxlength="${_length?_length*2:80}" onkeyup="checkName(this)"
               onchange="checkName(this)"/><span style="color: red" id="note_${_id?:field.id}">${_note}</span><span
            id="tip_head_${_id?:field.id}">最多可输入</span><span
            id="tip_${_id?:field.id}" class="warn">${_length?:40}</span> 个字
        #{ifError field.name}
            <span class="error">${field.error.raw()}</span>
        #{/ifError}
    #{/field}
    #{field _err?:'errors'}
        #{ifError field.name}
            <span class="error">${field.error.raw()?:''}</span>
        #{/ifError}
    #{/field}
    </div>
</div>
<script type="text/javascript">
    //返回val的字节长度
    function getByteLen(val) {
        var len = 0;
        for (var i = 0; i < val.length; i++) {
            if (val[i].match(/[^\x00-\xff]/ig) != null) //全角
                len += 2;
            else
                len += 1;
        }
        return len;
    }

    //返回val的字节长度
    function getMaxStr(val, max) {
        var len = 0;
        var text = "";
        for (var i = 0; i < val.length; i++) {
            if (val[i].match(/[^\x00-\xff]/ig) != null) { //全角
                len += 2;
                if (len <= max) {
                    text += val[i];
                } else {
                    return text;
                }

            }
            else {
                len += 1;
                if (len <= max) {
                    text += val[i];
                } else {
                    return text;
                }
            }
        }
        return text;
    }

    function checkName(nameField) {
        var len=$(nameField).attr("maxlength");
        var remainLen = parseInt((len -getByteLen($(nameField).val())) / 2);
        var id= $(nameField).attr("id");
        $("#tip_head_"+id).html("还可以输入");
        if (remainLen <= 0) {
            $("#tip_"+id).html("0");
            var maxStr = getMaxStr($(nameField).val(),len);
            $(nameField).val(maxStr);
        }else{
            $("#tip_"+id).html(remainLen);
        }
        return false;
    }
</script>