*{时间范围输入框}*
*{name:      字段名称，仅用于显示标签}*
*{begin:     开始时间的字段名称}*
*{beginValue:开始时间的值}*
*{end:       结束时间的字段名称}*
*{endValue:  结束时间的值}*
*{_required: 文字标签前面是否要加必填项标志（选填，默认不标识必填项）}*
<div class="control-group">
    #{layout_operate.labelText name:_name, required:_required/}
    <div class="controls">
    #{field _begin}
    <input type="text" class="input-medium Wdate" id="${field.id}" name="${field.name}"
    value="${params[field.name]?.escape()?.raw() ?: field.error?.message ==
               'validation.required' ? '' :_beginValue?.escape()?.raw()}"
     onfocus="WdatePicker({dateFmt:'HH:mm',minDate:'00:00',maxDate:'23:59'})"/>
    
    #{/field}
        至
    #{field _end}
        <input type="text" class="input-medium Wdate" id="${field.id}" name="${field.name}"
    value="${params[field.name]?.escape()?.raw() ?: field.error?.message ==
               'validation.required' ? '' :_endValue?.escape()?.raw()}"
     onfocus="WdatePicker({dateFmt:'HH:mm',minDate:'00:00',maxDate:'23:59'})"/>
    #{/field}之间 <span style="font-family: italic"></span>
    #{field _begin}
        <span class="error">${field?.error?.raw()}</span>
    #{/field}
    #{field _end}
        <span class="error">${field?.error?.raw()}</span>
    #{/field}
    </div>
</div>

