#{extends 'layout_trader/layout.html' /}
#{set title:'编辑门店' /}
#{include '/share/nav.html' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/shops-add.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/shops-edit.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
<div class="body">
    <form class="form-horizontal" action="@{Shops.update(shop.id)}" method="post">
        <legend>编辑门店</legend>
        #{include '/Shops/shopForm.html' /}
    </form>
</div>
*{<script type="text/javascript">districtChange($("#shop_districtId").val());</script>}*