#{layout_trader.selectField name:'shop.cityId', class:'span2', value:shop?.cityId?:'000', error:'shop.cityId',list:cities/}
#{layout_trader.selectField name:'shop.districtId', class:'span2', value:shop?.districtId, error:'shop.districtId',list:districts/}
#{layout_trader.selectField name:'shop.areaId', class:'span2', value:shop?.areaId, error:'shop.areaId',list:areas/}
<div class="control-group">
    <label for="name" class="control-label"><span style="color: red; ">*</span>门店名称</label>

    <div class="controls">
        <input type="text" id="name" name="shop.name" class="input-xlarge" value="${shop?.name}"/>
        <span class="error">#{error 'shop.name' /}</span>
    </div>
</div>
<div class="control-group">
    <label for="address" class="control-label"><span style="color: red; ">*</span>门店地址</label>

    <div class="controls">
        <input type="text" id="address" name="shop.address" class="input-xlarge" value="${shop?.address}"/>
        <span class="error">#{error 'shop.address' /}</span>
    </div>
</div>

<div class="control-group">
    <label for="phone" class="control-label">门店电话</label>

    <div class="controls">
        <input type="text" id="phone" name="shop.phone" class="input-xlarge" value="${shop?.phone}"/>
    </div>
</div>
<div class="form-actions">
    <button class="btn btn-primary" type="submit">保 存</button>
    <button class="btn" type="reset">取 消</button>
</div>