#{extends 'main.html' /}
#{set title:'分销网 - 充值' /}
#{set 'moreStyles'}
    #{asset.css src:['/r/base.css', '/r/charge.css'] /}
    <link href="@@{'/public/stylesheets/payment_info.css'}" rel="stylesheet" type="text/css"/>
#{/set}
<div id="full_bg"></div>
<div id="payment_result">
    <div style="text-align:center;">
        <a href="#" onclick="close_result_dialog();">关闭</a><br/><br/>
        <a href="/charge">遇到问题，重新选择付款信息</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/orders">完成付款，查看结果</a>
    </div>
</div>
<div id="content">
#{form @create(), target:play.Play.runingInTestMode() ? "_self" : "_blank", id: "pay_it_form"}
    <div id="charge">
        <div>充值账号：${user.loginName}</div>
        <div>账号余额：${account.amount.formatCurrency('CNY')}</div>
        <div>充值金额：
            <input class="amount" name="amount" type="text" id="amount"/> 元
            <span class="error" id="error"></span>
        </div>
    </div>
    <div id="payway">
        <h3>请选择充值方式</h3>
        <ul class="zhifu clearfix">
            <li>
                <input name="paymentSourceCode" type="radio" checked="checked" id="alipay" value="alipay"/>
                <label for="alipay"><img src="/public/images/pay_icon/zhifubao_pay.jpg"/></label>
            </li>
            <li>
                <input name="paymentSourceCode" type="radio" id="tenpay" value="tenpay"/>
                <label for="tenpay"><img src="/public/images/tenpay/tenpay.png"/></label>
            </li>
        </ul>
        <h4>快钱：</h4>
        <ul class="kuaiqian clearfix">
            #{list items:paymentSources, as:'payment'}
                #{if payment.paymentCode =='99bill'}
                    <li>
                        <input type="radio" name="paymentSourceCode" id="${payment.code}" value="${payment.code}"/>
                        <label for="${payment.code}"><img src="/public/${payment.logo}"/></label>
                    </li>
                #{/if}
            #{/list}
        </ul>
        <button class="submit-btn" type="submit" id="submit">充 值</button>
    </div>


#{/form}
</div>
<script src="@@{'/public/javascripts/payment_info.js'}"></script>
<script>
    var userreg=/^[1-9][0-9]*([\.]{1}[0-9]{1,2})?$/;

    $(window).load(function(){
        $(window).scroll(function(){reset_result_dialog()});
        $(window).resize(function(){reset_result_dialog()});

        $("#submit").click(function(){
            $("#error").text("");

            if (!userreg.test($("#amount").val())) {
                $("#error").text("最低充值1元! 小数点后不超过两位!");
                return false;
            };
            $("#full_bg").css({display:"block"});
            reset_result_dialog();
            $("#pay_it_form").submit();
            $(this).attr("disabled","disabled");
            return false;
        });
    });


</script>
