#{extends 'main.html' /}
#{set title:'券市场 - 商品详情' /}
#{set 'moreStyles'}
<link href="@@{'/public/stylesheets/goods-show.css'}" rel="stylesheet" type="text/css"/>
    #{asset.css src:['/r/base.css', '/r/goods.css'] /}
#{/set}
#{set 'moreScripts'}
<script src="@@{'/public/javascripts/goods-show.js'}"></script>
#{/set}

#{set 'navMenu'}
<li><a href="/">首　页</a></li>
<li><a class="current" href="/goods">商品库</a></li>
<li><a href="/library">我的分销库</a></li>
<li><a href="/charge">账户充值</a></li>
<li><a href="/withdraw">账户提现</a></li>
#{/set}

<div id="content" class="clearfix">
    <!-- <div class="aside"> -->
    <!-- <h3>搜索该产品的用户还看过</h3> -->
    <!-- <ul> -->
    <!-- <li> -->
    <!-- <div class="image"><a href=""><img src="@@{'/public/images/chanpin/1.jpg'}" width="200" height="110" /></a></div> -->
    <!-- <div class="name"><a href="">来伊价</a></div> -->
    <!-- <div class="price clearfix"> -->
    <!-- <span class="purchass">采购价：<b>&yen; 14.8</b></span> -->
    <!-- <span class="market">市场价：<del>Y:20.00</del></span> -->
    <!-- </div> -->
    <!-- </li> -->
    <!-- <li> -->
    <!-- <div class="image"><a href=""><img src="@@{'/public/images/chanpin/1.jpg'}" width="200" height="110" /></a></div> -->
    <!-- <div class="name"><a href="">来伊价</a></div> -->
    <!-- <div class="price clearfix"> -->
    <!-- <span class="purchass">采购价：<b>&yen; 14.8</b></span> -->
    <!-- <span class="market">市场价：<del>Y:20.00</del></span> -->
    <!-- </div> -->
    <!-- </li> -->
    <!-- <li> -->
    <!-- <div class="image"><a href=""><img src="@@{'/public/images/chanpin/1.jpg'}" width="200" height="110" /></a></div> -->
    <!-- <div class="name"><a href="">来伊价</a></div> -->
    <!-- <div class="price clearfix"> -->
    <!-- <span class="purchass">采购价：<b>&yen; 14.8</b></span> -->
    <!-- <span class="market">市场价：<del>Y:20.00</del></span> -->
    <!-- </div> -->
    <!-- </li> -->
    <!-- <li> -->
    <!-- <div class="image"><a href=""><img src="@@{'/public/images/chanpin/1.jpg'}" width="200" height="110" /></a></div> -->
    <!-- <div class="name"><a href="">来伊价</a></div> -->
    <!-- <div class="price clearfix"> -->
    <!-- <span class="purchass">采购价：<b>&yen; 14.8</b></span> -->
    <!-- <span class="market">市场价：<del>Y:20.00</del></span> -->
    <!-- </div> -->
    <!-- </li> -->
    <!-- </ul> -->
    <!-- </div>[> .aside END <] -->
#{form @ResalerGoods.index() , id:'buy_now_form'}
      <input type="hidden" id="goodsId" name="goodsId"
                   value="${goods.id}">
    <div class="summary clearfix">
        <h3>${goods.name}</h3>

        <div class="photo"><img src="${goods.imageLargePath}" width="280" height="168"/></div>
        <ul class="property">
            <li class="price">采 购 价：<span>&yen;${goods.getResalePrice()}</span></li>
            <li class="cost">市 场 价：
                <del>&yen;${goods.faceValue}</del>
            </li>
            <li class="discount">折　　扣：<span>${goods.discountExpress}</span></li>
            <li class="inventory">库　　存：<span id="inventory">${goods.getRealStocks()}</span></li>
            <li class="deadline">有效期：<span>${goods.effectiveAt?.format()} 至 ${goods.expireAt?.format()}</span></li>
            <li class="amount">购买数量：
                <span><input class="num_input_bg" id="number" name="number" type="text" value="1"/> 件</span>
                <span id="notEnough" class="error">#{error 'number' /}</span>
            </li>
            <li class="action">
                #{if goods.isExistLibrary(resaler)}
                    <a class="buy" href="/carts?goodsId=${goods?.id}" id="link_buy_now">立即购买</a>
                    <span>已加入分销库</span>
                #{/if}
                #{else}
                    <a class="add" id="link_add_cart" href="#">加入分销库</a>
                #{/else}
                <div id="add_cart_result" class="add-cart-success" style="display: none;">
                    <h3>已成功添加到分销库！</h3>
                    <span id="close_div" class="close-div">关闭</span>
                    <a href="/library">查看分销库</a>
                </div>
            </li>
        </ul>
    </div>
    <!-- .summary END -->
#{/form}
    <div class="intro">
        <h3>温馨提示</h3>

        <div class="intro-bd">${goods?.prompt?.raw()}</div>
    </div>
    <div class="intro">
        <h3>商品详情</h3>

        <div class="intro-bd">${goods?.details?.raw()}</div>
    </div>
    <div class="intro">
        <h3>使用门店</h3>

        <div class="intro-bd">
            <table width="700" border="0" cellpadding="0" cellspacing="0">

            #{if goods.shops.size() > 0}
                #{list goods.shops, as:'shop'}
                    <tr>
                        <td width="120" height="30">${shop.name}</td>
                        <td>${shop.address}</td>
                        <td>${shop.phone}</td>
                    </tr>
                #{/list}
            #{/if}

            #{if goods?.isAllShop}
                全部门店
            #{/if}

            </table>
        </div>
    </div>
    <div class="section">
    </div>
    <!-- .section END -->
</div>

