#content {
    clear: both;
    width: 960px;
    margin: 10px auto;
}

.payok {
    padding: 20px;
    margin-bottom: 20px;
    color: #666;
    text-align: center;
    border: 1px solid #dcdfe5;
}
.payok h3 {
    text-align: left;
}
.pay-money {
    margin: 30px 0;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
.pay-money span {
    color: #fb7512;
}
.confirm-pay {
    position: relative;
    display: block;
    width: 127px;
    height: 39px;
    margin: 20px auto;
}
.confirm-pay b {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 127px;
    height: 39px;
}
.reselect {
    color: #99c928;
}

.pay-ok {
    width: 280px;
    margin: 20px auto;
    padding: 10px 0 10px 60px;
    font: 700 32px 'Microsoft Yahei';
}
.vieworder {
    position: relative;
    display: inline-block;
    width: 127px;
    height: 39px;
    margin: 20px auto;
}
.vieworder b {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 127px;
    height: 39px;
}
.goshop {
    position: relative;
    display: inline-block;
    width: 127px;
    height: 39px;
    margin: 20px auto;
}
.goshop b {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 127px;
    height: 39px;
}
.note {
    padding: 24px;
    text-align: left;
}
.note i {
    color: #fb7512;
    font-style: normal;
    margin-left: -24px;
}
.note a {
    color: #99c928;
}
