#content {
    clear: both;
    width: 960px;
    margin: 10px auto;
}
.cartlist {
    padding: 10px;
    border: 1px solid #e8e8e8;
}
.cartlist h3 {
    color: #666;
    line-height: 28px;
}
.cartlist th {
    padding: 8px;
    color: #fff;
    background-color: #989898;
}
.cartlist td {
    padding: 12px 0;
    text-align: center;
    background-color: #fafafa;
    border-bottom: 1px solid #dedede;
}
.cartlist .select-all input {
    position: relative;
    top: 3px;
}
.cartlist .select {
    padding-left: 21px;
    text-align: left;
}
.cartlist .goods-name {
    text-align: left;
}
.cartlist .goods-name img {
    float: left;
    margin-right: 5px;
}
.cartlist .num-ipt {
    width: 30px;
    padding: 2px 1px;
    *margin-left: 4px;
    border: 1px solid #a8aaaf;
}
.cartlist .reduce-btn,
.cartlist .add-btn {
    width: 9px;
    height: 9px;
    overflow: hidden;
    *margin-bottom: 2px;
    display: inline-block;
    cursor: pointer;
}
.cartlist .del {
    color: #97c42a;
}

.cart-action {
    margin: 8px 0;
}
.cart-action input {
    position: relative;
    top: 2px;
    margin-right: 3px;
}
.cart-action a {
    color: #9ac82b;
}
.cart-total {
    text-align: right;
}
.cart-total .cart-amount {
    color: #f50;
    font-size: 24px;
}
.cart-total .confirm-order {
    position: relative;
    top: -12px;
    *top: 0;
    width: 127px;
    height: 39px;
    margin-left: 25px;
    display: inline-block;
}
.cart-total .confirm-order b {
    position: absolute;
    top: 0;
    left: 0;
    width: 127px;
    height: 39px;
}
.recent .hd {
    margin-top: 10px;
    color: #f97311;
    text-indent: 12px;
    font-weight: 700;
    line-height: 32px;
    border: 1px solid #e8e8e8;
    border-top: 3px solid #f97311;
}
.recent ul {
    padding: 0 1px;
}
.recent li {
    float: left;
    height: 225px;
    padding: 15px 22px 15px 0;
}
.recent li.last {
    padding-right: 0;
}
.recent .image {
    border: 1px solid #f4f4f4;
    font-size: 0;
}
.recent .image a {
    font-size: 0;
}
.recent .title {
    overflow: hidden;
    width: 174px;
    height: 44px;
}
.recent .title a {
    color: #707070;
    line-height: 22px;
}
.recent .title a:hover {
    color: #e65d00;
}
.recent .attri {
    color: #707070;
    overflow: hidden;
    width: 174px;
    height: 22px;
}
.recent .attri del {
    float: left;
    width: 100px;
    display: inline-block;
}
.recent .attri .coupon {
    float: right;
    *line-height: 21px;
    _line-height: 20px;
    padding-left: 20px;
}
.recent .price {
    color: #7d7d7d;
    line-height: 22px;
}
.recent .price b {
    color: #f00;
    font: 700 16px arial;
}
