<div class="control-group">
    <label for="fullName" class="control-label"><span style="color: red; ">*</span>商户名称</label>

    <div class="controls">
        <input type="text" id="fullName" name="supplier.fullName" class="input-xlarge" value="${supplier?.fullName}"/>
        <span class="error">#{error 'supplier.fullName' /}</span>
    </div>
</div>
<div class="control-group">
    <label for="domainName" class="control-label"><span style="color: red; ">*</span>域名</label>

    <div class="controls">
        <input type="text" id="domainName" name="supplier.domainName" class="input-xlarge"
               value="${supplier?.domainName}"/>.uhuila.com
        <span class="error">#{error 'supplier.domainName' /}</span>
    </div>
</div>
<div class="control-group">
    <label for="image" class="control-label">商户Logo</label>

    <div class="controls">
        <input type="file" id="image" name="image" class="input-file"/>
    </div>
    <div class="controls">
        <span class="error">#{error 'supplier.image'/}</span></div>
</div>
<div class="control-group">
    <label for="description" class="control-label">描述</label>

    <div class="controls">
        <textarea name="supplier.description" id="description" cols="100" rows="8"
                  style="width:700px;height:200px;">${supplier?.description}</textarea>
    </div>
</div>