<table class="use-addr" id="J_useAddr" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="70" align="right"><span class="required">*</span>地　　区：</td>
        <td>
            <select class="addr-prov" id="J_addrProv" name="addr-prov"></select>
            <select class="addr-city" id="J_addrCity" name="addr-city"></select>
            <select class="addr-dist" id="J_addrDist" name="addr-dist"></select>
        </td>
    </tr>
    <tr>
        <td align="right"><span class="required">*</span>街道地址：</td>
        <td>
            <input class="addr-street" id="J_addrStreet" type="text" /></td>
    </tr>
    <tr>
        <td align="right"><span class="required">*</span>邮政编码：</td>
        <td><input class="addr-post" id="J_addrPost" type="text" /></td>
    </tr>
    <tr>
        <td align="right"><span class="required">*</span>收 货 人：</td>
        <td>
            <input class="addr-name" id="J_addrName" type="text" />
        </td>
    </tr>
    <tr>
        <td align="right"><span class="required">*</span>手　　机：</td>
        <td>
            <input class="addr-mobile" id="J_addrMobile" type="text" /> 或 电话： 
            <input class="addr-area-code" id="J_addrAreaCode" type="text" placeholder="区号"/> - 
            <input class="addr-phone-num" id="J_addrPhoneNum" type="text" placeholder="电话号码"/> - 
            <input class="addr-phone-ext" id="J_addrPhoneExt" type="text" placeholder="分机(可选)"/> <span>手机和电话请至少填写一个</span>
        </td>
    </tr>
</table>
