<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td valign="top">
            <input name="selectedAddressId" type="radio" id="radio_address_${address.id}"
                   value="${address.id}" #{if "true".equals(address.isDefault)}checked#{/if}/>
        </td>
        <td>
            <div class="right_table" id="div_edit_address_${address.id}">
                <table class="table_height" width="700" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="71" height="30" align="right"><span class="font_red">*</span>选择地区：</td>
                        <td width="613" align="left">
                        #{select 'address.province', valueProperty:'id', labelProperty:'name', value:address.province, class:"area_select", id:"address_province_"+ address.id }
                            #{option 'ALL'}-全部-#{/option}
                            #{option '浙江'}浙江#{/option}
                        #{/select}
                        #{select 'address.city', valueProperty:'id', labelProperty:'name', value:address.city, class:"area_select", id:"address_city_"+ address.id }
                            #{option 'ALL'}-全部-#{/option}
                            #{option '温州'}温州#{/option}
                        #{/select}
                        #{select 'address.district', valueProperty:'id', labelProperty:'name', value:address.district, class:"area_select", id:"address_district_"+ address.id }
                            #{option 'ALL'}-全部-#{/option}
                            #{option 'NN区'}NN区#{/option}
                        #{/select}
                        </td>
                    </tr>
                    <tr>
                        <td height="30" align="right"><span class="font_red">*</span>详细地址：</td>
                        <td align="left">
                            <input class="input_height input_adress" type="text" name="address.address"
                                   id="address_address_${address.id}" value="${address.address}"/></td>
                    </tr>
                    <tr>
                        <td height="30" align="right"><span class="font_red">*</span>邮政编码：</td>
                        <td align="left"><input class="input_height" type="text" name="address.postcode"
                                                id="address_postcode_${address.id}" value="${address.postcode}"/></td>
                    </tr>
                    <tr>
                        <td height="30" align="right"><span class="font_red">*</span>收&nbsp;货&nbsp;&nbsp;人：</td>
                        <td align="left">
                            <input class="input_height" type="text" name="address.name" id="address_name_${address.id}"
                                   value="${address.name}"/>
                        </td>
                    </tr>
                    <tr>
                        <td height="30" align="right"><span class="font_red">*</span>手　　机：</td>
                        <td align="left" class="font_yanse">
                            <input name="address.mobile" type="text" class="input_height"
                                   id="address_mobile_${address.id}"
                                   value="${address.mobile}"/>
                            或固定电话

                            -
                            <input name="address.areaCode" type="text" class="input_height area_input"
                                   id="address_areaCode_${address.id}"
                                   fs="${address.areaCode}"/>
                            <input name="address.phoneNumber" type="text" class="input_height"
                                   id="address_phoneNumber_${address.id}"
                                   fs="${address.phoneNumber}"/>
                            -
                            <input name="address.phoneExtNumber" type="text" class="input_height"
                                   id="address_phoneExtNumber_${address.id}"
                                   fs="${address.phoneExtNumber}"/> 两者至少填写一项
                        </td>
                    </tr>
                    <tr>
                        <td height="50" colspan="2"><span class="margin_left"><a class="address_confirm_button"
                                                                                 id="link_edit_confirm"
                                                                                 addressId="${address.id}"
                                                                                 href="javascript:updateAddress(${address.id});">确认收货信息</a></span>
                                        <span class="margin_left"><a class="address_cancel_button"
                                                                     id="link_edit_cancel1"
                                                                     addressId="${address.id}"
                                                                     href="javascript:showAddress(true);">取消</a></span>
                        </td>

                    </tr>
                </table>
                <div class="clear_both"></div>
            </div>
        </td>
    </tr>
</table>