<table class="use-addr" id="J_editAddr" border="0" cellpadding="0" cellspacing="0">
    <caption>编辑以下地址：</caption>
    <tr>
        <td width="70" align="right"><span class="required">*</span>地　　区：</td>
        <td>
            <select class="addr-prov" id="J_addrProv2" name="addr-prov2"></select>
            <select class="addr-city" id="J_addrCity2" name="addr-city2"></select>
            <select class="addr-dist" id="J_addrDist2" name="addr-dist2"></select>
        </td>
    </tr>
    <tr>
        <td align="right"><span class="required">*</span>街道地址：</td>
        <td>
            <input class="addr-street" id="J_addrStreet2" type="text" value="${address.address}" /></td>
    </tr>
    <tr>
        <td align="right"><span class="required">*</span>邮政编码：</td>
        <td><input class="addr-post" id="J_addrPost2" type="text" value="${address.postcode}" /></td>
    </tr>
    <tr>
        <td align="right"><span class="required">*</span>收 货 人：</td>
        <td>
            <input class="addr-name" id="J_addrName2" type="text" value="${address.name}" />
        </td>
    </tr>
    <tr>
        <td align="right"><span class="required">*</span>手　　机：</td>
        <td>
            <input class="addr-mobile" id="J_addrMobile2" type="text" value="${address.mobile}" /> 或 电话： 
            <input class="addr-area-code" id="J_addrAreaCode2" type="text" value="${address.areaCode}" placeholder="区号"/> - 
            <input class="addr-phone-num" id="J_addrPhoneNum2" type="text" value="${address.phoneNumber}" placeholder="电话号码"/> - 
            <input class="addr-phone-ext" id="J_addrPhoneExt2" type="text" value="${address.phoneExtNumber}" placeholder="分机(可选)"/> 手机和电话请至少填写一个
        </td>
    </tr>
</table>
<script>
// 省市区三级联动
new PCAS('addr-prov2','addr-city2','addr-dist2','${address.province}','${address.city}','${address.district}');
</script>
