#{list addressList, as:'address'}
    #{set i:1/}
    <li class="#{if i++==1}first #{/if}clearfix" id="addr-li-${address?.id}">
        <div class="addr-one">
            <input type="radio" name="addr" #{if address?.isDefault}checked#{/if} id="addrId_${address?.id}" value="${address?.id}" />
            <label for="addrId_${address?.id}"><span class="addr-user">${address?.name}</span> ${address?.fullAddress} ${address.mobile}</label>
        </div>
        <div class="addr-action">
            <a class="addr-edit" data-addrid="${address?.id}" href="#">编辑</a>
            <a class="addr-del" data-addrid="${address?.id}" href="#">删除</a>
        </div>
    </li>
#{/list}
