#{extends 'layout_operate/layout.html' /}
#{include 'share/nav.html' /}
#{set title:'导出58对账清单' /}
<legend>${title}</legend>

<form class="well form-inline" name="frmlist" id="frmlist" method="GET" action="@{ExportChannelAccountChecking
.index()}">
    <div class="control-group">
        <span style="color: red;">*</span>
        日期范围
    <span style="margin-left:90px">
    <div class="input-append date bs-datepicker" data-date-format="yyyy-mm-dd">
        <input class="input-small" id="startDay" name="bill.startDay" size="16" type="text"
               value="${bill?.startDay?.format()}">

        <span class="add-on"><i class="icon-th"></i></span>
    </div>
    至
    <div class="input-append date bs-datepicker" data-date-format="yyyy-mm-dd">
        <input class="input-small" id="endDay" name="bill.endDay" size="16" type="text"
               value="${bill?.endDay?.format()}">
        <span class="add-on"><i class="icon-th"></i></span>


<span style="margin-left:50px;">
    <button class="btn " id="export58">导出
    </button>
</span>

    </div>
        </span>
    </div>


</form>
<script type="text/javascript">
    function checkItem() {
        var startDay = $("#startDay").val();
        if (!startDay) {
            alert("请选择起始日期");
            return;
        }

        var endDay = $("#endDay").val();
        if (!endDay) {
            alert("请选择结束日期");
            return;
        }

        if (startDay > endDay) {
            alert("起始日期不能大于结束日期");
            return;
        }
//        if ((new Date(endDay).getTime() - new Date(startDay).getTime()) / 1000 / 60 / 60 / 24 > 2) {
//            alert("时间范围不能大于3天");
//            return;
//        }


        $("#frmlist").attr("action", "@{ExportChannelAccountChecking.wubaExcelOut()}");
        $("#frmlist").submit();
    }

    $("#export58").click(function () {
        checkItem();
    });

</script>
