#{extends 'main.html' /}
#{form @CusersApp.index()}
<div>商户用户名：<input type="text" name="login_name" id="login_name" />
<input type="submit" value="查询"/>&nbsp;
</div>
	<table width="60%" border="1" bordercolor="#000000" cellspacing="0"	cellpadding="3">
		<tr align="center">
			<td>商家品牌</td>
            <td>商户用户名</td>
			<td>手机</td>
			<td>最后登录时间</td>
			<td>登录状态</td>
            <td>IP</td>
			<td>操作</td>
		</tr>
		#{list items:list, as:'list'}
		<tr align="center">
			<td bgcolor="#EEEEEE">${list.company_id}</td>
            <td bgcolor="#EEEEEE">${list.login_name}</td>
			<td bgcolor="#EEEEEE">${list.mobile}</td>
			<td bgcolor="#EEEEEE">${list.last_login_at}</td>
			<td bgcolor="#EEEEEE">${list.status == '1'?'在线':'离线'}</td>
			<td bgcolor="#EEEEEE"><a href="@{CusersApp.view(list.id)}">修改</a></td>
		</tr>
		#{/list}
		#{else}
		<tr align="center"><td colspan="7">	对不起，没有查询到数据！</td></tr>
		#{/else}
	</table>
#{/form}