<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>#{get 'title' /}</title>
    #{get 'metaContent'/}
    #{asset.css src:['/base/121123/base.css']/}
    <link rel="shortcut icon" href="#{asset.url href:'/images/y/favicon.ico'/}" type="image/x-icon"/>
    #{get 'moreStyles' /}
	#{asset.js src:['/u/jquery-1.7.2.min.js','/base/121031/base.js', '/u/location.js'] /}
	#{get 'moreScripts' /}
</head>
<body
#{if request.url.equals("/")}class="home"#{/if}>
%{baseDomain = play.Play.configuration.getProperty("application.baseDomain")}%
<div id="topbar">
    <div id="topbar-bd">
        <ul class="site-nav">
            #{if cas?.isLogin}
            <li class="first"><a class="login" target="_blank"
                   href="${helper.Domain.getHomeHost(request)}"
                   id="login_name">${cas.loginName}</a></li>
            <li><a href="${helper.Domain.getHomeHost(request)}">我的一百券</a></li>
            <li><a href="/logout">退出</a></li>
            #{/if}
            #{else}
            <li class="first"><a class="login" id="login" href="${helper.Domain.getWWWHost(request)}/login">登录</a></li>
            <li><a class="signup" href="${helper.Domain.getWWWHost(request)}/register">注册</a></li>
            <li><a href="${helper.Domain.getHomeHost(request)}">我的一百券</a></li>
            *{<li><a class="quick" href="" target="_blank">快捷登录</a></li>}*
            #{/else}
            <li class="last"><a id="favorite" class="favorite" href="">收藏一百券</a></li>
        </ul>
        <div class="hot-line">客服热线：<span>400-686-5151</span></div>
    </div>
</div>
<!-- #topbar -->

<div id="header" class="clearfix">
    <div id="logo"><a href="${helper.Domain.getWWWHost(request)}"><img
            src="http://img.uhcdn.com/images/y/logo.png" width="180" height="96"/></a></div>
    <div id="search">
        <form action="${helper.Domain.getWWWHost(request)}/q" method="get" target="_self">
            <div class="text"><input type="text" name="s" accesskey="s" autofocus="true" autocomplete="off"
                                     x-webkit-speech="" x-webkit-grammar="builtin:translate" value="${s}"></div>
            <button type="submit"> 搜 索</button>
        </form>
        <div class="hotword">#{list hotKeywords,as: 'keywords'}<a
                href="${keywords.link}">${keywords.title}</a>#{/list}
        </div>
    </div>
    <div id="cart">
        <div class="cart-box">
            <div class="cart-box-hd clearfix">
                <span class="cart-icon">购物车</span>
                <span class="cart-num">有(<em id="cart-js">${count}</em>)件商品</span>
                <b class="arrow"></b>
                <input type="hidden" id="reload" value="true"/>
            </div>
            <div class="cart-box-bd">
            </div>
        </div>
        <a class="cart-btn" href="${helper.Domain.getWWWHost(request)}/carts">去结算</a>
    </div>
</div>
<!-- #header -->

<!-- #header -->
<div id="navbar">
    <div class="inner">
        <div id="cate">
            <h2>全部商品<s></s></h2>

            <div class="menu">
                #{list leftCategories,as:'category'}
                <dl class="item">
                    <dt><a href="${helper.Domain.getWWWHost(request)}/q/${category.id}">${category.name}</a></dt>
                    <dd class="line"></dd>
                    <dd class="some #{if category_index==3 || category_index==5}one#{/if}">
                        <div>#{list category.getShowKeywordsList(10),as:'keywords'}<a
                                href="${helper.Domain.getWWWHost(request)}${new models.sales.GoodsWebsiteCondition()
                                .buildUrl('keywords', keywords).getUrl()}">${keywords}</a>
                            #{/list}
                        </div>
                    </dd>
                    <dd class="more">
                        <ul class="clearfix">
                            #{list category.getByParent(),as:'subCategory'}
                            <li>
                                <a href="${helper.Domain.getWWWHost(request)}${new models.sales.GoodsWebsiteCondition().buildUrl('categoryId',subCategory.id).getUrl()}">${subCategory.name}（${subCategory.goodsCount}）</a>
                            </li>
                            #{/list}
                        </ul>
                        <div class="ads">
                            <a href="${helper.Domain.getWWWHost(request)}/topic/${categoryTopic1?.id}"
                               target="_blank">#{if category_index==1}${categoryTopic1?.title}#{/if}</a>
                            <a href="${helper.Domain.getWWWHost(request)}/topic/${categoryTopic2?.id}"
                               target="_blank">#{if category_index==2}${categoryTopic2?.title}#{/if}</a>
                            <a href="${helper.Domain.getWWWHost(request)}/topic/${categoryTopic3?.id}"
                               target="_blank">#{if category_index==3}${categoryTopic3?.title}#{/if}</a>
                            <a href="${helper.Domain.getWWWHost(request)}/topic/${categoryTopic4?.id}"
                               target="_blank">#{if category_index==4}${categoryTopic4?.title}#{/if}</a>
                            <a href="${helper.Domain.getWWWHost(request)}/topic/${categoryTopic5?.id}"
                               target="_blank">#{if category_index==5}${categoryTopic5?.title}#{/if}</a>
                        </div>
                    </dd>
                </dl>
                #{/list}

                <dl class="area">
                    <dt><a href="">热门商圈</a></dt>
                    <dd class="some">#{list areas, as:'area'}
                        <a href="${helper.Domain.getWWWHost(request)}${new models.sales.GoodsWebsiteCondition().buildUrl('areaId',area.id).getUrl()}">${area.name}</a>
                        #{/list}
                    </dd>
                </dl>
            </div>
        </div>
        <div id="nav">

            <a href="${helper.Domain.getWWWHost(request)}"
            #{if categoryId == 0}class="curr"#{/if}>首页<i class="right"></i></a>
            #{list topCategories, as: 'category'}
            <a href="${helper.Domain.getWWWHost(request)}/q/${category.id}"
               #{if categoryId == category.id}class="curr"#{/if}>${category.name}#{if category.name=='餐饮美食'}<s class="hoticon"></s>#{/if}<i class="right"></i></a>
            #{/list}

        </div>

    </div>
</div>
<!-- #navbar -->

#{doLayout /}
<div id="footer">
    <div class="ft-nav">
        <a href="${helper.Domain.getWWWHost(request)}/about" target="_blank">关于我们</a>
        |
        <a href="${helper.Domain.getWWWHost(request)}/contact" target="_blank">联系我们</a>
        |
        <a href="http://www.seewi.com.cn/?page_id=40" target="_blank">招商信息</a>
        |
        <a href="${helper.Domain.getWWWHost(request)}/help" target="_blank">常见问题</a>
        |
        <span class="">客服热线：400-686-5151</span>
    </div>
    <div class="copyright">${helper.Title.copyRightTitle().raw()}</div>
</div>
<!-- #footer -->
<div style="display:none">
    #{if !play.Play.runingInTestMode()}
    <script src="http://s84.cnzz.com/stat.php?id=4205049&web_id=4205049" language="JavaScript"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '${play.Play.configuration.getProperty("google.analytics.account")}']);
        _gaq.push(['_setDomainName', '${baseDomain}']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);
        (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
        '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
        })();
    </script>
    #{/if}
</div>

</body>
</html>
