<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>#{get 'title' /}</title>
    #{get 'metaContent'/}    
    #{asset.css src:['/y/base.min.css', '/y/sprite.min.css'] /}
    <link rel="shortcut icon" href="#{asset.url href:'/images/y/favicon.ico'/}" type="image/x-icon" />
    #{get 'moreStyles' /}
    #{asset.js src:['/u/jquery-1.7.2.min.js', '/y/base.js','/u/location.js'] /}
</head>
<body>
 <div id="topbar">
    <div id="topbar-bd">
        <ul class="site-nav">
             #{if cas?.isLogin}
                <li><a class="login" target="_blank" href="http://home.${play.Play.configuration.getProperty("application.baseDomain")}" id="login_name">${cas.loginName}</a></li>
                <li><a href="http://home.${play.Play.configuration.getProperty("application.baseDomain")}">我的一百券</a></li>
                <li><a href="/logout">退出</a></li>
            #{/if}
            #{else}
                <li class="first"><a class="login" id="login" href="/login">登录</a></li> <li><a class="signup" href="/register">注册</a></li>
                <!-- <li><a class="quick" href="" target="_blank">快捷登录</a></li> -->
            #{/else}
                <li><a id="favorite" class="favorite" href="">收藏一百券</a></li>
                #{if !play.Play.runingInTestMode()}<li class="last"><iframe width="63" height="24" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0" scrolling="no" border="0" src="http://widget.weibo.com/relationship/followbutton.php?language=zh_cn&width=63&height=24&uid=2131727074&style=1&btn=red&dpc=1"></iframe></li>#{/if}
        </ul>
        <div class="share">
        <!-- Baidu Button BEGIN -->
            <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
                <span class="bds_more">分享到：</span>
                <a class="bds_tsina"></a>
                <a class="bds_qzone"></a>
                <a class="bds_tqq"></a>
                <a class="bds_renren"></a>
            </div>
        <!-- Baidu Button END -->
        </div>
    </div>
</div><!-- #topbar -->

<div id="header" class="clearfix">
    <div id="logo"><a href="http://www.yibaiquan.com/"><img src="http://img.uhcdn.com/images/y/logo.png" width="180" height="96" /></a></div>
    <div id="promise"><a href="http://www.yibaiquan.com/service"><img src="http://img.uhcdn.com/images/y/promise.png" width="525" height="96" /></a></div>
    <div id="cart">
        <div class="cart-box">
            <div class="cart-box-hd clearfix">
                <span class="cart-icon">购物车</span>
                <span class="cart-num">有(<em id="cart-count">${count}</em>)件商品</span>
                <b class="arrow"></b>
                <input type="hidden" id="reload" value="true" />
            </div>
            <div class="cart-box-bd">
            </div>
        </div>
        <a class="cart-btn" target="_blank" href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}/carts">去结算</a>
    </div>
</div><!-- #header -->
<!-- #navbar -->
<div id="navbar">
     <div id="nav">
         <a target="_blank" href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}"
            #{if categoryId == 0}class="curr"#{/if}>首页</a>
         <a target="_blank" href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}/s/1"
            #{if categoryId == 1}class="curr"#{/if}>餐饮美食</a>
         <a target="_blank" href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}/s/2"
            #{if categoryId == 2}class="curr"#{/if}>食品饮料</a>
         <a target="_blank" href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}/s/7"
            #{if categoryId == 7}class="curr"#{/if}>休闲娱乐</a>
         <a target="_blank" href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}/s/11"
            #{if categoryId == 11}class="curr"#{/if}>酒店旅游</a>
         <a target="_blank" href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}/s/13"
            #{if categoryId == 13}class="curr"#{/if}>家居建材</a>
     </div>
</div>
<!-- #navbar -->

#{doLayout /}

<div id="footer">
    <div class="ft-nav">
        <a href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}/about" target="_blank">关于我们</a> |
        <a href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}/contact" target="_blank">联系我们</a> |
        <a href="http://quanmx.com/" target="_blank">商户入驻</a> |
        <a href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}/help" target="_blank">常见问题</a> |
        <span class="">客服热线：400-686-5151</span>
    </div>
    <div class="copyright">${helper.Title.copyRightTitle().raw()}</div>
</div><!-- #footer -->

#{get 'moreScripts' /}
<div style="display:none">
#{if !play.Play.runingInTestMode()}
<script type="text/javascript" id="bdshare_js" data="type=tools&uid=763119" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">document.getElementById("bdshell_js").src = "http://share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();</script>
<script src="http://s84.cnzz.com/stat.php?id=4205049&web_id=4205049" language="JavaScript"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '${play.Play.configuration.getProperty("google.analytics.account")}']);
  _gaq.push(['_setDomainName', '${play.Play.configuration.getProperty("application.baseDomain")}']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
#{/if}
</div>
</body>
</html>
