#{extends 'layout_operate/crm_layout.html' /}
#{set title:'消费者信息管理系统' /}
*{#{include '/share/nav.html' /}}*
#{set 'moreScripts'}

#{/set}
#{set 'moreStyles'}
<style type="text/css">
    .table-striped tbody .tr-offsale {
        color: #A0A0A0;
    }

    .table-striped tbody tr.transparent td td {
        border-left: 0px;
        background: transparent;
    }

    .expired {
        color: #ffbe28;
        font-weight: bold;
    }

    .zeroBaseSale {
        color: #942e8f;
        font-weight: bold;
    }

    .rank {
        background-image: url(http://img.uhcdn.com/images/r/rank.png);
        background-position: right 6px;
        background-repeat: no-repeat;
    }

    .rank-asc {
        background-position: right -15px;
    }

    .rank-desc {
        background-position: right -36px;
    }

    .span7 {
        margin-left: 0px;
    }

</style>
#{/set}

<div class="body">
<div class="span7">


<table>

    <tr>
        <td>
            <form class="form-horizontal" name="frmlist" id="frmlist" action="@{OperateCRM.jumpPrevIndex()}"
                  method="GET">
                <input type="hidden" type="text" name="phone" id="phone" value="${phone}"/>
                <input type="hidden" type="text" name="consultId" id="consultId" value="${consultId}"/>
                <input type="hidden" type="text" name="userId" id="userIdSearch1" value="${userId}"/>

                手机号或邮箱： <input type="text" name="condition.searchUser" class="input-medium"


            #{if phone!=null && times==1}
                               value="${phone}"
            #{/if}
            #{else}
                               value="${condition?.searchUser}"
            #{/else}/>

            #{if user!=null}
                <input type="hidden" type="text" name="userIdNew" id="user2" value="${user.id}"/>
            #{/if}
                <button class="btn btn-primary" id="searchbtn" type="submit">搜索</button>
            </form>
        </td>
        <td>
            <form class="form-horizontal" name="frmlist2" id="frmlist2" action="@{OperateCRM.jumpPrevIndex()}"
                  method="GET">
                <input type="hidden" type="text" name="phone" id="phone" value="${phone}"/>
                <input type="hidden" type="text" name="consultId" id="consultId" value="${consultId}"/>
                <input type="hidden" type="text" name="userId" id="userIdSearch2" value="${userId}"/>
                订单号或券号尾4位： <input type="text" name="condition.searchOrderCoupon" class="input-medium"
                                  value="${condition?.searchOrderCoupon}"/>
            #{if user!=null}
                <input type="hidden" type="text" name="userIdNew" id="user4" value="${user.id}"/>
            #{/if}
                <button class="btn btn-primary" id="searchbtn2" type="submit">搜索</button>
            </form>
        </td>
    </tr>
</table>

#{if searchUserList!=null && searchUserList.size()>0}
<table class="table table-striped table-bordered table-condensed">

    <thead>

    <tr>
        <th width="10">姓名</th>
        <th width="50">手 机</th>
        <th width="30">邮箱</th>
        <th width="30">性别</th>
        <th width="50">可提现</th>
        <th width="50">不可提现</th>
        <th width="50">积分</th>
        <th width="50">地址</th>
        <th width="50">操作</th>
    </tr>
    </thead>
    <tbody>

        #{set j:0/}
        #{list items: searchUserList, as:'searchUser'}
            #{set i:1/}
            #{set i=1/}
        <tr>
            <td>${searchUser?.userInfo?.fullName}</td>
            <td>${searchUser?.mobile} </td>
            <td>${searchUser?.loginName}</td>
            <td>
                #{if searchUser!=null}
                ${(searchUser?.userInfo?.userSex==1 || searchUser?.userInfo?.userSex==0) ?'男':'女'}
                #{/if}
            #{else}
            #{/else}
            </td>
            <td>${searchUser?.account?.amount?.formatCurrency('CNY')}</td>
            <td>${searchUser?.account?.promotionAmount?.formatCurrency('CNY')}</td>
            <td>${searchUser?.userInfo?.totalPoints}</td>
            <td>

            ${addressMap?.get(searchUser.id)?.address}
            </td>
            <td>
                #{list items: userList, as:'boundUser'}

                    #{if boundUser.id!=searchUser.id}
                        #{set i++/}
                    #{/if}

                #{/list}
                #{if i!=userList.size()}

                    <a href="javascript:openW('/crm/bind_search_user?phone=${phone}&userId=${searchUser.id}&loginName=${searchUser.loginName}')">绑定</a>
                #{/if}


            </td>
        </tr>
            #{set j++/}
        #{/list}

    </tbody>
</table>

#{/if}
<table width="50%">
    <tr>

    </tr>
</table>

*{订单}*
#{if orderList!=null && orderList.size() > 0}
<table class="table table-striped table-bordered table-condensed">
    <thead>


    <tr>
        <th width="10">订单号</th>
        <th width="50">商品名称</th>
        <th width="30">订单状态</th>
        <th width="30">总金额</th>
        <th width="50">下单时间</th>

    </tr>
    </thead>

    <tbody>


        #{list items: orderList, as:'order'}


        <tr>
            <td rowspan="${order?.orderItems?.size()}"><a href="@{OperateOrders.details(order?.id)}"
                                                          target="_blank">${order.orderNumber}
            </td>

        *{有实物券时}*
            #{if order.realGoods?.size()>0}
                <td>
                    #{if models.sales.MaterialType.ELECTRONIC.equals(order.realGoods?.get(0)?.materialType)}
                    ${order.realGoods?.get(0)?.name}
                    #{/if}
                        #{else}
                ${order.realGoods?.get(0)?.name}
                #{/else}
                </td>
                <td rowspan="${order.realGoods?.size()}">
                    #{if order.deliveryNo!=null}
                        <a id="sendInfo_${order.id}"

                           href="#" class="label label-info"
                           rel="popover"
                           data-content="运单号: ${order.deliveryNo}"
                           data-original-title="物流公司: ${order.deliveryCompany}"
                           onmouseover="$('#sendInfo_${order.id}').popover();">
                        &{'order.'+ order.realGoodsStatus}</a>
                    #{/if}
                    #{else}&{'order.'+order.realGoodsStatus}#{/else}
                    #{if models.order.OrderStatus.PAID.equals(order.realGoodsStatus)}
                        <br/><a href="#" id="linkSend_${order.id}" onclick="prepareSend(${order.id})">发货</a>
                    #{/if}
                </td>
            #{/if}

            #{else}
            *{有电子券时}*
                #{if order.electronicGoods?.size()>0}
                    <td>
                    ${order.electronicGoods.get(0).name}&nbsp;
                    </td>
                    <td rowspan="${order.electronicGoods.size()}">&{'order.'+order.electronicGoodsStatus}</td>
                #{/if}
                #{else}
                    <td>&nbsp;</td>
                    <td rowspan="${order.electronicGoods.size()}">&{'order.'+order.electronicGoodsStatus}</td>
                #{/else}
            #{/else}

            <td rowspan="${order?.orderItems?.size()}">${order.amount?.formatCurrency('CNY')}</td>
            <td rowspan="${order?.orderItems?.size()}">${order.createdAt?.format("yyyy-MM-dd HH:mm:ss")}</td>

        </tr>

            #{set i:0/}
            #{set showRealStatus:true/}
            #{if order.realGoods?.size()>0}
                #{list items:order.realGoods, as:'aRealGoods'}
                    #{if i>0}
                    <tr test="i=${i}">
                    </tr>
                    #{/if}
                    #{set i:i+1/}
                #{/list}
            #{/if}

            #{set j:0/}
            #{set showElectronicStatus:true/}
            #{list items:order.electronicGoods, as:'aElectronicGoods'}
                #{if (order.realGoods?.size()==0 && j>0) ||(order.realGoods?.size()>0) }
                <tr>
                    #{if showElectronicStatus && order.realGoods?.size()>0}
                        <td rowspan="${order.electronicGoods.size()}">&{'order.'+order.electronicGoodsStatus}</td>
                        #{set showElectronicStatus:false/}
                    #{/if}
                </tr>

                #{/if}
                #{set j:j+1/}
            #{/list}

        #{/list}
    </tbody>

</table>
<div style="text-align: right; margin-top:-15px;">
    #{if  orderListSize >3}
        <a href="/orders?condition.allSearch=${moreSearch}"
           target="_blank" style="font-size:15px"> 更多</a>
    #{/if}
</div>
#{/if}

#{else}
没有订单信息
#{/else}

*{券}*

#{if eCoupons!=null  && eCoupons.size() > 0}
<table class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th width="8px">券尾号</th>
        <th width="10px">券订单号</th>
        <th width="8px">手机</th>
        <th width="30px">单价</th>

        <th width="50px">付款时间</th>
        <th width="50px">消费门店</th>
        <th width="50px">消费时间</th>
        <th width="20px">状态</th>
    </tr>
    </thead>

    <tbody>
        #{list items:eCoupons, as:'coupon' }
            #{set i:0/}
            #{set i=0/}
        <tr>

        %{
            len=coupon.eCouponSn.length();
            }%

            <td  #{if coupon?.status==models.order.ECouponStatus.REFUND}

                    style="color:red"

            #{/if}>${coupon?.eCouponSn.substring(len - 4)}
                #{if couponCallBindList!=null}
                    #{list items: couponCallBindList, as:'bind'}
                        #{if bind.consultId==consultId && coupon.id==bind.couponId}
                            #{set i++/}
                        #{/if}

                    #{/list}
                #{/if}
                #{if i==0}
                *{consult.text${consult?.text}}*
                *{condition.searchUser :${ condition.searchUser}}*
                *{condition.searchOrderCoupon:${condition.searchOrderCoupon}}*
                    <a type="submit"
                       href="javascript:void(openW('/crm/bind?phone=${phone}&consult.text=${consult?.text}&couponId=${coupon.id}&userId=${coupon.order.userId}&consultId=${consultId}&condition.searchUser=${condition.searchUser}&condition.searchOrderCoupon=${condition.searchOrderCoupon}'))">绑定</a>
                #{/if}


            </td>

            <td><a href="@{OperateOrders.details(coupon?.order?.id)}"
                   target="_blank"  #{if coupon?.status==models.order.ECouponStatus.REFUND}


                   style="color:red"

                #{/if}>

            ${coupon?.order?.orderNumber}</a></abbr></td>


            <td  #{if coupon?.status==models.order.ECouponStatus.REFUND || phone.equals(coupon?.orderItems?.phone)}


                    style="color:red"

            #{/if}>${coupon?.orderItems?.phone}</td>


            <td  #{if coupon?.status==models.order.ECouponStatus.REFUND}


                    style="color:red"

            #{/if}>${coupon?.salePrice?.formatCurrency('CNY')}</td>


            <td>
                <a id="cancelInfo_${coupon.id}"
                   href="#" class="label label-info"
                   rel="popover"
                   data-content=" ${coupon?.order?.paidAt?.format("yyyy-MM-dd HH:mm:ss")} "
                   data-original-title="精确时间:"
                   onmouseover="$('#cancelInfo_${coupon.id}').popover();"  #{if coupon?.status==models.order.ECouponStatus.REFUND}


                   style="color:red"

                #{/if}>
                ${coupon?.order?.paidAt?.format("MM-dd HH:mm")}

                </a></td>
            <td  #{if coupon?.status==models.order.ECouponStatus.REFUND}


                    style="color:red"

            #{/if}>${coupon?.getConsumedShop()}</td>

            <td>
                <a id="cancelInfo_${coupon.id}"
                   href="#" class="label label-info"
                   rel="popover"
                   data-content=" ${coupon?.consumedAt?.format("yyyy-MM-dd HH:mm:ss")} "
                   data-original-title="精确时间:"
                   onmouseover="$('#cancelInfo_${coupon.id}').popover();"  #{if coupon?.status==models.order.ECouponStatus.REFUND}


                   style="color:red"

                #{/if}>
                ${coupon?.consumedAt?.format("MM-dd HH:mm")}

                </a></td>

            <td  #{if coupon?.status==models.order.ECouponStatus.REFUND}


                    style="color:red"

            #{/if}>&{'coupon.'+coupon?.status}
            </td>

        </tr>

        #{/list}


    </tbody>

</table>
<div style="text-align: right; margin-top:-15px;">
    #{if eCouponsSize>5}

        <a href="/coupons?condition.allSearch=${moreSearch}"

           target="_blank" style="float:right; font-size:larger;"> 更多</a>

    #{/if}
</div>

#{/if}



#{else}
没有券记录
#{/else}

#{if withdrawBill!=null&& withdrawBill.size() > 0}
<div>
    <table class="table ">
        <tr>
            <th>提现申请时间</th>
            <th>申请金额</th>
            <th>申请状态</th>
            <th>审批时间</th>
            <th>操作</th>
        </tr>
        #{list items:withdrawBill, as:'withdrawBill'}
            <tr>
                <td>${withdrawBill.appliedAt.format('yyyy-MM-dd HH:mm:ss')}</td>
                <td>${withdrawBill.amount.formatCurrency('CNY')}</td>
                <td>&{'withdraw.' + withdrawBill.status}</td>
                <td>${withdrawBill.processedAt?.format('yyyy-MM-dd HH:mm:ss')}</td>
                <td>
                    <a href="/withdraw/detail/${withdrawBill.id}" target="_blank"> 查看详情 </a>
                </td>
            </tr>
        #{/list}
    </table>
</div>
<div style="text-align: right; margin-top:-15px;">
    #{if withdrawBillSize>5}
        <a href="withdraw?condition.searchUser=${condition.searchUser}"
           target="_blank" style="float:right; font-size:larger;"> more</a>
    #{/if}
</div>
#{/if}

</div>


<div class="span5">

#{if userList!=null && userList.size() > 0 && user!=null}

    <form id="form">

        #{if userList.size()>1}
            切换用户
            #{select 'condition.userId', id:userId, class:'select', value:userId, onchange:"refresh('${phone}','${consultId}')"}

                #{list items:userList, as:'userList'}
                    #{option userList?.id}
                        #{if userList.loginName!=null}
                            邮箱${userList?.loginName }
                        #{/if}
                        #{if userList.mobile!=null}
                            手机${userList?.mobile}
                            uid${userList?.id}
                        #{/if}
                    #{/option}
                #{/list}
            #{/select}
        #{/if}
    </form>
    <ul class="nav">

        <table class="table table-bordered" style="margin-bottom: 18px;" width="0">

            <tr>
                <td width="20%">客 户姓 名：${user?.userInfo?.fullName}</td>
                <td width="20%"> 手 机：${user?.mobile} </td>
                <td width="20%"> 邮 箱: ${user?.loginName}</td>
                <td width="20%"> 性别：

                    #{if user!=null}
                    ${(user?.userInfo?.userSex==1 || user?.userInfo?.userSex==0) ?'男':'女'}
                    #{/if}
                    #{else}
                    #{/else}


                </td>
            </tr>
            <tr>
                <td width="20%"> 可提现： ${user?.account?.amount?.formatCurrency('CNY')}</td>
                <td width="20%"> 不可提现： ${user?.account?.promotionAmount?.formatCurrency('CNY')}</td>
                <td width="20%">积分： ${user?.userInfo?.totalPoints}</td>
                <td width="20%">地址： ${address?.address}</td>
            </tr>
        </table>
    </ul>

#{/if}
#{else}
    没有用户记录
#{/else}



#{form @OperateCRM.tempSave(), method: 'POST',id:'form1',enctype:'multipart/form-data',class:"form-horizontal" }

    <input type="hidden" type="text" name="phone" id="phone" value="${phone}"/>
    <input type="hidden" type="text" name="consultId" id="consultId" value="${consultId}"/>

    <input type="hidden" type="text" name="userId" id="consultUserId" value="${userId}"/>
    <input type="hidden" name="condition.searchUser" class="input-medium" value="${condition?.searchUser}"
    <input type="hidden" name="condition.searchOrderCoupon" class="input-medium"
           value="${condition?.searchOrderCoupon}"/>


    #{if user!=null}
        <input type="hidden" type="text" name="user.id" id="user" value="${user.id}"/>
    #{/if}

    咨询类型
    #{select 'consult.consultType', value:consult?.consultType, id:'consult_type',class:'span4'}
        #{option models.sales.ConsultType.ORDERCONSULT }&{'consult.ORDERCONSULT'}#{/option}
        #{option models.sales.ConsultType.REFUND}&{'consult.REFUND'}#{/option}
        #{option models.sales.ConsultType.VERIFYERROR}&{'consult.VERIFYERROR'}#{/option}
        #{option models.sales.ConsultType.WEBSITEBROKEN}&{'consult.WEBSITEBROKEN'}#{/option}
        #{option models.sales.ConsultType.QUESTIION}&{'consult.QUESTIION'}#{/option}
        #{option models.sales.ConsultType.FEEDBACK}&{'consult.FEEDBACK'}#{/option}
        #{option models.sales.ConsultType.COMPLAINT}&{'consult.COMPLAINT'}#{/option}
        #{option models.sales.ConsultType.OUTDIAL}&{'consult.OUTDIAL'}#{/option}
        #{option models.sales.ConsultType.RESERVATION}&{'consult.RESERVATION'}#{/option}
    #{/select}

    <textarea rows="3" cols="20" name="consult.text" id="consult_text"
            >${consult?.text}</textarea>

*{#{ifErrors}}*
*{<br>}*
*{${errors[0]}}*
*{<br>}*
*{${errors[1]}}*
*{<br>}*
*{${errors}}*
*{#{errors}}*
*{1>> ${errors.contains("请输入")}}*
*{<br>}*
*{2>>${errors.contains("couponCallBindList")}}*
*{#{if errors.indexOf("请输入!")!=-1 && errors.indexOf("无效的couponCallBindList!")==-1 }}*
*{<span style=color:red> 请输入咨询内容</span>}*
*{#{/if}}*
*{#{/errors}}*
*{#{/ifErrors}}*


    #{ifErrors}
        <span style=color:red>   <br>
        ${errors}</span>
    #{/ifErrors}

    <div class="error">#{error 'consult.text' /}</div>

    <br>
    <input class="btn btn-primary" id="save" type="submit" #{if !org.apache.commons.lang.StringUtils.isNotBlank(phone)}
           disabled="disabled" #{/if}value="临时保存"/>

    <a class="btn btn-primary" id="finish" type="button">结束会话</a>

    <a class="btn btn-primary" id="abandon" onclick="abandon('${consultId}')" type="button">放弃</a>

    #{list items: consultContent, as:'consult'}


    <div>
        <hr size="1" noshade="noshade" style="border:1px #cccccc dotted;">
    ${consult?.phone} &nbsp;

    ${consult?.loginName}  &nbsp;
    &{'account.type.' + consult.userType}

        <span style="color:red">  &{'consult.'+consult?.consultType}   </span> :      ${consult?.text}
        #{if consult.couponCallBindList!=null}
            #{if consult.couponCallBindList.size()>0}
                <br>
                相关券咨询：
                #{list items:  consult.couponCallBindList, as:'bind'}
                    <a href="/crm/bindCouponDetails?phone=${phone}&couponId=${coupon.id}&userId=${coupon.order.userId}&consultId=${consultId}"
                       target="_blank">   ${bind?.eCouponSn}  </a>
                    &nbsp;
                #{/list}
            #{/if}
        #{/if}
        <br>
    ${consult?.createdAt?.format("yyyy-MM-dd HH:mm:ss")}

    ${consult?.createdBy}


    #{/list}


#{/form}


</div>

</div>


<script type="text/javascript">

    //    $(document).ready(function () {
    //        $("#show").click(function () {//选中button,并监听click事件
    //            //点击button，选中div并作为dialog显示，只需要调用dialog()
    //            $("#dialog").dialog();
    //        });
    //    });
    //
    //
    //    $(function () {
    //        $("#dialog").dialog();
    //    });

    function prepareSend(id) {
        $("#form").attr("action", "/crm/" + id);
    }


    function prepareSendEdit(id) {
        $("#form").attr("action", "/crm/" + id + "/edit");
        $("#form").attr("method", "GET");
    }

    $(function () {
        var checkedcnt = 0;
        $("#deletebtn").click(function () {

            $("#form").attr("action", "/crm/" + id + "?x-http-method-override=DELETE");
            $("#form").attr("method", "POST");


            var msg = "确认删除记录吗？";
            if (confirm(msg) == true) {

                return true;
            }
            else {
                return false;
            }

        });

    });

    function refresh(phone, consultId) {
        var url = "/callcenter/phone/" + phone + "/record/" + consultId;
        $("#form").attr("method", "GET");
        $("#form").attr("action", url);
        $("#form").submit();
    }

    function abandon(consultId) {
        var url = "/callcenter/phone/abandon/" + consultId;
        $("#form1").attr("method", "GET");
        $("#form1").attr("action", url);
        $("#form1").submit();
    }


    $("#finish").click(function () {

        $("#form1").attr("action", "/callcenter/phone/record/save");

        $("#form1").attr("method", "POST");
        $("#form1").submit();

    });

</script>


<script>
    function openW(v) {
        window.open(v, '', 'width=2000,height=2000,left=200,top=200,status=no,scrollbars=no,menubar=no,toolbar=no,resizable=1,location=no');
    }

</script>