<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" threshold="all">
    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %p: %m%n"/>
        </layout>
    </appender>

    <appender name="SYSLOG" class="org.apache.log4j.net.SyslogAppender">
        <param name="syslogHost" value="logserver:29305"/>
        <param name="Facility" value="LOCAL1"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %p: %m%n"/>
        </layout>
    </appender>

    <logger name="play">
        <level value="INFO" />
    </logger>

    <root>
        <level value="WARN" />
        <appender-ref ref="Console" />
        <appender-ref ref="SYSLOG" />
        <!-- 这里不能有email log配置 -->
    </root>
</log4j:configuration>
