/****
* common.台css 鍏辩敤鏂囦欢
*********************
鍖呭惈鍚庡彴澶撮儴銆佸鑸潯銆佸乏杈广€佷互鍙婂叏灞€鏍峰紡瀹氫箟
********************* 
* auth: szw
* time: 2010-12-11
* version: ver 2.0
*/

/*************  閫氱敤css鏍峰紡   **********/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

button{ cursor: pointer;}

body{
color:#333333;
font:12px/1.5 瀹嬩綋,Arial,sans-serif;

}
a {
    text-decoration:none;
    color:#666
}
a:visited {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

a.link_fff12 {
    color:#fff;
}
a.link_0243bf {
    color:#0243bf;
}
a.link_999 {
    color:#999;
}
a.link_d23927 {
    color:#d23927;
}
strong {
font-weight:bold;
}
h1, h2, h3, h4, h5, h6 {
font-size:100%;font-weight:normal;}
h1 {font-size:14px;}
h2 {font-size:13px;}
h3 {font-size:12px;}

.clear {
    clear:both;
    height:0px;
    zoom:1;
    font-size:0px;
    line-height:0px;
}
.hr {
    width:100%;
    height:1px;
    font-size:1px;
    line-height:1px;
    background-color:#ececec;
}

/**鑳屾櫙鍥剧墖缁熶竴瀹氫箟**/
/*bg_nav_h.gif*/
.smallbtn, .bigbtn, .menu li.t, .menu li.first, .menu li.b, #h_right .t, #h_right .list a:hover, #h_right .list a.current, #h_right .b, #ukgl-center .t, #ukgl-center  .list a:hover, #ukgl-center  .list a.current, #ukgl-center  .b, .topnav a.current, .topnav a:hover {
    background:url(../images/uhl/bg_nav_h.gif) no-repeat;
}
/*icon.gif*/
.menu li b, .menu dl b, .area #city, #header li.shopcar {
    background:url(../images/uhl/icon.gif) no-repeat;
}
/*xbg.gif*/
.menu li.list, .menu dl, #ukgl-center .main, #h_right .main {
    background:url(../images/uhl/xbg.gif) repeat-y;
}
/*c2cbg.gif*/
.cmenu li.t, .cmenu li b, .cmenu li.b, .cmenu li.first {
    background:url(../images/uhl/c2cbg.gif) no-repeat;
}
/*c2cybg.gif*/
.cmenu li.list, .cmenu dl {
    background:url(../images/uhl/c2cybg.gif) repeat-y;
}
/*bg_nav.gif*/
.searchbox, .searchbtn, .searchitem a.current, .searchitem a:hover, .greyinput {
    background:url(../images/uhl/bg_nav.gif) no-repeat;
}
/*page.icon.png*/
.page a.pn, .page a.pp,.page a.pn_gray, .page a.pp_gray, .page .btn {
    background:url(../images/uhl/page.icon.png) no-repeat;
}
/*bg.gif*/
#header .headbar, .f3, .t_m, .b_m span, .topnav,.cart_topnav {
    background:url(../images/uhl/bg.gif) repeat-x;
}
/*bg_table.gif*/
.f1 ul {
    background:url(../images/uhl/bg_table.gif) no-repeat;
}
/*bt.gif*/
.btg170 {
    background:url(../images/uhl/bt.gif) no-repeat;
}
/*box.gif*/
.t_l, .t_r, .m_r, .b_l, .b_r, a.close {
    background:url(../images/uhl/box.gif) no-repeat;
}
/*box_c.gif*/
.m_l {
    background:url(../images/uhl/box_c.gif) repeat-y;
}
/*level.png*/
.level1, .level2, .level3, .level4, .level5{
    background:url(../images/uhl/level.png) no-repeat;
}
/*c2c.table.bg.gif*/
.gtable_tl, .gtable_tr {
    background:url(../images/uhl/c2c.table.bg.gif) no-repeat;
}
/*c2c.table.bg.png*/
.table_tl, .table_tr, .table_bl, .table_br {
    background:url(../images/uhl/c2c.table.bg.png) no-repeat;
}
/*c2c.table.xbg.png*/
.table_c {
    background:url(../images/uhl/c2c.table.xbg.png) repeat-y;
}
.smallbtn {
    border:0px;
    width:71px;
    height:24px;
    line-height:24px;
    color:#fff;
    margin:0px 15px;
    letter-spacing:3px;
    word-spacing:3px;
    cursor:pointer;
    background-position: -289px -35px;
}
.bigbtn {
    width:125px;
    border:0px;
    height:24px;
    line-height:24px;
    color:#fff;
    margin-left:82px;
    display:inline;
    cursor:pointer;
    font-weight:bold;
    background-position: -364px -35px;
}
/*甯︾伆鑹叉笎鍙樼殑杈撳叆妗�*/
input.greyinput{
    border:1px solid;
    border-top-color:#c0c3c3;
    border-left-color:#c0c3c3;
    border-right-color:#a8acad;
    border-bottom-color:#a8acad;
    padding:2px;
    height:18px;
    line-height:20px;
    background-position: -320px -175px;
    width:145px;
}

/*shanghu.html璇勬槦绾у紑濮� 2011-01-25 gyp*/
/*鏄熺骇璇勮*/
.redStar {
    float:left;
    display:block;
    background:url(../images/uhl/star.gif) no-repeat;
    width:110px;
    height:20px;
    clear:both;
}
.star11{
    background-position:url(../images/uhl/star.gif) 0px 0px;
}
.star10{
    background:url(../images/uhl/star.gif) 0px -20px;
}
.star9{
    background:url(../images/uhl/star.gif) 0px -40px;
}
.star8{
    background:url(../images/uhl/star.gif) 0px -60px;
}
.star7{
    background:url(../images/uhl/star.gif) 0px -80px;
}
.star6{
    background:url(../images/uhl/star.gif) 0px -101px;
}
.star5{
    background:url(../images/uhl/star.gif) 0px -121px;
}
.star4{
    background:url(../images/uhl/star.gif) 0px -141px;
}
.star3{
    background:url(../images/uhl/star.gif) 0px -161px;
}
.star2{
    background:url(../images/uhl/star.gif) 0px -182px;
}
.star1{
    background:url(../images/uhl/star.gif) 0px -202px;
}
/*鏄熺骇璇勮 缁撴潫*/  

/*shanghu.html璇勬槦绾х粨鏉�*/


/*鍥剧墖妗�*/
a.img_block {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    *display: block;
    overflow:hidden;
}
a.img_block img{
    vertical-align:middle;
}

/**********************宸﹁竟鑿滃崟鏍�*****************************/
#menu_main {
    width:168px;
    height:auto;
    float:left;
    margin-left:10px;
    _margin-left:5px;
    overflow:hidden;
}
    .menu li {
        float:left;
        height:30px;
        line-height:30px;
        overflow:hidden;
        white-space:nowrap;
    }
    .menu li.t {
        width:168px;
        height:32px;
        line-height:32px;
        overflow:hidden;
        cursor:pointer;
        background-position: -2px -75px;
    }
    .menu li strong {
        font-size:12px;
        font-weight:bold;
        float:left;
        margin-left:47px;
        display:inline;
    }
    .menu li b {
        display:block;
        width:13px;
        height:13px;
        float:right;
        display:inline;
        margin:7px 10px 0px 0px;
        cursor:pointer;
        background-position: -190px -30px;
    }
    .menu li.list {
        width:168px;
        height:auto;
        overflow:hidden;
        background-position: 0px 0px;
    }
    .menu dl {
        float:left;
        width:124px;
        height:30px;
        line-height:30px;
        padding-left:38px;
        overflow:hidden;
        background-position: 0px 0px;
    }
    .menu dl b{
        display:block;
        float:left;
        width:5px;
        height:5px;
        margin:12px 8px 0px 0px;
        background-position: -252px -28px;
    }
    .menu dl a{
        float:left;
    }
    .menu dl a:hover{
        color:#B23621;
        text-decoration:none;}
    .menu dl a.current{
        color:#c43f27;
    }
    .menu li.first {
        background-position: -2px -30px;
    }
    .menu li.b {
        width:100%;
        height:10px;
        overflow:hidden;
        background-position: -2px -65px;
    }
    
    .menu li.collapse b{
        background-position: -204px -30px;
    }
    .menu li.last strong{
        margin-left:70px;
    }
/**********************宸﹁竟鑿滃崟鏍�(c2c)*****************************/
#cmenu_main {
    width:146px;
    height:auto;
    float:left;
    display:inline;
    overflow:hidden;
}
    .cmenu li {
        float:left;
        height:30px;
        line-height:30px;
        overflow:hidden;
        white-space:nowrap;
    }
    .cmenu li.t {
        width:146px;
        height:31px;
        line-height:31px;
        overflow:hidden;
        cursor:pointer;
        background-position: -315px -165px;
    }
    .cmenu li.t a{
        color:#1357ac;
    }
    .cmenu li.t a:hover{
        color:#ff0000;
        text-decoration:none;
    }
    .cmenu li strong {
        display:block;
        font-size:12px;
        font-weight:normal;
        color:#1357ac;
        float:left;
        width:100px;
        text-align:center;
        display:inline;
        padding-left:20px;
    }
    .cmenu li b {
        display:block;
        width:12px;
        height:12px;
        float:right;
        display:inline;
        margin:10px 10px 0px 0px;
        cursor:pointer;
        background-position: -695px -125px;
    }
    .cmenu li.list {
        width:146px;
        height:auto;
        overflow:hidden;
        background-position: 0px 0px;
    }
    .cmenu dl {
        float:left;
        width:146px;
        height:30px;
        line-height:30px;
        overflow:hidden;
        background-position: 0px 0px;
    }

    .cmenu dl a{
        float:left;
        width:144px;
        display:block;
        text-align:center;
    }
    .cmenu dl a:hover, .cmenu dl a.current{
        text-decoration:none;
        color:#ff0000;
    }
    .cmenu li.first {
        background-position: -315px -120px;
    }
    .cmenu li.b {
        width:100%;
        height:7px;
        overflow:hidden;
        background-position: -315px -156px;
    }
    
    .cmenu li.collapse b{
        background-position: -708px -123px;
    }   
/********鍒嗛〉***********/
.page {
    padding:5px 0px;
    margin:0px auto;
    text-align:center;
    clear:both;
    color:#666;
}
.page .prevnext {
    width:224px;
    margin:0px auto;
}
.page .pagenum {
    width:100%;
    margin:8px auto 0px;
    clear:both;
    height:32px;
    line-height:32px;
}
.page a{
    border:1px solid #cecece;
    padding:4px 8px;
    margin:0px 4px 0px 0px;
    color:#008cce;
    height:24px;
    line-height:24px;
}
.page a:hover, .page a.current{
    color:#ab3521;
    border:1px solid #ab3521;
    text-decoration:none;
}
.page a.pn, .page a.pp ,.page a.pp_gray,.page a.pn_gray{
    padding:0px;
    border:0px;
    display:block;
    float:left;
    margin:0px 20px;
    display:inline;
    width:71px;
    height:24px;
    background-position: 0px -25px;
}
.page a.pn:hover, .page a.pp:hover ,.page a.pp_gray:hover,.page a.pn_gray:hover{
    border:0px;
}
.page a.pp {
    background-position:0px 0px;
}
.page a.pp_gray {
    background-position:-81px 0px;
}
.page a.pn_gray {
    background-position:-81px -25px;
}
.page span {
    color:#999;
}
.page .input {
    border:1px solid #cecece;
    width:55px;
}
.page .btn {
    border:0px;
    width:70px;
    height:25px;
    margin:0px 0px 0px 4px;
    background-position: 0px -50px;
}
/*鍒嗛〉缁撴潫*/

/***************浼氬憳涓績 瀵艰埅鏉�****************/
.topnav,.cart_topnav {
    width:100%;
    height:24px;
    line-height:24px;
    margin-bottom:8px;
    border-bottom:2px solid #d72828;
    overflow:hidden;
    float:left;
    background-color:#ebebeb;
    background-position: 0px -189px;
    background-repeat::repeat-x;
    position:relative;
}
    .topnav a {
        display:block;
        float:left;
        width:109px;
        height:24px;
        line-height:24px;
        overflow:hidden;
        text-align:center;
        word-spacing: 3px;
        letter-spacing:3px;
        margin-right:3px;
        font-weight:bold;
    }
    .topnav a.current, .topnav a:hover {
        color:#fff;
        text-decoration:none;
        background-position: -174px -35px;
    }
    
/*******************浼氬憳涓績澶撮儴(鍖呮嫭甯︽悳绱㈡澶撮儴銆佺畝澶�)*******************/
#header {
    width:100%;
    position:relative;
    overflow:hidden;
    margin-bottom:8px;
}

#header .headmain {
    width:1000px;
    padding:0px;
    margin:0px auto;
}
#header .headbar {
    width:100%;
    height:24px;
    line-height:24px;
    background-position: 0px 0px;
    overflow:hidden;
}
.headbar a {
    text-decoration:none;
}
.headbar a:hover {
    text-decoration:underline;
}

.headbar ul {
    padding: 0px 10px;
    width:1000px;
    margin:0 auto;
}
.headbar ul li {
    float:right;
}
.headbar li.head1, .headbar li.head2 {
    float:left;
}
#header .phone {
    color:#ff0000;
    font-weight:bold;
    font-size:14px;
}
.headbar .loginname{display:inline; margin-right:6px;}

.headbar li a{ padding:0 6px;}
.headbar li.head1 {
    *margin-top:2px;
}

    #header .logo {
        width:110px;
        height:90px;
        background:url(../images/uhl/logo.gif);
        margin-left:28px;
        float:left;
        display:inline;
        cursor:pointer;
    }
    
    .area {
        float:left;
        width:105px;
        margin-top:55px;
        margin-right:50px;
        margin-left:10px;
        display:none;
    }
    .area strong {
        color:#d03f27;
        font-size:14px;
        margin-right:3px;
    }
    .area #city {
        background-position: -112px -26px;
    }
    .area a, .area a:hover {
        cursor:pointer;
        color:#666;
        white-space:nowrap;
    }
    
    
    
/*鎼滅储*/
.navBox {
    width:100%;
    height:auto;

    float:left;
    overflow:hidden;
}
.navBox li{
    float:left;
}

.search {
height:80px;
padding:0 5px 0 42px;
width:610px;
}
    .search .search_2 li{
        float:none;
    }
    .searchbox {
        width:608px;
        height:38px;
        line-height:37px;
        background-position: -2px -340px;
    }
    .searchitem, .searchbox {
        position:relative;
        float:left;
    }
    .searchitem {
        margin-top:-72px;
    }
    .searchbox {
        margin-top:35px;
        width:608px;
        height:38px;
        text-align:left;
    }
    .searchtxt {
        float:left;
        color:#bababa;
        margin-left:32px;
        width:440px;
        *width:438px!important;
        _width:438px;
        height:22px;
        line-height:22px;
        padding-top:8px;
        border:0px;
        background:none;
        font-size:14px;
    }
    input.focus {
        color:#000;
    }
    .searchbtn {
        float:left;
        width:130px;
        height:32px;
        border:0px;
        margin-top:3px;
        cursor:pointer;
        background-position: -549px -40px;
    }
    .searchitem a {
        display:block;
        float:left;
        width:56px;
        height:25px;
        line-height:25px;
        text-align:center;
        color:#0243bf;
        margin-right:5px;
        margin-top:10px;
    }
    .searchitem a.current, .searchitem a:hover {
        color:#000;
        text-decoration:none;
        background-position: -320px -2px;

    }
.searchLink {
    line-height:18px;
    margin-top:35px;
    width:80px;
    padding-top:10px;
    letter-spacing:3px;
    display:inline;
}
/*鎼滅储缁撴潫*/
    
/*浼氬憳涓績涓棿鏍峰紡*/

#index_main {
    width:1000px;
    margin:0px auto;
}

/*浼氬憳涓績鍙宠竟妗嗘牱寮�*/
#h_right{
        float:left;
        width:810px;
        height:auto;
    }

        #h_right .t {
            width:810px;
            height:26px;
            line-height:26px;
            overflow:hidden;
            background-position:-2px -2px;
        }
        #h_right .t .list {
            height:26px;
            white-space:nowrap;
            border-bottom:1px solid #d5d5d5;
        }
        #h_right .list a{
            float:left;
            display:block;
            width:90px;
            height:26px;
            line-height:22px;
            text-align:center;
        }
        #h_right .list a:hover, #h_right .list a.current{
            color:#c43f27;
            text-decoration:none;
            background-position: -500px -30px;
        }
        
        #h_right .main {
            width:794px;
            height:auto;
            overflow:hidden;
            padding:8px;
            background-position: -168px 0px;
        }
        
        #h_right .b {
            width:100%;
            height:8px;
            overflow:hidden;
            margin:0px;
            font-size:1px;
            background-position: -2px -110px;
        }


/*浼樺崱绠＄悊椤甸潰灞呬腑鏍峰紡*/
#ukgl-center {
        width:810px;
        height:auto;
        margin:0 auto;
        padding:0;
    }
        #ukgl-center .t {
            width:810px;
            height:26px;
            line-height:26px;
            overflow:hidden;
            position:relative;
            z-index:2;
            background-position: -2px -2px;
        }
        #ukgl-center  .t .list {
            height:26px;
            white-space:nowrap;
            border-bottom:1px solid #d5d5d5;
        }
        #ukgl-center  .list a{
            float:left;
            display:block;
            width:90px;
            height:26px;
            line-height:22px;
            text-align:center;
        }
        #ukgl-center  .list a:hover, #ukgl-center  .list a.current{
            color:#c43f27;
            text-decoration:none;
            background-position: -500px -30px;
        }
        
        #ukgl-center  .main {
            width:794px;
            height:auto;
            overflow:hidden;
            margin-top:-6px;
            padding:8px;
            position:relative;
            z-index:1;
            background-color:#fff;
            background-position: -168px 0px;
        }
        
        #ukgl-center  .b {
            width:100%;
            height:8px;
            overflow:hidden;
            margin:0px;
            font-size:1px;
            background-position: -2px -110px;
        }
        

/*************************搴曢儴*********************************/
#foot {
    width:1000px;
    margin:8px auto 0px;
    display:block;
    clear:both;
}
    #foot .f1 {
        width:988px;
        padding-left:6px;
        height:120px;
        margin:0px auto;
        background:#f5f5f5;
        border:1px dashed #c0c0c0;
    }
        .f1 ul {
            background-position: right 0px;
            height:100px;
            float:left;
        }
        .f1 ul li {
            margin-left:44px;
            line-height:22px;
            height:22px;
        }
        .f1 ul li.t {
            color:#ff6600;
            font-size:18px;
            font-weight:bold;
            height:20px;
            margin:20px 0px 8px 40px;
        }
        ul.f1_1 {
            width:204px;
        }
        ul.f1_2 {
                width:210px;
        }
        ul.f1_3 {
        width:180px;
        }
        ul.f1_4 {
                width:190px;
        }
        ul.f1_5 {
        width:204px;
        background:none;
        }
        ul.f1_6 {
            background:none;
        }

    #foot .f2 {
        width:100%;
        height:auto;
        line-height:22px;
        background:#f1f1f1;
        border-top:1px solid #eaeaea;
        border-bottom:1px solid #eaeaea;
        padding:10px 0px;
        margin:8px auto;
        float:left;
    }
    #foot .f4 {
        width:100%;
        height:auto;
        margin:0px auto;
        display:block;
        clear:both;
        text-align:center;
    }
    .f4 a {
        padding:0px 4px;
    }
    .f4 strong {
        color:#ff0000;
    }
    .f5 {
        width:100%;
        clear:both;
        border-top:2px solid #4971ce;
    }
    .f3{
        width:100%;
        clear:both;
        background-position: 0px -24px;
    }
    .f3_1{
        width:100%;
        padding-top:7px;
        color:#777777;
        text-align:center;
    }
    .f3_1 a{
        color:#777777;
        margin:0 10px;
        text-decoration:none;
    }

    .f3_1 ul li a:hover{
        color:#FF0000;
    }
    .f3_1 p{
        width:100%;
        text-align:center;
        line-height:24px;
    }
/****
* common.台css 
* auth: gyp
* time: 2010-11-22 add
* version: ver 1.0
*/

.bold{ font-weight:bold;}
.colorw{ color:#FFF;}
.colorred{ color:#ba3c26;}
.colorred1{ color:#ff0000;}
.colorred2{ color:#ab3420;}
.colorora{ color:#ff6600;}

.colorblue{ color:#3366cc;}
.colorgray{color:#999; }
.colorblack{ color:#333333;}

.tlc{ text-align:center}
.tll{ text-align:left;}
.tlr{ text-align:right}
.fl{ float:left}
.fr{ float:right}
.fs14{ font-size:14px;}



/*鎸夐挳鏍峰紡*/

.bt a,.bt a:visited{ color:#fff;}
.bt1 a,.bt1 a:visited{ color:#fff;}
.btg170{background-position: 0 -170px  no-repeat; border:0; height:25px; width:128px; line-height:25px; text-align:center; font-size:12px;}
.btg170 a,.btg170 a:visited{ color:#fff;}
.btg78{background:url(../images/uhl/bt.gif) 0 0 no-repeat; border:0; height:25px; width:78px; line-height:25px; text-align:center; font-size:12px;}
.btg78 a,.btg78 a:visited{ color:#fff;}
.btg70{background:url(../images/uhl/bt.gif) 0 -205px no-repeat; border:0; height:25px; width:70px; line-height:25px; text-align:center; font-size:12px;}
.btg70 a,.btg70 a:visited{ color:#fff;}
.findbt a,.findbt a:visited{ color:#fff;}
.findbt140 a,.findbt140 a:visited{ color:#fff;}
.bts{background:url(../images/uhl/bt.gif) 0 -266px no-repeat; border:0; height:21px; width:38px; line-height:21px; padding-left:22px;font-size:12px; color:#333;}
.bt_buy{background:url(../images/uhl/bt.gif) -63px -266px no-repeat; border:0; height:21px; width:38px; line-height:21px; padding-left:22px;font-size:12px; color:#333;}
.bt_pl{background:url(../images/uhl/bt.gif) -127px -266px no-repeat; border:0; height:21px; width:48px; line-height:21px; padding-left:22px;font-size:12px; color:#333;}
/*鎸夐挳鏍峰紡缁撴潫*/

/*************  杈撳叆妗嗘牱寮�   **********/
.input196 {
border:1px solid #A7A6AA;
font-size:12px;
height:18px;
margin:0 8px 0 4px;
padding:2px;
width:196px;
float:left;
vertical-align:middle; 

}
.inputbg {background:url(../images/uhl/input.gif) no-repeat scroll 0 0 white;}

/*************  杈撳叆妗嗘牱寮忕粨鏉�   **********/


/*鐏拌壊鍦嗚鏍囬妗嗚儗鏅�*/
.gtable_tl {
    float:left;
    height:29px;
    background-position:0px -100px;
    background-repeat:no-repeat;
}
.gtable_tr {
    float:left;
    width:8px;
    height:29px;
    background-position:-992px -100px;
    background-repeat:no-repeat;
}

/*寮瑰嚭妗�*/
.popup-container {
    padding:0px;
    position:absolute;
    overflow:hidden;
    display:block;
    float:left;
    margin: 0px auto;
    background:none;
}
.popup_overlay{
   position:absolute;
   background-color:#000;
}
.boxwrap {
    width:0px;
    height:0px;
    overflow:hidden;
}
.table_c {
    background-position:right center ;
    background-repeat:repeat-y;
    border-left:1px solid #d9d9d9;
    height:100%;
    width:100%;
    clear:both;
}
.table_tl, .table_bl {
    float:left;
    height:100%;
    background-position:0px -165px;
    background-repeat:no-repeat;
}
.table_tr, .table_br  {
    float:left;
    width:8px;
    height:100%;
    background-position:-992px -165px;
    background-repeat:no-repeat;
}
.table_bl {
    background-position:0px -135px;
}
.table_br {
    background-position:-992px -135px;
}
.table_tl {
    line-height:26px;
    color:#fff;
}
.table_tl b, .gtable_tl b {
    float:left;
    margin-left:15px;
    color:#fff;
}
.table_tl a.more, .gtable_tl a.more {
    color:#fff;
    float:right;
    margin-right:4px;
}
.table_tl span {
    float:left;
}
.table_tl, .table_tr {
    height:27px;
}
.table_bl, .table_br {
    height:12px;
    margin-bottom:3px;
    font-size:0px;
    overflow:hidden;
}
a.close {
    width:18px; 
    height:24px; 
    background-position:-1px -46px;
    display:block; 
    float:right; 
    cursor:pointer;
    overflow:hidden;
}

/**/
/****
* index.台css 
* auth: gyp
* time: 2010-01-13
娣诲姞棣栭〉澶撮儴瀵艰埅寮瑰嚭灞傛牱寮�
*/

a.nav_wrap {
    display:inline-block;
    background:url(../images/uhl/list.gif) no-repeat 56px 3px;
    width:58px;
    position:relative;
    overflow:hidden;
    height:14px;
    *height:18px;
    line-height:18px;
    *margin-top:4px;
}
.headbar a.nav_wrap:link, .headbar a.nav_wrap:visited {
    text-decoration:none
}
.js_nav_wrap{
line-height:17px;
position:absolute;
z-index:5;
}

.js_nav_wrap_0 {
    display:block;
    background:url(../images/uhl/list.gif) no-repeat 54px -14px;
    border-left:1px solid #b84531;
    border-right:1px solid #b84531;
    border-top:1px solid #b84531;
    padding:2px 4px 8px 6px;
    width:68px;
    height:12px;
    *height:9px;
    position:absolute;
    z-index:102;
    right:0;
    background-color:#fff;
    overflow:hidden;
}
.js_nav_wrap a.js_nav_wrap_0:link, .js_nav_wrap a.js_nav_wrap_0:visited {
    text-decoration:none;
}
.js_nav_wrap div {
    width:195px;
    border:1px solid #b84531;
    padding:6px 4px 6px 5px;
    margin-top:22px;
    *margin-top:19px;
    z-index:101;
    overflow:hidden;
    background-color:#fff;

}
.js_nav_wrap ul li {
    float:left;
    width:75px;
    line-height:26px;
    padding-left:15px;
    vertical-align: baseline;
}
.js_nav_wrap_1 {
    border-bottom:1px dashed #ccc;
    overflow:hidden;zoom:1;
}
.js_nav_wrap_2 {
    margin-top:4px;
    overflow:hidden
}

/**
* 淇敼鍥炬爣 2011-02-11 szw
*/
/*鍟嗘埛绫诲瀷*/
.identity {
    float:left;
    display:block;
    width:45px;
    height:20px;
    cursor:pointer;
    overflow:hidden;
    background:url(../images/uhl/identity.png) no-repeat 0px 0px;
}
.identity_yk {
    background-position: 0px 0px;
}
.identity_xy {
    background-position: 0px -20px;
}
.identity_jf {
    background-position: 0px -40px;
}
.identity_tj {
    background-position: 0px -60px;
}
/*鍒稿拰鍗�*/
.qandk {
    display:block;
    float:left;
    background:url(../images/uhl/identity.png) no-repeat;
}
.qandk_q {
    width:18px;
    height:17px;
    background-position: -29px -80px;
}
.qandk_k {
    background-position: 0px -102px;
    width:24px;
    height:17px;
    margin-top:6px;
}



/*鏂伴椤靛ご閮ㄦ牱寮�*/
.i_header p b,.i_nav .i_nav_b,.i_nav .i_nav_t a,.i_nav_t a.i_nav_cur,.i_search_bt,.i_m_r_1 h3 .i_m_r_1_t{background:url(../images/uhl/i_h_icon.png) no-repeat; }
.i_header{ width:1000px; margin:0 auto 10px;}
.i_header .i_logo{background:url(../images/uhl/logo.gif) no-repeat; display:block; width:110px; height:90px; float:left;}
.i_header p{ float:right; color:#666; font-size:14px; padding-top:20px;padding-right:45px; display:block}
.i_header p b{ background-position:0 4px; display:inline-block; width:30px; height:25px;}
.i_header p span{ color:#999; margin-left:-10px; }
.i_header p q{ color:#f30; font-size:25px;  letter-spacing:2px; font-weight:bold;}
.i_header .i_nav{ position:relative;}


.i_nav .i_nav_t{
    position:absolute;
    text-align:center;
    left: 130px;
    top: -45px;
}
.i_nav .i_nav_t a{ float:left; display:block; width:74px; height:21px; line-height:21px; padding-top:4px; background-position:-34px 0px; margin-right:1px; font-size:12px;}
.i_nav_t a.i_nav_cur,.i_nav_t a:hover{ background-position:0 -32px; color:#fff; font-weight:bold; text-decoration:none;}

.i_nav .i_nav_b{background-position:0 -59px; width:988px; padding:4px 6px; height:33px; background-repeat:repeat-x}
.i_search_txt,.i_search_bt{ float:left}
.i_search_txt{ border:1px solid #d1d1d1; width:250px; height:23px; line-height:23px; overflow:hidden; margin-right:4px; padding-left:10px;}
.i_nav_b_l{ float:left; background-color:#f4f4f4; padding:3px 0px 3px 4px;}
.i_search_bt{ display: inline-block; background-position:0 -101px; width:65px; height:27px; line-height:27px; color:#fff; font-weight:bold; text-align:center; margin-right:4px;}
a.i_search_bt,a.i_search_bt:visited{ text-decoration:none;}
.i_nav_b_r{ float:left; color:#fff; font-weight:bold; line-height:31px; padding-left:10px;}
.i_nav_b_r a,.i_nav_b_r a:visited{ color:#fff; font-weight:normal; margin-right:15px;}

.i_nav_cart{ float:right; margin-right:6px;border:1px solid #ee4343; background-color:#fff; width:196px; height:26px; line-height:26px; margin-top:2px; display:inline;overflow:hidden}
.i_nav_cart span,.i_nav_check{background:url(../images/uhl/icon_i_2.gif) no-repeat;}
.i_nav_cart span{background-position:0 -27px; display: inline; padding-left:27px; margin-left:10px; float:left}
.i_nav_cart b{ color:#c60909; display:inline-block; width:26px; text-align:center}
.i_nav_check{background-position:0 0; width:65px; height:26px; float:right }

/*鍦嗚杈规*/
.corner_list .rc-tp, .corner_list.rc-tp span, .corner_list .rc-bt, .corner_list .rc-bt span {
    background:url("../images/uhl/sprite.png") no-repeat scroll 0 0 transparent;
}
.corner_list{ float:left; display:inline; position:relative;}
.corner_list .bd{
    background-color:#FFFFFF;
    border-left:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
    border-bottom:1px solid #CCCCCC;
    overflow:hidden;
}
.corner_list .rc-tp, .corner_list .rc-bt{
    display:block;
    height:4px;
    position:relative;
}
.corner_list .rc-bt{
    background-position:-3px -4px;
    margin-top:-4px;

}
.corner_list .rc-tp {
    background-position:-3px 0px;
    margin-bottom:-4px;

}
.corner_list .rc-tp span {
    background-position:0px 0px;
    margin-bottom:-11px;

}
.corner_list .rc-bt span {
    background-position:0 -4px;
    margin-bottom:-9px;
}
.corner_list .rc-tp span, .corner_list .rc-bt span{
    float:right;
    height:4px;
    width:4px;
}

/*/鍦嗚杈规*/

/*椤甸潰宸︿晶鏍峰紡*/
.uhl_box .rc-tp, .uhl_box.rc-tp span, .uhl_box .rc-bt, .uhl_box .rc-bt span {
background:url("../images/uhl/sprite.png") no-repeat scroll 0 0 transparent;
}
.box_b{ margin-bottom:10px;}
.uhl_box{
    position:relative;
    width:240px;
    overflow:hidden;
}

.uhl_box .bd{
    background-color:#FFFFFF;
    border:1px solid #ccc;
    overflow:hidden;
}
.uhl_box .bd h3{
    border-bottom:1px solid #d3d3d3; 
    display:block; 
    line-height:30px;
    height:30px;
    position:relative;
    padding:0 3px 0 0;
    color:#c43f27;
}
.uhl_box .bd h3 b{position:absolute;border-bottom:1px solid #a93420; display:block; padding:0 9px;}
.uhl_box .bd h3 a{position:absolute; right:9px; color:#999}
.uhl_box ul{}
.uhl_box .rc-tp, .uhl_box .rc-bt{
    display:block;
    height:4px;
    position:relative;
}
.uhl_box .rc-bt{
    background-position:-3px -4px;
    margin-top:-4px;

}
.uhl_box .rc-tp {
    background-position:-3px 0px;
    margin-bottom:-4px;

}
.uhl_box .rc-tp span {
    background-position:0px 0px;
    margin-bottom:-11px;

}
.uhl_box .rc-bt span,.i_m_r .rc-bt span {
    background-position:0 -4px;
    margin-bottom:-9px;
}
.uhl_box .rc-tp span, .uhl_box .rc-bt span{
    float:right;
    height:4px;
    width:4px;
}

/*椤甸潰宸︿晶鏍峰紡 缁撴潫*/