@charset "utf-8";
/* CSS Document */
body{ font-size:12px;}
*{ margin:0; padding:0px}
img{ border:0px}
a{ color:#000000; text-decoration:none;}
/*总包含框*/
/* #wrap_main{ width:1000px; height:auto; margin:0 auto;} */
#wrap_top_top{ background:url(../images/top_header_bg.jpg) repeat-x; height:31px; line-height:23px;position:relative }
.top_zc{ float:right}
.top_zc li{ float:left}
.top_margin_left{width:1000px; margin:0 auto}
.re_top_top{position:absolute; right:5px; line-height:23px; top:0px;}
/*tab*/ 
.tab_header{ margin-top:65px;}
.tab_header li{ float:left; width:74px; height:24px; overflow:hidden; text-align:center; line-height:25px; margin-right:1px}
.tab_hover{ display:block; width:74px; height:24px; background:url(../images/tab_bghover.jpg) no-repeat; line-height:27px; float:left; color:#FFFFFF; font-weight:700;}
.tab_nohover{display:block; width:74px; height:24px; background:url(../images/tab_bg.jpg) no-repeat; line-height:27px; float:left}
#wrap_top_header_left{float:left}
#wrap_top_header_mid{ float:left; width:620px; overflow:hidden}
#wrap_top_right{float:right}
.gouwu_icon{position:relative; top:4px; left:8px;}
.zi_gray{ color:#333333;padding:0 5px;}
.top_margin_left span{ color:#666666; margin-left:5px;}
.top_margin_left span a{ color:#666666}

.font_gray{color:#777276; margin-left:5px;}
/*sereach*/
#sereach_box{width:340px; float:left; height:33px; background:#F4F4F4; position:relative; top:4px; left:6px; display:none}
#sereach_wrap{ background:url(../images/sereach_bg.jpg) repeat-x; height:41px; width:1000px; position:relative}
.left_input_seach{width:263px; height:25px; border:solid 1px #D1D1D1; position:relative; left:4px; top:-6px}
.tag_box{float:left; margin-left:13px; line-height:41px; color:#FFFFFF; width:770px;}
.seach_right{float:right; margin-top:7px; margin-right:6px; background:#FFFFFF; width:192px; height:26px; line-height:26px; border:solid 1px #EE4343}
.seach_right_sp{float:left;text-align:center;}
*html .left_input_seach{width:263px; height:25px; border:solid 1px #D1D1D1; position:relative; left:4px;top:-1px; line-height:25px;}
.left_input_seach2{width:63px; height:25px; position:relative; top:3px; left:2px;border:solid 1px #D1D1D1; }
*html .left_input_seach2{width:63px; height:25px; position:relative; top:3px; left:4px;border:solid 1px #D1D1D1; }
.tag_hot{ padding-left:7px; padding-right:7px; color:#FFFFFF}
.border_div{ border:solid 1px #D5D5D5}
.gouwu_font{float:left; padding-left:15px;}
.gouwu_jiesuan{ float:right; background:url(../images/jiesuan_sub.jpg) no-repeat; text-align:center; color:#FFFFFF; width:63px;border:solid 1px #CCCBCB; line-height:24px;}
#wrap_content{ width:1000px; margin:0 auto;margin-top:10px;}
.font_red{ color:#FF0000}
.font_white{ color:#FFFFFF}
.font_cheng{color:#B73A24}

/* #footer_nav{ width:1000px;margin:0 auto; height:44px; border-top:solid 1px #EAEAEA; border-bottom:solid 1px #EAEAEA; background:#F1F1F1; margin-top:10px; line-height:44px; text-align:center;color:#666666; } */
/* ##footer_nav a{ color:#666666} */
/* #footer{ background:url(../images/footer_bg.jpg) repeat-x; width:1000px; height:96px; margin:0 auto; margin-top:8px; padding-top:8px; text-align:center; border-bottom:solid 1px #F1EFE2; line-height:23px; color:#777777} #footer a{color:#777777;font-size: 13px;letter-spacing: 0.1em;} */
/* .fenge_footer{ padding-left:7px; padding-right:7px; color:#666666;} */
/* .strong_firend{color:#FF0000; font-weight:700} */
/* #bottom_footer{width:1000px; margin:0 auto; text-align:center;} */
/*shop_li_style*/
.pri_jiage{color:#FF6600; font-weight:700}
.strong_gray{color:#666666; font-weight:700}
.text_decorat{text-decoration:line-through}
.img_cp{ margin-bottom:8px;}

.show_h1{ color:#666666; font-weight:700; font-size:17px; text-align:center; margin-top:20px; margin-bottom:20px;}
.font_blue{ color:#02438F;}
.font_red_one{ color:#B73A24}
/*ie7 hack*/
*+html .left_input_seach{ position:relative; top:0px; line-height:25px;}


/*nav user_reg*/
/*.re_top_top{ float:right; width:600px;}*/
.re_top_top{ float:right; list-style:none}
.re_top_top li{ float:left}
.re_top_top_li{ float:left; margin-left:2px; margin-right:2px; color:#333333}
.top_car_icon{ float:left; width:20px; background:url(../images/top_car_icon.jpg) no-repeat; height:19px;}
.font_16_red{ font-size:16px; font-weight:bold; line-height:22px; float:right; color:#D03F27}

.top_ul_box{ float:right; height:22px;}
*html .top_ul_box{ width:600px;}
.re_top_top_ul{ list-style:none}
.user_reg_div_top{ float:right}
.wellcome{ float:left; margin-left:15px; color:#333333}

#wrap_top_header_left img{ position:relative; top:-13px; z-index:-999}
.font_size12{ font-size:12px; font-weight:normal}
.font_block{ color:#000000}

.no_xiuzhen{ font-weight:normal; color:#ACACAC; font-size:12px; margin-left:15px;}
*html .seach_area div{ margin-top:-25px;}
*+html .seach_area div{ margin-top:-25px;}
.font_size18{ font-size:22px;}
.both_clear{ clear: both}
.font_14px{ font-size:14px}
.wellcome a{ color:#333333}
