#{extends 'layout_operate/layout.html' /}
#{include 'share/nav.html' /}
#{set title:'欢乐谷/玛雅 退款/重发' /}

<div class="body">

    #{list items:orderInfo.entrySet(), as:'entry'}
    <legend>欢乐谷 重发/退款</legend>
    <p>退款：首先保证同一订单的所有券都已做【已消费券退款】（状态为已退款），然后再点击【在欢乐谷退款】</p>
        <table class="table">
            <tr>
                <th>手机号</th>
                <th>渠道</th>
                <th>合作伙伴券号</th>
                <th>欢乐谷凭证号</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            #{list items:entry.getValue(), as:'coupon'}
                <tr>
                    <td>${coupon.orderItems.phone}</td>
                    <td></td>
                    <td>${coupon.partnerCouponId}</td>
                    <td>${coupon.supplierECouponPwd}</td>
                    <td>&{'coupon.' + coupon.status}</td>
                    <td>
                        #{if coupon.status == models.order.ECouponStatus.CONSUMED}
                            <form method="POST" action="/verified-ecoupon-refunds" style="display:inline" target="_blank">
                                <input type="hidden" name="eCouponSn" value="${coupon.eCouponSn}">
                                <button type="submit" class="btn btn-primary">退款</button>
                            </form>
                        #{/if}
                    </td>
                </tr>
            #{/list}
            <tr>
                <td colspan="8" style="text-align:right">
                    %{
                        tmp = entry.getKey().split(";")
                        orderId = tmp[0]
                        hvOrderId = tmp[2]
                        count = tmp[3]
                        firstCoupon = entry.getValue().get(0)
                        supplierCouponValue = firstCoupon.supplierECouponPwd
                    }%
                    <form method="POST" action="/huanlegu/resend" style="display:inline">
                        <input type="hidden" name="coupon.id" value="${firstCoupon.id}">
                        <button class="btn btn-primary" type="submit">重发彩信和短信</button>
                    </form>
                    <form method="POST" action="/huanlegu/refund" style="display:inline">
                        <input type="hidden" name="orderId" value="${orderId}">
                        <input type="hidden" name="hvOrderId" value="${hvOrderId}">
                        <input type="hidden" name="count" value="${count}">
                        <input type="hidden" name="supplierCouponValue" value="${supplierCouponValue}">
                        <button class="btn btn-danger" type="submit">在欢乐谷退款</button>
                    </form>
                </td>
            </tr>

        </table>
    #{/list}
    #{else}
        未找到相关信息
    #{/else}

</div>
