#{extends 'main.html' /}
#{set title:'注册成功页面' /}
#{set 'moreStyles'}
<style>
.wish {
    font-size: 25px;
    padding: 35px 25px;
}
.wish span {
    padding: 0 5px;
    font-size: 36px;
    font-weight: 700;
    color: #f20000;
    font-family:"宋体";
    vertical-align: middle;
}
</style>
#{/set}
#{set 'moreScripts'}
<script>
function init(){
    var times=5;
    for(var i=times;i>=0;i--){
        window.setTimeout('doUpda(' + i + ')', (times-i) * 1000);
    }
}

function doUpda(num){
    if(num == 0) 
    { 
        window.location.href="/";
    }else{
        $("#time").html(num);
    }
}
</script>
#{/set}
<body onload="init()">
<div id="content">
    <div class="wish">
        恭喜你注册成功！<span id="time">5</span>秒之后自动跳转到登录页面
    </div>
</div>
