#{extends 'WebsiteGiftCards/layout.html' /}
#{set title:'礼品卡预约' /}
#{set 'moreStyles'}
    <style type="text/css">
        .section {
            margin-bottom: 10px;
            padding: 10px 20px 15px;
        }
        .section h1 {
            font: 30px 'Microsoft Yahei','黑体',Verdana;
        }
        .likeform { width: 625px; margin: 0 auto; }
        .field { padding: 3px 0; }
        .label { display: inline-block; width: 80px; text-align: right; font-size:14px}
        .label i { color: #fc7410; padding-right: 3px; font-style: normal; font-family: sans-serif, \5b8b\4f53; }
        .medium { width: 240px; height: 22px; padding: 0 2px; font-size: 14px;padding:3px; line-height: 22px; border: 1px solid #D1D1D1; }
        .forget { color: #fc7410; padding-left: 5px; text-decoration: none; }
        .error { display: block; width: 204px; height: 20px; padding-left: 85px; color: #f00; }
        #captchaImg { position: relative; top: 8px; }
        #checkcode { width: 70px; }
        .error{
            padding: 3px 0 3px 9px;
            width: 254px;
            line-height: 18px;
            border: 1px solid #eddead;
            background-color: #fffce9;
            overflow: hidden;
            color: #c69324;
        }
        .legend {
            color: rgb(224, 224, 224);
            font-size: 30px;
        }
        .wrapper {
            padding-bottom:20px;
        }

    </style>
#{/set}
        <img src="/public/images/kyy_banner.jpg" alt="" width="960px" height="100px" border="0">
        <div class="section">
            <div id="title">
                <h1>${giftCard.goods.title} </h1>
            </div>
        </div>
        <div class="section">
            %{
                userInputs = new com.google.gson.JsonParser().parse(giftCard.userInput);
                if(giftCard.supplierInput != null){
                    supplierInputs = new com.google.gson.JsonParser().parse(giftCard.supplierInput);
                }

            }%
            <h2 class="legend">预约信息</h2>

            <div class="likeform" >
                <div class="field">
                    <label class="label">姓名：</label>
                    <label> ${userInputs.get('username').getAsString()} </label>
                </div>
                <div class="field">
                    <label  class="label">手机号：</label>
                    <label> ${userInputs.get('mobile').getAsString()} </label>
                </div>
                <div class="field">
                    <label  class="label">地址：</label>
                    <label> ${userInputs.get('address').getAsString()} </label>
                </div>
                <div class="field">
                    <label class="label">邮编：</label>
                    <label> ${userInputs.get('postcode').getAsString()} </label>
                </div>
                <div class="field">
                    <label class="label">配送日期：</label>
                    <label> ${userInputs.get('date').getAsString()} </label>
                </div>
                <div class="field">
                    <label class="label">补充说明：</label>
                    <label> ${userInputs.get('message').getAsString()} </label>
                </div>
            </div>
            <hr style="border:1px dotted #eee; margin: 10px 0"/>
            <h2 class="legend">发货信息</h2>
            <div class="likeform">
                #{if supplierInputs}
                <div class="field">
                    <label class="label">快递公司：</label>
                    <label> ${userInputs.get('username').getAsString()} </label>
                </div>
                <div class="field">
                    <label  class="label">快递单号：</label>
                    <label> ${userInputs.get('mobile').getAsString()} </label>
                </div>
                #{/if}
                #{else}

                <div class="field">
                    <label class="label" style="width:200px;color:#468847">预约成功，请等待发货</label>
                </div>
                #{/else}
            </div>
        </div>

        <div style="margin-top: -15px; border: 1px solid #dcdcdc; padding: 20px; background-color: #f9f9f9">
            <p>注意1</p>
            <p>注意1</p>
            <p>注意1</p>
            <p>注意1</p>
            <p>注意1</p>
        </div>



#{set 'moreScripts'}
    <script src="http://a.uhcdn.com/js/u/jquery-1.7.2.min.js"></script>
    <script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
