#{extends 'layout_operate/layout.html' /}
#{set title:'咨询管理' /}
#{include '/share/nav.html' /}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
<div class="body">
    <legend>咨询管理</legend>
    <form class="form-horizontal" name="frmlist" id="frmlist" action="@{OperateQuestions.index()}" method="GET">
        <table width="100%">
            <tr>
                <td width="20%">
                    咨询内容：<input type="text" name="condition.content" class="input-medium" id="content"
                              value="${condition?.content}"/>
                </td>
                <td width="30%">咨询时间：<input type="text" id="createdAtBegin" name="condition.createdAtBegin"
                                value="${condition?.createdAtBegin?.format()}" onfocus="WdatePicker({readOnly:true})"
                                class="input-medium Wdate"/>至 <input type="text" id="createdAtEnd"
                                                                     name="condition.createdAtEnd"
                                                                     value="${condition?.createdAtEnd?.format()}"
                                                                     onfocus="WdatePicker({readOnly:true})"
                                                                     class="input-medium Wdate"/></td>
                <td>
                    <button class="btn btn-primary" id="searchbtn" type="submit">搜索</button>
                </td>
            </tr>
        </table>
    </form>
    <form class="form-horizontal" name="deletefrm" id="deletefrm">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th width="120px">&{'question.content'}</th>
                <th width="120px">&{'question.reply'}</th>
                <th width="80px">商品名称</th>
                <th width="50px">&{'question.createdAt'}</th>
                <th width="50px">&{'question.repliedAt'}</th>
                <th width="30px">回复者</th>
                <th width="50px">咨询者</th>
                <th width="30px">操 作</th>
            </tr>
            </thead>

            <tbody>
            #{paginate.list items:questions, as:'question'}
            <tr>
                <td>${question?.content}</td>
                <td>${question?.reply}</td>
                <td>${question?.goodsName}</td>
                <td>${question?.createdAt?.format('yyyy-MM-dd HH:mm:ss')}</td>
                <td>${question?.repliedAt?.format('yyyy-MM-dd HH:mm:ss')}</td>
                <td>${question?.operateUser}</td>
                <td>${question?.userName}</td>
                <td><a href="@{OperateQuestions.edit(question.id)}">回复</a>

                #{if question?.visible}
                     /#{vx.operateLink text:"隐藏", url:"/questions/"+question.id+"/hide", method:"PUT"/}
                #{/if}
                #{else}
                    /#{vx.operateLink text:"显示", url:"/questions/"+question.id+"/show", method:"PUT"/}
                #{/else}
                /#{vx.deleteLink action:"questions", id:question.id/}
                </td>
            </tr>
            #{/paginate.list}
            </tbody>
        </table>
    </form>
    <div class="pagination" align="center">
        <ul>
        #{paginate.controls items:questions /}
        </ul>
    </div>
</div>