#{extends 'layout_operate/layout.html' /}
#{set title:'咨询-回复页面' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
#{set 'moreStyles'}
        <style type="text/css">
            .controls{
                padding: 5px 0px;
            }
        </style>
#{/set}
#{include '/share/nav.html' /}
<div class="body">
#{form @OperateQuestions.update(question.id) , id:'form',class:"form-horizontal" }
    <input type="hidden" name="question.userId" value="${question?.userId}"/>
    <input type="hidden" name="question.content" value="${question?.content}"/>
    <legend>回复页面</legend>
    <div class="control-group">
        <label class="control-label">用户帐号</label>
        <div class="controls">
            #{if question.userId}
                <a href="http://cms.${play.Play.configuration.getProperty("application.baseDomain")}/consumers/${question.userId}" target="_blank">${question.userName}</a>
            #{/if}
            #{else}
                ${question?.userName}: ${question?.mobile}
            #{/else}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">咨询时间</label>
        <div class="controls">
            ${question.createdAt.format("yyyy-MM-dd HH:mm:ss")}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">IP地址</label>
        <div class="controls">
            ${question.remoteIP}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">商品</label>
        <div class="controls">
            #{if question?.goodsType == models.cms.GoodsType.POINTGOODS}
            (积分商品)${question.goodsName}
            #{/if}
            #{else}
            <a href="/goods/${question.goodsId}" target="_blank">${question.goodsName}</a>
            #{/else}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">咨询问题</label>
        <div class="controls">
        ${question?.content}
        </div>
    </div>
    #{layout_operate.textareaField name:'question.reply', value:question?.reply, required:true/}
    <div class="control-group">
        <label class="control-label">回复者</label>
        <div class="controls">
            ${operateUser.userName}
        </div>
    </div>


    <div class="form-actions">
        <input class="btn btn-primary" id="save" type="submit" value="保存"/>
    </div>
#{/form}
</div>
