#{extends 'layout_operate/layout.html' /}
#{set title:'积分商品一览' /}
#{include '/share/nav.html' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/pointgoods.js'}" type="text/javascript" charset="UTF-8"></script>




#{/set}
#{set 'moreStyles'}
<style type="text/css">
    .table-striped tbody .tr-offsale{
        /*color: #A0A0A0;*/
        color: red;
    }

    .table-striped tbody tr.transparent td td{
        border-left: 0px;
        background: transparent;
    }

    .expired{
        color: #ffbe28;
        font-weight: bold;
    }

    .zeroBaseSale{
        color: #942e8f;
        font-weight: bold;
    }

</style>
#{/set}
<div class="body">
    <legend>${title}</legend>
    <form class="form-horizontal" name="frmlist" id="frmlist" action="@{OperatePointGoods.index()}" method="GET">
        <table width="100%">
            <tr>

                <td width="30%">积分商品名称：<input type="text" name="condition.name" class="input-medium"
                                              value="${condition?.name}"/></td>


                <td>销&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量：<input type="text" name="condition.saleCountBegin"
                                                                  class="input-medium"
                                                                  value="#{if condition?.saleCountBegin >=0}${condition?.saleCountBegin}#{/if}"/>
                    至 <input type="text" name="condition.saleCountEnd" class="input-medium"
                             value="#{if condition?.saleCountEnd >=0}${condition?.saleCountEnd}#{/if}"/>
                </td>







            </tr>
            <tr>

                <td width="30%">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态：
                #{select 'condition.status', id:'condition_status', class:'input-small', value:condition?.status}
                    #{option ""}不限#{/option}
                    #{option "ONSALE"}&{'goods.ONSALE'}#{/option}
                    #{option "OFFSALE"}&{'goods.OFFSALE'}#{/option}

                #{/select}

                </td>



                <td>添&nbsp;&nbsp;加&nbsp;&nbsp;时&nbsp;&nbsp;间：<input type="text" name="condition.saleCountBegin"
                                                                  class="input-medium"
                                                                  value="#{if condition?.saleCountBegin >=0}${condition?.saleCountBegin}#{/if}"/>
                    至 <input type="text" name="condition.saleCountEnd" class="input-medium"
                             value="#{if condition?.saleCountEnd >=0}${condition?.saleCountEnd}#{/if}"/>
                </td>


            </tr>
            <tr>
                <td width="30%">积&nbsp;&nbsp;&nbsp;分&nbsp;&nbsp;&nbsp;价：<input type="text" name="condition.pointPriceBegin"
                                                                               class="input-medium"
                                                                               value="${condition?.pointPriceBegin}"/> 至 <input type="text" name="condition.pointPriceEnd" class="input-medium"
                                                                                                                               value="${condition?.pointPriceEnd}"/>

                </td>


                <td>
                    <button class="btn btn-primary" id="searchbtn" type="submit">搜索</button>
                </td>
            </tr>
        </table>
    </form>
    <form class="form-horizontal" name="deletefrm" id="deletefrm">
        <div style="margin-bottom: 12px">
            <button class="btn btn-primary" id="onsales" type="button">同意上架</button>
            <button class="btn btn-primary" id="offsales" type="button">批量下架</button>
            <button class="btn btn-primary" id="deletebtn" type="button">删除</button>
        </div>


    #{vx.tab name:'pointGoods',enumItems: [models.sales.GoodsStatus.ONSALE,models.sales.GoodsStatus.OFFSALE],
    select:'condition_status',value:condition?.status/}
        <table class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th width="30px"><input type="checkbox" id="selectall" name="selectall">全选</th>
                <th width="200px">&{'pointGoods.name'}</th>
                <th width="200px">&{'pointGoods.pointPrice'}</th>
                <th width="200px">&{'pointGoods.faceValue'}</th>
                <th width="200px">&{'pointGoods.materialType'}</th>
                <th width="200px">&{'pointGoods.effective'}</th>
                <th width="100px">&{'pointGoods.baseSale'}</th>
                <th width="200px">&{'pointGoods.saleCount'}(件)</th>
                <th width="50px">&{'pointGoods.status'}</th>
                <th width="50px">操 作</th>


            </tr>
            </thead>

            <tbody>

            #{paginate.list items:pointGoodsPage, as:'pointGoods'}
            *{<tr class="#{if pointGoods.isExpired() || pointGoods.baseSale?.intValue() == 0}tr-offsale#{/if} transparent">}*
            <tr class="transparent">


                <td style="text-align:center"><input type="checkbox" id="checkoption" value="${pointGoods.id}" name="id"/></td>

                <td>
                    <table>
                        <tbody>
                        <tr>





                            <td><a href="http://${play.Play.configuration.getProperty("www.url")}/pointgoods/${pointGoods.id}?preview=true" target="_blank"><img
                                    src="${pointGoods?.imageTinyPath}"/></a></td>
                            <td><a href="http://${play.Play.configuration.getProperty("www.url")}/pointgoods/${pointGoods.id}?preview=true" target="_blank">${pointGoods?.name}
                            </a>



                            *{<td><img src="${pointGoods?.imageTinyPath}"/></td>}*

                            *{<td><a href="http://${play.Play.configuration.getProperty("www.url")}/goods/${pointGoods.id}?preview=true" target="_blank"><img}*
                                    *{src="${pointGoods?.imageTinyPath}"/></a></td>}*
                            *{<td><a href="http://${play.Play.configuration.getProperty("www.url")}/goods/${pointGoods.id}?preview=true" target="_blank">${pointGoods?.name}}*
                            *{</a>}*


                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td class="amount">${pointGoods?.pointPrice} 点</td>


                <td class="amount">${pointGoods?.faceValue?.formatCurrency('CNY')}</td>



                <td>&{'goods.'+pointGoods?.materialType}</td>




                <td class="#{if pointGoods.isExpired()} tr-offsale  #{/if} transparent"> ${pointGoods?.expireAt}</td>


                <td class="amount">${pointGoods?.baseSale}</td>
                <td class="amount">${pointGoods?.saleCount}</td>






                <td >

                &{'pointGoods.'+pointGoods?.getCurrentStatus()}




                    #{if models.sales.GoodsStatus.OFFSALE.equals(pointGoods?.getStatus())}
                        <br/>#{vx.operateLink text:"同意上架", url:"/pointgoods/"+pointGoods?.id+"/onSale",method:"PUT"/}#{/if}
                    #{if models.sales.GoodsStatus.ONSALE.equals(pointGoods?.getStatus())}
                        <br/>#{vx.operateLink text:"强制下架", url:"/pointgoods/"+pointGoods?.id+"/offSale",method:"PUT"/}#{/if}
                </td>
                <td>

                    <a href="@{OperatePointGoods.show(pointGoods.id)}">查看</a>

                    #{if !models.sales.GoodsStatus.APPLY.equals(pointGoods.status)}
                        /<a href="@{OperatePointGoods.edit(pointGoods.id)}">修改</a>
                    #{/if}
                    #{if !models.sales.GoodsStatus.ONSALE.equals(pointGoods.status) && !models.sales.GoodsStatus.APPLY
                    .equals(pointGoods.status)}
                        / #{vx.deleteLink action:"pointgoods", id:pointGoods.id, name:pointGoods.name/}
                    #{/if}

            </tr>
            #{/paginate.list}
            </tbody>
        </table>
    </form>
    <div class="pagination" align="center">
        <ul>
        #{paginate.controls items:pointGoodsPage /}
        </ul>
    </div>
</div>

<div class="modal" id="sendModal" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>

        <h3>设置网站发布选项</h3>
    </div>
    <div class="modal-body">
    #{form @OperateOrders.index(), id:"setForm", name:"setForm",class:"form-horizontal",method:"PUT"}
#{layout_operate.textField name:'pointGoods.priority',value:'',required:true/}
#{layout_operate.textField name:'pointGoods.keywords', value:'' /}
#{/form}
    </div>
    <div class="modal-footer">
        <a href="#" id="sure" class="btn btn-primary">确定</a>
        <a href="#" class="btn" data-dismiss="modal">取消</a>
    </div>
</div>

<script type="text/javascript">
    function prepareSend(id,priority,keywords) {
        $("#setForm").attr("action", "/goods/" + id + "/priority?x-http-method-override=PUT");
        $('#sendModal').modal('show');
        $("#goods_priority").val(priority);
        $("#goods_keywords").val(keywords);
    }

    $(function () {
        $("#sure").click(function () {
            var result = true;
            if ($("#goods_priority").val().trim() == "") {
                $("#note_goods_priority").html("<span style='display: block;color: #ff0000;'>请输入精选指数!</span>");
                $("#note_goods_priority").focus();
                result = false;
            }

            if (isNaN($("#goods_priority").val().trim())) {
                $("#note_goods_priority").html("<span style='display: block;color: #ff0000;'>精选指数无效!</span>");
                $("#note_goods_priority").focus();
                result = false;
            }
            if (result) {
                $("#setForm").submit();
            }
        });

        $("#priority").click(function () {
            if(this.checked){
                this.value="1";
            } else {
                this.value="0" ;
            }
            $("#frmlist").submit();
        });

        $("#isLottery").click(function () {
            if(this.checked){
                this.value=true;
            } else {
                this.value=false;
            }
            $("#frmlist").submit();
        });
    });
</script>