#{if noShopTip != null}
<h1>${noShopTip.raw()}</h1>
#{/if}
#{else}
    #{set 'moreScripts'}
        #{get 'moreScripts'/}
    <script src="@{'/public/javascripts/pointgoods-form.js'}" type="text/javascript" charset="UTF-8"></script>
    <script type="text/javascript">
        $(function(){
            var checkedFuc = function(){
                if($("#pointGoods_materialType_1").is(":checked")){
                    $("#required_star_pointGoods_effective").show();
                }
                if($("#pointGoods_materialType_2").is(":checked")){
                    $("#required_star_pointGoods_effective").hide();
                }
            }
            $("#pointGoods_materialType_1").click(checkedFuc);
            $("#pointGoods_materialType_2").click(checkedFuc);
        });
    </script>
    #{/set}
    #{layout_operate.radioField name:'pointGoods.materialType',
    value1:models.sales.MaterialType.ELECTRONIC.toString(),
    value2:models.sales.MaterialType.REAL.toString(),
    value:pointGoods?.materialType?.toString(), required:true/}


    #{layout_operate.nameField name:'pointGoods.name', value:pointGoods?.name, required:true, length:30/}

    #{layout_operate.dateScopeField name:'pointGoods.effective', begin:'pointGoods.effectiveAt',end:'pointGoods.expireAt',
    beginValue:pointGoods?.effectiveAt?.format(), endValue:pointGoods?.expireAt?.format(),
    required:pointGoods?.materialType?.toString() == models.sales.MaterialType.ELECTRONIC.toString() /}


    #{layout_operate.textField name:'pointGoods.faceValue', value:pointGoods?.faceValue?:"",note:'元', required:true/}
    #{layout_operate.textField name:'pointGoods.pointPrice', value:pointGoods?.pointPrice?:"", note:'点', required:true/}
    #{set i:0/}


    #{layout_operate.textField name:'pointGoods.baseSale', value:pointGoods?.baseSale, note:'件', required:true/}



    #{layout_operate.textField name:'pointGoods.limitNumber', value:pointGoods?.limitNumber?:"", note:'个'/}


    #{if "add".equals(action)}
        #{layout_operate.fileField name:'imagePath',note:'图片尺寸：(340*260像素)', required:true/}
    #{/if}
    #{else}
        #{layout_operate.fileField name:'imagePath',note:'图片尺寸：(340*260像素)'/}
    <div class="control-group">
        <label for='levelPrices_${level}' class="control-label"> </label>

        <div class="controls">(修改前)<br/><img src="${imageLargePath}"/>
            <input type="hidden" name="imageLargePath" value="${imageLargePath}"></div>
    </div>
    #{/else}

    #{layout_operate.htmlField name:'pointGoods.details', value:pointGoods?.details, uploadImgUrl:'/Goods/images', required:true/}



<div class="form-actions">
    <input class="btn btn-primary" id="save" type="submit" value="保存"  #{if "edit".equals(action) && pointGoods?.status == models.sales.GoodsStatus.ONSALE}disabled #{/if}/>
    <input class="btn btn-primary" id="onsale" type="submit" value="保存并上架"/>
    #{if "edit".equals(action)}
        <input class="btn btn-primary" id="preview" type="submit" value="预览"/>
    #{/if}
    #{if "edit".equals(action)}
        #{vx.cancelButton url:'/pointgoods', class:'btn btn-primary'/}
    #{/if}
    <input type="hidden" id="status" name="pointGoods.status" value="${goods?.getStatus()?:'OFFSALE'}"/>
</div>

<script type="text/javascript">


    function showPrice(nameField) {
        var faceValue = $("#pointGoods_faceValue").val() == null ? 0 : $("#pointGoods_faceValue").val();
        var price = parseFloat($(nameField).val()) + parseFloat(faceValue);
        price = (price == null || price.toString() == "NaN") ? 0 : price;
        $("#realPrice_" + nameField.id).html(price.toFixed(2));
    }

    function showAddedPrice() {
        var faceValue = $("#pointGoods_faceValue").val() == null ? 0 : $("#pointGoods_faceValue").val();

    }

    showAddedPrice();

    $(function () {



        $("#pointGoods_pointPrice").keyup(function () {
            limitMoneyFormat(this, $("#pointGoods_pointPrice").val());
        })

        $("#pointGoods_faceValue").keyup(function () {
            limitMoneyFormat(this, $("#pointGoods_faceValue").val());
            showAddedPrice();
        })
        $("#pointGoods_faceValue").keydown(function () {
            limitMoneyFormat(this, $("#pointGoods_faceValue").val());
            showAddedPrice();
        })
        $("#pointGoods_faceValue").change(function () {
            showAddedPrice();
        })
        $("#goods_faceValue").focus(function () {
            limitMoneyFormat(this, $("#pointGoods_faceValue").val());
            showAddedPrice();
        })
      ;
    });

    function limitMoneyFormat(obj, value) {
        if (value != null && value != '') {
            var decimalIndex = value.indexOf('.');
            if (decimalIndex == '-1') {
                return false;
            } else {
                var decimalPart = value.substring(decimalIndex + 1, value.length);
                if (decimalPart.length > 2) {

                    $(obj).val(value.substring(0, decimalIndex + 3));
                    return false;
                }
            }
        }
        return true;
    }
</script>
#{/else}