#{extends 'main.html' /}
#{set title:'优惠啦 - 确认付款' /}
#{set 'moreStyles'}
<link href="@@{'/public/stylesheets/payment_info.css'}" rel="stylesheet" type="text/css"/>
#{/set}
#{set 'moreScripts'}
<script src="@@{'/public/javascripts/payment_info.js'}"></script>
<script type="text/javascript">
    $(window).load(
            function(){
                $("#confirm").click(function(){$("#confirm_form").submit()});

            });
</script>

#{/set}

<div id="full_bg"></div>
<div id="payment_result">
    <div style="text-align:center;">
        <a href="#" onclick="close_result_dialog();">关闭</a><br/><br/>
        <a href="#">遇到问题，重新选择付款信息</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">完成付款，查看结果</a>
    </div>
</div>
<div id="wrap_main">
    <div id="wrap_top">
    #{include "share/topNavigator.html"/}
    </div>

    <div id="wrap_top_header">
        <div id="wrap_top_header_left"><img src="@{'/public/images/logo.jpg'}"/></div>
        <div id="wrap_top_middle">券生活-惠生活</div>
    </div>
    <div style="clear:both"></div>
    <div class="fen_g"></div>
</div>
<!--主体内容部分-->
<div id="wrap_content">
    <div class="div_step_title">
        <div class="div_step_text_4">1</div>
        <div class="div_step_text_1">查看购物车 <span>>></span></div>

        <div class="div_step_3">2</div>
        <div class="div_step_text_1">确认订单信息<span>>></span></div>

        <div class="div_step_2">3</div>
        <div class="div_step_text_2">确认付款信息<span class="no_xiuzhen">>></span></div>
        <div class="div_step_3">4</div>
        <div class="div_step_text_1">成功提交订单</div>
    </div>
#{if order}
    <div id="pay_mothod_box">
        #{form @confirm() , id:"confirm_form"}

        <div class="top_bg_fense">
            <div class="arrow_left"></div>
            付款方式 <a class="font_blue noral_zhe" href="#">了解详情</a></div>
        <div class="dottod_line"></div>
        <div class="zong_box">
            <div class="table_box" align="center">
                <table width="960" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#EEEEEE">
                    <tr>
                        <td height="72" align="left">
                            <table width="700" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td height="50">
                                        <div class="margin_left_26">充值金额：<span
                                                class="font_red_one">${order.chargeAmount}</span>元
                                        </div>
                                        <div class="margin_left_26 span_blow">您的账号：${user.loginName}</div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div>
            <div class="zhifu_arrow">选择支付方式</div>
            <div>
                <div class="zhifubao_pay">
                    <div class="zhifubao_input">
                        <input name="paymentSourceCode" type="radio" checked="checked" value="alipay"/>
                    </div>
                    <div><img src="@{'/public/images/pay_icon/zhifubao_pay.jpg'}"/></div>
                </div>
            *{
                        <ul class="pay_company_ul">
                        <li class="pay_company">
                        <div class="pay_input">
                            <input name="" type="radio" value="" />
                        </div>
                        <div><img src="@{'/public/images/pay_icon/gongshang_icon.jpg'}" /></div>
                        </li>
                        <li class="pay_company">
                        <div class="pay_input"><input name="" type="radio" value="" /></div>
                        <div><img src="@{'/public/images/pay_icon/gongshang_icon.jpg'}" /></div>
                        </li>
                        <li class="pay_company">
                        <div class="pay_input"><input name="" type="radio" value="" /></div>
                        <div><img src="@{'/public/images/pay_icon/gongshang_icon.jpg'}" /></div>
                        </li>
                        <li class="pay_company">
                        <div class="pay_input"><input name="" type="radio" value="" /></div>
                        <div><img src="@{'/public/images/pay_icon/gongshang_icon.jpg'}" /></div>
                        </li>
                    </ul>
                    }*
            </div>
        </div>
        
            <input type="hidden" value="${order.id}" name="orderId"/>
            <div class="buttom_queren"><a class="suc_ok_bg" href="#" id="confirm" >确认订单，付款</a></div>
        #{/form}
    </div>

</div>
#{/if}

#{if !order}
<div style="padding:20px auto">
    对不起，找不到您所需要的订单:(
</div>
#{/if}


