#{extends 'main.html' /}
#{set title:'券市场 - 当当上传' /}
#{set 'moreStyles'}
    #{asset.css src:['/r/base.css', '/r/goods.css', '/r/play-pagination.css'] /}
<style type="text/css">
    b {
        color: red
    }
</style>
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}

#{set 'navMenu'}
<li><a href="/">首　页</a></li>
<li><a class="current" href="/goods">商品库</a></li>
<li><a href="/library">我的分销库</a></li>
<li><a href="/charge">账户充值</a></li>
<li><a href="/withdraw">账户提现</a></li>
#{/set}
<style type="text/css">
    .td {
        height: 20px;
        padding-top: 10px;
    }
</style>

<form action="/dangdang-add" method="POST" form="form">
    <div id="content">
        <div>
            <table border="0">
                <tr>
                    <td class="td">城市：上海</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="td" colspan="2">分类：
                    #{select 'category', id:'categoryId', value:category}
                        #{option "餐饮美食"}餐饮美食#{/option}
                        #{option "休闲娱乐"}休闲娱乐#{/option}
                        #{option "电影演出"}电影演出#{/option}
                        #{option "美容保健"}美容保健#{/option}
                        #{option "摄影写真"}摄影写真#{/option}
                        #{option "商旅/出游"}商旅/出游#{/option}
                        #{option "教育培训"}教育培训#{/option}
                        #{option "本地超市"}本地超市#{/option}
                        #{option "其他"}其他#{/option}
                    #{/select}
                    #{select 'sub_category', id:'sub_categoryId', value:sub_category}
                        #{option "自助餐"}自助餐#{/option}
                        #{option "西餐"}西餐#{/option}
                        #{option "火锅"}火锅#{/option}
                        #{option "川菜"}川菜#{/option}
                        #{option "东北菜"}东北菜#{/option}
                        #{option "湘菜"}湘菜#{/option}
                        #{option "粤菜"}粤菜#{/option}
                        #{option "江浙菜"}江浙菜#{/option}
                        #{option "私房菜"}私房菜#{/option}
                        #{option "香锅烧烤"}香锅烧烤#{/option}
                        #{option "日本料理"}日本料理#{/option}
                        #{option "韩国料理"}韩国料理#{/option}
                        #{option "快餐"}快餐#{/option}
                        #{option "蛋糕甜品"}蛋糕甜品#{/option}
                        #{option "其他"}其他#{/option}
                    #{/select}
                    </td>
                </tr>
                <tr>
                    <td class="td" colspan="2">团购标题名称：(限<b>280</b>个字)<b>*</b>
                        <input type="text" size="200" name="teamSummary" value="${name}"/></td>
                </tr>

                <tr>
                    <td class="td" colspan="2">团购产品标题：(最长<b>[24]</b>个字)<b>*</b>
                        <input type="text" size="200" name="teamShortName" value="${name}"/></td>
                </tr>
                <tr>
                    <td class="td" colspan="2">团购主图http开头：(图片大小在500k以内)<b>*</b>
                        <input type="text" size="200" name="srcImage" value="${imageOriginalPath}"/>
                    </td>
                </tr>
                <tr>
                    <td class="td">团购价：
                        <input type="text" name="salePrice" value="${salePrice}"/><b>*</b></td>
                    <td class="td">市场价：
                        <input type="text" name="originalPrice" value="${faceValue}"/><b>*</b>
                    </td>
                </tr>
                <tr>
                    <td class="td">团购开始时间：
                        <input type="text" name="beginTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"
                               size="25px" value="${effectiveAt?.format('yyyy-MM-dd HH:mm:ss')}"
                               class="Wdate"><b>*</b>
                    </td>
                    <td class="td"> 团购结束时间:
                        <input type="text" name="endTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"
                               size="25px" value="${expireAt?.format('yyyy-MM-dd HH:mm:ss')}"
                               class="Wdate"><b>*</b>
                    </td>
                </tr>
                <tr>
                    <td class="td">有效期开始时间：
                        <input type="text" name="effectStartDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"
                               size="25px" value="${effectiveAt?.format('yyyy-MM-dd HH:mm:ss')}"
                               class="Wdate"><b>*</b></td>
                    <td class="td"> 有效期结束时间：
                        <input type="text" name="effectEndDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"
                               size="25px" value="${expireAt?.format('yyyy-MM-dd HH:mm:ss')}"
                               class="Wdate"><b>*</b>
                    </td>
                </tr>
                <tr>
                    <td class="td">成团数量：<input type="text" name="teamMinNum" value="${teamMinNum}"><b>*</b>
                    <td class="td">团购上限 ：<input type="text" name="teamMaxNum" value="${teamMaxNum}"><b>*</b>
                    </td>
                </tr>
                <tr>
                    <td class="td">每人上限：
                        <input type="text" name="limitMaxNum"
                               value="${limitMaxNum}"><b>*</b>
                    <td class="td">每人下限 ：<input type="text" name="limitOnceMin" value="${limitOnceMin}"><b>*</b></td>
                </tr>
                <tr>
                    <td class="td">单次上限 ：<input type="text" name="limitOnceMax" value="${limitOnceMax}"><b>*</b>
                    <td class="td">单人购次数 ：<input type="text" name="buyTimes" value="${buyTimes}"><b>*</b>
                    </td>
                </tr>
                <tr>
                    <td class="td">退款类型 ：
                    #{select 'refundType', id:'refundType', value:refundType}
                        #{option "1"}没使用可退款#{/option}
                        #{option "0"}不允许退款#{/option}
                    #{/select}<b>*</b></td>
                    <td class="td">送货类型 ：
                    #{select 'deliveryType', id:'deliveryType', value:deliveryType}
                        #{option "1"}手机验证码#{/option}
                        #{option "2"}快递#{/option}
                    #{/select}<b>*</b>
                    </td>
                </tr>
                <tr>
                    <td class="td">商家信息 ：
                    #{select 'supplierId', id:'supplierId', value:supplierId}
                        #{option "12046"}100券生活服务#{/option}
                    #{/select}<b>*</b></td>
                </tr>

            </table>
        </div>
        <p>特别提示 富文本数据<b>*</b></p>
        <textarea rows="5" cols="200" name="notice">${notice}</textarea>

        <p>短信信息<b>*</b></p>
        <textarea rows="5" cols="200" name="teamTitle">${title}</textarea>

        <p>团购详情 富文本数据<b>*</b></p>
        <textarea rows="5" cols="200" name="teamDetail">
        #{if exhibition}
        ${exhibition.raw()}
            <p style="BACKGROUND-COLOR: rgb(204,0,0); FONT-WEIGHT: bold">
                <span style="font-family:SimSun;font-size:small;color:#ffffff;">温馨提示</span>
            </p>
        ${prompt.raw()}
            <p style="BACKGROUND-COLOR: rgb(204,0,0); FONT-WEIGHT: bold">
                <span style="font-family:SimSun;font-size:small;color:#ffffff;">商品介绍</span>
            </p>
        ${details.raw()}
            <p style="BACKGROUND-COLOR: rgb(204,0,0); FONT-WEIGHT: bold">
                <span style="font-family:SimSun;font-size:small;color:#ffffff;">商户介绍</span>
            </p>
        ${supplierDes.raw()}
            <p style="BACKGROUND-COLOR: rgb(204,0,0); FONT-WEIGHT: bold">
                <span style="font-family:SimSun;font-size:small;color:#ffffff;">适用门店</span>
            </p>
        #{/if}
        #{else}
        ${teamDetail?.raw()}
        #{/else}
        </textarea>
        <b>
        #{list items:shops, as:'shop'}
            #{if !shop.phone}
            ${shop.name} 门店缺少电话信息,要先去运营后台补充一下<br/>
            #{/if}
        #{/list}
        </b>
        <input type="hidden" name="goodsId" value="${goodsId}">
        <input type="hidden" name="save" id="save_flag" value="">
        <input type="submit" id="save" value="保存但不推送">
        <input type="submit" value="推送">
    </div>
</form>

<script type="text/javascript">
    $(function () {
        var sub_obj = $("#sub_categoryId");
        $("#categoryId").change(function () {
            var obj = $("#categoryId").val();
            sub_obj.empty();
            if (obj == "餐饮美食") {
                $("<option value='自助餐'>自助餐</option><option value='西餐'>西餐</option><option value='火锅'>火锅</option><option value='川菜'>川菜</option><option value='东北菜'>东北菜</option><option value='湘菜'>湘菜</option><option value='粤菜'>粤菜</option><option value='江浙菜'>江浙菜</option><option value='私房菜'>私房菜</option><option value='香锅烧烤'>香锅烧烤</option><option value='日本料理'>日本料理</option><option value='韩国料理'>韩国料理</option><option value='快餐'>快餐</option><option value='蛋糕甜品'>蛋糕甜品</option><option value='其他'>其他</option>").appendTo(sub_obj);
            } else if (obj == "休闲娱乐") {
                $("<option value='KTV'>KTV</option><option value='运动健身'>运动健身</option><option value='温泉洗浴'>温泉洗浴</option><option value='酒吧'>酒吧</option><option value='游艺电玩'>游艺电玩</option><option value='其他'>其他</option>").appendTo(sub_obj);
            } else if (obj == "电影演出") {
                $("<option value='电影'>电影</option><option value='赛事'>赛事</option><option value='演唱会'>演唱会</option><option value='话剧'>话剧</option><option value='演艺'>演艺</option><option value='其他'>其他</option>").appendTo(sub_obj);
            } else if (obj == "美容保健") {
                $("<option value='美发'>美发</option><option value='美甲'>美甲</option><option value='美容美体'>美容美体</option><option value='保健按摩'>保健按摩</option><option value='体检'>体检</option><option value='口腔'>口腔</option><option value='其他'>其他</option>").appendTo(sub_obj);
            } else if (obj == "摄影写真") {
                $("<option value='婚纱摄影'>婚纱摄影</option><option value='儿童摄影'>儿童摄影</option><option value='孕妇摄影'>孕妇摄影</option><option value='个性写真'>个性写真</option><option value='全家福'>全家福</option><option value='证件照'>证件照</option><option value='其他'>其他</option>").appendTo(sub_obj);
            } else if (obj == "商旅/出游") {
                $("<option value='机票'>机票</option><option value='火车票'>火车票</option><option value='邮轮'>邮轮</option><option value='酒店客栈'>酒店客栈</option><option value='旅游线路'>旅游线路</option><option value='景点门票'>景点门票</option><option value='租车'>租车</option><option value='签证'>签证</option><option value='其他'>其他</option>").appendTo(sub_obj);
            } else if (obj == "教育培训") {
                $("<option value='外语'>外语</option><option value='升学'>升学</option><option value='特长'>特长</option><option value='考级'>考级</option><option value='亲子'>亲子</option><option value='职业教育'>职业教育</option><option value='远程教育'>远程教育</option><option value='其他'>其他</option>").appendTo(sub_obj);
                $("<option value=''></option><option value='其他'>其他</option>").appendTo(sub_obj);
            } else if (obj == "本地超市") {
                $("<option value='瓜果蔬菜'>瓜果蔬菜</option><option value='海鲜肉类'>海鲜肉类</option><option value='粮油米面'>粮油米面</option><option value='酒水饮料'>酒水饮料</option><option value='零食干货'>零食干货</option><option value='日常用品'>日常用品</option><option value='鲜花礼品'>鲜花礼品</option><option value='其他'>其他</option>").appendTo(sub_obj);
            } else if (obj == "其他") {
                $("<option value='汽车美容'>汽车美容</option><option value='宠物服务'>宠物服务</option><option value='家政服务'>家政服务</option><option value='预订服务'>预订服务</option><option value='验光配镜'>验光配镜</option><option value='婚庆服务'>婚庆服务</option><option value='其他'>其他</option>").appendTo(sub_obj);
            }
        });
        $("#save").click(function () {
            $("#save_flag").val("save");
            $("#form").attr("target", "_self");
        });
    });

</script>
