#{extends 'layout_operate/layout.html' /}
#{include 'share/nav.html' /}
#{set title:'积分商品订单详请' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
    function prepareSend(id) {
        $("#sendForm").attr("action", "/pointgoods_orders/" + id + "/send?x-http-method-override=PUT");
        $('#sendModal').modal('show');
    }
    $(function () {
        #{if !play.Play.runingInTestMode()}
            $("#send").click(function () {
                var result = true;
                if ($("#order_deliveryNo").val().trim() == "") {
                    //                $("#note_order_deliveryNo").addClass("error");
                    $("#note_order_deliveryNo").html("请输入单号!");
                    $("#order_deliveryNo").focus();
                    result = false;
                }
                else {
                    //                $("#note_order_deliveryCompany").removeClass("error");
                    $("#note_order_deliveryCompany").html("");
                }
                if ($("#order_deliveryCompany").val().trim() == "") {
                    //                $("#note_order_deliveryCompany").addClass("error");
                    $("#note_order_deliveryCompany").html("请输入公司!");
                    $("#order_deliveryCompany").val("");
                    $("#order_deliveryCompany").focus();
                    result = false;
                } else {
                    $("#note_order_deliveryCompany").removeClass("error");
                    $("#note_order_deliveryCompany").html("");
                }
                if (result) {
                    $("#sendForm").submit();
                }
            });
        #{/if}
        #{else}
            $("#send").click(function () {
                $("#sendForm").submit();
            });
        #{/else}
    });
</script>
#{/set}


#{set 'moreStyles'}
<style type="text/css">
    .szie{
        height:130px;
        width: 320px;
    }
</style>
#{/set}

<div class="body">
    <legend>${title}</legend>
    <ul class="nav">
        <li class="active"><a href="#"> 基本信息</a></li>
        <table class="table table-bordered">
            <tr>
                <td>订 单 号：${pointGoodsOrder.orderNumber}</td>
                <td>申请时间：${pointGoodsOrder.applyAt == null ?'':pointGoodsOrder.applyAt.format("yyyy-MM-dd HH:mm:ss")}</td>

            </tr>
            <tr>

                <td>订单状态：
                #{if models.order.PointGoodsOrderStatus.APPLY.equals(pointGoodsOrder?.status)}
                    待审核
                #{/if}

                #{if models.order.PointGoodsOrderStatus.ACCEPT.equals(pointGoodsOrder?.status)}
                    审核通过
                #{/if}

                #{if models.order.PointGoodsOrderStatus.CANCELED.equals(pointGoodsOrder?.status)}
                    审核未通过
                #{/if}

                *{${'pointGoodsOrder.'+ pointGoodsOrder?.status}}*
                </td>
                *{<td>物流方式： &{'pointGoodsOrder.'+pointGoodsOrder.deliveryType}</td>}*



                <td>物流状态：
                #{if models.order.PointGoodsOrderStatus.ACCEPT.equals(pointGoodsOrder?.status)&& models.order.PointGoodsOrderSentStatus.UNSENT.equals(pointGoodsOrder?.sentStatus)}
                未发货
                #{/if}
                #{if models.order.PointGoodsOrderSentStatus.SENT.equals(pointGoodsOrder?.sentStatus) && models.order.PointGoodsOrderStatus.ACCEPT.equals(pointGoodsOrder?.status)}
                已发货
                #{/if}

                </td>

            </tr>
        </table>
    </ul>
    <ul class="nav">
        <li class="active"><a href="#"> 订单信息</a></li>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>商品名称</th>
                <th>原价</th>
                <th>单价积分</th>
                <th>数量</th>
                <th>总积分</th>
                <th>收货手机</th>

            </tr>
            </thead>
            <tbody>
            *{#{list items:orderItems, as:'orderItem' }}*
            <tr>
                *{<td>${orderItem.pointGoodsOrder.pointGoodsName}</td>}*
                *{<td>${orderItem.pointGoodsOrder.pointPrice}</td>}*
                *{<td>${orderItem.pointGoodsOrder.buyNumber}</td>}*
                *{<td>${orderItem.pointGoodsOrder.amount}</td>}*

                <td>${pointGoodsOrder.pointGoodsName}</td>
                <td>${pointGoodsOrder.faceValue?.formatCurrency('CNY')}</td>
                <td>${pointGoodsOrder.pointPrice}点</td>
                <td>${pointGoodsOrder.buyNumber}</td>
                <td>${pointGoodsOrder.amount}点</td>
                <td>${pointGoodsOrder.receiverMobile}</td>

                *{<td>&{'goods.'+orderItem.goods.materialType}</td>}*


            </tr>
            *{#{/list}}*
            </tbody>
            *{<tr>}*
                *{<td colspan="9">商品金额： #{if orders.containsRealGoods()}}*
                *{${orders.amount.subtract(models.order.Order.FREIGHT)}#{/if}#{else}${orders.amount}#{/else}&nbsp;元}*
                    *{&nbsp;+ 运费：}*
                *{#{if orders.containsRealGoods()}${models.order.Order.FREIGHT}#{/if}#{else}0#{/else} 元 = &nbsp;总金额：}*
                *{${orders.amount} 元 (余额支付:${orders.accountPay}元, 网银支付:${orders.discountPay}元)}*
                *{</td>}*
            *{</tr>}*
        </table>
    </ul>
#{if pointGoodsOrder.containsRealGoods()}
    <ul class="nav">
        <li class="active"><a href="#"> 收货信息</a></li>
        <table class="table table-bordered table-striped">

            <tr>
                <td>收货人： ${pointGoodsOrder?.receiverName}</td>
            </tr>
            <tr>
                <td>地址： ${pointGoodsOrder?.receiverAddress} </td>
            </tr>

            <tr>
                <td>
            邮编:${pointGoodsOrder?.postcode}     </td>
            *{</tr>}*

                *{<td>手机： ${pointGoodsOrder?.receiverMobile}</td>}*
            *{</tr>}*

            <tr>
                <td>手机： ${pointGoodsOrder?.receiverMobile}</td>
            </tr>

            <tr>
                <td>电话： ${pointGoodsOrder?.receiverPhone}</td>
            </tr>

            *{<tr>}*
                *{<td>订单留言： ${pointGoodsOrder?.remark}</td>}*
            *{</tr>}*
        </table>
    </ul>
    *{#{if models.order.OrderStatus.PAID.equals(orders.realGoodsStatus)}}*
        *{<a class="btn btn-primary" onclick="prepareSend(${orders.id})">发货</a><br/><br/>}*
    *{#{/if}}*
#{/if}
    <ul class="nav">
        <li class="active"><a href="#"> 订购人信息</a></li>
        <table class="table table-bordered table-striped">
            <tr>
                <td>帐号： ${pointGoodsOrder.user?.loginName}</td>
            </tr>
            <tr>
                <td>手机： ${pointGoodsOrder.user?.mobile}</td>
            </tr>





            <tr>
                <td>电话： ${pointGoodsOrder.buyerPhone}</td>
            </tr>
            <tr>
                <td>订单留言： ${pointGoodsOrder.remark}</td>
            </tr>
        </table>
    </ul>



    <ul class="nav">
        <li class="active"><a href="#"> 备注</a></li>
        <table class="table table-bordered table-striped"  >
            <tr >
                <td>

                ${pointGoodsOrder?.note}&nbsp;
                </td>
            </tr>

        </table>
    </ul>

*{#{if orders.refundAt != null }}*
    *{<ul class="nav">}*
        *{<li class="active"><a href="#"> 退款信息</a></li>}*
        *{<table class="table">}*
            *{<tr>}*
                *{<td>申请退款时间：${orders.refundAt?.format("yyyy-MM-dd HH:mm:ss")}</td>}*
            *{</tr>}*
            *{<tr>}*
                *{<td>退款时间： ${orders.refundAt?.format("yyyy-MM-dd HH:mm:ss")}</td>}*
            *{</tr>}*
        *{</table>}*
    *{</ul>}*
*{#{/if}}*
</div>

<div class="modal" id="sendModal" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>

        <h3>发货信息</h3>
    </div>

    <div class="modal-body">
    #{form @OperateOrders.index(), id:"sendForm", name:"sendForm", enctype:'multipart/form-data',
        class:"form-horizontal",method:"PUT"}
        #{layout_operate.textField name:'order.deliveryCompany', value:order?.deliveryCompany, required:true,
    err:"deliveryCompany"/}
        #{layout_operate.textField name:'order.deliveryNo', value:order?.deliveryNo, required:true/}
        #{/form}
    </div>
    <div class="modal-footer">
        <a href="#" id="send" class="btn btn-primary">发货</a>
        <a href="#" class="btn" data-dismiss="modal">取消</a>
    </div>
</div>

