#{extends 'layout_operate/layout.html' /}
#{include '/share/nav.html' /}
#{set title:'门店一览' /}
<div class="body">

    <legend>${title}</legend>
    <form class="form-horizontal" action="@{OperateShops.index()}" method="get">
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>商户</td>
                <td>#{vx.selectInputField name:"supplierName", id:"shopCondition.supplierId", list:supplierList/}
                </td>
                <td>门店</td>
                <td><input type="text" id="shopCondition_name" name="shopCondition.name" class="input-large"
                           value="${shopCondition?.name}"/></td>
                <td>
                    <button class="btn btn-primary" type="submit">搜 索</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
            <th>商户</th>
            <th>门店名称</th>
            <th>门店地址</th>
            <th>门店电话</th>
            <th>按门店提现</th>
            <th>操 作</th>
        </tr>
        </thead>

        <tbody>
        #{paginate.list items:shopPage, as:'shop' }
        <tr>
            <td>${shop.supplierName}</td>
            <td>${shop.name}</td>
            <td>${shop.address} #{if shop?.hasMap()}<a href="@{OperateShops.edit(shop.id)}"><img
                    src="@@{'/public/images/map-logo.png'}" alt="点击修改地图位置" height="10px" weight="10px"></a>#{/if}</td>
            <td>${shop.phone}</td>
            <td>&{'shop.independentClearing.'+shop.independentClearing}</td>
            <td>
                <a href="/shops/${shop.id}/edit?page=${shopPage.pageNumber?:1}">修改</a>
                /#{vx.deleteLink action:"shops", id:shop.id, name:shop.name/}
            </td>
        </tr>
        #{/paginate.list}
        </tbody>
    </table>
    <div class="pagination" align="center">
        <ul>
        #{paginate.controls items:shopPage /}
        </ul>
    </div>
</div>

