#{if "add".equals(action)}
    #{layout_operate.selectField name:'shop.supplierId', class:'span2', value:shop?.supplierId,
    error:'shop.supplierId'}
        #{list items:supplierList, as:'supplier' }
            #{option supplier.id}${supplier.fullName}#{/option}
        #{/list}
    #{/layout_operate.selectField}
#{/if}
#{else}
<input type="hidden" name="shop.supplierId" value="${shop?.supplierId}">
    #{layout_operate.textField name:'shop.supplierName', value:shop?.supplierName, disabled:true/}
#{/else}

#{layout_operate.selectField name:'shop.cityId', class:'span2', value:shop?.cityId, error:'shop.cityId',list:cities/}
#{layout_operate.selectField name:'shop.districtId', class:'span2', value:shop?.districtId, error:'shop.districtId',list:districts/}
#{layout_operate.selectField name:'shop.areaId', class:'span2', value:shop?.areaId, error:'shop.areaId',list:areas/}
#{layout_operate.textField name:'shop.name', class:'span2', value:shop?.name, required:true/}
#{layout_operate.textField name:'shop.address', value:shop?.address, required:true/}
#{layout_operate.textField name:'shop.phone', value:shop?.phone/}

<div class="form-actions">
    <button class="btn btn-primary" id="save" type="submit">保 存</button>
#{if "edit".equals(action)}
    #{vx.cancelButton url:'/shops', class:'btn btn-primary'/}
#{/if}
</div>