<tbody>
<tr>
#{if (ktvSupplier==false || ktvSupplier == null ) && ktvProduct  == false}
    <td>
        #{if "add".equals(action)}
            #{vx.selectAllField listName:"goods.shops.id", selected:selectAll/}
        #{/if}
    #{else}
        #{vx.selectAllField listName:"goods.shops.id"/}
    #{/else}
    </td>
    <td colspan="3"></td>
#{/if}


</tr>
<SCRIPT type=text/javascript>
    #{if shopList== null || shopList.size()==0}
    $("#err-goods_supplierId").html("该商户没有门店，请先为商户添加门店！");
    #{/if}
    #{else}
    $("#err-goods_supplierId").html("");
    #{/else}
</SCRIPT>
#{list items:shopList, as:'shop' }
<tr>
    <td><input #{if ktvSupplier && ktvProduct } type="radio" #{/if}#{else}type="checkbox"#{/else} id="shops"
                                                value="${shop?.id}"
                                                name="goods.shops.id"
                                                #{if shopIds?.contains(","+shop?.id+",")}checked#{/if}
            /> ${shop.name}
    </td>
    <td>${shop.address}</td>
    <td>${shop.phone}</td>
    <td><a href="/shops/${shop.id}/edit" target="_blank">修改门店</a></td>
</tr>
#{/list}
<input type="hidden" id="ktv_supplier" name="ktvSupplier" value="${ktvSupplier}"/>
<input type="hidden" id="action" name="action" value="${action}"/>
<input type="hidden" id="ktv_product_value" name="ktvProduct" value="${ktvProduct}"/>

</tbody>
<script type="text/javascript">
    $(function () {
        alert($("#ktv_product_value").val());
        ktvSupplier = $("#ktv_supplier").val();
        ktvProduct = $("input[name='goods.ktvProduct']:checked").val();
        $("#ktv_product_value").val(ktvProduct);
        alert(ktvProduct);
        action = $("#action").val();
        if (ktvSupplier == 'false' || ktvSupplier == null) {
            $("#select_all_shops").show();
            $("#ktv_supplier_shops").hide();
//            if (action == 'edit') {
            if ($("input[name='goods.isAllShop']:checked").val() == 'false') {
                $("#shop").show()
            }
            else {
                $("#shop").hide();
            }
        }
        else if (ktvProduct) {
            $("#select_all_shops").hide();
            $("#ktv_supplier_shops").show();
            $("#shop").show();
        }
    });
</script>
