<tbody>
<tr>
    <td>#{if "add".equals(action)}
        #{vx.selectAllField listName:"goods.shops.id", selected:selectAll/}
    #{/if}
    #{else}
        #{vx.selectAllField listName:"goods.shops.id"/}
    #{/else}</td>
    <td colspan="2"></td>
</tr>
#{list items:shopList, as:'shop' }
<tr>
    <td><input type="checkbox" id="shops" value="${shop?.id}" name="goods.shops.id"
               #{if shopIds.contains(","+java.lang.String.valueOf(shop?.id)+",")}checked#{/if}/> ${shop.name}</td>
    <td>${shop.address}</td>
    <td>${shop.phone}</td>
</tr>
#{/list}
</tbody>