#{if "add".equals(action)}
    #{layout_operate.selectField name:'brand.supplier.id', value:brand?.supplier?.id, error:'brand.supplier',
    class:'span2'}
        #{list items:supplierList, as:'supplier' }
            #{option supplier.id}${supplier.fullName}#{/option}
        #{/list}
    #{/layout_operate.selectField}
#{/if}
#{else}
<input type="hidden" name="brand.supplier.id" value="${brand?.supplier?.id}">
    #{layout_operate.textField name:'brand.supplier', value:brand?.supplier?.fullName, disabled:true/}
#{/else}
#{layout_operate.nameField name:'brand.name', value:brand?.name, required:true,length:10,note:'(10个字以内)'/}
#{layout_operate.textField name:'brand.displayOrder', value:brand?.displayOrder, required:true/}

#{layout_operate.radioField name:'brand.isHot', value:brand?.isHot?:false, required:true/}
#{layout_operate.radioField name:'brand.display', value:(brand?.display==null)?true:brand?.display, required:true/}
#{layout_operate.nameField name:'brand.description', value:brand?.description,required:true, length:10,note:'(10个字以内)'/}
#{layout_operate.textareaField name:'brand.introduce', value:brand?.introduce/}
#{if "add".equals(action)}
    #{layout_operate.fileField name:'logoImage',note:'图片尺寸：(300*180像素)', required:true/}
#{/if}
#{else}
    #{layout_operate.fileField name:'logoImage',note:'图片尺寸：(300*180像素)',/}
<div class="control-group">
    <div class="controls">(修改前)<br/><img src="${imageLogoPath}"/>
        <input type="hidden" name="imageLogoPath" value="${imageLogoPath}"></div>
</div>
#{/else}
#{if "add".equals(action)}
    #{layout_operate.fileField name:'siteDisplayImage',note:'图片尺寸：(200*125像素)', required:true/}
#{/if}
#{else}
    #{layout_operate.fileField name:'siteDisplayImage',note:'图片尺寸：(200*125像素)'/}
<div class="control-group">
    <div class="controls">
        (修改前)<br/><img src="${siteDisplayMiddleImage}"/>
        <input type="hidden" name="image" value="${siteDisplayMiddleImage}"></div>
</div>
#{/else}
<div class="form-actions">
    <input class="btn btn-primary" id="save" type="submit" value="保存"/>
#{if "edit".equals(action)}
    #{vx.cancelButton url:'/brands', class:'btn btn-primary'/}
#{/if}
</div>