#{extends 'layout_operate/layout.html' /}
#{set title:'分销商详细信息' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/resaler.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
#{include '/share/nav.html' /}
<div class="body">
*{<form class="form-horizontal" name="frm" action="" method="post">}*
    <form class="form-horizontal" id="checkFrm" method="post" action="@{Resalers.update(resaler?.id)}">
        <legend>分销商详细信息</legend>
        <!--  <div class="control-group">
            <label class="control-label">帐户类型</label>

            <div class="controls">&{'resaler.'+resaler?.accountType}
            </div>
        </div>-->
        <div class="control-group">
            <label class="control-label">分销商状态</label>

            <div class="controls">&{'resaler.'+resaler?.status}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">用户名</label>

            <div class="controls">${resaler?.loginName}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">身份证号码</label>

            <div class="controls">${resaler?.identityNo}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>

            <div class="controls">${resaler?.userName}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机</label>

            <div class="controls">${resaler?.mobile}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话</label>

            <div class="controls">${resaler?.phone}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">邮箱</label>

            <div class="controls">${resaler?.email}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">联系人地址</label>

            <div class="controls">${resaler?.address}
            </div>
        </div>
    #{layout_operate.selectField name:'resaler.salesId', class:'span2', value:resaler?.salesId,error:'resaler.salesId'}
        #{list items:operateUserList, as:'operator' }
            #{option operator?.id}
                #{if operator?.userName!=null}
                ${operator?.userName}
                #{/if}
                #{else}
                ${operator?.loginName}
                #{/else}
            #{/option}
        #{/list}
    #{/layout_operate.selectField}
        <div class="control-group">
            <label class="control-label">运营商</label>

            <div class="controls">
                <select name="resaler.operator.id">
                    <option value="">--请选择--</option>
                #{list items:operators,as:'operator'}
                    <option value="${operator.id}" ${resaler.operator?.id==operator.id?'selected':''}>${operator.name}</option>
                #{/list}
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">会员级别</label>

            <div class="controls">
            #{if !"1".equals(flag)}
                #{select 'resaler.level', value:resaler?.level,id:'level',class:'input-small'}
                    #{option "NORMAL"}&{'resaler.NORMAL'}#{/option}
                #{/select}
            #{/if}
            #{else}
            &{'resaler.'+resaler.level}
            #{/else}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">账户可欠款</label>

            <div class="controls">
            #{if !"1".equals(flag)}
                <label class="radio">
                    <input type="radio" name="resaler.creditable" value="YES" #{if resaler?.creditable} checked#{/if}>是
                </label>
                <label class="radio">
                    <input type="radio" name="resaler.creditable" value="NO"  #{if !resaler?.creditable} checked#{/if}>否
                </label>
            #{/if}
            #{else}
            &{'resaler.creditable.' + resaler.creditable}
            #{/else}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">可批量发券</label>

            <div class="controls">
            #{if !"1".equals(flag)}
                <label class="radio">
                    <input type="radio" name="resaler.batchExportCoupons" value="YES" #{if resaler?.batchExportCoupons}
                           checked#{/if}>是
                </label>
                <label class="radio">
                    <input type="radio" name="resaler.batchExportCoupons" value="NO"  #{if !resaler?.batchExportCoupons}
                           checked#{/if}>否
                </label>
            #{/if}
            #{else}
            &{'resaler.batchExportCoupons.' + resaler.batchExportCoupons}
            #{/else}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">备注</label>

            <div class="controls">
            #{if !"1".equals(flag) && !"APPROVED".equals(resaler?.status.toString())}
                <textarea rows="5" cols="8" name="resaler.remark" id="remark">${resaler?.remark}</textarea>
                <span class="error" id="checkRemark">#{error 'resaler.remark'/}</span>
            #{/if}
            #{else}
            ${resaler?.remark}
            #{/else}
            </div>
        </div>
    #{if hasHandleResalerCommissionRatioPermission == true && "0".equals(flag)}
        <div class="control-group">
            <label class="control-label">佣金比例</label>

            <div class="controls">
                <input type="text" class="input-small" id="commissionRatio" name="resaler.commissionRatio"
                       value="${resaler?.commissionRatio}" onchange="check()">
            % &nbsp;&nbsp;(0-100%)
                <span class="error"> #{error 'resaler.commissionRatio'/}</span>
            </div>
        </div>
    #{/if}
    #{elseif hasHandleResalerCommissionRatioPermission == true && !"0".equals(flag)}
        <div class="control-group">
            <label class="control-label">佣金比例</label>

            <div class="controls">
            ${resaler?.commissionRatio?:0}%
            </div>
        </div>
        <input type="hidden" name="resaler.commissionRatio" value="${resaler?.commissionRatio}">
    #{/elseif}

        <input type="hidden" name="resaler.status" id="resaler_status" value="${resaler?.status}">

        <div class="form-actions">
        #{if !"1".equals(flag)}
            #{if "PENDING".equals(resaler?.status.toString()) ||"UNAPPROVED".equals(resaler?.status.toString()) }
            <button class="btn btn-primary" onclick="checkResaler('${resaler.id}','APPROVED')" id="approved"
                    type="button"> 审核
            #{/if}
            #{else}
            <button class="btn btn-primary" type="submit"> 修改
            #{/else}
        </button>
        #{/if}
        #{if !"UNAPPROVED".equals(resaler?.status.toString()) && !"APPROVED".equals(resaler?.status.toString())}
            <button class="btn btn-primary" onclick="checkResaler('${resaler.id}','UNAPPROVED',0)" id="unapproved"
                    type="button">审核未通过
            </button>
        #{/if}
            <button class="btn btn-primary" onclick="javascript:window.history.back(-1)" type="button">返回</button>
        </div>
    </form>
</div>


<script type="text/javascript">

    function check() {
        var str = document.all("resaler.commissionRatio").value;
        if (str < 0 || str > 100) {
            alert("请在佣金比例中输入大于0小于100的数！ ");
            document.all("resaler.commissionRatio").value = "";
            return   false;
        }
        return   true;
    }

</script>