#{extends 'layout_operate/layout.html' /} #{set title:'分销商一览' /} #{include '/share/nav.html' /}
<div class="body">
    <legend>${title}</legend>
    <form class="form-horizontal" name="frmlist" id="frmlist" action="@{Resalers.index()}" method="GET">
        <table width="100%">
            <tr>
                <td width="30%">用户名：<input type="text" name="condition.loginName" class="input-medium"
                                           value="${condition?.loginName}"/></td>
                <td width="30%">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态：
                #{select 'condition.status', id:'condition_status',class:'input-medium', value:condition?.status}
                    #{option ""}不限#{/option}
                    #{option "PENDING"}&{'resaler.PENDING'}#{/option}
                    #{option "APPROVED"}&{'resaler.APPROVED'}#{/option}
                    #{option "UNAPPROVED"}&{'resaler.UNAPPROVED'}#{/option}
                    #{option "FREEZE"}&{'resaler.FREEZE'}#{/option}
                #{/select}
                </td>
                <td>
                    <button class="btn btn-primary" id="searchbtn" type="submit">搜索</button>
                </td>
            </tr>
        </table>
    </form>

  #{vx.tab enumItems: models.resale.ResalerStatus.values(),name:'resaler',select:'condition_status',value:condition?.status/}
  <form class="form-horizontal" id="stateForm" method="POST">
    <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
        <!--    <th>帐户类型</th>-->
            <th>用户名</th>
            <th>姓名</th>
            <th>手机</th>
            <th>状态</th>
            <th>创建时间</th>
            <th>运营商</th>
            <th>操 作</th>
        </tr>
        </thead>

        <tbody>

        #{paginate.list items:resalers, as:'resaler'}
        <tr>
           <!--  <td>&{'resaler.'+resaler.accountType}</td> -->
            <td>${resaler.loginName}</td>
            <td>${resaler.userName}</td>
            <td>${resaler.mobile}</td>
            <td>&{'resaler.'+resaler.status}</td>
            <td>${resaler.createdAt?.format("yyyy-MM-dd HH:mm:ss")}</td>
            <td>${resaler.operator?.name}</td>
            <td>
            #{if !models.resale.ResalerStatus.FREEZE.equals(resaler.status)}
            <a href="@{Resalers.detail(resaler.id,'0')}">
             #{if "PENDING".equals(resaler?.status.toString()) ||"UNAPPROVED".equals(resaler?.status.toString())}审核#{/if} #{else}修改#{/else}</a>/
             <a href="@{Resalers.detail(resaler.id,'1')}">查看</a>
             #{/if}
              #{if models.resale.ResalerStatus.APPROVED.equals(resaler.status)}
                     /#{vx.operateLink text:"冻结", url:"/resalers/"+resaler.id+"/freeze", method:"PUT"/}#{/if}
                    *{/ <a href="@{Resalers.freeze(resaler.id)}">冻结</a>/#{/if}}*
                #{if models.resale.ResalerStatus.FREEZE.equals(resaler.status)}
                     #{vx.operateLink text:"解冻", url:"/resalers/"+resaler.id+"/unfreeze", method:"PUT"/}#{/if}
                    *{/ <a href="@{Resalers.unfreeze(resaler.id)}">解冻</a>#{/if}}*
            </td>
        </tr>
        #{/paginate.list}
        </tbody>
    </table>
    </form>
    <div class="pagination" align="center">
        <ul>#{paginate.controls items:resalers /}
        </ul>
    </div>
</div>