#{extends 'main.html' /}
#{set title:'现金券' /}
#{set 'moreStyles'}
    #{asset.css src:['/y/user/userBase.css', '/y/user/userCashRecharge.css'] /}
#{/set}

<div id="content" class="clearfix">
    #{include "share/left.html"/}
    <div class="section">
        #{breadcrumbs/breadcrumb breadcrumbs/}
        <div class="user-account">
            账户：<strong>${user?.loginName}</strong> 可提现账户余额：<span>${account.amount}</span>元 不可提现账户余额：<span>${account.promotionAmount?:"0.00"}</span>元
        </div>

        #{if action=="verify"}
            #{form @CashCoupons.verify(), method:'POST', class:'recharge-form'}
                #{if suc}
                    <div class="item item-success"> ${suc} </div>
                #{/if}
                #{if errMsg}
                    <div class="item item-error"> ${errMsg} </div>
                #{/if}


                <div class="item item-passsword">
                    <label for="recharge-passsword">充值密码：</label>
                    <input type="text" id="recharge-passsword" name="couponCode" value="${couponCode}">
                    <span class="error" id="passsword-error"></span>
                </div>
                <div class="item item-verification">
                    <label for="verification-code">验 证 码：</label>
                    <input type="text" id="verification-code" name="code">
                    <img id="captchaImg" style="width:82px;height:24px" src="@{CaptchaProvider.captcha(randomID)}">
                    <a id="diff-code" class="diff-code" href="">看不清，换一张</a>
                    <span class="error" id="verification-error"></span>
                </div>
                <div class="item item-btn">
                    <input type="hidden" name="randomID" value="${randomID}" id="randomID">
                    <button class="recharge-btn" id="recharge-btn" type="submit"> 充 值 </button>
                </div>
            #{/form}
        #{/if}
        #{elseif action=="use"}
            #{form @CashCoupons.useCoupon(), method:'POST', class:'recharge-form'}
                <div class="item">
                    名 称：${coupon?.name}<br>
                    金 额：<em class="cash">${coupon?.faceValue}</em>元
                </div>
                <div class="item item-btn">
                    <input type="hidden" name="ridA" value="${ridA}">
                    <input type="hidden" name="ridB" value="${ridB}">
                    <button class="recharge-btn" id="confirm-btn" type="submit"> 确 定 </button>
                </div>
            #{/form}
        #{/elseif}

        <div class="recharge-instruction">
            <strong>现金券充值只可用于消费，不能提现。</strong><br>
            <span>充值步骤：</span>请输入您收到的现金券密码，点击充值后，券面金额将充值到您的账户余额，可在“<a href="">我的一百券-资金明细</a>”中查看。
        </div>

    </div>
</div>


<script>
$(document).ready(function(){
    $('#diff-code').click(function(ev){
        ev.preventDefault();
        var img = $('#captchaImg');
        var t = +new Date;
        img.attr('src', '/captcha?id='+ t);
        $("#randomID").val(t);
    });

    $('#recharge-btn').click(function(){
        var pw = $('#recharge-passsword'),
        vc = $('#verification-code');

        if (pw.val() == '') {
            $('#passsword-error').html('请输入充值密码');
            pw.focus().keydown(function(){
                $('#passsword-error').html('');
            });
            return false;
        }
        if (vc.val() == '') {
            $('#verification-error').html('请输入验证码');
            vc.focus().keydown(function(){
                $('#verification-error').html('');
            });
            return false;
        }

    });
});
</script>


