#{extends 'layout_operate/layout.html' /}
#{include 'share/nav.html' /}
#{set title:'商户验证消费券' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/coupons.js'}" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
    $(
        function () {
            $("#supplierId").change(function () {
                $("#shop").load("/shops/" + $("#supplierId").val() + "/showSupplierShops", function (data) {
                    $("#selectAll").click();
                });
            });
        });
</script>

#{/set}
<legend>商户验证消费券</legend>
<form action="" class="form-horizontal" style="padding-left: -5px">
    #{layout_operate.selectField name:'supplierId',class:'span2', value:supplierId,
    error:'supplierUser.supplierId'}
        #{list items:supplierList, as:'supplier' }
            #{option supplier.id}${supplier.fullName}#{/option}
        #{/list}
    #{/layout_operate.selectField}

<div id="shop">#{include '/OperateShops/showSupplierShops.html'/}</div>
<div class="control-group">
    <label for="eCouponSn" class="control-label">券号:</label>
    <div class="controls">
        <input type="text" name="eCouponSn" id="eCouponSn" class="input-large"/>
        <span class="control-group" id="checksn"></span>
    </div>
</div>
<div class="control-group" style="display: none">#{include 'OperateVerifyCoupons/verify.html' /}</div>
<div class="control-group" style="padding-left: 100px" id="showinfo"></div>
<div class="control-group" id="statusw"></div>
</form>
<div class="form-actions" style="padding-left: 80px">
    <button class="btn btn-primary" id="query">查询</button>
    <button class="btn btn-primary" id="sure" disabled>验证</button>
</div>

