<style type="text/css">
    .p1 {
        font-size: 15px;
        line-height: 30px;
        padding-left: 130px;
    }
</style>
#{if ecoupon != null}
    #{if ecouponStatusDescription != null }
    <span style="border:1px solid #ff0000;color:#ff0000;line-height: 2;margin-left: 130px;">${ecouponStatusDescription}</span>
    <script type="text/javascript">
        $("#sure").attr("disabled", true);
    </script>
    <div class="p1">券编号: ${ecoupon.eCouponSn}<br/>
        商品名称: ${ecoupon.goods.title}<br/>
        #{if ecoupon.consumedAt != null}
            消费日期：${ecoupon.consumedAt?.format('yyyy-MM-dd HH:mm:ss')}<br/>
            验证门店：${ecoupon.shop?.name}<br/>
            验证方式：&{'coupon.'+ecoupon.verifyType}<br/>
            验证人：${ecoupon.operateUserName}<br/>
        #{/if}
        #{if ecoupon.refundAt != null}
            退款日期：${ecoupon.refundAt?.format('yyyy-MM-dd HH:mm:ss')}<br/>
        #{/if}
        #{if ecoupon.expireAt != null}
            截止日期：${ecoupon.expireAt?.format('yyyy-MM-dd HH:mm:ss')}
        #{/if}
    </div>
    #{/if}
    #{else}
    <div class="p1">
        #{if success_info}
            <span style="border:1px solid #090;color:#009900;">验证成功！</span>
            <script type="text/javascript">
                $("#sure").attr("disabled", true);
            </script>
        #{/if}
        #{else}
            <span style="border:1px solid #090;color:#009900;">该券未消费！</span>
            <script type="text/javascript">
                $("#sure").attr("disabled", false);
                $("#div-consumedAt").show();
                $("#div-remark").show();
            </script>
        #{/else}
        <br/>
        券编号：${ecoupon.eCouponSn}<br/>
        商品名称：${ecoupon.goods.title} <br/>
        截止日期：${ecoupon.expireAt?.format('yyyy-MM-dd HH:mm:ss')}
    </div>
    #{/else}
#{/if}


