#{if ecoupon == null} <font color=red>对不起，没有该券的信息!</font>#{/if}
#{else}
%{ String timeBegin = ecoupon.goods.useBeginTime;
String timeEnd = ecoupon.goods.useEndTime;}%
    #{if ecoupon.isFreeze == 1 }
    <font color=red>此券已被冻结不能使用!</font>
    #{/if}

    #{elseif ecoupon.status == models.order.ECouponStatus.CONSUMED}
    <script type="text/javascript">
        $("#sure").attr("disabled", true);
    </script>
    <font color=red>此券已消费!</font>  <br/>
    券编号: ${ecoupon.eCouponSn}<br/>
    商品名称: ${ecoupon.goods.title}<br/>
    消费日期：${ecoupon.consumedAt?.format('yyyy-MM-dd HH:mm:ss')}<br/>
    验证门店：${ecoupon.shop?.name}<br/>
    验证方式：&{'coupon.'+ecoupon.verifyType}<br/>
    验证人：&{ecoupon?.operateUserName}
    #{/elseif}

    #{elseif ecoupon.status == models.order.ECouponStatus.REFUND}
    <script type="text/javascript">
        $("#sure").attr("disabled", true);
    </script>
    <font color=red>此券已经退款，无法再使用该券号进行消费!</font><br>
    券编号: ${ecoupon.eCouponSn}<br/>
    商品名称: ${ecoupon.goods.title}<br>
    退款日期：${ecoupon.refundAt?.format('yyyy-MM-dd HH:mm:ss')}
    #{/elseif}

    #{elseif ecoupon.expireAt.before(new java.util.Date())}
    <script type="text/javascript">
        $("#sure").attr("disabled", true);
    </script>
    <font color=red>此券已过期!</font><br>
    券编号: ${ecoupon.eCouponSn}<br/>
    商品名称: ${ecoupon.goods.title}<br/>
    截止日期：${ecoupon.expireAt?.format('yyyy-MM-dd HH:mm:ss')}
    #{/elseif}

    #{elseif  !ecoupon.getTimeRegion(timeBegin,timeEnd) }
    <script type="text/javascript">
        $("#sure").attr("disabled", true);
    </script>
    <font color=red>对不起，只能在今天${timeBegin}~${timeEnd}时间内使用该券!</font>
    #{/elseif}

    #{elseif  !ecoupon.isBelongShop(shopId)}
    <script type="text/javascript">
        $("#sure").attr("disabled", true);
    </script>
    <font color=red>对不起，该券不能在此门店使用!</font>
    #{/elseif}
    #{else}
    <script type="text/javascript">
        $("#sure").attr("disabled", false);
    </script>
    券状态:未消费<br/>
    券编号: ${ecoupon.eCouponSn}<br/>
    原价:${ecoupon.goods.faceValue}元<br/>
    商品名称: ${ecoupon.goods.title} <br/>
    截止日期:${ecoupon.expireAt?.format('yyyy-MM-dd HH:mm:ss')}
    #{/else}
#{/else}
