#{extends 'layout_operate/layout.html' /}
#{set title:'虚拟验证券号' /}
#{include '/share/nav.html' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
#{set 'moreStyles'}
<style type="text/css">
</style>
#{/set}


<div class="body">
    <legend>${title}</legend>
    <form class="form-horizontal" name="frmlist" id="frmlist" action="@{OperateVerifyCoupons.virtual()}"
          method="GET">
        券号：<input type="text" name="condition.eCouponSn" class="input-medium"
                  value="${condition?.eCouponSn}"/>
        商品名称：<input type="text" name="condition.goodsName" class="input-medium"
                    value="${condition?.goodsName}"/>
        手机：<input type="text" name="condition.phone" class="input-medium"
                  value="${condition?.phone}"/>
        券结束日期：
        <div class="input-append date bs-datepicker" data-date-format="yyyy-mm-dd">
            <input class="input-small" id="refundAtBegin" name="condition.expiredAtBegin" size="16" type="text"
                   value="${condition?.expiredAtBegin?.format()}">
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
        至
        <div class="input-append date bs-datepicker" data-date-format="yyyy-mm-dd">
            <input class="input-small" id="expiredAtEnd" name="condition.expiredAtEnd" size="16" type="text"
                   value="${condition?.expiredAtEnd?.format()}">
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
        <button class="btn btn-primary" id="searchbtn" type="submit">搜索</button>
        </table>
    </form>
    <form class="form-horizontal" name="form" id="form" action="@{OperateVerifyCoupons.virtualVerify()}"
          method="POST">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
            *{<th width="18px"><input type="checkbox" id="selectall" name="selectall">全选</th>}*
                <th width="8px">订单号</th>
                <th width="8px">手机</th>
                <th width="8px">券号</th>
                <th width="90px">商品名称</th>
                <th width="30px">单价</th>
                <th width="30px">分销商</th>
                <th width="30px">券结束日期</th>
                <th width="30px">付款时间</th>
                <th width="30px">虚拟验证时间</th>
                <th width="30px">操作</th>
            </tr>
            </thead>
            <tbody>
            #{list items:couponList, as:'coupon'}
            <tr>
                <td>
                    <a href="@{OperateOrders.details(coupon?.order?.id)}">${coupon?.order?.orderNumber}</a></abbr>
                </td>
                <td #{if coupon.isCheatedOrder==true}style="color: #b3dbdb;" #{/if}>${coupon?.orderItems?.phone}</td>
                <td>${coupon?.getMaskedEcouponSn()} </td>
                <td>${coupon?.goods?.shortName}</td>
                <td>${coupon?.salePrice?.formatCurrency('CNY')}</td>
                <td>&{'coupon.'+coupon?.partner}</td>
                <td>${coupon?.expireAt?.format("yyyy-MM-dd HH:mm:ss")}</td>
                <td>${coupon?.order?.paidAt?.format("yyyy-MM-dd HH:mm:ss")}</td>
                <td>${coupon.virtualVerify?coupon?.virtualVerifyAt?.format("yyyy-MM-dd HH:mm:ss"):''}</td>
                <td>
                    #{vx.operateLink text:"验证", url:"/coupons/"+coupon?.id+"/virtual_verify?condition.expiredAtBegin="+condition?.expiredAtBegin?.format()+"&condition.expiredAtEnd="+condition?.expiredAtEnd?.format(), method:"PUT"/}
                    <span style="font-size:10px;color:#ff0000;padding-left: 5px">#{if coupon.id==id}#{error 'verify-error-info' /}#{/if}</span>
                </td>
            </tr>
            #{/list}
            </tbody>
        </table>
    </form>
</div>
<div>

</div>
<script type="text/javascript">
    $(function () {
        $("#selectall").click(function () {
            var obj = $("[name='couponIds[]']");
            if (this.checked) {
                if (!obj.attr("disabled")) {
                    obj.attr("checked", 'true');//全选
                }
            } else {
                $("[name='couponIds[]']").removeAttr("checked");//取消
            }
        });
    });
</script>