
<p>css package=true</p>
#{asset.css src:["/test/a.css", "/test/b.css"], package:true /}


<p>css package=false</p>
#{asset.css src:["/test/a.css", "/test/b.css"], package:false /}


<p>css package not set</p>
#{asset.css src:["/test/a.css", "/test/b.css"] /}



<p>js package=true</p>
#{asset.js src:["/test/a.js", "/test/b.js"], package:true /}


<p>js package=false</p>
#{asset.js src:["/test/a.js", "/test/b.js"], package:false /}


<p>js package not set</p>
#{asset.js src:["/test/a.js", "/test/b.js"] /}
