#{extends 'main2.html' /}
#{set title:'修改密码' /}
#{set 'moreStyles'}
    #{asset.css src:['/user/130107/user.css'] /}
#{/set}
#{set 'moreScripts'}
<script>
$(function(){
    if ('${isOk}'== "isOk") {
        $("#updateOk").html("密码修改成功！");
    }
});
</script>
#{/set}
<div id="content" class="clearfix">
    #{include "share/left.html"/}
    <div class="section">
        #{breadcrumbs/breadcrumb breadcrumbs/}
        <form class="form-horizontal" action="@{UserPasswords.update()}" method="POST">
            <div class="group">
                <div class="success-tips" id="updateOk"></div>
            </div>
            <div class="group">
                <label><span class="required">*</span>原密码：</label>
                <div class="control">
                    <input class="input" name="user.oldPassword" type="password" id="old_password" size="26" maxlength="20" value="${user?.oldPassword}"/>
                    <span class="error">#{error 'user.oldPassword' /}</span>
                </div>
            </div>
            <div class="group">
                <label><span class="required">*</span>新密码：</label>
                <div class="control">
                    <input class="input" name="user.password" type="password" id="password" size="26" maxlength="20" value="${user?.password}" onkeyup="javascript:ChangeQD();"/>
                    <span class="error">#{error 'user.newPassword' /}</span>
                </div>
            </div>
            <div class="group">
                <label><span class="required">*</span>确认新密码：</label>
                <div class="control">
                    <input class="input" name="user.confirmPassword" type="password" id="confirmPassword" size="26" maxlength="20" value="${user?.confirmPassword}"/>
                    <span class="error">#{error 'user.newConfirmPassword' /}</span>
                </div>
            </div>
            <div class="group">
                <button type="submit" id="sure_submit" class="btn"> 确 定 </button>
            </div>
        </form>
    </div>
</div>
