<div class="addresses">
    <div class="group">
        <label><span class="required">*</span>收 货 人：</label>
        <div class="control">
            <input class="medium-input" type="text" name="address.name" id="address_name" placeholder="请准确填写真实姓名" value="${address?.name}"/>
            <span class="error">#{error 'address.name'/}</span>
        </div>
    </div>
    <div class="group">
        <label><span class="required">*</span>选择地区：</label>
        <div class="control">
            <select class="short-select" name="address.province" id="address_province" selectedValue="${address?.province}"> </select>
            <select class="short-select" name="address.city" id="address_city" selectedValue="${address?.city}"> </select>
            <select class="short-select" name="address.district" id="address_district" selectedValue="${address?.district}"> </select>
        </div>
    </div>
    <div class="group">
        <label><span class="required">*</span>街道地址：</label>
        <div class="control">
            <input class="medium-input" type="text" name="address.address" value="${address?.address}" id="address_address" placeholder="请填写详细路名和门牌号"/>
            <span class="error">#{error 'address.address'/}</span>
        </div>
    </div>
    <div class="group">
        <label><span class="required">*</span>邮政编码：</label>
        <div class="control">
            <input class="medium-input" type="text" name="address.postcode" value="${address?.postcode}" id="address_postcode" placeholder="请填写正确的邮政编码"/>
            <span class="error">#{error 'address.postcode'/}</span>
        </div>
    </div>
    <div class="group">
        <label><span class="required">*</span>手　　机：</label>
        <div class="control">
            <input class="medium-input" name="address.mobile" type="text" value="${address?.mobile}" id="address_mobile" placeholder="手机和座机至少填写一个"/>
            座 机：<input class="medium-input" name="address.phoneNumber" value="${address?.phoneNumber}" type="text" id="address_phoneNumber" placeholder="手机和座机至少填写一个"/>
            <span class="error">#{error 'address.mobile'/}</span>
            <span class="error">#{error 'address.phoneNumber'/}</span>
        </div>
    </div>
    <div class="field">
        <span>设为默认：</span><input type="checkbox" value="true" #{if address?.isDefault}checked#{/if} name="address.isDefault" id="address_isDefault"/>
    </div>
    <div class="group">
        <input type="submit" class="btn" id="save" value="保存"/>
    </div>
</div>
<script type="text/javascript">
// 省市区三级联动
#{if address!= null }
new PCAS('address.province', 'address.city', 'address.district', '${address?.province}', '${address?.city}', '${address?.district}');
#{/if}
#{else}
 new PCAS('address.province', 'address.city', 'address.district', '上海市', '市辖区', '黄浦区');
#{/else}
</script>
