#{extends 'main2.html' /}
#{set title:'一百券 - 地址管理' /}
#{set 'moreStyles'}
    #{asset.css src:['/user/130107/user.css'] /}
#{/set}
<script type="text/javascript">
    function editAddress(addressId) {
        $("#addressTitle").html("修改地址");
        $("#form").load("/addresses/" + addressId + "/edit", function (data) {
            setAreaValue(addressId);
            $("#form").attr("action", "/addresses/" + addressId + "?x-http-method-override=PUT");
            $("#form").attr("method", "POST");
        });
    }

    function setAreaValue(addressId) {
        new PCAS('address.province', 'address.city', 'address.distinct',
                $("#address_province").attr("selectedValue"),
                $("#address_city").attr("selectedValue"),
                $("#address_district").attr("selectedValue"));
    }
</script>
<div id="content" class="clearfix">
    #{include "share/left.html"/}
    <div class="section">
        #{breadcrumbs/breadcrumb breadcrumbs/}
        <h3>收货地址</h3>
        <form class="form-horizontal" id="form" action="@{UserAddresses.create()}" method="POST">
        #{include "UserAddresses/form.html"/}
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th width="60">收货人</th>
                    <th width="120">所在地区</th>
                    <th>街道地址</th>
                    <th width="60">邮编</th>
                    <th width="160">手机\电话</th>
                    <th width="100"></th>
                    <th width="60">操作</th>
                </tr>
            </thead>
            <tbody>
            #{list items:addressList, as:'address'}
                <tr>
                    <td>${address.name}</td>
                    <td>${address.area}</td>
                    <td>${address.address}</td>
                    <td>${address.postcode}</td>
                    <td>
                        ${address.mobile}<br />
                        ${address.normalPhone}
                    </td>
                    <td>
                        #{if address.isDefault}默认地址#{/if}
                        #{else}#{vx.operateLink url:'/addresses/'+address.id+'/default', text:'设为默认', method:'PUT'/}#{/else}
                    </td>
                    <td class="action">
                        <a  href="#" id="update_${address?.id}" onclick="editAddress(${address?.id})">修改</a>
                        #{vx.deleteLink action:"addresses", id:address.id, name:address.name/}
                    </td>
                </tr>
            #{/list}
            </tbody>
        </table>
    </div>
</div>
