#{extends 'layout_trader/layout2.html' /}
#{set title:'设置促销' /}
#{set menu:"ktv_promotion" /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
#{set 'moreStyles'}
<style type="text/css">
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px 15px;
        text-align: center;
        font-size: 15px;
        border: 1px #8F8F8F solid;
    }
</style>
#{/set}
<div class="body">
    <div class="bd">
        <h2>${title}</h2>
        #{set action:"add"/}
        #{include '/KtvPromotions/ktvPromotionForm.html'/}
    </div>
</div>