*{文本框标签}*
*{name:      文本框的名称}*
*{value:     文本框中的值}*
*{required: 文字标签前面是否要加必填项标志（选填，默认不标识必填项）}*
#{field _name}
<div class="control-group">
    #{layout_trader.labelText name:_name, required:_required/}

    <div class="controls">
        <input type="text" id="${field.id}" name="${field.name}" class="input-xlarge"
               value="${params[field.name]?.escape()?.raw() ?: field.error?.message == 'validation.required' ?
               "":_value?.escape()?.raw()}"/><span>${_note}</span>
        #{ifError field.name}
            <span class="error">${field.error.raw()}</span>
        #{/ifError}
    </div>
</div>
#{/field}
