#{extends 'layout_trader/layout2.html' /}
#{set title:'每日预订' /}
#{set menu:"ktv_daily_schedule" /}
<div class="body">

    #{if shops}

    #{form @KtvDailySchedule.index() , method:'GET'}
    <div class="field-group" style="padding-left: 0px">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td>请选择门店：</td>
                <td>
                    <select name="shopId" style="width: auto">
                        #{list items:shops,as:'shop'}
                            <option value="${shop.id}" ${shop.id==shopId?'selected':''}/>${shop.name}
                            &nbsp;&nbsp;
                        #{/list}
                    </select>
                </td>
                <td>
                    <button class="btn" type="submit">查询</button>
                </td>
            </tr>
        </table>
    </div>
    #{/form}

    <div style="overflow-x: auto" id="wk-order-scroll">
        <div class="wk-order-wrapper" id="wk-order-wrapper">
            <table style="margin-bottom: 5px">
                <tr>
                    <td>
                        <div class="wk-order-info-avaliable"></div>
                    </td>
                    <td> 可预订</td>
                    <td>
                        <div class="wk-order-info-reserved"></div>
                    </td>
                    <td> 已预订</td>
                </tr>
            </table>
            <div class="wk-order-nav-wrapper">
                <div class="wk-order-nav-left">
                    <table cellspacing="0" cellpadding="0">
                        <tr class="wk-order-days">
                            <td>
                                <div class="wk-order-day"></div>
                            </td>
                            <td>
                                <div class="wk-order-day"></div>
                            </td>
                            <td>
                                <div class="wk-order-day"></div>
                            </td>
                            <td>
                                <div class="wk-order-day"></div>
                            </td>
                            <td>
                                <div class="wk-order-day"></div>
                            </td>
                            <td><div class="wk-order-date-select">选</div></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="wk-order-main-wrapper">
                <div class="wk-order-times">
                    <table cellspacing="0" cellpadding="0">
                        <tr>
                            <td style="width:60px">&nbsp;</td>
                            <td>
                                <div class="wk-order-time">
                                    <div class="wk-pri">08:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="wk-order-time">
                                    <div class="wk-pri">09:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="wk-order-time">
                                    <div class="wk-pri">10:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="wk-order-time">
                                    <div class="wk-pri">11:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="wk-order-time">
                                    <div class="wk-pri">12:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="wk-order-time">
                                    <div class="wk-pri">13:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="wk-order-time">
                                    <div class="wk-pri">14:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="wk-order-time">
                                    <div class="wk-pri">15:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="wk-order-time">
                                    <div class="wk-pri">16:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="wk-order-time">
                                    <div class="wk-pri">17:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="wk-order-time">
                                    <div class="wk-pri">18:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="wk-order-time">
                                    <div class="wk-pri">19:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="wk-order-time">
                                    <div class="wk-pri">20:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="wk-order-time">
                                    <div class="wk-pri">21:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="wk-order-time">
                                    <div class="wk-pri">22:00</div>
                                </div>
                            </td>
                            <td>
                                <div class="wk-order-time">
                                    <div class="wk-pri">23:00</div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="rooms">
                    <div class="room-mini"></div>
                    <div class="room-small"></div>
                    <div class="room-middle"></div>
                    <div class="room-large"></div>
                    <div class="room-deluxe"></div>
                </div>
            </div>

        </div>
    </div>
    #{/if}
    #{else}
        无门店，请先添加门店
    #{/else}



</div>
#{set 'moreStyles'}
    #{asset.css src:['/y/ktv/ktv-order.css']/}
#{/set}

#{set 'moreScripts'}
#{asset.js src:['/ktv/xdate.js','/ktv/iscroll-lite.js']/}

<script src="@{'/public/javascripts/ktvorder.js'}" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
    $(function () {
        var ktvOrder = KTVOrder({
            dataUrl: "/ktv/roominfo/json-search",
            wrapperId: "wk-order-wrapper",
            shopId:${shopId},
            viewMode: true,
            day: new Date()
        });

    });
</script>
#{/set}

