#{extends 'layout_trader/layout2.html' /}
#{set title:'设置价格' /}
#{set menu:"ktv_daily_schedule" /}
<div class="body">



</div>
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/ktv.css'}">
#{/set}

#{set 'moreScripts'}
<script src="@{'/public/javascripts/xdate.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/ktvweek.js'}" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
    $(function () {
        var ktvWeek = KTVWeek({
            wrapperId: "wk-ktvwrapper",
            dataUrl: "/ktv/price-schedule/json-search",
            addLink: "@{KtvPriceSchedules.add()}",
            startDay: new Date(),
            shop: $("#shopId").val(),
            roomType: $("#roomTypeId").val()
        });

    });
</script>
#{/set}

