#{extends 'layout_trader/layout.html' /}
#{set title:'提现' /}
#{include 'Share/nav.html' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
    $(function () {
    $("#prepaymentDetail").click(function () {
    $(".table-striped").toggle();
    });
    });

</script>
#{/set}
#{set 'moreStyles'}
<style type="text/css">
    .control-label {
    font-weight: bold;
    }

    .control-value {
    line-height: 28px;
    margin-left: 160px;
    }

    .form-horizontal .control-group {
    margin-bottom: 4px;
    }

    .table-striped{
    display:none;
    }
</style>
#{/set}

<legend>申请提现</legend>
#{if withdrawAccounts.size() == 0 }
暂无收款账户,请联系管理员添加.
#{/if}
#{else}
#{form @SupplierWithdraw.create(), class:'form-horizontal'}
<fieldset>
    <div class="control-group">
        <label class="control-label">选择收款账户</label>

        <div class="controls">
            <table class="table" style="width:auto">
                <tr>
                    <th>#</th>
                    <th>开户名</th>
                    <th>银行名称</th>
                    <th>所在城市</th>
                    <th>支行名称</th>
                    <th>银行卡号</th>
                </tr>
                #{list withdrawAccounts, as:'withdrawAccount'}
                <tr>
                    <td>
                        <input type="radio" name="withdrawAccountId" value="${withdrawAccount.getId()}"
                        #{if withdrawAccount_index == 1} checked #{/if} >
                    </td>
                    <td>${withdrawAccount.userName}</td>
                    <td>${withdrawAccount.bankName}</td>
                    <td>${withdrawAccount.bankCity}</td>
                    <td>${withdrawAccount.subBankName}</td>
                    <td>${withdrawAccount.cardNumber}</td>
                </tr>
                #{/list}
            </table>
            #{error 'withdrawAccountId'/}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">账户余额</label>

        <div class="control-value">${account.amount?.formatCurrency('CNY')}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">预付款余额</label>

        <div class="control-value">${prepaymentBalance?.formatCurrency('CNY')}
            <input type="hidden" name="amount"
                   value="${withdrawAmount}"/>
            <a id="prepaymentDetail" href="#">查看明细</a>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">可提现金额</label>

        <div class="control-value">
            ${supplierWithdrawAmount?.formatCurrency('CNY')}
            <input type="hidden" name="amount" value="${withdrawAmount}"/>
            (统计截止日期: ${com.uhuila.common.util.DateUtil.getYesterday().format('yyyy-MM-dd')})
        </div>
    </div>
    <div class="form-actions">
        #{if account.getSupplierWithdrawAmount(prepaymentBalance,com.uhuila.common.util.DateUtil.getBeginOfDay())
        .compareTo(BigDecimal.ZERO)>0}
        <button type="submit" class="btn btn-primary">提交申请</button>
        #{/if}
        <a class="btn" href="/withdraw">取消</a>
    </div>
</fieldset>
#{/form}

<div class="row-fluid">
    <table class="table table-striped">
        <tr>
            <th>预付款金额</th>
            <th>有效期开始</th>
            <th>有效期结束</th>
            <th>已结算金额</th>
            <th>结算时间</th>
            <th>结算者</th>
        </tr>
        #{list items:prepayments, as:'prepayment'}
        <tr>
            <td>${prepayment.amount?.formatCurrency('CNY')}</td>
            <td>${prepayment.effectiveAt}</td>
            <td>${prepayment.expireAt}</td>
            <td>${prepayment.withdrawAmount.formatCurrency('CNY')}</td>
            <td>${prepayment.updatedAt}</td>
            <td>${prepayment.updatedBy}</td>
        </tr>
        #{/list}
    </table>
</div>

#{/else}

