#{extends 'layout_operate/layout.html' /}
#{set title:'修改公告' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/kindeditor-min.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/lang/zh_CN.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
#{include '/share/nav.html' /}
<div class="body">
#{form @OperateTopics.update(topic.id) , id:'form',enctype:'multipart/form-data',class:"form-horizontal" }
    <legend>${title}</legend>
    #{set action:"edit"/}
    #{include '/OperateTopics/topicForm.html'/}
#{/form}
</div>
