#{layout_operate.selectField name:'topic.platformType', value:topic?.platformType, error:'topic.platformType',
class:'span2'}
    #{option com.uhuila.common.constants.PlatformType.UHUILA}&{'topic.UHUILA'}#{/option}
    #{option com.uhuila.common.constants.PlatformType.RESALE}&{'topic.RESALE'}#{/option}
    #{option com.uhuila.common.constants.PlatformType.SUPPLIER}&{'topic.SUPPLIER'}#{/option}
    #{option com.uhuila.common.constants.PlatformType.OPERATE}&{'topic.OPERATE'}#{/option}
    #{option com.uhuila.common.constants.PlatformType.DEV_ONCALL}&{'topic.DEV_ONCALL'}#{/option}
#{/layout_operate.selectField}
#{layout_operate.selectField name:'topic.type', value:topic?.type, error:'topic.type',
class:'span2'}
    #{option models.cms.TopicType.NEWS}&{'topic.NEWS'}#{/option}
    #{option models.cms.TopicType.TOPIC}&{'topic.TOPIC'}#{/option}
    #{option models.cms.TopicType.NOTICE}&{'topic.NOTICE'}#{/option}
    #{option models.cms.TopicType.WEB_CATEGORY1}&{'topic.WEB_CATEGORY1'}#{/option}
    #{option models.cms.TopicType.WEB_CATEGORY2}&{'topic.WEB_CATEGORY2'}#{/option}
    #{option models.cms.TopicType.WEB_CATEGORY3}&{'topic.WEB_CATEGORY3'}#{/option}
    #{option models.cms.TopicType.WEB_CATEGORY4}&{'topic.WEB_CATEGORY4'}#{/option}
    #{option models.cms.TopicType.WEB_CATEGORY5}&{'topic.WEB_CATEGORY5'}#{/option}
#{/layout_operate.selectField}
#{layout_operate.textField name:'topic.title', value:topic?.title, required:true/}
#{layout_operate.textField name:'topic.displayOrder', value:topic?.displayOrder, required:true/}
#{layout_operate.htmlField name:'topic.content', value:topic?.content, required:true/}
#{layout_operate.dateScopeField name:'topic.effective', begin:'topic.effectiveAt',end:'topic.expireAt',
beginValue:topic?.effectiveAt?.format(), endValue:topic?.expireAt?.format(), required:true/}
<div class="form-actions">
    <input class="btn btn-primary" id="save" type="submit" value="保存"/>
#{if "edit".equals(action)}
    #{vx.cancelButton url:'/topics', class:'btn btn-primary'/}
#{/if}
</div>
