#{extends 'layout_operate/layout.html' /}
#{include '/share/nav.html' /}

#{set title:'操作员编辑' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/supplierUser.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
#{form @OperateSupplierUsers.update(supplierUser.id) , id:'operForm',class:"form-horizontal" }
<legend>操作员编辑</legend>
<div class="control-group">
    <label class="control-label">角色</label>

    <div class="controls">
        #{list items:rolesList, as:'role'}
            <label class="checkbox inline">
                <input type="checkbox" value="${role.id}" id="supplierUser.roles_${role.id}"
                       name="supplierUser.roles.id"
                       #{if roleIds?.contains(java.lang.String.valueOf(role?.id))}checked#{/if}/>
            ${role.text}
            </label>
        #{/list}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="error">#{error 'supplierUser.roles' /}</span>
    </div>
</div>
<input type="hidden" name="supplierUser.supplier.id" id="supplierUser_supplier_id"
       value="${supplierUser?.supplier?.id}">
<input type="hidden" name="id_supplierName" id="id_supplierName"
       value="${supplierUser?.supplier?.id}">

    #{layout_operate.textField name:'supplierUser.supplier', value:supplierUser?.supplier?.fullName, disabled:true/}

<div class="control-group">
    <label class="control-label">用户名</label>

    <div class="controls">
    ${supplierUser?.loginName}
        <input type="hidden" name="supplierUser.loginName" class="input-large" value="${supplierUser?.loginName}"/>
    </div>
</div>
<div class="control-group">
    <label class="control-label"><span style="color: red; ">*</span>手机</label>

    <div class="controls">
        <input type="text" name="supplierUser.mobile" class="input-large" id="mobile" maxlength="11"
               value="${supplierUser.mobile}"/>
        <span class="error" id="checkMobile">#{error 'supplierUser.mobile' /}</span>
    </div>
</div>
<div class="control-group">
    <label for="userName" class="control-label">姓名</label>

    <div class="controls">
        <input type="text" name="supplierUser.userName" class="input-large" id="userName"
               value="${supplierUser?.userName}"/>
        #{if supplierUser?.weixinOpenId}
            #{a @OperateSupplierUsers.unbindWeixi(supplierUser?.id)}解除微信绑定#{/a}
        #{/if}
        #{else}
            #{a @OperateSupplierUsers.showWeixi(supplierUser?.id)}绑定微信#{/a}
        #{/else}
    </div>
</div>
<div class="control-group">
    <label class="control-label"><span style="color: red; ">*</span>密码</label>

    <div class="controls">
        <input type="password" name="supplierUser.encryptedPassword" class="input-large" value="******"/>
        <span class="error">#{error 'supplierUser.encryptedPassword' /}</span>
    </div>
</div>
<div class="control-group">
    <label for="jobNumber" class="control-label"><span style="color: red; ">*</span>工号</label>

    <div class="controls">
        <input type="text" name="supplierUser.jobNumber" class="input-large" id="jobNumber" maxlength="6"
               value="${supplierUser?.jobNumber}"/><span style="color:#808080;">(*限6位数字)</span>
        <span class="error" id="checkJobNumber">#{error 'supplierUser.jobNumber' /}</span>
    </div>
</div>

<div class="control-group">
    <label class="control-label">门店</label>

    <div class="controls">
        #{select 'supplierUser.shop.id', id:shopId, class:'span2', value:supplierUser?.shop?.id}
            #{option ""}全部#{/option}
            #{list items:shopList, as:'shop'}
                #{option shop?.id}${shop?.name}#{/option}
            #{/list}
        #{/select}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="error">#{error 'supplierUser.shop' /}</span>
    </div>
</div>
<div class="form-actions">
    <button class="btn btn-primary" id="save" type="button">保 存</button>
    <button class="btn btn-primary" onclick="javascript:window.history.back(-1)" type="button">返回</button>
</div>
<input type="hidden" id="hiddenId" value="${supplierUser.id}"/>
<input type="hidden" name="supplierUser.confirmPassword" class="input-large" id="confirmPassword" value="******"/>
#{/form}


<h3>角色权限对应说明</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th>角色名</th>
        <th>权限</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>商务销售</td>
        <td>报表一览</td>
    </tr>
    <tr>
        <td>收款店员</td>
        <td>券验证 券号列表</td>
    </tr>
    <tr>
        <td>财务人员</td>
        <td>财务明细 提现管理</td>
    </tr>
    <tr>
        <td>系统管理员</td>
        <td>我的门店 账号管理</td>
    </tr>
    </tbody>
</table>
