#{extends 'layout_operate/layout.html' /}
#{include 'share/nav.html'/}

#{set title:'操作员一览' /}
<legend>操作员一览</legend>
#{form @OperateSupplierUsers.index() , id:'operForm',class:"form-horizontal" }
商户#{layout_operate.selectInputField name:"supplierName", id:"supplierId", list:supplierList/}
&nbsp;&nbsp;门店<span id="shop">#{include '/OperateSupplierUsers/shopList.html'/}</span>
&nbsp;&nbsp;用户名<input type="text" name="loginName" id="loginName" value="${loginName}"
                      class="input-medium"/>
&nbsp;&nbsp;姓名<input type="text" name="userName" id="userName" value="${userName}" class="input-medium"/>
&nbsp;&nbsp;工号<input type="text" name="jobNumber" id="jobNumber" value="${jobNumber}" class="input-medium"/>

<button class="btn btn-primary" id="search" type="submit">搜索</button>
<a href="@{OperateSupplierUsers.add()}" class="btn btn-primary">添加操作员</a>
#{/form}
<table class="table table-striped table-bordered table-condensed">

    <thead>
    <tr>
        <th>商户</th>
        <th>用户名</th>
        <th>姓名</th>
        <th>工号</th>
        <th>手机号</th>
        <th>角色</th>
        <th>门店</th>
        <th>创建时间</th>
        <th>上次登录时间</th>
        <th>操 作</th>
    </tr>
    </thead>

    <tbody>

    #{paginate.list items:supplierUsersPage, as:'row'}
    <tr>
        <td>${row?.supplier?.otherName?:row?.supplier?.name}</td>
        <td>${row.loginName}</td>
        <td>
            ${row.userName}
            #{if row?.weixinOpenId}
                <img src="#{asset.url href:'/images/m/weixi-logo.gif' /}" alt="已绑定微信" width="16" height="16">
            #{/if}
        </td>
        <td>${row.jobNumber}</td>
        <td>${row.mobile}</td>
        <td>${row.roles.text ==[] ?'':row.roles.text}</td>
        <td>${row.shop?.name?:'全部'}</td>
        <td>${row.createdAt?.format("yyyy-MM-dd HH:mm:ss")}</td>
        <td>${row.lastLoginAt ?.format("yyyy-MM-dd HH:mm:ss")}</td>
        <td>
            <a href="/users/${row.id}/edit?page=${supplierUsersPage.pageNumber?:1}">修改</a>
            /#{vx.deleteLink action:"users", id:row.id, name:row.loginName/}
        </td>
    </tr>
    #{/paginate.list}
    </tbody>
</table>
#{paginate.controls items:supplierUsersPage /}

<script type="text/javascript">
    $(
            function () {
                //门店列表跟随商户名联动的方法
                $("#supplierName").blur(function () {
                    var found = false;
                    var m = list.length;
                    var id = null;
                    for (i = 0; i < m; i++) {
                        if (list[i].name == $("#supplierName").val()) {
                            found = true;
                            id = list[i].id;
                        }
                    }
                    if (!found) {
                        $("#id_supplierName").val(-1);
                        $("#save").attr('disabled', true);
                        $("#supplierUser_shop_id").add(new Option("","全部"));
                    } else {
                        $("#shop").load("/users/shops/" + id, function (data) {
                        });
                    }
                    $("#supplierUser_shop_id").options[0].selected = true;

                    if ($("#supplierName").val().trim() == '') {
                        $("#id_supplierName").val(0);
                        $("#supplierUser_shop_id").empty();
                    }
                });
            });
</script>
