#{extends 'layout_operate/layout.html' /}
#{set title:'预付款冲正' /}
#{include '/share/nav.html' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
    $(function () {

        $("#balance").click(function () {
            var result = true;
            var reason = $("#reason").val();
            var amount = $("#balance_amount").val();
            if (amount == "") {
                alert("请输入冲正金额");
                $("#amount_error").html("请输入冲正金额");
                result = false;
            }
            if (reason == "") {
                alert("请输入冲正备注");
                $("#reason_error").html("请输入冲正备注");
                result = false;
            }
            if (result) {
                $("#balanceForm").submit();
            }
        });
    });
</script>
#{/set}


<div class="row-fluid">
    <legend>${title}</legend>

#{form @OperatePrepayments.confirmBalanceBill(), class:'form-horizontal', id:'balanceForm'}
    <td width="30%"><span style="color: red;">*</span> 商&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户：
        #{layout_operate.selectInputField name:"supplierName", id:"supplierId", list:supplierList/}
    </td>
    <br><br>
    #{layout_operate.textField name:'balance.amount', value:balance?.amount,required:true/}
    <span id="amount_error"></span>

    <div class="control-group">
        <label class="control-label"><span style="color: red;">*</span>备注</label>

        <div class="controls">
            <textarea rows="3" class="input-xlarge" name="balance.reason" id="reason"></textarea>
            <span id="reason_error"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"></label>

        <a class="btn btn-primary" id="balance"
                >冲正
        </a>
        <a href="/prepayments" class="btn btn-primary">返回</a>

    </div>

#{/form}

</div>
