#{extends 'layout_operate/layout.html' /}
#{set title:'预付款冲正' /}
#{include '/share/nav.html' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
    $(function () {

        $("#balance").click(function () {
            var result = true;
            var reason = $("#blance_reason").val();
            var amount = $("#balance_amount").val();
            var diffAmount = $("#diff_amount_val").val();

            if (amount == "") {
                $("#amount_error").html("请输入冲正金额");
                result = false;
            }
            if (reason == "") {
                $("#reason_error").html("请输入冲正备注");
                result = false;
            }
            if (diffAmount < amount) {
                $("#amount_error").html("冲正金额不能大于可冲正最大金额");
                result = false;
            }
            if (result) {
                $("#balance").hide();
                $("#processing").text("正在处理");
                $("#balanceForm").submit();
            }
        });
    });
</script>
#{/set}


<div class="row-fluid">
    <legend>${title}</legend>

#{form @OperatePrepayments.confirmBalanceBill(), class:'form-horizontal', id:'balanceForm'}
    <div class="control-group">
        <label class="control-label"><span style="color: red;">*</span> 商&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户</label>

        <div class="controls">
            #{layout_operate.selectInputField name:"supplierName", id:"supplierId", list:supplierList/}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">可冲正最大金额: </label>

        <div class="controls" id="diff_amount">
        </div>
    </div>

    <div id="can_balance">
        <div class="control-group">
            <label class="control-label"><span style="color: red;">*</span>冲正金额</label>

            <div class="controls">
                <input type="text" class="input-xlarge" name="balance.amount" id="balance_amount">
                <span id="amount_error"></span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label"><span style="color: red;">*</span>备注</label>

            <div class="controls">
                <textarea rows="3" class="input-xlarge" name="balance.reason" id="blance_reason"></textarea>
                <span id="reason_error"></span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label"></label>
            <a class="btn btn-primary" id="balance">冲正 </a><span id="processing"></span>
            <a href="/prepayments" class="btn btn-primary">返回</a>
        </div>
    </div>
    <a href="/prepayments" class="btn btn-primary" id="return" style="display: hidden">返回</a>
    <input type="hidden" id="diff_amount_val" name="diffAmount" value="${diffAmount}"></div>

#{/form}

</div>
<script type="text/javascript">
    $(function () {
        $("#return").hide();
        $("#supplierName").blur(function () {
            var supplierId = $("#id_supplierName").val();
            $.ajax({
                type: 'GET',
                url: '/prepayments/' + supplierId + '/balance-amount',
                success: function (data) {
                    if (data != null) {
                        $("#diff_amount").text(data.balanceAmount + "(预付款和余额差额)");
                        var balanceAmount = data.balanceAmount;
                        $("#diff_amount_val").val(balanceAmount);
                        if (balanceAmount <= 0) {
                            $("#can_balance").hide();
                            $("#return").show();
                        }
                        else {
                            $("#can_balance").show();
                            $("#return").hide();
                        }
                    }
                    else {
                        $("#diff_amount").text("请重新刷新页面")
                    }
                }});
        })

    });
</script>
