#{extends 'layout_operate/layout.html' /}
#{set title:'预付款一览' /}
#{include '/share/nav.html' /}

<div class="body">
    <legend>${title}</legend>
    <form class="form-horizontal" name="frmlist" id="frmlist" action="@{OperatePrepayments.index()}" method="GET">
        <table width="100%">
            <tr>
                <td width="30%">商&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户：
                #{layout_operate.selectInputField name:"supplierName", id:"supplierId", list:supplierList/}
                </td>
                <td>
                    <button class="btn btn-primary" id="searchbtn" type="submit">搜索</button>
                </td>
            </tr>
        </table>
    </form>
    <form class="form-horizontal" name="deletefrm" id="deletefrm">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th width="180">&{'prepayment.supplier'}</th>
                <th width="100">&{'prepayment.amount'}</th>
                <th width="100">&{'prepayment.withdrawAmount'}</th>
                <th width="100">&{'prepayment.effectiveAt'}</th>
                <th width="100">&{'prepayment.expireAt'}</th>
                <th width="80">&{'prepayment.createdAt'}</th>
                <th width="80">&{'prepayment.createdBy'}</th>
                <th width="90">&{'prepayment.updatedAt'}</th>
                <th width="90">&{'prepayment.updatedBy'}</th>
                <th>&{'prepayment.remark'}</th>
                <th width="80">操 作</th>
            </tr>
            </thead>

            <tbody>

            #{paginate.list items:prepaymentPage, as:'prepayment'}
            <tr>
            %{ account = models.accounts.Account.find("uid = ? and accountType = ?",prepayment.supplier.id,
                models.accounts.AccountType.SUPPLIER).first();
                }%
                <td align="center">${prepayment?.supplier?.otherName==null?prepayment?.supplier?.fullName:prepayment?.supplier?.otherName}</td>
                <td>${prepayment.amount?.formatCurrency('CNY')}</td>
                <td>${prepayment.withdrawAmount?.formatCurrency('CNY')}</td>
                <td>${prepayment.effectiveAt?.format('yyyy-MM-dd HH:mm:ss')}</td>
                <td>${prepayment.expireAt?.format('yyyy-MM-dd HH:mm:ss')}</td>
                <td>${prepayment.createdAt?.format('yyyy-MM-dd HH:mm:ss')}</td>
                <td>${prepayment.createdBy}</td>
                <td>${prepayment.updatedAt?.format('yyyy-MM-dd HH:mm:ss')}</td>
                <td>${prepayment.updatedBy}</td>
                <td>${prepayment.remark}</td>
                <td>#{if prepayment.canUpdate()}<a href="@{OperatePrepayments.edit(prepayment.id)}">修改</a>
                    / #{vx.deleteLink action:"prepayments", id:prepayment.id,
                    name:prepayment.supplier.otherName+'('+prepayment.amount+')'/} / #{/if}
                    <a href="@{OperatePrepayments.history(prepayment.id)}">查看历史</a>
                    /
                    #{if prepayment?.amount <= account?.amount}
                        <a href="@{OperatePrepayments.settle(prepayment.id)}">结算</a>
                    #{/if}

            </tr>
            #{/paginate.list}
            </tbody>
        </table>
    </form>
    <div class="pagination" align="center">
        <ul>
        #{paginate.controls items:prepaymentPage /}
        </ul>
    </div>
</div>
