<div class="addr-hd"><b>收货地址</b></div>
<div class="addr-bd">
    <div class="addr-all" id="J_addrAll">
        <ul class="addr-list" id="J_addrList">
            #{include '/Addresses/list.html'/}
        </ul>
        <div class="addr-new">
            <input type="radio" name="addr" id="addrId_new"/>
            <label for="addrId_new">添加新地址</label>
        </div>
        <div id="J_addrEditBox"></div>
        <a class="save-addr" id="J_saveAddr" href="#">送到这个地址</a>
    </div>
</div><!-- .addr-hd -->
