#{set 'moreScripts'}
    #{get 'moreScripts'/}
#{/set}
#{layout_operate.textField name:'secKillGoods.goods.id', value:secKillGoods?.goods?.id/}
*{#{layout_operate.textField name:'secKillGoods.salePrice', value:secKillGoods?.salePrice?:"0", note:'元', required:true/}}*
#{layout_operate.textField name:'secKillGoods.limitNumber', value:secKillGoods?.limitNumber, note:'个'/}

#{if "add".equals(action)}
    #{layout_operate.fileField name:'imagePath',note:'图片尺寸：(340*260像素)', required:true/}
#{/if}
#{else}
    #{layout_operate.fileField name:'imagePath',note:'图片尺寸：(340*260像素)'/}
<div class="control-group">
    <label for='levelPrices_${level}' class="control-label"> </label>

    <div class="controls">(修改前)<br/><img src="${imageLargePath}"/>
        <input type="hidden" name="imageLargePath" value="${imageLargePath}"></div>
</div>
#{/else}

#{layout_operate.htmlField name:'secKillGoods.prompt', value:secKillGoods?.prompt, uploadImgUrl:'/seckill_goods/images'/}

<div class="form-actions">
    <input class="btn btn-primary" id="save" type="submit" value="保存">
#{if "edit".equals(action)}
    <input class="btn btn-primary" id="preview" type="submit" value="预览"/>
#{/if}
#{if "edit".equals(action)}
    #{vx.cancelButton url:'/secKillGoods', class:'btn btn-primary'/}
#{/if}
</div>
<script type="text/javascript">
    $(function () {
    })
</script>
