#{extends 'layout_trader/layout2.html' /}
#{set title:'编辑价格' /}
#{set menu:"ktv_price" /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
<div class="body">
#{form @KtvPriceSchedules.update(priceSchedule.id) , id:'creationForm',class:"form-horizontal" }
    <div class="bd">
        <h2>${title}</h2>
        #{set action:"edit"/}
        #{include '/KtvPriceSchedules/ktvPriceScheduleForm.html'/}
    </div>
#{/form}
</div>
