#{extends 'layout_trader/layout2.html' /}
#{set title:'价格策略' /}
#{set menu:"ktv_price" /}
<div class="body">
#{form @KtvPriceSchedules.index() , id:'creationForm',class:"form-horizontal" }
    <div class="bd">
        <h2>${title}</h2>

        <div class="field-group" style="padding-left: 0px">
            <table cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td>适用门店:<select name="shop.id" value="${shop?.id}" style="width: auto">
                        #{list items:shops,as:'shopa'}
                            <option value="${shopa?.id}" ${shop?.id==shopa?.id ?'selected':''}/>${shopa.name}&nbsp;&nbsp;
                        #{/list}
                    </select>
                        包厢类型：<select name="roomType.id" value="${roomType.id}" style="width: auto">
                            #{list items:roomTypeList,as:'roomTypes'}
                                <option value="${roomTypes?.id}" ${roomTypes?.id==roomType?.id?'selected':''}/>${roomTypes.name}
                                &nbsp;&nbsp;
                            #{/list}
                        </select>
                    </td>
                    <td wdith="50%">
                        <button class="btn" id="search" type="submit">查询</button>
                    </td>
                </tr>
            </table>
        </div>
        <input type="hidden" id="shopId" value="${shop.id?:shops?.get(0).id}">
        #{if roomTypeList}
            <input type="hidden" id="roomTypeId" value="${roomType?.id?:roomTypeList.get(0).id}">
        #{/if}
        #{if ktvRoomList.size()==0}
            <div class="error">请到左边菜单【我的门店】的新增门店页面，添加该门店的包厢数量！</div>
        #{/if}
        #{else}
            <div class="wk-ktvwrapper" id="wk-ktvwrapper"></div>
        #{/else}
    </div>
#{/form}
</div>
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/ktv.css'}">
<style>
    a.wk-button {
        display: inline-block;
        margin-right: 10px;
        padding: 5px 15px;
        color: white;
        font-size: 14px;
        text-align: center;
        vertical-align: top;
        text-decoration: none;
        text-shadow: 1px 1px #006dcc;
        cursor: pointer;
        border: 1px solid #006dcc;
        border-radius: 2px;
        background-color: #006dcc;
        zoom: 1;
    }
</style>
#{/set}

#{set 'moreScripts'}
    #{asset.js src:['/ktv/xdate.js','/ktv/ktvweek.js']/}
<script type="text/javascript">
    $(function () {
        var ktvWeek = KTVWeek({
            wrapperId: "wk-ktvwrapper",
            dataUrl: "/ktv/price-schedule/json-search",
            addLink: "@{KtvPriceSchedules.add()}",
            startDay: new Date(),
            shop: $("#shopId").val(),
            roomType: $("#roomTypeId").val()
        });
    });
</script>
#{/set}

