#{extends 'layout_trader/layout2.html' /}
#{set title:'价格策略' /}
#{set menu:"ktv_price" /}
<div class="body">
#{form @KtvPriceSchedules.index() , id:'creationForm',class:"form-horizontal" }
    <div class="bd">
        <h2>${title}</h2>

        <div class="field-group" style="padding-left: 0px">
            <table cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td>
                        适用门店:
                        <select name="shopId" value="${shop?.id}" style="width: auto">
                            #{list items:shops,as:'s'}
                                <option value="${s.id}" ${shop?.id==s?.id ?'selected':''}/>${s.name}&nbsp;&nbsp;
                            #{/list}
                        </select>

                        包厢类型：
                        <select name="roomType" style="width: auto">
                            #{list items:models.ktv.KtvRoomType.values(),as:'r'}
                                <option value="${r}" ${roomType == r ? 'selected':''}/>${r.name}
                                &nbsp;&nbsp;
                            #{/list}
                        </select>
                        产品选择：
                        <select name="productId" style="width: auto">
                            #{list items:products,as:'p'}
                                <option value="${p.id}" ${product?.id == p.id ? 'selected':''}/>${p.name}
                                &nbsp;&nbsp;
                            #{/list}
                        </select>
                    </td>
                    <td wdith="50%">
                        <button class="btn" id="search" type="submit">查询</button>
                    </td>
                </tr>
            </table>
        </div>
        <input type="hidden" id="shopId" value="${shop?.id}">
        <input type="hidden" id="roomType" value="${roomType}">
        <input type="hidden" id="productId" value="${product?.id}">

        <div class="wk-ktvwrapper" id="wk-ktvwrapper">
            <div class="wk-pagination">
                <div class="wk-topLeftNav">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <div class="wk-button wk-button-thisweek">本周</div>
                            </td>
                            <td>
                                <div class="wk-button wk-button-previous">&lt;</div>
                            </td>
                            <td>
                                <div class="wk-button wk-button-next">&gt;</div>
                            </td>
                            <td>
                                <div class="wk-show-range"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="wk-topRightNav">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td><a class="wk-button wk-button-add" href="@{KtvPriceSchedules.showAdd()}">添加</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="wk-topwrapper">
                <table class="wk-weektop" cellpadding="0" cellspacing="0">
                    <tr class="wk-daynames">
                        <td style="width:60px;">&nbsp;</td>
                        <th>
                            <div class="wk-dayname"></div>
                        </th>
                        <th>
                            <div class="wk-dayname"></div>
                        </th>
                        <th>
                            <div class="wk-dayname"></div>
                        </th>
                        <th>
                            <div class="wk-dayname"></div>
                        </th>
                        <th>
                            <div class="wk-dayname"></div>
                        </th>
                        <th>
                            <div class="wk-dayname"></div>
                        </th>
                        <th>
                            <div class="wk-dayname"></div>
                        </th>
                    </tr>
                </table>
            </div>
            <div class="wk-mainwrapper" style="margin-top:0px;">
                <table class="wk-timeprices" cellpadding="0" cellspacing="0">
                    <!--行-->
                    <tr height="1">
                        <td style="width:60px;"></td>
                        <td colspan="7">
                            <div class="wk-spanningwrapper">
                                <div class="wk-hourmarkers">
                                    <div class="wk-markercell">
                                        <div class="wk-dualmarker"></div>
                                    </div>
                                    <div class="wk-markercell">
                                        <div class="wk-dualmarker"></div>
                                    </div>
                                    <div class="wk-markercell">
                                        <div class="wk-dualmarker"></div>
                                    </div>
                                    <div class="wk-markercell">
                                        <div class="wk-dualmarker"></div>
                                    </div>
                                    <div class="wk-markercell">
                                        <div class="wk-dualmarker"></div>
                                    </div>
                                    <div class="wk-markercell">
                                        <div class="wk-dualmarker"></div>
                                    </div>
                                    <div class="wk-markercell">
                                        <div class="wk-dualmarker"></div>
                                    </div>
                                    <div class="wk-markercell">
                                        <div class="wk-dualmarker"></div>
                                    </div>
                                    <div class="wk-markercell">
                                        <div class="wk-dualmarker"></div>
                                    </div>
                                    <div class="wk-markercell">
                                        <div class="wk-dualmarker"></div>
                                    </div>
                                    <div class="wk-markercell">
                                        <div class="wk-dualmarker"></div>
                                    </div>
                                    <div class="wk-markercell">
                                        <div class="wk-dualmarker"></div>
                                    </div>
                                    <div class="wk-markercell">
                                        <div class="wk-dualmarker"></div>
                                    </div>
                                    <div class="wk-markercell">
                                        <div class="wk-dualmarker"></div>
                                    </div>
                                    <div class="wk-markercell">
                                        <div class="wk-dualmarker"></div>
                                    </div>
                                    <div class="wk-markercell">
                                        <div class="wk-dualmarker"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="wk-spanningwrapper wk-chipspanningwrapper"></div>
                        </td>
                    </tr>
                    <tr> <!-- 时间 -->
                        <td class="wk-times-pri">
                            <div style="height:40px;">
                                <div class="wk-time-pri">08:00</div>
                            </div>
                            <div style="height:40px;">
                                <div class="wk-time-pri">09:00</div>
                            </div>
                            <div style="height:40px;">
                                <div class="wk-time-pri">10:00</div>
                            </div>
                            <div style="height:40px;">
                                <div class="wk-time-pri">11:00</div>
                            </div>
                            <div style="height:40px;">
                                <div class="wk-time-pri">12:00</div>
                            </div>
                            <div style="height:40px;">
                                <div class="wk-time-pri">13:00</div>
                            </div>
                            <div style="height:40px;">
                                <div class="wk-time-pri">14:00</div>
                            </div>
                            <div style="height:40px;">
                                <div class="wk-time-pri">15:00</div>
                            </div>
                            <div style="height:40px;">
                                <div class="wk-time-pri">16:00</div>
                            </div>
                            <div style="height:40px;">
                                <div class="wk-time-pri">17:00</div>
                            </div>
                            <div style="height:40px;">
                                <div class="wk-time-pri">18:00</div>
                            </div>
                            <div style="height:40px;">
                                <div class="wk-time-pri">19:00</div>
                            </div>
                            <div style="height:40px;">
                                <div class="wk-time-pri">20:00</div>
                            </div>
                            <div style="height:40px;">
                                <div class="wk-time-pri">21:00</div>
                            </div>
                            <div style="height:40px;">
                                <div class="wk-time-pri">22:00</div>
                            </div>
                            <div style="height:40px;">
                                <div class="wk-time-pri wk-time-pri-last">23:00</div>
                            </div>
                        </td>
                        <!-- 7 列 周一到周日 -->
                        <td class="wk-col">
                            <div class="wk-col-pricewrapper"></div>
                        </td>
                        <td class="wk-col">
                            <div class="wk-col-pricewrapper"></div>
                        </td>
                        <td class="wk-col">
                            <div class="wk-col-pricewrapper"></div>
                        </td>
                        <td class="wk-col">
                            <div class="wk-col-pricewrapper"></div>
                        </td>
                        <td class="wk-col">
                            <div class="wk-col-pricewrapper"></div>
                        </td>
                        <td class="wk-col">
                            <div class="wk-col-pricewrapper"></div>
                        </td>
                        <td class="wk-col">
                            <div class="wk-col-pricewrapper"></div>
                        </td>
                    </tr>
                </table>
                <!-- 价格 -->
                <div class="wk-pricecells"></div>
            </div>
        </div>
    </div>
#{/form}
</div>
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/ktv.css'}">
<style>
    a.wk-button {
        display: inline-block;
        margin-right: 10px;
        padding: 5px 15px;
        color: white;
        font-size: 14px;
        text-align: center;
        vertical-align: top;
        text-decoration: none;
        text-shadow: 1px 1px #006dcc;
        cursor: pointer;
        border: 1px solid #006dcc;
        border-radius: 2px;
        background-color: #006dcc;
        zoom: 1;
    }
</style>
#{/set}

#{set 'moreScripts'}
    #{asset.js src:['/ktv/xdate.js','/ktv/ktvweek.js']/}
<script type="text/javascript">
    $(function () {
        var ktvWeek = KTVWeek({
            wrapperId: "wk-ktvwrapper",
            dataUrl: "/ktv/price-schedule/json-search",
            startDay: new Date(),
            shop: $("#shopId").val(),
            roomType: $("#roomType").val(),
            product: $("#productId").val()
        });
    });
</script>
#{/set}

