#{extends 'layout_trader/layout2.html' /}
#{set title:'价格策略' /}
#{set menu:"ktv_price" /}
#{set 'moreStyles'}
<style type="text/css">
    .hour {
        width: 40px;
        line-height: 30px;
        background-color: #eaf6fd;
        border: 1px solid #b4d3eb;
        position: absolute;
        font-size: 12px;
        text-align: center;
        font-weight: normal;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
    .hour-selected {
        background-color: #1ABC9C;
        color: #fff;
    }

    #roomCountTable tr {
        height: 35px;
    }
    .field-group label {
        font-weight:normal;
    }
    .sidebar {
        display:none
    }
    .section {
        float:none;
        width:auto;
    }
    #message{
        display:none;
    }
    .field-group {
        padding-left:180px;
    }
    .field-group label {
        width:150px;
    }
    .switch_time_range{
        padding:10px;
        border: 1px solid #eee;
        cursor:pointer;
        float:left;
    }
    .preview_box {
        border:1px dotted #eee;
        width:500px;
        padding:10px 20px;
        color: #888;
        font-size: 12px;
     }
    .delDay {
        border: 1px solid #eee;
        padding:0 5px;
        cursor:pointer;
        margin-left:5px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
    .alert_error {
        background-color: #f2dede;
        color: #b94a48;
        padding: 8px 14px;
    }
    .alert_error a,
    .alert_error strong {
        color: #4875b9;
    }
</style>
#{/set}
<div class="body">
#{if !priceSchedule}
    <form method="post" action="/ktv/price-schedule" id="creationForm" class="form-horizontal">
        <input type="hidden" id="excludeProductId" value="-1">
#{/if}
#{else}
    <form method="post" action="/ktv/price-schedule/${priceSchedule.id}" id="creationForm" class="form-horizontal">
        <input type="hidden" id="excludeProductId" value="${priceSchedule.id}">
#{/else}
    <div class="bd">
        <h2>${title}</h2>

        <div class="field-group">
            <label>可预订日期</label>
            <input type="text" class="time" id="startDay"  onfocus="WdatePicker({readOnly:true})"
                   value="${new java.util.Date().format()}">
            <span>到</span>
            <input type="text" class="time" id="endDay"  onfocus="WdatePicker({readOnly:true})" value="">(包括)
            <span class="btn" id="addDate"> 添加</span>
        </div>
        <div class="field-group">
            <div class="preview_box" id="dayPreview">
                未添加，请选择日期范围，并点击添加。一次可【添加多个】日期范围。
            </div>
            <input type="hidden" name="days" id="inputDays">
        </div>

        <div class="field-group" id="productGroup">
            <label>套餐产品</label>
            <select name="priceStrategy.product.id" id="priceStrategy_product_id" style="width: auto">
                #{list ktvProductList,as :'product'}
                    <option value="${product.id}" data-duration="${product.duration}">${product.name}</option>
                #{/list}
            </select>
        </div>

        <div class="field-group">
            <label>可预订时段</label>
            <div>
                <div class="switch_time_range" data-offset="0">&lt;</div>
                <div style="width:600px; overflow:hidden; position:relative;border:6px solid #eee; padding:4px;float:left;margin-left:5px;">
                    <div style="position:relative; height:30px;left:0;" id="timeRangeBox">
                        #{list items:0..23, as:'hour'}
                        %{ hourStr = hour < 10 ? "0" + hour : "" + hour; }%
                        <div class="hour" style="z-index:${50-hour};left:${hour*44}px" data-hour="${hourStr}:00">${hourStr}:00</div>
                        #{/list}
                    </div>
                </div>
                <div class="switch_time_range" style="margin-left:5px;" data-offset="-460px">&gt;</div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="field-group">
            <div class="preview_box" id="hourPreview">
                未选择时间段，请点击以上所列时间【可多选】
            </div>
        </div>
        <input type="hidden" name="priceStrategy.startTimes" id="inputStartTimes">

        <div class="field-group" id="roomTypeGroup">
            <label>适用包厢</label>
            #{list items:models.ktv.KtvRoomType.values(), as:'roomType'}
                <input type="radio" name="priceStrategy.roomType" value="${roomType}"/>${roomType.name} &nbsp;&nbsp;
            #{/list}
        </div>

        <div class="field-group">
            <label>包厢价格</label>
            <input type="text" id="price" name="priceStrategy.price"/> 元 / 每 <span id="durationPer"></span> 小时
        </div>


        <div class="field-group" id="shopGroup">
            <label>选择适用门店</label>
            #{list items:shops,as:'shop'}
                <input type="checkbox" class="shops" data-shop-id="${shop.id}" data-name="${shop.name}"/>${shop.name}
                &nbsp;&nbsp;
            #{/list}
        </div>

        <div class="field-group">
            <label>每时段包厢数量</label>
            <table cellpadding="0" cellspacing="0" id="roomCountTable">
                <tr>
                    <td>统一设置 &nbsp;&nbsp;</td>
                    <td><input type="text" size="3" id="roomCountAll"/>个</td>
                </tr>
                <tr style="height:20px;">
                    <td colspan="2"></td>
                </tr>
            </table>
        </div>
        <div class="field-group" >
            <div class="alert_error" id="errorMsg" style="display: none">
            </div>
        </div>
        <div class="field-group">
            <input type="button" class="btn" value="创建" id="createButton"/>
        </div>

    </div>
</form>
</div>

#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/ktv-price-schedule.js'}" type="text/javascript" charset="UTF-8"></script>
    #{if priceSchedule}
    <script type="text/javascript" charset="UTF-8">
        function prepareEditData(priceSchedule){
            //准备日期
            $.each(priceSchedule.dateRanges, function(index, dateRange){
                addDateRange(dateRange.startDay, dateRange.endDay);
            });
            //准备产品
            $("#priceStrategy_product_id option").each(function(){
                var ele = $(this);
                if(ele.val() == priceSchedule.product.id) {
                    ele.attr("selected", true);
                    return false;
                }
            });
            $("#priceStrategy_product_id").hide().parent().append($("<span>", {text: priceSchedule.product.name}));
            //准备时间段
            $("#timeRangeBox div[data-hour]").each(function(){
                var ele = $(this);
                var hour = Number(ele.attr("data-hour").substring(0, 2));
                var index = $.inArray(hour, priceSchedule.startTimes);
                if (index >= 0) {
                    toggleHour(ele);
                }
            });
            //准备门店
            $.each(priceSchedule.shops, function(index, shop){
                $("#shopGroup input[data-shop-id='" + shop.shopId + "']").click();
                setInterval(function(){
                    $("#roomCountTable input[data-shop-id='" + shop.shopId + "']").val(shop.roomCount);
                }, 0);
            });
            $("#roomTypeGroup input[value='" + priceSchedule.roomType + "']").attr("checked", true);
            $("#price").val(priceSchedule.price);
            $("#createButton").val("提交修改");
        }
        $(function(){
            prepareEditData(
                {
                    "shops": ${shopPriceScheduleJson.raw()},
                    "dateRanges": ${dateRangePriceScheduleJson.raw()},
                    "startTimes": ${"[" + priceSchedule.startTimes + "]"},
                    "product":{
                        "id": ${priceSchedule.product.id},
                        "name": ${('"' + priceSchedule.product.name + '"').raw()}
                    },
                    "roomType":${('"'+priceSchedule.roomType + '"').raw()},
                    "price":${('"'+priceSchedule.price + '"').raw()}
                }
            );
        })
    </script>
    #{/if}
#{/set}
