#{extends 'layout_trader/layout2.html' /}
#{set title:'价格策略' /}
#{set menu:"ktv_price" /}
<div class="body">
#{form @KtvPriceSchedules.update(priceStrategy.id) , id:'updateForm',class:"form-horizontal" }
    <div class="bd">
        <h2>${title}</h2>

        <div class="field-group">
            <label>可预订日期</label>
            <input type="text" class="time" id="startDay" name="priceStrategy.startDay"
                   onfocus="WdatePicker({readOnly:true})"
                   value="${priceStrategy.startDay.format()}">
            <span>到</span>
            <input type="text" class="time" id="endDay" name="priceStrategy.endDay"
                   onfocus="WdatePicker({readOnly:true})" value="${priceStrategy.endDay.format()}">(包括)
        </div>

        <div class="field-group">
            <label>筛选日期</label>
        %{ useWeekNames=["一","二","三","四","五","六","日"]; }%
            #{list items:1..7, as:'i'}
                <input type="checkbox" name="useWeekDays" class="input-medium" value="${i}"
                       #{if priceStrategy.dayOfWeeks.contains(i.toString())}checked#{/if}>
                星期${useWeekNames[i-1]}
            #{/list}
        </div>

        <div class="field-group">
            <label>适用包厢</label>
        ${priceStrategy.roomType.name}
        </div>

        <div class="field-group">
            <label>套餐产品</label>${priceStrategy.product.name}
            <input type="hidden" name="priceStrategy.product.id" id="priceStrategy_product_id"
                   value="${priceStrategy.product.id}">
        </div>

        <div class="field-group">
            <label>包厢价格</label>
            <input type="text" id="price" name="priceStrategy.price" value="${priceStrategy.price}"/> 元 / 每 <span
                id="durationPer"></span> 小时
        </div>

        <div class="field-group">
            <label>预订时段</label>
            #{list items:priceStrategy.getStartTimesAsSet(),as:'startTime'}
            ${startTime}:00至${startTime+priceStrategy.product.duration}:00
            #{/list}
        </div>

        <div class="field-group">
            <label>适用门店</label>
            #{list items:shopPriceScheduleList,as:'shopSchedule'}
            ${shopSchedule.shop.name}（${shopSchedule.roomCount}个）
                &nbsp;&nbsp;
                <input type="hidden" name="shop.id" value="${shopSchedule.shop.id}"/>
            #{/list}
        </div>

        <div class="field-group">
            <input type="button" class="btn" value="修改" id="createButton"/>
        </div>

    </div>
#{/form}
</div>
#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
    $(function () {

        $("#createButton").click(function () {
            var startDay = $("#startDay").val();
            if (!startDay) {
                alert("请选择起始日期");
                return;
            }
            var endDay = $("#endDay").val();
            if (!endDay) {
                alert("请选择结束日期");
                return;
            }

            var useWeekDayInputs = $("input[name='useWeekDays']:checked");
            if (useWeekDayInputs.length == 0) {
                alert("请筛选日期");
                return;
            }

            var price = $("#price").val();
            if (!price) {
                alert("请填写价格");
                return;
            }

            var useWeekDays = [];
            useWeekDayInputs.each(function () {
                useWeekDays.push($(this).val());
            });

            $("#updateForm").submit();
        });
    });
</script>
#{/set}
