#{extends 'main2.html' /}
#{set title:'一百券 - 我的金币' /}
#{set 'moreStyles'}
    #{asset.css src:['/user/130107/user.css'] /}
#{/set}

#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
    $(function () {
        $("#ex").click(function () {
            var exNumber = $("#exNumber").val();
            if (exNumber >${number}) {
                $("#info").css("display", "block");
                $("#su").css("display", "none");
            } else {
                $("#exchange-form").submit();
            }
        })
    });
</script>
#{/set}
<div id="content" class="clearfix">
#{include "share/left.html"/}
    <div class="section">
        #{breadcrumbs/breadcrumb breadcrumbs/}
        <div class="user-account">
            <span>我的金币：<em>${coinsNumber}</em>枚</span>
        </div>
        <div class="normal-tips">金币可用来兑换抵用券，无消费金额限制，500枚金币可兑换1张5元抵用券，有效期1年 <a href="http://www.yibaiquan.com/topic/117" target="_blank">查看详细规则</a></div>
        <form class="form-horizontal" id="exchange-form" action="@{UserCoins.exchange()}" method="POST">
            <div class="failed-tips" id="info" style="display: none;">目前金币还不够哦，天天来签到攒金币吧！</div>
            #{if isExchange}
                <div class="success-tips" id="su">兑换成功，去看看有什么喜欢的商品吧！</div>
            #{/if}
            我要兑换：<input class="short-input" type="text" name="exNumber" id="exNumber" value="1"/> 张抵用券
            <button class="btn" type="button" id="ex"> 兑 换 </button>
            <a href="${helper.Domain.getWWWHost(request)}/help" target="_blank">抵用券怎么用？</a>
        </form>
        <form id="couponsFrm" action="@{UserCoins.index()}" method="GET">
            <div class="search-box">
                <span class="field">
                    <label>明细分类：</label>
                    #{select 'condition.tradeType', value:condition?.tradeType, class:'short-select'}
                        #{option 0}--全部--#{/option}
                        #{option 1}收入#{/option}
                        #{option -1}支出#{/option}
                    #{/select}
                </span>
                <span class="field">
                    <label>交易时间：</label>
                    <input class="short-input Wdate" type="text" name="condition.createdAtBegin" id="createdAtBegin"
                           value="${condition?.createdAtBegin?.format()}" onfocus="WdatePicker({readOnly:true})"/>
                    -
                    <input class="short-input Wdate" type="text" id="createdAtEnd" name="condition.createdAtEnd"
                           value="${condition?.createdAtEnd?.format()}" onfocus="WdatePicker({readOnly:true})"/>
                </span>
                <button type="submit" class="btn" id="search"> 搜　索</button>
            </div>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th class="time" width="140">时间</th>
                <th class="text">名称/备注</th>
                <th class="digit" width="120">金币数量</th>
            </tr>
            </thead>
            <tbody>
            #{paginate.list items:coinList, as:'coin'}
            <tr>
                <td class="time">${coin?.createdAt?.format('yyyy-MM-dd HH:mm:ss')}</td>
                <td class="text">${coin?.remarks?.raw()}</td>
                <td class="digit">
                    #{if coin?.checkinNumber<0}
                        <span class="red">${coin?.checkinNumber}</span>
                    #{/if}
                    #{else}
                        <span class="green">+${coin?.checkinNumber}</span>
                    #{/else} 枚
                </td>
            </tr>
            #{/paginate.list}
            </tbody>
        </table>
        <div class="pagination">
            #{paginate.controls items:coinList/}
        </div>
    </div>
</div>
