#{extends 'simple.html' /}
#{set title:'一百券 - 通过手机找回密码' /}
#{set 'moreStyles'}
    #{asset.css src:['/u/find-password.css'] /}
#{/set}
<script>
    function checkTel(tel) {
        var telreg = /^((15)\d{9})$|^((13)\d{9})$|^((18)\d{9})$/i;
        if (tel.match(telreg) == null) {
            return true;
        } else {
            return false;
        }
    }
    function sendCheckCode() {
    	
    	var mobile = $.trim($("#mobile").val());
        if(mobile==''|| checkTel(mobile)) {
            $("#passtelcheck").html("<span class='redInfo allstep_info'><b></b><em>手机号码不对！</em></span>"); 
            return false;
        }
        $.get("/send-message_code?from="+mobile,function(data){
                if(data==1){
                   $("#passtelcheck").html("<span class='yellowInfo allstep_info'><b></b><em>验证码已成功发送，请查收！</em></span>"); 
                   updateTimer('showspan',60);
                }else if(data==-1){
                   $("#passtelcheck").html("<span class='yellowInfo allstep_info'><b></b><em>网络错误，请重发！</em></span>");
                   $("#getcodebutton").attr("disabled",false);
                }else if(data==0){
                   $("#passtelcheck").html("<span class='yellowInfo allstep_info'><b></b><em>此手机并未注册！</em></span>"); 
                   //$("#getcodebutton").attr("disabled",false);
                }
                else if(data==-3){
                   $("#passtelcheck").html("<span class='yellowInfo allstep_info'><b></b><em>请使用此账号绑定手机！</em></span>"); 
                   $("#getcodebutton").attr("disabled",false);
                }
        }, "text");
    }
    //60秒倒计时
    function updateTimer(showspan,timeval) {
      if(timeval>=0){
           $("#" + showspan).html(timeval);
           timeval--;
           setTimeout("updateTimer('"+showspan +"', " + timeval+")",1000);
       }else{
         timeval=0;
         $("#" + showspan).html("<input type='button' onClick='sendCheckCode()' value='重新发送' />");
         $("#telpassbutton").attr("disabled",false);
       }
       
    }
  
  //找回密码
   function getpwsbyemail() {
       var mobile = $("#mobile").val();
       var telcheckcode = $("#telcheckcode").val();
       if(mobile==''|| checkTel(mobile)){
           $("#passtelcheck").html("<span class='redInfo allstep_info'><b></b><em>手机号码不对！</em></span>"); 
           return false;
       }
       if(telcheckcode==''){
           $("#passtelcheck").html("<span class='redInfo allstep_info'><b></b><em>请输入手机验证码</em></span>"); 
           return false;
       }

      // $("#telpassbutton").attr("disabled","disabled");
       $.get("/check-mobile",{mobile:mobile,validCode:telcheckcode},function(data){
           if(data==0){
        	   var url = "/reset-password";
               setTimeout(function(){ location.href =url;},10);
           }else if(data==1){
               $("#passtelcheck").html("<span class='redInfo allstep_info'><b></b><em>手机验证码错误或已过期</em></span>");
               $("#telpassbutton").attr("disabled",false);
           }
           else if(data==3){
               $("#passtelcheck").html("<span class='redInfo allstep_info'><b></b><em>此手机并未注册</em></span>"); 
               $("#telpassbutton").attr("disabled",false);
           }else if(data==2){
               $("#passtelcheck").html("<span class='redInfo allstep_info'><b></b><em>两次输入的手机不一致！</em></span>"); 
               $("#telpassbutton").attr("disabled",false);
           } else{
               $("#passtelcheck").html("<span class='redInfo allstep_info'><b></b><em>手机验证码错误或已过期</em></span>");
               $("#telpassbutton").attr("disabled",false);

           }
       },"text");
	  
  }
</script>
<div class="find-password">
    <div class="find-title">找回密码</div>
    <div class="input-tel">
        <div style="padding:8px 0;">
            <label>输注册手机：</label> <input id="mobile" type="text" maxlength="11" />
            <input id="getcodebutton" type="button"class="btn" onclick="sendCheckCode()" value="发送验证码" />
            <span class="error" id="passtelcheck"></span>
        </div>
        <div style="padding:8px 0;">
            <label>输入验证码：</label>
            <input id="telcheckcode" type="text" />
        </div>
        <div style="padding-top:20px">
            <input id="telpassbutton" class="btn" type="button" onClick="getpwsbyemail()" value="下一步" />
        </div>
    </div>
</div>

