#{extends 'simple.html' /}
#{set title:'一百券 - 通过邮箱找回密码' /}
#{set 'moreStyles'}
    #{asset.css src:['/u/find-password.css'] /}
#{/set}
<script>
	function checkEmail(email) {
		var reg = /([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)/;
		if (reg.test(email)) {
			return false;
		} else {
			return true;
		}
	}
	
	function getpwsbyemail() {
		var useremail = $.trim($("#email").val());
	    if(useremail==''|| checkEmail(useremail)) {
	        $(".error").html("邮箱地址不合法");
	        return false;
	    }
	    $("#next").attr("disabled","disabled");
		
		$.get("/send-message_code?from="+useremail,function(data) {
	        if (data == 1) {
                setTimeout(function(){
                    location.href = "/send-email/success";
                }, 10);
	        } else if (data == 0) {
	           $(".error").html("您填写的邮箱不存在");
	           $("#next").attr("disabled",false);
	        }
	    }, "text");
	}
</script>
<div class="find-password">
    <div class="find-title">找回密码</div>
    <h2>请填写您的注册邮箱</h2>
    <div class="input-email">
        <div><input id="email" name="user_email" type="text" tabindex="1"> <span class="error"></span></div>
        <div><button id="next" class="btn" type="button" onClick="getpwsbyemail()">下一步</button></div>
    </div>
</div>
