#{extends 'simple.html' /}
#{set title:'密码找回-修改密码' /}
#{set 'moreStyles'}
    #{asset.css src:['/u/find-password.css'] /}
#{/set}
<script type="text/javascript">
$(function(){
    if ('${isExpired}') {
    	$("#info").html("<font color=red>无效的链接！</font>");
    }
});

//忘记登录密码 修改密码
function updatePass() {
    var token = $.trim($("#token").val());
    var password = $("#password").val();
    var confirmPassword = $("#confirmPassword").val();
    var mobile = $("#mobile").val();
    if (password == "") {
        $("#checkupuserpass1").html("<font color=red>请输入密码！</font>");
        return false;
    }
    if (password != ''&& password.length < 6) {
        $("#checkupuserpass1").html("<font color=red>密码至少6位！</font>");
        return false;
    } else {
        $("#checkupuserpass1").html("");
    }
    
    if (password != confirmPassword) {
        $("#checkupuserpass2").html("<font color=red>两次密码不一致</font>");
        return false;
    }
    $.post("/reset-password", {
        token : token,
        password : password,
        confirmPassword : confirmPassword,
        mobile : mobile
    }, function(data) {
        if (data == 1) {
            alert('修改成功');
            window.location.href = "/login";
        } else{
            alert('修改失败');
        }
    }, "text");
}
</script>
<div class="find-password">
    <div class="find-title">修改密码</div>
    <div class="find-tips">设置新的登录密码<br />您申请了修改密码，为保护您的账号安全，您的当前登录密码系统随机重置，请立即修改为您常用的新密码。</div>
    <div class="newpwd">
        <label>请输入新的密码：</label>
        <input type="password" id="password" name="user.password" class="greyinput" maxlength="20"/>
        <span id="checkupuserpass1"></span>
    </div>
    <div class="newpwd">
        <label>再次输入新密码：</label>
        <input type="password" id="confirmPassword" name="user.confirmPassword" class="greyinput" maxlength="20"/>
        <span id="checkupuserpass2"></span>
    </div>
    <div class="btn-box">
        <input id="mobile" name="user.mobile" type="hidden" value="${mobile}"/>
        <input id="token" name="token" type="hidden" value="${token}"/>
        <input onClick="updatePass()" class="btn" id="sure" type="button" value=" 确 定 "/>
    </div>
</div>


