#{extends 'simple.html' /}
#{set title:'找回密码-邮件发送成功' /}
#{set 'moreStyles'}
    #{asset.css src:['/u/find-password.css'] /}
#{/set}
<script>
function request(indexurl){
  window.location.href = indexurl;
}
</script>
<div class="find-password">
    <div class="find-title">找回密码-邮件发送成功</div>
    <div class="find-success">
        <h3>您的申请已经提交成功，一百券(yibaiquan.com)已给您的邮箱发出了密码找回通知信！</h3>
        <p>
            请您立即登录邮箱，并按信中的提示完成密码找回的操作。<br/>
            注意：如果您连续多次申请找回密码，请以最新收到的通知信为准。
        </p>
        <div class="return"><a href="http://www.uhuila.cn">申请完成，返回首页</a></div>
    </div>
</div>
