#header .inner,
#content {
    width: 960px;
}
.buy-step {
    margin: 40px 0 20px;
    line-height: 30px;
}
.step1 {
    background: #F4F4F4 url(http://img.uhcdn.com/images/r/carts_step.png) repeat-x 0 0;
}
.step2 {
    background: #F4F4F4 url(http://img.uhcdn.com/images/r/carts_step_2.png) repeat-x 0 0;
}
.step3 {
    background: #F4F4F4 url(http://img.uhcdn.com/images/r/carts_step_3.png) repeat-x 0 0;
}
.buy-step li {
    float: left;
    width: 310px;
    padding-left: 10px;
    font-size: 18px;
}
.buy-step em {
    padding: 0 5px;
}
.buy-step-curr {
    color: #F8F8F8;
    font-weight: 700;
}
.buy-step span {
    padding: 2px 8px;
}

.select h3 {
    font-size: 14px;
    line-height: 32px;
}
.salehub {
    float: left;
    width: 445px;
    padding: 0 10px 10px;
    background-color: #F2F2F2;
}
.salehub ul {
    height: 210px;
    padding: 6px 0 0 0;
    overflow-y: scroll;
    background-color: #FFF;
    border: 1px solid #E4E4E4;
}
.salehub ul li {
    padding-left: 10px;
    line-height: 32px;
}
.salehub ul li:hover {
    background-color: #F6F6F6;
}
.salehub ul input {
    position: relative;
    top: 2px;
}
.salehub ul span {
    padding-left: 10px;
    color: #AF2F15;
}
.salehub ul em {
    padding: 8px;
    color: #B16666;
}
.phones {
    float: right;
    width: 445px;
    padding: 0 10px 10px;
    background-color: #F2F2F2;
}
.phones textarea {
    float: left;
    width: 230px;
    border: 1px solid #D2D2D2;
}
.phones span {
    float: left;
    padding: 0 10px;
}
.submit-btn {
    padding: 20px 0;
    text-align: center;
}
.submit-btn button {
    padding: 5px 25px;
}
.selected h3 {
    font-size: 14px;
    line-height: 32px;
}
.selected td {
    text-align: center;
    line-height: 30px;
}
.num-input {
    width: 30px;
}
.selected .price,
.selected .amount {
    text-align: right;
    padding-right: 8px;
}
.total-box {
    padding: 20px 0 30px;
    text-align: right;
}
.confirm-pay {
    margin: 0 10px;
    color: #F8F8F8;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 25px;
    background-color: #AF2F15;
}
.total-num,
.carts-amount {
    padding: 0 3px;
    color: #F50;
    font-weight: 700;
}

#balance-pay {
    margin: 0 auto 20px;
    padding-bottom: 20px;
    width: 958px;
    border: 1px solid #D4D4D4;
}
#order-box {
    padding: 5px 20px;
    font-size: 14px;
    background-color: #FFFCED;
    border-bottom: 1px solid #D4D4D4;
}
#order-box .order-num {
    float: left;
    font-weight: 700;
    line-height: 32px;
}
#order-box .pay-num {
    float: right;
    line-height: 28px;
}
#order-box .pay-num strong {
    color: #F50;
    font-size: 20px;
}
#account-box {
    margin: 10px 20px;
    padding: 0 60px 10px;
    font-size: 14px;
    line-height: 30px;
    border-bottom: 1px dashed #E4E4E4;
}
#account-box .balance span {
    padding-right: 3px;
    color: #25B4AB;
    font-weight: 700;
}
#payment {
    margin: 10px 20px;
    padding: 0 0 10px 135px;
}
#payment input {
    position: relative;
    top: 2px;
}
#payment span {
    padding: 0 3px;
    color: #F50;
    font-weight: 700;
}
#confirm-pay {
    border: 0;
    margin-left: 155px;
    width: 100px;
    height: 32px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    background: url(http://img.uhcdn.com/images/r/pay_btn.png) repeat-x 0 0;
    cursor: pointer;
}
/* 确认付款 {{{ */
#full_bg {
    background-color: Gray;
    display: none;
    z-index: 3;
    position: absolute;
    left: 0px;
    top: 0px;
    filter: Alpha(Opacity=30); /* IE */
    -moz-opacity: 0.4; /* Moz + FF */
    opacity: 0.4;
}
#payment_result {
    position: absolute;
    width: 450px;
    height: 160px;
    z-index: 5;
    text-align: center;
    background-color: white;
    border: 6px solid #AAA;
    display: none;
}
#payment_result .close {
    position: absolute;
    top: 3px;
    right: 5px;
    z-index: 5;
    color: #666;
}
#payment_result .pay-tips {
    line-height: 30px;
    margin-bottom: 30px;
}
#payment_result .repay {
    margin-right: 55px;
}
#payment_result .repay,
#payment_result .payed {
    display: inline-block;
    padding: 0 15px;
    color: #25B4AB;
    line-height: 32px;
    border: 1px solid #DDD;
    background-color: #F2F2F2;
}
#other-pay {
    margin-bottom: 20px;
    padding:  5px 15px 20px;
    border: 1px solid #D4D4D4;
}
#other-pay h3 {
    font-size: 14px;
    line-height: 32px;
    border-bottom: 1px solid #D4D4D4;
}
#other-pay h4 {
    color: #666;
    font-size: 14px;
}
#other-pay input {
    margin-right: 5px;
}
.zhifu {
    padding: 30px 20px 40px;
}
.zhifu li {
    float: left;
    margin-right: 50px;
}
.kuaiqian {
    padding: 20px;
}
.kuaiqian li {
    float: left;
    margin: 0 30px 25px 0;
    *margin-bottom: 5px;
}
#other-pay #confirm {
    display: block;
    margin-left: 20px;
    width: 100px;
    height: 32px;
    line-height: 32px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    background: url(http://img.uhcdn.com/images/r/pay_btn.png) repeat-x 0 0;
    cursor: pointer;
}
.pay-success {
    padding: 50px 30px;
    /* color: #227b10; */
    font-size: 14px;
    font-weight: 700;
}

.pay-success {
	margin: 20px 0 40px 0;
	padding: 8px 10px;
	border: 1px solid #e4e4e4;	
}
.pay-wish {
	padding: 10px 0 15px 35px;
	background: url(http://img.uhcdn.com/images/u/pass.png) no-repeat 0 7px;
	font-size: 18px;
}
.pay-success ul {
	margin: 15px 50px 20px;
	border: 1px solid #EBDECD;
	padding-top: 10px;
	background-color: #F4F4F4;
}
.pay-success li {
	margin: 3px 0;
	padding: 3px 15px;
	line-height: 24px;
}
.pay-success li a {
	color: #4991D4;
}
.pay-success li.service {
	margin: 15px 0 0;
	line-height: 20px;
	border-top: 1px dashed #EBDECD;
	background-color: #FFF;
}
.pay-success .btn {
	padding-left: 120px;
}
.pay-success .btn a {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
	text-decoration: none;
}
.pay-success .btn a span {
	display: inline-block;
	padding: 0 10px;
	height: 25px;
	color: #fff;
	font-size: 13px;
	line-height: 25px;
	background: -webkit-gradient(linear, left top, left bottom, from(#e05721), to(#bf3e23));
	background: -moz-linear-gradient(top, #e05721, #bf3e23);
	background: -o-linear-gradient(left, #e05721, #bf3e23);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e05721', endColorstr='#bf3e23');
	background: linear-gradient(left, #e05721, #bf3e23);
}
