#{extends 'layout_operate/layout.html' /}
#{set title:'商品一览' /}
#{include '/share/nav.html' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/goods.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
#{set 'moreStyles'}
<style type="text/css">
    .table-striped tbody .tr-offsale {
        color: #A0A0A0;
    }

    .table-striped tbody tr.transparent td td {
        border-left: 0px;
        background: transparent;
    }

    .expired {
        color: #ffbe28;
        font-weight: bold;
    }

    .zeroBaseSale {
        color: #942e8f;
        font-weight: bold;
    }

    .rank {
        background: url(http://y1.uhcdn.com/images/2012/11/f30406611dd51bba.png) no-repeat right 10px;
    }

    .rank-asc {
        background: url(http://y1.uhcdn.com/images/2012/11/0ab07600b7c1e671.png) no-repeat right 10px;
    }

    .rank-desc {
        background: url(http://y1.uhcdn.com/images/2012/11/6fbd68649f111b05.png) no-repeat right 10px;
    }
</style>
#{/set}
<div class="body">
<legend>${title}</legend>
<form class="form-horizontal" name="frmlist" id="frmlist" action="@{OperateGoods.index()}" method="GET">
    <table width="100%">
        <tr>
            <td width="30%">商&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户：
            #{vx.selectInputField name:"supplierName", id:"condition.supplierId", list:supplierList, value:condition?.supplierId, array:"supplierArray",importJs:true/}</td>

            <td width="30%">商品名称：<input type="text" name="condition.shortName" class="input-medium"
                                        value="${condition?.shortName}"/></td>
            <td width="30%">商品编号：<input type="text" name="condition.no" class="input-medium"
                                        value="${condition?.no}"/></td>
            <td></td>
        </tr>
        <tr>
            <td width="30%">品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;牌：
            #{vx.selectInputField name:"brandName", id:"condition.brandId", list:brandList, array:"brandArray",importJs:false/}</td>
            <td width="30%">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态：
            #{select 'condition.status', id:'condition_status', class:'input-small', value:condition?.status}
                #{option ""}不限#{/option}
                #{option "ONSALE"}&{'goods.ONSALE'}#{/option}
                #{option "OFFSALE"}&{'goods.OFFSALE'}#{/option}
                #{option "APPLY"}&{'goods.APPLY'}#{/option}
                #{option "REJECT"}&{'goods.REJECT'}#{/option}
            #{/select}
                &nbsp; &nbsp;
                设置精选：<input type="checkbox" name="condition.priority" id="priority" class="input-medium"
                            value="${condition?.priority}" ${condition?.priority == 1 ?'checked':''}/>
                &nbsp; &nbsp;抽奖商品：<input type="checkbox" name="condition.isLottery" id="isLottery" class="input-medium"
                                         value="${condition?.isLottery}" ${condition?.isLottery ?'checked':''}/>
            </td>

            <td width="30%">编码：<input type="text" name="condition.code" class="input-medium"
                                      value="${condition?.code}"/></td>

        </tr>
        <tr>
            <td width="30%">现&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价：<input type="text" name="condition.salePriceBegin"
                                                                          class="input-medium"
                                                                          value="${condition?.salePriceBegin}"/>
                至 <input type="text" name="condition.salePriceEnd" class="input-medium"
                         value="${condition?.salePriceEnd}"/>
            </td>
            <td>销&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量：<input type="text" name="condition.saleCountBegin"
                                                              class="input-medium"
                                                              value="#{if condition?.saleCountBegin >=0}${condition?.saleCountBegin}#{/if}"/>
                至 <input type="text" name="condition.saleCountEnd" class="input-medium"
                         value="#{if condition?.saleCountEnd >=0}${condition?.saleCountEnd}#{/if}"/>
            </td>
            <td>
                <button class="btn btn-primary" id="searchbtn" type="submit">搜索</button>
            </td>
            <input type="hidden" id="J_rank" name="desc"/>
            <input type="hidden" name="queryString" value="${queryString}"/>
        </tr>
    </table>
</form>
<form class="form-horizontal" name="deletefrm" id="deletefrm">
<input type="hidden" name="queryString" value="${queryString}"/>
<input type="hidden" name="page" value="${goodsPage.pageNumber}">

<div style="margin-bottom: 12px">
    <button class="btn btn-primary" id="onsales" type="button">同意上架</button>
*{<button class="btn btn-primary" id="offsales" type="button">批量下架</button>}*
    <button class="btn btn-primary" id="deletebtn" type="button">删除</button>
</div>


#{vx.tab name:'goods',enumItems: [models.sales.GoodsStatus.ONSALE,models.sales.GoodsStatus.OFFSALE,
models.sales.GoodsStatus.APPLY,models.sales.GoodsStatus.REJECT],
select:'condition_status',value:condition?.status/}
<table class="table table-striped table-bordered table-condensed">
<thead>
<tr>
    <th width="35px"><input type="checkbox" id="selectall" name="selectall">全选</th>

#{if desc.equals("1000000000000") }
    <th width="50px" class="rank rank-asc"><a class="fn-rank" data-rank="2000000000000">&{'goods.supplierId'}</a>
    </th>#{/if}
#{elseif desc.equals("2000000000000")}
    <th width="50px" class="rank rank-desc"><a class="fn-rank" data-rank="1000000000000">&{'goods.supplierId'}</a>
    </th>#{/elseif}
#{else}
    <th width="50px" class="rank"><a class="fn-rank" data-rank="2000000000000">&{'goods.supplierId'}</a>
    </th>#{/else}

#{if desc.equals("0100000000000") }
    <th width="50px" class="rank rank-asc"><a class="fn-rank" data-rank="0200000000000">&{'goods.no'}</a>
    </th>#{/if}
#{elseif desc.equals("0200000000000")}
    <th width="50px" class="rank rank-desc"><a class="fn-rank" data-rank="0100000000000">&{'goods.no'}</a>
    </th>#{/elseif}
#{else}
    <th width="30px" class="rank"><a class="fn-rank" data-rank="0200000000000">&{'goods.no'}</a></th>#{/else}

#{if desc.equals("0010000000000") }
    <th width="220px" class="rank rank-asc"><a class="fn-rank" data-rank="0020000000000">&{'goods.shortName'}</a>
    </th>#{/if}
#{elseif desc.equals("0020000000000")}
    <th width="220px" class="rank rank-desc"><a class="fn-rank" data-rank="0010000000000">&{'goods.shortName'}</a>
    </th>#{/elseif}
#{else}
    <th width="220px" class="rank"><a class="fn-rank" data-rank="0020000000000">&{'goods.shortName'}</a>
    </th>#{/else}

#{if desc.equals("0001000000000") }
    <th width="50px" class="rank rank-asc"><a class="fn-rank" data-rank="0002000000000">&{'goods.faceValue'}</a>
    </th>#{/if}
#{elseif desc.equals("0002000000000")}
    <th width="50px" class="rank rank-desc"><a class="fn-rank" data-rank="0001000000000">&{'goods.faceValue'}</a>
    </th>#{/elseif}
#{else}
    <th width="50px" class="rank"><a class="fn-rank" data-rank="0002000000000">&{'goods.faceValue'}</a>
    </th>#{/else}

#{if desc.equals("0000100000000") }
    <th width="50px" class="rank rank-asc"><a class="fn-rank"
                                              data-rank="0000200000000">&{'goods.originalPrice'}</a></th>#{/if}
#{elseif desc.equals("0000200000000")}
    <th width="50px" class="rank rank-desc"><a class="fn-rank"
                                               data-rank="0000100000000">&{'goods.originalPrice'}</a>
    </th>#{/elseif}
#{else}
    <th width="50px" class="rank"><a class="fn-rank" data-rank="0000200000000">&{'goods.originalPrice'}</a>
    </th>#{/else}

#{if desc.equals("0000010000000") }
    <th width="70px" class="rank rank-asc"><a class="fn-rank" data-rank="0000020000000">&{'goods.salePrice'}</a>
    </th>#{/if}
#{elseif desc.equals("0000020000000")}
    <th width="70px" class="rank rank-desc"><a class="fn-rank" data-rank="0000010000000">&{'goods.salePrice'}</a>
    </th>#{/elseif}
#{else}
    <th width="70px" class="rank"><a class="fn-rank" data-rank="0000020000000">&{'goods.salePrice'}</a>
    </th>#{/else}

#{if desc.equals("0000001000000") }
    <th width="50px" class="rank rank-asc"><a class="fn-rank"
                                              data-rank="0000002000000">&{'goods.cumulativeStocks'}</a>
    </th>#{/if}
#{elseif desc.equals("0000002000000")}
    <th width="50px" class="rank rank-desc"><a class="fn-rank"
                                               data-rank="0000001000000">&{'goods.cumulativeStocks'}</a>
    </th>#{/elseif}
#{else}
    <th width="30px" class="rank"><a class="fn-rank" data-rank="0000002000000">&{'goods.cumulativeStocks'}</a>
    </th>#{/else}

#{if desc.equals("0000000100000") }
    <th width="60px" class="rank rank-asc"><a class="fn-rank"
                                              data-rank="0000000200000">&{'goods.virtualBaseSaleCount'}</a>
    </th>#{/if}
#{elseif desc.equals("0000000200000")}
    <th width="60px" class="rank rank-desc"><a class="fn-rank"
                                               data-rank="0000000100000">&{'goods.virtualBaseSaleCount'}</a>
    </th>#{/elseif}
#{else}
    <th width="50px" class="rank"><a class="fn-rank" data-rank="0000000200000">&{'goods.virtualBaseSaleCount'}</a>
    </th>#{/else}

#{if desc.equals("0000000000010") }
    <th width="80px" class="rank rank-asc"><a class="fn-rank" data-rank="0000000000020">&{'goods.beginOnSaleAt'}</a>
    </th>#{/if}
#{elseif desc.equals("0000000000020")}
    <th width="80px" class="rank rank-desc"><a class="fn-rank" data-rank="0000000000010">&{'goods.beginOnSaleAt'}</a>
    </th>#{/elseif}
#{else}
    <th width="80px" class="rank"><a class="fn-rank" data-rank="0000000000020">&{'goods.beginOnSaleAt'}</a>
    </th>#{/else}

#{if desc.equals("0000000000001") }
    <th width="80px" class="rank rank-asc"><a class="fn-rank" data-rank="0000000000002">&{'goods.endOnSaleAt'}</a>
    </th>#{/if}
#{elseif desc.equals("0000000000002")}
    <th width="80px" class="rank rank-desc"><a class="fn-rank" data-rank="0000000000001">&{'goods.endOnSaleAt'}</a>
    </th>#{/elseif}
#{else}
    <th width="80px" class="rank"><a class="fn-rank" data-rank="0000000000002">&{'goods.endOnSaleAt'}</a>
    </th>#{/else}

#{if desc.equals("0000000010000") }
    <th width="80px" class="rank rank-asc"><a class="fn-rank"
                                              data-rank="0000000020000">&{'goods.expireAt'}</a></th>#{/if}
#{elseif desc.equals("0000000020000")}
    <th width="80px" class="rank rank-desc"><a class="fn-rank"
                                               data-rank="0000000010000">&{'goods.expireAt'}</a>
    </th>#{/elseif}
#{else}
    <th width="80px" class="rank"><a class="fn-rank" data-rank="0000000020000">&{'goods.expireAt'}</a>
    </th>#{/else}

#{if desc.equals("0000000001000") }
    <th width="80px" class="rank rank-asc"><a class="fn-rank" data-rank="0000000002000">&{'goods.updatedAt'}</a>
    </th>#{/if}
#{elseif desc.equals("0000000002000")}
    <th width="80px" class="rank rank-desc"><a class="fn-rank" data-rank="0000000001000">&{'goods.updatedAt'}</a>
    </th>#{/elseif}
#{else}
    <th width="80px" class="rank"><a class="fn-rank" data-rank="0000000002000">&{'goods.updatedAt'}</a>
    </th>#{/else}

#{if desc.equals("0000000000100") }
    <th width="50px" class="rank rank-asc"><a class="fn-rank"
                                              data-rank="0000000000200">&{'goods.materialType'}</a></th>#{/if}
#{elseif desc.equals("0000000000200")}
    <th width="50px" class="rank rank-desc"><a class="fn-rank"
                                               data-rank="0000000000100">&{'goods.materialType'}</a>
    </th>#{/elseif}
#{else}
    <th width="50px" class="rank"><a class="fn-rank" data-rank="0000000000200">&{'goods.materialType'}</a>
    </th>#{/else}

    <th width="80px">&{'goods.status'}</th>
    <th width="80px">编码</th>
    <th width="100px">操 作</th>
</tr>
</thead>

<tbody>

#{paginate.list items:goodsPage, as:'goods'}
<tr class="#{if goods.isExpired() || goods.getRealStocks() == 0}tr-offsale#{/if} transparent">
    <td style="text-align:center"><input type="checkbox" id="checkoption" value="${goods.id}" name="id"/></td>
    <td>${goods?.getSupplier()?.otherName}</td>
    <td>${goods?.no}</td>
    <td>
        <table>
            <tbody>
            <tr>
                <td>
                    <a href="http://${play.Play.configuration.getProperty("www.url")}/p/${goods.id}?preview=true"><img
                            src="${goods?.imageTinyPath}"/></a></td>
                <td>
                    <a href="http://${play.Play.configuration.getProperty("www.url")}/p/${goods.id}?preview=true">${goods?.shortName}
                    </a>
                    #{if goods.priority != null && goods.priority >0}
                        &nbsp;<span style="color: #ff0000;">&{'goods.priority'}:${goods.priority}</span>#{/if}
                    #{if goods.keywords != null}
                        <br/>SEO关键字: ${goods.keywords}
                    #{/if}
                </td>
            </tr>
            </tbody>
        </table>
    </td>
    <td class="amount">${goods?.faceValue?.formatCurrency('CNY')}</td>
    <td class="amount">${goods?.originalPrice?.formatCurrency('CNY')}</td>
    <td class="amount">${goods?.salePrice?.formatCurrency('CNY')}</td>
    <td class="amount">${goods?.cumulativeStocks}</td>
    <td class="amount">${goods?.virtualBaseSaleCount}</td>

    #{if goods?.beginOnSaleAt?.compareTo(new java.util.Date())<0 && goods?.status == models.sales.GoodsStatus.APPLY}
        <td style="color:red;">${goods?.beginOnSaleAt?.format('yyyy-MM-dd HH:mm:ss')}</td>
    #{/if}
    #{else}
        <td>${goods?.beginOnSaleAt?.format('yyyy-MM-dd HH:mm:ss')}</td>
    #{/else}

    #{if goods?.endOnSaleAt?.compareTo(new java.util.Date())<0 && goods?.status == models.sales.GoodsStatus.APPLY}
        <td style="color:red;">${goods?.endOnSaleAt?.format('yyyy-MM-dd HH:mm:ss')}</td>
    #{/if}
    #{else}
        <td>${goods?.endOnSaleAt?.format('yyyy-MM-dd HH:mm:ss')}</td>
    #{/else}

    <td>${goods?.expireAt?.format('yyyy-MM-dd HH:mm:ss')}</td>
    <td>${goods?.updatedAt?.format('yyyy-MM-dd HH:mm:ss')}</td>
    <td>&{'goods.'+goods?.materialType}</td>
    <td> #{if goods.isExpired()}<span class="expired">已过期</span><br/>#{/if}
        #{if goods?.getRealStocks() == 0}<span class="zeroBaseSale">零库存</span><br/>#{/if}
    &{'goods.'+goods?.getStatus()}
        #{if  hasApproveGoodsPermission == true }
            #{if models.sales.GoodsStatus.APPLY.equals(goods.status)}
                #{if goods?.endOnSaleAt.compareTo(new java.util.Date())>0 && !goods?.getRealStocks() == 0 }
                    <br/>#{vx.operateLink text:"同意上架", url:"/goods/"+goods?.id+"/onSale?page="+(goodsPage.pageNumber?:1)+"&"+queryString,method:"PUT"/}
                #{/if}
                <br/>#{vx.operateLink text:"拒绝上架", url:"/goods/"+goods?.id+"/reject?page="+(goodsPage.pageNumber?:1)+"&"+queryString,method:"PUT"/}
            #{/if}
            #{if models.sales.GoodsStatus.ONSALE.equals(goods.status) || goods?.getRealStocks() == 0}
            %{url="/goods/"+goods.id+"/offSale?page="+(goodsPage.pageNumber?:1) + "&"+queryString}%
                <br/>#{vx.operateLink text:"强制下架", url:url,method:"PUT"/}#{/if}
            #{if models.sales.GoodsStatus.REJECT.equals(goods.status) && !goods.isExpired()}
                <br/>#{vx.operateLink text:"同意上架", url:"/goods/"+goods?.id+"/onSale?page="+(goodsPage.pageNumber?:1)+"&"+queryString,method:"PUT"/}
            #{/if}
            #{if models.sales.GoodsStatus.OFFSALE.equals(goods.status) && !goods.isExpired() && !goods?.getRealStocks() == 0}
                <br/>#{vx.operateLink text:"同意上架", url:"/goods/"+goods?.id+"/onSale?page="+(goodsPage.pageNumber?:1)+"&"+queryString,method:"PUT"/}
            #{/if}
            #{if models.sales.GoodsStatus.OFFSALE.equals(goods.status) && !goods.isExpired() && goods?.getRealStocks() != 0}
                <br/>#{vx.operateLink text:"同意上架", url:"/goods/"+goods?.id+"/onSale?page="+(goodsPage.pageNumber?:1)+"&"+queryString,method:"PUT"/}
            #{/if}
            #{if models.sales.GoodsStatus.APPLY.equals(goods.status) && !goods.isExpired() && goods?.getRealStocks() != 0 && goods?.endOnSaleAt.compareTo(new java.util.Date())>0 }
                <br/>#{vx.operateLink text:"同意上架", url:"/goods/"+goods?.id+"/onSale?page="+(goodsPage.pageNumber?:1)+"&"+queryString,method:"PUT"/}
            #{/if}

        #{/if}
    </td>
    <td>${goods?.code}</td>
    <td>
        <a href="@{OperateGoods.show(goods.id)}">查看</a>
        /<a href="/goods/${goods.id}/edit2?page=${goodsPage.pageNumber?:'1'}&${queryString}">修改</a>
        #{if !models.sales.GoodsStatus.ONSALE.equals(goods.status) && !models.sales.GoodsStatus.APPLY
        .equals(goods.status)}
            / #{vx.deleteLink action:"goods", id:goods.id, name:goods.shortName/}
        #{/if}
        #{if models.sales.GoodsStatus.ONSALE.equals(goods.status) }
            /<a href="#" id="linkSend_${goods.id}"
                onclick="prepareSend('${goods.id}','${goods.priority}','${goods.keywords}')
                        ">网站选项</a>

        #{/if}/<a href="@{OperateGoods.copy(goods.id)}">复制</a>/<a
            href="@{OperateGoods.channel(goods.id)}" target="_blank">渠道跟进</a>
        /

        <a href="@{OperateGoods.showHistory(goods.id)}" target="_blank">查看历史记录</a>
</tr>
#{/paginate.list}
</tbody>
</table>
</form>
<div class="pagination" align="center">
    <ul>
    #{paginate.controls items:goodsPage /}
    </ul>
</div>
</div>

<div class="modal" id="sendModal" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>

        <h3>设置网站选项</h3>
    </div>
    <div class="modal-body">
    #{form @OperateOrders.index(), id:"setForm", name:"setForm",class:"form-horizontal",method:"PUT"}
    #{layout_operate.textField name:'goods.priority',value:'',required:true/}
    #{layout_operate.textField name:'goods.keywords', value:'' /}
    #{/form}
    </div>
    <div class="modal-footer">
        <a href="#" id="sure" class="btn btn-primary">确定</a>
        <a href="#" class="btn" data-dismiss="modal">取消</a>
    </div>
</div>

<script type="text/javascript">
    function prepareSend(id, priority, keywords) {
        $("#setForm").attr("action", "/goods/" + id + "/priority?x-http-method-override=PUT");
        $('#sendModal').modal('show');
        $("#goods_priority").val(priority);
        $("#goods_keywords").val(keywords);
    }

    $(function () {
        $("#sure").click(function () {
            var result = true;
            if ($("#goods_priority").val().trim() == "") {
                $("#note_goods_priority").html("<span style='display: block;color: #ff0000;'>请输入精选指数!</span>");
                $("#note_goods_priority").focus();
                result = false;
            }

            if (isNaN($("#goods_priority").val().trim())) {
                $("#note_goods_priority").html("<span style='display: block;color: #ff0000;'>精选指数无效!</span>");
                $("#note_goods_priority").focus();
                result = false;
            }
            if (result) {
                $("#setForm").submit();
            }
        });

        $("#priority").click(function () {
            if (this.checked) {
                this.value = "1";
            } else {
                this.value = "0";
            }
            $("#frmlist").submit();
        });

        $("#isLottery").click(function () {
            if (this.checked) {
                this.value = true;
            } else {
                this.value = false;
            }
            $("#frmlist").submit();
        });

        $('.fn-rank').click(function (ev) {
            ev.preventDefault();
            var rankStr = $(this).attr('data-rank');
            $('#J_rank').val(rankStr);
            $('#frmlist').submit();
        });
    });
</script>
