#{extends 'layout_operate/layout.html' /}
#{set title:'消费券一览' /}
#{include '/share/nav.html' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/goods.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}

<div class="body">
    <legend>消费券一览</legend>
    <form class="form-horizontal" name="frmlist" action="@{OperateGoods.index()}" method="GET">
        <table width="100%">
            <tr>
                <td width="30%">商&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户：
                #{select 'condition.supplierId', id:supplierId, class:'input-small', value:condition?.supplierId}
                    #{option "0"}不限#{/option}
                    #{list items:supplierList, as:'supplier'}
                        #{option supplier?.id}${supplier?.fullName}#{/option}
                    #{/list}
                #{/select}</td>
                <td width="30%">商品名称：<input type="text" name="condition.name" class="input-medium"
                                            value="${condition?.name}"/></td>
                <td width="30%">商品编号：<input type="text" name="condition.no" class="input-medium"
                                            value="${condition?.no}"/></td>
                <td></td>
            </tr>
            <tr>
                <td>现&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价：<input type="text" name="condition.salePriceBegin"
                                                                  class="input-medium"
                                                                  value="${condition?.salePriceBegin}"/>
                    至 <input type="text" name="condition.salePriceEnd" class="input-medium"
                             value="${condition?.salePriceEnd}"/>
                </td>
                <td>销&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量：<input type="text" name="condition.saleCountBegin"
                                                                  class="input-medium"
                                                                  value="#{if condition?.saleCountBegin >=0}${condition?.saleCountBegin}#{/if}"/>
                    至 <input type="text" name="condition.saleCountEnd" class="input-medium"
                             value="#{if condition?.saleCountEnd >=0}${condition?.saleCountEnd}#{/if}"/>
                </td>
                <td width="30%">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态：
                #{select 'condition.status', id:ca, class:'input-small', value:condition?.status}
                    #{option ""}不限#{/option}
                    #{option "ONSALE"}&{'goods.ONSALE'}#{/option}
                    #{option "OFFSALE"}&{'goods.OFFSALE'}#{/option}
                    #{option "APPLY"}&{'goods.APPLY'}#{/option}
                    #{option "REJECT"}&{'goods.REJECT'}#{/option}
                #{/select}</td>
                <td>
                    <button class="btn btn-primary" id="searchbtn" type="submit">搜索</button>
                </td>
            </tr>
        </table>
    </form>
    <form class="form-horizontal" name="deletefrm" id="deletefrm" action="" method="post">
        <input type="hidden" id="status" name="status" value="0"/>

        <div style="margin-bottom: 12px">
            <button class="btn btn-primary" id="onsales" type="button">上架</button>
            <button class="btn btn-primary" id="offsales" type="button">下架</button>
            <button class="btn btn-primary" id="deletebtn" type="button">删除</button>
        </div>


        <table class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th><input type="checkbox" id="selectall" name="selectall">全选</th>
                <th>商户</th>
                <th>商品编号</th>
                <th>商品名称</th>
                <th>原价</th>
                <th>进价</th>
                <th>现价</th>
            #{list items:models.resale.ResalerLevel.values(), as: 'level'}
                <th>&{'goods.levelPrice.'+level}</th>
            #{/list}
                <th>库存(件)</th>
                <th>销量(件)</th>
                <th>创建时间</th>
                <th>状态</th>
                <th>操 作</th>
            </tr>
            </thead>

            <tbody>

            #{paginate.list items:goodsPage, as:'goods'}
            <tr>
                <td><input type="checkbox" id="checkoption" value="${goods.id}" name="ids[]"/></td>
                <td>${goods.getSupplier()?.fullName}</td>
                <td>${goods.no}</td>
                <td><a href="http://www.uhuila.cn/goods/${goods.id}?preview=true"><img src="${goods
                .imageTinyPath}"/>${goods
                .name}</a></td>
                <td class="amount">${goods.faceValue?.formatCurrency('CNY').raw()}</td>
                <td class="amount">${goods.originalPrice?.formatCurrency('CNY').raw()}</td>
                <td class="amount">${goods.salePrice?.formatCurrency('CNY').raw()}</td>
                #{list items:goods.getLevelPrices(), as: 'level'}
                    <td class="amount">${level.price?.formatCurrency('CNY').raw()?:0}</td>
                #{/list}
                <td class="amount">${goods.baseSale}</td>
                <td class="amount">${goods.saleCount}</td>
                <td>${goods.createdAt.format('yyyy-MM-dd HH:mm:ss')}</td>
                <td>&{'goods.'+goods.status}
                    #{if models.sales.GoodsStatus.APPLY.equals(goods.status)}
                        <br/>#{vx.operateLink text:"同意上架", url:"/goods/"+goods.id+"/onSale",
                    method:PUT/}
                        <br/>#{vx.operateLink text:"拒绝上架", url:"/goods/"+goods.id+"/reject",
                    method:"PUT"/}#{/if}
                    #{if models.sales.GoodsStatus.ONSALE.equals(goods.status)}
                        <br/>#{vx.operateLink text:"强制下架", url:"/goods/"+goods.id+"/reject",
                    method:"PUT"/}#{/if}
                        *{<br/><a href="@{OperateGoods.reject(goods.id)}">强制下架</a>#{/if}}*
                    #{if models.sales.GoodsStatus.REJECT.equals(goods.status)}
                        <br/>#{vx.operateLink text:"同意上架", url:"/goods/"+goods.id+"/onSale",
                    method:"PUT"/}#{/if}
                        *{<br/><a href="@{OperateGoods.onSale(goods.id)}">同意上架</a>#{/if}}*
                </td>
                <td><a href="@{OperateGoods.edit(goods.id)}">修改</a> /
                    <a href="@{OperateGoods.detail(goods.id)}">查看</a></td>
            </tr>
            #{/paginate.list}
            </tbody>
        </table>
    </form>
    <div class="pagination" align="center">
        <ul>
        #{paginate.controls items:goodsPage /}
        </ul>
    </div>
</div>