#{extends 'layout_operate/layout.html' /}
#{set title:'查看商品' /}
#{include '/share/nav.html' /}
<style type="text/css">
    .controls {
        padding-top: 5px;
    }
</style>
<div class="body">
    <form class="form-horizontal" name="frm" id="frm" method="post">
        <legend>${title}</legend>
        <div class="control-group">
            <label class="control-label">&{'goods.materialType'}</label>

            <div class="controls">&{'goods.'+goods?.materialType}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">&{'goods.publishedPlatforms'}</label>

            <div class="controls">#{list items:goods?.publishedPlatforms,as:'publishedPlatform'}&{'goods.'+
                publishedPlatform} #{/list}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">&{'goods.category'}</label>

            <div class="controls">${goods?.categories?.name}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">&{'goods.brand'}</label>

            <div class="controls">${goods?.brand?.name}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">&{'goods.supplierGoodsId'}</label>

            <div class="controls">${goods?.supplierGoodsId}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">&{'goods.name'}</label>

            <div class="controls">${goods?.name}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">&{'goods.title'}</label>

            <div class="controls">${goods?.title}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">&{'goods.effective'}</label>

            <div class="controls">${goods?.effectiveAt?.format('yyyy-MM-dd HH:mm:ss')}
                至 ${goods?.expireAt?.format('yyyy-MM-dd HH:mm:ss')}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">&{'goods.onSale'}</label>

            <div class="controls">${goods?.beginOnSaleAt?.format('yyyy-MM-dd HH:mm:ss')}
                至 ${goods?.endOnSaleAt?.format('yyyy-MM-dd HH:mm:ss')}
            </div>

        </div>

        <div class="control-group">
            <label class="control-label">&{'goods.faceValue'}</label>

            <div class="controls">${goods?.faceValue?.formatCurrency('CNY')}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">&{'goods.originalPrice'}</label>

            <div class="controls">${goods?.originalPrice?.formatCurrency('CNY')}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">&{'goods.salePrice'}</label>

            <div class="controls">${goods?.salePrice?.formatCurrency('CNY')}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">&{'goods.resaleAddPrice'}</label>

            <div class="controls">${goods?.resaleAddPrice?.formatCurrency('CNY')}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">&{'goods.baseSale'}</label>

            <div class="controls">${goods?.cumulativeStocks}件
            </div>
        </div>
    #{if goods?.useBeginTime != "" && goods?.useBeginTime != null}
        <div class="control-group">
            <label class="control-label">使用时间</label>

            <div class="controls">${goods?.useBeginTime}
                至 ${goods?.useEndTime}
            </div>
        </div>
    #{/if}
        <div class="control-group">
            <label class="control-label">&{'goods.imagePath'}</label>

            <div class="controls">
                <img src="${goods?.imageLargePath}"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">&{'goods.prompt'}</label>

            <div class="controls">${goods?.prompt?.raw()}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">&{'goods.details'}</label>

            <div class="controls">${goods?.details?.raw()}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">&{'goods.shops'}</label>

            <div class="controls">
                <table class="table table-striped table-bordered table-condensed">
                ${goods?.isAllShop.yesno("全部门店","")}
                #{if goods.isAllShop==true}
                    #{list items:shopList, as:'shop' }
                        <tr>
                            <td width="50px">${shop?.name}</td>
                            <td width="150px">地址：${shop?.address} <br> 电话：${shop?.phone}</td>
                            <td width="100px">交通：${shop?.transport}</td>
                        </tr>
                    #{/list}
                #{/if}
                #{list items:goods?.shops, as:'shop' }
                    <tr>
                        <td width="50px">${shop?.name}</td>
                        <td width="150px">地址：${shop?.address} <br> 电话：${shop?.phone}</td>
                        <td width="100px">交通：${shop?.transport}</td>
                    </tr>
                #{/list}
                </table>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">&{'goods.status'}</label>

            <div class="controls">&{'goods.'+goods.status}
            </div>
        </div>

        <div class="form-actions">
        #{if  hasApproveGoodsPermission == true }
            #{if models.sales.GoodsStatus.APPLY.equals(goods.status)}
                #{vx.operateButton text:"同意上架",form:'frm',url:"/goods/"+goods.id+"/onSale",method:"PUT",
                class:"btn btn-primary" /}
                #{vx.operateButton text:"拒绝上架",form:'frm',url:"/goods/"+goods.id+"/reject",method:"PUT",
                class:"btn btn-primary" /}#{/if}
            #{if models.sales.GoodsStatus.ONSALE.equals(goods.status)}
                #{vx.operateLink text:"强制下架",form:'frm',url:"/goods/"+goods.id+"/offSale",method:"PUT",
                class:"btn btn-primary" /}#{/if}
            #{if models.sales.GoodsStatus.REJECT.equals(goods.status)}
                #{vx.operateButton text:"同意上架",form:'frm',url:"/goods/"+goods.id+"/onSale",method:"PUT",
                class:"btn btn-primary" /}#{/if}
            #{if models.sales.GoodsStatus.OFFSALE.equals(goods.status)}
                #{vx.operateButton text:"同意上架",form:'frm',url:"/goods/"+goods.id+"/onSale",method:"PUT",
                class:"btn btn-primary" /}#{/if}
        #{/if}
            #{vx.cancelButton url:'/goods', class:'btn btn-primary'/}
        </div>

    </form>
</div>
