*{TAB}*
*{enumItems:   标签页的各项，推荐传入枚举类的.values()}*
*{select:      状态选择框控件的id}*
*{value:       当前的状态值}*
*{form:        提交的form的,默认为frmlist}*
*{name:        状态对应的对象的名字,用于定位message中的文字,默认为status}*
<ul class="nav nav-tabs">
    <li #{if _value == null || "".equals(_value)}class="active"#{/if}>
        <a href="#" data-toggle="tab" onclick="$('#${_select}').val('');$('#${_form?:'frmlist'}').submit();">全部</a></li>
#{list items:_enumItems, as:'item'}
    <li #{if item.equals(_value)}class="active"#{/if}>
        <a href="#" data-toggle="tab" onclick="$('#${_select}').val('${item}');$('#${_form?:'frmlist'}').submit();
                ">&{(_name?:'status')+'.'+item}</a></li>
#{/list}
</ul>
