@charset "utf-8";
/* CSS Document */
body{ font-size:12px;}
*{ margin:0; padding:0px}
img{ border:0px}
a{ color:#000000; text-decoration:none;}
/*总包含框*/
#wrap_main{ width:1000px; height:auto; margin:0 auto;}
#wrap_top_top{ background:url(../images/top_header_bg.jpg) repeat-x; height:31px; line-height:23px;position:relative }
.top_zc{ float:right}
.top_zc li{ float:left}
.top_margin_left{width:1000px; margin:0 auto}
.re_top_top{position:absolute; right:5px; line-height:23px; top:0px;}
/*tab*/ 
.tab_header{ margin-top:65px;}
.tab_header li{ float:left; width:74px; height:24px; overflow:hidden; text-align:center; line-height:25px; margin-right:1px}
.tab_hover{ display:block; width:74px; height:24px; background:url(/public/images/tab_bghover.jpg) no-repeat; line-height:27px; float:left; color:#FFFFFF; font-weight:700;}
.tab_nohover{display:block; width:74px; height:24px; background:url(/public/images/tab_bg.jpg) no-repeat; line-height:27px; float:left}
#wrap_top_header_left{float:left; height: 89px}
#wrap_top_header_mid{ float:left; width:620px; height: 89px; overflow:hidden}
#wrap_top_right{float:right; height: 89px}
.gouwu_icon{position:relative; top:4px; left:8px;}
.zi_gray{ color:#333333;padding:0 5px;}
.top_margin_left span{ color:#666666; margin-left:5px;}
.top_margin_left span a{ color:#666666}

.font_gray{color:#777276; margin-left:5px;}
/*research*/
#research_box{width:340px; float:left; height:33px; background:#F4F4F4; position:relative; top:4px; left:6px; display:none}
#research_wrap{ background:url(../images/research_bg.jpg) repeat-x; height:41px; width:1000px; position:relative}
.left_input_seach{width:263px; height:25px; border:solid 1px #D1D1D1; position:relative; left:4px; top:-6px}
.tag_box{float:left; margin-left:13px; line-height:41px; color:#FFFFFF; width:770px;}
.seach_right{float:right; margin-top:7px; margin-right:6px; background:#FFFFFF; width:192px; height:26px; line-height:26px; border:solid 1px #EE4343}
.seach_right_sp{float:left;text-align:center;}
*html .left_input_seach{width:263px; height:25px; border:solid 1px #D1D1D1; position:relative; left:4px;top:-1px; line-height:25px;}
.left_input_seach2{width:63px; height:25px; position:relative; top:3px; left:2px;border:solid 1px #D1D1D1; }
*html .left_input_seach2{width:63px; height:25px; position:relative; top:3px; left:4px;border:solid 1px #D1D1D1; }
.tag_hot{ padding-left:7px; padding-right:7px; color:#FFFFFF}
.border_div{ border:solid 1px #D5D5D5}
.gouwu_font{float:left; padding-left:15px;}
.gouwu_jiesuan{ float:right; background:url(../images/jiesuan_sub.jpg) no-repeat; text-align:center; color:#FFFFFF; width:63px;border:solid 1px #CCCBCB; line-height:24px;}
#wrap_content{ width:1000px; margin:0 auto;margin-top:10px;}
.font_red{ color:#FF0000}
.font_white{ color:#FFFFFF}
.font_cheng{color:#B73A24}

#footer_nav{ width:1000px;margin:0 auto; height:44px; border-top:solid 1px #EAEAEA; border-bottom:solid 1px #EAEAEA; background:#F1F1F1; margin-top:10px; line-height:44px; text-align:center;color:#666666; }
##footer_nav a{ color:#666666}
#footer{ background:url(../images/footer_bg.jpg) repeat-x; width:1000px; height:96px; margin:0 auto; margin-top:8px; padding-top:8px; text-align:center; border-bottom:solid 1px #F1EFE2; line-height:23px; color:#777777}
#footer a{color:#777777;font-size: 13px;letter-spacing: 0.1em;}
.fenge_footer{ padding-left:7px; padding-right:7px; color:#666666;}
.strong_firend{color:#FF0000; font-weight:700}
#bottom_footer{width:1000px; margin:0 auto; text-align:center;}
/*shop_li_style*/
.pri_jiage{color:#FF6600; font-weight:700}
.strong_gray{color:#666666; font-weight:700}
.text_decorat{text-decoration:line-through}
.img_cp{ margin-bottom:8px;}

.show_h1{ color:#666666; font-weight:700; font-size:17px; text-align:center; margin-top:20px; margin-bottom:20px;}
.font_blue{ color:#02438F;}
.font_red_one{ color:#B73A24}
/*ie7 hack*/
*+html .left_input_seach{ position:relative; top:0px; line-height:25px;}


/*nav user_reg*/
/*.re_top_top{ float:right; width:600px;}*/
.re_top_top{ float:right; list-style:none}
.re_top_top li{ float:left}
.re_top_top_li{ float:left; margin-left:2px; margin-right:2px; color:#333333}
.top_car_icon{ float:left; width:20px; background:url(../images/top_car_icon.jpg) no-repeat; height:19px;}
.font_16_red{ font-size:16px; font-weight:bold; line-height:22px; float:right; color:#D03F27}

.top_ul_box{ float:right; height:22px;}
*html .top_ul_box{ width:600px;}
.re_top_top_ul{ list-style:none}
.user_reg_div_top{ float:right}
.wellcome{ float:left; margin-left:15px; color:#333333}

#wrap_top_header_left img{ position:relative; top:-13px; z-index:-999}
.font_size12{ font-size:12px; font-weight:normal}
.font_block{ color:#000000}

.no_xiuzhen{ font-weight:normal; color:#ACACAC; font-size:12px; margin-left:15px;}
*html .seach_area div{ margin-top:-25px;}
*+html .seach_area div{ margin-top:-25px;}
.font_size18{ font-size:22px;}
.both_clear{ clear: both}
.font_14px{ font-size:14px}
.wellcome a{ color:#333333}
/*找回密码样式结束*/

#fpwd_maincontainer {
    width:1000px;
    margin:0 auto;
    text-align:center;
    overflow:hidden;
    zoom:1;
}
.flow-steps {
    margin:40px auto 8px;
    padding:0;
    text-align:center;
    overflow:hidden;
    zoom:1;
}
.flow-steps li {
    float:left;
    font-size:12px;
    font-weight:bold;
    height:23px;
    line-height:23px;
    overflow:hidden;
    padding:0 15px 0 0;
    text-align:center;
}
.flow-steps li span, .flow-steps li strong {
    display:block;
}
.flow-steps li.last {
    color:#333333;
}
.flow-steps .num3 li {
    width:301px;
    height:23px;
}
.flow-steps2 {
    margin:40px auto 8px;
    padding:0;
    text-align:center;
    overflow:hidden;
    zoom:1;
    background:url(../images/uhl/flowstep2.gif) no-repeat;
}
.flow-steps2 li {
    float:left;
    font-size:12px;
    font-weight:bold;
    height:23px;
    line-height:23px;
    overflow:hidden;
    padding:0 15px 0 0;
    text-align:center;
}
.flow-steps2 li span, .flow-steps2 li strong {
    display:block;
}
.flow-steps2 li.current {
    color:#000;
}
.flow-steps2 li.last {
    color:#000;
}
.flow-steps2 .num3 li {
    width:301px;
    height:23px;
}
/* CSS Document step 样式*/
.step {
    width:630px;
    height:222px;
    background-color:#fdf8f7;
    border:1px #e08a78 solid;
}
.allstep {
    width:632px;
    margin:36px auto;
}
.allstep ul li {
    line-height:40px;
    height:40px;
}
.allstep .input {
    height:24px;
    line-height:24px;
    width:550px;
}
.allstep .input label {
    display:block;
    float:left;
    text-align:right;
    width:100px;
}
.fmeans {
    width:470px;
    height:217px;
    background:url(../images/uhl/slinebg.gif) no-repeat center;
    text-align:center;
    margin:0 auto;
}
.fmeans .fm {
    width:430px;
    height:160px;
    margin:0 auto;
    text-align:center;
}
.fmeans .fm .fmli {
    padding-top:48px;
}
.fm .fmul {
    float:left;
    overflow:hidden
}
.fmli li {
    height:42px;
    margin-bottom:10px;
    font-size:14px;
}
.field {
    height:18px;
    line-height:18px;
    text-align:left;
}
.ftext {
    height:18px;
    padding-top:20px;
}
.findbt140 {
    background:url(../images/uhl/bt.gif) 0 -138px no-repeat;
    border:0;
    height:25px;
    width:150px;
    line-height:25px;
    text-align:center;
    font-size:12px;
    color:#fff;
    font-weight:bold
}
.ftext {
    height:18px;
}
.w300 {
    width:300px;
}
.emailstep {
    padding-top:60px;
    padding-left:80px;
}
.phonesteps {
    padding-top:50px;
    padding-left:80px;
    text-align:center
}
.input .inputemail {
    padding-left:104px;
    text-align:left;
}
.input .nextstepbt {
    padding-left:160px;
    text-align:left;
    margin-top:20px;
}
.label130 {
    width:130px;
    float:left;
}
.fsqs {
    margin-top:36px;
}
.fsqs span a, .fsqs span a:visited {
    color:#0066ff;
    text-decoration:underline;
}
.input196 {
    border:1px solid #A7A6AA;
    font-size:12px;
    height:18px;
    margin:0 2px 0 4px;
    padding:2px;
    width:196px;
    float:left;
    vertical-align:middle;
}
.inputbg {
    background:url(../images/uhl/input.gif) no-repeat scroll 0 0 white;
}
/*修改手机密码找回*/
.redInfo b, .yellowInfo b, .allstep_yzm, .allstep_count {
    background:url(../images/uhl/fpwd.png) no-repeat;
}
.redInfo, .yellowInfo {
    border:1px solid #e08a78;
    background:#fdf8f7;
}
.redInfo b, .yellowInfo b {
    display:block;
    float:left;
    width:12px;
    height:18px;
    margin:0px 6px 0px 0px;
    background-position:-20px 0px;
}
.yellowInfo b {
    background-position:0px 0px;
}
.allstep_c {
    padding:15px 0px 20px 0px;
}
li.allstemp_c_1, li.allstemp_c_2 {
    text-align:left;
    padding-left:130px;
}
li.allstemp_c_3 {
    padding-left:207px;
}
span.allstep_info {
    float:left;
    display:inline;
}
.allstep_c input {
    float:none;
}
.allstep_c em {
    font-style:normal;
    float:left;
}
.allstep_c span {
    display:block;
    width:185px;
    height:18px;
    line-height:18px;
    padding:6px;
}
.allstep_tip {
    color:#b73a24;
}
.allstemp_c_1 label, .allstemp_c_1 input {
    float:left;
}
.allstemp_c_1 input {
    margin-top:5px;
}
.allstep_yzm {
    border:0px;
    width:88px;
    height:25px;
    margin:0px 0px 0px 5px;
    background-position:0px -85px;
}
.allstep_count {
    border:0px;
    width:48px;
    height:25px;
    margin:0px 0px 0px 5px;
    color:#c1bfbf;
    font-weight:bold;
    font-size:16px;
    background-position:-45px 0px;
}
.allstep_next {
    width:100px;
    height:24px;
    border:0px;
    font-weight:bold;
    background:url(../images/uhl/bg_nav.gif) no-repeat -320px -30px;
}
/*密码找回样式结束*/
.colorred{ color:#ba3c26;}

#fpwd_main {
    border-top:2px solid #b73a24;
    padding:20px 0px 60px 10px;
}
.redInfo, .yellowInfo {
    border:1px solid #e08a78;
    background:#fdf8f7;
}
.greyInfo {
    border:1px solid #ccc;
    background:#f6f6f6;
}
.redInfo b, .yellowInfo b, .greyInfo b {
    display:block;
    float:left;
    width:12px;
    height:18px;
    margin:0px 6px 0px 0px;
    background-position:-20px 0px;
}
.yellowInfo b {
    background-position:0px 0px;
}
.fpwd_1 {
    width:140px;
    height:55px;
    color:#b73a24;
    font-size:14px;
    font-weight:bold;
    line-height:55px;
}
.fpwd_1 b, .fpwd_1 span {
    float:left;
    display:block;
}
.fpwd_1 b {
    width:60px;
    height:55px;
    overflow:hidden;
    background-position:-0px -30px;
}
.fpwd_2 {
    width:455px;
    height:235px;
    padding:15px 85px;
    margin:0px auto;
    overflow:hidden;
}
.fpwd_3 {
    width:375px;
    height:55px;
    background:#fff;
    padding:10px 35px;
    overflow:hidden;
}
.fpwd_3 span{
    display:block;
    width:350px;
    float:left;
}
.fpwd_4 li {
    width:450px;
    height:auto;
    display:inline;
    float:left;
    line-height:24px;
    margin:12px 0px 0px 20px;
}
.fpwd_4 li, .fpwd_4 span, .fpwd_4 em, .fpwd_4 input, .fpwd_4 label{
    float:left;
}
.fpwd_4 .greyinput {
    width:200px;
}
.fpwd_4 span {
    color:#999;
    line-height:18px;
}
.fpwd_4 em {
    font-style:normal;
    color:#666;
    margin-left:5px;
}
li.fpwd_4_0 {
    width:280px;
    padding-left:130px;
}
.fpwd_4_1 {
    width:100px;
    height:24px;
    border:0px;
    color:#fff;
    font-weight:bold;
    background-position:-320px -30px;
}
.fpwd_5 {
    padding-left:100px;
}
