@charset "utf-8";
/* CSS Document */
table{border-collapse:collapse;}
#wrap_top_header_left{float:left}
#wrap_top_middle{float:left;line-height:89px; font-size:17px; color:#666666; font-weight:700}
.fen_g{width:1000px; overflow:hidden; height:2px; background:#D72828} /*hengxian red*/

#wrap_top_right{float:right; width:550px; height:30px; margin-top:43px; }

.seach_area{ float:left; width:103px; height:25px; border:solid 1px #D1D1D1; line-height:25px; padding-left:5px;color:#999999; margin-left:15px;}
.seach_area div{float:right; height:15px; padding-bottom:4px; line-height:25px;padding-top:4px; margin-right:5px;}

.seach_input{ border:solid 1px #D1D1D1; width:250px; height:25px; line-height:25px; padding-left:6px; color:#999999}
.seach_input_div{ margin-left:3px; float:left;}
.seach_subimt{ width:63px; height:25px; background:url(../images/subimt_bg.jpg) repeat-x; float:left; border:solid 1px #D1D1D1; margin-left:3px; line-height:25px;  text-align:center; color:#FFFFFF; font-weight:700 }

#content_zhuti{ width:1000px; margin:0 auto}
/*content*/
#show_pr_box{ width:1000px; height:auto}
#left_nav{ width:240px; height:auto; float:left; margin-right:10px;}
.left_top_one{ width:238px; height:224px; border:solid 1px #CECECE;}
.left_top_two{ width:238px; height:609px; border:solid 1px #CECECE; margin-top:11px;}

#right_content{ width:750px; float:left}
.right_content_show{ width:747px; height:306px;border:solid 1px #CECECE;}
.right_content_two{ width:747px; height:155px;border:solid 1px #CECECE;margin-top:9px;}
.right_content_three{ width:747px; height:154px;border:solid 1px #CECECE; margin-top:9px; height:auto; padding-bottom:15px;}
.right_content_four{ width:747px; height:265px;border:solid 1px #CECECE;margin-top:9px;}


/*more*/
.left_one_dl{}
.left_one_dl dt{ height:31px; line-height:30px; font-weight:700; color:#B13D29; border-bottom:solid 1px #CECECE}
.title_nav{ border-bottom:solid 1px #B13D29; position:relative; top:1px; float:left; padding-left:10px; padding-right:10px; color:#000000}

.shop_dd{ width:195px; margin:0 auto; margin-top:16px; padding-left:40px;}
.right_one_dl dt{ height:31px; line-height:30px; font-weight:700; color:#B13D29; border-bottom:solid 1px #CECECE}

.shangpin_box{ padding-left:34px; width:660px;}
.shangpin_box{}
.left_shangpin{ float:left}
.right_shangpin{ font-size:14px; color:#666666; margin-left:15px; float:left}
.right_shangpin_one{ text-decoration:line-through; margin-top:8px; margin-bottom:22px;}
.right_shangpin_two{ margin-bottom:22px;}

.right_shangpin_three{ font-weight:700; font-size:17px; color:#000000; margin-bottom:22px;}
.right_shangpin_four{ margin-bottom:22px;}

.num_input_bg{ background:url(../images/num_input_bg.jpg) repeat-x; height:21px; border:solid 1px #A8ACAD; width:66px; line-height:21px;}
.wai_juli{ margin-left:22px;}

.buttom_dibu{ margin-top:8px; padding-left:330px; color:#FF6600; font-weight:700; font-size:17px;}
.shoucang_font{ position:relative; top:0px; left:13px; font-size:12px; line-height:33px}

.tishi_ul{ color:#CCCCCC; float:left; width:690px; line-height:26px; margin-left:27px; margin-top:5px;}
.tishi_li{ float:left; width:330px;}
*html .tishi_ul{margin-left:10px;}
*+html .tishi_ul{ margin-left:10px;}
*html .tishi_li{ background:url(../images/ie_li_list.jpg) no-repeat top left; padding-left:10px;}
*+html .tishi_li{background:url(../images/ie_li_list.jpg) no-repeat top left; padding-left:10px;}
.tishi_a{ color:#666666}

.three_dd{ padding-left:38px;}
.three_dd p{ margin-top:12px; line-height:26px; color:#666666; padding-right:30px; text-align:justify}

.table_dd{ padding-left:30px; padding-top:15px;}
.table_td{color:#6E6E6E; font-weight:700; font-size:13px;}
.font_block{ color:#000000}
.ligm_bg{ background:url(../images/goumai_buttom.jpg) no-repeat; float:left; width:120px; height:33px; text-align:center; line-height:35px; color:#FFFFFF; font-weight:700; font-size:18px}
.wai_juli{ float:left; width:116px; height:33px; line-height:33px; color:#FFFFFF; font-weight:700; font-size:17px ;text-align:center; background:url(../images/jiarugouwu_car.jpg) no-repeat}