@charset "utf-8";
/* CSS Document */
#wrap_top_header_left{float:left}
#wrap_top_middle{float:left;line-height:89px; font-size:17px; color:#666666; font-weight:700}
.fen_g{width:1000px; overflow:hidden; height:2px; background:#D72828} /*hengxian red*/

.buzou_one{height:85px; width:950px; line-height:85px; padding-left:50px; font-size:14px;}
.buzou_one_2{width:23px; height:23px; background:#EFEFEF; line-height:23px; text-align:center; float:left; margin-top:31px; margin-bottom:31px; margin-right:10px; margin-left:10px; font-size:16px; font-weight:700}

.buzou_text_one{float:left; font-size:14px; font-weight:700;letter-spacing:0.2em}
.buzou_text_one span{padding-left:15px; padding-right:0px; font-weight:700px; color:#999999}

.buzou_text_two{width:23px; height:23px; background:#EFEFEF; line-height:23px; text-align:center; float:left; margin-top:31px; margin-bottom:31px; margin-right:10px; margin-left:10px; font-size:16px; font-weight:700; }
.buzou_text_four{width:27px; height:28px; background:#CF1F1F; color:#FFFFFF; line-height:28px; text-align:center; float:left; margin-top:28px; margin-bottom:31px; margin-right:10px; margin-left:10px; font-size:22px; font-weight:700}

.buzou_text_four_rig{float:left; color:#CF1F1F; font-size:18px; font-weight:700}
.dingdan_info{width:967px; height:auto; border:solid 1px #D3D3D3; line-height:22px; padding-left:31px;}
.success_dingdan{height:39px; line-height:39px; vertical-align:middle; margin-top:13px; background:url(../images/gou_icon2.jpg) no-repeat; padding-left:40px; font-size:21px;}
.chakan_info{padding-left:40px;line-height:32px; font-size:14px; letter-spacing:0.1em}
.chakan_info_one{margin-left:10px; background:url(../images/gou_icon.jpg) no-repeat left center;padding-left:21px; letter-spacing:0.1em}
.chakan_info_two{line-height:35px;margin-left:10px; background:url(../images/gou_icon.jpg) no-repeat left center; padding-left:21px; letter-spacing:0.1em}
.chakan_info_img{line-height:32px;margin-top:25px; margin-left:45px; margin-bottom:20px; padding-bottom:30px}
.margin_left15{ margin-left:15px;}
.succe_box{ width:696px; margin-left:40px; }
.text_info_box{ background:#FFFFFF; height:45px; border-top:dotted 1px #666666; margin-left:3px; margin-right:3px; color:#666666; padding-left:21px; padding-right:21px; padding-top:10px; padding-right:10px; padding-bottom:10px;}

.chakan_bg{ background:url(../images/show_dingdan1.jpg) no-repeat; width:121px; height:24px; float:left; color:#FFFFFF; text-align:center; font-weight:700;line-height:24px;letter-spacing:0.2em}
.jixu_bg{background:url(../images/show_dingdan2.jpg) no-repeat; width:121px; height:24px; float:left; color:#FFFFFF; text-align:center; font-weight:700; margin-left:15px; line-height:24px; letter-spacing:0.2em}