@charset "utf-8";
/* CSS Document */
table {
    border-collapse: collapse;
}

ul {
    list-style: none
}

#wrap_top_header_left {
    float: left
}

#wrap_top_middle {
    float: left;
    line-height: 89px;
    font-size: 17px;
    color: #666666;
    font-weight: 700
}

.fen_g {
    width: 1000px;
    overflow: hidden;
    height: 2px;
    background: #D72828
}

/*hengxian red*/

#wrap_top_right {
    float: right;
    width: 550px;
    height: 30px;
    margin-top: 43px;
}

.seach_area {
    float: left;
    width: 103px;
    height: 25px;
    border: solid 1px #D1D1D1;
    line-height: 25px;
    padding-left: 5px;
    color: #999999;
    margin-left: 15px;
}

.seach_area div {
    float: right;
    height: 15px;
    padding-bottom: 4px;
    line-height: 25px;
    padding-top: 4px;
    margin-right: 5px;
}

*html .seach_area div {
    margin-top: -25px;
}

/*Ie6 hack*/
.seach_input {
    border: solid 1px #D1D1D1;
    width: 250px;
    height: 25px;
    line-height: 25px;
    padding-left: 6px;
    color: #999999
}

.seach_input_div {
    margin-left: 3px;
    float: left;
}

.seach_subimt {
    width: 63px;
    height: 25px;
    background: url(../images/subimt_bg.jpg) repeat-x;
    float: left;
    border: solid 1px #D1D1D1;
    margin-left: 3px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700
}

.left_top_one {
    width: 238px;
    height: 224px;
    border: solid 1px #CECECE;
}

.left_top_two {
    width: 238px;
    height: 609px;
    border: solid 1px #CECECE;
    margin-top: 11px;
}

.div_step_title {
    height: 87px;
    width: 950px;
    line-height: 85px;
    padding-left: 50px;
    font-size: 14px;
}

.div_step_text_4 {
    width: 23px;
    height: 23px;
    background: #EFEFEF;
    line-height: 23px;
    text-align: center;
    float: left;
    margin-top: 31px;
    margin-bottom: 31px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 700;
    font-size: 16px
}

.div_step_text_1 {
    float: left;
    font-weight: 700;
    letter-spacing: 0.2em;
}

.div_step_text_1 span {
    padding-left: 15px;
    padding-right: 0px;
    font-weight: 700px;
    color: #999999
}

.div_step_3 {
    width: 23px;
    height: 23px;
    background: #EFEFEF;
    line-height: 23px;
    text-align: center;
    float: left;
    margin-top: 31px;
    margin-bottom: 31px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 700;
    font-size: 16px
}

.div_step_2 {
    width: 23px;
    height: 23px;
    background: #CF1F1F;
    color: #FFFFFF;
    line-height: 23px;
    text-align: center;
    float: left;
    margin-top: 31px;
    margin-bottom: 31px;
    margin-right: 10px;
    margin-left: 10px;
}

#gouwucar {
    margin: 0 auto;
    width: 996px;
    border: solid 1px #EEEEEE;
    height: 490px;
}

#gouwucar_buttom_info {
    margin: 0 auto;
    width: 996px;
    height: 30px;
    margin-top: 7px;
    line-height: 30px;
    margin-bottom: 30px
}

.bottom_info_one {
    float: left;
    width: 90px;
    padding-left: 11px
}

.bottom_info_one input {
    position: relative;
    top: 2px;
    margin-right: 5px
}

.bottom_info_two {
    float: left;
    width: 495px;
}

.bottom_info_three {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.bottom_info_four {
    float: right;
    margin-right: 30px
}

.font_red_one {
    font-weight: 700;
    color: #D24000
}

.col_one {
    float: left;
    margin: 5px 10px;
    padding-left: 30px;
}

.col_one input {
    position: relative;
    top: 5px;
}

.col_one_text {
    float: left;
    line-height: 22px;
    margin: 5px 10px;
    text-align: center;
    vertical-align: middle;
    width: 230px;
}

.th_one {
    float: left;
    font-weight: normal;
    padding-left: 7px;
}

.th_one_input {
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.num_input {
    float: left;
    width: 32px;
    height: 18px;
    border: solid 1px #BBC0C5;
    text-align: center;
    font-weight: 700
}

.add_box {
    display: block;
    width: 9px;
    height: 9px;
    text-align: center;
    float: left;
    color: #8D959B;
    font-size: 10px;
    vertical-align: middle;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.block_fense {
    background: #FBE8E4;
    height: 31px;
    width: 981px;
    line-height: 31px;
    font-weight: 700;
    padding-left: 15px;
}

.title_nav {
    border-bottom: 1px solid #B13D29;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    top: 1px;
}

#order_modify_info {
    width: 970px;
    height: 50px;
    margin: 0 auto;
    height: auto
}

.spance_nav {
    padding-left: 15px;
}

.left_one_dl dt {
    border-bottom: 1px solid #CECECE;
    color: #B13D29;
    height: 31px;
    line-height: 30px;
}

.left_one_dl dd {
    margin: 0 auto;
    width: 970px;
    margin-top: 15px;
}

.border_dd {
    border: solid 1px #E1E1E1
}

.shouji_text {
    font-size: 16px
}

.jianju {
    font-size: 12px;
    margin-left: 15px;
}

.border_bottom {
    width: 970px;
    height: 1px;
    border-bottom: solid 1px #8BA9CC;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

*html .border_bottom {
    overflow: hidden
}

/*IE6 hack*/
.sp_height {
    width: 960px;
    float: right;
    text-align: right;
    margin-right: 40px;
    margin-top: 30px;
    letter-spacing: 0.1em;
    font-size: 14px;
}

.sp_height_one {
    float: right;
    width: 900px;
    text-align: right;
    margin-right: 80px;
    margin-top: 17px;
    margin-bottom: 20px;
}

.num_input_bg {
    background: url("../images/num_input_bg.jpg") repeat-x scroll 0 0 transparent;
    border: 1px solid #A8ACAD;
    height: 21px;
    line-height: 21px;
    width: 163px;
}

.address_mod {
    margin-left: 17px;
    height: auto
}

.li_address_modify {
    border-bottom: dotted 1px #CCCCCC;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.li_address_modify input {
    position: relative;
    top: 2px
}

.span_name {
    margin-right: 15px;
    margin-left: 5px;
    font-weight: 700
}

.span_address {
    margin-left: 5px;
    margin-right: 25px;
    font-weight: 700
}

.span_tel {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 700
}

.chongxie {
    height: auto;
    border-bottom: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

*html .chongxie {
    height: auto;
    border-bottom: none;
    margin-top: px;
}

.right_table {
    float: right
}

/*.right_table{ position:relative; left:25px; top:-15px;}*/
*html .right_table {
    margin-top: -15px;
}

/*IE6 hack*/
.input_height {
    height: 22px;
    border: solid 1px #939496;
    line-height: 22px;
    width: 110px;
    color: #A6A6A6
}

.input_adress {
    width: 300px;
}

.area_input {
    width: 62px;
}

.area_select {
    width: 130px;
    height: 22px;
    border: solid 1px #939496;
    color: #341527;
    line-height: 22px;
}

.area_select2 {
    width: 74px;
    height: 22px;
    border: solid 1px #939496;
    color: #341527;
    line-height: 22px;
}

.font_yanse {
    color: #A6A6A6
}

.right_table {
    width: 920px;
}

.left_one_dl_dd {
    height: 290px;
    margin-bottom: 55px
}

*html .left_one_dl_dd {
    height: 268px;
}

*+html .left_one_dl_dd {
    height: 268px
}

*+html .left_one_dl_dd {
    height: 288px;
}

    }

.margin_left {
    margin-left: 9px;
}

.mod_span_d {
    margin-left: 25px;
    margin-right: 25px;
    color: #666666
}

.mod_span_d2 {
    margin-left: 5px;
    margin-right: 5px;
    color: #02438F
}

/*gouwu _4_buzou style*/
.div_step_2 {
    width: 27px;
    height: 28px;
    background: #CF1F1F;
    color: #FFFFFF;
    line-height: 28px;
    text-align: center;
    float: left;
    margin-top: 28px;
    margin-bottom: 28px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 22px;
    font-weight: 700
}

.div_step_text_2 {
    float: left;
    color: #CF1F1F;
    font-size: 18px;
    font-weight: 700
}

.font_blue5 {
    margin-left: 3px;
    color: #02438F;
    margin-left: 13px;
    position: relative;
    top: 2px;
}

.input_select {
    height: 22px;
    line-height: 22px
}

#wrap_content .div_address_modify {
    height: 370px;
}

.buy_now {
    text-align: center;
    float: right;
    background: url(../images/queren_bottom_j.jpg) no-repeat;
    font-weight: 700;
    width: 139px;
    height: 33px;
    line-height: 33px;
    color: #FFFFFF;
    font-size: 16px
}

.que_pay_bg {
    background: url(../images/queren_bottom_j.jpg) no-repeat;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.2em;
    width: 139px;
    height: 33px;
    float: right;
    font-size: 14px;
}

.queren_bg {
    background: url(../images/shouhuo_info_buttom.jpg) no-repeat;
    color: #666666;
    text-align: center;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.2em;
    width: 119px;
    height: 28px;
    float: left;
    font-size: 13px;
}

.address_confirm_button {
    background: url(../images/shouhuo_info_buttom.jpg) no-repeat;
    color: #666666;
    text-align: center;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.2em;
    width: 119px;
    height: 28px;
    float: left;
    font-size: 13px;
}

.address_cancel_button {
    background: url(../images/shouhuo_info_buttom.jpg) no-repeat;
    color: #666666;
    text-align: center;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.2em;
    width: 119px;
    height: 28px;
    float: left;
    font-size: 13px;
}