#{form @WebSinaVoucherOrders.create(),id:'order_form'}
<div class="wrapper" xmlns="http://www.w3.org/1999/html">
    <div class="coupon_main clear_wrap">
        <div class="coupon_left">
            <div class="cou_bg det_mes">
                <h1>${goods.shortName}</h1>

                <div class="cMesage clear_wrap">
                    <div class="mes_left">
                        现价：<b class="font_14">¥</b><em
                            class="font_14">${goods.getResalePrice()}元</em>
                        数量：<input type="text" id="buyCount" name="buyCount" value="${buyCount}">
                    </div>
                    #{if user.mobile}
                        你的手机号：
                        <input type="text" name="phone" value="${user.mobile}">
                    #{/if}
                    <input type="hidden" name="productId" value="${productId}">
                    <input type="hidden" name="goodsId" value="${goods.id}">
                </div>
            </div>

            <a href="#" id="next" class="nowBuy">下一步</a></br></br>
        </div>
    </div>
</div>
#{/form}
#{asset.js src:['/u/jquery-1.7.2.min.js','/base/121031/base.js'] /}
<script>
    $(function () {
        $("#next").click(function () {
            $("#order_form").submit();
        })

    })
</script>
