#{extends 'wap.html' /}
#{set title:'一百券 - 下单' /}
<div id="wrap">
    <div id="main-header">
        <h1>下单</h1>
    </div>
    <div id="main-back-button">
        <div class="left-triangle"></div>
        <div class="nav-button left"> 返回</div>
    </div>
#{form @WebSinaVoucherOrders.create(),id:'order'}
    <div class="message message-success pre-help">
        <p>${goods.name}</p>
    </div>
    <div class="content-title">
        <legend>
            <fleft>单价：</fleft>
            <fright>￥${goods.getResalePrice()}</fright>
            <div class="clear"></div>
        </legend>
        <legend>
            <fleft>数量：</fleft>
            <fright>
                <span class="tip">(每人限购一张)</span>
                <input type="text" value="${buyCount?:'1'}" name="buyCount" size="2">
            </fright>
            <div class="clear"></div>
        </legend>
        <legend>
            <fleft>手机号：</fleft>
            <fright>
                <span class="tip">(用于接收券号)</span>
                <input type="text" value="${user.mobile}" name="phone" size="11">
            </fright>
            <div class="clear"></div>
        </legend>
    </div>
    <div class="main-content">
        <div class="button main-button"><a href="#" id="pay-order">使用微币支付</a></div>
    </div>
    <input type="hidden" name="goodsId" value="${goods.id}">
    <input type="hidden" name="productId" value="${productId}">
#{/form}
</div>

#{set 'moreScripts'}
<script>
    $(function () {
        $("#pay-order").click(function () {
            $("#order").submit();
            return false;
        })
    })
</script>
#{/set}
