#{extends 'layout_operate/layout.html' /}
#{set title:'提现申请详情' /}
#{include '/share/nav.html' /}
#{set 'moreStyles'}
<style type="text/css">
    .control-label {
        font-weight: bold;
    }

    .control-value {
        line-height: 28px;
        margin-left: 180px;
    }

    .form-horizontal .control-group {
        margin-bottom: 4px;
    }
</style>
#{/set}

<div class="row-fluid">
    <legend>提现申请明细</legend>
    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label">申请时间</label>
            <label class="controls control-value">${bill?.appliedAt.format('yyyy-MM-dd HH:mm:ss')}</label>
        </div>
        <div class="control-group">
            <label class="control-label">账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户</label>
            <label class="controls control-value">&{'account.type.' + bill.account.accountType}#{if org.apache.commons.lang.StringUtils.isNotBlank(bill.accountName)}
                (${bill.accountName})#{/if}
            #{if bill?.account?.accountType ==  models.accounts.AccountType.SUPPLIER && contract?.id!=null}
                <a href="/supplier_contract/${contract?.id}/view" target="_blank">查看合同</a>
            #{/if}
            </label>
        </div>
        <div class="control-group">
            <label class="control-label">申 请 者</label>
            <label class="controls control-value">${bill?.applier}
                &nbsp;&nbsp; (&nbsp;uid:${uid}&nbsp;) &nbsp;&nbsp;
            #{if  bill.account.accountType==models.accounts.AccountType.CONSUMER }
                <a href="/coupons?condition.searchKey=UID&condition.searchItems=${uid}&condition.status=RETURN"
                   target="_blank">查看相关券</a>
                &nbsp;<a
                    href="/reports/consumer?condition.accountName=${bill.accountName}&condition.tradeType=RETURN&condition.accountUid=${uid}"
                    target="_blank">账户资金明细</a>
            #{/if}
            #{if  bill.account.accountType==models.accounts.AccountType.SUPPLIER }
                <a href="/reports/supplier?supplierName=${supplierName}&supplierId=${supplierId}&condition.accountUid=${uid}&condition.tradeType=PURCHASE_COSTING"
                   target="_blank">账户资金明细</a>
            #{/if}
            #{if bill.account.accountType==models.accounts.AccountType.SHOP}
                <a href="/reports/supplier?supplierName=${supplierName}&supplierId=${supplierId}&shopId=${uid}" target="_blank">账户资金明细</a>
            #{/if}
            </label>
        </div>
        <div class="control-group">
            <label class="control-label">申请金额</label>
            <label class="controls control-value">${bill?.amount.formatCurrency('CNY')}</label>
        </div>
        <div class="control-group">
            <label class="control-label">已通过提现金额 </label>
            <label class="controls control-value">${sum.formatCurrency('CNY')}</label>
        </div>
        <div class="control-group">
            <label class="control-label">所在城市</label>
            <label class="controls control-value">${bill?.bankCity}</label>
        </div>
        <div class="control-group">
            <label class="control-label">开户银行</label>
            <label class="controls control-value">${bill?.bankName}</label>
        </div>
        <div class="control-group">
            <label class="control-label">分行名称</label>
            <label class="controls control-value">${bill?.subBankName}</label>
        </div>
        <div class="control-group">
            <label class="control-label">开户姓名</label>
            <label class="controls control-value">${bill?.userName}</label>
        </div>
        <div class="control-group">
            <label class="control-label">银行卡号</label>
            <label class="controls control-value">${bill?.cardNumber}</label>
        </div>
        <div class="control-group">
            <label class="control-label">申请状态</label>
            <label class="controls control-value">&{'withdraw.' + bill.status}</label>
        </div>
        <div class="control-group">
            <label class="control-label">手续费</label>
            <label class="controls control-value">${bill?.fee?.formatCurrency('CNY')}</label>
        </div>
        <div class="control-group">
            <label class="control-label">备注</label>
            <label class="controls control-value">${bill?.comment}</label>
        </div>
        <div class="form-actions">
        #{if bill.status == models.accounts.WithdrawBillStatus.APPLIED && hasApproveWithdrawPermission}
            <a data-toggle="modal" href="#agree-modal" class="btn btn-primary">通过</a>
            <a data-toggle="modal" href="#reject-modal" class="btn btn-danger">拒绝</a>
        #{/if}
        #{else}
            <a href="/withdraw" class="btn btn-primary">返回</a>
        #{/else}
        </div>
    </div>

</div>
<div id="agree-modal" class="modal hide">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>同意提现申请</h3>
    </div>

#{form @WithdrawApproval.approve(), class:'form-horizontal',onsubmit:'return disableButton()'}
    <div class="modal-body">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="agree-fee">手续费</label>

                <div class="controls">
                    <input type="text" class="input-xlarge" id="agree-fee" name="fee" value="0">元
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="agree-comment">备注</label>

                <div class="controls">
                    <textarea rows="3" class="input-xlarge" id="agree-comment" name="comment">无</textarea>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">关闭</a>
        <input type="hidden" name="id" value="${bill.id}">
        <input type="hidden" name="action" value="agree">
        <button id="pass" class="btn btn-primary" type="submit">通过</button>
    </div>
#{/form}
</div>
<div id="reject-modal" class="modal hide">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>拒绝提现申请</h3>
    </div>

#{form @WithdrawApproval.approve(), class:'form-horizontal',id:'form',onsubmit:'return check()'}
    <div class="modal-body">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="reject_comment">拒绝理由</label>

                <div class="controls">
                    <textarea rows="3" class="input-xlarge" id="reject_comment" name="comment"
                            ></textarea>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">关闭</a>
        <input type="hidden" name="id" value="${bill.id}">
        <input type="hidden" name="action" value="reject">
        <button id="fail" class="btn btn-danger" type="submit">拒绝</button>
        </button>
    </div>
#{/form}
</div>
<script>
    function check() {
//        var strText = document.getElementById('reject_comment').value;
        var strText = form.reject_comment.value;
        if (strText == null || strText == "") {
            alert("请输入拒绝理由！");
            form.reject_comment.focus();
            return false;
        }
        else {
            $('#fail').attr('disabled', "true");
            $("#fail").html("正在提交");
            $('#fail').attr('class', "btn disabled");
            return true;
        }
    }

    function disableButton() {
        $('#pass').attr('disabled', "true");
        $("#pass").html("正在提交");
        $('#pass').attr('class', "btn disabled");
        return true;
    }

</script>
