#{extends 'layout_operate/layout.html' /}
#{set title:'系统账户查看' /}
#{include '/share/nav.html' /}
#{set 'moreStyles'}
<style type="text/css">
</style>
#{/set}

<div class="row-fluid">
    <table class="table table-striped">
        <tr>
            <th>申请时间</th>
            <th>账户类型</th>
            <th>登陆账号</th>
            <th>申请金额</th>
            <th>申请状态</th>
            <th>操作</th>
        </tr>
        #{list items:withdrawBills, as:'withdrawBill'}
            <tr>
                <td>${withdrawBill.appliedAt.format('yyyy-MM-dd HH:mm:ss')}</td>
                <td>&{'account.type.' + withdrawBill.account.accountType}</td>
                <td>${withdrawBill.loginName}</td>
                <td>${withdrawBill.amount.formatCurrency('CNY')}</td>
                <td>&{'withdraw.' + withdrawBill.status}</td>
                <td>
                    <a href="/withdraw/detail/${withdrawBill.id}"> 查看详情 </a>
                </td>
            </tr>
        #{/list}
    </table>
</div>

 
 