#{extends 'layout_operate/layout.html' /}
#{set title:'提现申请详情' /}
#{include '/share/nav.html' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
    function settle(withdrawAccountId) {
        $("#withdrawAccountId").val(withdrawAccountId);
    }
    function changeNeedPay(fee) {
        var originNeedPay = ${needPay};
        $("#needPay").text(originNeedPay - $(fee).val());
    }
</script>
#{/set}
#{set 'moreStyles'}
<style type="text/css">
    .control-label {
        font-weight: bold;
    }

    .control-value {
        line-height: 28px;
        margin-left: 180px;
    }

    .form-horizontal .control-group {
        margin-bottom: 4px;
    }
</style>
#{/set}

<div class="row-fluid">
    <legend>商户资金结算</legend>

#{if supplierList.size() == 0 }
    <div class="control-group">暂无需结算的商户.</div>
    <a href="/withdraw" class="btn">返回</a>

#{/if}
#{else}

    #{form @WithdrawApproval.confirmSettle(), class:'form-horizontal'}

        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label">商户</label>

                <div class="controls">
                    #{layout_operate.selectInputField name:"supplierName", id:"supplierId", list:supplierList/}
                    <span class="error">#{error 'supplierId'/}</span>
                </div>
            </div>


            #{layout_operate.dateField name:'withdrawDate',
            value:withdrawDate?:com.uhuila.common.util.DateUtil.getYesterday().format('yyyy-MM-dd'), error:'withdrawDate'/}
            <div class="form-actions">
                <button class="btn btn-primary" id="confirmSettle" type="submit">查看商户结算信息</button>
                <!--<a data-toggle="modal" href="#agree-modal" class="btn btn-primary">查看商户结算信息</a>-->
                <a href="/withdraw" class="btn">返回</a>
            </div>
        </div>
    #{/form}

    #{if amount!=null}
        #{form @WithdrawApproval.settle(), class:'form-horizontal', id:'settleForm'}
            <input type="hidden" id="supplierAccount.id" name="supplierAccount.id" value="${supplierAccount.id}">
            <input type="hidden" id="amount" name="amount" value="${amount}">
            <input type="hidden" id="withdrawAccountId" name="withdrawAccountId" value="1">
            <input type="hidden" id="prepaymentId" name="prepaymentId" value="${prepaymentId}">
            <input type="hidden" id="withdrawDate" name="withdrawDate" value="${withdrawDate.format("yyyy-MM-dd")}">
            #{if supplier!=null}
                <div class="control-group">
                    <label class="control-label">商户名称</label>
                    <p class="control-value">${supplier?.fullName}
                        &nbsp;&nbsp; #{if supplier?.otherName!=null}&nbsp;--&nbsp;${supplier?.otherName}#{/if} &nbsp;&nbsp;
                        <a href="/reports/supplier?supplierName=${supplier?.name}&condition.accountUid=${supplierId}&condition.tradeType=PURCHASE_COSTING"
                           target="_blank">账户资金明细</a>
                    </p>
                </div>
            #{/if}
            <div class="control-group">
                <label class="control-label">结算金额 </label>
                <p class="control-value">${amount.formatCurrency('CNY')}</p>
            </div>
            <div class="control-group">
                <label class="control-label">预付款余额 </label>
                <p class="control-value">#{if prepaymentId!=null}<a href="/prepayments/${prepaymentId}"
                                                                        target="_blank">${prepaymentBalance.formatCurrency('CNY')}</a>#{/if}#{else}${prepaymentBalance.formatCurrency('CNY')}#{/else}
            </div>
            #{if needPay?.compareTo(java.math.BigDecimal.ZERO)>0}
                <div class="control-group">
                    <label class="control-label" for="agree-fee">手续费</label>

                    <div class="controls">
                        <input type="text" class="input-xlarge" id="agree-fee" name="fee" value="0"
                               onkeyup="changeNeedPay(this)" onchange="changeNeedPay(this)">元
                    </div>
                </div>
            #{/if}
            <div class="control-group">
                <label class="control-label">实际需打款金额 </label>
                <p class="control-value"><span id="needPay"
                                                   class="label label-important">${needPay.formatCurrency('CNY')}</span></p>
            </div>
            #{if org.apache.commons.collections.CollectionUtils.isEmpty(withdrawAccountList)
            && prepaymentBalance?.compareTo(java.math.BigDecimal.ZERO)>0}
                <div class="control-group">
                    <label class="control-label">备注</label>

                    <div class="controls">
                        <textarea rows="3" class="input-xlarge" name="comment">无</textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"></label>
                    <p class="control-value">
                        <button class="btn btn-primary" id="settle"
                                onclick="settle(null)">结算
                        </button>
                    </p>
                </div>
            #{/if}
            #{else}
                #{list items:withdrawAccountList, as:'withdrawAccount'}
                    <div class="control-group">
                        <label class="control-label">所在城市</label>
                        <p class="control-value">${withdrawAccount?.bankCity}</p>
                    </div>
                    <div class="control-group">
                        <label class="control-label">开户银行</label>
                        <p class="control-value">${withdrawAccount?.bankName}</p>
                    </div>
                    <div class="control-group">
                        <label class="control-label">分行名称</label>
                        <p class="control-value">${withdrawAccount?.subBankName}</p>
                    </div>
                    <div class="control-group">
                        <label class="control-label">开户姓名</label>
                        <p class="control-value">${withdrawAccount?.userName}</p>
                    </div>
                    <div class="control-group">
                        <label class="control-label">银行卡号</label>
                        <p class="control-value">${withdrawAccount?.cardNumber}</p>
                    </div>
                    <div class="control-group">
                        <label class="control-label">备注</label>

                        <div class="controls">
                            <textarea rows="3" class="input-xlarge" name="comment">无</textarea>
                        </div>
                    </div>

                    #{if amount?.compareTo(java.math.BigDecimal.ZERO)>0}
                        <div class="control-group">
                            <label class="control-label"></label>
                            <p class="control-value">
                                <button class="btn btn-primary" id="settle_${withdrawAccount?.id}"
                                        onclick="settle(${withdrawAccount?.id})">结算
                                </button>
                            </p>
                        </div>
                    #{/if}
                #{/list}
            #{/else}

        #{/form}
    #{/if}

#{/else}


</div>
