<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>#{get 'title' /}</title>
#{get 'moreStyles' /}
    <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{get 'moreScripts' /}
</head>

<body>
<div id="header" class="clearfix">
    <div class="inner">
        <h1 id="logo"><img src="http://img.uhcdn.com/images/r/logo.png" alt="100QUAN" /></h1>
        <ul id="menu">
            #{get 'navMenu' /}
        </ul>
    </div>
    <div class="wellcome">
    #{if cas?.isLogin}
        欢迎您，<a class="zi_gray" href="/orders" id="login_name">${cas.username}</a>  <a class="zi_gray" href="/logout">退出</a>
    #{/if}
    #{else}
        您好，欢迎您来到优惠啦！<a class="zi_gray" href="/login" id="login_name">请登录</a>
    #{/else}
    </div>
</div>
#{doLayout /}
<div id="footer">
    <div class="copyright">版权所有：上海视惠信息科技有限公司 © 2010 - 2012 100QUAN.COM  沪ICP备08114451号</div>
</div>
</body>
</html>
