<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>#{get 'title' /}</title>
    <link rel="shortcut icon" href="#{asset.url href:'/images/r/favicon.ico'/}" type="image/x-icon" />
    #{get 'moreStyles' /}
    #{asset.js src:['/jquery-1.7.2.min.js'] /}
    #{get 'moreScripts' /}
</head>

<body>
<div id="header" class="clearfix">
    <div class="inner">
        <h1 id="logo"><img src="http://img.uhcdn.com/images/r/small-logo.png" alt="100券" /></h1>
        <div id="user">
        #{if cas?.isLogin}
            欢迎您，<a href="/orders">${cas.username}</a> | <a href="/logout">退出</a>
        #{/if}
        #{else}
            您好，欢迎您来到一百券！<a href="/login">请登录</a>
        #{/else}
        </div>
        <ul id="menu">
            #{get 'navMenu' /}
        </ul>
    </div>
</div>
#{doLayout /}
<div id="footer">
    <div class="copyright">版权所有：上海视惠信息科技有限公司 ©2012 quanFX.COM  沪ICP备08114451号</div>
</div>
</body>
</html>
