#{extends 'main.html' /}
#{set title:'一百券 - 关于我们' /}
#{set 'moreStyles'}
    #{asset.css src:['/u/about.css'] /}
#{/set}
<div id="content" class="clearfix">
    <div id="sidebar">
        <ul>
            <li><a href="#">关于我们</a></li>
            <li><a href="/contact">联系我们</a></li>
            <li><a href="/help">帮助中心</a></li>
        </ul>
    </div>
    <div id="section">
        <h3>关于我们</h3>
<pre>

“一百券”网是致力于本地生活消费的互联网电子商务网站，
是将线下本地生活服务与线上互联网结合在一起，
让互联网成为线下本地生活服务交易的前台。

商家承诺一定的折扣给予消费者，
商家就可以用线上的资源来招揽消费者，
消费者可以通过线上的信息来筛选所需要的本地生活服务并在线支付得到实惠。

“一百券”品牌隶属于上海视惠信息科技有限公司，
“一百券”网上商城是以实惠的价格，提供优质的城市生活服务。

我们产品主要是吃喝玩乐、衣食住行的生活消费券，包括美食券、
面包西点券、休闲零食券、娱乐消费券、季节提货券等。

欢迎个人和企业团购进行采购。

</pre>
    </div>
</div>
