#{extends 'main.html' /}
#{set title:'一百券 - 联系我们' /}
#{set 'moreStyles'}
    #{asset.css src:['/u/about.css'] /}
#{/set}
<div id="content" class="clearfix">
    <div id="sidebar">
        <ul>
            <li><a href="/about">关于我们</a></li>
            <li><a href="#">联系我们</a></li>
            <li><a href="/help">帮助中心</a></li>
        </ul>
    </div>
    <div id="section">
        <h3>联系我们</h3>
<pre>

上海视惠信息科技有限公司
客服热线： 400-6262-166（09：00—18:00）
总　　机： 021-54276001
传　　真： 021-54276010
地　　址： 上海市徐汇区宛平南路75号建科大厦17层
邮　　编： 200233
E-mail　： support@yibaiquan.com

</pre>

    </div>
</div>
