#{extends 'main.html' /}
#{set title:'一百券 - 帮助中心' /}
#{set 'moreStyles'}
    #{asset.css src:['/u/about.css'] /}
#{/set}
<div id="content" class="clearfix">
    <div id="sidebar">
        <ul>
            <li><a href="/about">关于我们</a></li>
            <li><a href="/contact">联系我们</a></li>
            <li><a href="/service">服务承诺</a></li>
            <li><a href="/help">常见问题</a></li>
        </ul>
    </div>
    <div id="section">
        <h3>常见问题</h3>
<pre>

<b>Q：什么是电子消费券，什么是实体消费券，如何消费？</b>
A：消费券分为实物券和电子券，实物券是商户印制的纸质现金券、代金券、提货券等。
例如：哈根达斯50元现金券、宜芝多20元代金券；消费购买纸质消费券后拿到商户门店进
行消费。电子消费券是商户通过我们的平台发布的虚拟电子现金券、代金券、提货券等，
消费者购买后凭收到的短信到商户门店消费时使用。实物与电子消费券都不兑现，不找
零。

<b>Q：如果我买好电子消费券后又不想去消费了该怎么办，能退吗？</b>
A：亲，我们承诺您所购买的任何电子券只要未消费，我们都将进行全额退款。
登录→进入“我的一百券”→点击“我的券”→选择“相应券号”→点击“申请退款”→填写“退
款原因”→退款成功。

<b>Q：在商家进行电子券消费时，如果商家不予配合或者验证无回应等情况该怎么办呢？</b>
A：请及时联系我们客服：400-6262-166 我们将立即进行处理。

<b>Q：我退款产生的余额可以提现吗？</b>
A：退款产生的余额建议保留账户下次直接购买抵扣，同时网站支持用户提现，工商银
行、建设银行、招商银行，我们会在5个工作日内进行处理。
登录→进入“我的一百券”→点击“申请提现”→填写“开户名、开户行、支行、卡号、提现
金额”（最低提现金额为10元）→提现申请成功。

<b>Q：购买电子券有发票吗？</b>
A：亲，电子消费券在商家消费后可直接向商家索取发票哦！

<b>Q：购买商品请问运费如何计算呢？</b>
A：亲，网站统一运费6元哦。

<b>Q：忘记密码怎么办？</b>
A：亲，如果您忘记密码，请在"登录"页面上点击"忘记密码"，通过您之前注册时认证的邮
箱，收到"重置密码"的链接邮件，点击"重置密码"就可以了。或者通过注册时认证的手
机，通过手机短信验证，可重置密码。

<b>Q：如何购买？</b>
A：只需在商品交易页面点击"购买"按钮，根据提示下订单付费购买即可。

<b>Q：如何一次购买多件商品？</b>
A：将商品放入"我的购物车"后，继续选择其他商品继续放入购物车即可。

<b>Q：如何支付？ </b>
A：一百券使用第三方支付平台，提供支付宝、财付通以及多家银行接口，确保交易安
全。

<b>Q：点击“购买”后一定要立即付款吗？</b>
A：您可以将喜欢的商品放入购物车后在一百券继续逛，然后一起付款。购物车会保留您
挑选的商品。但是对于抢手商品，建议您尽快付款，否则一旦该商品售完，即使购物
车中已为您保留商品信息，该商品也无法购买了。

</pre>
    </div>
</div>
