#{extends 'top.html' /}
#{set title:'一百券-公告:' +topic.title /}
#{set 'metaContent'}
<meta name="Description" content="一百券,消费券,代金券,优惠券,美食券,电子券,提货券">
<meta name="Keywords" content="上海优惠券,一百券,消费券,代金券,优惠券,美食券,电子券,优惠上海,提货券">
#{/set}
#{set 'moreStyles'}
    #{asset.css src:['/u/about.css'] /}
#{/set}
<style type="text/css">
    #section {
        float: none;
        padding-left: 120px;
        width: 760px;
    }</style>
<div id="content" class="clearfix">
    <div id="section">
        <h3 style="text-align: center">${topic.title}</h3>

        <div>
        ${topic.getContent()?.raw()}
        </div>
    </div>
</div>
