<div class="control-group">
    <label class="control-label"><span style="color: red; ">*</span>商户</label>

    <div class="controls">
    #{layout_operate.selectInputField name:"supplierName", id:"stock.supplierId", list:supplierList/}
        <span class="error">#{error 'stock.supplierId'/}</span>
    </div>
</div>
<div id="brand">
#{include '/OperateBrands/stockBrands.html'/}
</div>

<div id="sku">
#{layout_operate.selectField name:'stock.sku.id', value:stock?.sku?.id, error:'stock.sku', required:true}
    #{list items:skuList, as:'sku'}
    #{option sku?.id}${sku?.name}#{/option}
#{/list}
#{/layout_operate.selectField}
</div>

<script type="text/javascript">
    $(function () {
        $("#supplierName").blur(function () {
            alert('inini')
            var found = false;
            var m = list.length;
            var id = null;
            for (i = 0; i < m; i++) {
                if (list[i].name == $("#supplierName").val()) {
                    found = true;
                    id = list[i].id;
                }
            }
            if (!found) {
                $("#id_supplierName").val(-1);
                $("#save").attr('disabled', true);
            } else {
                $("#err-supplierUser_supplier_id").html("");
                $("#save").attr('disabled', false);
                $("#brand").load("/stock_brands/" + id + "?stockBrand=stockBrand", function (data) {
                });
            }

            if ($("#supplierName").val().trim() == '') {
                $("#id_supplierName").val(0);
                $("#save").attr('disabled', true);
            }
        });





    });

    $("#stock_brand_id").change(function () {
        alert('ooooo')


    });


</script>