#{if "add".equals(action)}
    #{layout_operate.textField name:'area.id', value:area?.id, required:true/}
#{/if}
#{else}
<div class="control-group">
    <label class="control-label">区域Id</label>

    <div class="controls">
    ${area?.id}
    </div>
</div>
#{/else}
#{layout_operate.textField name:'area.name', value:area?.name, required:true/}
#{layout_operate.textField name:'area.displayOrder', value:area?.displayOrder?:"0", required:true/}
<div class="control-group">
    <label class="control-label">热门商圈
    </label>

    <div class="controls">
        <input type="checkbox" name="area.popularArea" id="popularArea" class="input-medium"
               value="true" ${area?.popularArea?'checked':''}/>
        <span id="err-popularArea"></span>
    </div>
</div>


<div class="form-actions">
    <input class="btn btn-primary" id="save" type="submit" value="保存"/>
</div>


