#{extends 'layout_operate/layout.html' /}
#{set title:'区域管理' /}
#{include '/share/nav.html' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/goods.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
<legend>${title}
&{areaType}
    &nbsp;&nbsp; <a href="/area/new?parentId=${parentId}" class="btn btn-primary">添加</a>

</legend>
<div class="body">
    <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
            <th>区域Id</th>
            <th>推荐度</th>
            <th>名称</th>
            <th>热门商圈</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        #{list items:areaList, as:'area'}
        <tr>
            <td>${area?.id}</td>
            <td>${area?.displayOrder}</td>
            <td>${area?.name}</td>
            <td>${area?.popularArea?.yesno("是","否")}</td>
            <td>
                <a href="/area/${area?.id}/edit">修改</a>
                #{if area?.areaType!=models.sales.AreaType.AREA}
                    / <a href="/area?parentId=${area?.id}">子区域</a>
                #{/if}
                / #{vx.deleteLink id:area?.id, name:area?.name, action:"/area"/}
            </td>
        </tr>
        #{/list}
        </tbody>
    </table>
</div>
