#{extends 'layout_trader/layout.html' /}
#{include 'goods/nav.html' /}

#{get 'moreScripts'}
<script type="text/javascript">
fucntion showmsg(){
   if(!confirm("你确定要删除门店信息吗")){
       return false;
   }
}
</script>
#{/get}
<div class="body">

  <legend>门店列表</legend>
  <form class="form-horizontal" action="@{Shops.list()}" method="post">
  <table class="table table-striped"> 
 
    <tbody> 
      <tr>
      <td>门店名称</td> 
      <td><input type="text" id="input01" name="shopname" class="input-large" /></td>
      <td>门店地址</td> 
      <td><input type="text" id="input01" name="shopaddr" class="input-large" /></td>
      <td><button class="btn btn-primary" type="submit">搜 索</button></td>
      </tr>
      
      <tr> 
       <td><a href="@{Shops.add()}" class="btn btn-primary">添加门店</a></td>
       </tr>
       
    </tbody>
  </table>
  </form>
  
  <table class="table table-striped"> 
       <thead> 
       <tr> 
       <th>No.</th> <th>门店名称</th> <th>门店地址</th> <th>门店电话</th> <th>操 作</th> 
       </tr> 
      </thead>
    
    <tbody> 
    #{list items:pager.list, as:'row' }
      <tr>
      <td>${row.id}</td> 
      <td>${row.name}</td>
      <td>${row.address}</td> 
      <td>${row.phone}</td>
      <td><a href="@{shops.edit(row.id)}">修改</a>/<a href="@{shops.delete(row.id)}" onclick="showmsg()">删除</a></td>
      </tr>
    #{/list}   
    </tbody>
  </table>


<div stlye=""><a href="@{shops.list()}?page=${pager.prevPage}" class="btn btn-primary">上一页</a> <a href="@{shops.list()}?page=${pager.nextPage}" class="btn btn-primary">下一页</a></div>
 <div class="pagination">
  
  <ul>

    
    #{list items:pager.startNum..pager.endNum, as:'i'}
      #{if pager.currPage == i}
        <li class="active"><a>${i}</a></li>
      #{/if}  
      #{else}
        <li><a href="@{shops.list()}?page=${i}">${i}</a></li>
      #{/else}
    #{/list}

    <li><a>共${pager.totalpage}页/${pager.pageSize} 共${pager.totalCount}条记录</a> </li>
  </ul>
  
  </div>

</div>


