#{extends 'layout_operate/layout.html' /}
#{include 'share/nav.html' /}
#{set title:'生成现金券' /}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
#{form @OperatorCashCoupons.generate(), method:'POST', class:'form-horizontal' }
    <div class="control-group">
        <label class="control-label" for="inputName">券名称</label>
        <div class="controls">
            <input type="text" id="inputName" name="name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputFaceValue">面值</label>
        <div class="controls">
            <input type="text" id="inputFaceValue" name="faceValue">
            <span class="help-inline">正整数</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputCount">数量</label>
        <div class="controls">
            <input type="text" id="inputCount" name="count">
            <span class="help-inline">1-9999</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputPrefix">卡号前缀</label>
        <div class="controls">
            <input type="text" id="inputPrefix" name="prefix">
            <span class="help-inline">纯英文和数字，3-10位,如 TEST20120925</span>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">勇敢的生成吧</button>
        </div>
    </div>
#{/form}

