/**
 * CSS RESET START {{{
 * **/
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
    margin: 0;
    padding: 0;
}

/** 设置默认字体 **/
body, a, button, input, select, textarea /* for ie */ {
    color: #3E3E3E;
    font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }
a:hover { text-decoration: underline; }

sup { vertical-align: text-top; } /* 重置，减少对行高的影响 */
sub { vertical-align: text-bottom; }

/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/* 重置 HTML5 元素 */
article, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
    display: block;
    margin: 0;
    padding: 0;
}
mark { background: #ff0; }

/** 清除浮动 **/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    *+height: 1%;
}
/**
 * CSS RESET END }}}
 * **/

#header {
    width: 960px;
    margin: 0 auto;
}
#logo {
    float: left;
    height: 88px;
}
#logo a:hover {
    text-decoration: none;
}
#logo .uhuila {
    position: relative;
    top: -32px;
    color: #D03F24;
    font-size: 14px;
    font-weight: 700;
    font-family: "Microsoft Yahei";
}
#user {
    height: 48px;
    padding: 40px 0 0 0;
    float: right;
}

/** 导航 **/
#navbar {
    *position: relative;
    *z-index: 90;
    background-color: #006d6d;
    margin-bottom: 20px;
    height: 35px;
}
#navbar .inner {
    width: 960px;
    margin: 0 auto;
}
#navbar a:hover {
    text-decoration: none;
}
#menu {
    float: left;
    width: 758px;
}
#menu li {
    float: left;
}
#menu a {
    display: block;
    padding: 0 20px;
    color: #ffffff;
    line-height: 35px;
    font-size: 14px;
    font-weight: 700;
}
#menu a:hover {
    background: #b3dbdb url(http://img.uhcdn.com/images/u/navbg.png) bottom center no-repeat;
}
#menu .current {
    color: #333333;
    background: #b3dbdb url(http://img.uhcdn.com/images/u/navbg.png) bottom center no-repeat;
}
#cart {
    position: relative;
    float: right;
    margin: 3px 0;
    width: 202px;
    height: 29px;
    background: #d5e9ed url(http://img.uhcdn.com/images/u/cartsbg.png) bottom center no-repeat;
}
#cart .cart-hd {
    display: block;
    float: left;
    padding: 5px 8px 6px 35px;
    background: url(http://img.uhcdn.com/images/u/drop.png) right 14px no-repeat;
}
#cart .cart-hd strong {
    color: #f50;
    padding-right: 2px;
}
#cart .cart-bd {
    display: none;
    position: absolute;
    top: 29px;
    right: 0;
    z-index: 100;
    padding: 10px;
    width: 280px;
    border: 2px solid #015859;
    background-color: #fff;
}
.carts-item {
    padding: 6px 0 3px;
    border-top: 1px dotted #e4e4e4;
}
.carts-item .goods-img {
    float: left;
    margin-right: 5px;
}
.carts-item .goods-name {
    display: inline-block;
    margin-bottom: 2px;
    width: 165px;
    _width: 162px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.carts-item .goods-price {
    color: #f50;
    font: 12px arial;
}
.carts-item .cart-delete {
    float: right;
    color: #25B4AB;
}
.carts-bd .view-carts {
    display: inline-block;
    padding: 0 3px;
    margin: 10px 5px 0 5px;
    color: #F8F8F8;
    background-color: #209890;
}
.carts-item .view-carts:hover {
    text-decoration: none;
}

#cart .cart-btn {
    display: block;
    float: right;
    padding: 4px 0;
    width: 66px;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

#content {
    width: 960px;
    margin: 0 auto;
}
.wrap {
    margin-bottom: 15px;
}

/** 页尾 **/
#footer {
    padding: 10px 0 20px;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #d5d5d5;
    background-color: #F9F9F9;
}
.ft-nav {
    color: #999;
    text-align: center;
}
.ft-nav a {
    color: #3E3E3E;
    margin: 0 10px;
}
.ft-nav a:hover {
    color: #25b4ab;
}
.copyright {
    color: #999;
    line-height: 26px;
}
.copyright span {
    margin: 0 10px;
}
