.title {
    padding: 5px 0 10px;
    font-size: 18px;
}
.section {
    float: left;
    width: 730px;
    _width: 715px;
}
.photo {
    float: left;
    margin-right: 20px;
    width: 360px;
    padding: 11px 0;
    border: 1px solid #E4E4E4;
    font-size: 0;
    text-align: center;
}

/** 券属性 **/
.property {
    float: left;
    width: 315px;
    _width: 300px;
    margin-right: 20px;
    border-top: 1px dotted #E4E4E4;
}
.property li {
    color: #666;
    line-height: 34px;
}
.property span {
    color: #333;
    margin-left: 8px;
}
.property .price span {
    color: #F50;
    font-size: 24px;
    font-family: Arial;
}
.property .cost del {
    margin-left: 5px;
    font-size: 14px;
}
.property .cost {
    font-family: Arial;
}
.property .amount input {
    width: 36px;
    height: 21px;
    line-height: 21px;
    padding-left: 2px;
    border: solid 1px #A8ACAD;
    background: url(http://img.uhcdn.com/images/u/num_input_bg.jpg) repeat-x;
}
.property .action {
    position: relative;
    margin-top: 9px;
}
.property .action .add,
.property .action .buy {
    float: left;
    display: block;
    padding: 6px 15px 7px;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    background-color: #25B4AB;
}
.property .buy {
    margin-right: 35px;
}
.property .add-tips {
    position: absolute;
    top: -10px;
    left: 50px;
    width: 230px;
    padding: 10px 10px 10px 45px;
    line-height: 24px;
    border: 1px solid #25B4AB;
    background: #FFF url(http://img.uhcdn.com/images/u/right.png) no-repeat 8px 15px;
}
.property .add-tips h4 {
    font-size: 14px;
}
.property .add-tips p {
    margin-bottom: 15px;
}
.property .add-tips strong {
    color: #F50;
    font-size: 14px;
    padding: 0 3px;
}
.property .add-tips em {
    color: #F50;
    padding: 0 3px;
}
.property .add-tips .see-carts {
    padding: 5px 10px;
    color: #FFF;
    background-color: #25B4AB;
}
.property .add-tips .close-tips {
    position: absolute;
    top: 0;
    right: 3px;
    padding-left: 12px;
    color: #999;
    line-height: 21px\9;  /* for IE9 all */
    line-height: 22px\9\0; /* for IE9 only */
    background: url(http://img.uhcdn.com/images/u/close.png) no-repeat 0 6px;
}
.online {
    clear: both;
    padding-top: 10px;
}
.online span {
    font-size: 16px;
}
.online a,
.online span {
    float: left;
    margin-right: 5px;
}
/** 服务、品牌 **/
.aside {
    float: left;
    width: 230px;
}
.aside .service {
    float: none;
    margin-bottom: 10px;
}
.aside .brand {
    padding: 5px 8px;
    border: 1px solid #E4E4E4;
}
.aside .brand-name,
.aside .brand-logo {
    padding: 2px 0;
}
.aside .brand-name {
    line-height: 25px;
}
.aside .brand-text {
    line-height: 22px;
}

.warm-tips h4 {
    text-indent: 5px;
    font-size: 14px;
    line-height: 32px;
    background-color: #AADBDB;
}
.warm-content {
    padding: 5px 12px;
}

/** 详情 **/
.tabbar {
    margin-bottom: 10px;
    padding-left: 15px;
    border-bottom: 1px solid #AADBDB;
}
.tabbar li {
    _position: relative;
    float: left;
    width: 70px;
    padding: 5px 15px;
    margin:0 5px -1px 0;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    border: 1px solid #AADBDB;
    background-color: #EAF6F6;
}
.tabbar li.current {
    font-weight: 700;
    background-color: #FFF;
    border-bottom: 1px solid #FFF;
}
.tabtxt {
    line-height: 22px;
}
.tabtxt h4 {
    text-indent: 5px;
    font-size: 16px;
    line-height: 32px;
    background-color: #AADBDB;
}
.txt-item-bd {
    margin: 10px;
}

/** 服务承诺 **/
.service {
    float: left;
    width: 230px;
}
.service-hd {
    text-indent: 8px;
    font-weight: 700;
    line-height: 24px;
    background-color: #ededed;
}
.service-bd {
    padding: 7px 0;
    border: 1px solid #ededed;
}
.service-bd li {
    padding: 8px 0 8px 50px;
    color: #999;
}
.service-bd li a {
    text-decoration: none;
}
.service-bd li span {
    color: #007e76;
    font-weight: 700;
}
.service-bd .item-1 {
    background: url(http://img.uhcdn.com/images/u/icon_1.png) no-repeat 10px 8px;
}
.service-bd .item-2 {
    background: url(http://img.uhcdn.com/images/u/icon_2.png) no-repeat 10px 1px;
}
.service-bd .item-3 {
    background: url(http://img.uhcdn.com/images/u/icon_3.png) no-repeat 14px 5px;
}

.qa h4 {
    text-indent: 5px;
    font-size: 16px;
    line-height: 32px;
    background-color: #AADBDB;
}
.qa-item {
    padding: 8px 10px;
    border-bottom: 1px solid #E4E4E4;
}
.qa-odd {
    background-color: #f8f8f8;
}
.qa-item .user {
    float: right;
    color: #999;
    text-align: right;
}
.qa-item .user .name {
    color: #666;
    margin-right: 20px;
}
.qa-item dl {
    line-height: 22px;
}
.qa-item dt {
    padding-left: 20px;
    float: left;
}
.qa-item .question dt {
    background: url(http://img.uhcdn.com/images/u/qa.png) no-repeat 0 5px;
}
.qa-item .answer dt {
    background: url(http://img.uhcdn.com/images/u/qa.png) no-repeat 0 -27px;
}
.qa-item .answer {
    color: #f50;
}
.qa-form {
    margin: 20px 0;
    padding: 5px 10px;
    background-color: #f2f2f2;
}
.qa-form .tit {
    font-weight: 700;
}
.qa-form .con {
    margin: 3px 0;
    padding: 1px 3px;
    height: 80px;
}
.qa-form .btn button {
    padding: 2px 15px;
}
