.find-password {
    position: relative;
    padding: 45px 0 80px;
}
.find-title {
    position: absolute;
    top: -40px;
    left: 200px;
    width: 450px;
    line-height: 25px;
    text-indent: 5px;
    font-weight: 700;
    background-color: #EAF6F6;
}
.find-password h2 {
    font-size: 14px;
    margin: 20px 0;
}
.find-password .error {
    color: #F50;
}
.find-way a {
    display: block;
    margin-right: 20px;
    line-height: 50px;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#F4F5F6));
    background: -moz-linear-gradient(top, white, #F4F5F6);
    background: -o-linear-gradient(top, white, #F4F5F6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f5f6');
    background: linear-gradient(top, white, #F4F5F6);
}
.find-way span {
    display: block;
    width: 150px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    margin: -1px 0;
    margin: 0\9;
}
.find-way #email {
    float: left;
}
.find-way #tel {
    float: left;
}
.find-way #email span {
    padding-left: 45px;
    background: url(http://img.uhcdn.com/images/u/mailicon.gif) no-repeat 10px 18px;
}
.find-way #tel span {
    padding-left: 35px;
    background: url(http://img.uhcdn.com/images/u/phoneicon.gif) no-repeat 10px 12px;
}
.find-way a:hover,
.find-way #tel span:hover,
.find-way #email span:hover {
    border-color: #BBB;
    text-decoration: none;
}

.input-email div {
    padding: 10px 0;
}
.input-email input {
    width: 160px;
    height: 20px;
    padding: 2px 3px;
    *padding: 4px 3px 1px;
    font-weight: 700;
    border: 1px solid;
    border-color: #AAA #DDD #DDD #AAA;
}
.find-password .btn {
    padding: 2px 8px;
}

#header,
#content {
    width: 650px;
}
#footer {
    border-top: 0;
    background: none;
}
#footer .copyright {
    width: 650px;
    margin: 0 auto;
    line-height: 32px;
    background-color: #EAF6F6;
}
