#aside {
    float: left;
    width: 190px;
}
.popular-hd {
    color: #F8F8F8;
    font-weight: 700;
    line-height: 28px;
    text-indent: 10px;
    background-color: #25B4AB;
}
.popular-bd {
    padding: 9px;
    background-color: #F4F4F4;
    border: 1px solid #AADBDB;
}
.popular-bd li {
    margin-bottom: 5px;
}
.popular-bd li a,
.popular-bd li img {
    font-size: 0;
}
.popular-bd li p {
    width: 170px;
    height: 40px;
    margin: 3px 0;
    line-height: 20px;
    overflow: hidden;
}
.popular-bd li p a {
    font-size: 12px;
}
.popular-bd li span {
    display: block;
    color: #AAA;
}
.popular-bd li strong {
    margin-left: 5px;
    color: #F50;
    font-size: 14px;
    font-family: arial, tahoma, \5b8b\4f53, sans-serif;
}
.popular-bd li del {
    margin-left: 5px;
    font-family: arial, tahoma, \5b8b\4f53, sans-serif;
}

#section {
    float: right;
    width: 760px;
}
.tabbar {
    border: solid #E4E4E4;
    border-width: 1px 1px 0 1px;
    background-color: #F9F9F9;
    border-bottom: 1px solid #25B4AB;
}
.tabbar a {
    display: block;
    float: left;
    width: 80px;
    line-height: 28px;
    text-align: center;
    background-color: #FFF;
    border-right: 1px solid #E4E4E4;
}
.tabbar a.current {
    margin: -1px 0 0 -1px;
    padding: 1px 0 0 1px;
    color: #F8F8F8;
    font-weight: 700;
    background-color: #25B4AB;
}
.filter {
    padding: 0 10px;
    margin-bottom: 10px;
    line-height: 25px;
    border: solid #AADBDB;
    border-width: 0 1px 1px 1px;
}
.filter dl {
    padding: 5px 0 5px 45px;
    border-top: 1px solid #F4F4F4;
}
.filter dt {
    float: left;
    width: 40px;
    margin-left: -40px;
    _margin-left: -20px;
}
.filter dd a {
    margin: 0 5px;
    color: #0082CA;
}
.filter dd span {
    margin: 0 5px;
}
.rankbar {
    padding: 5px;
    margin-bottom: 10px;
    text-indent: 10px;
    line-height: 22px;
    background-color: #FEFEFE;
    border: 1px solid #E4E4E4;
}
.rankbar a {
    margin: 0 10px;
    color: #666;
}
.rankbar .selected {
    color: #0082CA;
}

.list-content {
    overflow: hidden;
    width: 760px;
}
.list-content ul {
    width: 770px;
    padding-left: 1px;
}
.list-content li {
    float: left;
    height: 220px;
    padding: 5px;
    margin: 0 10px 20px 0;
    border: 1px solid #E4E4E4;
}
.list-content li p {
    width: 170px;
    height: 40px;
    margin: 3px 0;
    line-height: 20px;
    overflow: hidden;
}
.list-content li p a {
    color: #0082CA;
    *line-height: 20px;
}
.list-content li span {
    display: block;
    color: #AAA;
}
.list-content li strong {
    margin-left: 5px;
    color: #F50;
    font-size: 14px;
    font-family: arial, tahoma, \5b8b\4f53, sans-serif;
}
.list-content li del {
    margin-left: 5px;
    font-family: arial, tahoma, \5b8b\4f53, sans-serif;
}

.pagination-container {
    text-align: center;
    margin: 10px 0;
}
.pagination {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.pagination li {
    float: left;
}
.pagination a {
    float: left;
    margin-right: 8px;
    padding: 3px 9px;
    color: #0082CA;
    border: 1px solid #A8ACAD;
}
.pagination a:hover {
    text-decoration: none;
}
.pagination .active {
    color: #F8F8F8;
    font-weight: 700;
    background-color: #25B4AB;
    border: 1px solid #25B4AB;
}
