@charset "utf-8";
/* CSS Document */
/* CSS Document */
table{border-collapse:collapse;}
#wrap_top_header_left{float:left}
#wrap_top_middle{float:left;line-height:89px; font-size:17px; color:#666666; font-weight:700}
.fen_g{width:1000px; overflow:hidden; height:2px; background:#D72828} /*hengxian red*/

#content_zhuti{padding-left:12px; margin-top:26px;}
.left_nate{ background:url(../images/uer_reg_left.jpg) no-repeat; width:327px; height:278px;}
.right_nate{ float:left;width:340px; margin-left:30px; }
*html .right_nate{ margin-left:0px;}
.zhuti_box{width:800px; margin:0 auto; height:300px; margin-left:131px;float:left}
*html .zhuti_box{ margin-left:70px;} /*ie6 hack*/
.user_reg_box{ float:left; width:323px; border:solid 1px #CACACA; height:276px; margin-left:24px;}
.left_nate{ float:left}
.tab_buttom{ width:315px; height:240px; overflow:hidden; padding-top:10px;}
.input_user_login{width:198px; height:23px; border:solid 1px #CCCCCC}
.re_modify{ position:relative; top:5px; left:-5px}
.zunxun_anniu{padding-left:90px; padding-top:0px; margin-top:0px}
.zunshou_font{position:relative; top:1px; color:#0066CC}
.zunshou_input{vertical-align:middle; position:relative;}
.xieyi_fontBox{ margin-top:35px;width:930px; padding-left:18px; padding-right:45px; height:230px; overflow:auto; border:solid 1px #C9CCCD; line-height:36px; color:#929292}

.tab_user{ list-style:none}
.no_current_li{ float:left; width:157px; height:36px; text-align:center; line-height:36px; background:url(../images/user_tab_bg.jpg) repeat-x; font-weight:700}
.current_li{float:left; width:127px; height:36px; text-align:center; line-height:36px; background:#ffffff; font-size:14px; font-weight:700; padding-left:30px; text-align:left}
.fenge_li{ height:35px; width:1px; overflow:hidden; background:#cacaca; float:left}
.ul_tab{height:35px; width:323px;}
.zhuce_bg{ background:url(../images/reg_buttom.jpg) no-repeat;color:#FFFFFF; text-align:center; font-weight:700;line-height:33px;letter-spacing:0.1em; font-size:14px; width:85px; height:33px; display:block; position:relative; left:-9px}