#{extends 'layout_operate/layout.html' /}
#{include 'share/nav.html' /}
#{set title:'一号店API' /}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
#{set 'moreScripts'}
        <script type="text/javascript">
            $(function(){
                $("#request").click(function(){
                    $.post(
                        "/yihaodian-api",
                        {"method":$("#method").val(),"paramStr":$("#params").val()},
                        function(data){
                            $("#result").text(data)
                        });
                    return false;
                });
            });
        </script>
#{/set}

<legend>${title}</legend>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" >接口</label>
        <div class="controls">
            <input type="text" id="method" class="input-large">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">参数</label>
        <div class="controls">
            <textarea rows="5" cols="100" id="params"></textarea>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button class="btn btn-primary" id="request">请求</button>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">结果</label>
        <div class="controls">
            <div id="result"></div>
        </div>
    </div>
</form>
