#{extends 'main.html' /}
#{set title:'优惠啦 - 我的券' /}
#{set 'moreStyles'}
    #{asset.css src:['/u/list.css'] /}
<link href="@{'/public/stylesheets/my_good.css'}" rel="stylesheet" type="text/css" />
<link href="@{'/public/stylesheets/user-center.css'}" rel="stylesheet" type="text/css" />
<style type="text/css">
    #full_bg {
        background-color: Gray;
        display: none;
        z-index: 3;
        position: absolute;
        left: 0px;
        top: 0px;
        filter: Alpha(Opacity = 30);
        /* IE */
        -moz-opacity: 0.4;
        /* Moz + FF */
        opacity: 0.4;
    }

    #apply_dialog {
        position: absolute;
        width: 400px;
        height: 200px;
        background: white;
        display: none;
        z-index: 5;
    }
    .left_shangpin {
        float: left;
        width: 62px;
        height: 36px;
        margin: 2px 2px;
    }
    .right_shangpin {
        width: 190px;
        margin: 2px 0px;
        line-height: 24px;
        float: left;
        font-weight: bold;
        overflow: hidden;
    }

</style>
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
<script>

    function cal_position_top(id) {
        var st = document.documentElement.scrollTop;//滚动条距顶部的距离
        var ch = document.documentElement.clientHeight;//屏幕的高度
        var height = $("#" + id).height();//浮动对象的高度
        return Number(st) + (Number(ch) - Number(height)) / 2;
    }
    function cal_position_left(id) {
        var sl = document.documentElement.scrollLeft;//滚动条距左边的距离
        var cw = document.documentElement.clientWidth;//屏幕的宽度
        var width = $("#" + id).width();//浮动对象的宽度
        return Number(sl) + (Number(cw) - Number(width)) / 2;
    }
    function reset_result_dialog() {
        if ($("#full_bg").css("display") == "block") {
            var body_height = document.documentElement.clientHeight;//屏幕的高度
            var body_width = document.documentElement.clientWidth;//屏幕的宽度
//        var body_height = $("body").height();
//        var body_width  = $("body").width();
            $("#full_bg").css({
                width:body_width,
                height:body_height});
            $("#apply_dialog").css({
                top:cal_position_top("apply_dialog"),
                left:cal_position_left("apply_dialog"),
                display:"block"});

        }
    }
    function close_result_dialog() {
        $("#full_bg").css({display:"none"});
        $("#apply_dialog").css({display:"none"});
    }


    $(window).load(function () {

        $(window).scroll(function () {
            reset_result_dialog()
        });
        $(window).resize(function () {
            reset_result_dialog()
        });

        $("#search").click(function () {
            $('#couponsFrm').submit();
        });
        $("#status").change(function () {
            $('#couponsFrm').submit();
        });
        $("a[name='apply_refund']").each(function () {
            $(this).click(function () {
                $("#apply_row").val($(this).attr('id'));
                $("#full_bg").css({"display":"block"});
                reset_result_dialog();
                return false;
            });
        });

        $("#confirm_apply").click(function () {
            close_result_dialog();
            $.post(
                    $("#" + $("#apply_row").val()).attr("href"),
                    {"applyNote":$("#apply_note").val()},
                    function (data) {
                        if (data.error != 'ok') {
                            alert("申请失败: " + data.error);
                        } else {
                            $("#" + $("#apply_row").val()).empty().append("");
                            $("#status_" + $("#apply_row").val()).empty().append("已退款");
                        }
                    }
            );
            return false;
        });

    });
</script>
#{/set}
<!--主体内容部分-->
<div class="wrap clearfix">
#{include "share/left.html"/}
    <div class="section">
    #{breadcrumbs/breadcrumb breadcrumbs/}
        <div class="tab_top2">
            <form class="form-horizontal" id="couponsFrm" action="@{UserCoupons.index()}" method="GET">
                <table width="774" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="left">商品名称：</td>
                        <td height="35"><label> <input class="long_input" type="text" name="condition.goodsName"
                                                       value="${condition.goodsName}"/>
                        </label></td>
                        <td width="61" align="left">成交时间：</td>
                        <td width="259">
                            <input class="short_input Wdate" type="text" name="condition.createdAtBegin"
                                   value="${condition.createdAtBegin?.format()}" onfocus="WdatePicker({readOnly:true})
                                   "/> -
                            <input class="short_input Wdate" type="text" name="condition.createdAtEnd"
                                   value="${condition.createdAtEnd?.format()}" onfocus="WdatePicker({readOnly:true})"/>
                        </td>
                        <td colspan="2" align="left" valign="middle"><button class="search-btn" id="search"> 搜　索 </button>
                        </td>
                    </tr>
                </table>
            <table class="order-tab" cellpadding="0" cellspacing="0">
                <tr class="col-name">
                    <th width="100" align="center" height="30">劵号</th>
                    <th width="320" align="center">商品名称</th>
                    <th width="100" align="center" width="100">订单号</th>
                    <th width="100" align="center">成交时间</th>
                    <th width="100" align="center">过期时间</th>
                    <th width="18">#{select 'condition.status', id:'status', value:condition?.status}
                        #{option ""}券状态#{/option}
                        #{option "DEALING"}&{'coupon.DEALING'}#{/option}
                        #{option "CONSUMED"}&{'coupon.CONSUMED'}#{/option}
                        #{option "UNCONSUMED"}&{'coupon.UNCONSUMED'}#{/option}
                        #{option "REFUND"}&{'coupon.REFUND'}#{/option}
                        #{option "EXPIRED"}&{'coupon.EXPIRED'}#{/option}
                    #{/select}</th>
                    <th width="100" align="center">操作</th>
                </tr>
            #{paginate.list items:couponsList, as:'coupon'}
                <tr>
                    <td height="30" align="center">${coupon?.eCouponSn}</td>
                    <td width="320"><div class="left_shangpin"><a href="http://www.uhuila.cn/goods/${coupon.goods.id}" target="_blank"><img src="${coupon?.goods?.imageTinyPath}"/></a></div>
                        <div class="right_shangpin"><a href="http://www.uhuila.cn/goods/${coupon.goods.id}" target="_blank">${coupon?.goods?.name}</a></div></td>
                    <td align="center">${coupon.order.orderNumber}</td>
                    <td align="center">${coupon?.createdAt?.format('yyyy-MM-dd HH:mm:ss')}</td>
                    <td align="center">${coupon?.goods?.expireAt?.format()}</td>
                    #{if (models.order.ECouponStatus.EXPIRED == coupon?.updateStatusByexpireAt() )}
                        <td width="95" align="center" style="color:#03C">
                          <span id="status_apply_${coupon.id}">
                            已过期
                          </span>
                        </td>
                    #{/if}
                    #{else}
                        <td width="95" align="center">
                           <span id="status_apply_${coupon.id}">
                            &{'coupon.'+coupon?.updateStatusByexpireAt()}
                          </span>
                        </td>
                    #{/else}

                    <td width="103" align="center">
                        #{if (coupon.status == models.order.ECouponStatus.UNCONSUMED
                        || coupon.status == models.order.ECouponStatus.EXPIRED)}
                            <a href="/index/refund/${coupon.id}" name="apply_refund" class="font_blue"
                               id="apply_${coupon.id}">申请退款</a>
                        #{/if}
                    </td>
                </tr>
            #{/paginate.list}
            </table>
            </form>
            <div class="pagination">
                <ul>
                #{paginate.controls items:couponsList /}
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="full_bg"></div>
<div id="apply_dialog">
    <div style="text-align:center;">
        <a href="#" onclick="close_result_dialog();">关闭</a><br/><br/>
        <label for="refund">退款金额</label><input type="text" id="refund"/><br/><br/>
        <label for="apply_note">申请理由</label><textarea rows="5" id="apply_note"></textarea> <br/>
        <a href="#" id="confirm_apply">确定</a>
    </div>
    <input value="" type="hidden" id="apply_row"/>
</div>

