#{extends 'main.html' /}
#{set title:'券市场 - 确认付款' /}
#{set 'moreStyles'}
    #{asset.css src:['/r/base.css', '/r/carts.css'] /}
#{/set}
#{set 'moreScripts'}
<script src="@@{'/public/javascripts/payment_info.js'}"></script>
#{/set}

<div id="full_bg"></div>
<div id="payment_result">
    <a class="close" href="#" onclick="close_result_dialog();">关闭</a><br/><br/>
    <div class="pay-tips">付款完成前请不要关闭此窗口。完成付款后请根据您的情况点击下面的按钮：</div>
    #{if order}
        <a class="repay" href="/payment_info/${order.orderNumber}">遇到问题？</a>
    #{/if}
        <a class="payed" href="/orders">已完成付款</a>
</div>
<div id="content">
#{if order}
    #{if order.status == models.order.OrderStatus.PAID}
    <div class="pay-success">
        <h2 class="pay-wish">恭喜您，付款成功</h2>
        <ul>
            <li>已经发货至您指定接收手机号码，请注意查收。</li>
            <li>您还可以在“<a href="/library">我的分销库</a> > <a href="/orders">我的订单</a> >  <a href="/orders/${order.orderNumber}">订单详情</a>”查看商品配送情况。</li>
            <li>凭短信内的券号到取货门店直接取货。</li>
            <li>回复短信认证的方式仅限本手机有效。</li>
            <li>如有遗失券号短信，请联系客户重新发送。</li>
            <li class="service">电子券商品，只要您末进行消费，且保持订单有效，我们将提供随时退款的服务。<br/>
                我们的客服电话：400-686-5151 我们的客服邮件是：uhuila@seewi.com.cn</li>
        </ul>
        <div class="btn">
            <a href="/orders/${order.orderNumber}"><span>查看订单详情</span></a>
            <a href="/carts"><span>继续下单</span></a>
        </div>
    </div>
    #{/if}
#{else }
    <div class="third-pay">
        #{form @payIt(), target:play.Play.runingInTestMode() ? "_self" : "_blank", id: "pay_it_form"}
            <div class="third-method">已选择 <span>${paymentSource.name}</span> 支付 ${order.discountPay} 元</div>
            <input name="paymentCode" value="${paymentSource.code}" type="hidden"/>
            <input name="orderNumber" value="${order.orderNumber}" type="hidden"/>
            <input class="third-confirm" type="submit" value="确认支付" id="confirm_pay_it"/>
            <a href="/payment_info/${order.orderNumber}">返回重新选择支付方式</a>
        #{/form}
        <script type="text/javascript">
        $(function(){
            $(window).scroll(function(){reset_result_dialog()});
            $(window).resize(function(){reset_result_dialog()});

            $("#confirm_pay_it").click(function(){
                $("#full_bg").css({display:"block"});
                reset_result_dialog();
                $(this).attr("disabled","disabled");
                $("#pay_it_form").submit();
                return false;
            });
        });
        </script>
    </div>
#{/else}


#{/if}

#{if !order}
<div style="padding:20px auto">
    对不起，找不到您所需要的订单 :(
</div>
#{/if}

</div>
