#{extends 'layout_operate/layout.html' /}
#{include 'share/nav.html' /}
#{set title:'导入渠道订单' /}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>

<legend>${title}</legend>
#{form @ImportPartnerOrders.upload(), method:'POST', class:'well form-horizontal', enctype:'multipart/form-data'}
<div class="control-group">
    <label class="control-label">选择渠道</label>

    <div class="controls">
        #{select 'partner', class:'input-medium' }
            #{list items:models.order.OuterOrderPartner.values(), as:'partner'}
            #{option partner.toString().toLowerCase()}${partner.partnerName()}#{/option}
        #{/list}
        #{/select}
    </div>
</div>
<div class="control-group">
    <label class="control-label">上传文件</label>

    <div class="controls">
        <input type="file" name="orderFile">
        <span class="help-block" style="color: red;">${msgInfo}${existedOrders}${notExistGoods}</span>
        <span class="help-block">注意：上传时，保证数据放在Sheet1.</span>
    </div>
</div>

<div class="control-group">
    <div class="controls">
        <button class="btn btn-primary" type="submit">上传</button>
    </div>
</div>
#{/form}
