#{extends 'layout_operate/layout.html' /}
#{include 'share/nav.html' /}
#{set title:'导入渠道订单' /}
<legend>${title}</legend>
#{form @ImportPartnerOrders.upload(), method:'POST', class:'well form-horizontal', enctype:'multipart/form-data'}
<div class="control-group">
    <label class="control-label">选择渠道</label>

    <div class="controls">
        #{select 'partner',id:'partner', class:'input-medium',value:partner}
            #{list items:models.order.OuterOrderPartner.values(), as:'partner'}
            #{option partner}${partner.partnerName()}#{/option}
        #{/list}
        #{/select}
    </div>
</div>
<div class="control-group">
    <label class="control-label">上传文件</label>

    <div class="controls">
        <input type="file" name="orderFile">
        <span class="help-block">注意：上传时，保证数据放在Sheet1.</span>
        <span class="help-block" style="color: red;" id="info">
        ${errorInfo}
            #{if unBindGoodsList?.size()>0}未映射关系的商品ID【${unBindGoodsList?.size()}】个：${unBindGoodsList?.join(",")}<br>#{/if}
            #{if notEnoughInventoryGoodsList?.size()>0}请先解决渠道商品ID：${notEnoughInventoryGoodsList?.join(",")}对应的一百券商品库存不足的问题！<br>#{/if}
            #{if existedOrderList?.size()>0}重复订单【${existedOrderList?.size()}】个：${existedOrderList?.join(",")}<br>#{/if}
            #{if importSuccessOrderList?.size()>0}外部订单导入成功【${importSuccessOrderList?.size()}】个:${importSuccessOrderList?.join(",")}#{/if}
        </span>
    </div>
</div>

<div class="control-group">
    <div class="controls">
        <button class="btn btn-primary" type="submit">上传</button>
    </div>
</div>
#{/form}
<script type="text/javascript">
    $("#partner").blur(function () {
        $("#info").html("");
    })

</script>
