#{extends 'layout_operate/layout.html' /}
#{include 'share/nav.html' /}
#{set title:'导入渠道订单' /}
<legend>${title}</legend>
#{form @ImportPartnerOrders.upload(), method:'POST', class:'well form-horizontal', enctype:'multipart/form-data'}
<div class="control-group">
    <label class="control-label">选择渠道</label>

    <div class="controls">
        #{select 'partner',id:'partner', class:'input-medium',value:partner}
            #{list items:models.order.OuterOrderPartner.values(), as:'partner'}
            #{if partner!=models.order.OuterOrderPartner.DD}
                #{option partner}${partner.partnerName()}#{/option}
            #{/if}
        #{/list}
        #{/select}
    </div>
</div>
<div class="control-group">
    <label class="control-label">上传文件</label>

    <div class="controls">
        <input type="file" name="orderFile">
        <span class="help-block">注意：上传时，保证数据放在Sheet1.</span>
        <span class="help-block" style="color: red;" id="err-info">
        ${errorInfo}
            #{if unBindGoodsSet}未映射关系的商品ID【${unBindGoodsSet.size()}】个：${unBindGoodsSet?.join(",")}<br>#{/if}
            #{if diffOrderPriceList}订单金额和一百券不一致，请核对【${diffOrderPriceList.size()}】个：${diffOrderPriceList?.join(",")}
                <br>#{/if}
        *{#{if notEnoughInventoryGoodsList}请先解决渠道商品ID：${notEnoughInventoryGoodsList?.join(",")}对应的一百券商品库存不足的问题！<br>#{/if}}*
            #{if existedOrderList}重复订单【${existedOrderList?.size()}】个：${existedOrderList?.join(",")}<br>#{/if}
            #{if unSetSupplierCodeList}订单在淘宝上可能未发货，对应商品没有商家编码。请确认有【${unSetSupplierCodeList?.size()}】个：${unSetSupplierCodeList?.join(",")}<br>#{/if}
        </span>
        <span class="help-block" style="color: green;" id="success-info">
            #{if importSuccessOrderList}外部订单导入成功【${importSuccessOrderList.size()}
                】个:${importSuccessOrderList?.join(",")}#{/if}
        </span>
    </div>
</div>

<div class="control-group">
    <div class="controls">
        <button class="btn btn-primary" type="submit">上传</button>
    </div>
</div>
#{/form}
<span>查看模板：</span>
#{list items:models.order.OuterOrderPartner.values(), as:'partner'}
    #{if partner != models.order.OuterOrderPartner.DD}
    <a href="@{ImportPartnerOrders.download(partner)}">${partner.partnerName()}</a>
    #{/if}
#{/list}


<legend>自动导入</legend>
<a class="btn btn-primary" href="/import-partner-orders/taobao-auto">自动导入淘宝订单</a>

<script type="text/javascript">
    $("#partner").blur(function () {
        $("#err-info").html("");
        $("#success-info").html("");
    })

</script>
