.voucher h3 {
    font-size: 14px;
}
.voucher .tips {
    padding: 2px 0 5px 15px;
    background: url(http://y1.uhcdn.com/images/2012/12/08e575947cc524f1.png) no-repeat 0 4px;
}
.voucher .tips a {
    color: blue;
}
/* .voucher-account { */
    /* margin: 20px 0 20px; */
/* } */
/* .voucher-account span { */
    /* padding: 0 5px; */
/* } */
/* .voucher-account span em { */
    /* color: red; */
    /* font-weight: 700; */
/* } */
.activate-form {
    width: 450px;
    padding: 10px 50px 0;
    margin-bottom: 20px;
    border: 1px solid #dcdcdc;
}
.activate-form .message {
    color: #d18136;
    width: 430px;
    padding: 2px 5px;
    margin-bottom: 10px;
    border: 1px solid #f7bd7d;
    background-color: #fffbf0;
}
.activate-form .failed {
    color: red;
    padding: 0 0 10px 15px;
    background: url(http://y1.uhcdn.com/images/2012/12/646e0de86617cfb2.png) no-repeat 0 2px;
}
.activate-form .success {
    color: green;
    padding: 0 0 10px 15px;
    background: url(http://y1.uhcdn.com/images/2012/12/eaeb93c7f909961f.png) no-repeat 0 3px;
}
.activate-form .field {
    position: relative;
    padding-left: 90px;
    margin-bottom: 10px;
    height: 26px;
}
.activate-form .field label {
    position: absolute;
    top: 5px;
    left: 0;
    width: 80px; 
    text-align: right;
}
.activate-form .field input {
    float: left;
    width: 200px;
    height: 24px;
    border: 1px solid #acacac;
}
.activate-form .btn {
    width: 67px;
    height: 25px;
    border: 0;
    cursor: pointer;
    background: url(//img.uhcdn.com/images/y/user/btn.png) no-repeat 0 0;
}
.activate-form .field .img {
    float: left;
    margin-left: 10px;
}
.activate-form .group {
    line-height: 22px;
    margin-bottom: 10px;
}
.activate-form .group .btn {
    margin-left: 76px;
}

.table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
}
.table th {
    padding: 5px;
    background-color: #eee;
    border: 1px solid #d4d4d4;
}
.table td {
    color: #787878;
    text-align: left;
    padding: 8px 5px;
    border: 1px dotted #d4d4d4;
}
