/* .user-account { */
    /* padding: 15px 0 10px; */
/* } */
/* .user-account span { */
    /* margin-right: 30px; */
/* } */
/* .user-account em { */
    /* color: #f00; */
    /* font-size: 14px; */
    /* font-weight: 700; */
/* } */

.recharge-form {
    margin: 20px 0 10px;
    padding: 20px 0 20px 30px;
    border-top: 1px dashed #C2C2C2;
    border-bottom: 1px dashed #C2C2C2;
}
.recharge-form .item {
    clear: both;
    padding: 10px 0;
    overflow: hidden;
    _zoom: 1;
}
.recharge-form .item label {
    float: left;
    width: 65px;
    line-height: 22px;
}
.recharge-form .item input {
    float: left;
    width: 160px;
    height: 22px;
    line-height: 22px;
}
.recharge-form .item img {
    float: left;
    margin-left: 10px;
    border: 1px solid #F3F3F3;
}
.recharge-form .item .diff-code {
    float: left;
    margin-left: 8px;
    line-height: 26px;
}
.recharge-form  .item .error {
    float: left;
    color: red;
    padding: 4px 5px 4px 8px;
}
.recharge-form .item .cash {
    color: red;
    font-weight: 700;
}
.recharge-form .item-btn {
    padding-left: 66px;
}
.recharge-form .recharge-btn {
    border: 0;
    width: 67px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: url(//img.uhcdn.com/images/y/user/btn.png) no-repeat 0 0;
}
.recharge-form .item-error {
    color: red;
    font-size: 14px;
    padding-left: 28px;
    background: url(//img.uhcdn.com/images/y/user/recharge-icon.png) no-repeat 0 8px;
}
.recharge-form .item-success {
    color: #4fc416;
    font-size: 14px;
    padding-left: 28px;
    background: url(//img.uhcdn.com/images/y/user/recharge-icon.png) no-repeat 0 -44px;
}
.recharge-instruction strong {
    color: red;
    line-height: 28px;
}
.recharge-instruction span {
    font-weight: 700;
}
