.user-account {
    padding: 15px 0 10px;
}
.user-account strong {
    margin-right: 30px;
}
.user-account span {
    color: #f00;
    font-size: 14px;
    font-weight: 700;
}

.search-box {
    padding: 20px 0;
}
.search-box .sequence-flag {
    height: 25px;
    width: 100px;
    padding: 1px;
    margin-right: 10px;
}
.search-box input {
    height: 21px;
}
.search-box .search-btn {
    position: relative;
    top: -1px;
    width: 67px;
    height: 25px;
    border: 0;
    cursor: pointer;
    margin-left: 13px;
    *margin-left: 10px;
    _margin-left: 17px;
    background: url(//img.uhcdn.com/images/y/user/btn.png) no-repeat 0 0;
}
.search-box .search-btn:hover {
    background-position: 0 -26px;
}


.order-tab {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
.order-tab th {
    color: #fff;
    padding: 5px 0;
    background-color: #adadad;
    border: 1px solid #adadad;
}
.sep-row td {
    height: 10px;
}
.order-bd td {
    color: #787878;
    text-align: center;
    padding: 10px 5px;
    border: 1px solid #d4d4d4;
}
.order-bd .get-integral {
    color: #91ce00;
}
.order-bd .use-integral {
    color: #f00;
}
.order-bd .current-integral {
    color: #f00;
}
