.user-account {
    padding: 15px 0 10px;
}
.user-account strong {
    margin-right: 30px;
}
.user-account span {
    color: #f00;
    font-size: 14px;
    font-weight: 700;

}
.user-account .withdraw-btn {
    float: right;
    width: 67px;
    height: 25px;
    *margin-top: -30px;
    line-height: 25px;
    border: 0;
    text-align: center;
    background: url(//img.uhcdn.com/images/y/user/btn.png) no-repeat 0 0;
}

.order-tab {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
.order-tab th {
    color: #fff;
    padding: 5px 0;
    background-color: #adadad;
    border: 1px solid #adadad;
}
.order-bd td {
    color: #787878;
    text-align: center;
    padding: 10px 5px;
    border: 1px solid #d4d4d4;
}
.order-bd .apply-money {
    font-weight: 700;
}
.order-bd .pending-approval {
    color: #787878;
}
.order-bd .approval-success {
    color: #91ce00;
}
.order-bd .rejected {
    color: #f00;
}
.order-bd .view-detail {
    color: #26a7e0;
}

.withdraw-tab td {
    color: #787878;
    padding: 4px 0;
}
.withdraw-tab .right {
    text-align: right;
}
.withdraw-tab .required {
    color: #f00;
    padding: 0 3px;
    font-family: sans-serif;
}
.withdraw-tab .long-input {
    width: 180px;
    height: 20px;
}
.withdraw-tab select.long-input {
    width: 100px;
    height: 24px;
}
.withdraw-tab .balance-tips em {
    color: #fa7612;
}
.withdraw-tab .search-btn {
    width: 67px;
    height: 25px;
    border: 0;
    cursor: pointer;
    background: url(http://img.uhcdn.com/images/u/u_btn.png) repeat-x 0 0;
}
.apply-tips {
    margin-top: 45px;
    padding-top: 20px;
    border-top: 1px dashed #c2c2c2;
}
.apply-tips h4 {
    color: #787878;
    line-height: 28px;
}
.apply-tips li {
    color: #787878;
    line-height: 24px;
}
.apply-tips table {
    margin: 10px 0 15px 18px;
}
.apply-tips table th,
.apply-tips table td {
    color: #9e9e9e;
    padding: 3px;
    border: 1px solid #d5d5d5;
}
