.rebate-help h3 {
    color: #ff6900;
    line-height: 22px;
}

.user-account {
    padding: 10px 0;
    margin-left: 20px;
}
.rebate-info {
    padding: 10px 0;
    margin-left: 20px;
}
.rebate-info span {
    color: #f00;
}
/* .exchange-btn { */
    /* margin-left: 20px; */
    /* border: 0; */
    /* width: 86px; */
    /* height: 30px; */
    /* background: url(//img.uhcdn.com/images/y/user/exchange-btn.png) no-repeat 0 0; */
/* } */
.recommend-share {
    color: #fff;
    padding: 5px 8px;
    margin: 10px 0;
    background-color: #adadad;
}
.recommend-linkbox {
    position: relative;
    padding: 15px 20px;
    margin-bottom: 10px;
    border: 1px solid #ffc49b;
    background-color: #ffffe6;
}
.recommend-linkbox .link {
    padding: 15px;
    border: 1px solid #b0aaaa;
    border-radius: 3px;
    background-color: #fff;
}
.recommend-linkbox .link a {
    color: #2a80cc;
}
.recommend-linkbox .method {
    margin: 8px 0;
}
.recommend-linkbox .method a {
    padding: 3px 10px 4px;
    display: inline-block;
    border: 1px solid #b0aaaa;
    border-radius: 3px;
    background: url(//img.uhcdn.com/images/y/user/a_bg.png) repeat-x 0 -1px;
}
.recommend-linkbox .weibo i {
    float: left;
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url(//img.uhcdn.com/images/y/user/weibo.png) repeat-x 0 2px;
}
.recommend-linkbox .copy-success-tips {
    padding: 10px 20px;
    width: 200px;
    border: 1px solid #E8E8E8;
    background-color: #F8F8F8;
}

/* 收支明细 {{{ */
.search-box {
    padding: 20px 0;
}
.search-box .sequence-flag {
    height: 25px;
    width: 100px;
    padding: 1px;
    margin-right: 10px;
}
.search-box input {
    height: 21px;
}
.search-box .search-btn {
    position: relative;
    top: -1px;
    width: 67px;
    height: 25px;
    border: 0;
    cursor: pointer;
    margin-left: 13px;
    *margin-left: 10px;
    _margin-left: 17px;
    background: url(//img.uhcdn.com/images/y/user/btn.png) no-repeat 0 0;
}
.search-box .search-btn:hover {
    background-position: 0 -26px;
}
.order-tab {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
.order-tab th {
    color: #fff;
    padding: 5px 0;
    background-color: #adadad;
    border: 1px solid #adadad;
}
.sep-row td {
    height: 10px;
}
.order-bd td {
    color: #787878;
    text-align: center;
    padding: 10px 5px;
    border: 1px solid #d4d4d4;
}
/* }}} */
/* 推荐排名 {{{ */
.rebate-rank {
    padding: 10px 30px;
}
.rebate-rank li {
    margin: 25px 0;
    padding-left: 30px;
    background: url(//img.uhcdn.com/images/y/user/rank.png) no-repeat 0 0;
}
.rebate-rank li span {
    color: #787878;
}
.rebate-rank li em {
    color: #f96e0f;
    font-weight: 700;
}
.rebate-rank .rank-1 {
    background-position: 0 0;
}
.rebate-rank .rank-2 {
    background-position: 0 -45px;
}
.rebate-rank .rank-3 {
    background-position: 0 -92px;
}
.rebate-rank .rank-4 {
    background-position: 0 -132px;
}
.rebate-rank .rank-5 {
    background-position: 0 -170px;
}
.curr-rank {
    width: 340px;
    padding: 5px 5px 5px 35px;;
    margin: 0 0 0 25px;
    border: 1px solid #ff9f5c;
    background: #fffdc6 url(//img.uhcdn.com/images/y/user/rank.png) no-repeat 7px -194px;
}
.curr-rank em {
    color: #f96e0f;
    font-weight: 700;
}
/* }}} */
