.order-detail {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
.order-detail h3 {
    font-size: 14px;
    padding-bottom: 5px;
}
.order-detail caption {
    text-align: left;
    padding: 5px 0;
}
.order-detail caption span {
    padding-right: 20px;
}
.order-detail th {
    color: #fff;
    padding: 5px 0;
    background-color: #adadad;
    border: 1px solid #adadad;
}
.col-name .order-status {
    height: 22px;
    padding: 1px;
}
.order-bd td {
    padding: 10px 5px;
    border: 1px solid #d4d4d4;
}
.select-all {
    position: relative;
    top: 3px;
    margin-right: 3px;
}
.btn {
    padding: 8px 0;
}
.btn .refund {
    padding: 4px 8px;
    border: 0;
    color: #9AC82B;
    background: none;
    cursor: pointer;
}
