#{extends 'layout_trader/layout2.html' /}
#{set title:'发货单下载' /}
#{set menu:"download-order-shipping" /}

<div class="bd">
    <h2>${title}</h2>
#{if returnEntryCount > 0}
*{提示显示层}*
    <table cellspacing="0" cellpadding="0" border="0" class="title-table">
        <tr>
            <td width="100%"><strong>有 ${returnEntryCount} 个待确认退货单，请及时处理，以免误发货，造成损失。<a href="/real/return-entries">查看</a></strong>
            </td>
        </tr>
    </table>
#{/if}

    <table cellspacing="0" cellpadding="0" border="0" class="title-table">
        <tr>
            <th wdith="50%">待发货订单数：${orderItemsList?.size()}</th>
            <th wdith="20%"><span style="color:rgb(255, 112, 0)">【红色连接表示该发货单中收货人信息有变动，请重新下载】</span></th>
        #{if orderItemsList}
            <td wdith="30%" align="left">
                <a class="btn" href="@{SupplierDownloadOrderShippingInfos.exportOrderShipping()}">下载</a></td>
            </td>
        #{/if}
        </tr>
    </table>

    <table cellspacing="0" cellpadding="0" border="0" class="standard-table">
        <thead>
        <tr>
            <th>生成人</th>
            <th>生成时间</th>
            <th>下载批次号</th>
            <th>订单数</th>
            <th>操 作</th>
        </tr>
        </thead>

        <tbody>
        #{paginate.list items:orderBatchList, as:'orderBatch' }
        <tr>
            <td>${orderBatch.createdBy}</td>
            <td align="left">${orderBatch.createdAt.format('yyyy-MM-dd HH:mm:ss')}</td>
            <td>${orderBatch.id}</td>
            <td>${orderBatch.orderCount}</td>
            <td>
                <a href="@{SupplierDownloadOrderShippingInfos.exportOrderShipping(orderBatch.id)}" #{if orderBatch.changedInfo}style="color: red"#{/if}>下载</a>
            </td>
        </tr>
        #{/paginate.list}
        </tbody>
    </table>
#{paginate.controls items:orderBatchList /}
</div>
