#{extends 'layout_trader/layout2.html' /}
#{include 'Share/nav.html' /}
#{set title:'预约' /}
#{set menu:"appointment_coupon" /}
#{set 'moreStyles'}
    #{asset.css src:['/m/verify.css'] /}
#{/set}
<div class="bd batch-verify">
    <h2>${title}</h2>

    <form id="coupon-form" action="@{SupplierAppointments.showAppointmentCoupon()}">
        <div class="field-sect">
            <div class="field-group">
                <label>选择分店</label>
            #{if shop == null}
                #{select 'shopId', id:"shopId", value:shopId}
                    #{list items:shopList, as:'shop'}
                        #{option shop?.id}${shop?.name}#{/option}
                    #{/list}
                #{/select}
            #{/if}
            #{else}
                <p>${shop?.name}</p>
                <input type="hidden" name="shopId" id="shopId" value="${shop?.id}"/>
            #{/else}
            </div>
            <div class="field-group">
                <label class="coupon-label" for="enter-coupon">输入9位券号</label>
                <input type="text" size="12" maxlength="12" name="couponSn" autofocus="true" id="enter-coupon"
                       class="enter-coupon" value="${couponSn}"/>
                <button class="btn add-coupon" type="submit" id="query">查询</button>
            #{if errors?.size()>0}
                <span style="border:1px solid #ff0000;color:#ff0000;line-height: 2;margin-left: 20px;">#{error 'error-info' /}</span>
            #{/if}
            </div>
        </div>
        <table cellspacing="0" cellpadding="0" border="0" class="coupons-table" id="coupons-table">
            <tr>
                <th width="100">商品名称</th>
                <th width="70">面值</th>
                <th width="110">预约券号</th>
                <th width="110">预约订金</th>
                <th width="85">有效期</th>
            </tr>
        #{if ecoupon}
            <tr>
                <td>${ecoupon.goods.shortName}</td>
                <td>${ecoupon.faceValue}</td>
                <td>${ecoupon.eCouponSn}</td>
                <td>${ecoupon.advancedDeposit}</td>
                <td>${ecoupon.expireAt}</td>
            </tr>
        #{/if}
        </table>
        <div class="verify-sect">
            <a id="verify-btn"
               #{if errors}class="btn batch-verify disabled"#{/if}#{else}class="btn batch-verify"#{/else}
               href="javascript:void(0);">预约</a>
        </div>
    </form>
</div>

#{set 'moreScripts'}

#{/set}