#{extends 'layout_trader/layout2.html' /}
#{include 'Share/nav.html' /}
#{set title:'修改预约信息' /}
#{set menu:"appointment_coupon_edit" /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
<div class="bd batch-verify">
    <h2>${title}</h2>

    <form id="coupon-form" action="@{SupplierAppointments.update(coupon.id)}" method="POST">
        <div id="coupon-info">
            <div class="field-group">
                <label class="coupon-label">预约日期</label>
                <input class="time" type="text" id="appointmentDate" name="appointmentDate"
                       value="${coupon.appointmentDate?.format('yyyy-MM-dd')}"
                       onfocus="WdatePicker({readOnly:true,minDate:'%y-%M-%d'})"/>
                <span id="appointmentDate-error-info" style="color: red;margin-left: 10px;"></span>
            </div>
            <div class="field-group">
                <label class="coupon-label" for="appointmentRemark">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注</label>
                <input type="text" style="width: 380px" maxlength="9" name="appointmentRemark" id="appointmentRemark"
                       class="time" value="${coupon.appointmentRemark}"/>
            </div>
            <div class="field-group">
                <button class="btn add-coupon" type="submit" id="appointment">修改</button>
            </div>
        </div>
    #{if errors}
        <span id="err"
              style="border:1px solid #ff0000;color:#ff0000;line-height: 2;margin-left: 110px;font-size: 18px">#{error 'error-info' /}</span>
    #{/if}
    </form>
</div>