#content {
    clear: both;
    width: 960px;
    margin: 10px auto;
}
.order {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #dcdfe5;
}

.addr-hd b {
    color: #666;
}
.addr-hd a {
    color: #9ac72c;
}
.addr-bd {
    margin: 20px 0;
	padding: 20px 30px;
    background-color: #fafafa;
    border-bottom: 1px solid #dde0e6;
}
.addr-bd .save-addr,
.addr-bd .save-new-addr {
	display: block;
	margin: 5px 0;
	padding: 0 5px;
	width: 130px;
	color: #F8F8F8;
	font-weight: 700;
	text-align: center;
	line-height: 28px;
	background-color: #9ac72c;
	border-radius: 1px;
}
.addr-bd .save-addr:hover,
.addr-bd .save-new-addr:hover {
	text-decoration: none;
}
.addr-all li {
    line-height: 32px;
    border-top: 1px solid #f2f2f2;
}
.addr-all li.first {
    border-top: 0;
}
.addr-all li input,
.addr-all li label {
	vertical-align: middle;
}
.addr-list {
    padding: 0 8px;
    border: 1px solid #dcdfe5;
    background-color: #fff;
}
.addr-one {
    float: left;
    width: 720px;
}
.addr-one .addr-user {
    display: inline-block;
    width: 80px;
}
.addr-action {
	position: relative;
	float: right;
}
.addr-action a {
	color: #99c928;
    margin-right: 25px;
}
.addr-action a:hover {
	*text-decoration: none;
}
.addr-action .addr-del-confirm {
	position: absolute;
	top: -55px;
	left: 18px;
	padding: 2px 8px;
	width: 120px;
	line-height: 25px;
	border: 1px solid #83d0cc;
	background-color: #FFF;
}
.addr-action .addr-del-confirm b {
	color: #25B4AB;
	padding: 3px 5px;
	font-weight: normal;
	cursor: pointer;
}
.addr-action .addr-del-confirm img {
	position: absolute;
	top: 52px;
	left: 40px;
}
.addr-new {
    padding: 8px;
	border-bottom: 1px dotted #666;
}
.addr-new input,
.addr-new label {
    vertical-align: middle;
}


.edit-addr {
    width: 100%;
}
.edit-addr .left {
    width: 80px;
}
.edit-addr .left em {
    padding-right: 5px;
    color: #f00;
}
.edit-addr td {
    padding: 8px 2px;
    color: #656565;
    font: 12px/1.5 宋体, sans-serif;
}
.edit-addr .right .error {
    color: #f00;
}
.edit-addr .addr-name,
.edit-addr .addr-street,
.edit-addr .addr-post,
.edit-addr .addr-mobile,
.edit-addr .addr-phone {
    height: 20px;
    width: 180px;
    padding: 2px;
    border: 1px solid #a5afc3;
}
.edit-addr .addr-street {
    width: 320px;
}
.edit-addr .addr-prov,
.edit-addr .addr-city,
.edit-addr .addr-dist {
    height: 26px;
    padding: 2px;
    border: 1px solid #a5afc3;
}


.addr-sure .sure-name {
    display: inline-block;
    width: 80px;
}
.addr-sure .sure-mobi {
    display: inline-block;
    width: 120px;
    text-align: right;
}



.orderlist {
    width: 100%;
}
.orderlist caption {
    padding-bottom: 5px;
    color: #666;
    text-align: left;
    font-weight: 700;
}
.orderlist thead th {
    padding: 6px;
    color: #fff;
    background-color: #d6d6d6;
}
.orderlist tbody td {
    text-align: center;
    padding: 8px 3px;
}
.freight,
.subtotal {
    padding-top: 10px;
    text-align: right;
}
.subtotal em {
    color: #f50;
}
/* .freight { */
    /* border-top: 1px solid #7a7f89; */
/* } */

.mobi .mobi-hd {
    color: #666;
    font-weight: 700;
}
.mobi .mobi-bd {
    margin: 20px 0;
	padding: 20px 30px;
    color: #666;
    background-color: #fafafa;
    border-bottom: 1px solid #dde0e6;
}
.mobi .receive-mobi em {
    padding-right: 5px;
    color: #f00;
    font: normal 12px/1.5 宋体, sans-serif;
}
.mobi .receive-mobi input {
    padding: 2px;
    height: 20px;
    border: 1px solid #a5afc3;
}
.mobi .mobi-bd dl {
    padding: 15px 0 15px 70px;
}
.mobi .mobi-bd dt {
    float: left;
    margin-left: -70px;
    _margin-left: -35px;
    padding: 5px 0 5px 10px;
}
.mobi .mobi-bd dl span {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 20px 10px 0;
    border: 1px solid #ebecef;
    color: #afafaf;
    cursor: pointer;
}
.mobi .mobi-bd dl span.selected {
    border: 1px solid #9ac72c;
    color: #656565;
}

.explain {
    float: left;
}
.explain-hd {
    padding-left: 20px;
    color: #656565;
    font-weight: 700;
	cursor: pointer;
}
.explain-bd {
    padding: 5px 0;
}
.explain-bd .tips {
    color: #a9a9a9;
    text-align: right;
}
.explain-text {
    width: 340px;
    height: 65px;
}

.totalize {
    text-align: right;
    line-height: 32px;
}
.totalize em {
    color: #f50;
    font-size: 24px;
    font-weight: 700;
}
.confirm-order {
    width: 127px;
    height: 39px;
    color: #F8F8F8;
    font-weight: 700;
    line-height: 39px;
    margin: 0 0 0 20px;
    text-align: center;
    text-indent: -999px;
    display: inline-block;
    background: #f76b22 url(//img/uhcdn.com/images/y/jifen/confirm-order.png) no-repeat 0 0;
}
.confirm-order:hover {
    text-decoration: none;
}
