#{extends 'layout_trader/supplier_help_page_layout.html' /}
#{set title:'如何验证券？' /}
#{set menu:"how-to-change-password" /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/flash.js'}" type="text/javascript"
        charset="UTF-8"></script>


#{/set}
<link href="@{'/public/stylesheets/supplier_help.css'}" rel="stylesheet">
<div class="bd">
    <h2>${title}</h2>

    <h5>建议及时修改系统分配的默认密码，保护您的账号安全。</h5>

    <h5><br/></h5>

    <h5>1.进入商户后台后，点击右上角的“修改密码”</h5>

    <p><img class="confluence-embedded-image" confluence-query-params="effects=border-simple,blur-border"
            src="http://img.uhcdn.com/images/help/6194000/6389799.png?effects=border-simple,blur-border"
            data-image-src="http://img.uhcdn.com/images/help/6194000/6389799.png?effects=border-simple,blur-border"
            ></p>

    <h5>2.依次输入原密码、新密码、并确认新密码，“确认”后新密码即可生效</h5>

    <p><img class="confluence-embedded-image" confluence-query-params="effects=border-simple,blur-border"
            src="http://img.uhcdn.com/images/help/6194000/6389802.png?effects=border-simple,blur-border"
            data-image-src="http://img.uhcdn.com/images/help/6194000/6389802.png?effects=border-simple,blur-border"
            ></p>
</div>