#{extends 'layout_trader/supplier_help_page_layout.html' /}
#{set title:'如何管理门店账号？' /}
#{set menu:"how-to-manage-users" /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/flash.js'}" type="text/javascript"
        charset="UTF-8"></script>
#{/set}
<link href="@{'/public/stylesheets/supplier_help.css'}" rel="stylesheet">
<div class="bd">
    <h2>${title}</h2>

    <h5>1.选择“账号管理”</h5>

    <p>注：只有总店账号才能管理门店账号</p>

    <p><img class="confluence-embedded-image" confluence-query-params="effects=border-simple,blur-border"
            src="http://img.uhcdn.com/images/help/6194020/6389815.png?effects=border-simple,blur-border"
            data-image-src="http://img.uhcdn.com/images/help/6194020/6389815.png?effects=border-simple,blur-border"
            ></p>

    <h5>2.管理账号：</h5>

    <p>点击门店列表右上角的“新增账号”，填写相关信息并“确定”保存新的账号信息</p>

    <p>点击“修改”更改账号的角色权限、手机号、工号、所属门店信息</p>

    <p>点击“删除”将删除该账号，删除后该账号将无法登录一百券商户后台，请谨慎操作！</p>

    <p><img class="confluence-embedded-image" confluence-query-params="effects=border-simple,blur-border"
            src="http://img.uhcdn.com/images/help/6194020/6389816.png?effects=border-simple,blur-border"
            data-image-src="http://img.uhcdn.com/images/help/6194020/6389816.png?effects=border-simple,blur-border"
            style="width: 680px;"
            ></p>
</div>