#{extends 'layout_trader/supplier_help_page_layout.html' /}
#{set title:'如何管理商户门店信息？' /}
#{set menu:"how-to-manage-shops" /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/flash.js'}" type="text/javascript"
        charset="UTF-8"></script>
#{/set}
<link href="@{'/public/stylesheets/supplier_help.css'}" rel="stylesheet">
<div class="bd">
    <h2>${title}</h2>

    <h5>1.选择“我的门店”</h5>

    <p><span>注：只有总店账号才能管理门店信息</span></p>

    <p><img class="confluence-embedded-image" confluence-query-params="effects=border-simple,blur-border"
            src="http://img.uhcdn.com/images/help/6194018/6389813.png?effects=border-simple,blur-border"
            data-image-src="http://img.uhcdn.com/images/help/6194018/6389813.png?effects=border-simple,blur-border"
            ></p>

    <h5>2.管理门店信息：</h5>

    <p>点击门店列表右上角的“新增门店”，填写相关信息并“确定”保存新的门店信息（注：如要在该门店验证消费券还需要添加操作员账户）</p>

    <p>点击“修改”更改门店的地址、电话信息</p>

    <p>点击“删除”将删除该门店，删除后消费者无法在该门店使用消费券，请谨慎操作！</p>

    <p><img class="confluence-embedded-image" confluence-query-params="effects=border-simple,blur-border"
            src="http://img.uhcdn.com/images/help/6194018/6389814.png?effects=border-simple,blur-border"
            style="width: 680px;"
            data-image-src="http://img.uhcdn.com/images/help/6194018/6389814.png?effects=border-simple,blur-border"
            ></p>

</div>
