#{extends 'layout_trader/supplier_help_page_layout.html' /}
#{set title:'如何查看账户资金变动？' /}
#{set menu:"how-to-view-accountsequences" /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/flash.js'}" type="text/javascript"
        charset="UTF-8"></script>


#{/set}
<link href="@{'/public/stylesheets/supplier_help.css'}" rel="stylesheet">
<div class="bd">
    <h2>${title}</h2>

    <h5>1.选择“财务明细”</h5>

    <p><img class="confluence-embedded-image" confluence-query-params="effects=border-simple,blur-border"
            src="http://img.uhcdn.com/images/help/6194010/6389811.png?effects=border-simple,blur-border"
            data-image-src="http://img.uhcdn.com/images/help/6194010/6389811.png?effects=border-simple,blur-border"
            ></p>

    <h5>2.选择查询条件：</h5>

    <p>选择要查询的交易时间段、资金流向和交易类型，点击“查询”</p>

    <p><img class="confluence-embedded-image" confluence-query-params="effects=border-simple,blur-border"
            src="http://img.uhcdn.com/images/help/6194010/6389812.png?effects=border-simple,blur-border"
            data-image-src="http://img.uhcdn.com/images/help/6194010/6389812.png?effects=border-simple,blur-border"
            style="width: 680px;"></p>

</div>