#{extends 'layout_trader/supplier_help_page_layout.html' /}
#{set title:'如何查看已经验证的券号？' /}
#{set menu:"how-to-view-verified-coupons" /}
#{set 'moreScripts'}


#{/set}
<link href="@{'/public/stylesheets/supplier_help.css'}" rel="stylesheet">
<div class="bd">
    <h2>${title}</h2>

    <h5>1.选择”券号列表“</h5>

    <h5><img class="confluence-embedded-image" confluence-query-params="effects=border-simple,blur-border"
                    src="http://img.uhcdn.com/images/help/6193996/6389808.png?effects=border-simple,blur-border"
                    data-image-src="http://img.uhcdn.com/images/help/6193996/6389808.png?effects=border-simple,blur-border"
                    ></h5>

    <h5>2.选择查询条件：</h5>

    <p>选择您需要查询的验证门店、验证方式以及验证时间，点击“查询”</p>

    <p><img class="confluence-embedded-image" confluence-query-params="effects=border-simple,blur-border"
            src="http://img.uhcdn.com/images/help/6193996/6389809.png?effects=border-simple,blur-border"
            data-image-src="http://img.uhcdn.com/images/help/6193996/6389809.png?effects=border-simple,blur-border"
            style="width: 680px;"
            ></p>

    <h5>3.查看查询结果：</h5>

    <p>查询结果会直接显示在下方，也可以通过右侧的”导出“按钮导出excel格式的报表</p>

    <p><img class="confluence-embedded-image" confluence-query-params="effects=border-simple,blur-border"
            src="http://img.uhcdn.com/images/help/6193996/6389810.png?effects=border-simple,blur-border"
            data-image-src="http://img.uhcdn.com/images/help/6193996/6389810.png?effects=border-simple,blur-border"
            style="width: 680px;"
            ></p>

</div>