#{extends 'layout_trader/supplier_help_page_layout.html' /}
#{set title:'如何查看销售业绩？' /}
#{set menu:"how-to-view-reports" /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/flash.js'}" type="text/javascript"
        charset="UTF-8"></script>
#{/set}
<link href="@{'/public/stylesheets/supplier_help.css'}" rel="stylesheet">
<div class="bd">
    <h2>${title}</h2>
    <h5>1.选择“报表一览”</h5>

    <p><img class="confluence-embedded-image" confluence-query-params="effects=border-simple,blur-border"
            src="http://img.uhcdn.com/images/help/6194014/6389817.png?effects=border-simple,blur-border"
            data-image-src="http://img.uhcdn.com/images/help/6194014/6389817.png?effects=border-simple,blur-border"
            ></p>

    <h5>2.选择“查询条件”：</h5>

    <p>选择想要查询的商品、消费门店、消费日期并点击查询</p>

    <p><img class="confluence-embedded-image" confluence-query-params="effects=border-simple,blur-border"
            src="http://img.uhcdn.com/images/help/6194014/6389818.png?effects=border-simple,blur-border"
            style="width: 680px;"
            data-image-src="http://img.uhcdn.com/images/help/6194014/6389818.png?effects=border-simple,blur-border"
           ></p>

    <h5>3.导出数据：</h5>

    <p>点击图表右上角的图标，可以打印、导出查询结果（支持导出excel报表、图片格式）</p>

    <p><img class="confluence-embedded-image" confluence-query-params="effects=border-simple,blur-border"
            src="http://img.uhcdn.com/images/help/6194014/6389819.png?effects=border-simple,blur-border"
            style="width: 680px;"
            data-image-src="http://img.uhcdn.com/images/help/6194014/6389819.png?effects=border-simple,blur-border"
            ></p>
</div>