/**
 * CSS RESET START {{{
 * **/
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ { margin: 0; padding: 0; }

/** 设置默认字体 **/
body, a, button, input, select, textarea /* for ie */ { color: #3E3E3E; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }
a:hover { text-decoration: underline; }

sup { vertical-align: text-top; } /* 重置，减少对行高的影响 */
sub { vertical-align: text-bottom; }

/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/* 重置 HTML5 元素 */
article, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section,
summary, time, mark, audio, video { display: block; margin: 0; padding: 0; }
mark { background: #ff0; }

/** 清除浮动 **/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    *+height: 1%;
}
/**
 * CSS RESET END }}}
 * **/

/** 顶通 **/
#topbar {
    height: 25px;
    overflow: hidden;
    line-height: 25px;
}
#topbar-bd {
    width: 960px;
    margin: 0 auto;
}
#topbar-bd .site-nav li {
    float: left;
}
#topbar-bd .site-nav li a {
    padding: 0 15px;
    color: #707070;
}
#topbar-bd .site-nav li a:hover {
    color: #f96e0f;
}
#topbar-bd .site-nav .login,
#topbar-bd .site-nav .signup {
    color: #f96e0f;
}
#topbar-bd .site-nav .favorite {
    padding-left: 25px;
}
#topbar-bd .site-nav .first a {
    padding-left: 0;
}
#topbar-bd .site-nav .last {
    background: none;
    padding: 1px 0 0 10px;
}
#topbar-bd .share {
    float: right;
    color: #707070;
}
#topbar-bd .share .bds_more {
    line-height: 15px;
}

/** 头部 **/
#header {
    *position: relative;
    z-index: 200;
    width: 960px;
    margin: 0 auto;
}
#logo, #promise {
    float: left;
    font-size: 0;
}
#cart {
    float: right;
    margin-top: 45px;
}
#cart .cart-box {
    position: relative;
    float: left;
}
#cart .cart-box-hd {
    position: relative;
    z-index: 210;
    _float: left;
    padding: 1px 16px 5px 6px;
    border: solid #d4d4d4;
    border-width: 0;
    background-color: #fff;
}
#cart .hover .cart-box-hd {
    padding: 0 15px 5px 5px;
    border: solid #d4d4d4;
    border-width: 1px 1px 0 1px;
}
#cart .cart-box-hd .cart-icon {
    float: left;
    display: inline-block;
    padding: 3px 5px 0 22px;
    color: #fc7410;
}
#cart .cart-box-hd .cart-num {
    float: left;
    display: inline-block;
    padding-top: 3px;
}
#cart .cart-box-hd .cart-num em {
    color: #fc7410;
}
#cart .cart-box-hd .arrow {
    position: absolute;
    top: 11px;
    right: 5px;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-left: 4px dashed transparent;
    border-right: 4px dashed transparent;
    border-top: 4px solid #aaa9a8;
}
#cart .hover .cart-box-hd .arrow {
    top: 10px;
    right: 4px;
}
#cart .cart-box-bd {
    display: none;
    position: absolute;
    top: 26px;
    left: 0;
    z-index: 200;
    border: 1px solid #d4d4d4;
    width: 220px;
    background-color: #fff;
}

#cart .hover .cart-box-bd {
    display: block;
}
#cart .cart-box-bd ul {
    margin: 8px 7px;
}
#cart .cart-box-bd .carts-item {
    position: relative;
    padding: 3px 0;
    border-bottom: 1px dotted #e4e4e4;
}
#cart .cart-box-bd .goods-img {
    float: left;
    margin: 4px 5px 0 0;
}
#cart .cart-box-bd .goods-name {
    display: block;
    float: left;
    width: 150px;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
#cart .cart-box-bd .goods-price {
    display: block;
    float: left;
    color: #f00;
    font: 700 12px arial;
}
#cart .cart-box-bd .goods-del {
    position: absolute;
    right: 2px;
    bottom: 9px;
    _bottom: 0px;
    display: block;
    width: 9px;
    height: 9px;
    cursor: pointer;
}
#cart .cart-box-bd .emptycart {
    padding: 15px 10px;
    color: #fa7512;
    font-weight: 700;
}
#cart .cart-box-bd .totalcart {
    padding: 6px 7px;
    color: #7d7d7d;
    background-color: #e8e8e8;
}
#cart .cart-box-bd .totalcart em {
    color: #f00;
    font-weight: 700;
}
#cart .cart-box-bd .totalcart a {
    float: right;
    *margin-top: -25px;
    width: 44px;
    color: #fff;
    padding: 0px 0 4px;
    text-align: center;
}
#cart .cart-box-bd .totalcart a:hover {
    text-decoration: none;
}

#cart .cart-btn {
    float: left;
    display: inline-block;
    padding: 1px 10px 6px;
    margin-left: 2px;
    color: #fff;
}
#cart .cart-btn:hover {
    text-decoration: none;
}

/** 导航 **/
#navbar {
    height: 42px;
}
#nav {
    width: 960px;
    margin: 0 auto;
}
#nav a {
    display: block;
    float: left;
    padding: 0 28px;
    margin: 3px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 38px;
}
#nav .curr,
#nav a:hover {
    background: #d6480a url(http://img.uhcdn.com/images/y/nav-curr-bg.png) repeat-x 0 0;
}
#nav a:hover {
    text-decoration: none;
}

/** 页尾 **/
#footer {
    position: relative;
    padding: 20px 0 35px;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #d5d5d5;
    background-color: #F9F9F9;
}
.ft-nav {
    color: #909090;
    text-align: center;
}
.ft-nav a,
.ft-nav span {
    color: #707070;
    margin: 0 5px;
}
.copyright {
    color: #909090;
    line-height: 26px;
}
.copyright span {
    margin: 0 10px;
}
