#content {
    width: 960px;
    margin: 0 auto;
}

#full_bg {
    background-color: Gray;
    display: none;
    z-index: 3;
    position: absolute;
    left: 0px;
    top: 0px;
    filter: Alpha(Opacity=30); /* IE */
    -moz-opacity: 0.4; /* Moz + FF */
    opacity: 0.4;
}
#payment_result {
    position: absolute;
    width: 450px;
    height: 160px;
    z-index: 5;
    text-align: center;
    background-color: white;
    border: 6px solid #AAA;
    display: none;
}
#payment_result .close {
    position: absolute;
    top: 3px;
    right: 5px;
    z-index: 5;
    color: #666;
}
#payment_result .pay-tips {
    line-height: 30px;
    margin-bottom: 30px;
}
#payment_result .repay {
    margin-right: 55px;
}
#payment_result .repay,
#payment_result .payed {
    display: inline-block;
    padding: 0 15px;
    color: #25B4AB;
    line-height: 32px;
    border: 1px solid #DDD;
    background-color: #F2F2F2;
}

#balance-pay {
    margin: 0 auto 20px;
    padding-bottom: 20px;
    width: 958px;
    border: 1px solid #D4D4D4;
}
#order-box {
    padding: 5px 20px;
    font-size: 14px;
    background-color: #FFFCED;
    border-bottom: 1px solid #D4D4D4;
}
#order-box .order-num {
    float: left;
    font-weight: 700;
    line-height: 32px;
}
#order-box .pay-num {
    float: right;
    line-height: 28px;
}
#order-box .pay-num strong {
    color: #F50;
    font-size: 20px;
}
#account-box {
    margin: 10px 20px;
    padding: 0 60px 10px;
    font-size: 14px;
    line-height: 30px;
    border-bottom: 1px dashed #E4E4E4;
}
#account-box .balance span {
    padding-right: 3px;
    color: #25B4AB;
    font-weight: 700;
}
#payment {
    margin: 10px 20px;
    padding: 0 0 10px 135px;
}
#payment input {
    position: relative;
    top: 2px;
}
#payment span {
    padding: 0 3px;
    color: #F50;
    font-weight: 700;
}
#confirm-pay {
    border: 0;
    margin-left: 155px;
    width: 100px;
    height: 32px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    background: url(http://img.uhcdn.com/images/u/pay_btn.png) repeat-x 0 0;
    cursor: pointer;
}
#other-pay {
    margin-bottom: 20px;
    padding:  5px 15px 20px;
    border: 1px solid #D4D4D4;
}
#other-pay h3 {
    font-size: 14px;
    line-height: 32px;
    border-bottom: 1px solid #D4D4D4;
}
#other-pay h4 {
    color: #666;
    font-size: 14px;
}
#other-pay input {
    margin-right: 5px;
}
.zhifu {
    padding: 30px 20px 40px;
}
.zhifu li {
    float: left;
    margin-right: 50px;
}
.kuaiqian {
    padding: 20px;
}
.kuaiqian li {
    float: left;
    margin: 0 30px 25px 0;
}
#confirm {
    display: block;
    margin-left: 20px;
    width: 100px;
    height: 32px;
    line-height: 32px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    background: url(http://img.uhcdn.com/images/u/pay_btn.png) repeat-x 0 0;
    cursor: pointer;
}
.confirm-pay-form {
    padding: 30px 20px;
}
.confirm-pay-form form {
    margin-bottom: 30px;
}
.confirm-pay-form .confirm-pay2 {
    padding: 3px 15px;
}
.confirm-pay-form a {
    color: #99CC33;
}
/* .confirm-pay-form { */
    /* padding: 15px 10px; */
/* } */
/* .confirm-pay-form a { */
    /* color: #0082CA; */
    /* line-height: 42px; */
/* } */
/* .confirm-pay2 { */
    /* padding: 3px 10px; */
/* } */


.order-success {
	margin: 20px 0 40px 0;
	padding: 8px 10px;
	border: 1px solid #e4e4e4;	
}
.order-wish {
	padding: 10px 0 15px 35px;
	background: url(http://img.uhcdn.com/images/u/pass.png) no-repeat 0 7px;
	font-size: 18px;
}
.order-success ul {
	margin: 15px 50px 20px;
	border: 1px solid #b4ca71;
	padding-top: 10px;
	background-color: #F4F4F4;
}
.order-success li {
	margin: 3px 0;
	padding: 3px 15px;
	line-height: 24px;
}
.order-success li a {
	color: #9c3;
}
.order-success li.service {
	margin: 15px 0 0;
	line-height: 20px;
	border-top: 1px dashed #b4ca71;
	background-color: #FFF;
}
.order-success .btn {
	padding-left: 120px;
}
.order-success .btn a {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
	text-decoration: none;
}
.order-success .btn a span {
	display: inline-block;
	padding: 0 10px;
	height: 25px;
	color: #fff;
	font-size: 13px;
	line-height: 25px;
	background: -webkit-gradient(linear, left top, left bottom, from(#a4c723), to(#75b11d));
	background: -moz-linear-gradient(top, #a4c723, #75b11d);
	background: -o-linear-gradient(left, #a4c723, #75b11d);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4c723', endColorstr='#75b11d');
	background: linear-gradient(left, #a4c723, #75b11d);
}

/** 精选商品 **/
.boutique-hd {
    padding: 0 0  5px 5px;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 2px solid #e4e4e4;
}
.boutique-hd .more {
    *margin-top: -25px;
    padding-right: 5px;
    float: right;
    color: #999;
}
.boutique-hd .more:hover {
    color: #25B4AB;
    text-decoration: none;
}
.boutique-bd {
    padding: 20px 5px;
}
.boutique-bd li {
    float: left;
    margin: 0 10px;
    _margin: 0 9px 0 10px;
}
.boutique-bd li p {
    width: 170px;
    height: 40px;
    margin: 3px 0;
    line-height: 20px;
    overflow: hidden;
}
.boutique-bd li p a {
    *line-height: 20px;
}
.boutique-bd li p a:hover {
    color: #25B4AB;
}
.boutique-bd li span {
    display: block;
    color: #AAA;
}
.boutique-bd li strong {
    margin-left: 5px;
    color: #F50;
    font-size: 16px;
    font-family: arial, tahoma, \5b8b\4f53, sans-serif;
}
.boutique-bd li del {
    margin-left: 5px;
    font-family: arial, tahoma, \5b8b\4f53, sans-serif;
}
