#topbar,
#topbar-bd li,
#topbar-bd .favorite,
#topbar-bd .follow,
#cart .cart-icon,
#cart .cart-btn,
#cart .cart-box-bd .goods-del,
#cart .cart-box-bd .totalcart a,
#navbar,
#notice span,
#content .hd,
#content .more,
#bargain .buy a,
#bargain .buy span, 
.attri .coupon,
#news li,
#popular .index span,
#popular .index a,
#popular .index .index-tips,
#popular .ft,
#listview .qtype,
#amount .increase-btn,
#amount .decrease-btn,
#btnBox .nowBuy b,
#btnBox .addCart b,
.addCart-tips .view-carts b,
.addCart-tips .close-tips,
.addCart-tips .addCart-icon,
#bizinfo .index span,
#bizinfo .index a,
#bizinfo .index .index-tips,
#diagram .tips,
#consult .hd b,
#consult dt {
    /* background: url(../ico/sprite.png) no-repeat -9999px -9999px; */
    background: url(//img.uhcdn.com/images/y/sprite.png) no-repeat -9999px -9999px;
}

#topbar {
    background-repeat: repeat-x;
    background-position: 0 -160px;
}
#topbar-bd li {
    background-position: right 7px;
}
#topbar-bd .favorite {
    background-position: 6px 0;
    *background-position: 6px -2px;
    _background-position: 6px 0;
}
#topbar-bd .follow {
    background-position: 6px -24px;
    *background-position: 6px -26px;
    _background-position: 6px -24px;
}
#cart .cart-icon {
    background-position: 0 -42px;
}
#cart .cart-btn {
    background-position: 0 -72px;
}
#cart .cart-box-bd .goods-del {
    background-position: 0 -525px;
}
#cart .cart-box-bd .totalcart a {
    background-position: 0 -552px;
}
#navbar {
    background-repeat: repeat-x;
    background-position: 0 -186px;
}
#notice span {
    background-position: 0 -101px;
}
#content .hd {
    background-repeat: repeat-x;
    background-position: 0 -228px;
}
#content .more {
    background-position: 0 -302px;
}
#bargain .buy a {
    background-position: 0 -128px;
}
#bargain .buy span {
    background-position: -172px -20px;
    _background-position: -172px -18px;
}
#bargain .buy span.entity {
    background-position: -172px -50px;
}
.attri .coupon {
    background-position: -182px -20px;
}
.attri .entity {
    background-position: -180px -51px;
}
#news li {
    background-position: -190px -317px;
}
#news li.hot {
    background-position: -190px -296px;
}

#popular .index span {
    background-position: -175px -80px;
}
#popular .index a {
    background-position: -158px -112px;
}
#popular .ft {
    background-position: 1px -257px;
}
#popular .index .index-tips,
#bizinfo .index .index-tips {
    background-position:  0 -580px;
}

/** list page **/
#listview .qtype {
    background-position: -182px -20px;
    _background-position: -182px -18px;
}
#listview .shiti {
    background-position: -180px -51px;
}

#amount .increase-btn {
    background-position: -88px -313px;
}
#amount .decrease-btn {
    background-position: -88px -324px;
}
#btnBox .nowBuy b {
    background-position: 0 -334px;
}
#btnBox .addCart b {
    background-position: 0 -384px;
}
.addCart-tips .addCart-icon {
    background-position: 0px -472px;
}
.addCart-tips .view-carts b {
    background-position: 0 -432px;
}
.addCart-tips .close-tips {
    background-position:  -186px -473px;
}
#bizinfo .index span {
    background-position: -175px -80px;
}
#bizinfo .index a {
    background-position: -158px -112px;
}
#diagram .tips {
    background-position: -180px -441px;
}
#consult .hd b {
    background-position: -170px -350px;
}
#consult .question dt {
    background-position: -182px -380px;
    background-position: -182px -382px\9;
}
#consult .answer dt {
    background-position: -182px -412px;
    background-position: -182px -414px\9;
}
