#{extends 'main.html' /}
#{set title:'修改密码' /}
#{set 'moreStyles'}
    #{asset.css src:['/r/base.css', '/r/orders.css', '/r/users.css'] /}
<style type="text/css">
/*设置为显示*/
.setShow {
	visibility: visible
}
/*设置为隐藏*/
.setClose {
	visibility: hidden;
}
/*红色外框*/
.qdbox_hongse {
	width: 62px;
	height: 16px;
	line-height: 16px;
	border: 1px solid #ff0000;
	float: left;
	overflow: hidden;
	margin-top: 7px;
	margin-left: 10px;
}
/*橙色外框*/
.qdbox_cengse {
	width: 62px;
	height: 16px;
	line-height: 16px;
	border: 1px solid #FF6600;
	float: left;
	overflow: hidden;
	margin-top: 7px;
	margin-left: 10px;
}
/*蓝色外框*/
.qdbox_lanse {
	width: 62px;
	height: 16px;
	line-height: 16px;
	border: 1px solid #0033ff;
	float: left;
	overflow: hidden;
	margin-top: 7px;
	margin-left: 10px;
}
/*绿色外框*/
.qdbox_luse {
	width: 62px;
	height: 16px;
	line-height: 16px;
	border: 1px solid #00cc00;
	float: left;
	overflow: hidden;
	margin-top: 7px;
	margin-left: 10px;
}
/*25%红色*/
.qdhongse {
	width: 40px;
	height: 14px;
	line-height: 14px;
	border: 1px solid #ffffff;
	float: left;
	background-color: #cc0000;
	text-align: center;
	font-size: 12px;
	color: #ffffff;
}
/*50%橙色*/
.qdcengse {
	width: 60px;
	height: 14px;
	line-height: 14px;
	border: 1px solid #ffffff;
	float: left;
	background-color: #FF6600;
	text-align: center;
	font-size: 12px;
	color: #ffffff;
}
/*75%蓝色*/
.qdlanse {
	width: 60px;
	height: 14px;
	line-height: 14px;
	border: 1px solid #ffffff;
	float: left;
	background-color: #0033ff;
	text-align: center;
	font-size: 12px;
	color: #ffffff;
}
/*75%绿色*/
.qdluse {
	width: 60px;
	height: 14px;
	line-height: 14px;
	border: 1px solid #ffffff;
	float: left;
	background-color: #00cc00;
	text-align: center;
	font-size: 12px;
	color: #ffffff;
}

.error{
   color: red;
}
-->
</style>
#{/set} #{set 'moreScripts'}
<script src="@{'/public/javascripts/password.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}

#{set 'navMenu'}
    <li><a href="/">首　页</a></li>
    <li><a href="/goods">商品库</a></li>
    <li><a class="current" href="/library">我的分销库</a></li>
    <li><a href="/charge">账户充值</a></li>
    <li><a href="/withdraw">账户提现</a></li>
#{/set}

<body onload="isOk('${isOk}')">

<div id="content">
    #{breadcrumbs/breadcrumb breadcrumbs/}
    <div class="main clearfix">
        #{include "share/left.html"/}
        <div class="section">
            <h3>修改密码</h3>
            <form class="form-horizontal user-form" action="@{ResalerPassword.update(resaler.id)}" method="POST">
                <div class="item old-password clearfix">
                    <span class="label">原密码：</span>
                    <input name="resaler.oldPassword" type="password" id="old_password" size="26" maxlength="20" value="${resaler?.oldPassword}" />
                    <span class="error">#{error 'resaler.oldPassword' /}</span>
                </div>
                <div class="item clearfix">
                    <span class="label">新密码：</span> 
                    <input name="resaler.password" type="password" id="password" size="26" maxlength="20"  value="${resaler?.password}" onkeyup="javascript:ChangeQD();" />
                    <span class="error">#{error 'resaler.newPassword' /}</span>
                    <div class="qdbox_hongse setClose" id="qdbox">
                        <div id="pwQiangdu" class="qdhongse">很弱</div>
                    </div>
                </div>
                <div class="item clearfix">
                    <span class="label">确认新密码：</span>
                    <input name="resaler.confirmPassword" type="password" id="confirmPassword" size="26" maxlength="20" value="${resaler?.confirmPassword}" />
                    <span class="error">#{error 'resaler.newConfirmPassword' /}</span>
                </div>
                <div class="btn-box">
                    <button type="submit" class="submit-btn" id="sure_submit">确 认</button>
                </div>
            </form>
        </div>
    </div>
</div>
