#{extends 'layout_operate/layout.html' /}
#{include 'share/nav.html' /}
#{set title:'代金券' /}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>

#{set 'moreScripts'}
<script type="text/javascript">
    $(function () {
        $(".delete").click(function () {
            var e = $(this);
            e.text('正在删除...');
            $.ajax({
                url:'/voucher',
                type:'put',
                data:{id:e.attr('id'), action:'delete'},
                success:function (data) {
                    if (data.status == 'ok') {
                        e.css('cursor', 'auto')
                                .addClass('label-important')
                                .text('已删除')
                                .unbind();
                    } else {
                        e.text('删除');
                    }
                },
                failed:function (data) {
                    e.text('删除');
                }
            });
        });
    });
</script>
#{/set}

<form class="well form-inline" action="@{OperateVouchers.index()}" method="GET" id="form" name="form">
    <table>
        <tr>
            <td><label class="control-label">删除状态</label></td>
            <td>
            #{select 'condition.deletedStatus',id:'condition_deleted_status',value:condition?.deletedStatus}
                #{option ""}全部#{/option}
                #{option "UN_DELETED"}未删除#{/option}
                #{option "DELETED"}已删除#{/option}
            #{/select}
            </td>
            <td><label class="control-label">抵用券名称</label></td>
            <td><input type="text" name="condition.name" class="input-medium" value="${condition?.name}"/></td>
        </tr>
        <tr>
            <td><label class="control-label">使用状态</label></td>
            <td>
            #{select 'condition.usedStatus',id:'condition_used_status',value:condition?.usedStatus}
                #{option ""}全部#{/option}
                #{option "UN_DELETED"}未使用#{/option}
                #{option "DELETED"}已使用#{/option}
            #{/select}
            </td>
            <td><label class="control-label">绑定的消费者账号ID</label></td>
            <td><input type="text" name="condition.uid" class="input-medium" value="${condition?.uid}"/></td>
        </tr>
        <tr>
            <td><label class="control-label">绑定状态</label></td>
            <td>
            #{select 'condition.assignedStatus',id:'condition_assigned_status',value:condition?.assignedStatus}
                #{option ""}全部#{/option}
                #{option "UN_DELETED"}未绑定#{/option}
                #{option "DELETED"}已绑定#{/option}
            #{/select}
            </td>
            <td><label class="control-label">来源</label></td>
            <td>
            #{select 'condition.voucherType',class:'input-medium',id:'condition_assigned_status',value:condition?.voucherType}
                #{option ""}全部#{/option}
                #{option models.accounts.VoucherType.EXCHANGE}&{'voucherType.exchange'}#{/option}
                #{option models.accounts.VoucherType.OPERATE}&{'voucherType.operate'}#{/option}
            #{/select}
            </td>
            <td>
                <button type="submit" class="btn btn-primary">搜索</button>
            </td>
        </tr>
    </table>
</form>


<table class="table table-hover">
    <tr>
        <th>券名称</th>
        <th>面值</th>
        <th>券号</th>
        <th>创建时间</th>
        <th>过期时间</th>
        <th>密码</th>
        <td>绑定的账号</td>
        <td>绑定时间</td>
        <td>使用时间</td>
        <th>创建者</th>
        <th>状态/操作</th>
    </tr>
#{paginate.list items:voucherPage, as:'voucher'}
    <tr>
        <td width="150">${voucher.name}</td>
        <td>${voucher.value.formatCurrency("CNY")}</td>
        <td>${voucher.serialNo}</td>
        <td>${voucher.createdAt.format('yyyy-MM-dd HH:mm:ss')}</td>
        <td>${voucher.expiredAt.format('yyyy-MM-dd HH:mm:ss')}</td>
        <td>${voucher.chargeCode}</td>
        <td><a href="http://cms.${play.Play.configuration.getProperty("application.baseDomain")}/consumers/${voucher.account?.uid}" target="_blank">${voucher.account?.uid}</a></td>
        <td>${voucher.assignedAt?.format('yyyy-MM-dd HH:mm:ss')}</td>
        <td>${voucher.usedAt?.format('yyyy-MM-dd HH:mm:ss')}</td>
        <td width="180">${voucher.operatorName}</td>
        <td>
            #{if voucher.usedAt} <span class="label label-important">已使用</span> #{/if}
            #{else}<span class="label label-success">未使用</span>#{/else}
            #{if voucher.deleted == com.uhuila.common.constants.DeletedStatus.DELETED }
                <span class="label label-important">已删除</span>
            #{/if}
            #{else}
                <span class="label delete" style="cursor:pointer" id="${voucher.id}">删除</span>
            #{/else}
        </td>
    </tr>
#{/paginate.list}
</table>
<div class="pagination">
    <ul>
    #{paginate.controls items: voucherPage/}
    </ul>
</div>

