#{extends 'Home/layout.html' /}
#{set title:'Home' /}
<!--主体内容部分-->
<div id="wrap_content">
     #{include 'Home/nav.html' /} 
     
     
     
<div id="right_content_box">
                  <div class="tab_top">我的商品订单</div>
                    <div class="tab_top2">
                      <table width="774" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="12">&nbsp;</td>
    <td width="61" align="right">成交时间：</td>
    <td width="259" height="35">
      <input  class="long_input" type="text" name="textfield2" id="textfield2" /></td>
    <td width="77">订单状态：</td>
    <td width="353">
    <div class="pos_abs">
      <input class="dingdan_stauts_bg" type="text" name="text" size="1" id="select" />
      <div class="select_xuanze"></div>
    </div>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="right">商品名称：</td>
    <td height="35"><label>
      <input  class="long_input" type="text" name="textfield4" id="textfield4" />
    </label></td>
    <td colspan="2" align="left" valign="middle">
      <a  class="seach_bg" href="#">搜素</a>
    </td>
  </tr>
</table>
<table width="798" border="0" cellpadding="0" cellspacing="0" bgcolor="#F6F6F6">
  <tr>
    <td width="340" align="center"><span class="font_strong">商品</span></td>
    <td width="100" align="center"><span class="font_strong">单价（元）</span></td>
    <td width="78" align="center"><span class="font_strong">数量</span></td>
    <td width="108" height="30" align="center"><span class="font_strong">实付款（元）</span></td>
    <td width="85" align="center" bgcolor="#F6F6F6"><span class="font_strong">订单状态</span></td>
    <td width="80" align="center"><span class="font_strong">操作</span></td>
  </tr>
</table>
<!--one..-->
<div class="tab_top_info"><span class="tab_one">订单号：6166666666666</span><span class="tab_two">成交时间：2010-12-08 12:49:13</span></div>
<table width="798" border="1" cellpadding="0" cellspacing="0" bordercolor="#EEEEEE" frame="hsides">
  <tr>
    <td width="340" height="80" align="left">
        <div class="left_shangpin"><img src="images/chanpin/shop_thumb.jpg" width="62" height="63" /></div>
        <div class="right_shangpin">暖暖冬日羊羔绒休闲套装 烟灰<br />
暖暖冬日羊羔绒休闲套装 烟灰</div>
    </td>
    <td width="100" align="center">20.0</td>
    <td width="78" align="center">1</td>
    <td width="108" height="30" align="center">20.00</td>
    <td width="85" align="center">未付款</td>
    <td width="80" align="center">
        <div class="caozuo_std"><a class="font_red_one" href="#">付款</a></div>
        <div class="caozuo_std"><a class="font_blue" href="#">查看详情</a></div>
        <div class="caozuo_std"><a href="#">取消</a></div>
    </td>
  </tr>
</table>
<!--two..-->
<div class="tab_top_info"><span class="tab_one">订单号：6166666666666</span><span class="tab_two">成交时间：2010-12-08 12:49:13</span></div>
<table width="798" border="1" cellpadding="0" cellspacing="0" bordercolor="#EEEEEE" frame=void>
  <tr>
    <td width="340" height="80" align="left">
        <div class="left_shangpin"><img src="images/chanpin/shop_thumb.jpg" width="62" height="63" /></div>
        <div class="right_shangpin">暖暖冬日羊羔绒休闲套装 烟灰<br />
暖暖冬日羊羔绒休闲套装 烟灰</div>    </td>
    <td width="100" align="center">20.0</td>
    <td width="78" align="center">1</td>
    <td width="108" rowspan="3" align="center">20.00</td>
    <td width="85" rowspan="3" align="center">未消费</td>
    <td width="80" align="center">
        <div class="caozuo_std"><a class="font_red_one" href="#">付款</a></div>
        <div class="caozuo_std"><a class="font_blue" href="#">查看详情</a></div>
        <div class="caozuo_std"><a href="#">取消</a></div>   </td>
  </tr>
  <tr>
    <td width="340" height="80" align="left">
        <div class="left_shangpin"><img src="images/chanpin/shop_thumb.jpg" width="62" height="63" /></div>
        <div class="right_shangpin">暖暖冬日羊羔绒休闲套装 烟灰<br />
暖暖冬日羊羔绒休闲套装 烟灰</div>    </td>
    <td width="100" align="center">20.0</td>
    <td width="78" align="center">1</td>
    <td width="80" align="center">
        <div class="caozuo_std"><a class="font_red_one" href="#">付款</a></div>
        <div class="caozuo_std"><a class="font_blue" href="#">查看详情</a></div>
        <div class="caozuo_std"><a href="#">取消</a></div>    </td>
  </tr>
  <tr>
    <td width="340" height="80" align="left">
        <div class="left_shangpin"><img src="images/chanpin/shop_thumb.jpg" width="62" height="63" /></div>
        <div class="right_shangpin">暖暖冬日羊羔绒休闲套装 烟灰<br />
暖暖冬日羊羔绒休闲套装 烟灰</div>    </td>
    <td width="100" align="center">20.0</td>
    <td width="78" align="center">1</td>
    <td width="80" align="center">
        <div class="caozuo_std"><a class="font_red_one" href="#">付款</a></div>
        <div class="caozuo_std"><a class="font_blue" href="#">查看详情</a></div>
        <div class="caozuo_std"><a href="#">取消</a></div>    </td>
  </tr>
</table>
<!--three-->
<!--three..-->
<div class="tab_top_info"><span class="tab_one">订单号：6166666666666</span><span class="tab_two">成交时间：2010-12-08 12:49:13</span></div>
<table width="798" border="1" cellpadding="0" cellspacing="0" bordercolor="#EEEEEE" frame="hsides">
  <tr>
    <td width="340" height="80" align="left">
        <div class="left_shangpin"><img src="images/chanpin/shop_thumb.jpg" width="62" height="63" /></div>
        <div class="right_shangpin">暖暖冬日羊羔绒休闲套装 烟灰<br />
暖暖冬日羊羔绒休闲套装 烟灰</div>
    </td>
    <td width="100" align="center">20.0</td>
    <td width="78" align="center">1</td>
    <td width="108" height="30" align="center">20.00</td>
    <td width="85" align="center">已消费</td>
    <td width="80" align="center"><div class="caozuo_std"><a class="font_blue" href="#">查看详情</a></div>
        </td>
  </tr>
</table>
<!--four..-->
<div class="tab_top_info"><span class="tab_one">订单号：6166666666666</span><span class="tab_two">成交时间：2010-12-08 12:49:13</span></div>
<table width="798" border="1" cellpadding="0" cellspacing="0" bordercolor="#EEEEEE" frame="hsides">
  <tr>
    <td width="340" height="80" align="left">
        <div class="left_shangpin"><img src="images/chanpin/shop_thumb.jpg" width="62" height="63" /></div>
        <div class="right_shangpin">暖暖冬日羊羔绒休闲套装 烟灰<br />
暖暖冬日羊羔绒休闲套装 烟灰</div>
    </td>
    <td width="100" align="center">20.0</td>
    <td width="78" align="center">1</td>
    <td width="108" height="30" align="center">20.00<br />
      （含运费7.00）</td>
    <td width="85" align="center">已发货</td>
    <td width="80" align="center">
        <div class="caozuo_std"><a class="font_red_one" href="#">确认收货</a></div>
        <div class="caozuo_std"><a class="font_blue" href="#">查看详情</a></div>
        </td>
  </tr>
</table>
<!--five-->
<!--one..-->
<div class="tab_top_info"><span class="tab_one">订单号：6166666666666</span><span class="tab_two">成交时间：2010-12-08 12:49:13</span></div>
<table width="798" border="1" cellpadding="0" cellspacing="0" bordercolor="#EEEEEE" frame="hsides">
  <tr>
    <td width="340" height="80" align="left">
        <div class="left_shangpin"><img src="images/chanpin/shop_thumb.jpg" width="62" height="63" /></div>
        <div class="right_shangpin">暖暖冬日羊羔绒休闲套装 烟灰<br />
暖暖冬日羊羔绒休闲套装 烟灰</div>
    </td>
    <td width="100" align="center">20.0</td>
    <td width="78" align="center">1</td>
    <td width="108" height="30" align="center">20.00</td>
    <td width="85" align="center">交易成功</td>
    <td width="80" align="center"><div class="caozuo_std"><a class="font_blue" href="#">查看详情</a></div>
        </td>
  </tr>
</table>
                  </div>
                    <div class="tab_top3">
                      <div class="width200px" align="center"><a class="pre_bg" href="#">上一页</a><a class="next_bg" href="#">下一页</a></div>
                    </div>
                    <div class="clear_both"></div>
                    <div class="tab_top4"><a class="page_a_box" href="">1</a><a class="curr_page_a_box" href="">2</a><a class="page_a_box" href="">3</a><a class="page_a_box" href="">4</a><a class="page_a_box" href="">5</a><a class="page_a_box" href="">6</a><a class="page_a_box" href="">7</a><a class="page_a_box" href="">...</a><div class="page_text_info font_gray2">共100页</div ><div class="page_text_info font_gray">转至第<input name="" type="text" />页</div><div class="page_text_info"><a href="#"><img src="@{'/public/images/queding_page.jpg'}" /></a></div>
                    </div>
                </div>








