<div id="left_content_box">
    <div class="left_top_nav_bg"></div>
    <ul class="left_content_ul">
        <li class="left_nav_li">
            <div class="left_nav_li_div">
                <div class="focu_chick_left">我的商城</div>
                <div class="focu_click"><a href="#"><img src="@{'/public/images/focu_click.jpg'}"/></a></div>
            </div>
            <div class=" left_nav_text"><a class="current_font_red" href="#">我的商品订购</a></div>
            <div class=" left_nav_text"><a class="left_font_a" href="#">我的劵订单</a></div>
            <div class=" left_nav_text"><a class="left_font_a" href="/accounts">我的资金明细</a></div>
            <div class=" left_nav_text"><a class="left_font_a" href="#">我购买的电影票</a></div>
        </li>
        <li class="left_nav_li">
            <div class="left_nav_li_div">
                <div class="focu_chick_left">我的收藏</div>
                <div class="focu_click"><a href="#"><img src="@{'/public/images/focu_click.jpg'}"/></a></div>
            </div>
            <div class=" left_nav_text"><a class="current_font_red" href="#">我收藏的优惠劵</a></div>
            <div class=" left_nav_text"><a class="left_font_a" href="#">我收藏的商品</a></div>
            <div class=" left_nav_text"><a class="left_font_a" href="#">我收藏的商户</a></div>
        </li>
        <li class="left_nav_li">
            <div class="left_nav_li_div">
                <div class="focu_chick_left">我的积分</div>
                <div class="focu_click"><a href="#"><img src="@{'/public/images/focu_click.jpg'}"/></a></div>
            </div>
            <div class=" left_nav_text"><a class="current_font_red" href="#">积分明细</a></div>
            <div class=" left_nav_text"><a class="left_font_a" href="#">积分兑换</a></div>
            <div class=" left_nav_text"><a class="left_font_a" href="#">兑换记录</a></div>
            <div class=" left_nav_text"><a class="left_font_a" href="#">我的资料</a></div>
        </li>
        <li class="left_nav_li">
            <div class="left_nav_li_div">
                <div class="focu_chick_left">资料管理</div>
                <div class="focu_click"><a href="#"><img src="@{'/public/images/focu_click.jpg'}"/></a></div>
            </div>
            <div class=" left_nav_text"><a class="current_font_red" href="#">我的资料</a></div>
            <div class=" left_nav_text"><a class="left_font_a" href="#">优卡管理</a></div>
            <div class=" left_nav_text"><a class="left_font_a" href="#">收货地址</a></div>
        </li>
        <li class="left_nav_li">
            <div class="left_nav_li_div margin_top11">
                <div class="focu_chick_left margin_top11">我的商城</div>
                <div class="focu_click margin_top11"><a href="#"><img src="@{'/public/images/focu_click.jpg'}"/></a>
                </div>
            </div>
            <div>&nbsp;</div>
        </li>
    </ul>
    <div class="left_bottom_nav_bg"></div>
</div>