#{layout_operate.textField name:'friendsLinks.linkName', value:friendsLinks?.linkName, required:true/}
#{layout_operate.textField name:'friendsLinks.link', value:friendsLinks?.link, required:true/}
#{layout_operate.textField name:'friendsLinks.displayOrder', value:friendsLinks?.displayOrder/}
#{layout_operate.textField name:'friendsLinks.userName', value:friendsLinks?.userName/}
#{layout_operate.textField name:'friendsLinks.mobile', value:friendsLinks?.mobile/}
#{layout_operate.textField name:'friendsLinks.email', value:friendsLinks?.email/}
#{layout_operate.textField name:'friendsLinks.qq', value:friendsLinks?.qq,note:'*限5位数字以上'/}
#{layout_operate.selectField name:'friendsLinks.status', value:friendsLinks?.status, error:'friendsLinks.status.',
class:'span2'}
    #{option models.cms.LinkStatus.OPEN}&{'friendsLinks.OPEN'}#{/option}
    #{option models.cms.LinkStatus.SAVE}&{'friendsLinks.SAVE'}#{/option}
    #{option models.cms.LinkStatus.FORBID}&{'friendsLinks.FORBID'}#{/option}
#{/layout_operate.selectField}
#{layout_operate.textareaField name:'friendsLinks.content', value:friendsLinks?.content/}
<div class="form-actions">
    <input class="btn btn-primary" id="save" type="submit" value="保存"/>
#{if "edit".equals(action)}
<input type="hidden" id="id" value="${friendsLinks.id}"/>
    #{vx.cancelButton url:'/friendsLinks', class:'btn btn-primary'/}
#{/if}
</div>
<script type="text/javascript">
    $("#friendsLinks_link").blur(function () {
        var link = $("#friendsLinks_link").val();
        var id = $("#id").val();
        if (id = 'undefined') {
            id = 0;
        }
        var url = "/friendsLinks/check_url?id="+id+"&link=" + link;
        $.ajax({
            url:url,
            type:'GET',
            dataType:'text',
            error:function () {
                alert('取得失败!');
            },
            success:function (msg) {
                if (msg != "") {
                    $("#note_friendsLinks_link").html("<font color='red'>"+msg+"<font>");
                }
            }
        });

    })
</script>