#{extends 'layout_trader/layout2.html' /}
#{include 'Share/nav.html' /}
#{set title:'商户验证消费券' /}
#{set menu:"verify" /}
#{set 'moreStyles'}
    #{asset.css src:['/m/verify.css'] /}
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/verify.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
<div class="verify">
    <div class="hd clearfix">
        <a href="/verify/single-verify">单券验证</a>
        <a class="curr" href="/verify/multi-verify">批量验证</a>
    </div>
    <div class="bd batch-verify">
        <form id="coupon-form" action="@{SupplierVerifyECoupons.multiVerify()}" method="post">
            <div class="field-sect">
                <div class="field-group">
                    <label>选择分店</label>
                #{select 'supplierUser.shop.id', id:shopId, class:'span2', value:supplierUser?.shop?.id}
                    #{option ""}全部#{/option}
                    #{list items:shopList, as:'shop'}
                        #{option shop?.id}${shop?.name}#{/option}
                    #{/list}
                #{/select}
                </div>
                <div class="field-group">
                    <label class="coupon-label" for="enter-coupon">输入券号</label>
                    <input type="text" size="12" maxlength="12" name="coupon" autofocus="true" id="enter-coupon"
                           class="enter-coupon" value=""/>
                    <a class="btn add-coupon" href="javascript:void(0);" hidefocus="true">添加</a>
                </div>
            </div>
            <table cellspacing="0" cellpadding="0" border="0" class="coupons-table" id="coupons-table">
                <tr>
                    <th width="30">序号</th>
                    <th width="40" class="code">操作</th>
                    <th width="150">输入的券号</th>
                    <th width="auto">验证消费提示</th>
                </tr>
            </table>
            <div class="verify-sect">
                <a class="btn batch-verify" href="javascript:void(0);" hidefocus="true">批量验证并消费</a>
                <a class="btn clear-coupon" href="javascript:void(0);" hidefocus="true">清空</a>
            </div>
        </form>
        <div class="tip">
            <h5>批量验证帮助</h5>
            <ul>
                <li>输入券号后回车或者点击<strong>【添加】</strong>即可将券号添加到列表中</li>
                <li>每次最多可以验证10张券</li>
                <li>点击<strong>【批量验证并消费】</strong>后
                    <ul>
                        <li>可点击<strong>【清空】</strong>，将会清空所有验证过的券号</li>
                        <li>可点击<strong>【删除】</strong>，删除不想要的或验证过的券号；同时修改认为有错的券号，避免重复验证</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>