#{extends 'main.html' /}
#{set title:'一百券 - 首页' /}

#{set 'moreStyles'}
    #{asset.css src:['/u/index.css'] /}
#{/set}

<div class="wrap clearfix">
    <div class="bizarea">
        <div class="bizarea-hd">区域商圈</div>
        <div class="bizarea-bd">
            <ul class="area clearfix">
            #{list districts, as:'district'}
                <li><a href="/goods/list/0-${district.id}">${district.name}</a></li>
            #{/list}
            </ul>
            <ul class="ring clearfix">
            #{list areas, as:'area'}
                <li><a href="/goods/list/0-${area.id}">${area.name}</a></li>
            #{/list}
            </ul>
        </div>
    </div>

    <div id="slides">
        <div class="slides_container">
        #{list slides, as:'slide'}
            <a href="${slide.link}" target="_blank" title="${slide.title}"><img src="${slide.getShowImageUrl()}" width="478" height="218"/></a>
        #{/list}
        </div>
    </div>

    <div class="service">
        <div class="service-hd">承诺</div>
        <ul class="service-bd">
            <li class="item-1"><a href="/service"><span>未消费无条件退款</span></a><br>
                我们承诺只要未消费无任何理由即全额退款
            </li>
            <li class="item-2"><a href="/service"><span>过期未消费，一键立即退款</span></a><br>
                无论由于何种原因未使用的券，随时退款即时到帐
            </li>
            <li class="item-3"><a href="/service"><span>消费不满意，24小时及时处理</span></a><br>
                全心全意为您服务，无论何种问题24小时帮您处理
            </li>
        </ul>
    </div>
</div>

<div class="wrap clearfix">
    <div class="recommendation">
        <div class="recommendation-hd">网友推荐商品</div>
        <ul class="recommendation-bd clearfix">
        #{list recommendGoodsList, as:'aGoods'}
            <li>
                <a href="/goods/${aGoods.id}" target="_blank"><img src="${aGoods.imageOriginalPath}" width="150"
                                                                   height="110" alt="${aGoods.name}"/></a>
                <p><a href="/goods/${aGoods.id}" target="_blank">${aGoods.name}</a></p>
                <span>原价:<del>${aGoods.faceValue}</del> | ${aGoods.discountExpress}</span>
                <span>现价:<strong>&yen;${aGoods.salePrice}</strong></span>
            </li>
        #{/list}
        </ul>
    </div>
    <div class="tuangou">
        <div class="tuangou-hd">今日特卖</div>
        <div class="tuangou-bd">
        
            <a href="${dailySpecial?.link}" target="_blank" class="image"><img src="${dailySpecial?.getShowImageUrl()}"
                                                                  width="220" height="150"/></a>
            <a class="title" href="${dailySpecial?.link}" href="_blank">${dailySpecialGoods?.name}</a>

            <div class="detail clearfix">
                <div class="action">
                    <strong><i>&yen;</i>${dailySpecialGoods?.salePrice}</strong>
                    <a href="${dailySpecial?.link}" target="_blank"></a>
                </div>
                <div class="price">
                    <span>原价:<del>${dailySpecialGoods?.faceValue}元</del></span>
                    <span>折扣:<em>${dailySpecialGoods?.discountExpress}</em></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="boutique-hd">精选商品</div>
    <ul class="boutique-bd clearfix">
    #{list goodsList, as:'aGoods'}
        <li>
            <a href="/goods/${aGoods.id}" target="_blank"><img src="${aGoods.imageOriginalPath}" width="170"
                                                               height="130"
                                                               alt="${aGoods.name}"/></a>
            <p><a href="/goods/${aGoods.id}" target="_blank">${aGoods.name}</a></p>
            <span>原价:<del>${aGoods.faceValue}</del> | ${aGoods.discountExpress}</span>
            <span>现价:<strong>&yen;${aGoods.salePrice}</strong></span>
        </li>
    #{/list}
    </ul>
</div>

<div class="wrap">
    <div class="boutique-hd">近日成交商品</div>
    <ul class="boutique-bd clearfix">
    #{list recentGoodsList, as:'aGoods'}
        <li>
            <a href="/goods/${aGoods.id}" target="_blank"><img src="${aGoods.imageOriginalPath}" width="170" height="130"
                                                               alt="${aGoods.name}"/></a>
            <p><a href="/goods/${aGoods.id}" target="_blank">${aGoods.name}</a></p>
            <span>原价:<del>${aGoods.faceValue}</del> | ${aGoods.discountExpress}</span>
            <span>现价:<strong>&yen;${aGoods.salePrice}</strong></span>
        </li>
    #{/list}
    </ul>
</div>
