#{extends 'main.html' /}
#{set title:'一百券-网上消费券首选门户,消费券,代金券,优惠券,美食券,电子券,提货券' /}
#{set 'metaContent'}
<meta name="Description" content="一百券-致力于本地生活消费的互联网电子商务网站，将线下本地生活服务与线上互联网结合在一起，让互联网成为线下本地生活服务交易的前台">
<meta name="Keywords" content="上海优惠券,一百券,消费券,代金券,优惠券,美食券,电子券,优惠上海,提货券">
#{/set}
#{set 'moreStyles'}
    #{asset.css src:['/u/index.css'] /}
#{/set}

<div class="wrap clearfix">
    <div class="bizarea">
        <div class="bizarea-hd">区域商圈</div>
        <div class="bizarea-bd">
            <ul class="area clearfix">
            #{list districts, as:'district'}
                <li><a href="/s/0-${district.id}">${district.name}</a></li>
            #{/list}
            </ul>
            <ul class="ring clearfix">
            #{list areas, as:'area'}
                <li><a href="/s/0-${area.id}">${area.name}</a></li>
            #{/list}
            </ul>
        </div>
    </div>

    <div id="slides">
        <div class="slides_container">
        #{list slides, as:'slide'}
            <a href="${slide.link}" target="_blank" title="${slide.title}"><img src="${slide.getShowImageUrl()}" width="478" height="218"/></a>
        #{/list}
        </div>
    </div>

    <div class="sidebar">
        <div class="promise"><a href="http://www.yibaiquan.com/service"><img src="http://img.uhcdn.com/images/u/promise.png" height="103" /></a></div>
        <div class="notice">
            <div class="notice-hd">公告</div>
            <ul class="notice-bd">
                #{list topics, as:'topic'}
                <li><a href="/topic/${topic.id}"><span>${topic.title}</span></a></li>
                #{/list}
            </ul>
        </div>
    </div>
</div>

<div class="wrap clearfix">
    <div class="recommendation">
        <div class="recommendation-hd">网友推荐商品</div>
        <ul class="recommendation-bd clearfix">
        #{list recommendGoodsList, as:'aGoods'}
            <li>
                <a href="/g/${aGoods.id}" target="_blank"><img src="${aGoods.imageOriginalPath}" width="150"
                                                                   height="110" alt="${aGoods.name}"/></a>
                <p><a href="/g/${aGoods.id}" target="_blank">${aGoods.name}</a></p>
                <span>原价:<del>${aGoods.faceValue}</del> | ${aGoods.discountExpress}</span>
                <span>现价:<strong>&yen;${aGoods.salePrice}</strong></span>
            </li>
        #{/list}
        </ul>
    </div>
    <div class="tuangou">
        <div class="tuangou-hd">今日特卖</div>
        <div class="tuangou-bd">

            <a href="${dailySpecial?.link}" target="_blank" class="image"><img src="${dailySpecial?.getShowImageUrl()}"
                                                                  width="220" height="150"/></a>
            <a class="title" href="${dailySpecial?.link}" href="_blank">${dailySpecial?.content.raw()}</a>

            <div class="detail clearfix">
                <div class="action">
                    <strong><i>&yen;</i>${dailySpecialGoods?.salePrice}</strong>
                    <a href="${dailySpecial?.link}" target="_blank"></a>
                </div>
                <div class="price">
                    <span>原价:<del>${dailySpecialGoods?.faceValue}元</del></span>
                    <span>折扣:<em>${dailySpecialGoods?.discountExpress}</em></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="boutique-hd">精选商品</div>
    <ul class="boutique-bd clearfix">
    #{list goodsList, as:'aGoods'}
        <li>
            <a href="/g/${aGoods.id}" target="_blank"><img src="${aGoods.imageOriginalPath}" width="170"
                                                               height="130"
                                                               alt="${aGoods.name}"/></a>
            <p><a href="/g/${aGoods.id}" target="_blank">${aGoods.name}</a></p>
            <span>原价:<del>${aGoods.faceValue}</del> | ${aGoods.discountExpress}</span>
            <span>现价:<strong>&yen;${aGoods.salePrice}</strong></span>
        </li>
    #{/list}
    </ul>
</div>

<div class="wrap">
    <div class="boutique-hd">近日成交商品</div>
    <ul class="boutique-bd clearfix">
    #{list recentGoodsList, as:'aGoods'}
        <li>
            <a href="/g/${aGoods.id}" target="_blank"><img src="${aGoods.imageOriginalPath}" width="170" height="130"
                                                               alt="${aGoods.name}"/></a>
            <p><a href="/g/${aGoods.id}" target="_blank">${aGoods.name}</a></p>
            <span>原价:<del>${aGoods.faceValue}</del> | ${aGoods.discountExpress}</span>
            <span>现价:<strong>&yen;${aGoods.salePrice}</strong></span>
        </li>
    #{/list}
    </ul>
</div>
