#{extends 'layout_trader/layout2.html' /}
#{set title:'KTV淘宝产品管理' /}
#{set menu:"ktv_taobao_products" /}
#{set 'moreStyles'}
<style>
    .syncInfo {
        color: red;
    }
    .syncLink {
        border: #ddd 1px solid;
        background-color: #eee;
        padding: 5px 10px;
        cursor: pointer;
    }
    .batchSync {
        position: absolute;
        top:25px;
        right:20px;
        border: 1px solid #eee;
        background-color: #5bb75b;
        color:white;
        margin-bottom: 5px;
        padding: 5px 10px;
        cursor: pointer;
    }
</style>
#{/set}

<div class="body">

#{form @KtvTaobaoProducts.index() , id:'creationForm',class:"form-horizontal" }
    <div class="bd" style="position:relative">
        <h2>${title}</h2>
        <div class="batchSync" style="display: none">批量同步</div>
        <table cellspacing="0" cellpadding="0" border="0" class="standard-table">
            <thead>
            <tr>
                <th style="width: 150px">门店</th>
                <th style="width: 200px;">产品名称</th>
                <th>操 作</th>
                <th>同步淘宝SKU</th>
            </tr>
            </thead>
            <tbody>
                #{list items:shops, as:'shop' }
                    #{list items:products, as:'product' }

                    %{
                    ktvProductGoods = models.ktv.KtvProductGoods.find("byShopAndProduct", shop,product).first() ;
                    if (ktvProductGoods !=null){
                    resalerProduct = models.sales.ResalerProduct.find("byGoodsAndResalerAndPartner",
                    ktvProductGoods.goods,resaler,models.order.OuterOrderPartner.TB).first();
                    }
                    }%
                    <tr>
                        #{if product_index == 1}
                            <td rowspan="${products.size()}">${shop.name}</td>
                        #{/if}

                        <td>${product.name}</td>
                        <td id="id_${shop.id}_${product.id}">
                            #{if resalerProduct }
                                <a href="http://upload.taobao.com/auction/publish/edit.htm?itemNumId=${resalerProduct?.partnerProductId}&auto=false"
                                   target="_blank">去淘宝编辑</a> |
                                <a href="${resalerProduct.url}">查看</a>
                            #{/if}
                            #{else}
                                <a href="/ktv/taobao-product/publish?shop.id=${shop.id}&product.id=${product.id}"
                                   target="_blank">发布</a>
                            #{/else}

                        </td>
                        <td>
                            #{if resalerProduct && ktvProductGoods.needSync==com.uhuila.common.constants.DeletedStatus.DELETED}
                                <span pgid="${ktvProductGoods.id}" class="syncLink">同步</span>
                                <img style="display: none" pgid="${ktvProductGoods.id}" class="syncLoading" src="/public/images/loading.gif" border="0"/>
                                <img style="display: none" pgid="${ktvProductGoods.id}" class="syncWait" src="/public/images/wait.png" border="0"/>
                                <span infoid="${ktvProductGoods.id}" style="display: none" class="syncInfo"></span>
                            #{/if}
                        </td>
                    </tr>
                    %{
                    ktvProductGoods = null;
                    resalerProduct = null;
                    }%
                    #{/list}
                #{/list}
            </tbody>
        </table>
    </div>
#{/form}
</div>
#{set 'moreScripts'}
<script type="text/javascript">
    function startSync(ele, autoNext) {
        ele.hide();
        var pgid = ele.attr("pgid");
        var loadingImg =  $(".syncLoading[pgid='" + pgid + "']").show();
        $.ajax({
            url:"/ktv/taobao-product/sync-sku",
            type:"post",
            data: {"productGoodsId": pgid},
            success: function (data) {
                    if (!data.isOk) {
                        loadingImg.hide();
                        $("span[infoid='" + pgid + "']").text(data.error).show();
                    }else {
                        loadingImg.attr("src", "/public/images/ok.png");
                    }
                },
            error: function(data) {
                loadingImg.hide();
                $("span[infoid='" + pgid + "']").text("服务器出错，请稍后重试").show();
            },
            complete: function() {
                if(autoNext){
                    findOneAndSync();
                }
            }
        });
    }

    function findOneAndSync() {
        var ele = $(".syncWait:visible").first();
        if (ele.length > 0) {
            startSync(ele, true);
        }
    }

    $(function () {
    //预加载图片
    var limg = new Image();
    limg.src = '/public/images/loading.gif';
    var wimg = new Image();
    wimg.src = '/public/images/wait.png';


    var syncLinks = $(".syncLink");
        syncLinks.click(function () {
            startSync($(this), false);
        });
        if(syncLinks.length > 0) {
            $(".batchSync").show().click(function(){
                $(this).hide();
                $(".syncLink:visible").each(function(){
                    var link = $(this);
                    link.hide();
                    $(".syncWait[pgid='" + link.attr("pgid") + "']").show();
                });
                for(var i = 0 ; i< 2 ;i ++) {
                    findOneAndSync();
                }
            });
        }
    });

</script>
#{/set}