#{extends 'layout_trader/layout2.html' /}
#{set title:'KTV淘宝产品管理' /}
#{set menu:"ktv_taobao_products" /}
#{set 'moreStyles'}
<style>
    .syncInfo {
        padding-left: 10px;
        color: red;
    }
    .batchSync {
        float: right;
        border: 1px solid #eee;
        background-color: #eee;
        margin-bottom: 5px;
        padding: 5px 10px;
        cursor: pointer;
    }
</style>
#{/set}

<div class="body">

#{form @KtvTaobaoProducts.index() , id:'creationForm',class:"form-horizontal" }
    <div class="bd">
        <h2>${title}</h2>
        <div class="batchSync" style="display: none">批量同步</div>
        <div style="clear: both"></div>


        *{<a class="btn" style="margin-bottom: 10px" id="batchSyncSku">批量更新</a>}*
        <table cellspacing="0" cellpadding="0" border="0" class="standard-table">
            <thead>
            <tr>
                <th style="width: 150px">门店</th>
                <th style="width: 200px;">产品名称</th>
                <th>操 作</th>
                <th>同步淘宝SKU</th>
            </tr>
            </thead>
            <tbody>
                #{list items:shops, as:'shop' }
                    #{list items:products, as:'product' }

                    %{
                    ktvProductGoods = models.ktv.KtvProductGoods.find("byShopAndProduct", shop,product).first() ;
                    if (ktvProductGoods !=null){
                    resalerProduct = models.sales.ResalerProduct.find("byGoodsAndResalerAndPartner",
                    ktvProductGoods.goods,resaler,models.order.OuterOrderPartner.TB).first();
                    }
                    }%
                    <tr>
                        #{if product_index == 1}
                            <td rowspan="${products.size()}">${shop.name}</td>
                        #{/if}

                        <td>${product.name}</td>
                        <td id="id_${shop.id}_${product.id}">
                            #{if resalerProduct }
                                <a href="http://upload.taobao.com/auction/publish/edit.htm?itemNumId=${resalerProduct?.partnerProductId}&auto=false"
                                   target="_blank">去淘宝编辑</a> |
                                <a href="${resalerProduct.url}">查看</a>
                            #{/if}
                            #{else}
                                <a href="/ktv/taobao-product/publish?shop.id=${shop.id}&product.id=${product.id}"
                                   target="_blank">发布</a>
                            #{/else}

                        </td>
                        <td>
                            #{if resalerProduct && ktvProductGoods.needSync==com.uhuila.common.constants.DeletedStatus.DELETED}
                                <a href="#" linkid="${ktvProductGoods.id}" class="syncSku">同步</a>
                                 <img style="display: none" imgid="${ktvProductGoods.id}" src="/public/images/loading.gif" border="0"/>
                                <span infoid="${ktvProductGoods.id}" style="display: none" class="syncInfo"></span>
                            #{/if}
                        </td>
                    </tr>
                    %{
                    ktvProductGoods = null;
                    resalerProduct = null;
                    }%
                    #{/list}
                #{/list}
            </tbody>
        </table>
    </div>
#{/form}
</div>
#{set 'moreScripts'}
<script type="text/javascript">
    function startSync(ele) {
        ele.hide();
        var pgid = ele.attr("linkid");
        var img =  $("img[imgid='" + pgid + "']").show();
        $.post("/ktv/taobao-product/sync-sku",
                {"productGoodsId": pgid},
                function (data) {
                    if (!data.isOk) {
                        img.hide();
                        $("span[infoid='" + pgid + "']").text(data.error).show();
                    }else {
                        img.attr("src", "/public/images/ok.png");
                    }
                    findOneAndSync();
                });
    }

    function findOneAndSync() {
        var ele = $(".syncSku:visible").first();
        if (ele.length > 0) {
            startSync(ele);
        }
    }

    $(function () {
        var syncLinks = $(".syncSku");
        syncLinks.click(function () {
            startSync($(this));
        });
        if(syncLinks.length > 0) {
            $(".batchSync").show().click(function(){
                $(this).hide();
                for(var i = 0 ; i< 2 ;i ++) {
                    findOneAndSync();
                }
            });
        }


        $("#batchSyncSku").click(function () {
            var productGoodsIds = [];
            $("[data-update]").each(function () {
                var productGoodsId = $(this).attr("data-update");
                productGoodsIds.push(productGoodsId);

            });
            $("#batchSyncSkuInfo").text("正在同步。。。");
            $.post("/ktv/taobao-product/sync-sku", {"productGoodsIds": productGoodsIds.join(",")},
                    function (data) {
                        if (!data.isOk) {
                            $("#batchSyncSkuInfo").text(data.error);
                        } else {
                            $("#batchSyncSkuInfo").text("同步成功！");
                            setTimeout("$('#batchSyncSkuInfo').css('display','none')", 1000);
                        }
                    });

            $("[data-update]").each(function () {
                var tdId = $(this).attr("data-id");
                var syncTextInfo = "#syncTextInfo" + tdId;
                $(syncTextInfo).text("");

            });
        });
    });

</script>
#{/set}