#{extends 'layout_trader/layout2.html' /}
#{set title:'KTV淘宝产品发布' /}
#{set menu:"ktv_taobao_products" /}
#{set 'moreStyles'}
        <style type="text/css">
            .field-group label {
                font-weight:normal;
            }
            .sidebar {
                display:none
            }
            .section {
                float:none;
                width:auto;
            }
            #message{
                display:none;
            }
        </style>
#{/set}

<div class="body">

<form action="/ktv/taobao-product/publish" method="post" class="form-horizontal" id="form">
    <div class="bd">
        <h2>发布:${shop.name}-${product.name}</h2>

        <div class="field-group">
            <label>包厢信息</label>
            <div style="max-height:400px; overflow-y:auto; border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3">
                <table cellspacing="0" cellpadding="0" class="standard-table">
                    <tr>
                        <th>包厢类型</th>
                        <th>日期</th>
                        <th>时间段</th>
                        <th>数量</th>
                        <th>价格</th>
                    </tr>
                    #{list items:taobaoSkuMap.keySet(), as:'roomType'}
                        %{skuMapOfRoomType = taobaoSkuMap.get(roomType)}%
                        #{list items:skuMapOfRoomType.keySet(), as:'date'}
                            %{skuMapOfDate = skuMapOfRoomType.get(date)}%
                            #{list items:skuMapOfDate.keySet(), as:'key'}
                                %{sku = skuMapOfDate.get(key)}%
                                <tr>
                                    <td>${models.ktv.KtvRoomType.getRoomTypeByTaobaoId(sku.roomType).getName()}</td>
                                    <td>${sku.date}</td>
                                    <td>${sku.timeRange}</td>
                                    <td>${sku.quantity}</td>
                                    <td>${sku.price}</td>
                                </tr>
                            #{/list}
                        #{/list}
                    #{/list}
                </table>
            </div>

        </div>

        <div class="field-group">
            <label>标题</label>
            <input type="text" size="70" name="title" id="title" >
        </div>
        <div class="field-group">
            <label>宝贝所在地</label>
            <select id="location_province" style="width:150px" name="locationProvince"></select>
            <select id="location_city" style="width:150px" name="locationCity"></select>
            <span style="color:#999">(若无您所需要的地点，请联系视惠信息)</span>
        </div>

        <div class="field-group" id="brand_field">
            <label>品牌</label>
        </div>
        <div class="field-group" id="ktv_provinces">
            <label>适用省份</label>
        </div>
        <div class="field-group" id="ktv_cities">
            <label>适用城市</label>
        </div>
        <div class="field-group">
            <label>主图</label>
            <span class="btn" id="buttonProdImg" >选择图片</span>
            <span style="color:#999">建议大小800*800 或以上的图片, 不超过500kb</span>
            <br/>
            <img src="http://img0.uhcdn.com/p/1/1/1/default.png" alt="" id="imgProdImg">
            <input type="hidden" id="inputProdImg" name="prodImg">
        </div>

        <div class="field-group">
            <label>宝贝描述</label>
            <textarea rows="8" cols="100" name="desc" id="prodDescription"
                      style="width:800px;height:550px;display:hidden;">
            </textarea>
        </div>

        <div class="field-group">
            <label>发布选项</label>
            <input type="checkbox" name="onsale" value="true" checked>直接上架
        </div>

        <div class="field-group">
            <input type="hidden" id="resalerId" value="${resaler.id}">
            <input type="hidden" name="shop.id" value="${shop.id}">
            <input type="hidden" name="product.id" value="${product.id}">
            <input type="hidden" name="expiryDate" value="30">
            <input type="hidden" name="merchant" value="1705483381:kunranma">
            <input type="hidden" name="cid" value="50019081">


            <input type="hidden" id="ktvProvincePid" name="ktvProvincePid">
            <input type="hidden" id="ktvCityPid" name="ktvCityPid">
            <input type="hidden" id="ktvBrandPid" name="ktvBrandPid">
            <input type="hidden" id="faceValuePid" name="faceValuePid">
            <br/>
            <input type="button" class="btn" value="发布" id="createButton"/>
        </div>

    </div>
</form>
</div>
#{set 'moreScripts'}
    <script type="text/javascript" charset="utf-8"> var props = ${props.raw()}  </script>
    <script src="@{'/public/javascripts/kindeditor/kindeditor-all-min.js'}" type="text/javascript" charset="UTF-8"></script>
    <script src="@{'/public/javascripts/taobao-publish.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}

