#{extends 'main.html' /}
#{set title:'分销网 - 提现' /}
#{set 'moreStyles'}
<link href="@@{'/public/stylesheets/payment_info.css'}" rel="stylesheet" type="text/css"/>
#{/set}

<div id="wrap_main">
    <div id="wrap_top">
    #{include "share/topNavigator.html"/}
    </div>

    <div id="wrap_top_header">
        <div id="wrap_top_header_left"><img src="@{'/public/images/logo.jpg'}"/></div>
        <div id="wrap_top_middle">券生活-惠生活</div>
    </div>
    <div style="clear:both"></div>
    <div class="fen_g"></div>
</div>
<!--主体内容部分-->
<div id="wrap_content">

    <a href="/withdraw/apply"><h1>点击申请提现</h1></a>
    <table border="1">
        <tr>
            <td>流水号</td>
            <td>开户人真实姓名</td>
            <td>银行所在城市</td>
            <td>银行开户行</td>
            <td>支行</td>
            <td>银行卡号</td>
            <td>提现金额</td>
            <td>申请时间</td>
            <td>状态</td>
            <td>处理时间</td>
            <td>申请反馈</td>
        </tr>
        #{list items:withdrawBills, as:'withdrawBill'}
        <tr>
            <td>${withdrawBill.serialNumber}</td>
            <td>${withdrawBill.userName}</td>
            <td>${withdrawBill.bankCity}</td>
            <td>${withdrawBill.bankName}</td>
            <td>${withdrawBill.subBankName}</td>
            <td>${withdrawBill.cardNumber}</td>
            <td>${withdrawBill.amount.formatCurrency('CNY')}</td>
            <td>${withdrawBill.appliedAt.format()}</td>
            <td>&{'withdraw.'+ withdrawBill.status}</td>
            <td>${withdrawBill.processedAt?.format()}</td>
            <td>${withdrawBill.comment}</td>
        </tr>
        #{/list}
    </table>
</div>
