#content {
    clear: both;
    width: 960px;
    margin: 10px auto;
}
.order {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #dcdfe5;
}

.addr-hd b {
    color: #666;
}
.addr-hd a {
    color: #9ac72c;
}
.addr-bd {
    margin: 20px 0;
	padding: 20px 30px;
    background-color: #fafafa;
    border-bottom: 1px solid #dde0e6;
}
.addr-bd .save-addr,
.addr-bd .save-new-addr {
	display: block;
	margin: 5px 0;
	padding: 0 5px;
	width: 130px;
	color: #F8F8F8;
	font-weight: 700;
	text-align: center;
	line-height: 28px;
	background-color: #9ac72c;
	border-radius: 1px;
}
.addr-bd .save-addr:hover,
.addr-bd .save-new-addr:hover {
	text-decoration: none;
}
.addr-all li {
    line-height: 32px;
    border-top: 1px solid #f2f2f2;
}
.addr-all li.first {
    border-top: 0;
}
.addr-all li input,
.addr-all li label {
	vertical-align: middle;
}
.addr-list {
    padding: 0 8px;
    border: 1px solid #dcdfe5;
    background-color: #fff;
}
.addr-one {
    float: left;
    width: 720px;
}
.addr-one .addr-user {
    display: inline-block;
    width: 80px;
}
.addr-action {
	position: relative;
	float: right;
}
.addr-action a {
	color: #99c928;
    margin-right: 25px;
}
.addr-action a:hover {
	*text-decoration: none;
}
.addr-action .addr-del-confirm {
	position: absolute;
	top: -55px;
	left: 18px;
	padding: 2px 8px;
	width: 120px;
	line-height: 25px;
	border: 1px solid #83d0cc;
	background-color: #FFF;
}
.addr-action .addr-del-confirm b {
	color: #25B4AB;
	padding: 3px 5px;
	font-weight: normal;
	cursor: pointer;
}
.addr-action .addr-del-confirm img {
	position: absolute;
	top: 52px;
	left: 40px;
}
.addr-new {
    padding: 8px;
	border-bottom: 1px dotted #666;
}
.addr-new input,
.addr-new label {
    vertical-align: middle;
}


.edit-addr {
    width: 100%;
}
.edit-addr .left {
    width: 80px;
}
.edit-addr .left em {
    padding-right: 5px;
    color: #f00;
}
.edit-addr td {
    padding: 8px 2px;
    color: #656565;
    font: 12px/1.5 宋体, sans-serif;
}
.edit-addr .right .error {
    color: #f00;
}
.edit-addr .addr-name,
.edit-addr .addr-street,
.edit-addr .addr-post,
.edit-addr .addr-mobile,
.edit-addr .addr-phone {
    height: 20px;
    width: 180px;
    padding: 2px;
    border: 1px solid #a5afc3;
}
.edit-addr .addr-street {
    width: 320px;
}
.edit-addr .addr-prov,
.edit-addr .addr-city,
.edit-addr .addr-dist {
    height: 26px;
    padding: 2px;
    border: 1px solid #a5afc3;
}


.addr-sure .sure-name {
    display: inline-block;
    width: 80px;
}
.addr-sure .sure-mobi {
    display: inline-block;
    width: 120px;
    text-align: right;
}



.orderlist {
    width: 100%;
}
.orderlist caption {
    padding-bottom: 5px;
    color: #666;
    text-align: left;
    font-weight: 700;
}
.orderlist thead th {
    padding: 6px;
    color: #fff;
    background-color: #d6d6d6;
}
.orderlist tbody td {
    text-align: center;
    padding: 8px 3px;
}
.freight,
.subtotal {
    padding-top: 10px;
    text-align: right;
}
.subtotal em {
    color: #f50;
}
/* .freight { */
    /* border-top: 1px solid #7a7f89; */
/* } */

.mobi .mobi-hd {
    color: #666;
    font-weight: 700;
}
.mobi .mobi-bd {
    margin: 20px 0;
	padding: 20px 30px;
    color: #666;
    background-color: #fafafa;
    border-bottom: 1px solid #dde0e6;
}
.mobi .receive-mobi em {
    padding-right: 5px;
    color: #f00;
    font: normal 12px/1.5 宋体, sans-serif;
}
.mobi .receive-mobi input {
    padding: 2px;
    height: 20px;
    border: 1px solid #a5afc3;
}
.mobi .mobi-bd dl {
    padding: 15px 0 15px 70px;
}
.mobi .mobi-bd dt {
    float: left;
    margin-left: -70px;
    _margin-left: -35px;
    padding: 5px 0 5px 10px;
}
.mobi .mobi-bd dl span {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 20px 10px 0;
    border: 1px solid #ebecef;
    color: #afafaf;
    cursor: pointer;
}
.mobi .mobi-bd dl span.selected {
    border: 1px solid #9ac72c;
    color: #656565;
}

.explain {
    float: left;
}
.explain-hd {
    padding-left: 20px;
    color: #656565;
    font-weight: 700;
	cursor: pointer;
}
.explain-bd {
    padding: 5px 0;
}
.explain-bd .tips {
    color: #a9a9a9;
    text-align: right;
}
.explain-text {
    width: 340px;
    height: 65px;
}

.bottom-right {
    float: right;
    width: 600px;
    text-align: right;
}
.discount {
    float: right;
    margin: 10px 0 20px;
}
.discount-ipt {
    width: 120px;
    height: 20px;
    border: 1px solid #abadb3;
}
.discount-btn {
    border: 0;
    width: 57px;
    height: 25px;
    margin-left: 10px;
    background: url(//img.uhcdn.com/images/y/cart/discount-btn.png) no-repeat 0 0;
    cursor: pointer;
}
.discount-error {
    color: #f00;
}
.discount-error,
.discount-info {
    text-align: left;
    padding-left: 84px;
    *padding-left: 81px;
}
.totalize {
    float: right;
    width: 600px;
}
.totalize em {
    color: #f50;
    font-size: 18px;
    font-weight: 700;
}
.confirm-order {
    position: relative;
    top: -5px;
    *top: 5px;
    width: 127px;
    height: 39px;
    border: 0;
    color: #F8F8F8;
    margin-left: 20px;
    font-weight: 700;
    line-height: 39px;
    text-indent: -9999px;
    display: inline-block;
    background-color: #F76B22;
    cursor: pointer;
}

.login-bd {
    margin: 20px 0;
	padding: 20px 40px;
    background-color: #fafafa;
    border-bottom: 1px solid #dde0e6;
}
.login-bd .item {
    clear: both;
    height: 24px;
    padding: 10px 0;
}
.login-bd .item label {
    float: left;
}
.login-bd .item input {
    float: left;
    width: 184px;
    height: 22px;
    line-height: 22px;
    margin-right: 5px;
    border: 1px solid #cdcdcd;
}
.login-bd .item span {
    float: left;
    line-height: 24px;
}
.login-bd .item span img {
    float: left;
    margin-right: 3px;
}
.login-bd .item .tips {
    color: #b9b9b9;
}
.login-bd .item .error {
    color: #fc7410;
    height: 18px;
}
.login-bd .item .forget {
    color: #fc7410;
}
.login-bd .submit {
    height: 37px;
    padding: 10px 0 0 48px;
}
.login-bd .item .submit-btn {
    width: 87px;
    height: 37px;
    border: 0;
    background: url(//img.uhcdn.com/images/y/cart-login.png) no-repeat 0 0;
}
#open-auth {
    padding: 0 0 10px 86px;
}
#open-auth span {
    color: #dbdbdb;
}
#open-auth a {
    color: #005aa0;
    text-decoration: none;
    display: inline-block;
    line-height: 16px;
    padding-left: 20px;
    margin: 0 5px;
    background: url(//img.uhcdn.com/images/y/cart-login.png) no-repeat 0 0;
}
#open-auth a.id-qq { background-position: -70px -86px; } 
#open-auth a.id-renren { background-position: -70px -119px; } 
#open-auth a.id-weibo { background-position: -70px -152px; } 
