 #{if carts?.size() > 0 }
    <ul>
    #{set number=0 /}
    #{set total=0 /}
    #{list items:carts, as:'cartItem'}
    #{set number+=cartItem.number/}
    #{set total+=(cartItem.goods.salePrice * cartItem.number)/}
        <li class="carts-item clearfix" id="row_${cartItem.goods.id}">
            <a class="goods-img" href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}/p/${cartItem.goods.id}"><img src="${cartItem.goods.imageTinyPath}" width="48" /></a>
            <a class="goods-name" href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}/p/${cartItem.goods.id}">${cartItem.goods.name}</a>
            <span class="goods-price">${cartItem.goods.salePrice?.formatCurrency('CNY')} x ${cartItem.number}</span>
            <span class="goods-del" title="删除" goods_id="${cartItem.goods.id}" sale_price="${cartItem.goods.salePrice}" count="${cartItem.number}"></span>
        </li>
    #{/list}
    </ul>
    <div class="totalcart">共<em id="all_number">${number}</em>件商品，共计<em id="all_price">${total}</em>元 <a href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}/carts">购买</a></div>
#{/if}
#{else}
    <div class="emptycart">你的购物车里没有任何商品。</div>
    <div class="totalcart">共<em>0</em>件商品，共计<em>0.00</em>元</div>
#{/else}

