<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>吃饱了，才有力气上学！- 一百券yibaiquan.com</title>
    #{asset.css src:['/y/base.min.css', '/y/sprite.min.css'] /}
    <link rel="stylesheet" href="http://a.yibaiquan.com/120901/style.css"/>
</head>
<body>
<div id="page">
<div id="topbar">
    <div id="topbar-bd">
        <ul class="site-nav">
        #{if cas?.isLogin}
            <li><a class="login" target="_blank"
                   href="http://home.${play.Play.configuration.getProperty("application.baseDomain")}"
                   id="login_name">${cas.loginName}</a></li>
            <li><a href="http://home.${play.Play.configuration.getProperty("application.baseDomain")}">我的一百券</a></li>
            <li><a href="/logout">退出</a></li>
        #{/if}
        #{else}
            <li class="first"><a class="login" id="login" href="/login">登录</a></li>
            <li><a class="signup" href="/register">注册</a></li>
        #{/else}
            <li><a id="favorite" class="favorite" href="">收藏一百券</a></li>
            <li class="last">
                <iframe width="63" height="24" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"
                        scrolling="no" border="0"
                        src="http://widget.weibo.com/relationship/followbutton.php?language=zh_cn&width=63&height=24&uid=2131727074&style=1&btn=red&dpc=1"></iframe>
            </li>
        </ul>
        <div class="share">
            <!-- Baidu Button BEGIN -->
            <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
                <span class="bds_more">分享到：</span>
                <a class="bds_tsina"></a>
                <a class="bds_qzone"></a>
                <a class="bds_tqq"></a>
                <a class="bds_renren"></a>
            </div>
            <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=763119"></script>
            <script type="text/javascript" id="bdshell_js"></script>
            <script type="text/javascript">document.getElementById("bdshell_js").src = "http://share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();</script>
            <!-- Baidu Button END -->
        </div>
    </div>
</div>
<!-- #topbar -->

<div id="head">
    <div class="inner"></div>
    <a class="ybq" href="http://www.yibaiquan.com" target="_blank"></a>
</div>
#{form @SecKillOrders.index(), id:'order_form' }
<input type="hidden" id="secKillGoodsItemId" name="secKillGoodsItemId" value="${goodsItem?.id}"/>

<div id="main">
    <div class="inner">
        <div class="skill">秒杀小技巧：点击<a href="http://home.yibaiquan.com/user-edit">绑定手机</a>后有助于更快抢购</div>
    </div>
    <div class="seckill">
        <div class="side">
            <img src="http://img.uhcdn.com/images/act/120901/pic.jpg" width="340" height="260"/>

            <div class="share">
                <!-- Baidu Button BEGIN -->
                <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare">
                    <a class="bds_tsina"></a>
                    <a class="bds_qzone"></a>
                    <a class="bds_renren"></a>
                    <a class="bds_taobao"></a>
                    <a class="bds_kaixin001"></a>
                    <a class="bds_ty"></a>
                    <a class="bds_msn"></a>
                    <span class="bds_more">更多</span>
                </div>
                <!-- Baidu Button END -->
            </div>
        </div>
        <div class="main">
            <div class="title">
                <a href="">${goodsItem.goodsTitle}</a>
                <span>2斤小龙虾+2斤烤鱼+手撕包菜</span>
            </div>
            <table class="discount">
                <tr>
                    <th>原价</th>
                    <th>折扣</th>
                    <th>节省</th>
                </tr>
                <tr>
                    <td>&yen;${goodsItem?.secKillGoods?.goods?.faceValue}</td>
                    <td>${goodsItem?.discountExpress}</td>
                    <td>&yen;${goodsItem?.savePrice}</td>
                </tr>
            </table>
            #{if !goodsItem.expired}
                <div class="withtime">距本次秒杀#{if !goodsItem.begin}开始#{/if}#{else}结束#{/else}还有：
                    <span id="time">
                    </span>
                </div>
            #{/if}

            <div class="price">
                <strong>现价￥：${goodsItem.salePrice}元</strong>
                #{if goodsItem.isBegin()}
                    <button type="submit" #{if exceedLimit} class="tobegin gray-btn" disabled="true"#{/if}#{else}
                            class="tobegin atonce" #{/else}></button>
                #{/if}
                #{elseif goodsItem.isFuture()}
                    <a class="tobegin" href="#"></a>

                #{/elseif}
                #{elseif goodsItem.over}
                    <!-- 秒杀结束-->
                    <div class="seckill-over"></div>
                    <!-- 秒杀结束 -->
                #{/elseif}
            </div>
            <div class="bypast">
                <del>原价${goodsItem?.secKillGoods?.goods?.faceValue}元</del>
                <span>还剩<i>${goodsItem.virtualInventory?:0}</i>件</span>
                #{if exceedLimit}
                    <span style="color: red">您已经够买过此商品，不能继续购买！</span>
                #{/if}
            </div>
            <div class="prop">商品类型：电子券 　　配送方式： 手机短信 　　券截止日期：${goodsItem.secKillGoods.goods.expireAt?.format()}</div>
    *{秒杀结束}*
        #{if goodsItem.over}
            <div class="seckill-over"></div>
        #{/if}
    *{秒杀结束}*

        </div>
    </div>

    <!-- 温馨提示 -->
    #{if goodsItem.secKillGoods?.prompt != null}
    <div class="warmtips">
        <div class="hd"><img src="http://img.uhcdn.com/images/act/120901/warmtips.png"/></div>
        <div class="bd">${goodsItem.secKillGoods.prompt.raw()}
        </div>
    </div>
    #{/if}

    <div class="diary">
        <div class="hd"><img src="http://img.uhcdn.com/images/act/120901/diary.png"/></div>
        <ul>
            #{set i:1/}
            #{list secKillGoodsItems, as:'secKillItem'}
                <li #{if i%2==0}class="last"#{/if}>
                    <div class="pic"><img src="${secKillItem?.secKillGoods?.imageMiddlePath}"
                                          width="429" height="310"></div>
                    <div class="meta">
                        <div class="num">本次特供：${secKillItem.totalCount}份</div>
                        <div class="date">秒杀日期：<u>${secKillItem.secKillBeginAt?.format('MM')}</u>月<u>${secKillItem
                    .secKillBeginAt?.format('dd')}</u>日<span>${secKillItem.secKillBeginAt?.format('HH')}</span>点<span>${secKillItem.secKillBeginAt?.format('mm')}</span>分<span>${secKillItem
                    .secKillBeginAt?.format('ss')}</span>秒
                        </div>
                        <div class="still">还　　剩：${secKillItem.virtualInventory?:0}件</div>
                    </div>
                    #{if secKillItem.over}
                    *{秒杀结束}*
                        <div class="over">
                            <div class="gray"></div>
                            <div class="icon"></div>
                        </div>
                    *{秒杀结束}*
                    #{/if}
                    #{elseif secKillItem.future}
                        <div class="enter-on">
                            <div class="gray">
                                <div class="text">${secKillItem.secKillBeginAt?.format('MM月dd日 HH:mm:ss')}
                                    <div>正式开秒</div>
                                </div>
                            </div>
                        </div>
                    #{/elseif}
                </li>
                #{set i:i+1/}
            #{/list}
        </ul>
    </div>

    <div class="detail">
        <div class="hd"><img src="http://img.uhcdn.com/images/act/120901/detail.png"/></div>
        <div class="bd">
            ${goodsItem.secKillGoods?.goods?.details?.raw()}
            <div class="store-address">通河路店：宝山区通河路460号(近长江西路，地铁1号线通河新村站步行5分钟) 　　电话：021-36417215</div>
        </div>
    </div>

    <div class="recommend">
        <div class="hd"><img src="http://img.uhcdn.com/images/act/120901/recommend.png"/></div>
        <div class="bd">
            <ul>
                <li><a href="http://www.yibaiquan.com/s/0-0-28-0-0-9-0" target="_blank"><img
                        src="http://img.uhcdn.com/images/act/7Xi/r1.jpg" alt="有家川菜"></a></li>
                <li><a href="http://www.yibaiquan.com/s/0-0-32-0-0-9-0" target="_blank"><img
                        src="http://img.uhcdn.com/images/act/7Xi/r2.jpg" alt="厚味香辣馆"></a></li>
                <li><a href="http://www.yibaiquan.com/s/0-0-34-0-0-9-0" target="_blank"><img
                        src="http://img.uhcdn.com/images/act/7Xi/r3.jpg" alt="好想你枣"></a></li>
                <li class="last"><a href="http://www.yibaiquan.com/s/0-0-39-0-0-9-0" target="_blank"><img
                        src="http://img.uhcdn.com/images/act/7Xi/r4.jpg" alt="大马头荼餐厅"></a></li>
            </ul>
        </div>
        <div class="ft"><img src="http://img.uhcdn.com/images/act/120901/recommend-ft.png"/></div>
    </div>

</div>
<!-- #main -->
#{/form}

<div id="foot">
    <div class="ft-nav">
        <a href="http://www.yibaiquan.com/about" target="_blank">关于我们</a> |
        <a href="http://www.yibaiquan.com/contact" target="_blank">联系我们</a> |
        <a href="http://www.yibaiquan.com/help" target="_blank">常见问题</a>
    </div>
    <div class="copyright">
        Copyright © 2012 一百券YiBaiQuan.COM 版权所有 <span> 沪ICP备08114451号-4</span>
    </div>
</div>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=763119"></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">document.getElementById("bdshell_js").src = "http://share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();</script>
<script>var STARTTIME = '#{if !goodsItem.begin}${goodsItem.secKillBeginAt?.format('''yyyy-MM-dd HH:mm:ss''')}#{/if}#{else}${goodsItem.secKillEndAt?.format('''yyyy-MM-dd HH:mm:ss''')}#{/else}';</script>
<script language="javaScript" src="http://a.uhcdn.com/js/u/jquery-1.7.2.min.js"></script>
<script src="http://a.yibaiquan.com/7Xi/jquery.countdown.js"></script>
<script>
    jQuery(document).ready(function () {

        //倒计时功能
        var v = STARTTIME.split(' '),
                d = v[0].split('-'),
                t = v[1].split(':');

        $('#time').countdown({
            until:new Date(d[0], d[1] - 1, d[2], t[0], t[1], t[2]),
            labels:['年', '月', '周', '天', '小时', '分', '秒'],
            layout:'<span class="d">{d<}{dn}{d>}</span>天 <span class="h">{h<}{hn}{h>}</span>小时 <span class="m">{m<}{mn}{m>}</span>分 <span class="s">{s<}{sn}{s>}</span>秒',
            format:'DHMS',
            onExpiry:function () {
                $('.tobegin').addClass('atonce').click(function () {
                    $('#order_form').submit();
                });
            },
            timezone:+8,
            serverSync:function () {
                var time = null;
                $.ajax({url:'/server_time?t=' + +new Date(),
                    async:false, dataType:'text',
                    success:function (text) {
                        time = new Date(text);
                    },
                    error:function (http, message, exc) {
                        time = new Date();
                    }
                });
                return time;
            }
        });

        //立即购买按钮
        $("#link_buy_now").click(function () {
            $("#order_form").submit();
            return false;
        });

    });
</script>
</body>
</html>
