#{extends 'layout_trader/layout2.html' /}
#{set title:'券号列表' /}
#{set menu:"coupons" /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
<div class="bd">
    <h2>${title}</h2>

    <form class="well form-inline" name="frmlist" id="frmlist" action="@{SupplierECoupons.index()}" method="GET">
        <div class="field-sect">
            <div class="field-group">
                <label>选择分店</label>
            #{if shopList?.size()>1}#{select 'condition.shopId', id:shopId, value:condition?.shopId}
                #{option ""}全部#{/option}
                #{list items:shopList, as:'shop'}
                    #{option shop?.id}${shop?.name}#{/option}
                #{/list}
            #{/select}
            #{/if}
            #{else}
                <p>${shopList?.get(0)?.name}</p>
                <input type="hidden" name="condition.shopId" id="condition_shopId" value="${shopList?.get(0)?.id}"/>
            #{/else}
            </div>
            <div class="field-group">
                <label>验证方式</label>
            #{select 'condition.verifyType', id:'condition_verifyType', value:condition?.verifyType}
                #{option ""}不限#{/option}
                #{option "CLERK_MESSAGE"}&{'coupon.CLERK_MESSAGE'}#{/option}
                #{option "CONSUMER_MESSAGE"}&{'coupon.CONSUMER_MESSAGE'}#{/option}
                #{option "SHOP"}&{'coupon.SHOP'}#{/option}
                #{option "TELEPHONE"}&{'coupon.TELEPHONE'}#{/option}
                #{option "WEIXIN"}&{'coupon.WEIXIN'}#{/option}
                #{option "OP_VERIFY"}&{'coupon.OP_VERIFY'}#{/option}
            #{/select}
            </div>

            <div class="field-group">
                <label>消费时间</label><input type="text" id="condition_consumed_begin" class="time"
                                          name="condition.consumedAtBegin"
                                          onfocus="WdatePicker({readOnly:true})"
                                          value="${condition?.consumedAtBegin?.format()}">
                <span>到</span>
                <input type="text" id="condition_consumed_end" class="time"
                       name="condition.consumedAtEnd"
                       onfocus="WdatePicker({readOnly:true})" value="${condition?.consumedAtEnd?.format()}">
                <button class="btn" onclick="couponIndex()">查询</button>
            </div>
        </div>

        <table cellspacing="0" cellpadding="0" border="0" class="title-table">
            <tr>
                <th wdith="50%" id="search">查询结果合计： ${couponPage?.size()?:0}条记录</th>
                <td wdith="50%" id="output"><a class="link" href="javascript:couponExcel()">导出</a></td>
            </tr>
        </table>
    </form>

    <table cellspacing="0" cellpadding="0" border="0" class="standard-table">
        <thead>
        <tr>
            <th width="45px">消费者手机</th>
            <th width="45px">券号</th>
            <th width="120px">商品名称</th>
            <th width="30px">面值</th>
            <th width="50px">消费门店</th>
            <th width="50px">验证方式</th>
            <th width="50px">消费时间</th>
        </tr>
        </thead>

        <tbody>
        #{set i:0/}
        #{paginate.list items:couponPage, as:'coupon'}
        <tr>
            <td>${coupon?.orderItems?.phone}</td>
            <td>${coupon?.eCouponSn}</td>
            <td align="left">${coupon?.goods?.shortName}<br>
                <span style="color: darkred">
                    #{if coupon.appointmentDate !=null}
                        #{if coupon.goods.isKtvProduct()}
                            预订：${coupon.appointmentDate?.format('M月d日')}<br>${coupon.appointmentRemark}
                        #{/if }
                        #{else }
                            预约日期：${coupon.appointmentDate.format()}<br>
                        ${coupon.appointmentRemark}
                        #{/else}
                    #{/if}
                </span>
            </td>
            <td align="right">${coupon?.faceValue?.formatCurrency('CNY')}</td>
            <td>${coupon?.getConsumedShop()}</td>
            <td>&{'coupon.'+coupon?.verifyType}<br>
                #{if coupon?.verifyType!=models.order.VerifyCouponType.AUTO_VERIFY}
                    #{if !"".equals(coupon?.supplierUser?.userName) && coupon?.supplierUser?.userName!=null}${coupon?.supplierUser?.userName}#{/if}
                    #{else}${coupon?.supplierUser?.loginName}#{/else}
                #{/if}

            </td>
            <td>${coupon?.consumedAt?.format("yyyy-MM-dd HH:mm:ss")}</td>
        </tr>
        #{/paginate.list}

        </tbody>
    </table>
#{paginate.controls items:couponPage /}
</div>
<script type="text/javascript">
    function couponIndex() {
        $("#frmlist").attr("action", "@{SupplierECoupons.index()}");
        $("#frmlist").attr("method", "get");
        $("#frmlist").submit();
    }

    function couponExcel() {
        $("#frmlist").attr("action", "@{SupplierECoupons.couponExcelOut()}");
        $("#frmlist").attr("method", "get");
        $("#frmlist").submit();
    }
</script>
