#{extends 'layout_operate/layout.html' /}
#{set title:'KTV淘宝产品管理' /}
#{include '/share/nav.html' /}
#{set 'moreStyles'}
<style>
    .syncInfo {
        padding-left: 10px;
        color: red;
    }

    .batchSync {
        float: right;
    }
</style>
#{/set}
<div class="body">

    <div class="body">
        <h2>${title}</h2>

        商户：#{vx.selectInputField name:"supplierName", id:"supplierId", list:supplierList,
    value:supplierId, array:"supplierArray",importJs:true/}
        <button class="btn btn-primary" type="submit"> 搜索</button>
        <button class="btn btn-primary batchSync" id="batchSync" type="button" style="display: none">批量同步</button>
        <div style="clear: both"></div>

        <table class="table table-bordered ">
            <thead>
            <tr>
                <th style="width: 150px">门店</th>
                <th style="width: 200px;">产品名称</th>
                <th>操 作</th>
                <th>同步淘宝SKU</th>
            </tr>
            </thead>
            <tbody>
            #{list items:shops, as:'shop' }
                #{list items:products, as:'product' }

                %{
                ktvProductGoods = models.ktv.KtvProductGoods.find("byShopAndProduct", shop,product).first() ;

                if (ktvProductGoods !=null){
                resalerProduct = models.sales.ResalerProduct.find("byGoodsAndResalerAndPartner",
                ktvProductGoods.goods,resaler,models.order.OuterOrderPartner.TB).first();
                }
                }%
                <tr>
                    #{if product_index == 1}
                        <td rowspan="${products.size()}">${shop.name}</td>
                    #{/if}

                    <td>${product.name}</td>
                    <td id="id_${shop.id}_${product.id}">
                        #{if resalerProduct }
                            <a href="http://upload.taobao.com/auction/publish/edit.htm?itemNumId=${resalerProduct?.partnerProductId}&auto=false"
                               target="_blank">去淘宝编辑</a> |
                            <a href="${resalerProduct.url}">查看</a>
                        #{/if}
                        #{else}
                            <a href="/ktv/taobao-product/publish?shop.id=${shop.id}&product.id=${product.id}"
                               target="_blank">发布</a>
                        #{/else}

                    </td>
                    <td>
                        #{if resalerProduct && ktvProductGoods.needSync==com.uhuila.common.constants.DeletedStatus.DELETED}
                            <a href="#" linkid="${ktvProductGoods.id}" class="syncSku">同步</a>
                            <img style="display: none" imgid="${ktvProductGoods.id}" src="/public/images/loading.gif"
                                 border="0"/>
                            <span infoid="${ktvProductGoods.id}" style="display: none" class="syncInfo"></span>
                        #{/if}
                    </td>
                </tr>
                %{
                ktvProductGoods = null;
                resalerProduct = null;
                }%
                #{/list}
            #{/list}
            </tbody>
        </table>
    </div>
</div>
#{set 'moreScripts'}
<script type="text/javascript">
    function startSync(ele, autoNext) {
        ele.hide();
        var pgid = ele.attr("linkid");
        var img = $("img[imgid='" + pgid + "']").show();
        $.ajax({
            url: "/ktv/taobao-product/sync-sku",
            type: "post",
            data: {"productGoodsId": pgid},
            success: function (data) {
                if (!data.isOk) {
                    img.hide();
                    $("span[infoid='" + pgid + "']").text(data.error).show();
                } else {
                    img.attr("src", "/public/images/ok.png");
                }
                if (autoNext) {
                    findOneAndSync();
                }
            },
            error: function (data) {
                img.hide();
                $("span[infoid='" + pgid + "']").text("服务器出错，请稍后重试").show();
                if (autoNext) {
                    findOneAndSync();
                }
            }
        });
    }

    function findOneAndSync() {
        var ele = $(".syncSku:visible").first();
        if (ele.length > 0) {
            startSync(ele, true);
        }
    }

    $(function () {
        var syncLinks = $(".syncSku");
        syncLinks.click(function () {
            startSync($(this), false);
        });
        if (syncLinks.length > 0) {
            $(".batchSync").show().click(function () {
                $(this).hide();
                for (var i = 0; i < 2; i++) {
                    findOneAndSync();
                }
            });
        }
    });

</script>
#{/set}