#{extends 'layout_operate/layout.html' /}
#{set title:'KTV淘宝产品发布' /}
#{include '/share/nav.html' /}

<div class="body">
    <div class="body">
    #{if shop}
        <h2>发布:${shop.name}-${product.name}</h2>

        <div style="text-align:center">
            #{if error}
                发布失败：${error}
            #{/if}
            #{else}
                发布成功：
                <a href="/ktv/taobao-products">返回</a> |
                <a href="http://item.taobao.com/item.htm?id=${taobaoProductId}">查看淘宝商品</a>
            #{/else}
        </div>
    #{/if}
    #{else}
        <div style="text-align:center">
            #{if error}
                删除失败：${error}
            #{/if}
        </div>
    #{/else}
    </div>
</div>

