#{extends 'layout_trader/layout.html' /}
#{set title:'添加电子消费券' /}
#{get 'moreScripts'}
<script src="@{'/public/javascripts/kindeditor-min.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/lang/zh_CN.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/goods-add.js'}" type="text/javascript" charset="UTF-8"></script>
#{/get}
#{include '/share/nav.html' /}
<div class="body">
#{form @Goods.create() , id:'creationForm',enctype:'multipart/form-data',class:"form-horizontal" }
    <legend>添加电子消费券</legend>
    #{include '/share/edit_goods.html' /}
    <div class="form-actions">
        <button class="btn btn-primary" id="save" type="submit">保存</button>
        <button class="btn btn-primary" id="onsales" type="submit">保存并上架</button>
        <button class="btn btn-primary" id="preview" type="submit">预览</button>
        <input type="hidden" id="status" name="goods.status"/>
    </div>
#{/form}
</div>
<script type="text/javascript">
    $("input[name='isAllShop']:checked").val() == 'false' ? $("#shop").show() : $("#shop").hide();
</script>


