#{extends 'main.html' /}
#{set title:'一百券 - 商品详情' /}
#{set 'moreStyles'}
    #{asset.css src:['/y/user/userBase.css', '/y/user/userOrdersDetail.css'] /}
#{/set}

<div id="content">
    #{breadcrumbs/breadcrumb breadcrumbs/}

    <table class="order-detail">
        <caption>
            <h3>订单详情</h3>
            <span>订单号：${order.orderNumber}</span>
            <span>成交时间：${order.createdAt?.format("yyyy-MM-dd HH:mm:ss")}</span>
            #{if order.paidAt !=null}<span>付款时间：${order.paidAt?.format("yyyy-MM-dd HH:mm:ss")}</span>#{/if}
        </caption>
        <thead>
            <tr class="col-name">
                <th>商品</th>
                <th width="60">类型</th>
                <th width="90">单价（元）</th>
                <th width="40">数量</th>
                <th width="100">券号</th>
                <th width="100">收货手机</th>
                <th width="60">折扣券</th>
                <th width="80">物流状态</th>
                <th width="100">实付款（元）</th>
                <th width="80">订单状态</th>
            </tr>
        </thead>
        <tbody>
        #{set m=0/}
        #{list items:orderItems, as:'row' }
            <tr class="order-bd">
                <td align="left" valign="middle">
                #{if row?.goodsHistoryId != null}
                    <a href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}/gh/${row.goodsHistoryId}" target="_blank"><img style="float:left;margin-right:5px" src="${row.goods.imageTinyPath}"/>${row.goods.name}</a>
                #{/if}
                #{else}
                    <a href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}/g/${row.goods?.id}" target="_blank"><img style="float:left;margin-right:5px" src="${row.goods.imageTinyPath}"/>${row.goods.name}</a>
                #{/else}
                </td>
                <td align="center" valign="middle">&{'goods.'+row.goods.materialType}</td>
                <td align="center" valign="middle">${row.salePrice?.formatCurrency('CNY').raw()}</td>
                <td align="center" valign="middle">${row.buyNumber}</td>
                <td align="center" valign="middle">${row?.getWebEcouponSn()}
                <div style="color: #ff0000">#{if row?.goods?.isLottery}该券只限抽奖,不可消费#{/if}</div></td>
                <td align="center" valign="middle">${row.phone}</td>
                <td align="center" valign="middle" style="color: #ff0000">${row?.rebateValue?.formatCurrency("CNY")}</td>
                <td align="center" valign="middle">
                    #{if (models.order.OrderStatus.SENT.equals(row?.status) && models.sales.MaterialType.REAL.equals(row?.goods?.materialType))}
                        已发货#{/if}
                    #{elseif (models.order.OrderStatus.PAID.equals(row?.status) && models.sales.MaterialType.ELECTRONIC.equals(row?.goods?.materialType)) }
                        已发送#{/elseif}

                    #{if (models.order.OrderStatus.PAID.equals(row?.status) && models.sales.MaterialType.REAL.equals(row?.goods?.materialType))}
                        未发货#{/if}
                    #{elseif (models.order.OrderStatus.UNPAID==row?.status && models.sales.MaterialType.ELECTRONIC==row?.goods?.materialType) }
                        未发送#{/elseif}
                </td>
                #{if (++m == 1) }
                <td align="center" valign="middle" rowspan="${orderItems?.size()}">${order?.amount?.formatCurrency('CNY').raw()}<br/> (含运费)</td>
                <td align="center" valign="middle" rowspan="${orderItems?.size()}">
                    #{if (row.status == models.order.OrderStatus.SENT)}交易成功#{/if}
                    #{else}&{'order.'+row.status}#{/else}
                </td>
                #{/if}
            </tr>
            #{if order?.remark != null && order?.remark !=""}
            <tr class="order-bd">
                <td colspan="9">订单留言：${order.remark}</td>
            </tr>
            #{/if}
        #{/list}
        </tbody>
    </table>
    <div class="totalize">
        <span>商品金额：#{if order.containsRealGoods()}${order.amount.subtract(models.order.Order.FREIGHT)}#{/if}#{else}${order.amount}#{/else}元</span>
        <span>运费：#{if order.containsRealGoods()}${models.order.Order.FREIGHT}#{/if}#{else}0#{/else}元</span>
        <span>合计：${order.amount}元</span>
    </div>
    #{if order.containsRealGoods()}
    <table class="ship-address">
        <caption>收货地址</caption>
        <tbody>
            <tr>
                <td>收 货 人：${order.receiverName}</td>
                <td>地　　址：${order.receiverAddress} ${order.postcode}</td>
            </tr>
            <tr>
                <td>电　　话：${order.receiverPhone}</td>
                <td>手　　机：${order.receiverMobile}</td>
            </tr>
            <tr>
                <td>物流公司：${order.deliveryCompany}</td>
                <td>物流单号：${order.deliveryNo}</td>
            </tr>
        </tbody>
    </table>
    #{/if}
</div>
