#{extends 'main.html' /}
#{set title:'优惠啦 - 商品详情' /}
#{set 'moreStyles'}
<link href="@{'/public/stylesheets/my_good.css'}" rel="stylesheet" type="text/css"/>
<link href="@{'/public/stylesheets/user-center.css'}" rel="stylesheet" type="text/css"/>
<link href="@{'/public/stylesheets/shop_info_more.css'}" rel="stylesheet" type="text/css"/>
#{/set}
<body>
<div class="wrap clearfix">
#{breadcrumbs/breadcrumb breadcrumbs/}
    <div class="tab_top">我的订单</div>
    <div class="tab_top2">
        <span class="tab_one">订单号：${order.orderNumber}</span><span
            class="tab_two">成交时间：${order.createdAt?.format("yyyy-MM-dd HH:mm:ss")}</span>
        <span>付款时间：${order.paidAt?.format("yyyy-MM-dd HH:mm:ss")}</span>
    </div>

    <table class="order-tab" cellpadding="0" cellspacing="0">
        <tr class="col-name">
            <th width="369" height="30">商品</th>
            <th width="69">类型</th>
            <th width="81">单价（元）</th>
            <th width="66">数量</th>
            <th width="118">劵号</th>
            <th width="118">收货手机</th>
            <th width="93">物流状态</th>
            <th width="163">实付款（元）</th>
            <th width="93">订单状态</th>
        </tr>
    #{set m=0/}
    #{list items:orderItems, as:'row' }
        <tr>
            <td align="left" valign="middle">
                <div class="left_shangpin"><a href="http://www.uhuila.cn/goods/${row.goods.id}" target="_blank"><img src="${row.goods.imageTinyPath}"/></a></div>
                <div class="right_shangpin"><a href="http://www.uhuila.cn/goods/${row.goods.id}" target="_blank">${row.goods.name}</a></div>
            <td width="69" align="center" valign="middle">&{'goods.'+row.goods.materialType}</td>
            <td width="81" align="center" valign="middle">${row.salePrice?.formatCurrency('CNY').raw()}</td>
            <td width="66" align="center" valign="middle">${row.buyNumber}</td>
            <td width="118" align="center" valign="middle"><span
                    class="strong_gray">${row?.getWebEcouponSn()}</span></td>
                     <td width="66" align="center" valign="middle">${row.phone} 
                    </td>
            <td width="66" align="center" valign="middle">
                #{if (models.order.OrderStatus.SENT.equals(row?.status) && models.sales.MaterialType.REAL.equals(row?.goods?.materialType))}
                    已发货#{/if}
                #{elseif (models.order.OrderStatus.PAID.equals(row?.status) && models.sales.MaterialType.ELECTRONIC.equals(row?.goods?.materialType)) }
                    已发送#{/elseif}

                #{if (models.order.OrderStatus.PAID.equals(row?.status) && models.sales.MaterialType.REAL.equals(row?.goods?.materialType))}
                    未发货#{/if}
                #{elseif (models.order.OrderStatus.UNPAID==row?.status && models.sales.MaterialType.ELECTRONIC==row?.goods?.materialType) }
                    未发送#{/elseif}
            </td>
            #{if (++m == 1) }
                <td rowspan="${orderItems.size()}" align="center"
                    valign="middle">${order?.amount?.formatCurrency('CNY').raw()}<br/> (含运费)
                </td>
                <td rowspan="${orderItems.size()}" align="center" valign="middle">
                &{'order.'+order.status}
                </td>
            #{/if}

        </tr>
    #{/list}
    </table>
</div>
<div class="buttom_tab_info2">
#{if "[REAL]".equals(orderItems.goods.materialType)}
    商品金额：<span class="font_cheng">${order?.amount.subtract(new java.math.BigDecimal("5"))}元</span>
    运费：<span class="font_cheng">5元</span>
#{/if}
#{else}
    商品金额：<span class="font_cheng">${order?.amount}元</span>
    运费：<span class="font_cheng">0元</span>
    合计：<span class="font_cheng">${order.amount}元</span>
#{/else}
</div>
<div style="clear: both"></div>
 #{set i:0/}
 #{list items:orderItems, as:'row' }
     #{if models.sales.MaterialType.REAL==row.goods.materialType && i==0}
    <div class="tab_top">
        <span>收货人信息</span>
    </div>
    <div class="tab_top_box ren_info">
    <table class="order-tab" cellpadding="0" cellspacing="0">
     #{set i:i+1/}
        <tr>
            <td width=380 >收货人：${order.receiverName}</td> <td width=980 height="30">详细地址：${order.receiverAddress}</td>
        </tr>
        <tr>
            <td width=380 >物流公司：${order.deliveryCompany}</td> <td width=980 height="30">物流单号：${order.deliveryNo}</td>
        </tr>
        <tr>
            <td width=380 colspan=2  height="30">电话：${order.receiverPhone}</td>
        </tr>
    </table>
</div>
#{/if}
#{/list}
</body>
