#{extends 'main.html' /}
#{set title:'申请退款' /}
#{set 'moreStyles'}
    #{asset.css src:['/y/user/userBase.css', '/y/user/userOrdersRefund.css'] /}
#{/set}

<div id="content" class="clearfix">
#{include "share/left.html"/}
    <div class="section">
    #{breadcrumbs/breadcrumb breadcrumbs/}
        <form action="/orders/batch-refund" method="post">
            <table class="order-detail">
                <caption>
                    <span>订单号：${order.orderNumber}</span>
                    <span>成交时间：${order.createdAt?.format("yyyy-MM-dd HH:mm:ss")}</span>
                    <span>付款时间：${order.paidAt?.format("yyyy-MM-dd HH:mm:ss")}</span>
                    <span>订单状态：&{'order.'+order.status}</span>
                </caption>
                <thead>
                <tr class="col-name">
                    <th width="50"><input class="select-all" type="checkbox" name="select_all_checkbox"/>全选</th>
                    <th>商品</th>
                    <th width="120">收货手机</th>
                    <th width="120">单价（元）</th>
                    <th width="120">券号</th>
                    <th width="120">券状态</th>
                </tr>
                </thead>
                <tbody>
                #{list items:eCoupons, as:'coupon' }
                <tr class="order-bd">
                    <td align="center">
                        #{if coupon.status == models.order.ECouponStatus.UNCONSUMED }
                            <input class="select-item" type="checkbox" id="check_coupon_${coupon.id}"
                                   value="${coupon.id}" name="couponIds"/>
                        #{/if}
                    </td>
                    <td align="left" valign="middle">${coupon.goods.name}</td>
                    <td align="center" valign="middle">${coupon.orderItems.phone}</td>
                    <td align="center" valign="middle">${coupon.salePrice?.formatCurrency('CNY').raw()}</td>
                    <td align="center" valign="middle">${coupon?.eCouponSn}</td>
                    <td align="center" valign="middle">&{'coupon.'+coupon.status}</td>
                </tr>
                #{/list }
                </tbody>
            </table>
            <div class="btn">
                <input class="select-all" type="checkbox" name="select_all_checkbox"/><label>全选</label>
                <input class="refund" type="submit" id="refund" value="申请退款">
                <input type="hidden" value="${order.orderNumber}" name="orderNumber">
            </div>
        </form>
    </div>
</div>
<script>
    var set_all_select_all_checkbox = function (checked) {
        $("input[name=select_all_checkbox]").each(function () {
            this.checked = checked
        });
    };
    var set_all_goods_checkbox = function (checked) {
        $("input[id^=check_coupon_]").each(function () {
            this.checked = checked
        });
    };

    $("#refund").click(function () {
        var cnt = 0;
        $("input[id^=check_coupon_]").each(function () {
            if (this.checked == true) {
                cnt++;
            }
        });
        if (cnt == 0) {
            alert("请选择一条数据！");
            return false;
        }
        if (confirm("确定退款吗？")) {
            return true;
        } else {
            return false;
        }
    });

    var all_checked = function () {
        var all_check = true;
        $("input[id^=check_coupon_]").each(function () {
            if (this.checked) {
                return true;
            } else {
                all_check = false;
                return false;
            }
        });

        return all_check;
    };

    $(function () {
        //点击全选
        $("input[name=select_all_checkbox]").each(function () {
            $(this).click(function () {
                if (this.checked) {
                    set_all_select_all_checkbox(true);
                    set_all_goods_checkbox(true);
                } else {
                    set_all_select_all_checkbox(false);
                    set_all_goods_checkbox(false);
                }
            });
        });
        //点击单个复选框
        $("input[id^=check_coupon_]").each(function () {
            $(this).click(function () {
                if (all_checked()) {
                    set_all_select_all_checkbox(true);
                } else {
                    set_all_select_all_checkbox(false);
                }
            });
        });
    });
</script>

*{
<div class="wrap clearfix">
#{breadcrumbs/breadcrumb breadcrumbs/}
    <h3 style="padding:10px 0 5px;font-size:16px;">申请退款</h3>
    <div class="order-info">
        <span class="order-no">订单号：${order.orderNumber}</span>
        <span class="order-deal">成交时间：${order.createdAt?.format("yyyy-MM-dd HH:mm:ss")}</span>
        <span class="order-paytime">付款时间：${order.paidAt?.format("yyyy-MM-dd HH:mm:ss")}</span>
        <span>订单状态：&{'order.'+order.status}</span>
    </div>
    <form action="/orders/batch-refund" method="post">
    <table class="order-tab" cellpadding="0" cellspacing="0">
        <thead>
            <tr class="col-name">
                <th width="70">&nbsp;</th>
                <th width="340"><span class="th_shop_text">商品</span></th>
                <th width="169"><span class="th_shop_text">收货手机</span></th>
                <th width="69">单价（元）</th>
                <th width="163">券号</th>
                <th width="193">券状态</th>
            </tr>
        </thead>
        <tbody>
        #{list items:eCoupons, as:'coupon' }
            <tr>
                <td>
                   #{if coupon.status == models.order.ECouponStatus.UNCONSUMED }
                   <input type="checkbox" id="check_coupon_${coupon.id}" value="${coupon.id}" name="couponIds"/>
                   #{/if}
                </td>
                <td align="center" valign="middle">${coupon.goods.name}</td>
                <td width="69" align="center" valign="middle">${coupon.orderItems.phone}</td>
                <td width="69" align="center" valign="middle">${coupon.salePrice?.formatCurrency('CNY').raw()}</td>
                <td align="center" valign="middle">${coupon?.eCouponSn}</td>
                <td align="center" valign="middle">&{'coupon.'+coupon.status}</td>
            </tr>
        #{/list }
        </tbody>
    </table>
    <div class="btn-box">
        <label><input class="th_one_input" type="checkbox" name="select_all_checkbox" />全选</label>
        <input type="submit" id="refund" value="申请退款">
        <input type="hidden" value="${order.orderNumber}" name="orderNumber">
    </div>
    </form>
</div>
<br/>
<br/>
}*
