#{extends 'main.html' /}
#{set title:'申请退款' /}
#{set 'moreStyles'}
<link href="@{'/public/stylesheets/my_good.css'}" rel="stylesheet" type="text/css"/>
<link href="@{'/public/stylesheets/user-center.css'}" rel="stylesheet" type="text/css"/>
<link href="@{'/public/stylesheets/shop_info_more.css'}" rel="stylesheet" type="text/css"/>
#{/set}
<!--主体内容部分-->
<div class="wrap clearfix">
#{breadcrumbs/breadcrumb breadcrumbs/}
    <div class="tab_top">申请退款</div>
    <div class="tab_top2">
     <span class="tab_one">订单号：${order.orderNumber}</span>
     <span class="tab_two">成交时间：${order.createdAt?.format("yyyy-MM-dd HH:mm:ss")}</span>
     <span>付款时间：${order.paidAt?.format("yyyy-MM-dd HH:mm:ss")}</span>&nbsp;&nbsp;
     <span>订单状态：&{'order.'+order.status}</span>
    </div>
            <form action="/orders/batch-refund" method="post">

           <table class="order-tab" cellpadding="0" cellspacing="0">
                <tr class="col-name">
                    <th width="70">&nbsp;</th>
                    <th width="340"><span class="th_shop_text">商品</span></th>
                    <th width="169"><span class="th_shop_text">收货手机</span></th>
                    <th width="69">单价（元）</th>
                    <th width="163">券号</th>
                    <th width="193">券状态</th>
                </tr>
                #{list items:eCoupons, as:'coupon' }
                <tr>
                    <td>
                        #{if coupon.status == models.order.ECouponStatus.UNCONSUMED || coupon.status == models.order.ECouponStatus.EXPIRED}
                        <input type="checkbox" id="check_coupon_${coupon.id}" value="${coupon.id}" name="couponIds"/>
                        #{/if}
                    </td>
                    <td align="center" valign="middle">
                        <div class="col_one_text">${coupon.goods.name}</div>
                    </td>
                    <td width="69" align="center" valign="middle">${coupon.orderItems.phone}</td>
                    <td width="69" align="center" valign="middle">
                        ${coupon.salePrice?.formatCurrency('CNY').raw()}
                    </td>
                    <td align="center" valign="middle">
                        <div class="caozuo_std">${coupon?.eCouponSn}
                        </div>
                    </td>
                    <td align="center" valign="middle">
                        &{'coupon.'+coupon.status}
                    </td>
                </tr>
                #{/list}
                <tr><td> <label>
                    <input class="th_one_input" type="checkbox" name="select_all_checkbox" />全选
                </label></td>
               <td colspan="5">  <input type="submit" id="refund" value="申请退款"></td></tr>
                
            </table>
               
                <input type="hidden" value="${order.id}" name="orderId">
            </form>
        </div>
    </div>
</div>
<script>
var set_all_select_all_checkbox =function(checked){
    $("input[name=select_all_checkbox]").each(function(){
        this.checked = checked
    });
};
var set_all_goods_checkbox = function(checked){
    $("input[id^=check_coupon_]").each(function(){
        this.checked = checked
    });
};

$("#refund").click(function(){
	var cnt =0;
    $("input[id^=check_coupon_]").each(function(){
       if (this.checked == true) {
    	   cnt++;
       }
    });
    if (cnt == 0) {
    	alert("请选择一条数据！");
    	return false;
    }
});

var all_checked= function(){
    var all_check = true;
    $("input[id^=check_coupon_]").each(function(){
        if(this.checked){
            return true;
        }else{
            all_check = false;
            return false;
        }
    });

    return all_check;
};



$(window).load(
    function(){
    //点击全选
    $("input[name=select_all_checkbox]").each(function(){
        $(this).click(
            function(){
                if(this.checked){
                    set_all_select_all_checkbox(true);
                    set_all_goods_checkbox(true);
                }else{
                    set_all_select_all_checkbox(false);
                    set_all_goods_checkbox(false);
                }
            }
            )});
    //点击单个复选框
    $("input[id^=check_coupon_]").each(function(){
        $(this).click( function(){
            if(all_checked()){
                set_all_select_all_checkbox(true);
            }else{
                set_all_select_all_checkbox(false);
            }
        })
    });
});
</script>
