<div class="aside">
    <div class="menu">
        <h3>我的商城</h3>
        <ul>
            <li><a class="current" href="">» 我的商品订单</a></li>
            <li><a href="">» 我的券订单</a></li>
            <li><a href="">» 我的电影票</a></li>
        </ul>
        <h3>我的资金</h3>
        <ul>
            <li><a href="">» 资金明细</a></li>
            <li><a href="">» 退款记录</a></li>
        </ul>
        <h3>我的积分</h3>
        <ul>
            <li><a href="">» 积分明细</a></li>
            <li><a href="">» 积分兑换</a></li>
            <li><a href="">» 兑换记录</a></li>
        </ul>
        <h3>资料管理</h3>
        <ul>
            <li><a href="">» 我的资料</a></li>
            <li><a href="">» 修改密码</a></li>
            <li><a href="">» 优卡管理</a></li>
            <li><a href="">» 收货地址</a></li>
        </ul>
    </div>
</div>
