<div class="aside">
    <div class="menu">
        <h3>我的商城</h3>
        <ul>
            <li><a #{if request.url.equals("/orders")||request.url.equals("/")}class="current"#{/if} href="@{UserOrders.index()}">»
                我的订单</a></li>
            <li><a #{if request.url.equals("/coupons")}class="current"#{/if}
                    href="@{UserCoupons.index()}">» 我的券</a></li>
        </ul>
        <h3>我的资金</h3>
        <ul>
            <li><a id="amount" #{if request.url.equals("/sequences")}class="current"#{/if} href="/user-sequences">» 资金明细</a></li>
          <!--  <li><a #{if request.url.equals("/refunds")}class="current"#{/if} href="">» 退款记录</a></li>-->
            <li>
                <a #{if request.url.equals("/withdraw")}class="current"#{/if}  href="@{UserWithdraw.index()}">» 提现申请</a>
            </li>
        </ul>
        <h3>我的积分</h3>
        <ul>
            <li><a id="points"href="/user-point">» 积分明细</a></li>
        </ul>
        <h3>资料管理</h3>
        <ul>
            <li><a id="userInfo" #{if request.url.equals("/user-info")}class="current"#{/if} href="/user-info">» 我的资料</a></li>
            <li><a id="pwd" #{if request.url.equals("/user/password")}class="current"#{/if}
                   href="/user/edit-password">»
                修改密码</a></li>
            <li><a #{if request.url.equals("/addresses")}class="current"#{/if} href="/addresses">» 收货地址</a></li>
        </ul>
    </div>
</div>
