<div class="aside">
    <div class="menu">
        <h3
        #{if request.url.contains("/orders")||request.url.equals("/")||request.url.contains("/coupons")}class="active"#{/if}>
            我的一百券</h3>
        <ul>
            <li><a #{if request.url.contains("/orders")||request.url.equals("/")}class="current"#{/if}
                   href="@{UserOrders.index()}">» 我的订单</a></li>
            <li><a #{if request.url.contains("/coupons")}class="current"#{/if} href="@{UserCoupons.index()}">» 我的券</a>
            </li>
        </ul>

        <h3 #{if request.url.contains("/user-sequences") ||request.url.contains("/withdraw")
                || request.url.contains("/cash-coupon") || request.url.contains("user-coins")}class="active"#{/if}>
            我的资金</h3>
        <ul>
            <li><a #{if request.url.contains("/user-sequences")}class="current"#{/if} href="@{UserSequences.index()}">»
                资金明细</a>
            </li>
            <li><a #{if request.url.contains("/withdraw")}class="current"#{/if}  href="@{UserWithdraw.index()}">»
                提现申请</a></li>
            <!--
            <li><a #{if request.url.contains("/cash-coupon")}class="current"#{/if}  href="@{UserCashCoupons.index()}">»
                现金券充值</a></li>
            -->
            <li><a #{if request.url.equals("/user-coins")}class="current"#{/if} href="/user-coins">» 我的金币</a></li>
        </ul>

        <h3 #{if request.url.contains("/voucher")}class="active"#{/if}>
        我的抵用券</h3>
        <ul>
            <li><a #{if request.url.contains("/voucher") && !request.url.contains("/voucher/assign") }class="current"#{/if}  href="@{UserVouchers.index()}">»
               我的抵用券</a></li>
            <li><a #{if request.url.contains("/voucher/assign")}class="current"#{/if}  href="@{UserVouchers.showAssign()}">»
                抵用券领取</a></li>
        </ul>
        <!--
        <h3 #{if request.url.contains("/user-point")}class="active"#{/if}>我的积分</h3>
        <ul>
            <li><a #{if request.url.contains("/user-point") && !request.url.contains("/user-point-record") }class="current"#{/if} href="/user-point">» 积分明细</a></li>
            <li><a #{if request.url.contains("/user-point-record")}class="current"#{/if} href="/user-point-record">»
                兑换记录</a></li>
        </ul>
        -->
    *{
        <h3 #{if request.url.contains("/rebate")}class="active"#{/if}>推荐返利</h3>
        <ul>
            <li><a #{if request.url.equals("/rebate")}class="current"#{/if} href="/rebate">» 分享返利</a></li>
            <li><a #{if request.url.equals("/rebate-rank")}class="current"#{/if}href="/rebate-rank">» 返利排名</a></li>
            <li><a #{if request.url.equals("/rebate-account")}class="current"#{/if}href="/rebate-account">» 返利明细</a>
            </li>
        </ul>
        }*
        <h3
        #{if request.url.contains("/user-info")||request.url.equals("/user/edit-password")||request.url.contains("/user-edit")||request.url.equals("/addresses")}class="active"#{/if}>
            资料管理</h3>
        <ul>
            <li><a #{if request.url.contains("/user-info")|| request.url.contains("/user-edit") }class="current"#{/if}
                   href="/user-info">» 我的资料</a></li>
            <li><a #{if request.url.contains("/user/edit-password")}class="current"#{/if} href="/user/edit-password">»
                修改密码</a></li>
            <li><a #{if request.url.contains("/addresses")}class="current"#{/if} href="/addresses">» 收货地址</a></li>
        </ul>
    </div>
</div>

