#{form @real.PurchaseOrders.updateItem(), class:"form-horizontal" ,id:"purchase_order_form"}

<div class="control-group">
    <label class="control-label"><span style="color: red; ">*</span>出售方</label>

    <div class="controls">
        #{vx.selectInputField name:"vendorName", id:"purchaseOrder.vendor.id", list:vendorList, value:purchaseOrder?.vendor?.id, array:'vendorArray'/}
        <span class="error">#{error 'purchaseOrder.vendor.id'/}</span>
    </div>
</div>

    #{layout_operate.selectField name:'purchaseOrder.invoiceType', class:'span2', value:purchaseOrder?.invoiceType,
    error:'purchaseOrder.invoiceType', required:true}
        #{option "PLAIN"}&{'purchaseOrderInvoiceType.PLAIN'}#{/option}
        #{option "VAT"}&{'purchaseOrderInvoiceType.VAT'}#{/option}
        #{option "VAT_PLAIN"}&{'purchaseOrderInvoiceType.VAT_PLAIN'}#{/option}
        #{option "NO"}&{'purchaseOrderInvoiceType.NO'}#{/option}
    #{/layout_operate.selectField}

    #{layout_operate.selectField name:'purchaseOrder.paymentType', class:'span2', value:purchaseOrder?.paymentType,
    error:'purchaseOrder.paymentType', required:true}
        #{option "TRANSFER"}&{'purchaseOrderPaymentType.TRANSFER'}#{/option}
        #{option "CASH"}&{'purchaseOrderPaymentType.CASH'}#{/option}
        #{option "HECK"}&{'purchaseOrderPaymentType.CHECK'}#{/option}
    #{/layout_operate.selectField}


    #{layout_operate.dateTimeField name:'purchaseOrder.signedAt',value:purchaseOrder?.signedAt?.format('yyyy-MM-dd HH:mm:ss')?:new java.util.Date().format('yyyy-MM-dd HH:mm:ss')/}


<div style="  padding: 15px;
    margin-bottom: 10px;
    border: 1px dashed #c2c2c2;">
    <div class="control-group">
        <label class="control-label"><span style="color: red; ">*</span>采购货品</label>

        <div class="controls">
            #{vx.selectInputField name:"skuName", id:"item.sku.id", list:skuList, value:item?.sku?.id, array:'skuArray'/}
            <span class="error">#{error 'item.sku.id'/}</span>
        </div>
        <br>
        #{layout_operate.textField labelName:'采购数量',name:'item.count', value:item?.count, note:'件', required:true/}

        #{layout_operate.textField  labelName:'进价',name:'item.price', value:item?.price,
        note:'元',
        required:true/}

        #{layout_operate.dateScopeField name:'item.effective', begin:'item.effectiveAt',end:'item.expireAt',
        beginValue:item?.effectiveAt?.format(), endValue:item?.expireAt?.format()/}

    </div>
</div>

<div class="form-actions">
    <input type="hidden" name="purchaseOrderId" value="${purchaseOrderId}"/>
    <button class="btn btn-primary" type="submit" onclick="updateItem()">添加采购商品</button>
</div>
#{/form}
<legend>修改采购明细</legend>

*{<a style=" margin-left:105px;" class="btn" id="add_purchase_item">添加采购商品</a>}*



<table class="table" style="width:auto">
    <tr>
        <th>采购货品名称</th>
        <th>采购数量</th>
        <th>进价</th>
        <th>货品有效期</th>
        <th>操作</th>
    </tr>
#{list items:purchaseItemList, as:'purchaseItem'}
    <tr>
        #{form @real.PurchaseOrders.updateItem()}
            <td>
            *{${purchaseItemList.get(0).count}}*
                <div class="control-group">
                    #{vx.selectInputField name:"item.sku.name", id:"item.sku.id"+purchaseItem.id, list:skuList, value:purchaseItem.sku.id,
                    importJs: false, array:'skuArray'/}
                    *{<span class="error">#{error 'item.sku.id'/}</span>}*
                </div>
            </td>
            <td>
                #{layout_operate.plainTextField name:'item.count', value:purchaseItem?.count, required:true/}
            </td>
            <td>
                #{layout_operate.plainTextField name:'item.price', value:purchaseItem?.price, required:true/}

            </td>
            <td>
                #{layout_operate.plainDateScopeField name:'item.effective', begin:'item.effectiveAt',end:'item.expireAt',
            beginValue:purchaseItem?.effectiveAt?.format(), endValue:purchaseItem?.expireAt?.format()/}
            </td>
        <td>
        <div class="control-group">
            <input type="hidden" name="purchaseOrderId" value="${purchaseItem?.purchaseOrder?.id}"/>
            <button class="btn btn-primary" type="submit">修 改</button>
        #{/form}
        #{form @real.PurchaseOrders.deletePurchaseItem(), style:"display:inline",method:'DELETE'}
            <input type="text" name="itemId" value="${purchaseItem?.id}"/>
            <input type="hidden" name="purchaseOrderId" value="${purchaseOrderId}"/>
            <button class="btn btn-danger">删 除</button>
        #{/form}
    </div>
    </td>
    </tr>
#{/list}
</table>
<div class="form-actions">
    <a class="btn btn-primary" id="save_order" onclick="saveOrder()"> 保存</a>
#{vx.cancelButton url:'', class:'btn btn-primary'/}
</div>

<script type="text/javascript">
    function updateItem() {
        $("#purchase_order_form").attr("action", "@{real.PurchaseOrders.updateItem()}");
//        $("#purchase_order_form").attr("method", "get");
        $("#purchase_order_form").submit();
        return false;
    }

    function saveOrder() {
        $("#purchase_order_form").attr("action", "@{real.PurchaseOrders.create()}");
        $("#purchase_order_form").attr("method", "post");
        $("#purchase_order_form").submit();
        return false;
    }

    function deleteItem() {
        $("#purchase_order_form").attr("action", "@{real.PurchaseOrders.deletePurchaseItem()}");
//        $("#purchase_order_form").attr("method", "get");
        $("#purchase_order_form").submit();
        return false;
    }


</script>

