#{extends 'layout_operate/layout.html' /}
#{set title:'solr数据加载' /}
#{include '/share/nav.html' /}
<div class="body">
    <button class="btn btn-primary" id="solr">solr数据加载</button>
    <span id="solr_err" style="color: #ff0000;"></span>

</div>
<script type="text/javascript">
    $(function () {
        $("#solr").click(function () {
             $("#solr_err").html("请等待。。。。");
            $.ajax({
                type:'GET',
                url:"/solr-init",
                success:function (msg) {
                    if (msg == "ok") {
                        $("#solr_err").html("加载成功！");
                    } else {
                        $("#solr_err").html("加载失败！<br>"+msg);
                    }
                }
            });
        });
    })
</script>