.account {
    padding: 10px 20px 20px;
    background-color: white;
}

.field-group {
    position: relative;
    padding-left: 90px;
    margin-bottom: 12px;
}
.field-group label {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
}
.field-group select {
    width: 412px;
    height: auto;
    margin: 0;
    padding: 5px;
    border: 3px solid silver;
    font-size: 14px;
    vertical-align: middle;
}
.field-group input.time {
    margin: 0 5px;
    padding: 5px;
    width: 198px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid #CCC;
}
.field-group input.text {
    padding: 5px;
    width: 400px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid #CCC;
}