body {
    background: url(http://y1.uhcdn.com/images/2012/12/2525e1b30c9ea843.gif) repeat 0 0;
}
h2 {
    font-size: 24px;
    padding-bottom: 8px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #E3E3E3;
}

#header {
    margin-bottom: 20px;
    background-color: #1b1b1b;
}
#header .wrap {
    height: 36px;
    width: 980px;
    padding: 0 10px;
    line-height: 36px;
    margin: 0 auto;
}
#header h1 {
    float: left;
    color: white;
    font-size: 22px;
}
#header .user {
    float: right;
    color: white;
}
#header .user a {
    color: white;
    margin-left: 10px;
}
/* 提示信息 */
.success {
    color: #169418;
    border: 1px solid #00c807;
    background-color: #f3f8de;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
}

/*form表单提示*/
.red {
    color: #B94A48;
    border: 1px solid #B94A48;
    background-color: #FFFBF0;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
}

.error {
    color: #B94A48;
}

/* 公告 */
#message {
    position: relative;
    width: 1000px;
    margin: 0 auto 20px;
}
#message .close {
    position: absolute;
    top: 11px;
    right: 10px;
    color: #b7b7b7;
    padding-left: 12px;
    background: url(http://y1.uhcdn.com/images/2012/12/0a9bc329d8478889.png) no-repeat 0 6px;
}
#message .close:hover {
    color: #333;
    text-decoration: none;
    background-position: 0 -34px;
}
#message .normal {
    padding: 10px 60px 10px 10px;
    border: 1px solid #fbeed5;
    color: #c09853;
    background-color: #fcf8e3;
    border-radius: 3px;
}
#message .normal p em {
    color: #c09853;
    font-weight: bold;
}
#message p a {
    color: #08c;
}
/* 成功消息提示 */
#success {
    position: relative;
    width: 1000px;
    margin: 0 auto 20px;
}
#success .close {
    position: absolute;
    top: 11px;
    right: 10px;
    color: #b7b7b7;
    padding-left: 12px;
    background: url(http://y1.uhcdn.com/images/2012/12/0a9bc329d8478889.png) no-repeat 0 6px;
}
#success .close:hover {
    color: #333;
    text-decoration: none;
    background-position: 0 -34px;
}

#success .success {
    font-size: 22px;
    padding: 3px 100px 4px 10px;
    border: 1px solid #00c807;
    background-color: #f3f8de;
    border-radius: 3px;
    display: block;
}
#success .success p em {
    color: #00c807;
}
#success .success p a {
    font-size: 22px;
}
#message .success {
    font-size: 22px;
    padding: 3px 100px 4px 10px;
    border: 1px solid #00c807;
    background-color: #f3f8de;
    border-radius: 3px;
    display: block;
}
#message .success p em {
    color: #00c807;
}
#message .success p a {
    font-size: 22px;
}
#content {
    width: 1000px;
    min-height: 800px;
    margin: 0 auto 20px;
}
.sidebar {
    float: left;
}
.sidebar .menu {
    width: 160px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e4e4e4;
}
.sidebar .menu li {
    height: 32px;
    margin: 5px 0;
}
.sidebar .menu a {
    display: block;
    color: #08c;
    height: 32px;
    line-height: 32px;
    text-indent: 15px;
    text-decoration: none;
    border-radius: 3px;
}
.sidebar .menu a:hover {
    background-color: #d2d2d2;
}
.sidebar .menu a.curr {
    color: white;
    background-color: #08c;
}
.sidebar .sbox {
    padding: 10px;
    background-color: #e4e4e4;
}
.sidebar .sbox strong {
    font-size: 18px;
}
.section {
    float: right;
    width: 800px;
}
#footer {
    width: 1000px;
    color: #787878;
    margin: 0 auto;
    padding: 10px 0;
    text-align: right;
    border-top:1px dotted #dcdcdc;
}

.btn {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 15px;

    color: white;
    font-size: 14px;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 1px 1px #006dcc;
    cursor: pointer;
    border: 1px solid #006dcc;
    border-radius: 2px;
    background-color: #006dcc;
    zoom: 1;
}
a.link {
    color: #08c;
}

input.btn {
    width: 100px;
    height: 36px;
}
a.btn {
    width: 68px;
    height: 24px;
    line-height: 24px;
}
a.btn:hover {
    text-decoration: none;
}
a.cancel {
    line-height: 36px;
    margin-left: 10px;
}
a.disabled,
input.disabled {
    color: #a0a0a0;
    text-shadow: 1px 1px #e2e2e2;
    border-color: #d2d2d2;
    background-color: #d8d8d8;
}

.hd a {
    float: left;
    display: block;
    font-size: 18px;
    padding: 5px 20px;
    margin-right: 10px;
    text-decoration: none;
    background-color: #dcdcdc;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.hd a.curr {
    background-color: white;
}

.bd {
    padding: 20px;
    background-color: white;
}

/* 表单 */
.field-sect {
    background: #F6F3EA;
    padding: 15px 20px 5px;
}

.field-group {
    position: relative;
    padding-left: 110px;
    margin: 0 auto 10px;
    padding-bottom: 5px;
    font-size: 16px;
    vertical-align: middle;
    zoom: 1;
}
.field-group label {
    position: absolute;
    top: 3px;
    left: 0px;
    width: 100px;
    font-weight: 700;
    float: left;
    text-align: right;
}
.field-group input.text {
    padding: 5px;
    width: 400px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid #CCC;
}
.field-group input.time {
    margin: 0 5px;
    padding: 5px;
    width: 198px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #CCC;
}
.field-group input.radio {
    margin: 0 5px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    vertical-align: middle;
}
.field-group select {
    width: 600px;
    height: auto;
    margin: 0;
    padding: 5px;
    border: 3px solid silver;
    font-size: 14px;
    vertical-align: middle;
}


/* 表格 */
.title-table {
    width: 100%;
    margin: 5px 0;
}
.title-table th {
    text-align: left;
}
.title-table td {
    text-align: right;
}
/*.title-table td a {*/
    /*color: #08c;*/
/*}*/


.standard-table {
    width: 100%;
    padding: 20px;
    text-align: center;
    border: 1px solid #E3E3E3;
}
.standard-table th {
    padding: 5px;
    font-size: 14px;
    background-color: #EEE;
    border-right: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
}
.standard-table td {
    padding: 5px;
    font-size: 12px;
    border-right: 1px dotted #E3E3E3;
    border-bottom: 1px dotted #E3E3E3;
}
.standard-table td a {
    color: #08c;
}
/* 分页 */
.pagination {
    padding-top: 15px;
    overflow: hidden;
    *zoom: 1;
}
.pagination li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.pagination a,
.pagination span {
    display: block;
    float: left;
    font-size: 12px;
    margin-right: 5px;
    padding: 1px 10px;
    color: #6e6e6e;
    border: 1px solid #d8d8d8;
}
.pagination a:hover {
    text-decoration: none;
    background-color: whiteSmoke;
    box-shadow: inset 0 1px 2px #BBB;
}
.pagination .active {
    font-weight: 700;
    background-color: whiteSmoke;
    box-shadow: inset 0 1px 2px #BBB;
}
.pagination .prev a {
    margin-left: 0;
    margin-right: 6px;
    padding-left: 14px;
}
.pagination .next a {
    padding-right: 14px;
}

.popup {
    position: absolute;
    width: 360px;
    background-color: white;
    border: 3px solid #DEDEDE;
    border-radius: 3px;
    z-index: 9999;
    left:50%;top:45%;
    margin-left:-200px;margin-top:-100px;
    display: none;
}
.popup .btn {
    width: 130px;
    padding: 5px;
}
.popup h3 {
    text-indent: 8px;
    line-height: 24px;
    background-color: #FFC;
}
.popup .bd {
    padding: 5px 15px 15px;
}
.popup .bd p {
    padding: 5px 15px 15px;
    font-size: 18px;
    font-weight: 700;
}
.popup .bd p em {
    color: #08C;
}
.popup .close {
    position: absolute;
    top: 0;
    right: 0;
    color: #b7b7b7;
    width: 24px;
    height: 24px;
    background: url(http://y1.uhcdn.com/images/2012/12/0a9bc329d8478889.png) no-repeat 6px 6px;
}
.popup .close:hover {
    background-position: 6px -34px;
}
.popup .cancel {
    color: #08C;
    line-height: 36px;
    margin-left: 20px;
}
.popup-mask {
    background-color: gray;
    display: none;
    z-index: 500;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .4;
}