.outlet {
    padding: 10px 20px 20px;
    background-color: white;
}
.outlet h2 {
    font-size: 24px;
    padding-bottom: 8px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #E3E3E3;
}

.input_box {
    width: auto;
    height: 34px;
    line-height: 34px;
    float: left;
}

.inputBox {
    height: 26px;
    line-height: 26px;
    border: 1px solid #999999;
    background-repeat: repeat-x;
    margin-top: 2px;
    float: left;
    font-size: 14px;
    color: #000000;
}
/*设置为显示*/
.setShow {
    display: '';
}
/*设置为隐藏*/
.setClose {
    display: none;
}
/*红色外框*/
.qdbox_hongse {
    width: 162px;
    height: 16px;
    line-height: 16px;
    border: 1px solid #ff0000;
    float: left;
    overflow: hidden;
    margin-top: 7px;
    margin-left: 10px;
}
/*橙色外框*/
.qdbox_cengse {
    width: 162px;
    height: 16px;
    line-height: 16px;
    border: 1px solid #FF6600;
    float: left;
    overflow: hidden;
    margin-top: 7px;
    margin-left: 10px;
}
/*蓝色外框*/
.qdbox_lanse {
    width: 162px;
    height: 16px;
    line-height: 16px;
    border: 1px solid #0033ff;
    float: left;
    overflow: hidden;
    margin-top: 7px;
    margin-left: 10px;
}
/*绿色外框*/
.qdbox_luse {
    width: 162px;
    height: 16px;
    line-height: 16px;
    border: 1px solid #00cc00;
    float: left;
    overflow: hidden;
    margin-top: 7px;
    margin-left: 10px;
}
/*25%红色*/
.qdhongse {
    width: 40px;
    height: 14px;
    line-height: 14px;
    border: 1px solid #ffffff;
    float: left;
    background-color: #cc0000;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
}
/*50%橙色*/
.qdcengse {
    width: 80px;
    height: 14px;
    line-height: 14px;
    border: 1px solid #ffffff;
    float: left;
    background-color: #FF6600;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
}
/*75%蓝色*/
.qdlanse {
    width: 120px;
    height: 14px;
    line-height: 14px;
    border: 1px solid #ffffff;
    float: left;
    background-color: #0033ff;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
}
/*75%绿色*/
.qdluse {
    width: 160px;
    height: 14px;
    line-height: 14px;
    border: 1px solid #ffffff;
    float: left;
    background-color: #00cc00;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
}