.verify .hd a {
    float: left;
    display: block;
    font-size: 18px;
    padding: 5px 20px;
    margin-right: 10px;
    text-decoration: none;
    background-color: #dcdcdc;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.verify .hd a.curr {
    background-color: white;
}

.verify .bd {
    padding: 20px;
    background-color: white;
}

/* 批量验证 {{{ */
.batch-verify .field-sect {
    background: #F6F3EA;
    padding: 15px 20px 5px;
}

.batch-verify .field-group {
    position: relative;
    padding: 5px 10px 5px 100px;
    margin: 0 auto 10px;
    overflow: hidden;
    zoom: 1;
}

.batch-verify .field-group label {
    position: absolute;
    left: 0;
    width: 80px;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
}

.batch-verify .field-group select {
    width: 600px;
    height: auto;
    margin: 0;
    padding: 5px;
    border: 3px solid silver;
    font-size: 14px;
    vertical-align: middle;
}

.batch-verify .field-group .coupon-label {
    height: 36px;
    line-height: 36px;
}

.batch-verify .field-group .enter-coupon {
    width: 270px;
    height: 30px;
    color: #333;
    padding: 0 5px;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    border: 3px solid #CCC;
    vertical-align: top;
}

.batch-verify .coupons-table {
    width: 100%;
    color: #222;
    text-align: center;
}

.batch-verify .coupons-table th,
.batch-verify .coupons-table td {
    padding: 10px;
    border-bottom: 1px dashed #E3E3E3;
    font-size: 14px;
}

.batch-verify .coupons-table td a {
    color: #b94a48;
}

.batch-verify .coupons-table td input {
    width: 120px;
    padding: 0 3px;
    font-size: 14px;
    font-weight: bold;
    border-width: 1px;
    color: #333;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
}

.batch-verify .coupons-table td div.success {
    color: #00c807;
    border: 1px solid #00c807;
    background-color: #f3f8de;
    padding: 2px;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
}

.batch-verify .coupons-table td div.error {
    color: #B94A48;
    border: 1px solid #B94A48;
    background-color: #FFFBF0;
    padding: 2px;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;

}

.batch-verify .coupons-table tr.odd td {
    background-color: #EEF7F6;
}

.batch-verify .verify-sect {
    padding: 20px 304px;
    background: #EEE;
    clear: both;
    overflow: hidden;
    vertical-align: middle;
    zoom: 1;
}

.batch-verify .verify-sect a.batch-verify {
    width: 120px;
}

.batch-verify .tip {
    background-color: #F1F1F1;
    margin-top: 10px;
    padding: 10px;
}

.batch-verify .tip h5 {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}

.batch-verify .tip li {
    margin-bottom: 5px;
    list-style: disc inside;
}

.batch-verify .tip li ul {
    margin-top: 5px;
}

.batch-verify .tip li li {
    margin-left: 18px;
    list-style: circle inside;
}

/* }}} */
