#{extends 'layout_trader/layout2.html' /}
#{set title:'申请提现' /}
#{set menu:"withdraws"/}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
<script type="text/javascript">
    $(function () {
        $("#prepaymentDetail").click(function () {
            $(".detail").toggle();
        });
    });
</script>
#{/set}
#{if withdrawAccounts?.size() == 0 }
暂无收款账户,请联系管理员添加.
#{/if}
#{elseif err}
${err}
#{/elseif}
#{elseif canNotWithdraw}
您暂时无法申请提现，请联系业务员设置提现金额<br>
业务员：${salesName} <br>联系电话:${salesPhone}
#{/elseif}
#{else}
<div class="bd">
    <h2>${title}</h2>
    #{form @SupplierWithdraws.create(), class:'form-horizontal'}
        <div class="field-group">
            <label>收款账户</label>

            <table class="standard-table">
                <tr>
                    <th>#</th>
                    <th>开户名</th>
                    <th>银行名称</th>
                    <th>所在城市</th>
                    <th>支行名称</th>
                    <th>银行卡号</th>
                    <th>商户信息</th>
                </tr>
                #{list withdrawAccounts, as:'withdrawAccount'}
                    <tr>
                        <td>
                            <input type="radio" name="withdrawAccountId" value="${withdrawAccount.getId()}"
                                #{if withdrawAccount_index == 1} checked #{/if} >
                        </td>
                        <td>${withdrawAccount.userName}</td>
                        <td>${withdrawAccount.bankName}</td>
                        <td>${withdrawAccount.bankCity}</td>
                        <td>${withdrawAccount.subBankName}</td>
                        <td>${withdrawAccount.cardNumber}</td>
                        #{if withdrawAccount.accountType==models.accounts.AccountType.SHOP}
                        %{shop=models.sales.Shop.findById(withdrawAccount?.userId) ;}%
                            <td>${currentUser?.supplier?.fullName}/${shop?.name}</td>
                        #{/if}
                        #{else}
                            <td>${currentUser?.supplier?.fullName}</td>
                        #{/else}
                    </tr>
                #{/list}
            </table>
            #{error 'withdrawAccountId'/}
        </div>
        #{if supplier.isWithdrawDelay()}
            <div class="field-group">
                <label>说明</label>
                <table class="standard-table">
                    <tr>
                        <th>日期范围</th>
                        <th>提现截止日期</th>
                    </tr>
                    <tr>
                        <td>5日 - 14日</td>
                        <td>上月25日</td>
                    </tr>
                    <tr>
                        <td>15日 - 24日</td>
                        <td>本月5日</td>
                    </tr>
                    <tr>
                        <td>25日 - 次月4日</td>
                        <td>本月15日</td>
                    </tr>
                </table>
            </div>
        #{/if}
        <div class="field-sect">
            <div class="field-group">
                <label>账户余额</label>

                <div class="control-value">${withdrawAmount?.formatCurrency('CNY')}
                </div>
            </div>
            <div class="field-group">
                #{if currentUser?.supplier?.isFreezeAmount()}
                    <label>冻结金额</label>
                #{/if}
                #{else}
                    <label>预付款余额</label>
                #{/else}
                <div class="control-value">${prepaymentBalance?.formatCurrency('CNY')}
                    <a id="prepaymentDetail" class="link" href="#">查看明细</a>
                </div>
            </div>
            <div class="field-group">
                <label>可提现金额</label>
                #{if !canNotWithdraw && canNotWithdraw!=null}
                ${supplier?.withdrawAmount?.formatCurrency('CNY')}
                    ( 此金额由业务员${salesName}设置,如有疑问请致电:${salesPhone})
                    <input type="hidden" name="setAmount" value="${supplier?.withdrawAmount}"/>
                #{/if}
                #{else}
                    <div class="control-value">
                    ${supplierWithdrawAmount?.formatCurrency('CNY')}
                        <input type="hidden" name="amount" value="${supplierWithdrawAmount}"/>
                        (统计截止日期: ${withDrawEndDate.format('yyyy-MM-dd')})
                        <span class="error" style="margin-left:20px;" id="error-amount">#{error 'amount'/}</span>
                    </div>
                #{/else}
            </div>
            <div style="padding-left: 34px;padding-bottom: 10px;color: coral">
                #{if (reserveAmount.compareTo(BigDecimal.ZERO)>0||lessWithdrawAmount.compareTo(BigDecimal.ZERO)>0 )&& lessWithdrawAmount.compareTo(supplierWithdrawAmount)>0 }
                    (
                #{/if}
                #{if reserveAmount.compareTo(BigDecimal.ZERO)>0}本商户预留金额：${reserveAmount?.formatCurrency('CNY')}#{/if}
                #{if lessWithdrawAmount.compareTo(BigDecimal.ZERO)>0 && lessWithdrawAmount.compareTo(supplierWithdrawAmount)>0}
                    最小提现金额：${lessWithdrawAmount?.formatCurrency('CNY')}
                #{/if}
                #{if (reserveAmount.compareTo(BigDecimal.ZERO)>0||lessWithdrawAmount.compareTo(BigDecimal.ZERO)>0 )&& lessWithdrawAmount.compareTo(supplierWithdrawAmount)>0 }
                    )
                #{/if}
            </div>
            <div class="form-actions">
                #{if supplierWithdrawAmount.compareTo(BigDecimal.ZERO)>0  && lessWithdrawAmount.compareTo(supplierWithdrawAmount)<0}
                    <button type="submit" class="btn btn-primary">提交申请</button>
                #{/if}
                <input type="hidden" name="canNotWithdraw" value="${canNotWithdraw}"/>
                <a class="btn" href="/withdraws">取消</a>
            </div>
        </div>
    #{/form}
    <table class="standard-table detail" style="display: none;">
        <tr>
            <th>预付款金额</th>
            <th>有效期开始</th>
            <th>有效期结束</th>
            <th>已结算金额</th>
            <th>结算时间</th>
            <th>结算者</th>
        </tr>
        #{list items:prepayments, as:'prepayment'}
            <tr>
                <td>${prepayment.amount?.formatCurrency('CNY')}</td>
                <td>${prepayment.effectiveAt}</td>
                <td>${prepayment.expireAt}</td>
                <td>${prepayment.withdrawAmount.formatCurrency('CNY')}</td>
                <td>${prepayment.updatedAt}</td>
                <td>${prepayment.updatedBy}</td>
            </tr>
        #{/list}
    </table>
</div>

#{/else}

