#{extends 'main.html' /}
#{set title:'优惠啦 - 确认订单' /}
#{set 'moreStyles'}
<link href="@@{'/public/stylesheets/order_info.css'}" rel="stylesheet" type="text/css"/>
#{/set}
#{set 'moreScripts'}
<script src="@@{'/public/javascripts/orders.js'}"></script>
#{/set}
<div id="wrap_main">
    <div id="wrap_top">
    #{topNavigator/}
    </div>
    <div id="wrap_top_header">
        <div id="wrap_top_header_left"><img src="@@{'/public/images/logo.jpg'}"/></div>
        <div id="wrap_top_middle">卷生活-惠生活</div>
    </div>
    <div style="clear:both"></div>
    <div class="fen_g"></div>
</div>
<!--主体内容部分-->
<div id="wrap_content">
    <div>
        <div class="div_step_title">
            <div class="div_step_3">1</div>
            <div class="div_step_text_1">查看购物车<span>>></span></div>
            <div class="div_step_2 buzou_text_four_xz">2</div>
            <div class="div_step_text_2">确认订单信息<span class="no_xiuzhen">>></span></div>
            <div class="div_step_3">3</div>
            <div class="div_step_text_1">确认付款<span>>></span></div>
            <div class="div_step_text_4">4</div>
            <div class="div_step_text_1">成功提交订单</div>
        </div>
    </div>

#{form @Orders.create(), id:'order_create_form' }
    <input type="hidden" id="addressId"/>
    #{if rCartList.size() >0}

        <div id="order_modify_info1" class="div_address_modify">
            <dl class="left_one_dl">
                <dt>
                <div class="title_nav">确认收货地址</div>
                <div><span class="spance_nav"></span></div>
                </dt>
                <dd class="border_dd">
                    <ul class="address_mod" id="list_address_ul">
                        #{list addressList, as:'address'}
                            <li class="li_address_modify" id="li_address_${address.id}"
                                addressId="${address.id}">#{include '/Addresses/show.html' /}
                            </li>
                        #{/list}
                        <li class="chongxie" id="use_new_address_li"><span class="span_name" id="span_radio_new_address"
                                                                           listSize="${addressList.size()}"><input
                                name="selectedAddressId"
                                type="radio" value="0"
                                id="radio_address_0"
                                #{if addressList.size() == 0}checked#{/if}
                                onclick="javascript:showCreateAddressEdit();"/></span>
                            <span class="span_name" id="span_use_new_address"
                                  onclick="javascript:showCreateAddressEdit();">使用新地址</span>
                            #{include '/Addresses/add.html'/}

                        </li>
                        <li class="chongxie" id="bottom_buttons"><span class="margin_left"><a class="queren_bg"
                                                                                              id="link_confirm"
                                                                                              href="#">确认收货信息</a></span>
                                        <span class="margin_left"><a class="queren_bg" id="link_cancel"
                                                                     href="#">取消</a></span></li>
                    </ul>
                    <ul id="show_address_ul">
                        <li>
                            <div class="right_table">
                                <table class="table_height" width="700" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="80" height="23" align="left">收&nbsp;货&nbsp;人：</td>
                                        <td width="20">&nbsp;</td>
                                        <td width="600"><span id="show_name"></span></td>
                                    </tr>
                                    <tr>
                                        <td>收货地址：</td>
                                        <td>&nbsp;</td>
                                        <td><span id="show_address"></span></td>
                                    </tr>
                                    <tr>
                                        <td>邮　　编：</td>
                                        <td>&nbsp;</td>
                                        <td><span id="show_postcode"></span></td>
                                    </tr>
                                    <tr>
                                        <td>电　　话：</td>
                                        <td>&nbsp;</td>
                                        <td><span id="show_phone"></span></td>
                                    </tr>
                                    <tr>
                                        <td height="50" colspan="2"><span class="margin_left"><a
                                                class="font_blue jianju" id="link_edit_show_address"
                                                href="#">修改</a></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div id="order_modify_info2">
            <dl class="left_one_dl">
                <dt>
                <div class="title_nav">确认购买信息</div>
                <div><span class="spance_nav"></span></div>
                </dt>
                <dd class="border_dd">
                    <table width="970" border="1" cellpadding="0" cellspacing="0" bordercolor="#EEEEEE" frame="void">
                        <tr bgcolor="F6F6F6">
                            <th width="494"><span class="th_shop_text">商品名称(实物)</span></th>
                            <th width="115" height="30" bgcolor="F6F6F6">单价</th>
                            <th width="83">数量</th>
                            <th width="187">小计</th>
                        </tr>


                        #{set i:0} #{/set}
                        #{list rCartList, as:'rCart'}
                            <tr>
                                <td height="25" align="center" valign="middle">
                                    <div class="col_one_text">${rCart.goods.name}
                                    </div>
                                </td>
                                <td width="115" height="25" align="center"
                                    valign="middle">${rCart.goods.salePrice}</td>
                                <td width="83" height="25" align="center" valign="middle"><input class="num_input"
                                                                                                 type="text"
                                                                                                 value="${rCart.number}"/>
                                </td>
                                #{if (++i) == 1 }
                                    <td width="187" rowspan="5" align="center" valign="middle">${rCartAmount} 元<br/>
                                        （含5元运费）<span class="strong_gray"></span></td>
                                #{/if}
                            </tr>
                        #{/list}


                    </table>
                </dd>
            </dl>
        </div>
        <div class="border_bottom"></div>
    #{/if}
    #{if eCartList.size() >0}
        <div id="order_modify_info3">
            <dl class="left_one_dl">
                <dt>
                <div class="title_nav">确认收货手机</div>
                <div><span class="spance_nav"></span></div>
                </dt>
                <dd class="shouji_text" id="ecart_mobile_update_dd">手机号码：
                    <!--手机号码修改的输入框input-->
                    <input class="num_input_bg" type="text" name="ecart_mobile" id="ecart_mobile"/>
                    <span><a class="font_blue jianju" id="link_mobile_confirm" href="#">确认</a></span></dd>
                <dd class="shouji_text" id="ecart_mobile_show_dd">手机号码：<span id="ecart_mobile_show_span"></span><span><a
                        class="font_blue jianju" id="link_edit_mobile" href="#">修改</a></span></dd>

                <dd class="border_dd">
                    <table width="970" border="1" cellpadding="0" cellspacing="0" bordercolor="#EEEEEE" frame="void">
                        <tr bgcolor="F6F6F6">
                            <th width="494"><span class="th_shop_text">商品名称(电子券)</span></th>
                            <th width="115" height="30" bgcolor="F6F6F6">单价</th>
                            <th width="83">数量</th>
                            <th width="187">小计</th>
                        </tr>

                        #{set j:0/}
                        #{list eCartList, as:'eCart'}
                            <tr>
                                <td height="25" align="center" valign="middle">
                                    <div class="col_one_text">${eCart.goods.name}
                                    </div>
                                </td>
                                <td width="115" height="25" align="center"
                                    valign="middle">${eCart.goods.salePrice}</td>
                                <td width="83" height="25" align="center" valign="middle"><input class="num_input"
                                                                                                 type="text"
                                                                                                 value="${eCart.number}"/>
                                </td>
                                #{if (++j) == 1 }
                                    <td width="187" rowspan="5" align="center" valign="middle">${eCartAmount}元<br/><span
                                            class="strong_gray"></span></td>
                                #{/if}
                            </tr>
                        #{/list}


                    </table>
                </dd>
            </dl>
        </div>
    #{/if}
    <div class="sp_height">商品总金额:<span class="font_red_one">${eCartAmount + rCartAmount - 5}元</span> 运费：<span
            class="font_red_one">5元</span> 合计：<span
            class="font_red_one">${eCartAmount + rCartAmount}元</span></div>
    <div class="sp_height_one"><a id="link_confirm_pay" class="que_pay_bg" href="#">确认付款</a></div>

    <div style="clear:both"></div>
#{/form}

</div>
<SCRIPT type=text/javascript>

    initAddress();
    //todo
    if ($.cookie != null && $.cookie('ecart_mobile', 'null') != null) {
        $("#ecart_mobile_show_span").text($("#ecart_mobile").val());
        $("#ecart_mobile_show_dd").show();
        $("#ecart_mobile_update_dd").hide();
    } else {
        $("#ecart_mobile_show_dd").hide();
        $("#ecart_mobile_update_dd").show();
        $("#ecart_mobile").val("");
    }

</SCRIPT>