<!--    最顶部导航-->
<div id="wrap_top_top">
    <div class="top_margin_left">
        <div class="wellcome">
        #{if cas?.isLogin}
            欢迎您，<a class="zi_gray" href="/orders" id="login_name">${cas.loginName}</a>  <a class="zi_gray" href="/logout">退出</a>
        #{/if}
        #{else}
            您好，欢迎您来到一百券！<a class="zi_gray" id="login_name" href="/login">请登录</a>
        #{/else}
        </div>
        <div class="top_ul_box">
            <div class="user_reg_div_top">
                <ul class="re_top_top_ul">
                    <li class="re_top_top_li"><a class="zi_gray"
                                                 href="/register">新用户注册</a></li>
                    <li class="re_top_top_li">|</li>
                    <li class="re_top_top_li">
                        <div class="top_car_icon"></div>
                        <a class="zi_gray" href="/carts">购物车</a></li>
                    <li class="re_top_top_li">|</li>
                    <li class="re_top_top_li"><a class="zi_gray"
                                                 href="#">收藏夹</a></li>
                    <li class="re_top_top_li">|</li>
                    <li class="re_top_top_li"><a class="zi_gray"
                                                 href="#">网站导航</a></li>
                </ul>
            </div>
            <div class="font_16_red">400-686-5151</div>
        </div>
    </div>
</div>
