<div id="wrap_top_header">
    <div id="wrap_top_header_left"><img
            src="@@{'/public/images/logo.jpg'}"/></div>
    <div id="wrap_top_header_mid">
        <ul class="tab_header">
            <li><a class="tab_hover" onClick="selectTag('tagContent0',this)"
                   href="javascript:void(0)">首页</a></li>
            <li><a class="tab_nohover"
                   onClick="selectTag('tagContent0',this)"
                   href="javascript:void(0)">劵商城</a></li>
            <li><a class="tab_nohover"
                   onClick="selectTag('tagContent0',this)"
                   href="javascript:void(0)">优惠劵</a></li>
            <li><a class="tab_nohover"
                   onClick="selectTag('tagContent0',this)"
                   href="javascript:void(0)">优惠团购</a></li>
            <li><a class="tab_nohover"
                   onClick="selectTag('tagContent0',this)"
                   href="javascript:void(0)">积分乐园</a></li>
            <li><a class="tab_nohover"
                   onClick="selectTag('tagContent0',this)"
                   href="javascript:void(0)">优惠终端</a></li>
            <li><a class="tab_nohover"
                   onClick="selectTag('tagContent0',this)"
                   href="javascript:void(0)">电影票</a></li>
        </ul>
    </div>
    <div id="wrap_top_right"><img src="@@{'/public/images/right_tel.jpg'}"/>
    </div>
</div>
<div style="clear:both"></div>