#{extends 'main.html' /}
#{set title:'优惠啦 - 购物车' /}
#{set 'moreStyles'}
<link href="@@{'/public/stylesheets/carts_index.css'}" rel="stylesheet" type="text/css"/>
#{/set}
#{set 'moreScripts'}
<script src="@@{'/public/javascripts/carts.js'}"></script>
#{/set}

<div id="wrap_main">
    <div id="wrap_top">
    #{include "share/topNavigator.html"/}
    </div>
    <div id="wrap_top_header">
        <div id="wrap_top_header_left"><img src="@{'/public/images/logo.jpg'}"/></div>
        <div id="wrap_top_middle">卷生活-惠生活</div>

    </div>
    <div style="clear:both"></div>
    <div class="fen_g"></div>
</div>
<!--主体内容部分-->
<div id="wrap_content">
    <div class="div_step_title">
        <div class="div_step_2">1</div>
        <div class="div_step_text_2">查看购物车<span class="no_xiuzhen">>></span></div>
        <div class="div_step_3">2</div>
        <div class="div_step_text_1">确认订单信息<span>>></span></div>
        <div class="div_step_3">3</div>
        <div class="div_step_text_1">确认付款<span>>></span></div>
        <div class="div_step_text_4">4</div>
        <div class="div_step_text_1">成功提交订单</div>
    </div>

</div>
<div style="clear:both"></div>
<div id="gouwucar">
    <div class="block_fense">购物</div>
    <table width="996" border="1" cellpadding="0" cellspacing="0" bordercolor="#EEEEEE" frame="void">


        <tr bgcolor="F6F6F6">
            <th width="374"><span class="th_one">
              <label>
                  <input class="th_one_input" type="checkbox" name="select_all_checkbox" />全选 </label>
              </span><span class="th_shop_text">商品</span></th>
            <th width="120">类型</th>
            <th width="115" height="30" bgcolor="F6F6F6">单价（元）</th>
            <th width="83">数量</th>
            <th width="187">小计</th>
            <th width="103">操作</th>
        </tr>

        #{list items:cartMergeList, as:'cartItem'}
        <tr id="row_${cartItem.goods.id}">
                <td height="25" align="center" valign="middle">
                    <div class="col_one"><input type="checkbox" id="check_goods_${cartItem.goods.id}"/>
                    </div>
                    <div class="col_one_text">${cartItem.goods.name}
                    </div>
                </td>
                <td width="120" height="25" align="center" valign="middle">${cartItem.goods.materialType.equals("e") ? '电子券' : '实物'}</td>
                <td width="115" height="25" align="center" valign="middle" id="price_${cartItem.goods.id}">${cartItem.goods.salePrice}</td>
                <td width="83" height="25" align="center" valign="middle">
                    <a class="add_box" href="#" name="${cartItem.goods.id}"><img src="@{'/public/images/add_anniu.jpg'}"/></a>
                    <input class="num_input" type="text" value="${cartItem.number}" id="num_${cartItem.goods.id}" />
                    <input type="hidden" value="${cartItem.number}" id="last_num_${cartItem.goods.id}"/>
                    <input type="hidden" value="${cartItem.number * cartItem.goods.salePrice}" id="subtotal_${cartItem.goods.id}"/>
                    <a href="#" class="reduce_box" name="${cartItem.goods.id}"><img src="@{'/public/images/sub_anniu.jpg'}" /></a>
                </td>
                <td idth="187" height="25" align="center" valign="middle"><span class="strong_gray">劵号：${cartItem.goods.no}</span>
                </td>
                <td width="103" height="25" align="center" valign="middle">
                    <a href="#" class="delete_gift" name="${cartItem.goods.id}">删除</a>
                </td>
            </tr>
        #{/list}

        #{if cartMergeList.size() == 0}
            <tr>
                <td colspan="6" style="text-align:center;padding:10px 0">您还没有添加商品哦，再逛逛吧:)</td>
            </tr>
        #{/if}

    </table>
</div>
<div id="gouwucar_buttom_info">
    <div class="bottom_info_one"><input type="checkbox" id="uuuu" value="" name="select_all_checkbox"/>
        全选
    </div>
    <div class="bottom_info_two"><a class="piliang_del_bg" href="#" id="batch_delete">批量删除</a></div>
    <div class="both_clear"></div>
    <div class="bottom_info_three">商品共<span class="font_red_one" id="total_num">0</span>件，总合计（不含运费）：<span
            class="font_red_one" id="carts_amount"></span>元</div>
    <div class="both_clear"></div>
    <div class="bottom_info_four"><a class="queren_bg" href="/orders">确认结账</a></div>
    <div class="both_clear"></div>
</div>
