#{if carts?.size() > 0 }
<ul>
   #{set number=0 /}
    #{set total=0 /}
    #{list items:carts, as:'cartItem'}
    #{set number+=cartItem.number/}
    #{set total+=(cartItem.goods.salePrice * cartItem.number)/}
    <li class="carts-item clearfix" id="row_${cartItem.goods.id}">
        <a class="goods-img" href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}/g/${cartItem.goods.id}"><img src="${cartItem.goods.imageTinyPath}" width="48" /></a>
        <a class="goods-name" href="http://www.${play.Play.configuration.getProperty("application.baseDomain")}/g/${cartItem.goods.id}">${cartItem.goods.name}</a>
        <span class="goods-price">${cartItem.goods.salePrice?.formatCurrency('CNY')} x ${cartItem.number}</span>
        <a href="#" class="cart-delete" goods_id="${cartItem.goods.id}" sale_price="${cartItem.goods.salePrice}"
           count="${cartItem.number}">删除</a>
    </li>
    #{/list}
    <li class="carts-item carts-detail" id="detail">
        共<strong id="all_number">${number}</strong>件商品，共计<strong>&yen;<span id="all_price">${total}</span></strong>
    </li>
</ul>
#{/if}
#{else}
您的购物车中没有任何商品。
#{/else}