#{extends 'layout_operate/layout.html' /}
#{set title:'下载渠道运单号上报文件' /}
#{include '/share/nav.html' /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>

<script src="@{'/public/javascripts/download-tract-nos-form.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
<div class="body">
    <legend>${title}</legend>

    <form class="well form-inline" action="@{real.DownloadTrackNos.index()}" method="GET" id="channel_shipping_form">
        <label class="control-label">渠道:</label>
    #{select 'condition.outerOrderPartner', value:condition?.outerOrderPartner, id:'condition_outer_order_partner_type', class:"input-small"}
        #{option "JD"}京东#{/option}
        #{option "YHD"}一号店#{/option}
        #{option "TB"}淘宝#{/option}
        #{option "WB"}58#{/option}
    #{/select}
        发货时间
        <input type="text" id="condition_sent_begin_at" class="input-medium Wdate" name="condition.sentBeginAt"
               onfocus="WdatePicker({readOnly:true})" value="${condition.sentBeginAt?.format()}"> -
        <input type="text" id="condition_sent_end_at" class="input-medium Wdate" name="condition.sentEndAt"
               onfocus="WdatePicker({readOnly:true})" value="${condition.sentEndAt?.format()}">
        付款时间
        <input type="text" id="condition_paid_begin_at" class="input-medium Wdate" name="condition.paidBeginAt"
               onfocus="WdatePicker({readOnly:true})" value="${condition.paidBeginAt?.format()}"> -
        <input type="text" id="condition_paid_end_at" class="input-medium Wdate" name="condition.paidEndAt"
               onfocus="WdatePicker({readOnly:true})" value="${condition.paidEndAt?.format()}">

        <br> <br>



        <button class="btn btn-primary" id="searchbtn" onclick="formSearchSubmit()" type="submit">搜索</button>

        <a class="btn btn-primary"
           href="/real/partner/download-track-nos/download?partner=${condition?.outerOrderPartner}&paidBeginAt=${condition?.paidBeginAt?.format()}&paidEndAt=${condition?.paidEndAt?.format()}&sentBeginAt=${condition?.sentBeginAt?.format()}&sentEndAt=${condition?.sentEndAt?.format()}&singleDownload=0">下载</a>



    </form>

    <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
            <th width="298px">外部商品ID</th>
            <th width="200px">名称</th>
            <th width="100px">已发货</th>
            <th width="100px">总金额</th>
            <th width="150px">操 作</th>
        </tr>
        </thead>
        <tbody>
        #{paginate.list items:shippingList, as:'shipping'}
        <tr>
            <td>${shipping?.orderItems?.outerGoodsNo}</td>
            <td>${shipping?.orderItems?.goods?.shortName}</td>
            <td>
            ${shipping?.sentCount}
            </td>
            <td style="text-align:right;">
            ${(shipping?.totalAmount?:0).formatCurrency('CNY')}
            </td>
            <td>
                #{if shipping?.partnerLoginName == "jingdong" }
                    <a href="/real/partner/download-track-nos/download?partner=${condition?.outerOrderPartner}&paidBeginAt=${condition?.paidBeginAt?.format()}&paidEndAt=${condition?.paidEndAt?.format()}&sentBeginAt=${condition?.sentBeginAt?.format()}&sentEndAt=${condition?.sentEndAt?.format()}&outerGoodsNo=${shipping?.orderItems?.outerGoodsNo}&singleDownload=1">下载</a>
                #{/if}
            </td>
        </tr>
        #{/paginate.list}
        </tbody>
    </table>
#{if shippingList?.getPageCount() > 1}
    <div class="pagination">
        <ul>
            #{paginate.controls items:shippingList /}
        </ul>
    </div>
#{/if}

</div>