#{extends 'main.html' /}
#{set title:'100券 - 58上传' /}
#{set 'moreStyles'}
    #{asset.css src:['/r/base.css', '/r/goods.css', '/r/play-pagination.css'] /}
<style type="text/css">
    b {
        color: red
    }

    p {
        margin-top: 15px
    }

    h1 {
        margin-top: 20px
    }

    td {
        font-size: 14px;
        padding-top: 10px;
    }
</style>
#{/set}
#{set 'moreScripts'}
<script src="@@{'/public/javascripts/city.js'}"></script>
<script src="@@{'/public/javascripts/areas.js'}"></script>
<script src="@{'/public/javascripts/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}

#{set 'navMenu'}
<li><a href="/">首　页</a></li>
<li><a class="current" href="/goods">商品库</a></li>
<li><a href="/library">我的分销库</a></li>
<li><a href="/charge">账户充值</a></li>
<li><a href="/withdraw">账户提现</a></li>
#{/set}

#{if isEdit=='edit'}
<form action="/58-edit" id="form" method="POST">
#{/if}
#{else}
<form action="/58-add" method="POST">
#{/else}
<div id="content">
<h1 style="font-size:200%">商品信息</h1>

#{if groupbuyId}<p>商品linkID：${groupbuyId}</p>#{/if}

<p>商品分类(可以用拼音搜索)<b>*</b></p>
#{vx.selectInputField name:"prodType", id:"prodTypeId", array:"prodTypeArray",value:1,importJs:true/}
<p>
    产品范畴<b>*</b>
    <input type="radio" name="prodCategory" value="0" checked> 消费类
    <input type="radio" name="prodCategory" value="1"> 快递类
</p>

<p>发布产品的名称<b>* 最多200字</b></p>
<input type="text" name="prodName" size="150" maxlength="200" value="${name}">

<p>产品短名称<b>* 最多20字</b></p>
<input type="text" name="prodShortName" size="150" maxlength="20" value="${title}">

<p>商品详情<b>*</b></p>
<textarea rows="10" cols="150" name="prodDescription">
#{if exhibition}
${exhibition}
    <p style="BACKGROUND-COLOR: rgb(204,0,0); FONT-WEIGHT: bold;padding-bottom: 1px;">
        <span style="font-family:SimSun;font-size:small;color:#ffffff;">温馨提示</span>
    </p>
${prompt}
    <p style="BACKGROUND-COLOR: rgb(204,0,0); FONT-WEIGHT: bold;padding-bottom: 1px;">
        <span style="font-family:SimSun;font-size:small;color:#ffffff;">商品介绍</span>
    </p>
${details}
    <p style="BACKGROUND-COLOR: rgb(204,0,0); FONT-WEIGHT: bold;padding-bottom: 1px;">
        <span style="font-family:SimSun;font-size:small;color:#ffffff;">商户介绍</span>
    </p>
${supplierDes}
#{/if}
#{else}
${prodDescription?.raw()}
#{/else}
</textarea>

<p>商品大图<b>*</b>规格680x425</p>
#{vx.imageUpload name:'prodImg', value:imageLargePath, uploadImgUrl:'/images',size:100, required:true/}
<p>手机端特别提示<b>*</b></p>
<textarea rows="10" cols="150" name="mobileDescription">
#{if exhibition}
${exhibition}
    <p style="BACKGROUND-COLOR: rgb(204,0,0); FONT-WEIGHT: bold;padding-bottom: 1px;">
        <span style="font-family:SimSun;font-size:small;color:#ffffff;">温馨提示</span>
    </p>
${prompt}
    <p style="BACKGROUND-COLOR: rgb(204,0,0); FONT-WEIGHT: bold;padding-bottom: 1px;">
        <span style="font-family:SimSun;font-size:small;color:#ffffff;">商品介绍</span>
    </p>
${details}
    <p style="BACKGROUND-COLOR: rgb(204,0,0); FONT-WEIGHT: bold;padding-bottom: 1px;">
        <span style="font-family:SimSun;font-size:small;color:#ffffff;">商户介绍</span>
    </p>
${supplierDes}
#{/if}
#{else}
${mobileDescription?.raw()}
#{/else}
</textarea>

<p>
    是否配送<b>*</b>
    <input type="radio" name="isSend" value="0" #{if isSend=='0'}checked#{/if}>不配送
    <input type="radio" name="isSend" value="1"#{if isSend=='1'}checked#{/if}> 配送
    快递费
    <input type="text" name="expressMoney" value="${expressMoney}">元
</p>

<p>发布城市<b>*</b></p>
<table border="0" id="cityId"></table>

<p>旅游目的城市，酒店类团购须此字段</p>
<table border="0" id="travelCityId"></table>

<p>列表页短标题<b>*</b></p>
<input type="text" name="listShortTitle" size="150" value="${listShortTitle}">

<p>
    团购开始时间<b>*</b>
    <input type="text" name="startTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" size="25px" class="Wdate"
           value="${startTime?.format('yyyy-MM-dd HH:mm:ss')}"> </p>
  <p>团购结束时间<b>*</b>
    <input type="text" name="endTime" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" size="25px" class="Wdate"
           value="${endTime?.format('yyyy-MM-dd HH:mm:ss')}">
    券有效期<b>*</b>
    <input type="text" name="deadline" id="deadline" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" size="25px" class="Wdate"
           value="${deadline?.format('yyyy-MM-dd HH:mm:ss')}">(<b>*</b>券有效期>团购结束时间)
#{if isEdit=='edit'}
    <button type="button"id="delay" >延长有效期</button>
<span class="error" id="delay_msg"></span>
#{/if}
</p>

<p>
    团购成功数量<b>*</b> <input type="text" name="successNum" value="${successNum}">
    总的库存，0为无限制<b>*</b> <input type="text" name="saleMaxNum" value="${saleMaxNum}">
</p>

<p>
    用户单笔最大购买数量，0为无限制<b>*</b> <input type="text" name="buyerMaxNum" value="${buyerMaxNum}">
    用户单笔最低购买数量，大于等于1<b>*</b> <input type="text" name="buyerMinNum" value="${buyerMinNum}">
</p>

<p>
    商品原价<b>*</b> <input type="text" name="prodPrice" value="${faceValue}">
    团购价<b>*</b> <input type="text" name="groupPrice" value="${salePrice}">
</p>

<p>是否支持退款<b>*</b></p>
<input type="radio" name="isRefund" value="1" checked> 支持
<input type="radio" name="isRefund" value="0"> 不支持
<p>手机端广告图</p>
<input type="text" name="mobileImg" size="150" value="${mobileImg}">

<p>团购特别提示内容</p>
<textarea rows="10" cols="150" name="specialmessage">${specialmessage}</textarea>

<h1 style="font-size:200%">商家信息</h1>
#{list items:shopList, as:'shop'}
<input type="hidden" name="partnerId_${shop_index}" value="${shop?.id}">

<table>
    <tr>
        <td colspan="2" style="color: #ff5500;">门店${shop_index} </td>
    </tr>
    <tr>
        <td width="400px">商家名称:<input type="text" name="title_${shop_index}" size="30px"
                                      value="${supplier.otherName} ${shop.name}">(最大100字)<b>*</b></td>
        <td width="520px">商家缩写:<input type="text" name="shortTitle_${shop_index}" size="30px"
                                      value="${supplier.otherName} ${shop.name}">(最大50字)<b>*</b></td>
    </tr>
    <tr>
        <td width="400px">一百券商圈：<input type="text" size="30" name="ybqCircleName${shop_index}" value="${shop.areaName}">
        </td>
        <td width="520px">
            58商&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;圈:#{vx.selectInputField name:"circleName${shop_index}",
            id:"circleId_${shop_index}",array:"list"/}<b>*</b></td>
    </tr>
    <tr>
        <td width="400px">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话:<input type="text"
                                                                              name="telephone_${shop_index}"
                                                                              size="30"
                                                                              value="${shop.phone}"><b>*</b></td>
        <td width="520px">网&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址:<input type="text"
                                                                              name="webUrl_${shop_index}" size="50"
                                                                              value=${webUrl}></td>
    </tr>
    <tr>
        <td width="400px">交通信息:<input type="text" name="busline_${shop_index}" size="30"
                                      value="${busline?:' '}"><b>*</b>
        </td>
        <td width="520px">地图图片:<input type="text" name="mapImg_${shop_index}" size="50" value="${mapImg}"></td>
    </tr>
    <tr>
        <td width="520px">地图服务商:<input type="radio" name="mapServiceId_${shop_index}"
                                       value="0" #{if mapServiceId ==0 || mapServiceId ==null} checked#{/if}> Google
            <input type="radio" name="mapServiceId_${shop_index}" value="1"#{if mapServiceId ==1} checked#{/if}>
            Baidu
            <input type="radio" name="mapServiceId_${shop_index}" value="2"#{if mapServiceId ==2} checked#{/if}>
            Mapbar
        </td>
        <td width="400px">地图链接:<input type="text" name="mapUrl_${shop_index}" size="50" value="${mapUrl}"></td>
    </tr>
    <tr>
        <td width="400px"> 地图经纬度 &nbsp;&nbsp;
            经度：<input type="text" name="latitude_${shop_index}" value="${shop.latitude}"></td>
        <td width="520px">纬&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;度：<input type="text"
                                                                              name="longitude_${shop_index}"
                                                                              value="${shop.longitude}"></td>
    </tr>
    <tr>
        <td width="520px" colspan="2">商家地址:<input type="text" name="address_${shop_index}" size="65"
                                                  value="${shop.address}"></td>
    </tr>
</table>

#{/list}
#{if editShopList?.size()>0}
#{list items:editShopList, as:'shop'}
<input type="hidden" name="partnerId_${shop_index}" value="${shop.partnerId}">
<table>
    <tr>
        <td colspan="2" style="color: #ff5500;">门店${shop_index} </td>
    </tr>
    <tr>
        <td width="400px">商家名称:<input type="text" name="title_${shop_index}" size="30px"
                                      value="${shop.name}">(最大100字)<b>*</b>
        </td>
        <td width="520px">商家地址:<input type="text" name="address_${shop_index}" size="65" value="${shop.address}">
        </td>
    </tr>
    <tr>
        <td width="400px">商家缩写:<input type="text" name="shortTitle_${shop_index}" size="30px"
                                      value="${shop.shortTitle}">(最大50字)<b>*</b></td>
        <td width="520px">
            商&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;圈:#{vx.selectInputField name:"circleName${shop_index}",
            id:"circleId_${shop_index}", value: shop.circleId,array:"list"/}<b>*</b></td>
    </tr>
    <tr>
        <td width="400px">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话:<input type="text"
                                                                              name="telephone_${shop_index}"
                                                                              size="30"
                                                                              value="${shop.phone}"><b>*</b></td>
        <td width="520px">网&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址:<input type="text"
                                                                              name="webUrl_${shop_index}" size="50"
                                                                              value=${shop.webUrl}></td>
    </tr>
    <tr>
        <td width="400px">交通信息:<input type="text" name="busline_${shop_index}" size="30"
                                      value="${shop.busline?:' '}"><b>*</b></td>
        <td width="520px">地图图片:<input type="text" name="mapImg_${shop_index}" size="50" value="${shop?.mapImg}">
        </td>
    </tr>
    <tr>
        <td width="520px">地图服务商:<input type="radio" name="mapServiceId_${shop_index}"
                                       value="0" #{if mapServiceId ==0 || mapServiceId ==null} checked#{/if}> Google
            <input type="radio" name="mapServiceId_${shop_index}" value="1"#{if mapServiceId ==1} checked#{/if}>
            Baidu
            <input type="radio" name="mapServiceId_${shop_index}" value="2"#{if mapServiceId ==2} checked#{/if}>
            Mapbar
        </td>
        <td width="400px">地图链接:<input type="text" name="mapUrl_${shop_index}" size="50" value="${shop?.mapUrl}">
        </td>
    </tr>
    <tr>
        <td width="400px"> 地图经纬度 &nbsp;&nbsp;
            经度：<input type="text" name="latitude_${shop_index}" value="${shop.latitude}"></td>
        <td width="520px">纬&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;度：<input type="text"
                                                                              name="longitude_${shop_index}"
                                                                              value="${shop.longitude}"></td>
    </tr>
</table>

#{/list}
#{/if}
<input type="hidden" name="goodsId" id="goodsId" value="${goodsId}">
<input type="hidden" name="shopSize" value="${shopList?.size()>0 ?shopList?.size():editShopList?.size()}">

<p>
    <button type="submit">提交</button>
#{if isEdit=='edit'}
    <button type="button" id="upd-shop">更新门店</button>
#{/if}
</p>
</div>
</form>
<script type="text/javascript">

    $(function () {
        $("#upd-shop").click(function () {
            $("#form").attr("action", "/58-upd-shop");
            $("#form").attr("method", "POST");
            $("#form").attr("target", "_self");
            $("#form").submit();
        })

        $("#delay").click(function () {
            var goodsId=$("#goodsId").val();
            var deadline=$("#deadline").val();
            $.ajax({
                type:'GET',
                url:'/58-delay?goodsId=' + goodsId + "&deadline=" + deadline,
                success:function (msg) {
                   $("#delay_msg").html(msg).css("color","red");
                }});
        })

    });

    //城市
    var data = CITY.data;
    var city = "";
    $.each(eval(data), function (i, item) {
        if (item.cityId == 2 || item.cityId == 4 || item.cityId == 5 || item.cityId == 21 || item.cityId == 29 || item.cityId == 361 || item.cityId == 166 || item.cityId == 36 || item.cityId == 10 || item.cityId == 35 || item.cityId == 205|| item.cityId == 369) {
            city += "<td><input type='checkbox' id='city_" + item.cityId + "' value='" + item.cityId + "' name='cityIds'>"
                    + item.cityName + "&nbsp;&nbsp;&nbsp;&nbsp;<input type='hidden' name='cities' value='" + item.cityId + ":" + item.cityName + ":" + item.cityEnShortName + "'></td>";
        }
    });
    $("#cityId").html(city);
    var cityIds = '${cityIds}';
    var cityArray = cityIds.split(",");
    for (var i = 0; i < cityArray.length; i++) {
        $("#city_" + cityArray[i]).attr("checked", true);
    }

    //旅游城市
    var travelCity = "";
    $.each(eval(data), function (i, item) {
        if (item.cityId == 2 || item.cityId == 4 || item.cityId == 5 || item.cityId == 21 || item.cityId == 29 || item.cityId == 361 || item.cityId == 166 || item.cityId == 36 || item.cityId == 10 || item.cityId == 35 || item.cityId == 205|| item.cityId == 369) {
            travelCity += "<td><input type='checkbox' id='travelCity_" + item.cityId + "' value='" + item.cityId + "' name='travelCityIds'>" + item.cityName + "&nbsp;&nbsp;&nbsp;&nbsp;</td>";
        }
    });
    $("#travelCityId").html(travelCity);
    var travelCityIds = '${travelCityIds}';
    var array = travelCityIds.split(",");
    for (var i = 0; i < array.length; i++) {
        $("#travelCity_" + array[i]).attr("checked", true);
    }

    //商圈
    var areasData = AREA.data;
    var option = "<option value=''>---请选择---</option>";
    $.each(eval(areasData), function (i, item) {
        if (item.cityId == 2 || item.cityId == 4 || item.cityId == 5 || item.cityId == 21 || item.cityId == 29 || item.cityId == 361 || item.cityId == 166|| item.cityId == 36 || item.cityId == 10 || item.cityId == 35 || item.cityId == 205|| item.cityId == 369) {
            option += "<option value='" + item.circleId + "' t='" + item.circleName + "'>" + item.circleName + "</option>";
        }
    });

    //分类
    var categoryData = ${categoryArr.raw()};

    //加载分类的list
    var len = categoryData.length;
    prodTypeArray = new Array(len);
    var slistIndex = 0;
    for (var p = 0; p < len; p++) {
        prodTypeArray[slistIndex++] = { firstPin:Pinyin.getWordsCode(categoryData[p].name), allPin:Pinyin.GetQP(categoryData[p].name), name:categoryData[p].name, id:categoryData[p].prodTypeId };
    }

    for (m = 0; m < prodTypeArray.length; m++) {
        if (prodTypeArray[m].id == ${prodTypeId}) {
            $("#prodType").val(prodTypeArray[m].name);
        }
    }

    //加载商圈的list
    list = new Array(6);
    var listIndex = 0;
    $.each(eval(areasData), function (i, item) {
        if (item.cityId == 2 || item.cityId == 4 || item.cityId == 5 || item.cityId == 21 || item.cityId == 29 || item.cityId == 166|| item.cityId == 361 || item.cityId == 36 || item.cityId == 10 || item.cityId == 35 || item.cityId == 205|| item.cityId == 369) {
            list[listIndex++] = { firstPin:Pinyin.getWordsCode(item.circleName), allPin:Pinyin.GetQP(item.circleName), name:item.circleName, id:item.circleId };
        }
    });

    if (${jsonArray?.raw()} != null ) {
        var shopArray = ${jsonArray.raw()};
        for (var i = 0; i < shopArray.length; i++) {
            var areaName = shopArray[i]['areaName'];
            for (j = 0; j < list.length; j++) {
                if (list[j].name == areaName) {
                    $("#circleName" + (i + 1)).val(areaName);
                    $("#id_circleName" + (i + 1)).val(list[j].id);
                }
            }
        }
    }
    //编辑门店
    var editShopArray = ${new com.google.gson.Gson().toJson(editShopList).raw()};
    for (var i = 0; i < editShopArray.length; i++) {
        for (j = 0; j < list.length; j++) {
            if (list[j].id == editShopArray[i]['circleId']) {
                $("#circleName" + (i + 1)).val(list[j].name);
            }
        }
    }
</script>
