#{extends 'main.html' /}
 #{set title:'分销商 - 注册新用户' /} 
 #{set 'moreStyles'}
<link href="@{'/public/stylesheets/default.css'}" rel="stylesheet" type="text/css" />
<link href="@{'/public/stylesheets/my_good.css'}" rel="stylesheet" type="text/css" />
#{/set}
#{set 'moreScripts'}
  <script src="@{'/public/javascripts/register.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
<div id="wrap_main">
	<!--    最顶部导航-->
	<div id="wrap_top">#{include "share/topNavigator.html"/}</div>
	<div id="wrap_top_header">
		<div id="wrap_top_header_left">
			<img src="@{'/public/images/logo.jpg'}" />
		</div>
		<div id="wrap_top_middle">卷生活-惠生活</div>
		<div style="clear: both"></div>
		<div class="nav_hengfu">
			<ul class="nav_bg_ul">
				<li class="nav_bg_li"><a class="current_nav_bg_a" href="#">我的优惠啦</a></li>
				<li class="nav_bg_li"><a class="nav_bg_a nodisplay" href="#">我的优惠啦</a></li>
				<li class="nav_bg_li"><a class="nav_bg_a nodisplay" href="#">我的优惠啦</a></li>
			</ul>
		</div>
	</div>
</div>
<!--主体内容部分-->
<div id="wrap_content">
	<div id="right_content_box">
		<div class="tab_top">用户注册</div>
		<div class="tab_top2">
			<form class="form-horizontal" id="regForm" action="@{ResalerRegister.create()}" method="GET">
				<table width="774" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td width="12">&nbsp;</td>
						<td><font color="red">*</font>帐户类型：</td>
						<td width="259" height="35">
							<div class="pos_abs">
								<select class="dingdan_status_bg" name="resaler.accountType">
									<option value="CONSUMER">&{'resaler.CONSUMER'}</option>
									<option value="COMPANY">&{'resaler.COMPANY'}</option>
								</select>
							</div>
						</td>
					</tr>
					<tr>
						<td width="12">&nbsp;</td>
						<td><font color="red">*</font>用&nbsp;&nbsp;户&nbsp;&nbsp;名：</td>
						<td width="259" height="35"><input type="text" name="resaler.loginName" id="loginName"
							value="${resaler?.loginName}" />
							<span class="error" id="checkName">#{error 'resaler.loginName' /}</span></td>
					</tr>
					<tr>
						<td width="12">&nbsp;</td>
						<td><font color="red">*</font>手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：</td>
						<td width="259" height="35"><input type="text" name="resaler.mobile" id="mobile" maxlength="11"
							value="${resaler?.mobile}" /> <span class="error" id="checkMobile">#{error 'resaler.mobile' /}</span></td>
					</tr>
					<tr>
						<td width="12">&nbsp;</td>
						<td><font color="red">*</font>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</td>
						<td width="259" height="35"><input type="password" name="resaler.password" id="password"
							value="${resaler?.password}" /> <span class="error">#{error 'resaler.password' /}</span></td>
					</tr>
					<tr>
						<td width="12">&nbsp;</td>
						<td><font color="red">*</font>确认密码：</td>
						<td width="259" height="35"><input type="password" name="resaler.confirmPassword" id="confirmPassword"
							value="${resaler?.confirmPassword}" />
							<span class="error">#{error 'resaler.confirmPassword' /}</span></td>
					</tr>
					<tr>
						<td width="12">&nbsp;</td>
						<td><font color="red">*</font>电子邮箱：</td>
						<td width="259" height="35"><input type="text" name="resaler.email" id="email" value="${resaler?.email}" />
							<span class="error">#{error 'resaler.email' /}</span></td>
					</tr>
					<tr>
						<td width="12">&nbsp;</td>
						<td><font color="red">*</font>联系人姓名：</td>
						<td width="259" height="35"><input type="text" name="resaler.userName" id="userName" value="${resaler?.userName}" />
							<span class="error">#{error 'resaler.userName' /}</span></td>
					</tr>
					<tr>
						<td width="12">&nbsp;</td>
						<td><font color="red">*</font>身份证号：</td>
						<td width="259" height="35"><input type="text" name="resaler.identityNo" id="identityNo"
							value="${resaler?.identityNo}" />
							<span class="error" id="checkIdentityNo">#{error 'resaler.identityNo' /}</span></td>
					</tr>
					<tr>
						<td width="12">&nbsp;</td>
						<td><font color="red">*</font>联系电话：</td>
						<td width="259" height="35"><input type="text" name="resaler.phone" id="phone" value="${resaler?.phone}" />
							<span class="error">#{error 'resaler.phone' /}</span></td>
					</tr>
					<tr>
						<td width="12">&nbsp;</td>
						<td><font color="red">*</font>联系地址：</td>
						<td width="259" height="35"><input type="text" name="resaler.address" id="address" value="${resaler?.address}" />
							<span class="error">#{error 'resaler.address' /}</span></td>
					</tr>
					<tr>
						<td width="12">&nbsp;</td>
						<td>邮编：</td>
						<td width="259" height="35"><input type="text" name="resaler.postCode" id="postCode" maxlength=6 value="${resaler?.postCode}" />
							<span class="error">#{error 'resaler.postCode' /}</span></td>
					</tr>
					<tr>
						<td width="12">&nbsp;</td>
						<td width="12">&nbsp;</td>
						<td align="center" height="35"><a class="seach_bg" href="#" onclick="register()">注册</a></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>
