<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>分销商 - 注册新用户</title>
    <link rel="shortcut icon" href="#{asset.url href:'/images/r/favicon.ico'/}" type="image/x-icon" />
    #{asset.css src:['/r/regist.css'] /}
    #{asset.js src:['/jquery-1.7.2.min.js', '/r/register.js'] /}
</head>
<body>
	
</body>
</html>
<div id="header">
    <h1 id="logo"><img src="http://img.uhcdn.com/images/r/xlogo.png" alt="100券" /></h1>
</div>
<div id="content">
    <h2>用户注册</h2>
    <form class="form-horizontal" id="regForm" action="@{ResalerRegister.create()}" method="GET">
    <ul>
        *{<li>}*
            *{<label><i class="required">*</i>帐户类型：</label>}*
            *{<select class="dingdan_status_bg" name="resaler.accountType">}*
                *{<option value="CONSUMER">&{'resaler.CONSUMER'}</option>}*
                *{<option value="COMPANY">&{'resaler.COMPANY'}</option>}*
            *{</select>}*
        *{</li>}*
        <li>
            <label><i class="required">*</i>用&nbsp;&nbsp;户&nbsp;&nbsp;名：</label>
            <input type="text" name="resaler.loginName" id="loginName" value="${resaler?.loginName}" />
            <span class="error" id="checkName">#{error 'resaler.loginName' /}</span>
        </li>
        <li>
            <label><i class="required">*</i>手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：</label>
            <input type="text" name="resaler.mobile" id="mobile" maxlength="11" value="${resaler?.mobile}" />
            <span class="error" id="checkMobile">#{error 'resaler.mobile' /}</span>
        </li>
        <li>
            <label><i class="required">*</i>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
            <input type="password" name="resaler.password" id="password" value="${resaler?.password}" />
            <span class="error">#{error 'resaler.password' /}</span>
        </li>
        <li>
            <label><i class="required">*</i>确认密码：</label>
            <input type="password" name="resaler.confirmPassword" id="confirmPassword" value="${resaler?.confirmPassword}" />
            <span class="error">#{error 'resaler.confirmPassword' /}</span>
        </li>
        <li>
            <label><i class="required">*</i>电子邮箱：</label>
            <input type="text" name="resaler.email" id="email" value="${resaler?.email}" />
            <span class="error">#{error 'resaler.email' /}</span>
        </li>
        <li>
            <label><i class="required">*</i>联系人姓名：</label>
            <input type="text" name="resaler.userName" id="userName" value="${resaler?.userName}" />
            <span class="error">#{error 'resaler.userName' /}</span></td>
        </li>
        <li>
            <label><i class="required">*</i>身份证号：</label>
            <input type="text" name="resaler.identityNo" id="identityNo" value="${resaler?.identityNo}" />
            <span class="error" id="checkIdentityNo">#{error 'resaler.identityNo' /}</span>
        </li>
        <li>
            <label><i class="required">*</i>联系电话：</label>
            <input type="text" name="resaler.phone" id="phone" value="${resaler?.phone}" />
            <span class="error">#{error 'resaler.phone' /}</span>
        </li>
        <li>
            <label><i class="required">*</i>联系地址：</label>
            <input type="text" name="resaler.address" id="address" value="${resaler?.address}" />
            <span class="error">#{error 'resaler.address' /}</span>
        </li>
        <li>
            <label>邮编：</label>
            <input type="text" name="resaler.postCode" id="postCode" maxlength=6 value="${resaler?.postCode}" />
            <span class="error">#{error 'resaler.postCode' /}</span>
        </li>
        <li class="btn">
            <button id="register_submit" type="button">注册</button>
        </li>
        </ul>
    </form>
</div>
<div id="footer">版权所有：上海视惠信息科技有限公司 ©2012 quanFX.COM  沪ICP备08114451号</div>
