#{set title:'注册成功' /}
<html>
<head>
    <meta charset="UTF-8">
    <title>分销商 - 注册新用户</title>
    <link rel="shortcut icon" href="#{asset.url href:'/images/r/favicon.ico'/}" type="image/x-icon"/>
#{asset.css src:['/r/regist.css'] /}
</head>
<body onload="init()">
<div id="header">
    <h1 id="logo"><a href="/"><img src="http://img.uhcdn.com/images/r/xlogo.png"
                                                              alt="100券"/></a></h1>
</div>

<div id="content">
    恭喜您注册成功，我们将在2-3个工作日内完成审核！如有问题请致电：400-686-5151
</div>
</body>
<div id="footer">版权所有：上海视惠信息科技有限公司 ©2012 quanFX.COM 沪ICP备08114451号</div>
</html>
