#{set title:'注册成功' /}

#{set 'moreScripts'}
<script>
    function init() {
        var times = 5;
        for (var i = times; i >= 0; i--) {
            window.setTimeout('doUpda(' + i + ')', (times - i) * 1000);
        }
    }

    function doUpda(num) {
        if (num == 0) {
             window.location.href="/";
        } else {
            $("#time").html(num);
        }
    }
</script>
#{/set}


<html>
<head>
    <meta charset="UTF-8">
    <title>分销商 - 注册新用户</title>
    <link rel="shortcut icon" href="#{asset.url href:'/images/r/favicon.ico'/}" type="image/x-icon"/>
#{asset.css src:['/r/regist.css'] /}
</head>
<body onload="init()">
<div id="header">
    <h1 id="logo"><img src="http://img.uhcdn.com/images/r/xlogo.png" alt="100券"/></h1>
</div>

<div id="content">
    恭喜您注册成功！<span id="time">5</span>秒之后自动跳转到登录页面
</div>
</body>
<div id="footer">版权所有：上海视惠信息科技有限公司 ©2012 quanFX.COM 沪ICP备08114451号</div>
</html>