#{extends 'layout_trader/layout2.html' /}
#{set title:'包厢类型' /}
#{set menu:"ktv_room" /}
<div class="body">
#{form @KtvRoomTypes.index() , id:'creationForm',class:"form-horizontal" }
    <div class="bd">
        <h2>${title}</h2>
        <table cellspacing="0" cellpadding="0" border="0" class="title-table">
            <tr>
                <th wdith="50%">包厢总数：${ktvRoomTypeList?.size()}</th>
                <td wdith="50%"><a class="btn" href="@{KtvRoomTypes.add()}">新增包厢</a></td>
            </tr>
        </table>

        <table cellspacing="0" cellpadding="0" border="0" class="standard-table">
            <thead>
            <tr>
                <th>包厢名称</th>
                <th>操 作</th>
            </tr>
            </thead>

            <tbody>
                #{list items:ktvRoomTypeList, as:'ktvRoomType' }
                <tr>
                    <td>${ktvRoomType.name}</td>
                    <td>
                        <a href="@{KtvRoomTypes.edit(ktvRoomType.id)}">修改</a>/#{vx.deleteLink action:"ktv/room-type", id:ktvRoomType.id, name:ktvRoomType.name/}
                    </td>
                </tr>
                #{/list}
            </tbody>
        </table>
    </div>
#{/form}