<!DOCTYPE HTML>
<html>
<head>
#{set menu:menu?:"verify" /}
    <meta charset="UTF-8">
    <title>#{get 'title' /}</title>
#{asset.css src:['/m/reset.css', '/m/index.css'] /}
#{get 'moreStyles' /}
</head>
<body>
<div id="header" class="clearfix">
    <div class="wrap">
        <h1>一百券商户后台</h1>

        <div class="user">
            欢迎，${supplierCompany.name}(${currentUser?.loginName})!
            <a href="/logout">退出</a>
            <a href="/ui-version/to/v1">使用旧版</a>
            <a href="/passwords">修改密码</a>
        *{<a href="">帮助</a>}*
        *{<a href="">反馈</a>}*
        </div>
    </div>
</div>
#{if errorInfo != null}
<div id="error" class="message">
    <div class="normal">
        <p><em>温馨提示：</em>${errorInfo?.raw()}</p>
    </div>
    <a id="error-close" class="close" href="javascript:closeMsg('error')">关闭</a>
</div>
#{/if}
#{if successInfo != null}
<div id="success">
    <div class="success">
        <p><em>${successInfo?.raw()}</em></p>
    </div>
    <a id="success-close" class="close" href="javascript:closeMsg('success')">关闭</a>
</div>
#{/if}
#{if topic != null}
<div id="message">
    <div class="success">
        <p><em>${topic?.content?.raw()}</em></p>
    </div>
    <a id="msg-close" class="close" href="javascript:closeMsg('message')">关闭</a>
</div>
#{/if}
<!-- .content -->
<div id="content" class="clearfix">
    <div class="sidebar">
        <ul class="menu">
        #{if navigation.ContextedPermission.hasPermission("COUPON_MULTI_VERIFY")}
            <li><a #{if "verify".equals(menu)}class="curr"#{/if} href="/verify">券&nbsp;&nbsp;验&nbsp;&nbsp;证</a>
            </li>#{/if}
        #{if navigation.ContextedPermission.hasPermission("COUPON_INDEX")}
            <li><a #{if "coupons".equals(menu)}class="curr"#{/if} href="/coupons">券号列表</a></li>#{/if}
        #{if navigation.ContextedPermission.hasPermission("ACCOUNT_REPORT")}
            <li><a #{if "sequences".equals(menu)}class="curr"#{/if} href="/sequences">财务明细</a></li>#{/if}
        #{if navigation.ContextedPermission.hasPermission("ACCOUNT_WITHDRAW")}
            <li><a #{if "withdraws".equals(menu)}class="curr"#{/if} href="/withdraws">提现管理</a></li>#{/if}
        #{if navigation.ContextedPermission.hasPermission("REPORT")}
            <li><a #{if "reports".equals(menu)}class="curr"#{/if} href="/reports">报表一览</a></li>#{/if}
        #{if navigation.ContextedPermission.hasPermission("SHOPS")}
            <li><a #{if "shops".equals(menu)}class="curr"#{/if} href="/shops">我的门店</a></li>#{/if}
        #{if navigation.ContextedPermission.hasPermission("ACCOUNT")}
            <li><a #{if "users".equals(menu)}class="curr"#{/if} href="/users">账号管理</a></li>#{/if}
        </ul>
        <div class="sbox">
            商家电话验证请致电<br>
            <strong>400-626-2166</strong>
        </div>
    </div>
    <div class="section">
        <!-- .content -->#{doLayout /}
    </div>
</div>
<div id="footer">
    ©2012 上海视惠信息科技有限公司
</div>
<!-- javascript -->
#{asset.js src:['/jquery-1.7.2.min.js', '/bootstrap/bootstrap.min.js', '/bootstrap/bootstrap-datepicker.js'] /}
#{get 'moreScripts' /}
<script type="text/javascript">
    $(function () {
    closeMsg = function (msgType) {
    $.ajax({
    type: 'POST',
    url: '/close-msg',
    success: function (data) {
    }
    });

    $('#' + msgType).hide();
    };
    });
</script>
#{get 'moreScripts' /}
</body>
</html>