<!DOCTYPE HTML>
<html>
<head>
#{set menu:menu?:"verify" /}
    <title>#{get 'title' /}</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
#{asset.js src:['/jquery-1.7.2.min.js'] /}
#{asset.css src:['/m/reset.css', '/m/index.css'] /}
#{get 'moreStyles' /}
</head>
<body>
<div id="header" class="clearfix">
    <div class="wrap">
        <a href="${helper.SupplierLink.getHomeLink('/')}"><h1>一百券商户后台</h1></a>

        <div class="user">
            欢迎，${supplierCompany.name}${currentUser?.shop?" - "+supplierShop+" ":" "}(${currentUser?.loginName})!
            <a href="/logout">退出</a>
            <a href="${helper.SupplierLink.getHomeLink('/passwords')}">修改密码</a>
            <a href="${helper.SupplierLink.getHomeLink('/how-to-verify')}">帮助</a>
        *{<a href="">帮助</a>}*
        *{<a href="">反馈</a>}*
        </div>
    </div>
</div>
#{if errorInfo != null}
<div id="error" class="message">
    <div class="normal">
        <p><em>温馨提示：</em>${errorInfo?.raw()}</p>
    </div>
    <a id="error-close" class="close" href="javascript:closeMsg('error')">关闭</a>
</div>
#{/if}
#{if successInfo != null}
<div id="success">
    <div class="success">
        <p><em>${successInfo?.raw()}</em></p>
    </div>
    <a id="success-close" class="close" href="javascript:closeMsg('success')">关闭</a>
</div>
#{/if}
#{if topic != null}
<div id="message">
    <div class="success">
        <p><em>${topic?.content?.raw()}</em></p>
    </div>
    <a id="msg-close" class="close" href="javascript:closeMsg('message')">关闭</a>
</div>
#{/if}
<!-- .content -->
<div id="content" class="clearfix">
    <div class="sidebar">
        <ul class="menu">
        %{
            sellECoupon = currentUser?.supplier?.getProperty(models.supplier.Supplier.SELL_ECOUPON);
            canSaleReal = currentUser?.supplier?.getProperty(models.supplier.Supplier.CAN_SALE_REAL);
            ktvSupplier = currentUser?.supplier?.getProperty(models.supplier.Supplier.KTV_SUPPLIER);
        }%

        #{if ("1".equals(sellECoupon))}
            #{if navigation.ContextedPermission.hasPermission("COUPON_MULTI_VERIFY") }
                #{if (helper.SupplierMenus.getAppointmentMenu(currentUser?.supplier?.id))}
                <li><a #{if "appointment_coupon".equals(menu)}class="curr"#{/if} href="${helper.SupplierLink.getHomeLink('/coupon-appointment')}">预&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;约</a></li>
                #{/if}
                <li>
                    <a #{if "verify".equals(menu)}class="curr"#{/if} href="${helper.SupplierLink.getHomeLink('/verify')}">券&nbsp;&nbsp;验&nbsp;&nbsp;证</a>
                </li>
            #{/if}
            #{if navigation.ContextedPermission.hasPermission("COUPON_INDEX")}
                <li><a #{if "coupons".equals(menu)}class="curr"#{/if} href="${helper.SupplierLink.getHomeLink('/coupons')}">券号列表</a></li>#{/if}
            #{if navigation.ContextedPermission.hasPermission("ACCOUNT_REPORT")}
                <li><a #{if "sequences".equals(menu)}class="curr"#{/if} href="${helper.SupplierLink.getHomeLink('/sequences')}">财务明细</a></li>#{/if}
            #{if navigation.ContextedPermission.hasPermission("ACCOUNT_WITHDRAW")}
                <li><a #{if "withdraws".equals(menu)}class="curr"#{/if} href="${helper.SupplierLink.getHomeLink('/withdraws')}">提现管理</a></li>#{/if}
            #{if navigation.ContextedPermission.hasPermission("REPORT")}
                <li><a #{if "reports".equals(menu)}class="curr"#{/if} href="${helper.SupplierLink.getHomeLink('/reports')}">报表一览</a></li>#{/if}
            #{if navigation.ContextedPermission.hasPermission("SHOPS")}
                <li><a #{if "shops".equals(menu)}class="curr"#{/if} href="${helper.SupplierLink.getHomeLink('/shops')}">我的门店</a></li>#{/if}
            #{if navigation.ContextedPermission.hasPermission("USERS")}
                <li><a #{if "users".equals(menu)}class="curr"#{/if} href="${helper.SupplierLink.getHomeLink('/users')}">帐号管理</a></li>#{/if}
        #{/if}
        #{if navigation.ContextedPermission.hasPermission("DOWNLOAD_ORDER_SHIPPING") && ("1".equals(canSaleReal))}
            <li><a #{if "download-order-shipping".equals(menu)}class="curr"#{/if} href="${helper.SupplierLink.getHomeLink('/real/download-order-shipping')}">下载发货单</a>
            </li>
            <li><a #{if "upload-order-shipping".equals(menu)  }class="curr"#{/if}
                   href="${helper.SupplierLink.getHomeLink('/real/upload-order-shipping')}">上传发货单</a></li>
        #{/if}
        #{if navigation.ContextedPermission.hasPermission("ACCOUNT")  && ("1".equals(canSaleReal))}
            <li><a #{if "return-goods".equals(menu)}class="curr"#{/if} href="${helper.SupplierLink.getHomeLink('/real/return-entries')}">退货管理</a></li>
        #{/if}
            #{if navigation.ContextedPermission.hasPermission("KTV") && ("1".equals(ktvSupplier))}
                *{<li><a #{if "ktv_product_bind".equals(menu)}class="curr"#{/if} href="${helper.SupplierLink.getKtvLink('/ktv/product-bind')}">KTV产品绑定</a></li>}*
                <li><a #{if "ktv_taobao_products".equals(menu)}class="curr"#{/if} href="${helper.SupplierLink.getKtvLink('/ktv/taobao-products')}">淘宝产品管理</a></li>
                <li><a #{if "ktv_price".equals(menu)}class="curr"#{/if} href="${helper.SupplierLink.getKtvLink('/ktv/price-schedule')}">KTV价格策略</a></li>
                *{
                <li><a #{if "ktv_promotion".equals(menu)}class="curr"#{/if} href="${helper.SupplierLink.getKtvLink('/ktv/promotion/new')}">促销活动</a></li>
                }*
                <li><a #{if "ktv_daily_schedule".equals(menu)}class="curr"#{/if} href="${helper.SupplierLink.getKtvLink('/ktv/daily-schedule')}">KTV每日预订</a></li>
            #{/if}
        </ul>
        <div class="sbox">
            商家电话验证请致电<br>
            <strong>400-686-5151</strong>
        </div>
    </div>
    <div class="section">
        <!-- .content -->#{doLayout /}
    </div>
</div>
<div id="footer">
    ©2012 上海视惠信息科技有限公司
</div>
<!-- javascript -->
#{asset.js src:['/bootstrap/bootstrap.min.js', '/bootstrap/bootstrap-datepicker.js'] /}
<script type="text/javascript">
    $(function () {
        closeMsg = function (msgType) {
            $.ajax({
                type: 'POST',
                url: '/close-msg',
                success: function (data) {
                }
            });

            $('#' + msgType).hide();
        };
    });
</script>
#{get 'moreScripts' /}
</body>
</html>
