#{extends 'main2.html' /}
#{set title:'一百券-' + condsTitle + ',网上消费券首选门户,消费券,代金券,优惠券,美食券,电子券,提货券' /}
#{set 'metaContent'}
<meta name="Description" content="一百券-${condsTitle},消费券,代金券,优惠券,美食券,电子券,提货券">
<meta name="Keywords" content="上海优惠券,${condsTitle},消费券,代金券,优惠券,美食券,电子券,优惠上海,提货券">
#{/set}

#{set 'moreStyles'}
    #{asset.css src:['/home/121108/list.css'] /}
#{/set}

#{set 'moreScripts'}
    #{asset.js src:['/u/slides.min.js','/home/121031/list.js']/}
<script type="text/javascript">
    $(function () {
        $("#dz").click(function () {
            if ($("#dz").attr("checked")) {
                window.location.href = "${condition.buildUrl('materialType', models.sales.MaterialType.ELECTRONIC).getUrl()}";
            } else {
                window.location.href = "${condition.buildUrl('materialType', null).getUrl()}";
            }
        });
        $("#st").click(function () {
            if ($("#st").attr("checked")) {
                window.location.href = "${condition.buildUrl('materialType', models.sales.MaterialType.REAL).getUrl()}";
            } else {
                window.location.href = "${condition.buildUrl('materialType', null).getUrl()}";
            }
        });
        $("#yy").click(function () {
            if ($("#yy").attr("checked")) {
                window.location.href = "${condition.buildUrl('isOrderNum', 1).getUrl()}";
            } else {
                window.location.href = "${condition.buildUrl('isOrderNum', 0).getUrl()}";
            }
        });

    });
</script>
#{/set}

<div class="wrapper">
    <div id="content" class="clearfix">
        <div id="crumbs-panel">
        #{breadcrumbs/breadcrumb breadcrumbs/}
        #{if onSaleGoodsCount != null && onSaleGoodsCount > 0 && (org.apache.commons.lang.StringUtils.isNotBlank(s)||org.apache.commons.lang.StringUtils.isNotBlank(b))}

            <div class="stats">
                <i class="left"></i>

                <div class="center">
                    <div class="inner">找到<span class="keyword">${s?:condition.brandName}</span>相关商品<span
                            class="count">${onSaleGoodsCount}</span>件
                    </div>
                </div>
                <i class="right"></i>
            </div>
        #{/if}
        </div>

        <div id="section">

        #{if onSaleGoodsCount == null || onSaleGoodsCount == 0}
            <div id="sorry">
                <div class="inner">很抱歉！ 没有找到<span class="keyword">${s}</span>相关的商品。</div>
            </div>
            <div id="interest">
                <div class="hd"><b>您可能会对这些商品感兴趣：</b><s></s></div>
                <div class="bd">
                    <ul class="goods clearfix">
                        #{list recommendGoodsList,as:'aGoods'}
                            <li
                                #{if aGoods_index%3 == 1}class="first"#{/if}>
                                <div class="inner">
                                    <div class="image">
                                        <a href="${aGoods.wwwUrl}" target="_blank"><img src="${aGoods.imageSmallPath}"
                                                                                        width="199"
                                                                                        height="152"/></a>
                                        #{if aGoods.areaNames?.size()>0}<a class="region" href="${aGoods?.wwwUrl}"
                                                                           target="_blank"><span>商圈：</span>${aGoods.areaNames}
                                        </a>#{/if}
                                    </div>
                                    <div class="title"><a href="${aGoods.wwwUrl}"
                                                          target="_blank">${aGoods.name}</a>
                                    </div>
                                    <div class="attribute">
                                        <div class="left">
                                            <div class="price">&yen;${aGoods.salePrice}</div>
                                            <del>原价：${aGoods.faceValue}</del>
                                            <div class="count">已售出<em>${aGoods?.virtualSaleCount}</em>件</div>
                                        </div>
                                        <div class="right"><a class="view" href="${aGoods.wwwUrl}">去看看</a></div>
                                    </div>
                                </div>
                            </li>
                        #{/list}
                    </ul>
                </div>
            </div>

        #{/if}
        #{else}
            <div id="filter">
                <dl class="cate clearfix">
                    <dt>分类：</dt>
                    <dd>
                        <ul class="some clearfix">
                            <li><a href="${condition.buildUrl('categoryId',0l).getUrl()}"
                                   #{if categoryId == null || categoryId
                                   == 0l}class="curr"#{/if}>全部</a></li>
                            #{list searchCategories, as:'category'}
                                <li><a href="${condition.buildUrl('categoryId',category.id).getUrl()}"
                                       #{if category.id ==
                                       categoryId}class="curr"#{/if}>${category.name}<em>(${category.goodsCount})</em></a></li>
                            #{/list}
                        </ul>
                        #{if subCategories!= null && subCategories.size() > 0}
                            <div class="outer">
                                <ul class="more clearfix">
                                    #{list subCategories,as:'subCategory'}
                                        <li><a href="${condition.buildUrl('categoryId', subCategory.id).getUrl()}"
                                               #{if (subCategory.id == condition.categoryId)
                                               || (subCategory.id == 0 && category?.isRoot())
                                               }class="curr"#{/if}>${subCategory.name}<em>(${subCategory.goodsCount})</em></a>
                                        </li>
                                    #{/list}
                                </ul>
                            </div>
                        #{/if}
                    </dd>
                </dl>
                <dl class="area clearfix">
                    <dt>区域：</dt>
                    <dd>
                        <ul class="some clearfix">
                            <li><a href="${condition.buildUrl('searchAreaId', '0').getUrl()}"
                                   #{if condition.searchAreaId ==
                                   null ||
                                   condition.searchAreaId.equals("0")}class="curr"#{/if}}>全部</a>
                            </li>
                            #{list districts,as:'area'}
                                <li><a href="${condition.buildUrl('searchAreaId', area.id).getUrl()}" #{if
                                condition.searchAreaId.length() >= 5 &&
                                condition.searchAreaId.startsWith(area.id)}class="curr"#{/if}>${area.name}<em>(${area.goodsCount})</em></a>
                                </li>
                            #{/list}
                        </ul>
                        #{if searchAreas != null && searchAreas.size() != 0}
                            <div class="outer">
                                <ul class="more clearfix">
                                    #{list searchAreas,as:'area'}
                                        <li><a href="${condition.buildUrl('searchAreaId', area.id).getUrl()}" #{if
                                        area.id.equals(condition.searchAreaId)}class="curr"#{/if}>${area.name}<em>(${area.goodsCount})</em></a>
                                        </li>
                                    #{/list}
                                </ul>
                            </div>
                        #{/if}
                    </dd>
                </dl>
            </div>

            <div id="result">
                <div class="hd clearfix">
                    <s></s>

                    <div class="sort">
                        <a #{if
                           condition.solrOrderBy.equals(models.sales.GoodsWebsiteCondition.getSolrOrderBy(0))}class="curr"#{/if}
                           href="${condition.buildUrl('orderByNum', 0).buildUrl('orderByTypeNum', 1).getUrl()}">默认</a>
                        <a #{if
                           condition.solrOrderBy.equals(models.sales.GoodsWebsiteCondition.getSolrOrderBy(1))}class="curr"#{/if}
                           href="${condition.getOrderUrl(1)}" title="${condition.getOrderTitle(1)}"><span
                                class="${condition.getOrderStyle(1)}">销量</span></a>
                        <a #{if
                           condition.solrOrderBy.equals(models.sales.GoodsWebsiteCondition.getSolrOrderBy(2))}class="curr"#{/if}
                           href="${condition.getOrderUrl(2)}" title="${condition.getOrderTitle(2)}"><span
                                class="${condition.getOrderStyle(2)}">价格</span></a>
                        <a #{if
                           condition.solrOrderBy.equals(models.sales.GoodsWebsiteCondition.getSolrOrderBy(3))}class="curr"#{/if}
                           href="${condition.getOrderUrl(3)}" title="${condition.getOrderTitle(3)}"><span
                                class="${condition.getOrderStyle(3)}">发布时间</span></a>
                    </div>
                    <div class="sift">
                        <input id="yy" type="checkbox" #{if condition.isOrder != null}checked #{/if}/><label
                            for="yy">无须预约</label>

                    </div>
                </div>
                <div class="bd">
                    <ul class="goods clearfix">
                        #{paginate.list items:goodsPage,as:'aGoods'}
                            #{if aGoods.status == models.sales.GoodsStatus.ONSALE}
                            <li
                                #{if aGoods_index%3 == 1}class="first"#{/if}>
                                <div class="inner">
                                    <div class="image">
                                        <a href="${aGoods?.wwwUrl}" target="_blank"><img src="${aGoods.imageSmallPath}"
                                                                                         width="199"
                                                                                         height="152"/></a>
                                        #{if aGoods.areaNames?.size()>0}<a class="region" href="${aGoods?.wwwUrl}"
                                                                           target="_blank"><span>商圈：</span>${aGoods.areaNames}
                                        </a>#{/if}
                                    </div>
                                    <div class="title"><a href="${aGoods?.wwwUrl}"
                                                          target="_blank">${aGoods.highLightName.raw()}</a>
                                    </div>
                                    <div class="attribute">
                                        <div class="left">
                                            <div class="price">&yen;${aGoods.salePrice}</div>
                                            <del>原价：${aGoods.faceValue}</del>
                                            <div class="count">已售出<em>${aGoods?.virtualSaleCount}</em>件</div>
                                        </div>
                                        <div class="right"><a class="view" href="${aGoods.wwwUrl}">去看看</a></div>
                                    </div>
                                </div>
                            </li>
                            #{/if}
                        #{/paginate.list}
                    </ul>
                    #{paginate.controls items:goodsPage /}
                </div>
            </div>
        #{/else}
        </div>
        <!-- #section -->

        <div id="sidebar">
            #{include '/Goods2/sidebar.html' /}
        </div>
        <!-- #sidebar -->
    </div>
    <!-- #content -->
</div>
