#{extends 'main2.html' /}
#{set title:'一百券-' + condsTitle + ',网上消费券首选门户,消费券,代金券,优惠券,美食券,电子券,提货券' /}
#{set 'metaContent'}
<meta name="Description" content="一百券-${condsTitle},消费券,代金券,优惠券,美食券,电子券,提货券">
<meta name="Keywords" content="上海优惠券,${condsTitle},消费券,代金券,优惠券,美食券,电子券,优惠上海,提货券">
#{/set}

*{#{set 'moreStyles'}}*
*{#{asset.css src:['/y/home/index.css'] /}}*
*{#{/set}}*
<link rel="stylesheet" href="http://192.168.18.242/yome/home/src/list.css"/>
<div class="wrapper">
    <div id="content" class="clearfix">
        <div class="crumbs">#{breadcrumbs/breadcrumb breadcrumbs/}</div>
        <div id="section">
            <div id="filter">
                <dl class="cate clearfix">
                    <dt>分类：</dt>
                    <dd>
                        <ul class="some clearfix">
                            <li><a href="" #{if categoryId == null || categoryId == 0l}class="curr"#{/if}>全部(${onSaleGoodsCount})</a></li>
                        #{list searchCategories, as:'category'}
                            <li><a href="/q/${category.id}" #{if category.id == categoryId}class="curr"#{/if}>${category.name}
                                <em>(${category.goodsCount})</em></a></li>
                        #{/list}
                        </ul>
                    #{if subCategories!= null && subCategories.size() != 0}
                        <div class="outer">
                            <ul class="more clearfix">
                                #{list subCategories,as:'subCategory'}
                                    <li><a href="/q/${subCategory.id}"
                                        #{if (subCategory.id == categoryId)
                                        || (subCategory.id == 0 && category?.isRoot())
                                        }class="curr"#{/if}>${subCategory.name}<em>(${subCategory.goodsCount})</em></a>
                                    </li>
                                #{/list}
                            </ul>
                        </div>
                    #{/if}
                    </dd>
                </dl>
                <dl class="area clearfix">
                    <dt>区域：${searchAreaId}</dt>
                    <dd>
                        <ul class="some clearfix">
                            <li><a href="${searchAreaId}" #{if searchAreaId == null || searchAreaId.equals("0")}class="curr"#{/if}}>全部(${onSaleGoodsCount})</a></li>
                        #{list districts,as:'area'}
                            <li><a href="${area.id}" #{if area.id.equals(searchAreaId)}class="curr"#{/if}>${area.name}
                                <em>(${area.goodsCount})</em></a></li>
                        #{/list}
                        </ul>
                    #{if searchAreas != null && searchAreas.size() != 0}
                        <div class="outer">
                            <ul class="more clearfix">
                            #{list searchAreas,as:'area'}
                                <li><a href="" #{if area.id.equals(searchAreaId)}class="curr"#{/if}>${area.name}
                                    <em>(${area.goodsCount})</em></a></li>
                            #{/list}
                            </ul>
                        </div>
                    #{/if}
                    </dd>
                </dl>
            </div>

            <div id="result">
                <div class="hd clearfix">
                    <s></s>

                    <div class="sort">
                        <a class="curr" href="">全部商品</a>
                        <a href="">最新上架</a>
                        <a class="desc" href="">销量最多</a>
                        <a class="asc" href="">价格最低</a>
                    </div>
                    <div class="sift">
                        <input id="qb" type="checkbox" value=""/><label for="qb">无须预约</label>
                        <input id="dz" type="checkbox" value=""/><label for="dz">电子券</label>
                        <input id="st" type="checkbox" value=""/><label for="st">实体券</label>
                    </div>
                </div>
                <div class="bd">
                    <ul class="goods clearfix">
                    #{set j:0/}
                    #{paginate.list items:goodsPage,as:'aGoods'}
                        #{set j:j+1/}
                        <li #{if j%3 == 1}class="first"#{/if}>
                            <div class="inner">
                                <div class="image">
                                    <a href="" target="_blank"><img src="${aGoods.imageSmallPath}" width="199"
                                                                    height="152"/></a>
                                    #{if aGoods.areaNames?.size()>0}<a class="region" href=""
                                                                       target="_blank"><span>商圈：</span>${aGoods.areaNames}
                                    </a>#{/if}
                                </div>
                                <div class="title"><a href="/p/${aGoods.id}" target="_blank">${aGoods.getHighLightName(s).raw()}</a>
                                </div>
                                <div class="attribute">
                                    <div class="left">
                                        <div class="price">&yen;${aGoods.salePrice}</div>
                                        <del>原价：${aGoods.faceValue}</del>
                                        <div class="count"><em>${aGoods?.virtualSaleCount}</em>人已购买</div>
                                    </div>
                                    <div class="addCart"><a href="#">加入购物车</a></div>
                                </div>
                            </div>
                        </li>
                    #{/paginate.list}
                    </ul>
                #{paginate.controls items:goodsPage /}
                </div>
            </div>
        </div>
        <!-- #section -->

        <div id="sidebar">
            <div class="sidewrap">
                <div class="hd">热销商品</div>
                <ul class="bd">
                    <li>
                        <div class="image"><a href="" target="_blank"><img src="http://dummyimage.com/172x132"
                                                                           width="172"
                                                                           height="132"/></a></div>
                        <div class="title"><a href="" target="_blank">限时促-[多商区]<br/>有家川菜现金券-免预约不限时</a></div>
                        <div class="attri">
                            <del>原价：50.00</del>
                        </div>
                        <div class="price">现价：<b>&yen;40.00</b></div>
                    </li>
                    <li>
                        <div class="image"><a href="" target="_blank"><img src="http://dummyimage.com/172x132"
                                                                           width="172"
                                                                           height="132"/></a></div>
                        <div class="title"><a href="" target="_blank">限时促-[多商区]<br/>有家川菜现金券-免预约不限时</a></div>
                        <div class="attri">
                            <del>原价：50.00</del>
                        </div>
                        <div class="price">现价：<b>&yen;40.00</b></div>
                    </li>
                    <li>
                        <div class="image"><a href="" target="_blank"><img src="http://dummyimage.com/172x132"
                                                                           width="172"
                                                                           height="132"/></a></div>
                        <div class="title"><a href="" target="_blank">限时促-[多商区]<br/>有家川菜现金券-免预约不限时</a></div>
                        <div class="attri">
                            <del>原价：50.00</del>
                        </div>
                        <div class="price">现价：<b>&yen;40.00</b></div>
                    </li>
                </ul>
                <div class="ft"><a href="" target="_blank">更多 >> </a></div>
            </div>
            <div class="sidewrap">
                <div class="hd">您可能感兴趣的商品</div>
                <ul class="bd clearfix">
                    <li>
                        <div class="image"><a href="" target="_blank"><img src="http://dummyimage.com/172x132"
                                                                           width="172"
                                                                           height="132"/></a></div>
                        <div class="title"><a href="" target="_blank">限时促多商区限时促多商区限时促多商区限时促多商区限时促多</a></div>
                        <div class="attri">
                            <del>原价：50.00</del>
                        </div>
                        <div class="price">现价：<b>&yen;40.00</b></div>
                    </li>
                    <li>
                        <div class="image"><a href="" target="_blank"><img src="http://dummyimage.com/172x132"
                                                                           width="172"
                                                                           height="132"/></a></div>
                        <div class="title"><a href="" target="_blank">限时促多商区限时促多商区限时促多商区限时促多商区限时促多</a></div>
                        <div class="attri">
                            <del>原价：50.00</del>
                        </div>
                        <div class="price">现价：<b>&yen;40.00</b></div>
                    </li>
                    <li>
                        <div class="image"><a href="" target="_blank"><img src="http://dummyimage.com/172x132"
                                                                           width="172"
                                                                           height="132"/></a></div>
                        <div class="title"><a href="" target="_blank">限时促多商区限时促多商区限时促多商区限时促多商区限时促多</a></div>
                        <div class="attri">
                            <del>原价：50.00</del>
                        </div>
                        <div class="price">现价：<b>&yen;40.00</b></div>
                    </li>
                </ul>
                <div class="ft"><a href="" target="_blank">更多 >> </a></div>
            </div>
            <div class="sidewrap">
                <div class="hd">您浏览过的商品</div>
                <ul class="bd clearfix">
                    <li>
                        <div class="image"><a href="" target="_blank"><img src="http://dummyimage.com/172x132"
                                                                           width="172"
                                                                           height="132"/></a></div>
                        <div class="title"><a href="" target="_blank">限时促多商区限时促多商区限时促多商区限时促多商区限时促多</a></div>
                        <div class="attri">
                            <del>原价：50.00</del>
                        </div>
                        <div class="price">现价：<b>&yen;40.00</b></div>
                    </li>
                    <li>
                        <div class="image"><a href="" target="_blank"><img src="http://dummyimage.com/172x132"
                                                                           width="172"
                                                                           height="132"/></a></div>
                        <div class="title"><a href="" target="_blank">限时促多商区限时促多商区限时促多商区限时促多商区限时促多</a></div>
                        <div class="attri">
                            <del>原价：50.00</del>
                        </div>
                        <div class="price">现价：<b>&yen;40.00</b></div>
                    </li>
                    <li>
                        <div class="image"><a href="" target="_blank"><img src="http://dummyimage.com/172x132"
                                                                           width="172"
                                                                           height="132"/></a></div>
                        <div class="title"><a href="" target="_blank">限时促多商区限时促多商区限时促多商区限时促多商区限时促多</a></div>
                        <div class="attri">
                            <del>原价：50.00</del>
                        </div>
                        <div class="price">现价：<b>&yen;40.00</b></div>
                    </li>
                </ul>
            </div>
            <img src="http://dummyimage.com/200x120" alt=""/>
        </div>
        <!-- #sidebar -->
    </div>
    <!-- #content -->
</div>