#{extends 'main2.html' /}
#{set title: helper.Title.getDetailTitle(goods) /}
#{set 'metaContent'}
    #{set detailKeywords: helper.Title.getDetailKeyWords(goods) /}
<meta name="Description" content="一百券-${goods.brand?.name} ${goods.name},${detailKeywords}消费券,代金券,优惠券,美食券,电子券,提货券">
<meta name="Keywords" content="${detailKeywords}">
#{/set}
#{set 'moreStyles'}
    #{asset.css src:['/home/130118/detail.css']/}
#{/set}
<script src="http://maps.googleapis.com/maps/api/js?e&language=zh-CN&region=GB&key=AIzaSyCbnBNu40y5eXnL8jOey4lbS3P1vQ_HR5E&sensor=false"></script>
#{set 'moreScripts'}
    #{asset.js src:['/u/slides.min.js', '/home/130118/blockUI.js', '/home/130118/detail.js', '/home/130118/map.js']/}
#{/set}

<style type="text/css">
    .snap {
        width: 276px;
        background-position: 312px 32px;
        background-color: whiteSmoke;
        border: 1px dashed #DDD;
        padding: 10px 10px 10px 38px;
        margin-top: 10px;
    }

    .msg {
        background: url("http://a.tbcdn.cn/sys/common/img/msg_bg.png") no-repeat scroll 0 0 transparent;
        background-position: 3px -147px;
        padding: 2px 10px 2px 23px;
        position: relative;
        left: -23px;
    }
</style>

<div class="wrapper">
<div id="content">
<div id="crumbs-panel">
#{breadcrumbs/breadcrumb breadcrumbs/}
</div>
<div id="section">
<div id="summary" class="clearfix">
    <div id="title">
    #{if goods?.brand?.display}
        <h1>${goods?.brand?.name}</h1>
    #{/if}
        <p class="desc">${goods?.name}</p>
    </div>
    <div id="gallery">
        <div class="slides_container">
            <img src="${goods?.imageLargePath}" width="340" height="260"/>
        #{if imagesList?.size()>0}
            #{list items:imagesList ,as :'image'}
                <img src="${image?.imageLargePath}" width="340" height="260"/>
            #{/list}
        #{/if}
        </div>
        <a class="prev btn" href="#"><i></i></a>
        <a class="next btn" href="#"><i></i></a>
    </div>
    <div id="property">
    #{form @Orders.index(), id:'order_create_form' }
        <ul id="metaBox">
            #{if params['isSupplier']== null || !params['isSupplier']}
                <li>现价：<span class="price">&yen;${goods.salePrice}</span></li>
            #{/if}
            #{if models.sales.GoodsStatus.ONSALE.equals(goods.status)}
                <li>原价：
                    <del>&yen;${goods.faceValue}</del>
                </li>
            #{/if}
            #{if params['isSupplier']== null || !params['isSupplier']}
                <li>折扣：<em class="discount">${goods.discountExpress}</em></li>
            #{/if}

            #{if ghShow==true && goodsUpdateAt!=null }
                <li class="amount">
                    <div class="snap">
                        <p class="msg" style="font-size:12px;">您现在查看的是交易快照</p>

                        <p style="font-size:12px;">该商品在&nbsp;${goodsUpdateAt?.format('yyyy-MM-dd HH:mm:ss')}
                            &nbsp;已被编辑</p>
                    %{ goodsUrl="http://www." + play.Play.configuration.getProperty("application.baseDomain") + "/p/" +
                        goodsId;
                        }%
                        #{if goodsDeleted==com.uhuila.common.constants.DeletedStatus.UN_DELETED}
                            <a href="${goodsUrl}" class="view" title="点此查看最新商品详情"
                               target="_blank">点此查看最新商品详情</a>
                        #{/if}
                        #{else}
                            <span style="font-size:12px;">此商品已被删除</span>
                        #{/else}
                    </div>
                </li>
            #{/if}
            #{else}
                <li class="amount">购买数量:${buyNumber}
                    <span id="amount">
                    <input class="amount-ipt" id="number" name="g${goods.id}" type="text" value="1"/>
                            <span class="increase-btn" id="increase-btn" name="${goods.id}"></span>
                            <span class="decrease-btn" id="decrease-btn" name="${goods.id}"></span>
                        <input type="hidden" value="1" id="last_num_${goods.id}"/>
                        <input type="hidden" value="${goods.cumulativeStocks}" id="stock_${goods.id}">
                        <input type="hidden" value="${goods.limitNumber}" id="limit_${goods.id}">
                    </span> 件(已售出<em class="selled">${goods?.virtualSaleCount?:'0'}</em>件)
                    <span id="stock_hit" style="display:none;color:#f50">库存${goods.getRealStocks()}件</span>
                    #{if goods.limitNumber > 0}
                        <span id="limitNumber" style="color:#f50">限购${goods.limitNumber}件</span>
                    #{/if}
                    <span class="error">#{error 'number' /}</span>
                    <input type="hidden" id="stock" value="${goods.cumulativeStocks}">
                    <input type="hidden" id="boughtNumber" value="${boughtNumber}">
                    <input type="hidden" id="addCartNumber" value="${addCartNumber}">
                </li>
            #{/else}
        </ul>
        #{if ghShow == null || !ghShow }
            <input type="hidden" id="goodsId" name="gid" value="${goods.id}">

            <div id="btnBox">
                #{if goods.onSale() && goods?.getRealStocks() != 0 && !goods?.isExpired()}
                    #{if !bought}
                        <a href="#" id="link_buy_now" class="nowBuy">立即购买<b></b></a>
                        #{if !goods?.isLottery}
                            <a id="link_add_cart" href="#" class="addCart">加入购物车<b></b></a>
                        #{/if}
                    #{/if}
                    #{else}
                        <strong style="color: red">您已经购买过此商品！</strong>
                    #{/else}

                    <div id="add_cart_result" class="addCart-tips" style="display: none;">
                        <span class="addCart-icon"></span>
                        <h4>已成功添加到购物车</h4>


                        <p>购物车共有<em id="result-count"></em>件，总计<strong id="result-amount"></strong>元</p>
                        <a class="view-carts" href="/carts">查看购物车<b></b></a>
                        <a class="close-tips" id="J_closeTips" href="#">关闭</a>
                    </div>
                #{/if}
                #{elseif params['isSupplier']== null || !params['isSupplier']}
                    <span>已下架</span>
                #{/elseif}
            </div>
        #{/if}
        #{else}
            <input type="hidden" id="goodsId" name="gid" value="${goodsId}">
        #{/else}
        <ul id="promise">
            <li class="quality"><a href="/service" target="_blank">品质保证</a></li>
            #{if (goods?.noRefund==false || goods?.noRefund==null) && goods?.materialType== models.sales.MaterialType.ELECTRONIC}
                <li class="refund"><a href="/service" target="_blank">一键退款</a></li>
            #{/if}
            #{else}
                <li class="refund no-refund"><a href="/service" target="_blank">不可退款</a></li>
            #{/else}
            #{if (goods?.noRefund==false || goods?.noRefund==null) && goods?.materialType== models.sales.MaterialType.ELECTRONIC}
                <li class="return"><a href="/service" target="_blank">随时退货</a></li>
            #{/if}
            #{else}
                <li class="return no-return"><a href="/service" target="_blank">不可退货</a></li>
            #{/else}
        </ul>
    #{/form}
    </div>

    <!-- property-->
    <div id="share" class="clearfix">
        <span>分享到：</span>
        <a class="qq" id="qq" href=""></a>
        <a class="weibo"
           href="http://service.weibo.com/share/share.php?url=${tjUrl.urlEncode()}&amp;appkey=&amp;title=我刚刚在@一百券网 上看到这个商品：${goods.title} 价格真实惠，只要&yen;${goods.salePrice}，#{if cas?.isLogin}现在注册购买还能折上再减1％，#{/if}分享给大家看看！地址: &amp;pic=&amp;ralateUid=&amp;language="
           target="_blank"></a>
        <a class="qzone"
           href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?title=${goods.name}&desc=我刚刚在一百券网上看到这个商品：${goods.title} 价格真实惠，只要&yen;${goods.salePrice}，#{if cas?.isLogin}现在注册购买还能折上再减1％，#{/if}分享给大家看看！&url=${tjUrl.urlEncode()}"
           target="_blank"></a>
        <a class="tqq"
           href="http://share.v.t.qq.com/index.php?c=share&a=index&url=${tjUrl.urlEncode()}&title=我刚刚在一百券网上看到这个商品：${goods.title} 价格真实惠，只要&yen;${goods.salePrice}，#{if cas?.isLogin}现在注册购买还能折上再减1％，#{/if}分享给大家看看！地址:&appkey=801cf76d3cfc44ada52ec13114e84a96"
           target="_blank"></a>
        <a class="renren"
           href="http://widget.renren.com/dialog/share?url=${tjUrl.urlEncode()}&title=${goods.name}&description=我刚刚在一百券网上看到这个商品：${goods.title} 价格真实惠，只要&yen;${goods.salePrice}，#{if cas?.isLogin}现在注册购买还能折上再减1％，#{/if}分享给大家看看！地址: ${tjUrl.urlEncode()}"
           target="_blank"></a>
    </div>
    <div id="share-im">
        <div class="inner">
            <s></s>
            <label for="share-url">复制链接分享给站外好友：</label><input type="text" id="share-url" class="input"
                                                              value="${tjUrl}" readonly/>
        </div>
    </div>
</div>
<!-- #summary -->
#{if goods?.exhibition}
<div id="details">
    <div class="hd">商品详情</div>
    <div class="bd">${goods?.exhibition?.raw()}</div>
</div>
#{/if}
<div id="warmtips">
    <div class="hd">温馨提示</div>
    <div class="bd"> ${goods?.prompt?.raw()}</div>
</div>
<!--抽奖商品和上海视惠公司自己的不显示地图,上海视惠公司Id=5-->

#{if !goods?.isLottery && goods.supplierId !=5 }
<div id="outlet">
    <div class="hd">适用门店</div>
    <div class="bd clearfix">
        <div class="outlet-gmap">
            <div id="min-gmap" style="width: 330px; height: 225px"></div>
        </div>
        <div class="outlet-list">
            <ul></ul>
            <div class="outlet-more">
                <span class="outlet-total">共<em id="outlet-total-num"></em>家分店 <a class="view-all-outlet" data-index="0" href="">查看全部</a></span>
                <span id="outlet-page"></span>
            </div>
        </div>
    </div>
</div>
#{/if}
#{if goods?.details}
<div id="show">
    <div class="hd">商品展示</div>
    <div class="bd">
        <div class="template">${goods?.details?.raw()}</div>
    </div>
</div>
#{/if}
#{if goods?.supplierDes}
<div id="intro">
    <div class="hd">商家介绍</div>
    <div class="bd">
        <div class="template">${goods?.supplierDes?.raw()}</div>
    </div>
</div>
#{/if}
#{if ghShow==false || ghShow==null}
<div id="consult">
    <div class="hd">购买咨询</div>
    <div class="bd">
        <ul class="consult-list"></ul>
        <div class="pagination"></div>
        <div id="consult-form">
            <div class="error"></div>
            <label>发表咨询：</label>
            <textarea cols="80" rows="5" id="question"></textarea>
            #{if !cas?.isLogin}
                <label>手机号码：</label>
                <input type="text" id="mobile" name="mobile" maxlength="11"/> 输入手机号，方便我们给您反馈信息。
            #{/if}
            <a class="submit" id="submit" href="javascript:void(0)"> 提 交 </a>
        </div>
    </div>
</div>
#{/if}
<!-- #consult -->
</div>
<!-- #section -->
<div id="sidebar">
#{if isCheckinGoods}
    <div class="checkin-box">
        #{if isCheckinToday && cas?.isLogin}
            <p>本月累计签到 <span>${checkinNumber}</span> 天<br>您有 <span>${totalCoins}</span> 枚金币
                <a href="${helper.Domain.getHomeHost(request)}/user-coins" target="_blank">去兑换</a>
            </p>
        #{/if}
        #{else}
            <a id="j_checkin" class="checkin" href="@{ObtainGoldenCoins.index(goods.id)}">马上签到领金币</a>
        #{/else}
    </div>
#{/if}
#{include '/Goods2/sidebar.html' /}
</div>
</div>
<!-- #content -->
</div>
